Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm --force
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng config cli.cache.path "/woodpecker/.ng"
  ...

refresh-location:
  image: appleboy/drone-ssh
  host: 10.0.0.40
  username: fenecon-docs
  timeout: 10s
  key:
    from_secret: ssh_key_intranet
  script:
  - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

Refactor to switch expression
  io.openems.common/src/io/openems/common/channel/Unit.java
Due: build-java, restore-cache, rebuild-cache

primitive boolean for mainContactor set method
  io.openems.edge.battery.api/src/io/openems/edge/battery/api/Battery.java
Due: build-java, restore-cache, rebuild-cache

changes requested by review
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/common/grid/chart/chart.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/shared/service/defaulttypes.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Revpi Board support package created
  io.openems.edge.io.revpi.bsp/.classpath
  io.openems.edge.io.revpi.bsp/.gitignore
  io.openems.edge.io.revpi.bsp/.project
  io.openems.edge.io.revpi.bsp/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.io.revpi.bsp/bnd.bnd
  io.openems.edge.io.revpi.bsp/readme.adoc
  io.openems.edge.io.revpi.bsp/src/io/openems/edge/io/revpi/bsp/core/BoardSupportPackage.java
  io.openems.edge.io.revpi.bsp/src/io/openems/edge/io/revpi/bsp/core/Config.java
  io.openems.edge.io.revpi.bsp/src/io/openems/edge/io/revpi/bsp/core/Core.java
  io.openems.edge.io.revpi.bsp/src/io/openems/edge/io/revpi/bsp/core/CoreImpl.java
  io.openems.edge.io.revpi.bsp/src/io/openems/edge/io/revpi/bsp/core/LedState.java
  io.openems.edge.io.revpi.bsp/src/io/openems/edge/io/revpi/bsp/core/RevPiBoard.java
  io.openems.edge.io.revpi.bsp/src/io/openems/edge/io/revpi/bsp/core/RevPiHardware.java
  io.openems.edge.io.revpi.bsp/src/io/openems/edge/io/revpi/bsp/digitalio/Config.java
  io.openems.edge.io.revpi.bsp/src/io/openems/edge/io/revpi/bsp/digitalio/ExpansionModule.java
  io.openems.edge.io.revpi.bsp/src/io/openems/edge/io/revpi/bsp/digitalio/RevPiDigitalIoDeviceImpl.java
  io.openems.edge.io.revpi.bsp/src/io/openems/edge/io/revpi/bsp/digitalio/RevPiDioChannelId.java
  io.openems.edge.io.revpi.bsp/src/io/openems/edge/io/revpi/bsp/watchdog/Config.java
  io.openems.edge.io.revpi.bsp/src/io/openems/edge/io/revpi/bsp/watchdog/Watchdog.java
  io.openems.edge.io.revpi.bsp/src/io/openems/edge/io/revpi/bsp/watchdog/WatchdogImpl.java
  io.openems.edge.io.revpi.bsp/test/.gitignore
  io.openems.edge.io.revpi/lib/librevpi-dio-java.jar
  io.openems.edge.io.revpi/readme.adoc
  io.openems.edge.io.revpi/src/io/openems/edge/io/revpi/Config.java
  io.openems.edge.io.revpi/src/io/openems/edge/io/revpi/RevPiDigitalIoDevice.java
  io.openems.edge.io.revpi/src/io/openems/edge/io/revpi/RevPiDioChannelId.java
Due: build-java, restore-cache, rebuild-cache

rename module.ts to Grid.ts
  ui/src/app/edge/history/common/Grid.ts
  ui/src/app/edge/history/history.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fixed a bug where TimerManager created a recursive call
  io.openems.edge.core/src/io/openems/edge/core/timer/TimerManager.java
Due: build-java, restore-cache, rebuild-cache

Avoid calling Energy Request for empty channelAddresses
  ui/src/app/shared/service/service.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Add 'CUMULATED' Units and apply where appropriate
  io.openems.common/src/io/openems/common/channel/Unit.java
  io.openems.common/src/io/openems/common/types/EdgeConfig.java
  io.openems.edge.battery.fenecon.commercial/src/io/openems/edge/battery/fenecon/commercial/FeneconCommercialBattery.java
  io.openems.edge.battery.fenecon.commercial/src/io/openems/edge/battery/fenecon/commercial/FeneconCommercialBatteryImpl.java
  io.openems.edge.batteryinverter.api/src/io/openems/edge/batteryinverter/api/HybridManagedSymmetricBatteryInverter.java
  io.openems.edge.batteryinverter.api/src/io/openems/edge/batteryinverter/api/SymmetricBatteryInverter.java
  io.openems.edge.batteryinverter.sinexcel/src/io/openems/edge/batteryinverter/sinexcel/Sinexcel.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/DefaultSunSpecModel.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/SunSpecCodeGenerator.java
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractReadChannel.java
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/RestHandler.java
  io.openems.edge.controller.debug.detailedlog/src/io/openems/edge/controller/debug/detailedlog/DebugDetailedLog.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/jsonrpc/ChannelExportXlsxResponse.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/HybridEss.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/SymmetricEss.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/dccharger/api/EssDcCharger.java
  io.openems.edge.ess.fenecon.commercial40/src/io/openems/edge/ess/fenecon/commercial40/EssFeneconCommercial40.java
  io.openems.edge.ess.fenecon.commercial40/src/io/openems/edge/ess/fenecon/commercial40/charger/EssDcChargerFeneconCommercial40.java
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/api/Evcs.java
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/api/MeasuringEvcs.java
  io.openems.edge.evcs.goe.chargerhome/src/io/openems/edge/evcs/goe/chargerhome/GoeChannelId.java
  io.openems.edge.evcs.hardybarth/src/io/openems/edge/evcs/hardybarth/HardyBarth.java
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/kecontact/KebaKeContact.java
  io.openems.edge.fenecon.dess/src/io/openems/edge/fenecon/dess/charger/FeneconDessCharger.java
  io.openems.edge.fenecon.dess/src/io/openems/edge/fenecon/dess/ess/FeneconDessEss.java
  io.openems.edge.fenecon.dess/src/io/openems/edge/fenecon/dess/gridmeter/FeneconDessGridMeter.java
  io.openems.edge.fenecon.pro/src/io/openems/edge/fenecon/pro/ess/FeneconProEss.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/AsymmetricMeter.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/SymmetricMeter.java
  io.openems.edge.meter.bgetech/src/io/openems/edge/meter/bgetech/MeterBgeTechDrt428M2.java
  io.openems.edge.meter.plexlog/src/io/openems/edge/meter/plexlog/PlexlogDatalogger.java
  io.openems.edge.meter.weidmueller/src/io/openems/edge/meter/weidmueller/WeidmuellerChannelId.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/evcs/AsymmetricMeterEvcs.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/RecordWorker.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/Rrd4jTimedataImpl.java
Due: build-java, restore-cache, rebuild-cache

Channel: improve docs; values cannot be null
  io.openems.edge.common/src/io/openems/edge/common/channel/Channel.java
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractReadChannel.java
Due: build-java, restore-cache, rebuild-cache

add eslint rule for having to use curly braces if if, else, for, while, or do are used
  ui/src/app/edge/settings/alerting/alerting.component.ts
  ui/src/app/edge/settings/app/keypopup/modal.component.ts
  ui/src/app/shared/pipe/hasclass/hasclass.pipe.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Use Cumulated in SolarLog
  io.openems.edge.pvinverter.solarlog/src/io/openems/edge/pvinverter/solarlog/SolarLog.java
Due: build-java, restore-cache, rebuild-cache

remove hasClassPipe due to not being used anymore
  ui/src/app/shared/pipe/hasclass/hasclass.pipe.ts
  ui/src/app/shared/pipe/pipe.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

first step of refactoring
  ui/src/app/edge/history/Controller/Controller.ts
  ui/src/app/edge/history/Controller/Io/FixDigitalOutput/FixDigitalOutput.ts
  ui/src/app/edge/history/Controller/Io/FixDigitalOutput/chart/totalChart.ts
  ui/src/app/edge/history/Controller/Io/FixDigitalOutput/flat/flat.html
  ui/src/app/edge/history/Controller/Io/FixDigitalOutput/flat/flat.ts
  ui/src/app/edge/history/Controller/Io/FixDigitalOutput/overview/overview.html
  ui/src/app/edge/history/Controller/Io/FixDigitalOutput/overview/overview.ts
  ui/src/app/edge/history/common/common.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/history.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update Sum
  io.openems.edge.common/src/io/openems/edge/common/sum/Sum.java
Due: build-java, restore-cache, rebuild-cache

Drop CUMULATED_AMPERE_HOURS - its not used
  io.openems.common/src/io/openems/common/channel/Unit.java
Due: build-java, restore-cache, rebuild-cache

Update Javadocs
  io.openems.edge.batteryinverter.api/src/io/openems/edge/batteryinverter/api/HybridManagedSymmetricBatteryInverter.java
  io.openems.edge.batteryinverter.api/src/io/openems/edge/batteryinverter/api/SymmetricBatteryInverter.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/HybridEss.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/SymmetricEss.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/dccharger/api/EssDcCharger.java
  io.openems.edge.evcs.alpitronic.hypercharger/src/io/openems/edge/evcs/hypercharger/HyperchargerImpl.java
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/api/Evcs.java
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/api/ManagedEvcs.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/AsymmetricMeter.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/SymmetricMeter.java
  io.openems.edge.meter.plexlog/src/io/openems/edge/meter/plexlog/PlexlogDatalogger.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/evcs/AsymmetricMeterEvcs.java
  io.openems.edge.timedata.api/src/io/openems/edge/timedata/api/utils/CalculateEnergyFromPower.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/Rrd4jTimedataImpl.java
Due: build-java, restore-cache, rebuild-cache

add eslint rule and necessary change
  ui/.eslintrc.json
  ui/src/app/shared/service/service.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix Battery.Fenecon.Commercial
  io.openems.edge.battery.fenecon.commercial/src/io/openems/edge/battery/fenecon/commercial/FeneconCommercialBatteryImpl.java
Due: build-java, restore-cache, rebuild-cache

AbstractReadChannel: improve thread safety; more obvious naming
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractReadChannel.java
Due: build-java, restore-cache, rebuild-cache

UI: Avoid calling Energy Request for empty channelAddresses (#2204)
  ui/.eslintrc.json
  ui/src/app/edge/settings/alerting/alerting.component.ts
  ui/src/app/edge/settings/app/keypopup/modal.component.ts
  ui/src/app/shared/pipe/hasclass/hasclass.pipe.ts
  ui/src/app/shared/pipe/pipe.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

WIP
  doc/modules/ROOT/pages/edge/implement.adoc
  io.openems.edge.controller.asymmetric.peakshaving/test/io/openems/edge/controller/asymmetric/peakshaving/PeakshavingTest.java
  io.openems.edge.controller.pvinverter.selltogridlimit/test/io/openems/edge/controller/pvinverter/selltogridlimit/PvInverterSellToGridLimitTest.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/ElectricityMeter.java
Due: build-java, restore-cache, rebuild-cache

applied java style (eclipse plugin within intellij)
  io.openems.edge.core/src/io/openems/edge/core/timer/TimerManager.java
Due: build-java, restore-cache, rebuild-cache

Capitalize ADD, SUBTRACT, MULTIPLY, DIVIDE
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/ElementToChannelConverter.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/ConversionTest.java
  io.openems.edge.fenecon.mini/src/io/openems/edge/fenecon/mini/ess/FeneconMiniEssImpl.java
  io.openems.edge.fenecon.pro/src/io/openems/edge/fenecon/pro/pvmeter/FeneconProPvMeter.java
Due: build-java, restore-cache, rebuild-cache

More static imports
  io.openems.edge.batteryinverter.sinexcel/src/io/openems/edge/batteryinverter/sinexcel/SinexcelImpl.java
  io.openems.edge.meter.carlo.gavazzi.em300/src/io/openems/edge/meter/carlo/gavazzi/em300/MeterCarloGavazziEm300Impl.java
  io.openems.edge.meter.socomec/src/io/openems/edge/meter/socomec/singlephase/SocomecMeterSinglephaseImpl.java
Due: build-java, restore-cache, rebuild-cache

Channel: introduce explicit CUMULATED Channel Unit; never reset cumulated Channels to null (#2202)
  io.openems.common/src/io/openems/common/channel/Unit.java
  io.openems.common/src/io/openems/common/types/EdgeConfig.java
  io.openems.edge.battery.fenecon.commercial/src/io/openems/edge/battery/fenecon/commercial/FeneconCommercialBattery.java
  io.openems.edge.batteryinverter.api/src/io/openems/edge/batteryinverter/api/HybridManagedSymmetricBatteryInverter.java
  io.openems.edge.batteryinverter.api/src/io/openems/edge/batteryinverter/api/SymmetricBatteryInverter.java
  io.openems.edge.batteryinverter.sinexcel/src/io/openems/edge/batteryinverter/sinexcel/Sinexcel.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/DefaultSunSpecModel.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/SunSpecCodeGenerator.java
  io.openems.edge.common/src/io/openems/edge/common/channel/Channel.java
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractReadChannel.java
  io.openems.edge.common/src/io/openems/edge/common/sum/Sum.java
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/RestHandler.java
  io.openems.edge.controller.debug.detailedlog/src/io/openems/edge/controller/debug/detailedlog/DebugDetailedLog.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/jsonrpc/ChannelExportXlsxResponse.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/HybridEss.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/SymmetricEss.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/dccharger/api/EssDcCharger.java
  io.openems.edge.ess.fenecon.commercial40/src/io/openems/edge/ess/fenecon/commercial40/EssFeneconCommercial40.java
  io.openems.edge.ess.fenecon.commercial40/src/io/openems/edge/ess/fenecon/commercial40/charger/EssDcChargerFeneconCommercial40.java
  io.openems.edge.evcs.alpitronic.hypercharger/src/io/openems/edge/evcs/hypercharger/HyperchargerImpl.java
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/api/Evcs.java
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/api/ManagedEvcs.java
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/api/MeasuringEvcs.java
  io.openems.edge.evcs.goe.chargerhome/src/io/openems/edge/evcs/goe/chargerhome/GoeChannelId.java
  io.openems.edge.evcs.hardybarth/src/io/openems/edge/evcs/hardybarth/HardyBarth.java
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/kecontact/KebaKeContact.java
  io.openems.edge.fenecon.dess/src/io/openems/edge/fenecon/dess/charger/FeneconDessCharger.java
  io.openems.edge.fenecon.dess/src/io/openems/edge/fenecon/dess/ess/FeneconDessEss.java
  io.openems.edge.fenecon.dess/src/io/openems/edge/fenecon/dess/gridmeter/FeneconDessGridMeter.java
  io.openems.edge.fenecon.pro/src/io/openems/edge/fenecon/pro/ess/FeneconProEss.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/AsymmetricMeter.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/SymmetricMeter.java
  io.openems.edge.meter.bgetech/src/io/openems/edge/meter/bgetech/MeterBgeTechDrt428M2.java
  io.openems.edge.meter.plexlog/src/io/openems/edge/meter/plexlog/PlexlogDatalogger.java
  io.openems.edge.meter.weidmueller/src/io/openems/edge/meter/weidmueller/WeidmuellerChannelId.java
  io.openems.edge.pvinverter.solarlog/src/io/openems/edge/pvinverter/solarlog/SolarLog.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/evcs/AsymmetricMeterEvcs.java
  io.openems.edge.timedata.api/src/io/openems/edge/timedata/api/utils/CalculateEnergyFromPower.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/RecordWorker.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/Rrd4jTimedataImpl.java
Due: build-java, restore-cache, rebuild-cache

Fix Checkstyle
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg511/MeterJanitzaUmg511Impl.java
Due: build-java, restore-cache, rebuild-cache

Start implementation of ENTSO-e as Time-of-Use Tariff provider
  io.openems.common/src/io/openems/common/utils/XmlUtils.java
  io.openems.edge.timeofusetariff.entsoe/.classpath
  io.openems.edge.timeofusetariff.entsoe/.gitignore
  io.openems.edge.timeofusetariff.entsoe/.project
  io.openems.edge.timeofusetariff.entsoe/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.timeofusetariff.entsoe/bnd.bnd
  io.openems.edge.timeofusetariff.entsoe/generated/buildfiles
  io.openems.edge.timeofusetariff.entsoe/readme.adoc
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Config.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/EntsoeApi.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoe.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoeImpl.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/EntsoeApiTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/MyConfig.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/ParserTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/TouEntsoeTest.java
Due: build-java, restore-cache, rebuild-cache

Review & add Javadoc
  io.openems.edge.battery.fenecon.commercial/src/io/openems/edge/battery/fenecon/commercial/FeneconCommercialBatteryImpl.java
  io.openems.edge.common/src/io/openems/edge/common/channel/ChannelId.java
Due: build-java, restore-cache, rebuild-cache

ChannelId: add common `ChannelIdImpl` for dynamic definition of Channels at runtime (#2196)
  io.openems.edge.battery.fenecon.commercial/src/io/openems/edge/battery/fenecon/commercial/DynamicChannelId.java
  io.openems.edge.battery.fenecon.commercial/src/io/openems/edge/battery/fenecon/commercial/FeneconCommercialBatteryImpl.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/ChannelIdImpl.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/FeneconHomeBatteryImpl.java
  io.openems.edge.battery.soltaro/src/io/openems/edge/battery/soltaro/cluster/versionb/SingleRack.java
  io.openems.edge.battery.soltaro/src/io/openems/edge/battery/soltaro/cluster/versionc/RackChannel.java
  io.openems.edge.battery.soltaro/src/io/openems/edge/battery/soltaro/common/ChannelIdImpl.java
  io.openems.edge.battery.soltaro/src/io/openems/edge/battery/soltaro/single/versionb/SingleRackVersionBImpl.java
  io.openems.edge.battery.soltaro/src/io/openems/edge/battery/soltaro/versionc/utils/CellChannelFactory.java
  io.openems.edge.common/src/io/openems/edge/common/channel/ChannelId.java
Due: build-java, restore-cache, rebuild-cache

Implement the Phoenix Contact EEM-MB370-24DC meter (#662)
  io.openems.edge.meter.phoenixcontact/.classpath
  io.openems.edge.meter.phoenixcontact/.gitignore
  io.openems.edge.meter.phoenixcontact/.project
  io.openems.edge.meter.phoenixcontact/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.meter.phoenixcontact/bnd.bnd
  io.openems.edge.meter.phoenixcontact/readme.adoc
  io.openems.edge.meter.phoenixcontact/src/io/openems/edge/meter/phoenixcontact/Config.java
  io.openems.edge.meter.phoenixcontact/src/io/openems/edge/meter/phoenixcontact/PhoenixContactMeter.java
  io.openems.edge.meter.phoenixcontact/src/io/openems/edge/meter/phoenixcontact/PhoenixContactMeterImpl.java
  io.openems.edge.meter.phoenixcontact/test/.gitignore
  io.openems.edge.meter.phoenixcontact/test/io/openems/edge/meter/phoenixcontact/MyConfig.java
  io.openems.edge.meter.phoenixcontact/test/io/openems/edge/meter/phoenixcontact/PhoenixContactMeterImplTest.java
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Implement the Phoenix Contact EEM-MB370-24DC meter (#2208)
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.meter.phoenixcontact/.classpath
  io.openems.edge.meter.phoenixcontact/.gitignore
  io.openems.edge.meter.phoenixcontact/.project
  io.openems.edge.meter.phoenixcontact/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.meter.phoenixcontact/bnd.bnd
  io.openems.edge.meter.phoenixcontact/readme.adoc
  io.openems.edge.meter.phoenixcontact/src/io/openems/edge/meter/phoenixcontact/Config.java
  io.openems.edge.meter.phoenixcontact/src/io/openems/edge/meter/phoenixcontact/PhoenixContactMeter.java
  io.openems.edge.meter.phoenixcontact/src/io/openems/edge/meter/phoenixcontact/PhoenixContactMeterImpl.java
  io.openems.edge.meter.phoenixcontact/test/.gitignore
  io.openems.edge.meter.phoenixcontact/test/io/openems/edge/meter/phoenixcontact/MyConfig.java
  io.openems.edge.meter.phoenixcontact/test/io/openems/edge/meter/phoenixcontact/PhoenixContactMeterImplTest.java
Due: build-java, restore-cache, rebuild-cache

Push version to 2023.6.0
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2023.7.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

update readme screenshots; improved consumtion.svg;
  README.md
  doc/modules/ROOT/assets/images/areal-energy-management.jpg
  doc/modules/ROOT/assets/images/areal-energy-management.png
  doc/modules/ROOT/assets/images/local-energy-management.jpg
  doc/modules/ROOT/assets/images/local-energy-management.png
  doc/modules/ROOT/assets/images/ui-history.png
  doc/modules/ROOT/assets/images/ui-live.png
  ui/src/assets/img/icon/consumption.svg
  ui/src/assets/img/icon/gridStorage.svg
  ui/src/assets/img/icon/offgrid.svg
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

revert unwanted formatting
  ui/src/app/edge/history/consumption/widget.component.html
  ui/src/app/edge/history/grid/widget.component.html
  ui/src/app/edge/history/selfconsumption/widget.component.html
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/flat/flat.html
  ui/src/app/edge/live/Multiple/Evcs_Api_Cluster/modal/evcsCluster-modal.page.html
  ui/src/app/edge/live/common/autarchy/flat/flat.html
  ui/src/app/edge/live/common/consumption/flat/flat.html
  ui/src/app/edge/live/common/grid/flat/flat.html
  ui/src/app/edge/live/common/production/flat/flat.html
  ui/src/app/edge/live/common/selfconsumption/flat/flat.html
  ui/src/app/edge/live/energymonitor/chart/section/consumption.component.ts
  ui/src/app/edge/live/energymonitor/chart/section/grid.component.ts
  ui/src/app/edge/live/energymonitor/chart/section/production.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

zoomed screenshot
  doc/modules/ROOT/assets/images/ui-history.png
  doc/modules/ROOT/assets/images/ui-live.png
Due: none

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
