Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Reset to develop
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppCenterBackendUtil.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppCenterBackendUtilImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerImpl.java
  io.openems.edge.core/test/io/openems/edge/app/evcs/TestEvcsCluster.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerTestBundle.java
  io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/Config.java
Due: build-java, restore-cache, rebuild-cache

Reset to develop
  gradle.properties
  io.openems.backend.timedata.influx/src/io/openems/backend/timedata/influx/Function.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/adapter/NetAdapter.java
  io.openems.edge.common/src/io/openems/edge/common/type/CircularTreeMap.java
  io.openems.edge.common/test/io/openems/edge/common/type/CircularTreeMapTest.java
  io.openems.edge.controller.asymmetric.fixactivepower/.classpath
  io.openems.edge.controller.asymmetric.fixactivepower/.gitignore
  io.openems.edge.controller.asymmetric.fixactivepower/.project
  io.openems.edge.controller.asymmetric.fixactivepower/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.controller.asymmetric.fixactivepower/bnd.bnd
  io.openems.edge.controller.asymmetric.fixactivepower/readme.adoc
  io.openems.edge.controller.asymmetric.fixactivepower/src/io/openems/edge/controller/asymmetric/fixactivepower/AsymmetricFixActivePower.java
  io.openems.edge.controller.asymmetric.fixactivepower/src/io/openems/edge/controller/asymmetric/fixactivepower/Config.java
  io.openems.edge.controller.asymmetric.fixactivepower/test/.gitignore
  io.openems.edge.core/src/io/openems/edge/app/evcs/AbstractEvcsApp.java
  io.openems.edge.meter.virtual/src/io/openems/edge/meter/virtual/symmetric/add/VirtualAdd.java
  tools/WinMerge-Filter.flt
  tools/docker/openems-backend/Dockerfile
  tools/drone-docker.sh
  tools/prepare-commit.sh
  tools/prepare-next-snapshot.sh
  tools/prepare-release.sh
Due: build-java, restore-cache, rebuild-cache

continue merging
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/common/autarchy/chart/chart.ts
  ui/src/app/edge/history/common/autarchy/flat/flat.ts
  ui/src/app/edge/history/common/production/chart/chargerChart.ts
  ui/src/app/edge/history/common/production/chart/productionMeterChart.ts
  ui/src/app/edge/history/common/production/chart/totalAcChart.ts
  ui/src/app/edge/history/common/production/chart/totalChart.ts
  ui/src/app/edge/history/common/production/chart/totalDcChart.ts
  ui/src/app/edge/history/common/production/overview/overview.ts
  ui/src/app/edge/history/gridoptimizedcharge/chart.component.ts
  ui/src/app/edge/history/shared.ts
  ui/src/app/edge/history/singlethreshold/widget.component.ts
  ui/src/app/edge/history/timeofusetariffdischarge/chart.component.ts
  ui/src/app/shared/genericComponents/abstracthistorywidget.ts
  ui/src/app/shared/genericComponents/chart/abstractHistoryChartOverView.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/chart/chart.ts
  ui/src/app/shared/genericComponents/flat/abstract-flat-widget-line.ts
  ui/src/app/shared/genericComponents/flat/abstract-flat-widget.ts
  ui/src/app/shared/genericComponents/flat/flat-widget-horizontal-line/flat-widget-horizontal-line.ts
  ui/src/app/shared/genericComponents/flat/flat-widget-line/flat-widget-line.ts
  ui/src/app/shared/genericComponents/modal/abstract-modal-line.ts
  ui/src/app/shared/genericComponents/modal/abstractModal.ts
  ui/src/app/shared/genericComponents/modal/modal-button/modal-button.ts
  ui/src/app/shared/genericComponents/modal/modal-info-line/modal-info-line.ts
  ui/src/app/shared/genericComponents/modal/modal-line/modal-line.ts
  ui/src/app/shared/genericComponents/modal/modal-phases/modal-phases.ts
  ui/src/app/shared/genericComponents/modal/modal.ts
  ui/src/app/shared/genericComponents/modal/model-horizontal-line/modal-horizontal-line.ts
  ui/src/app/shared/genericComponents/shared/dataservice.ts
  ui/src/app/shared/genericComponents/shared/historydataservice.ts
  ui/src/app/shared/genericComponents/shared/livedataservice.ts
  ui/src/app/shared/pickdate/pickdate.component.ts
  ui/src/app/shared/pickdate/popover/popover.component.ts
  ui/src/app/shared/service/service.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix for broken URL in readme.adoc
  io.openems.edge.predictor.persistencemodel/readme.adoc
Due: build-java, restore-cache, rebuild-cache

finish merging
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/channelthreshold/widget.component.ts
  ui/src/app/edge/history/chpsoc/widget.component.ts
  ui/src/app/edge/history/common/autarchy/chart/chart.ts
  ui/src/app/edge/history/common/production/chart/chargerChart.ts
  ui/src/app/edge/history/common/production/chart/productionMeterChart.ts
  ui/src/app/edge/history/common/production/chart/totalChart.ts
  ui/src/app/edge/history/common/production/chart/totalDcChart.ts
  ui/src/app/edge/history/common/production/overview/overview.html
  ui/src/app/edge/history/energy/energy.component.ts
  ui/src/app/edge/history/energy/modal/modal.component.ts
  ui/src/app/edge/history/fixdigitaloutput/widget.component.ts
  ui/src/app/edge/history/heatingelement/widget.component.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/shared/historydataservice.ts
  ui/src/app/shared/genericComponents/shared/livedataservice.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

finish PR
  ui/src/app/edge/history/common/production/chart/chargerChart.ts
  ui/src/app/shared/formly/formly-select-field.wrapper.html
  ui/src/app/shared/formly/formly-select-field.wrapper.ts
  ui/src/app/shared/genericComponents/abstracthistorywidget.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.html
  ui/src/app/shared/genericComponents/genericComponents.ts
  ui/src/app/shared/genericComponents/modal/abstract-modal-line.ts
  ui/src/app/shared/genericComponents/modal/abstractModal.ts
  ui/src/app/shared/genericComponents/modal/modal-button/modal-button.ts
  ui/src/app/shared/genericComponents/modal/modal-line/modal-line.ts
  ui/src/app/shared/genericComponents/modal/modal-phases/modal-phases.ts
  ui/src/app/shared/genericComponents/modal/modal.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix ci build refactor createDefaultChartOptions
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/common/autarchy/overview/overview.html
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

redo change of createDefaultChartOptions
  ui/src/app/edge/history/abstracthistorychart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Component Edge2EdgeMeter added to communicate with a meter from a remote OpenEMS
  io.openems.edge.edge2edge/bnd.bnd
  io.openems.edge.edge2edge/src/io/openems/edge/edge2edge/meter/Config.java
  io.openems.edge.edge2edge/src/io/openems/edge/edge2edge/meter/Edge2EdgeMeterImpl.java
  io.openems.edge.edge2edge/test/io/openems/edge/edge2edge/meter/Edge2EdgeEssMeterImplTest.java
  io.openems.edge.edge2edge/test/io/openems/edge/edge2edge/meter/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

fix ci build
  ui/src/app/edge/live/common/grid/modal/modal.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add missing function
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

remove unnecessary changes in utils
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix liniting issue
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update README.md
  README.md
Due: none

Java code formatting
  io.openems.edge.edge2edge/src/io/openems/edge/edge2edge/meter/Edge2EdgeMeterImpl.java
  io.openems.edge.edge2edge/test/io/openems/edge/edge2edge/meter/Edge2EdgeEssMeterImplTest.java
  io.openems.edge.edge2edge/test/io/openems/edge/edge2edge/meter/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Complete the change to set language default to English
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/DummyMetadata.java
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/FileMetadata.java
  ui/src/app/app.module.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Cleanup & improve defective components handling
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/FeneconHomeBattery.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/statemachine/Context.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/statemachine/GoRunningHandler.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/AbstractModbusBridge.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/AbstractOpenemsModbusComponent.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/BridgeModbus.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/ModbusComponent.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/ModbusWorker.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasks.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksManager.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksSupplier.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/WaitDelayHandler.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/WaitMutexTask.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/AbstractDummyTask.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/DummyReadTask.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/DummyWriteTask.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksSupplierTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/DefectiveComponentsTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/FakeTicker.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/modbus/ModbusSimulator.java
Due: build-java, restore-cache, rebuild-cache

Controller Evcs: cleanup Split impl and interface
  io.openems.edge.controller.evcs/src/io/openems/edge/controller/evcs/ChargingLowerThanTargetHandler.java
  io.openems.edge.controller.evcs/src/io/openems/edge/controller/evcs/EvcsController.java
  io.openems.edge.controller.evcs/src/io/openems/edge/controller/evcs/EvcsControllerImpl.java
  io.openems.edge.controller.evcs/test/io/openems/edge/controller/evcs/EvcsControllerImplTest.java
Due: build-java, restore-cache, rebuild-cache

changes requested by review
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/common/autarchy/overview/overview.ts
  ui/src/app/edge/history/common/production/chart/productionMeterChart.ts
  ui/src/app/edge/history/common/production/chart/totalDcChart.ts
  ui/src/app/edge/history/common/production/overview/overview.ts
  ui/src/app/edge/history/historydataservice.ts
  ui/src/app/edge/history/historyparent.component.ts
  ui/src/app/edge/live/livedataservice.ts
  ui/src/app/shared/genericComponents/chart/abstractHistoryChartOverView.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/flat/abstract-flat-widget-line.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix es lint missing semicolon
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

`ClockProvider`is sufficient
  io.openems.edge.controller.evcs/src/io/openems/edge/controller/evcs/ChargingLowerThanTargetHandler.java
  io.openems.edge.controller.evcs/src/io/openems/edge/controller/evcs/EvcsControllerImpl.java
Due: build-java, restore-cache, rebuild-cache

Use switch expression
  io.openems.edge.controller.evcs/src/io/openems/edge/controller/evcs/EvcsControllerImpl.java
Due: build-java, restore-cache, rebuild-cache

Fix JUnit tests
  io.openems.edge.controller.evcs/test/io/openems/edge/controller/evcs/EvcsControllerImplTest.java
Due: build-java, restore-cache, rebuild-cache

add requested changes
  ui/src/app/edge/history/common/autarchy/overview/overview.ts
  ui/src/app/edge/history/common/production/overview/overview.ts
  ui/src/app/shared/genericComponents/chart/abstractHistoryChartOverView.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

EVCS Controller: cleanup (#2188)
  io.openems.edge.controller.evcs/src/io/openems/edge/controller/evcs/ChargingLowerThanTargetHandler.java
  io.openems.edge.controller.evcs/src/io/openems/edge/controller/evcs/EvcsController.java
  io.openems.edge.controller.evcs/src/io/openems/edge/controller/evcs/EvcsControllerImpl.java
  io.openems.edge.controller.evcs/test/io/openems/edge/controller/evcs/EvcsControllerImplTest.java
Due: build-java, restore-cache, rebuild-cache

rename file
  ui/src/app/edge/history/common/autarchy/overview/overview.ts
  ui/src/app/shared/genericComponents/chart/abstractHistoryChartOverview.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

update import
  ui/src/app/edge/history/common/production/overview/overview.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

remove duplicate route add missing file
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/common/autarchy/overview/overview.ts
  ui/src/app/edge/history/common/production/Production.ts
  ui/src/app/shared/genericComponents/chart/abstractHistoryChartOverview.ts
  ui/src/assets/i18n/cz.json
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/es.json
  ui/src/assets/i18n/fr.json
  ui/src/assets/i18n/nl.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add missing closing bracket
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Bugfix for min property in formly field. (#663)
  ui/src/app/edge/installation/installation-systems/commercial/commercial-50/abstract-commercial-50.ts
  ui/src/app/edge/installation/installation.module.ts
  ui/src/app/edge/installation/views/configuration-peak-shaving/configuration-peak-shaving.component.ts
  ui/src/app/edge/installation/views/protocol-additional-ac-producers/protocol-additional-ac-producers.component.ts
  ui/src/app/edge/installation/views/protocol-pv/protocol-pv.component.ts
  ui/src/app/shared/translate.extension.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

AppCenter: flags (#661)
  ui/src/app/edge/settings/app/formly/safe-input/formly-safe-input.extended.html
  ui/src/app/edge/settings/app/formly/safe-input/formly-safe-input.extended.ts
  ui/src/app/edge/settings/app/index.component.ts
  ui/src/app/edge/settings/app/jsonrpc/flag/flag.ts
  ui/src/app/edge/settings/app/jsonrpc/flag/flagType.ts
  ui/src/app/edge/settings/app/jsonrpc/flag/flags.ts
  ui/src/app/edge/settings/app/jsonrpc/getApps.ts
  ui/src/app/edge/settings/app/keypopup/modal.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

AppCenter: add max hardware power to evcs cluster (#651)
  io.openems.edge.core/src/io/openems/edge/app/common/props/CommonProps.java
  io.openems.edge.core/src/io/openems/edge/app/common/props/CommunicationProps.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/AlpitronicEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/EvcsCluster.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/EvcsProps.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/HardyBarthEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/IesKeywattEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/KebaEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/meter/MeterProps.java
  io.openems.edge.core/src/io/openems/edge/app/peakshaving/PeakShavingProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AbstractOpenemsApp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AbstractOpenemsAppWithProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppDef.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/OpenemsApp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/Type.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
Due: build-java, restore-cache, rebuild-cache

Generic Off-Grid ESS Implementation Optimization (#550)
  io.openems.edge.ess.api/src/io/openems/edge/ess/offgrid/api/OffGridSwitch.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/common/AbstractGenericManagedEss.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/offgrid/GenericOffGridEss.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/offgrid/GenericOffGridEssImpl.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/offgrid/statemachine/Context.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/offgrid/statemachine/GridSwitchHandler.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/offgrid/statemachine/StartBatteryInOffGridHandler.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/offgrid/statemachine/StartedInOffGridHandler.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/offgrid/statemachine/StartedInOnGridHandler.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/offgrid/statemachine/StateMachine.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/offgrid/statemachine/StopBatteryInverterBeforeSwitchHandler.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/offgrid/statemachine/StopBatteryInverterHandler.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/offgrid/statemachine/UndefinedHandler.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/symmetric/GenericManagedSymmetricEssImpl.java
Due: build-java, restore-cache, rebuild-cache
