Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

[Edge] PT1-Filter: fix apply low/high limits
  io.openems.edge.common/src/io/openems/edge/common/filter/PT1Filter.java
  io.openems.edge.common/test/io/openems/edge/common/filter/PT1FilterTest.java
  io.openems.edge.ess.generic/test/io/openems/edge/ess/generic/common/AbstractAllowedChargeDischargeHandlerTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] App.Heat.Askoma Write
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
  io.openems.common/src/io/openems/common/oem/OpenemsEdgeOem.java
  io.openems.edge.core/src/io/openems/edge/app/heat/AppHeatAskoma.java
  io.openems.edge.core/src/io/openems/edge/app/peakshaving/PhaseAccuratePeakShaving.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AbstractOpenemsApp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AbstractOpenemsAppWithProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/OpenemsApp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/app/heat/AppHeatAskomaTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
  io.openems.edge.heat.askoma/bnd.bnd
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/AskomaConstants.java
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/ChannelMode.java
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/Config.java
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/HeatAskoma.java
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/HeatAskomaImpl.java
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/Mode.java
  io.openems.edge.heat.askoma/test/io/openems/edge/heat/askoma/HeatAskomaImplTest.java
  io.openems.edge.heat.askoma/test/io/openems/edge/heat/askoma/MyConfig.java
  io.openems.edge.heat.askoma/test/io/openems/edge/heat/askoma/MyModbusDeviceTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] NUI: grid optimized charge
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/Controller/controller.module.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/Ess_GridOptimizedCharge.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/flat/flat.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/history/chart/chart.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/history/chart/sellToGridLimitChart.component.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/history/flat/flat.html
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/history/flat/flat.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/history/gridOptimizeCharge.module.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/history/new-navigation/new-navigation.html
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/history/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/history/overview/overview.html
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/history/overview/overview.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/modal/predictionChart.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/settings/settings.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/shared/prediction-chart.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/shared/shared.ts
  ui/src/app/edge/live/live.module.ts
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/components/formly/formly-field-modal/formly-field-modal.html
  ui/src/app/shared/components/formly/formly-field-navigation/formly-field-navigation.html
  ui/src/app/shared/components/modal/modal-value-line/modal-value-line.html
  ui/src/app/shared/components/modal/modal-value-line/modal-value-line.ts
  ui/src/app/shared/components/navigation/navigation-routing.module.ts
  ui/src/app/shared/components/navigation/shared.ts
  ui/src/app/shared/components/navigation/view/view.html
  ui/src/app/shared/components/picktime/picktime.component.html
  ui/src/app/shared/components/picktime/picktime.component.ts
  ui/src/app/shared/components/shared/converter.ts
  ui/src/app/shared/components/shared/filter.ts
  ui/src/app/shared/components/shared/oe-formly-component.ts
  ui/src/app/shared/components/shared/testing/tester.ts
  ui/src/app/shared/shared.module.ts
  ui/src/app/shared/type/general.ts
  ui/src/app/shared/type/widgets.ts
  ui/src/app/shared/utils/utils.ts
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] [Debian] Store special log files for firmware updates in /var/log/openems
  doc/modules/ROOT/pages/logging/log4j2.adoc
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  io.openems.core.logger/src/io/openems/core/logger/LoggerConfigurator.java
  tools/debian/DEBIAN/postrm
  tools/debian/etc/logrotate.d/openems
  tools/debian/etc/systemd/system/openems.service
  tools/debian/usr/share/openems-fems/log4j2.xml
Due: build-java, restore-cache, rebuild-cache

[Edge] Add Annotation for Config Channel Persistence Priority
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  io.openems.common/src/io/openems/common/channel/PropertyChannel.java
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/sunspec/PointTest.java
  io.openems.edge.common/src/io/openems/edge/common/channel/Doc.java
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractDoc.java
  io.openems.edge.common/src/io/openems/edge/common/component/AbstractOpenemsComponent.java
  io.openems.edge.common/test/io/openems/edge/common/component/AbstractOpenemsComponentTest.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/ResendHistoricDataWorker.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/SendChannelValuesWorker.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/WebsocketClient.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/api/ControllerApiBackend.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/Config.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/ControllerApiMqttImpl.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttPublishStatus.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttTopicFilter.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/SendChannelValuesWorker.java
  io.openems.edge.controller.api.mqtt/test/io/openems/edge/controller/api/mqtt/MyConfig.java
  io.openems.edge.controller.asymmetric.peakshaving/src/io/openems/edge/controller/asymmetric/peakshaving/Config.java
  io.openems.edge.controller.channelthreshold/src/io/openems/edge/controller/channelthreshold/Config.java
  io.openems.edge.controller.channelthreshold/src/io/openems/edge/controller/channelthreshold/ControllerChannelThreshold.java
  io.openems.edge.controller.chp.soc/src/io/openems/edge/controller/chp/soc/Config.java
  io.openems.edge.controller.chp.soc/src/io/openems/edge/controller/chp/soc/ControllerChpSoc.java
  io.openems.edge.controller.ess.delayedselltogrid/src/io/openems/edge/controller/ess/delayedselltogrid/Config.java
  io.openems.edge.controller.ess.selltogridlimit/src/io/openems/edge/controller/symmetric/selltogridlimit/Config.java
  io.openems.edge.controller.pvinverter.selltogridlimit/src/io/openems/edge/controller/pvinverter/selltogridlimit/Config.java
  io.openems.edge.controller.symmetric.peakshaving/src/io/openems/edge/controller/symmetric/peakshaving/Config.java
  io.openems.edge.controller.symmetric.timeslotpeakshaving/src/io/openems/edge/controller/timeslotpeakshaving/Config.java
  io.openems.edge.controller.symmetric.timeslotpeakshaving/src/io/openems/edge/controller/timeslotpeakshaving/ControllerEssTimeslotPeakshaving.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/Config.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/ComponentManagerImpl.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/EdgeConfigWorker.java
  io.openems.edge.core/src/io/openems/edge/core/meta/Config.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/Config.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/stsbox/GoodWeStsBox.java
  io.openems.edge.timedata.influxdb/src/io/openems/edge/timedata/influxdb/TimedataInfluxDbImpl.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/RecordWorker.java
Due: build-java, restore-cache, rebuild-cache

[Edge] KACO Battery-Inverter: add ErrorRestartBehaviourConfig
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/BatteryInverterKacoBlueplanetGridsave.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/BatteryInverterKacoBlueplanetGridsaveImpl.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/Config.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/KacoSunSpecModel.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/errorrestart/AlwaysRestartErrorRestartBehaviour.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/errorrestart/DefaultErrorRestartBehaviour.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/errorrestart/ErrorRestartBehaviour.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/errorrestart/ErrorRestartBehaviourConfig.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/Context.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/ErrorHandler.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/GoRunningHandler.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/GoStoppedHandler.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/RestartHandler.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/StateMachine.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/test/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/MyConfig.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial92.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial92ClusterSlave.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercialComponents.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/aggregatetask/ComponentDef.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/EdgeConfigWorker.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/common/GenericManagedEss.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/common/RuntimeChannels.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/offgrid/EssGenericOffGrid.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/symmetric/Config.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/symmetric/EssGenericManagedSymmetricImpl.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/symmetric/essfaultbehaviour/CheckAllEssFaultBehaviour.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/symmetric/essfaultbehaviour/EssFaultBehaviour.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/symmetric/essfaultbehaviour/EssFaultBehaviourConfig.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/symmetric/essfaultbehaviour/IgnoreBatteryInverterEssFaultBehaviour.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/symmetric/statemachine/Context.java
  io.openems.edge.ess.generic/test/io/openems/edge/ess/generic/symmetric/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[UI] General Improvements
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/ComponentManagerImpl.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/ComponentManagerWorker.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/DefaultConfigurationWorker.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/EdgeConfigWorker.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/MapUtils.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/OsgiValidateWorker.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/OutOfMemoryHeapDumpWorker.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/tracker/ComponentTracker.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/tracker/TrackedComponents.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/tracker/TrackedComponentsRegistry.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/tracker/TrackedComponentsView.java
  io.openems.edge.core/test/io/openems/edge/core/componentmanager/ComponentManagerImplTest.java
  io.openems.edge.core/test/io/openems/edge/core/componentmanager/MapUtilsTest.java
  io.openems.edge.core/test/io/openems/edge/core/componentmanager/MyDummyComponent.java
  io.openems.edge.core/test/io/openems/edge/core/componentmanager/tracker/ComponentTrackerTest.java
  io.openems.edge.evse.chargepoint.mennekes/src/io/openems/edge/evse/chargepoint/mennekes/EvseMennekesImpl.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/predictor/Config.java
Due: build-java, restore-cache, rebuild-cache

[UI] Adjust confirm button position on mobile
  ui/src/app/shared/components/navigation/view/shared/shared.ts
  ui/src/app/shared/components/navigation/view/view.html
  ui/src/app/shared/components/navigation/view/view.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] various cleanups
  ui/src/app/app.component.html
  ui/src/app/app.module.ts
  ui/src/app/appupdateservice.ts
  ui/src/app/edge/history/shared.ts
  ui/src/app/edge/settings/assistant/powerassistant/powerassistant.ts
  ui/src/app/edge/settings/component/install/install.component.ts
  ui/src/app/edge/settings/system/maintenance/maintenance.ts
  ui/src/app/edge/settings/system/system.component.ts
  ui/src/app/shared/components/edge/edge.ts
  ui/src/app/shared/components/formly/form-field-default-cases.wrapper.ts
  ui/src/app/shared/components/modal/abstractModal.ts
  ui/src/app/shared/components/shared/formatter.ts
  ui/src/app/shared/pipe/version/version.pipe.spec.ts
  ui/src/app/shared/pipe/version/version.pipe.ts
  ui/src/app/shared/service/auth/oauthcallback.component.ts
  ui/src/app/shared/service/route.service.ts
  ui/src/app/shared/type/defaulttypes.ts
  ui/src/app/shared/utils/array/array.utils.ts
  ui/src/app/shared/utils/datetime/datetime-utils.ts
  ui/src/app/shared/utils/string/string.utils.ts
  ui/src/app/shared/utils/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Add documentation for EVSE
  io.openems.edge.controller.evse/readme.adoc
  io.openems.edge.evse.api/readme.adoc
Due: build-java, restore-cache, rebuild-cache

[Backend] Metadata.Odoo: configurable login user
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/Config.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/Credentials.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/HttpBridgeOdooService.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooUtils.java
  io.openems.backend.metadata.odoo/test/io/openems/backend/metadata/odoo/odoo/HttpBridgeOdooServiceTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] EVSE: add Consumption to Excel export
  io.openems.common/src/io/openems/common/timedata/XlsxExportUtil.java
  io.openems.common/test/io/openems/common/timedata/XlsxExportUtilTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] FENECON Mini: implement App
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconMiniComponents.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconMiniEs33.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconMiniEs36.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconMiniProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
Due: build-java, restore-cache, rebuild-cache

[Edge] CycleWorker: measure execution times
  io.openems.common/src/io/openems/common/utils/DebugUtils.java
  io.openems.edge.core/src/io/openems/edge/core/cycle/CycleWorker.java
Due: build-java, restore-cache, rebuild-cache

[UI] Fix NumberUtils.divideSafely()
  ui/package-lock.json
  ui/src/app/edge/live/Multiple/evcs-api-cluster/modal/chart/chart.ts
  ui/src/app/shared/utils/number/number-utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix UI build
  ui/src/app/shared/components/shared/oe-formly-component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bndrun
  cnf/pom.xml
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.edge.application/BackendEdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Manual backport
  io.openems.wrapper/bnd.bnd
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/edge/live/common/production/common-production.ts
  ui/src/app/edge/live/common/production/new-navigation/new-navigation.ts
  ui/src/app/edge/live/common/production/new-navigation/production-chart-component.ts
  ui/src/app/edge/live/energymonitor/chart/chart.component.ts
  ui/src/app/edge/live/energymonitor/energymonitor.component.html
  ui/src/app/edge/live/live.component.html
  ui/src/app/edge/live/navigation-info/navigation-info.html
  ui/src/app/edge/live/navigation-info/navigation-info.ts
  ui/src/app/edge/settings/app/formly/accordion/formly-accordion-group.component.ts
  ui/src/app/edge/settings/app/formly/accordion/formly-accordion.component.html
  ui/src/app/edge/settings/app/formly/input-with-unit.ts
  ui/src/assets/json/changelog.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix build
  ui/src/app/edge/live/navigation-info/navigation-info.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add ipv6 support to ui
  ui/src/app/edge/settings/systemexecute/systemexecute.component.ts
  ui/src/app/shared/shared.module.ts
  ui/src/app/shared/utils/inet/inet.utils.spec.ts
  ui/src/app/shared/utils/inet/inet.utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

linting
  ui/src/app/edge/settings/systemexecute/systemexecute.component.ts
  ui/src/app/shared/shared.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add SUBNET_MASK_PATTERN; rename ip to host
  ui/src/app/edge/settings/systemexecute/systemexecute.component.ts
  ui/src/app/shared/shared.module.ts
  ui/src/app/shared/utils/inet/inet.utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix subnetmask pattern
  ui/src/app/shared/utils/inet/inet.utils.spec.ts
  ui/src/app/shared/utils/inet/inet.utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add checks for address + cidr combinations
  ui/src/app/edge/settings/network/network.component.ts
  ui/src/app/shared/utils/inet/inet.utils.spec.ts
  ui/src/app/shared/utils/inet/inet.utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add doc
  ui/src/app/shared/utils/inet/inet.utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

quickfix
  ui/src/app/edge/settings/network/network.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

network settings ipv4
  ui/src/app/edge/settings/network/network.component.ts
  ui/src/assets/i18n/cz.json
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/es.json
  ui/src/assets/i18n/fr.json
  ui/src/assets/i18n/nl.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update setup-ide.adoc: removed consollino UI
  doc/modules/ROOT/pages/ui/setup-ide.adoc
Due: none

keep validation at ipv4; fix subnetmask pattern
  ui/src/app/shared/shared.module.ts
  ui/src/app/shared/utils/inet/inet.utils.spec.ts
  ui/src/app/shared/utils/inet/inet.utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

quickfix
  ui/src/app/shared/utils/inet/inet.utils.spec.ts
  ui/src/app/shared/utils/inet/inet.utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Adding edge meter package for chint ddsu666
  io.openems.edge.meter.chint.ddsu666/bnd.bnd
  io.openems.edge.meter.chint.ddsu666/example-felix.config
  io.openems.edge.meter.chint.ddsu666/readme.adoc
  io.openems.edge.meter.chint.ddsu666/src/io/openems/edge/meter/chint/ddsu666/Config.java
  io.openems.edge.meter.chint.ddsu666/src/io/openems/edge/meter/chint/ddsu666/MeterChintDdsu666.java
  io.openems.edge.meter.chint.ddsu666/src/io/openems/edge/meter/chint/ddsu666/MeterChintDdsu666Impl.java
  io.openems.edge.meter.chint.ddsu666/test/io/openems/edge/meter/chint/ddsu666/MeterChintDdsu666ImplTest.java
  io.openems.edge.meter.chint.ddsu666/test/io/openems/edge/meter/chint/ddsu666/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Fix DDSU666 module for current develop
  io.openems.edge.meter.chint.ddsu666/example-felix.config
  io.openems.edge.meter.chint.ddsu666/readme.adoc
  io.openems.edge.meter.chint.ddsu666/src/io/openems/edge/meter/chint/ddsu666/Config.java
  io.openems.edge.meter.chint.ddsu666/src/io/openems/edge/meter/chint/ddsu666/MeterChintDdsu666Impl.java
  io.openems.edge.meter.chint.ddsu666/test/io/openems/edge/meter/chint/ddsu666/MeterChintDdsu666ImplTest.java
  io.openems.edge.meter.chint.ddsu666/test/io/openems/edge/meter/chint/ddsu666/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

ENTSO-E: add mathematical expression
  cnf/pom.xml
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.timeofusetariff.entsoe/bnd.bnd
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Config.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/PriceCalculator.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoeImpl.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Utils.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/MyConfig.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/PriceCalculatorTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/TouEntsoeTest.java
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/javaluator.bnd
Due: build-java, restore-cache, rebuild-cache

Fix Checkstyle
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoeImpl.java
Due: build-java, restore-cache, rebuild-cache

Integration of optimizations from PxC
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/data/PlcNextGdsDataProvider.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/data/PlcNextGdsDataProviderImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/mapper/PlcNextChannelToGdsDataMapperImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/mapper/PlcNextGdsDataToChannelMapperImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/ess/PlcNextEssGdsDataReadMappingDefinition.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/ess/PlcNextEssGdsDataWriteMappingDefinition.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/loadcircuit/PlcNextLoadCircuitGdsDataReadMappingDefinition.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/meter/PlcNextMeterGdsDataReadMappingDefinition.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/pvinverter/PlcNextPvInverterGdsDataReadMappingDefinition.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/pvinverter/PlcNextPvInverterGdsDataWriteMappingDefinition.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/common/data/PlcNextGdsDataProviderReadTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/common/mapper/PlcNextGdsDataToChannelMapperImplTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/common/utils/PlcNextMappingDefinitionHelperTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/ess/PlcNextEssImplTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/ess/TestConfig.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/loadcircuit/PlcNextGdsLoadCircuitDataToChannelMapperTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/loadcircuit/PlcNextLoadCircuitImplTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/loadcircuit/TestConfig.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/meter/PlcNextGdsMeterDataToChannelMapperTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/meter/PlcNextMeterImplTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/meter/TestConfig.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/pvinverter/PlcNextPvInverterImplTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/pvinverter/TestConfig.java
Due: build-java, restore-cache, rebuild-cache

improve error
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketClient.java
  io.openems.common/src/io/openems/common/websocket/ClientReconnectorWorker.java
Due: build-java, restore-cache, rebuild-cache

Add instanceId
  io.openems.backend.edge.application/src/io/openems/backend/edge/server/WebsocketServer.java
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketClient.java
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketServer.java
  io.openems.common/src/io/openems/common/websocket/WebsocketUtils.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/ControllerApiBackendImpl.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/WebsocketClient.java
Due: build-java, restore-cache, rebuild-cache

format
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/WebsocketClient.java
Due: build-java, restore-cache, rebuild-cache
