Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

fix: refactor find{Smallest, Biggest}Number().
  ui/src/app/shared/utils/array/array.utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix documentation for allowed charge power of managed symmetric ess (#2714)
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/ManagedSymmetricEss.java
Due: build-java, restore-cache, rebuild-cache

UI: add type to test code (#2702)
  ui/src/app/edge/history/common/energy/chart/channels.spec.ts
  ui/src/app/edge/history/common/energy/chart/chart.constants.spec.ts
  ui/src/app/shared/components/edge/edgeconfig.spec.ts
  ui/src/app/shared/components/shared/testing/tester.ts
  ui/src/app/shared/utils/array/array.utils.ts
  ui/src/app/shared/utils/date/dateutils.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: add types to edgeconfig.ts (#2699)
  ui/src/app/shared/components/edge/edgeconfig.ts
  ui/tsconfig.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Reuse getPageDevice method for MetadataFile and MetadataDummy
  io.openems.backend.common/src/io/openems/backend/common/metadata/MetadataUtils.java
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/MetadataDummy.java
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/MetadataFile.java
Due: build-java, restore-cache, rebuild-cache

Fix UI build
  ui/src/app/edge/history/common/consumption/details/details.overview.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/flat/flat.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Add Javadoc
  io.openems.backend.common/src/io/openems/backend/common/metadata/MetadataUtils.java
Due: build-java, restore-cache, rebuild-cache

Backend Metadata: reuse getPageDevice method for MetadataFile and MetadataDummy (#2728)
  io.openems.backend.common/src/io/openems/backend/common/metadata/MetadataUtils.java
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/MetadataDummy.java
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/MetadataFile.java
  ui/src/app/edge/history/common/consumption/details/details.overview.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/flat/flat.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Push version to 2024.8.0
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/android/app/build.gradle
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2024.9.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/android/app/build.gradle
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix Error in currentVoltage Chart
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/components/edge/meter/currentVoltage/chart/chart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix various typos Found via `codespell -q 3 -S "./.git,*.pdf,*.po,*.pot,*.ts" -L abl,addess,afe,als,atleast,ba,corrently,datas,ist,plattform,pres,repid,sie`
  doc/modules/ROOT/pages/gettingstarted.adoc
  doc/modules/ROOT/pages/intellij.adoc
  io.openems.backend.timedata.aggregatedinflux/readme.adoc
  io.openems.common/src/io/openems/common/websocket/MyDraft6455.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImpl.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/adapter/MulticastListener.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/adapter/RawSendPacket.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/adapter/UAdapterState.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/adapter/USerialAdapter.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/application/file/OWFile.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/application/file/OWFileInputStream.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/application/file/OWFileOutputStream.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/container/MemoryBankEEPROMstatus.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/container/MemoryBankScratchSHAEE.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/container/OneWireContainer33.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/container/OneWireContainer37.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/container/OneWireContainer41.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/ConfigFixStateOfCharge.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/ConfigPrepareBatteryExtension.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/api/ConfigProperties.java
  io.openems.edge.controller.ess.limiter14a/src/io/openems/edge/controller/ess/limiter14a/Config.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppDef.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/Params.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/ParamsUtils.java
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/solver/nearequal/SolveNearEqual.java
  io.openems.edge.evcs.alpitronic.hypercharger/src/io/openems/edge/evcs/hypercharger/AvailableState.java
  io.openems.edge.evcs.cluster/readme.adoc
  io.openems.edge.evcs.webasto.next/src/io/openems/edge/evcs/webasto/next/enums/EvseErrorCode.java
  io.openems.edge.io.gpio/src/io/openems/edge/io/gpio/linuxfs/Gpio.java
  io.openems.edge.katek.edcom/src/com/ed/data/BatteryData.java
  io.openems.edge.katek.edcom/src/com/ed/data/History.java
  io.openems.edge.katek.edcom/src/com/ed/edcom/Client.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/Rrd4jReadHandler.java
  ui/src/app/edge/history/history.component.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

unify icon styling
  ui/src/app/edge/live/Controller/Channelthreshold/Channelthreshold.html
  ui/src/app/edge/live/Controller/ChpSoc/ChpSoc.html
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/Io_ChannelSingleThreshold.html
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/Io_ChannelSingleThreshold.ts
  ui/src/app/shared/components/flat/flat-widget.component.html
  ui/src/app/shared/components/flat/flat.html
  ui/src/app/shared/components/flat/flat.ts
  ui/src/app/shared/type/widget.ts
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix svg
  ui/src/app/edge/live/common/storage/storage.component.html
  ui/src/app/shared/components/flat/flat-widget-percentagebar/flat-widget-percentagebar.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

EVCS: Implement Heidelberg connect series
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.evcs.heidelberg/.classpath
  io.openems.edge.evcs.heidelberg/.gitignore
  io.openems.edge.evcs.heidelberg/.project
  io.openems.edge.evcs.heidelberg/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.evcs.heidelberg/bnd.bnd
  io.openems.edge.evcs.heidelberg/readme.adoc
  io.openems.edge.evcs.heidelberg/src/io/openems/edge/evcs/heidelberg/connect/Config.java
  io.openems.edge.evcs.heidelberg/src/io/openems/edge/evcs/heidelberg/connect/EvcsHeidelbergConnect.java
  io.openems.edge.evcs.heidelberg/src/io/openems/edge/evcs/heidelberg/connect/EvcsHeidelbergConnectImpl.java
  io.openems.edge.evcs.heidelberg/src/io/openems/edge/evcs/heidelberg/connect/HeidelbergStates.java
  io.openems.edge.evcs.heidelberg/test/.gitignore
  io.openems.edge.evcs.heidelberg/test/io/openems/edge/evcs/heidelberg/connect/EvcsHeidelbergeConnectTest.java
  io.openems.edge.evcs.heidelberg/test/io/openems/edge/evcs/heidelberg/connect/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Update edgeconfig.ts
  ui/src/app/shared/components/edge/edgeconfig.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update chart.ts
  ui/src/app/edge/history/common/energy/chart/chart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Fix wrong displayed unit in energy chart
  ui/src/app/shared/components/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

BatteryProtection: actually apply soc-limit
  io.openems.edge.battery.api/src/io/openems/edge/battery/protection/currenthandler/AbstractMaxCurrentHandler.java
Due: build-java, restore-cache, rebuild-cache

UI: code improvements
  ui/package-lock.json
  ui/package.json
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/common/energy/chart/channels.spec.ts
  ui/src/app/edge/history/shared.ts
  ui/src/app/edge/settings/settings.component.ts
  ui/src/app/edge/settings/settings.spec.ts
  ui/src/app/index/login.spec.ts
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/components/chart/chart.constants.ts
  ui/src/app/shared/components/components.module.ts
  ui/src/app/shared/components/flat/abstract-flat-widget.ts
  ui/src/app/shared/components/flat/flat-widget-line-divider/flat-widget-line-divider.html
  ui/src/app/shared/components/flat/flat-widget-line-divider/flat-widget-line-divider.ts
  ui/src/app/shared/components/shared/converter.ts
  ui/src/app/shared/components/shared/formatter.ts
  ui/src/app/shared/components/shared/testing/common.ts
  ui/src/app/shared/components/shared/testing/tester.ts
  ui/src/app/shared/service/defaulttypes.ts
  ui/src/app/shared/service/globalRouteChangeHandler.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/shared.module.ts
  ui/src/app/shared/shared.ts
  ui/src/app/shared/utils/date/dateutils.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: add lastMessage to offline information
  ui/src/app/edge/live/offline/offline.component.html
  ui/src/app/edge/live/offline/offline.component.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix "prod" build
  ui/src/app/shared/shared.module.ts
  ui/src/app/shared/shared.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix unit in asymmetric voltagecurrent chart
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/components/edge/meter/currentVoltage/chart/asymmetricMeter.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: realign xAxisLabels
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/shared/components/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix channels error while on same dashboard
  ui/src/app/edge/settings/channels/channels.component.html
  ui/src/app/edge/settings/channels/channels.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix build
  ui/package-lock.json
  ui/src/app/edge/history/common/consumption/details/details.overview.ts
  ui/src/app/edge/history/common/production/details/details.overview.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

formatting
  ui/src/app/user/user.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Removed Comments for concat
  ui/src/app/shared/components/edge/edgeconfig.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: AppCenter Index: Refresh after install/delete of an App (#2533)
  ui/src/app/edge/settings/app/index.component.ts
  ui/src/app/edge/settings/app/install.component.ts
  ui/src/app/edge/settings/app/update.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update implement.adoc
  doc/modules/ROOT/pages/edge/implement.adoc
Due: none

Switches to Eclipse Public License v2.0 for better compatibility with the existing code.
  io.openems.backend.metadata.ldap/LICENSE
  io.openems.backend.metadata.ldap/bnd.bnd
  io.openems.backend.metadata.ldap/readme.adoc
  io.openems.backend.metadata.ldap/src/io/openems/backend/metadata/ldap/Config.java
  io.openems.backend.metadata.ldap/src/io/openems/backend/metadata/ldap/EdgeManager.java
  io.openems.backend.metadata.ldap/src/io/openems/backend/metadata/ldap/LdapContextManager.java
  io.openems.backend.metadata.ldap/src/io/openems/backend/metadata/ldap/LdapEdge.java
  io.openems.backend.metadata.ldap/src/io/openems/backend/metadata/ldap/LdapEdgeReader.java
  io.openems.backend.metadata.ldap/src/io/openems/backend/metadata/ldap/LdapUserReader.java
  io.openems.backend.metadata.ldap/src/io/openems/backend/metadata/ldap/LdapUtils.java
  io.openems.backend.metadata.ldap/src/io/openems/backend/metadata/ldap/MetadataLdap.java
  io.openems.backend.metadata.ldap/src/io/openems/backend/metadata/ldap/UserManager.java
Due: build-java, restore-cache, rebuild-cache

Add timeframe controller to reach specified SoC in specified time frame
  Dockerfile
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.ess.timeframe/.classpath
  io.openems.edge.controller.ess.timeframe/.gitignore
  io.openems.edge.controller.ess.timeframe/.project
  io.openems.edge.controller.ess.timeframe/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.controller.ess.timeframe/bnd.bnd
  io.openems.edge.controller.ess.timeframe/readme.adoc
  io.openems.edge.controller.ess.timeframe/src/io/openems/edge/controller/ess/timeframe/Config.java
  io.openems.edge.controller.ess.timeframe/src/io/openems/edge/controller/ess/timeframe/ControllerEssTimeframe.java
  io.openems.edge.controller.ess.timeframe/src/io/openems/edge/controller/ess/timeframe/ControllerEssTimeframeImpl.java
  io.openems.edge.controller.ess.timeframe/src/io/openems/edge/controller/ess/timeframe/Mode.java
  io.openems.edge.controller.ess.timeframe/test/.gitignore
  io.openems.edge.controller.ess.timeframe/test/io/openems/edge/controller/ess/fixactivepower/ControllerEssFixActivePowerImplTest.java
  io.openems.edge.controller.ess.timeframe/test/io/openems/edge/controller/ess/fixactivepower/MyConfig.java
  ui/src/app/edge/live/Controller/Ess/Timeframe/Ess_Timeframe.ts
  ui/src/app/edge/live/Controller/Ess/Timeframe/flat/flat.html
  ui/src/app/edge/live/Controller/Ess/Timeframe/flat/flat.ts
  ui/src/app/edge/live/Controller/Ess/Timeframe/modal/modal.html
  ui/src/app/edge/live/Controller/Ess/Timeframe/modal/modal.ts
  ui/src/app/edge/live/live.component.html
  ui/src/app/edge/live/live.module.ts
  ui/src/app/shared/components/modal/modal-line/modal-line.html
  ui/src/app/shared/components/modal/modal-line/modal-line.ts
  ui/src/app/shared/service/defaulttypes.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/type/widget.ts
  ui/src/assets/i18n/cz.json
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/es.json
  ui/src/assets/i18n/fr.json
  ui/src/assets/i18n/ja.json
  ui/src/assets/i18n/nl.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix style of datepicker modal
  ui/src/app/shared/components/modal/modal-line/modal-line.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add a max charge / discharge limit
  io.openems.edge.controller.ess.timeframe/src/io/openems/edge/controller/ess/timeframe/Config.java
  io.openems.edge.controller.ess.timeframe/src/io/openems/edge/controller/ess/timeframe/ControllerEssTimeframeImpl.java
  io.openems.edge.controller.ess.timeframe/test/io/openems/edge/controller/ess/timeframe/ControllerEssTimeframeImplTest.java
  io.openems.edge.controller.ess.timeframe/test/io/openems/edge/controller/ess/timeframe/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
