Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

HttpPollSolver and OPTIMIZE_BY_HTTP_EXTERNAL strategy to v1 power distribution - kimbat
  io.openems.edge.ess.api/src/io/openems/edge/ess/power/api/SolverStrategy.java
  io.openems.edge.ess.core/bnd.bnd
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/EssPowerImpl.java
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/v1/PowerDistributionHandlerV1.java
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/v1/Solver.java
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/v1/optimizers/HttpPollSolver.java
Due: build-java, restore-cache, rebuild-cache

Remove unused overview form declaration
  ui/src/app/index/overview/overview.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Preserve overview search parameter types
  ui/src/app/index/overview/overview.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Make registration spinner ID non-null
  ui/src/app/index/registration/modal/modal.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

emove unused login component state and dependencies
  ui/src/app/index/login.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Reset to develop
  ui/src/app/index/login.component.ts
  ui/src/app/index/login.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Remove strict ignore directives from index components (#3967)
  ui/src/app/index/login.component.ts
  ui/src/app/index/overview/overview.component.spec.ts
  ui/src/app/index/overview/overview.component.ts
  ui/src/app/index/registration/modal/modal.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Explicitely name cPH2 package
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/cph2/ChargePointStatus.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/cph2/Config.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/cph2/EvseChargePointHardyBarth.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/cph2/EvseChargePointHardyBarthImpl.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/cph2/EvseHandler.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/cph2/EvseChargePointHardyImplTest.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/cph2/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Improve usage of existing Utils
  io.openems.common/src/io/openems/common/utils/JsonUtils.java
  io.openems.edge.evse.chargepoint.hardybarth/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/common/DeviceRole.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/common/HardyBarth.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/ecb1/Ecb1Handler.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/ecb1/EvseChargePointHardyBarthEcb1.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evcs/hardybarth/EvcsHardyBarthImplTest.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/common/TestData.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/ecb1/EvseChargePointHardyBarthEcb1ImplTest.java
Due: build-java, restore-cache, rebuild-cache

Checkstyle
  io.openems.common/src/io/openems/common/utils/JsonUtils.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/ecb1/Ecb1Handler.java
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evcs/keba/modbus/EvcsKebaModbusImpl.java
  io.openems.edge.evse.chargepoint.keba/test/io/openems/edge/evcs/keba/modbus/EvcsKebaModbusImplTest.java
Due: build-java, restore-cache, rebuild-cache

Fix TypeUtils.multiply
  io.openems.edge.common/src/io/openems/edge/common/type/TypeUtils.java
  io.openems.edge.common/test/io/openems/edge/common/type/TextProviderTest.java
  io.openems.edge.common/test/io/openems/edge/common/type/TypeUtilsTest.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/ecb1/EvseChargePointHardyBarthEcb1ImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Add Hardy Barth cPH1 EVCS support (ECB1 REST API) (#3940)
  io.openems.common/src/io/openems/common/utils/JsonUtils.java
  io.openems.edge.common/src/io/openems/edge/common/type/TypeUtils.java
  io.openems.edge.common/test/io/openems/edge/common/type/TextProviderTest.java
  io.openems.edge.common/test/io/openems/edge/common/type/TypeUtilsTest.java
  io.openems.edge.evse.chargepoint.hardybarth/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.evse.chargepoint.hardybarth/readme.adoc
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/common/DeviceRole.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/common/HardyBarth.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/cph2/ChargePointStatus.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/cph2/Config.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/cph2/EvseChargePointHardyBarth.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/cph2/EvseChargePointHardyBarthImpl.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/cph2/EvseHandler.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/ecb1/Config.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/ecb1/Ecb1Handler.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/ecb1/Ecb1Parent.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/ecb1/EvseChargePointHardyBarthEcb1.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/ecb1/EvseChargePointHardyBarthEcb1Impl.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evcs/hardybarth/EvcsHardyBarthImplTest.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/common/TestData.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/cph2/EvseChargePointHardyImplTest.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/cph2/MyConfig.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/ecb1/EvseChargePointHardyBarthEcb1ImplTest.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/ecb1/MyConfig.java
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evcs/keba/modbus/EvcsKebaModbusImpl.java
  io.openems.edge.evse.chargepoint.keba/test/io/openems/edge/evcs/keba/modbus/EvcsKebaModbusImplTest.java
Due: build-java, restore-cache, rebuild-cache

Update to latest packages
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update versions
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

CSV simulator controllers and frequency/active power profiles - kimbat
  io.openems.edge.simulator/bnd.bnd
  io.openems.edge.simulator/src/io/openems/edge/simulator/controller/ess/csvactivepower/Config.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/controller/ess/csvactivepower/ControllerEssCsvActivePower.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/controller/ess/csvactivepower/ControllerEssCsvActivePowerImpl.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/controller/ess/csvfrequency/Config.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/controller/ess/csvfrequency/ControllerEssCsvFrequency.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/controller/ess/csvfrequency/ControllerEssCsvFrequencyImpl.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/controller/ess/csvfrequency/FcrStrategy.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/controller/ess/csvfrequency/Ffr1Strategy.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/controller/ess/csvfrequency/RechargeStrategy.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/csvexporter/Config.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/csvexporter/CsvDataExporterImpl.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/datasource/csv/predefined/Active-Power-profile.csv
  io.openems.edge.simulator/src/io/openems/edge/simulator/datasource/csv/predefined/Source.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/datasource/csv/predefined/frequency-2025-1min-3days.csv
  io.openems.edge.simulator/src/io/openems/edge/simulator/datasource/csv/predefined/frequency-2025-1min.csv
Due: build-java, restore-cache, rebuild-cache

feat(websocket): add trusted external authentication
  io.openems.common/src/io/openems/common/jsonrpc/request/AuthenticateWithExternalAuthRequest.java
  io.openems.edge.controller.api.websocket/readme.adoc
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/Config.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/ControllerApiWebsocketImpl.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/WebsocketServer.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/WsData.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/externalauth/ExternalAuthentication.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/handler/AuthenticationRequestHandler.java
  io.openems.edge.controller.api.websocket/test/io/openems/edge/controller/api/websocket/MyConfig.java
  io.openems.edge.controller.api.websocket/test/io/openems/edge/controller/api/websocket/externalauth/ExternalAuthenticationTest.java
  io.openems.edge.controller.api.websocket/test/io/openems/edge/controller/api/websocket/handler/AuthenticationRequestHandlerTest.java
Due: build-java, restore-cache, rebuild-cache

[Common] Update Gradle to 9.8.0
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
Due: build-java, restore-cache, rebuild-cache

[Common] Update Gradle to 9.8.0 (#3998)
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
Due: build-java, restore-cache, rebuild-cache

Add EVSE Charge-Point implementation for the Voltie AC wallbox
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.evse.chargepoint.voltie/.classpath
  io.openems.edge.evse.chargepoint.voltie/.gitignore
  io.openems.edge.evse.chargepoint.voltie/.project
  io.openems.edge.evse.chargepoint.voltie/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.evse.chargepoint.voltie/bnd.bnd
  io.openems.edge.evse.chargepoint.voltie/readme.adoc
  io.openems.edge.evse.chargepoint.voltie/src/io/openems/edge/evse/chargepoint/voltie/Config.java
  io.openems.edge.evse.chargepoint.voltie/src/io/openems/edge/evse/chargepoint/voltie/EvseChargePointVoltie.java
  io.openems.edge.evse.chargepoint.voltie/src/io/openems/edge/evse/chargepoint/voltie/EvseChargePointVoltieImpl.java
  io.openems.edge.evse.chargepoint.voltie/src/io/openems/edge/evse/chargepoint/voltie/enums/ChargeStopReason.java
  io.openems.edge.evse.chargepoint.voltie/src/io/openems/edge/evse/chargepoint/voltie/enums/EvseState.java
  io.openems.edge.evse.chargepoint.voltie/src/io/openems/edge/evse/chargepoint/voltie/enums/LogVerbosity.java
  io.openems.edge.evse.chargepoint.voltie/test/.gitignore
  io.openems.edge.evse.chargepoint.voltie/test/io/openems/edge/evse/chargepoint/voltie/EvseChargePointVoltieImplTest.java
  io.openems.edge.evse.chargepoint.voltie/test/io/openems/edge/evse/chargepoint/voltie/MyConfig.java
  ui/src/app/edge/live/Controller/Evse/shared/evse-chargepoint.ts
  ui/src/environments/index.ts
  ui/src/themes/openems/environments/oem-meta.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

test(evse): cover external channels in keba and mennekes tests
  io.openems.edge.evse.chargepoint.keba/test/io/openems/edge/evse/chargepoint/keba/common/EvseKebaTest.java
  io.openems.edge.evse.chargepoint.mennekes/test/io/openems/edge/evse/chargepoint/mennekes/EvseChargePointMennekesTest.java
Due: build-java, restore-cache, rebuild-cache

test(evse): update energy scheduler params
  io.openems.edge.energy/test/io/openems/edge/energy/EnergySchedulerImplTest.java
Due: build-java, restore-cache, rebuild-cache

feat(evse): add external charge control mode
  io.openems.edge.controller.evse/readme.adoc
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/EshUtils.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/RunUtils.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/ControllerEvseSingleImpl.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/Mode.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/Params.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/TestUtils.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/cluster/EshUtilsTest.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/cluster/RunUtilsTest.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/single/ControllerEvseSingleImplTest.java
  io.openems.edge.evse.api/readme.adoc
  io.openems.edge.evse.api/src/io/openems/edge/evse/api/chargepoint/EvseChargePoint.java
Due: build-java, restore-cache, rebuild-cache

test(evse): cover external channels in hardybarth tests
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/cph2/EvseChargePointHardyImplTest.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/ecb1/EvseChargePointHardyBarthEcb1ImplTest.java
Due: build-java, restore-cache, rebuild-cache

build: update jacoco dependency lock
  gradle.lockfile
Due: build-java, restore-cache, rebuild-cache

[Common] Gradle:: Centralize tool versions and upgrade JaCoCo to 0.8.15
  build.gradle.kts
  gradle.lockfile
  gradle.properties
  settings.gradle.kts
Due: build-java, restore-cache, rebuild-cache

[Common] Gradle:: Centralize tool versions and upgrade JaCoCo to 0.8.15 (#4006)
  build.gradle.kts
  gradle.lockfile
  gradle.properties
  settings.gradle.kts
Due: build-java, restore-cache, rebuild-cache

Update bnd
  io.openems.wrapper/auth0-auth0.bnd
  io.openems.wrapper/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

Update bnd
  cnf/build.bnd
Due: none

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.edge.application/BackendEdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.edge.application/BackendEdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

test(websocket): cover external auth edge cases
  io.openems.common/test/io/openems/common/jsonrpc/request/AuthenticateWithExternalAuthRequestTest.java
  io.openems.edge.controller.api.websocket/test/io/openems/edge/controller/api/websocket/externalauth/ExternalAuthenticationTest.java
  io.openems.edge.controller.api.websocket/test/io/openems/edge/controller/api/websocket/handler/AuthenticationRequestHandlerTest.java
Due: build-java, restore-cache, rebuild-cache

Fixes
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/BridgeEebusImpl.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/Config.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/api/BridgeEebus.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/api/LogVerbosity.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/peer/EebusPeerImpl.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/test/DummyBridgeEebus.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/usecase/EebusUseCase.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/usecase/EebusUseCaseManagerImpl.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/usecase/powerlimitation/LimitPowerConsumptionUseCase.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/usecase/powerlimitation/LimitPowerProductionUseCase.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Power v1: fix coefficient and timing gap in cluster
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/v1/Data.java
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/v1/data/ConstraintUtil.java
  io.openems.edge.ess.core/test/io/openems/edge/ess/core/power/v1/DataTest.java
  io.openems.edge.ess.core/test/io/openems/edge/ess/core/power/v1/EssPowerImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] remove Javadoc comments from DataTest
  io.openems.edge.ess.core/test/io/openems/edge/ess/core/power/v1/DataTest.java
Due: build-java, restore-cache, rebuild-cache

Add read-only Visual VPP dashboard
  ui/src/app/edge/live/live.component.html
  ui/src/app/edge/live/live.module.ts
  ui/src/app/edge/live/vpp-dashboard/vpp-dashboard.component.html
  ui/src/app/edge/live/vpp-dashboard/vpp-dashboard.component.scss
  ui/src/app/edge/live/vpp-dashboard/vpp-dashboard.component.ts
  ui/src/app/edge/live/vpp-dashboard/vpp-dashboard.model.spec.ts
  ui/src/app/edge/live/vpp-dashboard/vpp-dashboard.model.ts
  ui/src/assets/i18n/cz.json
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/es.json
  ui/src/assets/i18n/fr.json
  ui/src/assets/i18n/ja.json
  ui/src/assets/i18n/nl.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for SubscribeChannelsRequest
  ui/src/app/shared/jsonrpc/request/subscribeChannelsRequest.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for QueryHistoricTimeseriesEnergyRequest
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesEnergyRequest.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Merge commit from fork
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/InfluxConnector.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/FluxProxy.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/InfluxQlProxy.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/QueryChannels.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/QueryProxy.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/package-info.java
  io.openems.shared.influxdb/test/io/openems/shared/influxdb/proxy/QueryBuilderTest.java
  io.openems.shared.influxdb/test/io/openems/shared/influxdb/proxy/QueryChannelsTest.java
Due: build-java, restore-cache, rebuild-cache

Push version to 2026.10.0
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2026.11.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location
