Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

Refactored to use HttpBridge
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly25/IoShelly25.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly25/IoShelly25Impl.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shelly25/IoShelly25ImplTest.java
Due: build-java, restore-cache, rebuild-cache

Update actions (#2570)
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Add link to Changelog
  cnf/pom.xml
Due: none

fix readme
  tools/docker/backend/README.md
  tools/docker/edge/README.md
  tools/docker/edge/root/var/opt/openems/config/Scheduler/AllAlphabetically/default.config
  tools/docker/ui/README.md
Due: none

CI: improvements (#1102)
  .woodpecker/ci-build.yml
  build.gradle
Due: build-java, restore-cache, rebuild-cache

AppCenter: Add definition to set min Role to delete an App & validation (#1094)
  io.openems.edge.core/src/io/openems/edge/app/ess/FixActivePower.java
  io.openems.edge.core/src/io/openems/edge/app/ess/FixStateOfCharge.java
  io.openems.edge.core/src/io/openems/edge/app/ess/PowerPlantController.java
  io.openems.edge.core/src/io/openems/edge/app/ess/PrepareBatteryExtension.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome20.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome30.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/industrial/s/Isk010.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/industrial/s/Isk011.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/industrial/s/Isk110.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/OpenemsAppPermissions.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/AppManagerAppHelperImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/jsonrpc/GetApps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppPermissionTest.java
  ui/src/app/edge/settings/app/update.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update coding-guidelines.adoc
  doc/modules/ROOT/pages/contribute/coding-guidelines.adoc
Due: none

clean up
  tools/docker/backend/Dockerfile
  tools/docker/backend/README.md
  tools/docker/edge/Dockerfile
  tools/docker/ui/Dockerfile
  tools/docker/ui/root/defaults/nginx/site-confs/openems.conf
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-nginx/convert
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-nginx/run
Due: none

add openems branding
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/init-adduser/branding
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/init-adduser/dependencies.d/init-migrations
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/init-adduser/run
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/init-adduser/type
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/init-adduser/up
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/init-adduser/branding
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/init-adduser/dependencies.d/init-migrations
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/init-adduser/run
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/init-adduser/type
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/init-adduser/up
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-adduser/branding
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-adduser/dependencies.d/init-migrations
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-adduser/run
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-adduser/type
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-adduser/up
Due: none

fix: add "eslint:recommended", "plugin:@typescript-eslint/recommended" to eslintrc
  ui/.eslintrc.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: modify codes to pass new eslint rules.
  ui/package-lock.json
  ui/src/app/appupdateservice.ts
  ui/src/app/edge/history/Controller/Ess/TimeOfUseTariff/chart/chart.ts
  ui/src/app/edge/history/heatingelement/chart.component.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/modal/modal.ts
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/modal/modal.component.ts
  ui/src/app/edge/live/Multiple/Evcs_Api_Cluster/modal/evcs-chart/evcs.chart.ts
  ui/src/app/edge/settings/app/jsonrpc/flag/flagType.ts
  ui/src/app/edge/settings/app/jsonrpc/flag/flags.ts
  ui/src/app/edge/settings/app/jsonrpc/getAppAssistant.ts
  ui/src/app/edge/settings/network/network.component.ts
  ui/src/app/shared/edge/edge.ts
  ui/src/app/shared/edge/edgeconfig.spec.ts
  ui/src/app/shared/edge/edgeconfig.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/shared/converter.ts
  ui/src/app/shared/genericComponents/shared/testing/tester.ts
  ui/src/app/shared/header/header.component.ts
  ui/src/app/shared/pickdate/pickdate.component.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/status/single/status.component.spec.ts
  ui/src/app/shared/utils/date/dateutils.ts
  ui/src/app/shared/utils/datetime/datetime-utils.ts
  ui/src/app/user/user.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

AppCenter Tibber: Access Token will be displayed as "xxx" if set (#1098)
  io.openems.common/src/io/openems/common/utils/FunctionUtils.java
  io.openems.common/test/io/openems/common/utils/FunctionUtilsTest.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/Tibber.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppDef.java
  io.openems.edge.core/test/io/openems/edge/app/timeofusetariff/TestTibber.java
Due: build-java, restore-cache, rebuild-cache

FENECON Home Battery: Calculate number of tower (#1002)
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHome.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImpl.java
Due: build-java, restore-cache, rebuild-cache

UI: Implement system reboot (#965)
  ui/package-lock.json
  ui/src/app/app-routing.module.ts
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/edge/installation/views/pre-installation-update/pre-installation-update.component.ts
  ui/src/app/edge/settings/app/index.component.ts
  ui/src/app/edge/settings/profile/profile.component.html
  ui/src/app/edge/settings/settings.component.html
  ui/src/app/edge/settings/settings.component.ts
  ui/src/app/edge/settings/settings.module.ts
  ui/src/app/edge/settings/system/executeSystemUpdate.ts
  ui/src/app/edge/settings/system/executeSystemUpdateRequest.ts
  ui/src/app/edge/settings/system/executesystemupdate.component.html
  ui/src/app/edge/settings/system/executesystemupdate.component.ts
  ui/src/app/edge/settings/system/getSystemUpdateStateRequest.ts
  ui/src/app/edge/settings/system/getSystemUpdateStateResponse.ts
  ui/src/app/edge/settings/system/maintenance/maintenance.html
  ui/src/app/edge/settings/system/maintenance/maintenance.ts
  ui/src/app/edge/settings/system/oe-system-update.component.html
  ui/src/app/edge/settings/system/oe-system-update.component.ts
  ui/src/app/edge/settings/system/system.component.html
  ui/src/app/edge/settings/system/system.component.ts
  ui/src/app/shared/jsonrpc/request/executeSystemRestartRequest.ts
  ui/src/app/shared/jsonrpc/response/executeSystemRestartResponse.ts
  ui/src/app/shared/shared.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Edge/UI: add persistencePriority to EdgeConfig (#1101)
  io.openems.common/src/io/openems/common/channel/PersistencePriority.java
  io.openems.common/src/io/openems/common/jsonrpc/request/UpdateUserSettingsRequest.java
  io.openems.common/src/io/openems/common/types/EdgeConfig.java
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketServer.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/EdgeConfigWorker.java
  ui/src/app/edge/settings/channels/channels.component.html
  ui/src/app/edge/settings/channels/channels.component.ts
  ui/src/app/shared/edge/edgeconfig.ts
  ui/src/app/shared/status/single/status.component.spec.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Controller ESS Cycle: fix Standby Time (#1096)
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/ControllerEssCycleImpl.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/Context.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/ContinueWithChargeHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/ContinueWithDischargeHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/StartChargeHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/StartDischargeHandler.java
Due: build-java, restore-cache, rebuild-cache

CI: Update & Cleanup Test Environment (#1019)
  .woodpecker/cleanup.yml
Due: none

UI: Home Ibn refactoring (#1092)
  ui/src/app/edge/installation/installation-systems/abstract-ibn.ts
  ui/src/app/edge/installation/installation-systems/commercial/abstract-commercial.ts
  ui/src/app/edge/installation/installation-systems/general-ibn.ts
  ui/src/app/edge/installation/installation-systems/home/abstract-home-10.ts
  ui/src/app/edge/installation/installation-systems/home/abstract-home.ts
  ui/src/app/edge/installation/installation-systems/home/home-10-heckert.ts
  ui/src/app/edge/installation/installation-systems/home/home-10.ts
  ui/src/app/edge/installation/installation-systems/home/home-20.ts
  ui/src/app/edge/installation/installation-systems/home/home-30.ts
  ui/src/app/edge/installation/installation.module.ts
  ui/src/app/edge/installation/shared/category.ts
  ui/src/app/edge/installation/shared/enums.ts
  ui/src/app/edge/installation/views/protocol-feed-in-limitation/protocol-feed-in-limitation.component.ts
  ui/src/environments/index.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Service-Dashboard Verbesserungen für Home 10, 20 & 30 (#1077)
  ui/src/app/edge/settings/homeassistent/homeassistent.html
  ui/src/app/edge/settings/homeassistent/homeassistent.ts
  ui/src/app/shared/genericComponents/flat/abstract-flat-widget-line.ts
  ui/src/app/shared/genericComponents/flat/abstract-flat-widget.ts
  ui/src/app/shared/genericComponents/flat/flat-widget-line/flat-widget-line.html
  ui/src/app/shared/genericComponents/shared/converter.ts
  ui/src/app/shared/genericComponents/shared/filter.ts
  ui/src/app/shared/pickdate/pickdate.component.ts
  ui/src/app/shared/pickdate/popover/popover.component.ts
  ui/src/app/shared/shared.spec.ts
  ui/src/app/shared/shared.ts
  ui/src/app/shared/type/general.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

CI: Skip Clone for Cleanup pipeline (#1106)
  .woodpecker/cleanup.yml
Due: none

Update coding-guidelines.adoc (#2576)
  doc/modules/ROOT/pages/contribute/coding-guidelines.adoc
Due: none

UI: README changes (#1107)
  ui/README.md
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI-Release 14.03.2024 (#1108)
  ui/package-lock.json
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/edge/settings/system/maintenance/maintenance.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Apply prepare-commit script
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.meter.eastron/.classpath
  io.openems.edge.meter.eastron/.gitignore
  io.openems.edge.meter.eastron/.project
  io.openems.edge.meter.eastron/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.meter.eastron/test/.gitignore
  io.openems.edge.meter.microcare.sdm630/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

Fix bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

UI: Bugfix: Pickdatepopover not showing allowed historyPeriods (#1109)
  ui/src/app/shared/shared.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Apply ./prepare_commit.sh
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Apply prepare-commit
  io.openems.edge.io.opendtu/.classpath
  io.openems.edge.io.opendtu/.gitignore
  io.openems.edge.io.opendtu/.project
  io.openems.edge.io.opendtu/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.io.opendtu/bnd.bnd
  io.openems.edge.io.opendtu/test/.gitignore
  io.openems.edge.io.opendtu/test/io/openems/edge/io/opendtu/inverter/OpendtuImplTest.java
Due: build-java, restore-cache, rebuild-cache

Prepare Commit & Fix Test
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/dummy/DummyBridgeHttp.java
  io.openems.edge.io.opendtu/test/io/openems/edge/io/opendtu/inverter/OpendtuImplTest.java
Due: build-java, restore-cache, rebuild-cache

Create .gitignore
  io.openems.edge.ess.samsung/.gitignore
Due: build-java, restore-cache, rebuild-cache

Updates in SamsungESS
  io.openems.edge.ess.samsung/bnd.bnd
  io.openems.edge.ess.samsung/readme.adoc
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/charger/SamsungEssChargerImpl.java
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/ess/SamsungEssImpl.java
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/gridmeter/SamsungEssGridmeterImpl.java
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/thermometer/SamsungEssThemometerImpl.java
  io.openems.edge.ess.samsung/src/io/openems/edge/io/ess/samsung/common/SamsungApi.java
  io.openems.edge.ess.samsung/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

Update EdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

UI: Extend unittest for pickdatepopover (#1110)
  ui/src/app/shared/pickdate/pickdate.component.ts
  ui/src/app/shared/pickdate/popover/popover.component.ts
  ui/src/app/shared/service/defaulttypes.ts
  ui/src/app/shared/shared.spec.ts
  ui/src/app/shared/shared.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Removed calculateSinglePhaseFromActivePower(this)
  io.openems.edge.meter.eastron/src/io/openems/edge/meter/eastron/sdm120/MeterEastronSdm120Impl.java
Due: build-java, restore-cache, rebuild-cache

Fixed Typos & Formatting
  io.openems.edge.meter.eastron/readme.adoc
  io.openems.edge.meter.eastron/src/io/openems/edge/meter/eastron/sdm120/Config.java
  io.openems.edge.meter.eastron/src/io/openems/edge/meter/eastron/sdm120/MeterEastronSdm120Impl.java
Due: build-java, restore-cache, rebuild-cache

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
