Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

fix linting and checkstyle
  io.openems.edge.controller.ess.timeframe/src/io/openems/edge/controller/ess/timeframe/Config.java
  io.openems.edge.controller.ess.timeframe/src/io/openems/edge/controller/ess/timeframe/ControllerEssTimeframeImpl.java
  io.openems.edge.controller.ess.timeframe/test/io/openems/edge/controller/ess/timeframe/MyConfig.java
  ui/src/app/edge/live/Controller/Ess/Timeframe/flat/flat.ts
  ui/src/app/edge/live/Controller/Ess/Timeframe/modal/modal.ts
  ui/src/app/shared/service/utils.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add tests
  io.openems.edge.controller.ess.timeframe/src/io/openems/edge/controller/ess/timeframe/ControllerEssTimeframeImpl.java
  io.openems.edge.controller.ess.timeframe/test/io/openems/edge/controller/ess/fixactivepower/ControllerEssFixActivePowerImplTest.java
  io.openems.edge.controller.ess.timeframe/test/io/openems/edge/controller/ess/fixactivepower/MyConfig.java
  io.openems.edge.controller.ess.timeframe/test/io/openems/edge/controller/ess/timeframe/ControllerEssTimeframeImplTest.java
  io.openems.edge.controller.ess.timeframe/test/io/openems/edge/controller/ess/timeframe/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

fix checkstyle and merge issues in UI
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.ess.timeframe/test/io/openems/edge/controller/ess/timeframe/ControllerEssTimeframeImplTest.java
  io.openems.edge.controller.ess.timeframe/test/io/openems/edge/controller/ess/timeframe/MyConfig.java
  ui/src/app/edge/live/Controller/Ess/Timeframe/flat/flat.ts
  ui/src/app/edge/live/Controller/Ess/Timeframe/modal/modal.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Use openems.io-theme repository
  doc/build/site.yml
  doc/build/uibundle_openems.zip
Due: none

fix: fix system status modal.
  ui/src/app/shared/components/edge/edgeconfig.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix for Configuration & Status not populated Fully (#2738)
  ui/src/app/shared/components/edge/edgeconfig.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix percentagebar svg (#2732)
  ui/src/app/edge/live/common/storage/storage.component.html
  ui/src/app/shared/components/flat/flat-widget-percentagebar/flat-widget-percentagebar.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Remove toc in docs
  doc/modules/ROOT/pages/backend/backend-to-backend.adoc
  doc/modules/ROOT/pages/backend/build.adoc
  doc/modules/ROOT/pages/backend/deploy.adoc
  doc/modules/ROOT/pages/backend/metadata.adoc
  doc/modules/ROOT/pages/backend/service.adoc
  doc/modules/ROOT/pages/backend/timedata.adoc
  doc/modules/ROOT/pages/component-communication/index.adoc
  doc/modules/ROOT/pages/contribute/coding-guidelines.adoc
  doc/modules/ROOT/pages/contribute/documentation.adoc
  doc/modules/ROOT/pages/coreconcepts.adoc
  doc/modules/ROOT/pages/edge/architecture.adoc
  doc/modules/ROOT/pages/edge/bridge.adoc
  doc/modules/ROOT/pages/edge/build.adoc
  doc/modules/ROOT/pages/edge/configuration.adoc
  doc/modules/ROOT/pages/edge/controller.adoc
  doc/modules/ROOT/pages/edge/deploy.adoc
  doc/modules/ROOT/pages/edge/device_service.adoc
  doc/modules/ROOT/pages/edge/implement.adoc
  doc/modules/ROOT/pages/edge/nature.adoc
  doc/modules/ROOT/pages/edge/scheduler.adoc
  doc/modules/ROOT/pages/edge/timedata.adoc
  doc/modules/ROOT/pages/gettingstarted.adoc
  doc/modules/ROOT/pages/intellij.adoc
  doc/modules/ROOT/pages/simulation/gitpod.adoc
  doc/modules/ROOT/pages/simulation/realtime.adoc
  doc/modules/ROOT/pages/simulation/ui-history.adoc
  doc/modules/ROOT/pages/ui/architecture.adoc
  doc/modules/ROOT/pages/ui/build.adoc
  doc/modules/ROOT/pages/ui/implementing-a-widget/introduction.adoc
  doc/modules/ROOT/pages/ui/setup-ide.adoc
Due: none

Docs: use openems.io-theme repository in openems (#2754)
  doc/build/site.yml
  doc/build/uibundle_openems.zip
  doc/modules/ROOT/pages/backend/backend-to-backend.adoc
  doc/modules/ROOT/pages/backend/build.adoc
  doc/modules/ROOT/pages/backend/deploy.adoc
  doc/modules/ROOT/pages/backend/metadata.adoc
  doc/modules/ROOT/pages/backend/service.adoc
  doc/modules/ROOT/pages/backend/timedata.adoc
  doc/modules/ROOT/pages/component-communication/index.adoc
  doc/modules/ROOT/pages/contribute/coding-guidelines.adoc
  doc/modules/ROOT/pages/contribute/documentation.adoc
  doc/modules/ROOT/pages/coreconcepts.adoc
  doc/modules/ROOT/pages/edge/architecture.adoc
  doc/modules/ROOT/pages/edge/bridge.adoc
  doc/modules/ROOT/pages/edge/build.adoc
  doc/modules/ROOT/pages/edge/configuration.adoc
  doc/modules/ROOT/pages/edge/controller.adoc
  doc/modules/ROOT/pages/edge/deploy.adoc
  doc/modules/ROOT/pages/edge/device_service.adoc
  doc/modules/ROOT/pages/edge/implement.adoc
  doc/modules/ROOT/pages/edge/nature.adoc
  doc/modules/ROOT/pages/edge/scheduler.adoc
  doc/modules/ROOT/pages/edge/timedata.adoc
  doc/modules/ROOT/pages/gettingstarted.adoc
  doc/modules/ROOT/pages/intellij.adoc
  doc/modules/ROOT/pages/simulation/gitpod.adoc
  doc/modules/ROOT/pages/simulation/realtime.adoc
  doc/modules/ROOT/pages/simulation/ui-history.adoc
  doc/modules/ROOT/pages/ui/architecture.adoc
  doc/modules/ROOT/pages/ui/build.adoc
  doc/modules/ROOT/pages/ui/implementing-a-widget/introduction.adoc
  doc/modules/ROOT/pages/ui/setup-ide.adoc
Due: none

Fix build
  build.gradle
  doc/antora.yml
  doc/build.gradle
  doc/build/site.yml
  io.openems.edge.evcs.spelsberg/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Fix build (#2759)
  build.gradle
  doc/antora.yml
  doc/build.gradle
  doc/build/site.yml
  io.openems.edge.evcs.spelsberg/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bnd
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.wrapper/influxdb-client-core.bnd
  io.openems.wrapper/influxdb-client-java.bnd
  io.openems.wrapper/influxdb-client-utils.bnd
  io.openems.wrapper/influxdb-flux-dsl.bnd
Due: build-java, restore-cache, rebuild-cache

adding getEmsTypeForEdge due to changed interface Metadata
  io.openems.backend.metadata.ldap/src/io/openems/backend/metadata/ldap/MetadataLdap.java
Due: build-java, restore-cache, rebuild-cache

Group dependabot PRs
  .github/dependabot.yml
Due: none

Dependabot: add more groups
  .github/dependabot.yml
Due: none

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Add more dependabot groups
  .github/dependabot.yml
Due: none

Add influxdb dependabot group
  .github/dependabot.yml
Due: none

Update bndrun
  cnf/build.bnd
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

UI: fix sum chart in consumption history
  ui/src/app/edge/history/common/consumption/details/details.overview.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: add routing guards for settings
  ui/src/app/app-routing.module.ts
  ui/src/app/shared/guards/functional-guards.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: center refresher-spinner
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/live/live.component.html
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Rrd4j: Fix query for custom range
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/RecordWorker.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/Rrd4jReadHandler.java
  io.openems.edge.timedata.rrd4j/test/io/openems/edge/timedata/rrd4j/Rrd4jReadHandlerTest.java
Due: build-java, restore-cache, rebuild-cache

UI: Migration to angular 18
  ui/package-lock.json
  ui/package.json
  ui/src/app/app-routing.module.ts
  ui/src/polyfills.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Eslint: no-multiple-empty-lines
  ui/.eslintrc.json
  ui/src/app/edge/live/energymonitor/chart/chart.component.ts
  ui/src/app/edge/live/energymonitor/energymonitor.module.ts
  ui/src/app/shared/components/footer/subnavigation/footerNavigation.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix tooltip afterTitle display bug
  ui/src/app/edge/history/common/energy/chart/chart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: App: Update android api due to googles new policy
  tools/drone/openems-android.sh
  ui/android/variables.gradle
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Build android app
  .woodpecker/ui-build.yml
  tools/common.sh
  tools/drone/openems-android.sh
  ui/android/.gitignore
  ui/android/app/build.gradle
  ui/android/build.gradle
  ui/android/gradle/wrapper/gradle-wrapper.jar
  ui/android/gradle/wrapper/gradle-wrapper.properties
  ui/android/gradlew
  ui/android/gradlew.bat
  ui/capacitor.config.ts
  ui/package-lock.json
  ui/package.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

GridOptimizedCharge: avoid fail state in OFF
  io.openems.edge.controller.ess.gridoptimizedcharge/src/io/openems/edge/controller/ess/gridoptimizedcharge/ControllerEssGridOptimizedChargeImpl.java
Due: build-java, restore-cache, rebuild-cache

UI: Reduce history queries & overloading of chartData
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/abstracthistorywidget.ts
  ui/src/app/edge/history/historydataservice.ts
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/components/chart/chart.constants.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/service/websocket.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Unify fixDigitalOutput & singlethreshold history (#1315)
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/Controller/Ess/ess.module.ts
  ui/src/app/edge/history/Controller/Io/DigitalOutput/chart/chart.ts
  ui/src/app/edge/history/Controller/Io/DigitalOutput/details/chart/chart.ts
  ui/src/app/edge/history/Controller/Io/DigitalOutput/details/details.overview.html
  ui/src/app/edge/history/Controller/Io/DigitalOutput/details/details.overview.ts
  ui/src/app/edge/history/Controller/Io/DigitalOutput/digitalOutput.module.ts
  ui/src/app/edge/history/Controller/Io/DigitalOutput/flat/flat.html
  ui/src/app/edge/history/Controller/Io/DigitalOutput/flat/flat.ts
  ui/src/app/edge/history/Controller/Io/DigitalOutput/overview/overview.html
  ui/src/app/edge/history/Controller/Io/DigitalOutput/overview/overview.ts
  ui/src/app/edge/history/Controller/Io/Io.module.ts
  ui/src/app/edge/history/Controller/controller.module.ts
  ui/src/app/edge/history/fixdigitaloutput/fixdigitaloutputchartoverview/fixdigitaloutputchartoverview.component.html
  ui/src/app/edge/history/fixdigitaloutput/fixdigitaloutputchartoverview/fixdigitaloutputchartoverview.component.ts
  ui/src/app/edge/history/fixdigitaloutput/singlechart.component.ts
  ui/src/app/edge/history/fixdigitaloutput/totalchart.component.ts
  ui/src/app/edge/history/fixdigitaloutput/widget.component.html
  ui/src/app/edge/history/fixdigitaloutput/widget.component.ts
  ui/src/app/edge/history/history.module.ts
  ui/src/app/edge/history/singlethreshold/chart.component.ts
  ui/src/app/edge/history/singlethreshold/singlethresholdchartoverview/singlethresholdchartoverview.component.html
  ui/src/app/edge/history/singlethreshold/singlethresholdchartoverview/singlethresholdchartoverview.component.ts
  ui/src/app/edge/history/singlethreshold/widget.component.html
  ui/src/app/edge/history/singlethreshold/widget.component.ts
  ui/src/app/shared/components/edge/edgeconfig.ts
  ui/src/app/shared/type/widget.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix TimeOfUseTariff powerSocChart
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/powerSocChart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix build
  ui/package-lock.json
  ui/src/app/edge/settings/system/maintenance/maintenance.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
