Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

compiling on eclipse
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update build.gradle
  build.gradle
Due: build-java, restore-cache, rebuild-cache

[Common] Gradle: Fix `buildBackend` (#3424)
  build.gradle
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

docs(edge): remove unintended duplicate title
  doc/modules/ROOT/pages/edge/deploy/docker.adoc
Due: none

Update Gradle to 9.2.1
  .gradle-wrapper/gradle-wrapper.jar
  .gradle-wrapper/gradle-wrapper.properties
Due: build-java, restore-cache, rebuild-cache

docs(edge): fix UI language instructions in docker deployment guide
  doc/modules/ROOT/pages/edge/deploy/docker.adoc
Due: none

compiling on eclipse
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

compiling on eclipse
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Implementation of ABL wallbox with EVCC2/3 Modbus Protocol (connected as Modbus TCP), including extensive test suite and simulator for manual testing
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.evse.chargepoint.abl/INTEGRATION_GUIDE.adoc
  io.openems.edge.evse.chargepoint.abl/INTEGRATION_GUIDE.md
  io.openems.edge.evse.chargepoint.abl/TESTING_PATTERNS.adoc
  io.openems.edge.evse.chargepoint.abl/TESTING_PATTERNS.md
  io.openems.edge.evse.chargepoint.abl/TEST_README.adoc
  io.openems.edge.evse.chargepoint.abl/TEST_README.md
  io.openems.edge.evse.chargepoint.abl/doc/DEVELOPMENT_SETUP_GUIDE.adoc
  io.openems.edge.evse.chargepoint.abl/doc/Schnittstellenbeschreibung_Modbus-ASCII.pdf
  io.openems.edge.evse.chargepoint.abl/readme.adoc
  io.openems.edge.evse.chargepoint.abl/src/io/openems/edge/evse/chargepoint/abl/EvseChargePointAblImpl.java
  io.openems.edge.evse.chargepoint.abl/test-ui/abl-test.html
  io.openems.edge.evse.chargepoint.abl/test/INTEGRATION_GUIDE.adoc
  io.openems.edge.evse.chargepoint.abl/test/TESTING_PATTERNS.adoc
  io.openems.edge.evse.chargepoint.abl/test/TEST_README.adoc
  io.openems.edge.evse.chargepoint.abl/test/io/openems/edge/evse/chargepoint/abl/AblModbusIntegrationTest.java
  io.openems.edge.evse.chargepoint.abl/test/io/openems/edge/evse/chargepoint/abl/ChargingStateTest.java
  io.openems.edge.evse.chargepoint.abl/test/io/openems/edge/evse/chargepoint/abl/DummyAblChargePoint.java
  io.openems.edge.evse.chargepoint.abl/test/io/openems/edge/evse/chargepoint/abl/DummyAblChargePointTest.java
  io.openems.edge.evse.chargepoint.abl/test/io/openems/edge/evse/chargepoint/abl/EvseChargePointAblImplTest.java
  io.openems.edge.evse.chargepoint.abl/test/io/openems/edge/evse/chargepoint/abl/MyConfig.java
  io.openems.edge.evse.chargepoint.abl/test/io/openems/edge/evse/chargepoint/abl/rest/AblTestRestController.java
  io.openems.edge.evse.chargepoint.abl/test/io/openems/edge/evse/chargepoint/abl/simulator/AblModbusSimulator.java
  io.openems.edge.evse.chargepoint.abl/test/io/openems/edge/evse/chargepoint/abl/simulator/AblSimulatorRestApi.java
  io.openems.edge.evse.chargepoint.abl/test/io/openems/edge/evse/chargepoint/abl/simulator/AblStateMachine.java
  io.openems.edge.evse.chargepoint.abl/test/io/openems/edge/evse/chargepoint/abl/simulator/ModbusTcpServer.java
  io.openems.edge.evse.chargepoint.abl/test/io/openems/edge/evse/chargepoint/abl/simulator/RegisterMap.java
  ui/package-lock.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Integrate Modbus Dummy Service testing knowledge into Edge component skill
  .claude/skills/edge-component.md
Due: none

added the projects coding guidelines
  CLAUDE.md
Due: none

Added docker-compose.yml and enhanced documentation to get a docker with just the UI for edge development up and running
  doc/modules/ROOT/pages/edge/deploy/docker.adoc
  ui/docker-compose.yml
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Added Troubleshooting section for UI Docker setup and fixed related `docker ps`
  doc/modules/ROOT/pages/edge/deploy/docker.adoc
Due: none

[UI] Login: Fix password label translation (#3379)
  ui/package-lock.json
  ui/src/app/index/login.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

update docker.yml to remove Docker Hub login and adjust image paths for GitHub Container Registry
  .github/workflows/docker.yml
  .github/workflows/docs.yml
Due: none

add doc comment
  io.openems.backend.b2brest/src/io/openems/backend/b2brest/Backend2BackendRest.java
Due: build-java, restore-cache, rebuild-cache

add doc comment
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketServer.java
Due: build-java, restore-cache, rebuild-cache

feat: add listen ip parameter to components that have socket and set 127.0.0.1 as default
  io.openems.backend.b2brest/src/io/openems/backend/b2brest/Backend2BackendRest.java
  io.openems.backend.b2brest/src/io/openems/backend/b2brest/Config.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/Backend2BackendWebsocket.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/Config.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/WebsocketServer.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/Config.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/EdgeWebsocketImpl.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/WebsocketServer.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/Config.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/UiWebsocketImpl.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/WebsocketServer.java
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketServer.java
  io.openems.common/src/io/openems/common/websocket/DummyWebsocketServer.java
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/AbstractRestApi.java
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/readonly/Config.java
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/readonly/ControllerApiRestReadOnlyImpl.java
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/readwrite/Config.java
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/readwrite/ControllerApiRestReadWriteImpl.java
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/readonly/ControllerApiRestReadOnlyImplTest.java
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/readonly/MyConfig.java
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/readwrite/ControllerApiRestReadWriteImplTest.java
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/readwrite/MyConfig.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/Config.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/ControllerApiWebsocketImpl.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/WebsocketServer.java
  io.openems.edge.controller.api.websocket/test/io/openems/edge/controller/api/websocket/ControllerApiWebsocketImplTest.java
  io.openems.edge.controller.api.websocket/test/io/openems/edge/controller/api/websocket/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

add doc comment
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/ControllerApiWebsocketImpl.java
Due: build-java, restore-cache, rebuild-cache

add doc comment
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/AbstractRestApi.java
Due: build-java, restore-cache, rebuild-cache

fix: Resolve race condition bug causing incorrect filtering edge intermittently when navigating back Overview page.
  ui/src/app/index/overview/overview.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

reorganized the UI-Docker-Deployment stuff to fit into the project structure, did some minor fixes
  doc/modules/ROOT/nav.adoc
  doc/modules/ROOT/pages/edge/deploy/docker.adoc
  doc/modules/ROOT/pages/gettingstarted.adoc
  doc/modules/ROOT/pages/ui/deploy.adoc
  tools/docker/ui/docker-compose.yml
Due: none

chore/tests
  cnf/pom.xml
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.kostal/src/io/openems/edge/kostal/plenticore/ess/Config.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/plenticore/ess/KostalManagedEssImplTest.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/plenticore/ess/KostalManagedEssModbusTest.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/plenticore/gridmeter/KostalGridMeterImplTest.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/plenticore/gridmeter/KostalGridMeterModbusTest.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/plenticore/pvinverter/KostalPvInverterImplTest.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/plenticore/pvinverter/KostalPvInverterModbusTest.java
Due: build-java, restore-cache, rebuild-cache

cleanup
  ui/src/app/edge/live/energymonitor/chart/section/animation.service.ts
  ui/src/app/edge/live/energymonitor/chart/section/consumption.component.ts
  ui/src/app/edge/live/energymonitor/chart/section/grid.component.ts
  ui/src/app/edge/live/energymonitor/chart/section/production.component.ts
  ui/src/app/edge/live/energymonitor/chart/section/storage.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

happy checkStyle tests
  io.openems.edge.kostal/test/io/openems/edge/kostal/plenticore/ess/KostalManagedEssImplTest.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/plenticore/ess/KostalManagedEssModbusTest.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/plenticore/gridmeter/KostalGridMeterModbusTest.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/plenticore/pvinverter/KostalPvInverterModbusTest.java
Due: build-java, restore-cache, rebuild-cache

fixed link in gettingstarted.adoc
  doc/modules/ROOT/pages/gettingstarted.adoc
Due: none

adjusted to handle also development in WSL2, incl. update of Readme.md
  tools/docker/ui/README.md
  tools/docker/ui/docker-compose.yml
  tools/docker/ui/start-dev-ui.sh
Due: none

accept sourcery comments
  io.openems.edge.kostal/test/io/openems/edge/kostal/plenticore/ess/KostalManagedEssImplTest.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/plenticore/ess/KostalManagedEssModbusTest.java
Due: build-java, restore-cache, rebuild-cache

fix oauth error
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/OsgiValidateWorker.java
Due: build-java, restore-cache, rebuild-cache

setting missing executable rights (chmod +x), that went lost on the way to Windows...
  tools/docker/ui/start-dev-ui.sh
Due: none

Added cleanup to the prepare-commit.sh, to avoid accidentally changing the default setting of the tools/docker/ui/docker-compose.yml after running the start-dev-ui.sh under WSL2
  tools/prepare-commit.sh
Due: none

applied changes suggested by da-Kai: https://github.com/OpenEMS/openems/pull/3430#pullrequestreview-3496905938, except 2 still to be clarified.
  doc/modules/ROOT/pages/ui/deploy.adoc
  tools/docker/ui/README.md
  tools/docker/ui/docker-compose.yml
Due: none

final adjustments for da-Kai's https://github.com/OpenEMS/openems/pull/3430#pullrequestreview-3496905938
  doc/modules/ROOT/pages/ui/deploy.adoc
  tools/docker/ui/README.md
Due: none

forgotten rename of start-dev-ui-wsl.sh
  tools/docker/ui/start-dev-ui-wsl.sh
Due: none

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
