Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

add comments and update hints for eu.chargetime.ocpp dependencies in cnf/pom.xml
  cnf/pom.xml
Due: none

[Edge] Upgrade eu.chargetime.ocpp (Java-OCA-OCPP) to v2.0 (#3968)
  .github/dependabot.yml
  cnf/pom.xml
  io.openems.wrapper/Java-WebSocket.bnd
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/eu.chargetime.ocpp.bnd
Due: build-java, restore-cache, rebuild-cache

Update bnd
  cnf/build.bnd
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.edge.application/BackendEdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bnd
  io.openems.wrapper/auth0-auth0.bnd
  io.openems.wrapper/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

Added getEebusConnections jsonrpc call
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/BridgeEebusImpl.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/api/BridgeEebus.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/api/EebusConnectionInfo.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/api/EebusUseCaseManager.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/jsonrpc/GetEebusConnections.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/jsonrpc/package-info.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/test/DummyBridgeEebus.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/usecase/EebusUseCaseManagerImpl.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/usecase/powerlimitation/LimitPowerConsumptionUseCase.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/usecase/powerlimitation/LimitPowerProductionUseCase.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/usecase/powerlimitation/api/LimitPowerConsumptionHandler.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/usecase/powerlimitation/api/LimitPowerProductionHandler.java
  io.openems.edge.controller.ess.limiter14a/src/io/openems/edge/controller/ess/limiter14a/eebus/ControllerEssLimiter14aEebusImpl.java
  io.openems.edge.controller.ess.ripplecontrolreceiver/src/io/openems/edge/controller/ess/ripplecontrolreceiver/eebus/EebusPowerProductionLimiterImpl.java
Due: build-java, restore-cache, rebuild-cache

[UI] Enable strict checking for AbstractFlatWidgetLine
  ui/src/app/shared/components/flat/abstract-flat-widget-line.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.edge.application/BackendEdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

[Edge] Add Ambibox ambiCHARGE Home as EVSE Charge-Point
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.evse.chargepoint.ambibox/.classpath
  io.openems.edge.evse.chargepoint.ambibox/.gitignore
  io.openems.edge.evse.chargepoint.ambibox/.project
  io.openems.edge.evse.chargepoint.ambibox/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.evse.chargepoint.ambibox/bnd.bnd
  io.openems.edge.evse.chargepoint.ambibox/readme.adoc
  io.openems.edge.evse.chargepoint.ambibox/src/io/openems/edge/evse/chargepoint/ambibox/Config.java
  io.openems.edge.evse.chargepoint.ambibox/src/io/openems/edge/evse/chargepoint/ambibox/EvseChargePointAmbibox.java
  io.openems.edge.evse.chargepoint.ambibox/src/io/openems/edge/evse/chargepoint/ambibox/EvseChargePointAmbiboxImpl.java
  io.openems.edge.evse.chargepoint.ambibox/src/io/openems/edge/evse/chargepoint/ambibox/enums/BatteryState.java
  io.openems.edge.evse.chargepoint.ambibox/src/io/openems/edge/evse/chargepoint/ambibox/enums/ChargeProtocol.java
  io.openems.edge.evse.chargepoint.ambibox/src/io/openems/edge/evse/chargepoint/ambibox/enums/Connector.java
  io.openems.edge.evse.chargepoint.ambibox/src/io/openems/edge/evse/chargepoint/ambibox/enums/ControlMode.java
  io.openems.edge.evse.chargepoint.ambibox/src/io/openems/edge/evse/chargepoint/ambibox/enums/EvseState.java
  io.openems.edge.evse.chargepoint.ambibox/src/io/openems/edge/evse/chargepoint/ambibox/enums/InverterState.java
  io.openems.edge.evse.chargepoint.ambibox/test/.gitignore
  io.openems.edge.evse.chargepoint.ambibox/test/io/openems/edge/evse/chargepoint/ambibox/AmbiboxTestFixtures.java
  io.openems.edge.evse.chargepoint.ambibox/test/io/openems/edge/evse/chargepoint/ambibox/EvseChargePointAmbiboxTest.java
  io.openems.edge.evse.chargepoint.ambibox/test/io/openems/edge/evse/chargepoint/ambibox/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[UI] Remove unused Filter.HIDE_NEGATIVE_VALUES
  ui/src/app/shared/components/shared/filter.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict type checking for AbstractFlatWidgetLine (#4025)
  ui/src/app/shared/components/flat/abstract-flat-widget-line.ts
  ui/src/app/shared/components/shared/filter.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Add Ambibox ambiCHARGE Home as EVSE Charge-Point (#4026)
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.evse.chargepoint.ambibox/.classpath
  io.openems.edge.evse.chargepoint.ambibox/.gitignore
  io.openems.edge.evse.chargepoint.ambibox/.project
  io.openems.edge.evse.chargepoint.ambibox/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.evse.chargepoint.ambibox/bnd.bnd
  io.openems.edge.evse.chargepoint.ambibox/readme.adoc
  io.openems.edge.evse.chargepoint.ambibox/src/io/openems/edge/evse/chargepoint/ambibox/Config.java
  io.openems.edge.evse.chargepoint.ambibox/src/io/openems/edge/evse/chargepoint/ambibox/EvseChargePointAmbibox.java
  io.openems.edge.evse.chargepoint.ambibox/src/io/openems/edge/evse/chargepoint/ambibox/EvseChargePointAmbiboxImpl.java
  io.openems.edge.evse.chargepoint.ambibox/src/io/openems/edge/evse/chargepoint/ambibox/enums/BatteryState.java
  io.openems.edge.evse.chargepoint.ambibox/src/io/openems/edge/evse/chargepoint/ambibox/enums/ChargeProtocol.java
  io.openems.edge.evse.chargepoint.ambibox/src/io/openems/edge/evse/chargepoint/ambibox/enums/Connector.java
  io.openems.edge.evse.chargepoint.ambibox/src/io/openems/edge/evse/chargepoint/ambibox/enums/ControlMode.java
  io.openems.edge.evse.chargepoint.ambibox/src/io/openems/edge/evse/chargepoint/ambibox/enums/EvseState.java
  io.openems.edge.evse.chargepoint.ambibox/src/io/openems/edge/evse/chargepoint/ambibox/enums/InverterState.java
  io.openems.edge.evse.chargepoint.ambibox/test/.gitignore
  io.openems.edge.evse.chargepoint.ambibox/test/io/openems/edge/evse/chargepoint/ambibox/AmbiboxTestFixtures.java
  io.openems.edge.evse.chargepoint.ambibox/test/io/openems/edge/evse/chargepoint/ambibox/EvseChargePointAmbiboxTest.java
  io.openems.edge.evse.chargepoint.ambibox/test/io/openems/edge/evse/chargepoint/ambibox/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[UI] Update npm dependencies (Angular 22.2.1)
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for AutofillDirective
  ui/src/app/shared/directive/autofill.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for JsonrpcTestPermission
  ui/src/app/edge/settings/jsonrpctest/jsonrpctest.permission.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for Evcs PopoverComponent
  ui/src/app/edge/live/Controller/Evcs/popover/popover.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for WebsocketInterface
  ui/src/app/shared/interface/websocketInterface.ts
  ui/src/app/shared/service/test/dummywebsocket.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for HelpLinkComponent
  ui/src/app/shared/components/modal/help-link/help-link.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for ControllerEssGridOptimizedChargeOverviewComponent
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/history/overview/overview.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for FlatWidgetLineDividerComponent
  ui/src/app/shared/components/flat/flat-widget-line-divider/flat-widget-line-divider.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for Selfconsumption FlatComponent
  ui/src/app/edge/live/common/selfconsumption/history/flat/flat.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for QueryHistoricTimeseriesExportXlxsRequest
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesExportXlxs.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for Autarchy FlatComponent
  ui/src/app/edge/live/common/autarchy/flat/flat.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for FlatComponent
  ui/src/app/shared/components/flat/flat.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for FixDigitalOutput HistoryOverviewComponent
  ui/src/app/edge/live/Controller/Io/FixDigitalOutput/history/overview/overview.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for Evse ForecastComponent
  ui/src/app/edge/live/Controller/Evse/pages/forecast/forecast.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for Evse ScheduleTaskEditComponent
  ui/src/app/edge/live/Controller/Evse/pages/schedule/task/edit/edit.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for HeatChartDetailComponent
  ui/src/app/edge/live/common/consumption/history/phase-accurate/chart/heat.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for TotalChartComponent
  ui/src/app/edge/live/Controller/Channelthreshold/history/chart/totalchart.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for ProductionMeterChartComponent
  ui/src/app/edge/live/common/production/history/chart/productionMeterChart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for Evse History ModalComponent
  ui/src/app/edge/live/Controller/Evse/pages/history/history.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for Evse History ChartComponent
  ui/src/app/edge/live/Controller/Evse/pages/history/chart/status.chart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for GridOptimizedChargeChartComponent
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/history/chart/chart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for OAuthCallBackComponent
  ui/src/app/shared/service/auth/oauthcallback.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for Selfconsumption Live FlatComponent
  ui/src/app/edge/live/common/selfconsumption/flat/flat.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for Component Update IndexComponent
  ui/src/app/edge/settings/component/update/index.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for FormlySafeInputModalComponent
  ui/src/app/edge/settings/app/formly/safe-input/formly-safe-input-modal.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for ExecuteSystemUpdate
  ui/src/app/edge/settings/system/executeSystemUpdate.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for HistoryDataErrorComponent
  ui/src/app/shared/components/history-data-error/history-data-error.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for ModalValueLineComponent
  ui/src/app/shared/components/modal/modal-value-line/modal-value-line.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for Widget
  ui/src/app/shared/type/widget.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location
