Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

Unit test for day and week added.
  ui/src/app/edge/history/common/energy/chart/channels.spec.ts
  ui/src/app/edge/history/peakshaving/symmetric/chart/channels.spec.ts
  ui/src/app/edge/history/peakshaving/symmetric/chart/chart.constants.spec.ts
  ui/src/app/edge/history/peakshaving/symmetric/chart/chart.spec.ts
  ui/src/app/edge/history/peakshaving/symmetric/chart/chart.ts
  ui/src/app/shared/edge/edgeconfig.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

errors fixed.
  ui/src/app/edge/history/peakshaving/symmetric/chart/channels.spec.ts
  ui/src/app/edge/history/peakshaving/symmetric/chart/chart.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

du changed to "to".
  doc/modules/ROOT/pages/backend/backend-to-backend.adoc
Due: none

fix notch color of pwa for ios
  ui/src/index.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Skeleton added.
  ui/src/app/user/user.component.html
  ui/src/app/user/user.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix ClasCastException to Register[]
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractReadInputRegistersTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractReadRegistersTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/FC3ReadRegistersTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/FC4ReadInputRegistersTask.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/DummyModbusComponent.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/task/FC1ReadCoilsTaskTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/task/FC2ReadInputsTaskTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/task/FC3ReadRegistersTaskTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/task/FC4ReadInputRegistersTaskTest.java
Due: build-java, restore-cache, rebuild-cache

Improve tests
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/task/FC1ReadCoilsTaskTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/task/FC2ReadInputsTaskTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/task/FC3ReadRegistersTaskTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/task/FC4ReadInputRegistersTaskTest.java
Due: build-java, restore-cache, rebuild-cache

UI: storage icon in evcs; infinity sign (#2309)
  ui/src/app/edge/live/Controller/Evcs/modal/modal.html
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Docs: Fix typing error in backend-to-backend section (#2315)
  doc/modules/ROOT/pages/backend/backend-to-backend.adoc
Due: none

Adding Normalization method
  io.openems.edge.controller.predictiontester/src/io/openems/edge/controller/predictiontester/PredictionTesterImpl.java
  io.openems.edge.predictor.lstm/.classpath
  io.openems.edge.predictor.lstm/.project
  io.openems.edge.predictor.lstm/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.predictor.lstm/bnd.bnd
  io.openems.edge.predictor.lstm/generated/launch113626247008553222.properties
  io.openems.edge.predictor.lstm/generated/launch7169879895753371731.properties
  io.openems.edge.predictor.lstm/generated/launch8416959195857712419.properties
  io.openems.edge.predictor.lstm/generated/launch8940310862987716376.properties
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/predictor/Config.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/predictor/LstmModelPredictor.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/predictor/LstmModelPredictorImpl.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/predictor/Prediction.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/train/Config.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/train/LstmModelTrainImpl.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/train/MakeModel.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/validator/Config.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/validator/LstmModelValidatorImpl.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/validator/Validation.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/predictor/Data.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/predictor/DataQuarry.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/predictor/Predictor.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/predictor/Preprocessing.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/predictor/ReadCsv.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/predictor/ReadModels.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/preprocessing/Normalize.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/preprocessing/PreProcessingImpl.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/preprocessing/ReadCsv.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/preprocessing/ReverseNormalize.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/preprocessing/Suffle.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/Cell.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/adaptiveLearningRate.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/utilities/UtilityConversion.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/DataQuarryTest.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/StandAloneMakeModelTest.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/StandAlonePredictionTest.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/StandAloneValidationTest.java
  io.openems.edge.predictor.lstmmodel/testResults/Consumption_data_Fems_10005.csv
Due: build-java, restore-cache, rebuild-cache

bug fix for grounding contactor
  io.openems.edge.ess.api/src/io/openems/edge/ess/offgrid/api/OffGridSwitch.java
Due: build-java, restore-cache, rebuild-cache

UI: Reduce RAM usage in VSC (#2306)
  ui/.vscode/settings.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

JUnit test shows implementation error
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/task/FC4ReadInputRegistersTaskTest.java
Due: build-java, restore-cache, rebuild-cache

Parse FC4 response to Register[]
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractReadRegistersTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/FC3ReadRegistersTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/FC4ReadInputRegistersTask.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/element/SignedDoublewordElementTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/element/StringWordElementTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/task/FC3ReadRegistersTaskTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/task/FC4ReadInputRegistersTaskTest.java
Due: build-java, restore-cache, rebuild-cache

fix linting
  ui/src/app/edge/history/common/consumption/flat/flat.ts
  ui/src/app/edge/live/common/storage/modal/modal.component.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

WIP
  ui/karma.conf.js
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/Controller/Controller.ts
  ui/src/app/edge/history/Controller/Io/FixDigitalOutput/FixDigitalOutput.ts
  ui/src/app/edge/history/Controller/Io/FixDigitalOutput/chart/totalChart.ts
  ui/src/app/edge/history/Controller/Io/FixDigitalOutput/flat/flat.html
  ui/src/app/edge/history/Controller/Io/FixDigitalOutput/overview/overview.html
  ui/src/app/edge/history/history.module.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/themes/openems/environments/backend-dev.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

removed unnessesary if loop
  io.openems.backend.timedata.aggregatedinflux/src/io/openems/backend/timedata/aggregatedinflux/AggregatedInflux.java
Due: build-java, restore-cache, rebuild-cache

Add Backend Timedata AggregatedInflux (#2313)
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.timedata.aggregatedinflux/.classpath
  io.openems.backend.timedata.aggregatedinflux/.gitignore
  io.openems.backend.timedata.aggregatedinflux/.project
  io.openems.backend.timedata.aggregatedinflux/.settings/org.eclipse.core.resources.prefs
  io.openems.backend.timedata.aggregatedinflux/bnd.bnd
  io.openems.backend.timedata.aggregatedinflux/src/io/openems/backend/timedata/aggregatedinflux/AggregatedInflux.java
  io.openems.backend.timedata.aggregatedinflux/src/io/openems/backend/timedata/aggregatedinflux/AllowedChannels.java
  io.openems.backend.timedata.aggregatedinflux/src/io/openems/backend/timedata/aggregatedinflux/Config.java
  io.openems.backend.timedata.aggregatedinflux/src/io/openems/backend/timedata/aggregatedinflux/QueryWithCurrentData.java
  io.openems.backend.timedata.aggregatedinflux/test/.gitignore
  io.openems.backend.timedata.aggregatedinflux/test/io/openems/backend/timedata/aggregatedinflux/AllowedChannelsTest.java
Due: build-java, restore-cache, rebuild-cache

Edge: Implementing a Fenecon Home 20/30 (GoodWe 20/30 with Battery 64A)(#705)
  io.openems.common/src/io/openems/common/types/OptionsEnum.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHome.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeHardwareType.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImpl.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/FeneconHomeBatteryProtection52.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/FeneconHomeBatteryProtection64.java
  io.openems.edge.battery.fenecon.home/test/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImplTest.java
  io.openems.edge.battery.fenecon.home/test/io/openems/edge/battery/fenecon/home/TowersAndModulesTest.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/charger/AbstractGoodWeEtCharger.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/charger/GoodWeCharger.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/charger/singlestring/ConfigPV1.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/charger/singlestring/ConfigPV2.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/charger/singlestring/GoodWeChargerPv1.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/charger/singlestring/GoodWeChargerPv2.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/charger/twostring/Config.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/charger/twostring/GoodWeChargerTwoString.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/charger/twostring/GoodWeChargerTwoStringImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/charger/twostring/PvPort.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/GoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/enums/BatteryProtocol.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/enums/GoodWeGridMeterType.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/enums/GoodWeHardwareType.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/enums/GoodWeType.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/gridmeter/GoodWeGridMeterImpl.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImplTest.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/batteryinverter/TestStatic.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/charger/singlestring/GoodWeChargerPv1Test.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/charger/singlestring/GoodWeChargerPv2Test.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/charger/singlestring/MyConfig.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/charger/twostring/GoodWeChargerTwoStringImplTest.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/charger/twostring/MyConfig.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/charger/twostring/RuleOfThreeTest.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/common/TestStatic.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/ess/GoodWeEssImplTest.java
Due: build-java, restore-cache, rebuild-cache

adjust energymonitor for mobile devices
  ui/src/app/edge/history/common/energy/flat/flat.html
  ui/src/app/edge/history/common/energy/flat/flat.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update of PR 2304 after comments
  io.openems.common/src/io/openems/common/utils/JsonUtils.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/DefaultSunSpecModel.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/SunSpecCodeGenerator.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/SunSpecModel.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/SunSpecPoint.java
Due: build-java, restore-cache, rebuild-cache

Translated using Weblate (German)
  ui/src/assets/i18n/de.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add callback that one control is able to update others
  ui/src/app/edge/live/Controller/Io/FixDigitalOutput/modal/modal.component.ts
  ui/src/app/edge/live/livedataservice.ts
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.html
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.ts
  ui/src/app/shared/genericComponents/modal/modal.ts
  ui/src/app/shared/genericComponents/shared/oe-formly-component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bnd
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/sdnotify.bnd
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

ModbusBridge: Fix ClassCastException to Register[] (#2320)
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractReadRegistersTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/FC3ReadRegistersTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/FC4ReadInputRegistersTask.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/DummyModbusComponent.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/element/SignedDoublewordElementTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/element/StringWordElementTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/task/FC1ReadCoilsTaskTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/task/FC2ReadInputsTaskTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/task/FC3ReadRegistersTaskTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/task/FC4ReadInputRegistersTaskTest.java
Due: build-java, restore-cache, rebuild-cache

Fixed several typos
  doc/modules/ROOT/pages/backend/metadata.adoc
  doc/modules/ROOT/pages/backend/service.adoc
  doc/modules/ROOT/pages/backend/timedata.adoc
  io.openems.backend.metadata.odoo/readme.adoc
  io.openems.backend.timedata.aggregatedinflux/readme.adoc
  io.openems.backend.timedata.dummy/readme.adoc
  io.openems.backend.timedata.influx/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Update Gradle to 8.3
  .gradle-wrapper/gradle-wrapper.jar
  .gradle-wrapper/gradle-wrapper.properties
  gradlew
Due: build-java, restore-cache, rebuild-cache

Update Gradle to 8.3 (#2330)
  .gradle-wrapper/gradle-wrapper.jar
  .gradle-wrapper/gradle-wrapper.properties
  gradlew
Due: build-java, restore-cache, rebuild-cache

clean PR
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/history.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix linting
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/Controller/Controller.ts
  ui/src/app/edge/history/Controller/Io/FixDigitalOutput/FixDigitalOutput.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix linting errors
  ui/src/app/edge/live/Controller/Io/FixDigitalOutput/modal/modal.component.ts
  ui/src/app/edge/live/livedataservice.ts
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

formly wrapper added.
  ui/src/app/shared/formly/formly-skeleton-wrapper.ts
  ui/src/app/shared/shared.module.ts
  ui/src/app/user/user.component.html
  ui/src/app/user/user.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Improve handling of Currency from Meta
  io.openems.edge.common/src/io/openems/edge/common/meta/Meta.java
  io.openems.edge.timeofusetariff.entsoe/readme.adoc
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/EntsoeApi.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/ExchangeRateApi.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoeImpl.java
Due: build-java, restore-cache, rebuild-cache

prepare for final Review
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.html
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add missing backport change
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.html
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.ts
  ui/src/app/shared/genericComponents/modal/modal-line/modal-line.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Implement ENTSO-E, OpenEMS Currency and exchangerate.host (#2207)
  io.openems.common/src/io/openems/common/utils/XmlUtils.java
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.common/src/io/openems/edge/common/currency/Currency.java
  io.openems.edge.common/src/io/openems/edge/common/currency/CurrencyConfig.java
  io.openems.edge.common/src/io/openems/edge/common/currency/package-info.java
  io.openems.edge.common/src/io/openems/edge/common/meta/Meta.java
  io.openems.edge.common/src/io/openems/edge/common/test/DummyMeta.java
  io.openems.edge.core/src/io/openems/edge/core/meta/Config.java
  io.openems.edge.core/src/io/openems/edge/core/meta/MetaImpl.java
  io.openems.edge.timeofusetariff.entsoe/.classpath
  io.openems.edge.timeofusetariff.entsoe/.gitignore
  io.openems.edge.timeofusetariff.entsoe/.project
  io.openems.edge.timeofusetariff.entsoe/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.timeofusetariff.entsoe/bnd.bnd
  io.openems.edge.timeofusetariff.entsoe/readme.adoc
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/BiddingZone.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Config.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/EntsoeApi.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/ExchangeRateApi.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoe.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoeImpl.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Utils.java
  io.openems.edge.timeofusetariff.entsoe/test/.gitignore
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/EntsoeApiTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/ExchangeRateApiTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/MyConfig.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/ParserTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/TouEntsoeTest.java
Due: build-java, restore-cache, rebuild-cache

Improve JsonUtils.getAsStringOrElse
  io.openems.common/src/io/openems/common/utils/JsonUtils.java
  io.openems.common/test/io/openems/common/utils/JsonUtilsTest.java
Due: build-java, restore-cache, rebuild-cache

SunSpecCodeGenerator: refactor, add 7xx models, use JSON input files (#2324)
  io.openems.common/src/io/openems/common/utils/JsonUtils.java
  io.openems.common/test/io/openems/common/utils/JsonUtilsTest.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/DefaultSunSpecModel.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/SunSpecCodeGenerator.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/SunSpecModel.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/SunSpecPoint.java
Due: build-java, restore-cache, rebuild-cache
