Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

handle en-US language for US browsers
  ui/src/app/shared/type/language.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update BridgeHttpImpl.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/BridgeHttpImpl.java
Due: build-java, restore-cache, rebuild-cache

added util methods to handle result and error in one call
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/api/BridgeHttp.java
Due: build-java, restore-cache, rebuild-cache

Update IoShellyPlugImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImpl.java
Due: build-java, restore-cache, rebuild-cache

add logic
  ui/src/app/shared/type/language.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Backend-to-Backend API: fix implementation (#1007)
  doc/modules/ROOT/pages/backend/backend-to-backend.adoc
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/Backend2BackendWebsocket.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/OnRequest.java
  io.openems.backend.b2bwebsocket/test/io/openems/backend/b2bwebsocket/B2bWebsocketTest.java
  io.openems.backend.common/src/io/openems/backend/common/jsonrpc/request/GetEdgesStatusRequest.java
  io.openems.backend.core/src/io/openems/backend/core/jsonrpcrequesthandler/CoreJsonRpcRequestHandlerImpl.java
  io.openems.backend.core/src/io/openems/backend/core/jsonrpcrequesthandler/EdgeRpcRequestHandler.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/EdgeWebsocketImpl.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/UiWebsocketImpl.java
Due: build-java, restore-cache, rebuild-cache

Backend-to-Backend API: fix implementation
  doc/modules/ROOT/pages/backend/backend-to-backend.adoc
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/Backend2BackendWebsocket.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/OnRequest.java
  io.openems.backend.b2bwebsocket/test/io/openems/backend/b2bwebsocket/B2bWebsocketTest.java
  io.openems.backend.common/src/io/openems/backend/common/jsonrpc/request/GetEdgesStatusRequest.java
  io.openems.backend.core/src/io/openems/backend/core/jsonrpcrequesthandler/CoreJsonRpcRequestHandlerImpl.java
  io.openems.backend.core/src/io/openems/backend/core/jsonrpcrequesthandler/EdgeRpcRequestHandler.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/EdgeWebsocketImpl.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/UiWebsocketImpl.java
Due: build-java, restore-cache, rebuild-cache

Backend-to-Backend API: fix implementation (#2484)
  doc/modules/ROOT/pages/backend/backend-to-backend.adoc
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/Backend2BackendWebsocket.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/OnRequest.java
  io.openems.backend.b2bwebsocket/test/io/openems/backend/b2bwebsocket/B2bWebsocketTest.java
  io.openems.backend.common/src/io/openems/backend/common/jsonrpc/request/GetEdgesStatusRequest.java
  io.openems.backend.core/src/io/openems/backend/core/jsonrpcrequesthandler/CoreJsonRpcRequestHandlerImpl.java
  io.openems.backend.core/src/io/openems/backend/core/jsonrpcrequesthandler/EdgeRpcRequestHandler.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/EdgeWebsocketImpl.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/UiWebsocketImpl.java
Due: build-java, restore-cache, rebuild-cache

UI: handle en-US language for US browsers (#2483)
  ui/src/app/shared/type/language.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Review
  cnf/pom.xml
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.api.mqtt/bnd.bnd
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttConnector.java
Due: build-java, restore-cache, rebuild-cache

test a file config
  tools/docker/openems-backend/config.d/Metadata/File.config
  tools/docker/openems-backend/config.d/Metadata/Odoo.config
Due: none

update language in file for tessting
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/MetadataFile.java
  tools/docker/openems-backend/config.d/Metadata/File.config
Due: build-java, restore-cache, rebuild-cache

Added BatteryInverter.Cluster working and GridVolt1 stub devices
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.battery.pylontech/test/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2GenericEssIntegrationTest.java
  io.openems.edge.batteryinverter.cluster/.classpath
  io.openems.edge.batteryinverter.cluster/.gitignore
  io.openems.edge.batteryinverter.cluster/.project
  io.openems.edge.batteryinverter.cluster/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.batteryinverter.cluster/bnd.bnd
  io.openems.edge.batteryinverter.cluster/generated/buildfiles
  io.openems.edge.batteryinverter.cluster/generated/launch15389445011884078463.properties
  io.openems.edge.batteryinverter.cluster/readme.adoc
  io.openems.edge.batteryinverter.cluster/src/io/openems/edge/batteryinverter/cluster/BatteryInverterCluster.java
  io.openems.edge.batteryinverter.cluster/src/io/openems/edge/batteryinverter/cluster/BatteryInverterClusterImpl.java
  io.openems.edge.batteryinverter.cluster/src/io/openems/edge/batteryinverter/cluster/ChannelManager.java
  io.openems.edge.batteryinverter.cluster/src/io/openems/edge/batteryinverter/cluster/Config.java
  io.openems.edge.batteryinverter.cluster/test/io/openems/edge/batteryinverter/cluster/BatteryInverterClusterTest.java
  io.openems.edge.batteryinverter.cluster/test/io/openems/edge/batteryinverter/cluster/MyConfig.java
  io.openems.edge.ess.gridvolt.gridvolt1/.classpath
  io.openems.edge.ess.gridvolt.gridvolt1/.gitignore
  io.openems.edge.ess.gridvolt.gridvolt1/.project
  io.openems.edge.ess.gridvolt.gridvolt1/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.ess.gridvolt.gridvolt1/bnd.bnd
  io.openems.edge.ess.gridvolt.gridvolt1/readme.adoc
  io.openems.edge.ess.gridvolt.gridvolt1/src/io/openems/edge/ess/gridvolt/gridvolt1/Config.java
  io.openems.edge.ess.gridvolt.gridvolt1/src/io/openems/edge/ess/gridvolt/gridvolt1/GridVolt1.java
  io.openems.edge.ess.gridvolt.gridvolt1/src/io/openems/edge/ess/gridvolt/gridvolt1/GridVolt1Impl.java
  io.openems.edge.ess.gridvolt.gridvolt1/test/io/openems/edge/ess/gridvolt/gridvolt1/MyConfig.java
  io.openems.edge.ess.gridvolt.gridvolt1/test/io/openems/edge/ess/gridvolt/gridvolt1/MyDeviceTest.java
Due: build-java, restore-cache, rebuild-cache

BatteryInverter.Cluster
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.batteryinverter.cluster/.classpath
  io.openems.edge.batteryinverter.cluster/.gitignore
  io.openems.edge.batteryinverter.cluster/.project
  io.openems.edge.batteryinverter.cluster/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.batteryinverter.cluster/bnd.bnd
  io.openems.edge.batteryinverter.cluster/readme.adoc
  io.openems.edge.batteryinverter.cluster/src/io/openems/edge/batteryinverter/cluster/BatteryInverterCluster.java
  io.openems.edge.batteryinverter.cluster/src/io/openems/edge/batteryinverter/cluster/BatteryInverterClusterImpl.java
  io.openems.edge.batteryinverter.cluster/src/io/openems/edge/batteryinverter/cluster/ChannelManager.java
  io.openems.edge.batteryinverter.cluster/src/io/openems/edge/batteryinverter/cluster/Config.java
  io.openems.edge.batteryinverter.cluster/test/io/openems/edge/batteryinverter/cluster/BatteryInverterClusterTest.java
  io.openems.edge.batteryinverter.cluster/test/io/openems/edge/batteryinverter/cluster/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Fix Classpath
  io.openems.edge.batteryinverter.cluster/.classpath
  io.openems.edge.batteryinverter.cluster/src/io/openems/edge/batteryinverter/cluster/BatteryInverterClusterImpl.java
Due: build-java, restore-cache, rebuild-cache

CI: Update Woodpecker pipeline (#1004)
  .woodpecker/ci-build.yml
  .woodpecker/debian-package.yml
  .woodpecker/java-build.yml
  .woodpecker/ui-build.yml
  tools/build-debian-package.sh
Due: none

Introduce HTTP-bridge & migrate Shelly Plug S (#2381)
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.bridge.http/.classpath
  io.openems.edge.bridge.http/.gitignore
  io.openems.edge.bridge.http/.project
  io.openems.edge.bridge.http/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.bridge.http/bnd.bnd
  io.openems.edge.bridge.http/readme.adoc
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/BridgeHttpImpl.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/CycleSubscriber.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/UrlFetcher.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/UrlFetcherImpl.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/api/BridgeHttp.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/api/package-info.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/dummy/DummyBridgeHttp.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/dummy/package-info.java
  io.openems.edge.bridge.http/test/io/openems/edge/bridge/http/BridgeHttpImplTest.java
  io.openems.edge.bridge.http/test/io/openems/edge/bridge/http/DummyUrlFetcher.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImpl.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImplTest.java
Due: build-java, restore-cache, rebuild-cache

FENECON F2B BMW battery improvements (#997)
  io.openems.edge.battery.fenecon.f2b/doc/parallelcluster_statemachine.md
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/BatteryFeneconF2b.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/DeviceSpecificOnSetNextValueHandler.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/bmw/BatteryFeneconF2bBmw.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/bmw/BatteryFeneconF2bBmwImpl.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/bmw/BmwOnSetNextValueHandler.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/bmw/Constants.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/bmw/statemachine/Context.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/bmw/statemachine/ErrorHandler.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/bmw/statemachine/GoRunningHandler.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/bmw/statemachine/GoStoppedHandler.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/bmw/statemachine/RunningHandler.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/bmw/statemachine/UndefinedHandler.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/cluster/common/AbstractBatteryFeneconF2bCluster.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/cluster/common/BatteryFeneconF2bCluster.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/cluster/common/ChannelManager.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/cluster/common/package-info.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/cluster/common/statemachine/ErrorHandler.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/cluster/common/statemachine/GoRunningHandler.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/cluster/common/statemachine/GoStoppedHandler.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/cluster/common/statemachine/RunningHandler.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/cluster/common/statemachine/StoppedHandler.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/cluster/common/statemachine/UndefinedHandler.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/cluster/parallel/BatteryFeneconF2bClusterParallel.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/cluster/parallel/BatteryFeneconF2bClusterParallelImpl.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/cluster/parallel/ParallelChannelManager.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/cluster/serial/BatteryFeneconF2bClusterSerial.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/cluster/serial/BatteryFeneconF2bClusterSerialImpl.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/cluster/serial/SerialChannelManager.java
  io.openems.edge.battery.fenecon.f2b/src/io/openems/edge/battery/fenecon/f2b/package-info.java
  io.openems.edge.battery.fenecon.f2b/test/io/openems/edge/battery/fenecon/f2b/cluster/parallel/BatteryFeneconF2bParallelClusterImplTest.java
  io.openems.edge.battery.fenecon.f2b/test/io/openems/edge/battery/fenecon/f2b/cluster/serial/BatteryFeneconF2bSerialClusterImplTest.java
  io.openems.edge.battery.fenecon.f2b/test/io/openems/edge/battery/fenecon/f2b/dummy/BatteryFeneconF2bDummy.java
  io.openems.edge.battery.fenecon.f2b/test/io/openems/edge/battery/fenecon/f2b/dummy/BatteryFeneconF2bDummyImpl.java
  io.openems.edge.battery.fenecon.f2b/test/io/openems/edge/battery/fenecon/f2b/dummy/statemachine/GoRunningHandler.java
Due: build-java, restore-cache, rebuild-cache

Fix checkstyle
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttUtils.java
Due: build-java, restore-cache, rebuild-cache

Fix JUnit test
  io.openems.edge.controller.api.mqtt/test/io/openems/edge/controller/api/mqtt/ControllerApiMqttImplTest.java
Due: build-java, restore-cache, rebuild-cache

Controller Api MQTT: add TLS support (#2459)
  cnf/pom.xml
  doc/modules/ROOT/pages/gettingstarted.adoc
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.api.mqtt/bnd.bnd
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/Config.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/ControllerApiMqttImpl.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttConnector.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttUtils.java
  io.openems.edge.controller.api.mqtt/test/io/openems/edge/controller/api/mqtt/ControllerApiMqttImplTest.java
  io.openems.edge.controller.api.mqtt/test/io/openems/edge/controller/api/mqtt/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

UI: add TOTAL to history periods (#996)
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/abstracthistorywidget.ts
  ui/src/app/edge/history/common/consumption/chart/channels.spec.ts
  ui/src/app/edge/history/common/consumption/chart/chart.spec.ts
  ui/src/app/edge/history/common/energy/chart/chart.spec.ts
  ui/src/app/edge/history/common/grid/chart/chart.spec.ts
  ui/src/app/edge/history/historydataservice.ts
  ui/src/app/edge/history/shared.ts
  ui/src/app/edge/history/timeofusetariffdischarge/chart.component.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/modal/predictionChart.ts
  ui/src/app/edge/live/common/autarchy/modal/modal.spec.ts
  ui/src/app/edge/live/common/consumption/modal/modal.spec.ts
  ui/src/app/edge/live/common/grid/modal/modal.spec.ts
  ui/src/app/edge/live/common/selfconsumption/modal/modal.spec.ts
  ui/src/app/edge/live/common/storage/storage.component.ts
  ui/src/app/edge/settings/homeassistent/homeassistent.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/shared/converter.ts
  ui/src/app/shared/genericComponents/shared/testing/tester.ts
  ui/src/app/shared/pickdate/pickdate.component.html
  ui/src/app/shared/pickdate/pickdate.component.spec.ts
  ui/src/app/shared/pickdate/pickdate.component.ts
  ui/src/app/shared/pickdate/popover/popover.component.html
  ui/src/app/shared/pickdate/popover/popover.component.ts
  ui/src/app/shared/service/defaulttypes.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/service/utils.spec.ts
  ui/src/app/shared/shared.spec.ts
  ui/src/app/shared/shared.ts
  ui/src/app/shared/test/utils.spec.ts
  ui/src/app/shared/utils/date/dateutils.spec.ts
  ui/src/app/shared/utils/date/dateutils.ts
  ui/src/app/shared/utils/datetime/datetime-utils.ts
  ui/src/app/shared/utils/time/timeutils.spec.ts
  ui/src/app/shared/utils/time/timeutils.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix checkstyle issues
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/Config.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2Battery.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2BatteryImpl.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2BatteryProtectionDefinition.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/statemachine/Context.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/statemachine/ErrorHandler.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/statemachine/GoStoppedHandler.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/statemachine/RunningHandler.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/statemachine/StateMachine.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/statemachine/StoppedHandler.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/statemachine/UndefinedHandler.java
  io.openems.edge.battery.pylontech/test/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2BatteryImplTest.java
  io.openems.edge.battery.pylontech/test/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2GenericEssIntegrationTest.java
  io.openems.edge.battery.pylontech/test/io/openems/edge/battery/pylontech/powercubem2/StatusAndVersionNumberTest.java
Due: build-java, restore-cache, rebuild-cache

Update modal-line.html
  ui/src/app/shared/genericComponents/modal/modal-line/modal-line.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update modal-line.ts
  ui/src/app/shared/genericComponents/modal/modal-line/modal-line.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

File path changes
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/ReadCsv.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/SaveModel.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/multithread/MulThrSeasonalityValidate.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/multithread/MultiThreadTrain.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/preprocessing/Suffle.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/train/LstmModelTrainImpl.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/train/MakeModel.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/validator/Validation.java
Due: build-java, restore-cache, rebuild-cache

UI: Fix Evcs status not being updated (#959)
  ui/src/app/edge/live/Controller/Evcs/flat/flat.ts
  ui/src/app/edge/live/Controller/Evcs/modal/modal.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

modal-line.ts edit INPUT control for optional properties unit
  ui/src/app/shared/genericComponents/modal/modal-line/modal-line.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update INPUT for optional unit
  ui/src/app/shared/genericComponents/modal/modal-line/modal-line.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Remove unwanted components
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.batteryinverter.cluster/.classpath
  io.openems.edge.batteryinverter.cluster/.gitignore
  io.openems.edge.batteryinverter.cluster/.project
  io.openems.edge.batteryinverter.cluster/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.batteryinverter.cluster/bnd.bnd
  io.openems.edge.batteryinverter.cluster/generated/buildfiles
  io.openems.edge.batteryinverter.cluster/generated/launch15389445011884078463.properties
  io.openems.edge.batteryinverter.cluster/readme.adoc
  io.openems.edge.batteryinverter.cluster/src/io/openems/edge/batteryinverter/cluster/BatteryInverterCluster.java
  io.openems.edge.batteryinverter.cluster/src/io/openems/edge/batteryinverter/cluster/BatteryInverterClusterImpl.java
  io.openems.edge.batteryinverter.cluster/src/io/openems/edge/batteryinverter/cluster/ChannelManager.java
  io.openems.edge.batteryinverter.cluster/src/io/openems/edge/batteryinverter/cluster/Config.java
  io.openems.edge.batteryinverter.cluster/test/io/openems/edge/batteryinverter/cluster/BatteryInverterClusterTest.java
  io.openems.edge.batteryinverter.cluster/test/io/openems/edge/batteryinverter/cluster/MyConfig.java
  io.openems.edge.ess.gridvolt.gridvolt1/.classpath
  io.openems.edge.ess.gridvolt.gridvolt1/.gitignore
  io.openems.edge.ess.gridvolt.gridvolt1/.project
  io.openems.edge.ess.gridvolt.gridvolt1/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.ess.gridvolt.gridvolt1/bnd.bnd
  io.openems.edge.ess.gridvolt.gridvolt1/readme.adoc
  io.openems.edge.ess.gridvolt.gridvolt1/src/io/openems/edge/ess/gridvolt/gridvolt1/Config.java
  io.openems.edge.ess.gridvolt.gridvolt1/src/io/openems/edge/ess/gridvolt/gridvolt1/GridVolt1.java
  io.openems.edge.ess.gridvolt.gridvolt1/src/io/openems/edge/ess/gridvolt/gridvolt1/GridVolt1Impl.java
  io.openems.edge.ess.gridvolt.gridvolt1/test/io/openems/edge/ess/gridvolt/gridvolt1/MyConfig.java
  io.openems.edge.ess.gridvolt.gridvolt1/test/io/openems/edge/ess/gridvolt/gridvolt1/MyDeviceTest.java
Due: build-java, restore-cache, rebuild-cache

Improve error handling for serial ports.
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/BridgeModbusSerialImpl.java
Due: build-java, restore-cache, rebuild-cache

Add wrapper for j2mod not bundled.
  io.openems.edge.bridge.modbus/bnd.bnd
  io.openems.wrapper/j2mod.bnd
Due: build-java, restore-cache, rebuild-cache

Update readme doc to mention the beta status and planned features
  io.openems.edge.evcs.spelsberg.smart/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Couple more checkstyle fixes
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2BatteryImpl.java
  io.openems.edge.battery.pylontech/test/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2GenericEssIntegrationTest.java
  io.openems.edge.battery.pylontech/test/io/openems/edge/battery/pylontech/powercubem2/StatusAndVersionNumberTest.java
Due: build-java, restore-cache, rebuild-cache

Applied suggestion of PR
  ui/src/app/shared/edge/edgeconfig.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

PylontechPowercubeM2: Rename alarm channels to warning
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2Battery.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2BatteryImpl.java
Due: build-java, restore-cache, rebuild-cache
