Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

Update README.md
  README.md
Due: none

start migrating chartjs to 4.4.0
  ui/package.json
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/common/energy/chart/chart.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/shared.ts
  ui/src/app/edge/live/Multiple/Evcs_Api_Cluster/modal/evcs-chart/evcs.chart.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.html
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/shared.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Revert "Update README.md"
  README.md
Due: none

AppCenter: FixActivePower App (#842)
  io.openems.edge.core/src/io/openems/edge/app/ess/FixActivePower.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
Due: build-java, restore-cache, rebuild-cache

UI: Refactor Soltaro Service Assistent to Commercialassistent and show it only for Commercials (#843)
  ui/src/app/edge/settings/settings.component.html
  ui/src/app/edge/settings/settings.component.ts
  ui/src/app/shared/shared.ts
  ui/src/themes/heckert/environments/theme.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Stringify values of formly field type text (#829)
  ui/src/app/edge/settings/component/update/update.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Fallback path, navigation and home-service improvements (#818)
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/settings/homeassistent/homeassistent.html
  ui/src/app/edge/settings/homeassistent/homeassistent.ts
  ui/src/app/index/index.module.ts
  ui/src/app/index/login.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

AppCenter: add required property to AppDef (#838)
  io.openems.edge.core/src/io/openems/edge/app/api/ModbusTcpApiReadOnly.java
  io.openems.edge.core/src/io/openems/edge/app/api/ModbusTcpApiReadWrite.java
  io.openems.edge.core/src/io/openems/edge/app/api/RestJsonApiReadOnly.java
  io.openems.edge.core/src/io/openems/edge/app/common/props/CommonProps.java
  io.openems.edge.core/src/io/openems/edge/app/ess/PrepareBatteryExtension.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/DezonyEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/EvcsCluster.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/HardyBarthEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/IesKeywattEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/KebaEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/WebastoNextEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/WebastoUniteEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/hardware/KMtronic8Channel.java
  io.openems.edge.core/src/io/openems/edge/app/heat/HeatPump.java
  io.openems.edge.core/src/io/openems/edge/app/heat/HeatingElement.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome20.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome30.java
  io.openems.edge.core/src/io/openems/edge/app/meter/JanitzaMeter.java
  io.openems.edge.core/src/io/openems/edge/app/meter/KdkMeter.java
  io.openems.edge.core/src/io/openems/edge/app/meter/MicrocareSdm630Meter.java
  io.openems.edge.core/src/io/openems/edge/app/meter/SocomecMeter.java
  io.openems.edge.core/src/io/openems/edge/app/peakshaving/PeakShaving.java
  io.openems.edge.core/src/io/openems/edge/app/peakshaving/PhaseAccuratePeakShaving.java
  io.openems.edge.core/src/io/openems/edge/app/pvinverter/SmaPvInverter.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppDef.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppDefTest.java
Due: build-java, restore-cache, rebuild-cache

UI: fix links to documentation (#804)
  ui/src/app/edge/live/Controller/Io/HeatingElement/modal/modal.html
  ui/src/app/edge/settings/profile/profile.component.html
  ui/src/app/shared/genericComponents/modal/help-button/help-button.html
  ui/src/app/shared/service/service.ts
  ui/src/environments/index.ts
  ui/src/themes/fenecon/environments/theme.ts
  ui/src/themes/heckert/environments/theme.ts
  ui/src/themes/openems/environments/theme.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

continue migration
  ui/src/app/edge/history/common/energy/chart/chart.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.html
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Push version to 2023.10.1
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2023.10.1-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix fems-release script, snapshot version & changelog typos
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  tools/fems-release.sh
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

WIP
  ui/src/app/edge/history/common/energy/chart/chart.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

WIP
  ui/src/app/edge/history/common/energy/chart/chart.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Bugfix in Export Environment Interface
  ui/src/environments/index.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Edge: change firstSetupProtocol from being today to null (#844)
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/Utils.java
Due: build-java, restore-cache, rebuild-cache

Push version to 2023.10.2
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2023.10.3-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Introduce _sum/UnmanagedConsumptionActivePower
  io.openems.edge.common/src/io/openems/edge/common/sum/Sum.java
  io.openems.edge.core/bnd.bnd
  io.openems.edge.core/src/io/openems/edge/core/predictormanager/PredictorManagerImpl.java
  io.openems.edge.core/src/io/openems/edge/core/sum/SumImpl.java
  io.openems.edge.core/test/io/openems/edge/core/predictormanager/MyConfig.java
  io.openems.edge.core/test/io/openems/edge/core/predictormanager/PredictorManagerImplTest.java
  io.openems.edge.predictor.persistencemodel/src/io/openems/edge/predictor/persistencemodel/Config.java
  io.openems.edge.predictor.similardaymodel/src/io/openems/edge/predictor/similardaymodel/Config.java
Due: build-java, restore-cache, rebuild-cache

PhoenixContact Meter: add invert option
  io.openems.edge.meter.phoenixcontact/src/io/openems/edge/meter/phoenixcontact/Config.java
  io.openems.edge.meter.phoenixcontact/src/io/openems/edge/meter/phoenixcontact/PhoenixContactMeter.java
  io.openems.edge.meter.phoenixcontact/src/io/openems/edge/meter/phoenixcontact/PhoenixContactMeterImpl.java
  io.openems.edge.meter.phoenixcontact/test/io/openems/edge/meter/phoenixcontact/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

SunSpec: dynamic scale-factors
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/element/AbstractModbusElement.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractReadTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/SunSpecPoint.java
Due: build-java, restore-cache, rebuild-cache

AppCenter: add required property to AppDef
  io.openems.edge.core/src/io/openems/edge/app/api/ModbusTcpApiReadOnly.java
  io.openems.edge.core/src/io/openems/edge/app/api/ModbusTcpApiReadWrite.java
  io.openems.edge.core/src/io/openems/edge/app/api/RestJsonApiReadOnly.java
  io.openems.edge.core/src/io/openems/edge/app/common/props/CommonProps.java
  io.openems.edge.core/src/io/openems/edge/app/ess/PrepareBatteryExtension.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/DezonyEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/EvcsCluster.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/HardyBarthEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/IesKeywattEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/KebaEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/hardware/KMtronic8Channel.java
  io.openems.edge.core/src/io/openems/edge/app/heat/HeatPump.java
  io.openems.edge.core/src/io/openems/edge/app/heat/HeatingElement.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome20.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome30.java
  io.openems.edge.core/src/io/openems/edge/app/meter/JanitzaMeter.java
  io.openems.edge.core/src/io/openems/edge/app/meter/KdkMeter.java
  io.openems.edge.core/src/io/openems/edge/app/meter/MicrocareSdm630Meter.java
  io.openems.edge.core/src/io/openems/edge/app/meter/SocomecMeter.java
  io.openems.edge.core/src/io/openems/edge/app/peakshaving/PeakShaving.java
  io.openems.edge.core/src/io/openems/edge/app/peakshaving/PhaseAccuratePeakShaving.java
  io.openems.edge.core/src/io/openems/edge/app/pvinverter/SmaPvInverter.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppDef.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppDefTest.java
Due: build-java, restore-cache, rebuild-cache

ESS Cluster: Calculate effective start stop
  io.openems.edge.ess.api/src/io/openems/edge/ess/test/DummyManagedAsymmetricEss.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/test/DummyManagedSymmetricEss.java
  io.openems.edge.ess.cluster/src/io/openems/edge/ess/cluster/ChannelManager.java
  io.openems.edge.ess.cluster/src/io/openems/edge/ess/cluster/EssCluster.java
  io.openems.edge.ess.cluster/src/io/openems/edge/ess/cluster/EssClusterImpl.java
  io.openems.edge.ess.cluster/test/io/openems/edge/ess/cluster/EssClusterImplTest.java
Due: build-java, restore-cache, rebuild-cache

Alpitronic Hypercharger: fix energy `null` vs 0
  io.openems.edge.evcs.alpitronic.hypercharger/src/io/openems/edge/evcs/hypercharger/EvcsAlpitronicHyperchargerImpl.java
Due: build-java, restore-cache, rebuild-cache

Implement F&F Filipowski MR-AO-1 + Analog Output Controller
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.io.analog/.classpath
  io.openems.edge.controller.io.analog/.gitignore
  io.openems.edge.controller.io.analog/.project
  io.openems.edge.controller.io.analog/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.controller.io.analog/bnd.bnd
  io.openems.edge.controller.io.analog/readme.adoc
  io.openems.edge.controller.io.analog/src/io/openems/edge/controller/io/analog/Config.java
  io.openems.edge.controller.io.analog/src/io/openems/edge/controller/io/analog/ControllerIoAnalog.java
  io.openems.edge.controller.io.analog/src/io/openems/edge/controller/io/analog/ControllerIoAnalogImpl.java
  io.openems.edge.controller.io.analog/src/io/openems/edge/controller/io/analog/Mode.java
  io.openems.edge.controller.io.analog/src/io/openems/edge/controller/io/analog/PowerBehavior.java
  io.openems.edge.controller.io.analog/test/.gitignore
  io.openems.edge.controller.io.analog/test/io/openems/edge/controller/io/analog/MyConfig.java
  io.openems.edge.controller.io.analog/test/io/openems/edge/controller/io/analog/MyControllerTest.java
  io.openems.edge.controller.io.analog/test/io/openems/edge/controller/io/analog/TestStatic.java
  io.openems.edge.io.api/src/io/openems/edge/io/api/AnalogOutput.java
  io.openems.edge.io.api/src/io/openems/edge/io/api/AnalogVoltageOutput.java
  io.openems.edge.io.api/src/io/openems/edge/io/test/DummyAnalogVoltageOutput.java
  io.openems.edge.io.filipowski/.classpath
  io.openems.edge.io.filipowski/.gitignore
  io.openems.edge.io.filipowski/.project
  io.openems.edge.io.filipowski/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.io.filipowski/bnd.bnd
  io.openems.edge.io.filipowski/readme.adoc
  io.openems.edge.io.filipowski/src/io/openems/edge/io/filipowski/analog/mr/AnalogOutput.java
  io.openems.edge.io.filipowski/src/io/openems/edge/io/filipowski/analog/mr/Config.java
  io.openems.edge.io.filipowski/src/io/openems/edge/io/filipowski/analog/mr/IoFilipowskiMrAo1.java
  io.openems.edge.io.filipowski/src/io/openems/edge/io/filipowski/analog/mr/IoFilipowskiMrAo1Impl.java
  io.openems.edge.io.filipowski/test/.gitignore
  io.openems.edge.io.filipowski/test/io/openems/edge/io/filipowski/analog/mr/IoFilipowskiMrAo1ImplTest.java
  io.openems.edge.io.filipowski/test/io/openems/edge/io/filipowski/analog/mr/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

ControllerEssGridOptimizedCharge, IoShelly25, IoShellyPlug: set persistence priority to high for some channels
  io.openems.edge.controller.ess.gridoptimizedcharge/src/io/openems/edge/controller/ess/gridoptimizedcharge/ControllerEssGridOptimizedCharge.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly25/IoShelly25.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/IoShellyPlug.java
Due: build-java, restore-cache, rebuild-cache

Edge: change firstSetupProtocol from being today to null
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/Utils.java
Due: build-java, restore-cache, rebuild-cache

AppCenter: FixActivePower App
  io.openems.edge.core/src/io/openems/edge/app/ess/FixActivePower.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
Due: build-java, restore-cache, rebuild-cache

UI: Stringify values of formly field type text
  ui/src/app/edge/settings/component/update/update.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Manual diff
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
  tools/build-debian-package.sh
  tools/common.sh
  tools/prepare-release.sh
Due: build-java, restore-cache, rebuild-cache

UI: Restrict Queries before IBN-Date
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/abstracthistorywidget.ts
  ui/src/app/edge/history/historydataservice.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/pickdate/pickdate.component.html
  ui/src/app/shared/pickdate/pickdate.component.spec.ts
  ui/src/app/shared/pickdate/pickdate.component.ts
  ui/src/app/shared/pickdate/popover/popover.component.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/utils/dateutils/dateutils.spec.ts
  ui/src/app/shared/utils/dateutils/dateutils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Manual diff for UI
  ui/karma.conf.local.js
  ui/package-lock.json
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/live/Controller/Io/HeatingElement/modal/modal.html
  ui/src/app/edge/settings/profile/profile.component.html
  ui/src/app/index/index.module.ts
  ui/src/app/index/login.component.html
  ui/src/app/index/login.component.ts
  ui/src/app/index/login.spec.ts
  ui/src/app/shared/formly/formly-field-checkbox-image/formly-field-checkbox-with-image.html
  ui/src/app/shared/formly/formly-field-checkbox-image/formly-field-checkbox-with-image.ts
  ui/src/app/shared/genericComponents/modal/help-button/help-button.html
  ui/src/app/shared/genericComponents/shared/formatter.ts
  ui/src/app/shared/header/header.component.ts
  ui/src/app/shared/shared.module.ts
  ui/src/app/shared/status/single/status.component.html
  ui/src/assets/i18n/cz.json
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/es.json
  ui/src/assets/i18n/fr.json
  ui/src/assets/i18n/nl.json
  ui/src/environments/index.ts
  ui/src/themes/openems/environments/theme.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Bugfix for ENTSO-E
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Config.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Token.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoeImpl.java
Due: build-java, restore-cache, rebuild-cache

Add Webasto Apps
  io.openems.edge.core/src/io/openems/edge/app/enums/OptionsFactory.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/WebastoNextEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/WebastoUniteEvcs.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/TranslationUtil.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/formly/builder/SelectBuilder.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppDefTest.java
Due: build-java, restore-cache, rebuild-cache

Fix build
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Token.java
  ui/src/themes/openems/environments/theme.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

json api request response
  io.openems.common/src/io/openems/common/jsonrpc/request/SetActivateFastFreqReserveRequest.java
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.ess.fastfrequencyreserve/src/io/openems/edge/controller/ess/fastfrequencyreserve/FastFrequencyReserveImpl.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/meter/grid/acting/SimulatorGridMeterActingImpl.java
Due: build-java, restore-cache, rebuild-cache

Home 20 & 30: adjust capacity per module for 64Ah battery (#845)
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeHardwareType.java
Due: build-java, restore-cache, rebuild-cache

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
