Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

Organize Imports & Autoformat
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooHandler.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/postgres/PostgresHandler.java
  io.openems.edge.battery.soltaro/src/io/openems/edge/battery/soltaro/single/versionb/statemachine/Context.java
  io.openems.edge.battery.soltaro/src/io/openems/edge/battery/soltaro/single/versionc/statemachine/Context.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/Context.java
  io.openems.edge.batteryinverter.refu88k/src/io/openems/edge/batteryinverter/refu88k/statemachine/Context.java
  io.openems.edge.batteryinverter.sinexcel/src/io/openems/edge/batteryinverter/sinexcel/statemachine/Context.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/ConversionTest.java
  io.openems.edge.controller.ess.gridoptimizedcharge/test/io/openems/edge/controller/ess/gridoptimizedcharge/ControllerEssGridOptimizedChargeImplTest.java
  io.openems.edge.controller.ess.standby/src/io/openems/edge/controller/ess/standby/statemachine/SlowChargeUtils.java
  io.openems.edge.controller.symmetric.fixreactivepower/test/io/openems/edge/controller/symmetric/fixreactivepower/MyConfig.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shelly25/MyConfig.java
  io.openems.edge.meter.discovergy/test/io/openems/edge/meter/discovergy/MeterDiscovergyImplTest.java
  io.openems.edge.meter.kdk/test/io/openems/edge/meter/kdk/puct2/MeterKdk2puctImplTest.java
  io.openems.edge.pvinverter.cluster/test/io/openems/edge/pvinverter/cluster/MyConfig.java
  io.openems.edge.simulator/test/io/openems/edge/simulator/ess/singlephase/reacting/MyConfig.java
  io.openems.edge.tesla.powerwall2/test/io/openems/edge/tesla/powerwall2/core/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Fix JUnit test
  io.openems.edge.timedata.influxdb/bnd.bnd
  io.openems.edge.timedata.influxdb/test/io/openems/edge/timedata/influxdb/TimedataInfluxDbImplTest.java
Due: build-java, restore-cache, rebuild-cache

Update GenericHttpWorker.java
  io.openems.common/src/io/openems/common/worker/GenericHttpWorker.java
Due: build-java, restore-cache, rebuild-cache

start refactroing of singlethreshold
  ui/src/app/app.component.ts
  ui/src/app/edge/history/Controller/SingleThreshold/SingleThreshold.ts
  ui/src/app/edge/history/Controller/SingleThreshold/chart/chart.ts
  ui/src/app/edge/history/Controller/SingleThreshold/flat/flat.html
  ui/src/app/edge/history/Controller/SingleThreshold/flat/flat.ts
  ui/src/app/edge/history/Controller/SingleThreshold/overview/overview.html
  ui/src/app/edge/history/Controller/SingleThreshold/overview/overview.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/history.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix WhitespaceAround issue
  io.openems.backend.core/src/io/openems/backend/core/jsonrpcrequesthandler/CoreJsonRpcRequestHandlerImpl.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/OnNotification.java
  io.openems.common/src/io/openems/common/session/Role.java
  io.openems.common/src/io/openems/common/types/EdgeConfig.java
  io.openems.common/src/io/openems/common/types/EdgeConfigDiff.java
  io.openems.common/src/io/openems/common/utils/JsonUtils.java
  io.openems.edge.battery.soltaro/src/io/openems/edge/battery/soltaro/single/versionb/SingleRackVersionBImpl.java
  io.openems.edge.battery.soltaro/src/io/openems/edge/battery/soltaro/single/versionc/SingleRackVersionCImpl.java
Due: build-java, restore-cache, rebuild-cache

Refactor WhitespaceAround for consistent spacing
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooUtils.java
  io.openems.backend.timedata.timescaledb/src/io/openems/backend/timedata/timescaledb/internal/write/QueueHandler.java
Due: build-java, restore-cache, rebuild-cache

Fix WhitespaceAround formatting issue
  io.openems.backend.timedata.timescaledb/test/io/openems/backend/timedata/utils/AbstractComponentConfig.java
Due: build-java, restore-cache, rebuild-cache

WhitespaceAround issue
  io.openems.backend.timedata.timescaledb/test/io/openems/backend/timedata/utils/AbstractComponentConfig.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/OnNotification.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/OnRequest.java
Due: build-java, restore-cache, rebuild-cache

Fix issue with METHOD_DEF
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/QueryProxy.java
Due: build-java, restore-cache, rebuild-cache

refactor Singlethreshold controller
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/Controller/SingleThreshold/chart/chart.ts
  ui/src/app/edge/history/Controller/SingleThreshold/flat/flat.html
  ui/src/app/edge/history/Controller/SingleThreshold/flat/flat.ts
  ui/src/app/edge/history/Controller/SingleThreshold/overview/overview.html
  ui/src/app/edge/history/Controller/SingleThreshold/overview/overview.ts
  ui/src/app/shared/genericComponents/chart/abstractHistoryChartOverview.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: eslint rule for unused imports (#668)
  ui/.eslintrc.json
  ui/package-lock.json
  ui/package.json
  ui/src/app/edge/history/peakshaving/symmetric/widget.component.ts
  ui/src/app/edge/history/peakshaving/timeslot/widget.component.ts
  ui/src/app/edge/installation/installation-systems/abstract-ibn.ts
  ui/src/app/edge/installation/installation.component.ts
  ui/src/app/edge/installation/views/configuration-commercial-modbusbridge/configuration-commercial-modbusbridge.ts
  ui/src/app/edge/installation/views/protocol-pv/protocol-pv.component.ts
  ui/src/app/edge/live/Controller/Io/HeatingElement/flat/flat.ts
  ui/src/app/edge/live/common/production/flat/flat.ts
  ui/src/app/edge/live/common/production/modal/modal.ts
  ui/src/app/edge/settings/app/app.module.ts
  ui/src/app/edge/settings/app/formly/formly-text.ts
  ui/src/app/edge/settings/app/formly/input-with-unit.ts
  ui/src/app/edge/settings/app/jsonrpc/updateAppInstance.ts
  ui/src/app/edge/settings/app/keypopup/appCenterInstallAppWithSuppliedKey.ts
  ui/src/app/edge/settings/app/keypopup/appCenterIsAppFree.ts
  ui/src/app/edge/settings/app/keypopup/modal.component.ts
  ui/src/app/edge/settings/profile/profile.component.ts
  ui/src/app/edge/settings/settings.component.ts
  ui/src/app/edge/settings/systemupdate/systemupdate.component.ts
  ui/src/app/shared/edge/meter/asymmetric/modal.component.ts
  ui/src/app/shared/formly/formly-field-radio-with-image/formly-field-radio-with-image.ts
  ui/src/app/shared/formly/formly-select-field.extended.ts
  ui/src/app/shared/formly/panel-wrapper.component.ts
  ui/src/app/shared/genericComponents/abstracthistorywidget.ts
  ui/src/app/shared/jsonrpc/request/get24HoursPredictionRequest.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesDataRequest.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesEnergyPerPeriodRequest.ts
  ui/src/app/shared/jsonrpc/request/subscribeEdgesRequest.ts
  ui/src/app/shared/jsonrpc/response/addEdgeToUserResponse.ts
  ui/src/app/shared/jsonrpc/response/edgeRpcResponse.ts
  ui/src/app/shared/service/pagination.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: add ESlint rule for unused imports
  ui/.eslintrc.json
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
  ui/src/app/edge/history/peakshaving/symmetric/widget.component.ts
  ui/src/app/edge/history/peakshaving/timeslot/widget.component.ts
  ui/src/app/edge/live/Controller/Io/HeatingElement/flat/flat.ts
  ui/src/app/edge/live/common/production/flat/flat.ts
  ui/src/app/edge/live/common/production/modal/modal.ts
  ui/src/app/edge/settings/app/app.module.ts
  ui/src/app/edge/settings/app/formly/formly-text.ts
  ui/src/app/edge/settings/app/formly/input-with-unit.ts
  ui/src/app/edge/settings/app/jsonrpc/updateAppInstance.ts
  ui/src/app/edge/settings/app/keypopup/appCenterInstallAppWithSuppliedKey.ts
  ui/src/app/edge/settings/app/keypopup/appCenterIsAppFree.ts
  ui/src/app/edge/settings/app/keypopup/modal.component.ts
  ui/src/app/edge/settings/profile/profile.component.ts
  ui/src/app/edge/settings/settings.component.ts
  ui/src/app/edge/settings/systemupdate/systemupdate.component.ts
  ui/src/app/shared/edge/meter/asymmetric/modal.component.ts
  ui/src/app/shared/formly/formly-field-radio-with-image/formly-field-radio-with-image.ts
  ui/src/app/shared/formly/formly-select-field.extended.ts
  ui/src/app/shared/formly/panel-wrapper.component.ts
  ui/src/app/shared/genericComponents/abstracthistorywidget.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/jsonrpc/request/get24HoursPredictionRequest.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesDataRequest.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesEnergyPerPeriodRequest.ts
  ui/src/app/shared/jsonrpc/request/subscribeEdgesRequest.ts
  ui/src/app/shared/jsonrpc/response/addEdgeToUserResponse.ts
  ui/src/app/shared/jsonrpc/response/edgeRpcResponse.ts
  ui/src/app/shared/service/pagination.ts
  ui/src/app/shared/type/widget.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: add ESlint rule for unused imports (#2221)
  ui/.eslintrc.json
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
  ui/src/app/edge/history/peakshaving/symmetric/widget.component.ts
  ui/src/app/edge/history/peakshaving/timeslot/widget.component.ts
  ui/src/app/edge/live/Controller/Io/HeatingElement/flat/flat.ts
  ui/src/app/edge/live/common/production/flat/flat.ts
  ui/src/app/edge/live/common/production/modal/modal.ts
  ui/src/app/edge/settings/app/app.module.ts
  ui/src/app/edge/settings/app/formly/formly-text.ts
  ui/src/app/edge/settings/app/formly/input-with-unit.ts
  ui/src/app/edge/settings/app/jsonrpc/updateAppInstance.ts
  ui/src/app/edge/settings/app/keypopup/appCenterInstallAppWithSuppliedKey.ts
  ui/src/app/edge/settings/app/keypopup/appCenterIsAppFree.ts
  ui/src/app/edge/settings/app/keypopup/modal.component.ts
  ui/src/app/edge/settings/profile/profile.component.ts
  ui/src/app/edge/settings/settings.component.ts
  ui/src/app/edge/settings/systemupdate/systemupdate.component.ts
  ui/src/app/shared/edge/meter/asymmetric/modal.component.ts
  ui/src/app/shared/formly/formly-field-radio-with-image/formly-field-radio-with-image.ts
  ui/src/app/shared/formly/formly-select-field.extended.ts
  ui/src/app/shared/formly/panel-wrapper.component.ts
  ui/src/app/shared/genericComponents/abstracthistorywidget.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/jsonrpc/request/get24HoursPredictionRequest.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesDataRequest.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesEnergyPerPeriodRequest.ts
  ui/src/app/shared/jsonrpc/request/subscribeEdgesRequest.ts
  ui/src/app/shared/jsonrpc/response/addEdgeToUserResponse.ts
  ui/src/app/shared/jsonrpc/response/edgeRpcResponse.ts
  ui/src/app/shared/service/pagination.ts
  ui/src/app/shared/type/widget.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: remove not working thisComponent from CurrentData (#680)
  ui/src/app/edge/history/historydataservice.ts
  ui/src/app/edge/live/Controller/Ess/FixActivePower/flat/flat.ts
  ui/src/app/edge/live/Controller/Ess/FixActivePower/modal/modal.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/flat/flat.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/modal/modal.ts
  ui/src/app/edge/live/Controller/Io/HeatingElement/flat/flat.ts
  ui/src/app/edge/live/Controller/Io/HeatingElement/modal/modal.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/Io_Heatpump.ts
  ui/src/app/edge/live/livedataservice.ts
  ui/src/app/shared/genericComponents/chart/abstractHistoryChartOverview.ts
  ui/src/app/shared/genericComponents/modal/abstract-modal-line.ts
  ui/src/app/shared/genericComponents/modal/abstractModal.ts
  ui/src/app/shared/genericComponents/shared/dataservice.ts
  ui/src/app/shared/type/currentdata.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix JUnit test
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImplTest.java
Due: build-java, restore-cache, rebuild-cache

Fix JUnit test
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg511/MeterJanitzaUmg511Impl.java
Due: build-java, restore-cache, rebuild-cache

Cleanup
  io.openems.edge.controller.symmetric.balancing/src/io/openems/edge/controller/symmetric/balancing/Balancing.java
Due: build-java, restore-cache, rebuild-cache

Add SinglePhaseMeter::calculateSinglePhaseFromActivePower; improve docs
  doc/modules/ROOT/pages/edge/implement.adoc
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImpl.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/SinglePhaseMeter.java
Due: build-java, restore-cache, rebuild-cache

Review
  io.openems.edge.meter.abb/src/io/openems/edge/meter/abb/b32/MeterAbbB23Impl.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/ElectricityMeter.java
  io.openems.edge.meter.plexlog/src/io/openems/edge/meter/plexlog/MeterPlexlogDataloggerImpl.java
  io.openems.edge.meter.virtual/src/io/openems/edge/meter/virtual/add/MeterVirtualAddImpl.java
  io.openems.edge.timedata.api/src/io/openems/edge/timedata/api/utils/CalculateEnergyFromPower.java
  ui/src/app/edge/history/consumption/consumptionchartoverview/consumptionchartoverview.component.ts
  ui/src/app/edge/history/consumption/meterchart.component.ts
  ui/src/app/edge/history/consumption/otherchart.component.ts
  ui/src/app/edge/history/consumption/singlechart.component.ts
  ui/src/app/edge/history/consumption/totalchart.component.ts
  ui/src/app/edge/history/production/productionchartoverview/productionchartoverview.component.html
  ui/src/app/edge/history/production/productionchartoverview/productionchartoverview.component.ts
  ui/src/app/edge/history/production/totalchart.ts
  ui/src/app/edge/history/production/widget.component.ts
  ui/src/app/shared/edge/edgeconfig.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix translation issues
  ui/src/app/edge/history/channelthreshold/channelthresholdchartoverview/channelthresholdchartoverview.component.html
  ui/src/app/edge/history/common/production/overview/overview.html
  ui/src/app/edge/history/consumption/consumptionchartoverview/consumptionchartoverview.component.html
  ui/src/app/edge/history/consumption/totalchart.component.ts
  ui/src/app/edge/history/fixdigitaloutput/fixdigitaloutputchartoverview/fixdigitaloutputchartoverview.component.html
  ui/src/app/edge/history/storage/socchart.component.ts
  ui/src/app/edge/history/storage/storagechartoverview/storagechartoverview.component.html
  ui/src/app/edge/history/storage/totalchart.component.ts
  ui/src/app/edge/live/common/consumption/modal/modal.html
  ui/src/app/edge/live/common/production/modal/modal.html
  ui/src/app/edge/live/common/storage/modal/modal.component.html
  ui/src/app/shared/chartoptions/popover/popover.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Simulator.GridMeter.Reacting: add voltage and current - sum and per phase
  io.openems.edge.simulator/src/io/openems/edge/simulator/Constants.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/meter/grid/reacting/SimulatorGridMeterReactingImpl.java
Due: build-java, restore-cache, rebuild-cache

UI: do not hide negative current per phase
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Quick fix for Simulator.Evcs
  io.openems.edge.simulator/src/io/openems/edge/simulator/evcs/SimulatorEvcsImpl.java
Due: build-java, restore-cache, rebuild-cache

Implement ElectricityMeter.getModbusSlaveNatureTable()
  io.openems.edge.controller.api.rest/readme.adoc
  io.openems.edge.kaco.blueplanet.hybrid10/src/io/openems/edge/kaco/blueplanet/hybrid10/pvinverter/KacoBlueplanetHybrid10PvInverterImpl.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/ElectricityMeter.java
  io.openems.edge.meter.virtual/src/io/openems/edge/meter/virtual/add/MeterVirtualAddImpl.java
  io.openems.edge.meter.virtual/src/io/openems/edge/meter/virtual/subtract/VirtualSubtractMeterImpl.java
  io.openems.edge.meter.weidmueller/src/io/openems/edge/meter/weidmueller/MeterWeidmueller525Impl.java
  io.openems.edge.pvinverter.cluster/src/io/openems/edge/pvinverter/cluster/PvInverterClusterImpl.java
  io.openems.edge.pvinverter.fronius/src/io/openems/edge/pvinverter/fronius/PvInverterFroniusImpl.java
  io.openems.edge.pvinverter.kaco.blueplanet/src/io/openems/edge/pvinverter/kaco/blueplanet/PvInverterKacoBlueplanetImpl.java
  io.openems.edge.pvinverter.kostal/src/io/openems/edge/pvinverter/kostal/PvInverterKostalImpl.java
  io.openems.edge.pvinverter.sma/src/io/openems/edge/pvinverter/sma/PvInverterSmaSunnyTripowerImpl.java
  io.openems.edge.pvinverter.solarlog/src/io/openems/edge/pvinverter/solarlog/PvInverterSolarlogImpl.java
Due: build-java, restore-cache, rebuild-cache

Fix Checkstyle🤦‍
  io.openems.edge.simulator/src/io/openems/edge/simulator/Constants.java
Due: build-java, restore-cache, rebuild-cache

UI: Cleanup (#682)
  ui/src/app/app.component.ts
  ui/src/app/app.module.ts
  ui/src/app/shared/edge/edgeconfig.ts
  ui/src/app/shared/genericComponents/abstracthistorywidget.ts
  ui/src/app/shared/genericComponents/chart/abstractHistoryChartOverview.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix liniting issues
  ui/src/app/edge/live/common/consumption/flat/flat.ts
  ui/src/app/edge/live/common/consumption/modal/modal.ts
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/edge/live/common/production/modal/modal.ts
  ui/src/app/shared/edge/edgeconfig.ts
  ui/src/app/shared/edge/meter/meter.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add electricity meter to natures in unittest fix liniting
  ui/src/app/edge/live/common/consumption/flat/flat.ts
  ui/src/app/edge/live/common/consumption/modal/modal.ts
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/edge/live/common/production/modal/modal.ts
  ui/src/app/shared/decorators.ts
  ui/src/app/shared/genericComponents/modal/abstract-modal-line.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/shared.module.ts
  ui/src/app/shared/test/testsystems/testsystems.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

dummy state machine update
  io.openems.edge.battery.api/src/io/openems/edge/battery/dummy/DummyBatteryImpl.java
  io.openems.edge.battery.api/src/io/openems/edge/battery/statemachine/ErrorHandler.java
  io.openems.edge.battery.api/src/io/openems/edge/battery/statemachine/GoRunningHandler.java
  io.openems.edge.battery.api/src/io/openems/edge/battery/statemachine/RunningHandler.java
  io.openems.edge.battery.api/src/io/openems/edge/battery/statemachine/StoppedHandler.java
  io.openems.edge.battery.api/src/io/openems/edge/battery/statemachine/UndefinedHandler.java
Due: build-java, restore-cache, rebuild-cache

UI: Add AdvertWidget for 'Extended Warranty' (#681)
  ui/src/app/edge/live/advertisement/advertisement.component.html
  ui/src/app/edge/live/advertisement/advertisement.module.ts
  ui/src/app/edge/live/advertisement/alerting/alerting.html
  ui/src/app/edge/live/advertisement/alerting/alerting.ts
  ui/src/app/edge/live/advertisement/avu/feneconAvu.html
  ui/src/app/edge/live/advertisement/avu/feneconAvu.ts
  ui/src/app/edge/live/advertisement/extended-warranty/extended-warranty.html
  ui/src/app/edge/live/advertisement/extended-warranty/extended-warranty.ts
  ui/src/app/edge/live/advertisement/feneconHomeExtension/feneconHomeExtension.html
  ui/src/app/edge/live/advertisement/feneconHomeExtension/feneconHomeExtension.ts
  ui/src/app/shared/type/widget.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: refactor not assigned concatenate returned value to array.push (#684)
  ui/src/app/shared/edge/edgeconfig.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Renamed title to "FEMS App Center" instead of "FEMS Apps" (#683)
  ui/src/app/edge/settings/app/index.component.ts
  ui/src/app/edge/settings/settings.component.html
  ui/src/app/shared/service/service.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

dummy battery test
  io.openems.edge.battery.api/test/io/openems/edge/battery/dummy/StateMachineTest.java
Due: build-java, restore-cache, rebuild-cache

Fix CI Build; cleanup wrong merge from OpenEMS/develop
  io.openems.edge.bosch.bpts5hybrid/src/io/openems/edge/bosch/bpts5hybrid/core/BoschBpts5HybridCoreImpl.java
  io.openems.edge.bosch.bpts5hybrid/src/io/openems/edge/bosch/bpts5hybrid/ess/BoschBpts5HybridEss.java
  io.openems.edge.bosch.bpts5hybrid/src/io/openems/edge/bosch/bpts5hybrid/ess/BoschBpts5HybridEssImpl.java
  io.openems.edge.bosch.bpts5hybrid/src/io/openems/edge/bosch/bpts5hybrid/meter/BoschBpts5HybridMeter.java
  io.openems.edge.bosch.bpts5hybrid/src/io/openems/edge/bosch/bpts5hybrid/meter/BoschBpts5HybridMeterImpl.java
  io.openems.edge.bosch.bpts5hybrid/src/io/openems/edge/bosch/bpts5hybrid/pv/BoschBpts5HybridPv.java
  io.openems.edge.bosch.bpts5hybrid/src/io/openems/edge/bosch/bpts5hybrid/pv/BoschBpts5HybridPvImpl.java
  io.openems.edge.bosch.bpts5hybrid/test/io/openems/edge/bosch/bpts5hybrid/core/MyConfig.java
  io.openems.edge.bosch.bpts5hybrid/test/io/openems/edge/bosch/bpts5hybrid/ess/BoschBpts5HybridEssTest.java
  io.openems.edge.bosch.bpts5hybrid/test/io/openems/edge/bosch/bpts5hybrid/ess/MyConfig.java
  io.openems.edge.bosch.bpts5hybrid/test/io/openems/edge/bosch/bpts5hybrid/meter/BoschBpts5HybridMeterTest.java
  io.openems.edge.bosch.bpts5hybrid/test/io/openems/edge/bosch/bpts5hybrid/meter/MyConfig.java
  io.openems.edge.bosch.bpts5hybrid/test/io/openems/edge/bosch/bpts5hybrid/pv/BoschBpts5HybridPvTest.java
  io.openems.edge.bosch.bpts5hybrid/test/io/openems/edge/bosch/bpts5hybrid/pv/MyConfig.java
  io.openems.edge.bridge.mbus/src/io/openems/edge/bridge/mbus/BridgeMbusImpl.java
  io.openems.edge.bridge.mbus/src/io/openems/edge/bridge/mbus/api/ChannelDataRecordMapper.java
  io.openems.edge.bridge.mbus/src/io/openems/edge/bridge/mbus/api/ChannelRecord.java
  io.openems.edge.bridge.mbus/test/io/openems/edge/bridge/mbus/BridgeMbusImplTest.java
  io.openems.edge.bridge.mbus/test/io/openems/edge/bridge/mbus/MyConfig.java
  io.openems.edge.core/src/io/openems/edge/app/common/props/ComponentProps.java
  io.openems.edge.core/src/io/openems/edge/app/peakshaving/PeakShaving.java
  io.openems.edge.core/src/io/openems/edge/app/peakshaving/PhaseAccuratePeakShaving.java
  io.openems.edge.ess.adstec.storaxe/src/io/openems/edge/ess/adstec/storaxe/EssAdstecStoraxe.java
  io.openems.edge.ess.adstec.storaxe/src/io/openems/edge/ess/adstec/storaxe/EssAdstecStoraxeImpl.java
  io.openems.edge.ess.adstec.storaxe/test/io/openems/edge/ess/adstec/storaxe/EssAdstecStoraxeImplTest.java
  io.openems.edge.ess.adstec.storaxe/test/io/openems/edge/ess/adstec/storaxe/MyConfig.java
  io.openems.edge.meter.abb/src/io/openems/edge/meter/abb/b32/MeterAbbB23.java
  io.openems.edge.meter.abb/src/io/openems/edge/meter/abb/b32/MeterAbbB23Impl.java
  io.openems.edge.meter.abb/test/io/openems/edge/meter/abb/b32/MeterAbbB23ImplTest.java
  io.openems.edge.meter.abb/test/io/openems/edge/meter/abb/b32/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Update bnd + bndrun
  cnf/build.bnd
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache
