Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

[Edge] TimeOfUseTariff.OctopusGo/Heat: add ancillaryCosts (variable Netzentgelte)
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/AncillaryCosts.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/AncillaryCostsProps.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/EntsoE.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/TimeOfUseProps.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/manual/OctopusGo.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/manual/OctopusHeat.java
  io.openems.edge.timeofusetariff.api/src/io/openems/edge/timeofusetariff/api/AncillaryCosts.java
  io.openems.edge.timeofusetariff.manual/src/io/openems/edge/timeofusetariff/manual/octopus/Utils.java
  io.openems.edge.timeofusetariff.manual/src/io/openems/edge/timeofusetariff/manual/octopus/go/Config.java
  io.openems.edge.timeofusetariff.manual/src/io/openems/edge/timeofusetariff/manual/octopus/go/TouOctopusGoImpl.java
  io.openems.edge.timeofusetariff.manual/src/io/openems/edge/timeofusetariff/manual/octopus/heat/Config.java
  io.openems.edge.timeofusetariff.manual/src/io/openems/edge/timeofusetariff/manual/octopus/heat/TouOctopusHeatImpl.java
  io.openems.edge.timeofusetariff.manual/test/io/openems/edge/timeofusetariff/manual/UtilsTest.java
  io.openems.edge.timeofusetariff.manual/test/io/openems/edge/timeofusetariff/manual/octopus/go/MyConfig.java
  io.openems.edge.timeofusetariff.manual/test/io/openems/edge/timeofusetariff/manual/octopus/go/TouOctopusGoImplTest.java
  io.openems.edge.timeofusetariff.manual/test/io/openems/edge/timeofusetariff/manual/octopus/heat/MyConfig.java
  io.openems.edge.timeofusetariff.manual/test/io/openems/edge/timeofusetariff/manual/octopus/heat/TouOctopusHeatImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Evcs.Abl: implement ABL eM4 charging station (read-only)
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.core/src/io/openems/edge/app/enums/AblType.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/readonly/AblEvcsReadOnly.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
  io.openems.edge.evcs.abl/.classpath
  io.openems.edge.evcs.abl/.gitignore
  io.openems.edge.evcs.abl/.project
  io.openems.edge.evcs.abl/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.evcs.abl/bnd.bnd
  io.openems.edge.evcs.abl/readme.adoc
  io.openems.edge.evcs.abl/src/io/openems/edge/evcs/abl/AblStatus.java
  io.openems.edge.evcs.abl/src/io/openems/edge/evcs/abl/Config.java
  io.openems.edge.evcs.abl/src/io/openems/edge/evcs/abl/EvcsAbl.java
  io.openems.edge.evcs.abl/src/io/openems/edge/evcs/abl/EvcsAblImpl.java
  io.openems.edge.evcs.abl/src/io/openems/edge/evcs/abl/Plug.java
  io.openems.edge.evcs.abl/src/io/openems/edge/evcs/abl/StatusConverter.java
  io.openems.edge.evcs.abl/src/io/openems/edge/evcs/abl/translation_de.properties
  io.openems.edge.evcs.abl/src/io/openems/edge/evcs/abl/translation_en.properties
  io.openems.edge.evcs.abl/test/.gitignore
  io.openems.edge.evcs.abl/test/io/openems/edge/evcs/abl/EvcsAblImplTest.java
  io.openems.edge.evcs.abl/test/io/openems/edge/evcs/abl/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[Edge] DynamicDocText: fix failed Test
  io.openems.edge.common/src/io/openems/edge/common/channel/DynamicDocText.java
  io.openems.edge.common/test/io/openems/edge/common/doc/DocTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] fix formly-select with exactly one item
  ui/src/app/shared/components/formly/formly-select/formly-select.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Final review
  ui/ios/App/App/fenecon-beta-assets.xcassets/AppIcon.appiconset/Contents.json
  ui/ios/App/App/fenecon-beta-assets.xcassets/AppIcon.appiconset/app-icon-beta.png
  ui/ios/App/App/fenecon-beta-assets.xcassets/Contents.json
  ui/package-lock.json
  ui/package.json
  ui/src/app/edge/history/Controller/chp/soc/flat/flat.html
  ui/src/app/edge/live/advertisement/i18n/de.json
  ui/src/app/edge/live/advertisement/i18n/en.json
  ui/src/app/edge/live/live.component.html
  ui/src/app/edge/live/system/industrial/jsonrpc/essErrorAcknowledge.ts
  ui/src/app/edge/settings/energy-journey/shared/i18n/de.json
  ui/src/app/edge/settings/energy-journey/shared/i18n/en.json
  ui/src/app/index/filter/filter.component.ts
  ui/src/app/index/login.component.html
  ui/src/app/index/login.component.ts
  ui/src/app/index/registration/modal/modal.component.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/es.json
  ui/src/assets/i18n/fr.json
  ui/src/assets/i18n/nl.json
  ui/src/assets/img/home-mppt/Home_20_MPPT1.png
  ui/src/assets/img/home-mppt/Home_20_MPPT2.png
  ui/src/assets/img/home-mppt/Home_30_MPPT1.png
  ui/src/assets/img/home-mppt/Home_30_MPPT2.png
  ui/src/assets/img/home-mppt/Home_30_MPPT3.png
  ui/src/assets/img/ibn/feed-in-limit/dynamicExternalControl-de.png
  ui/src/assets/img/ibn/feed-in-limit/dynamicExternalControl-en.png
  ui/src/assets/img/ibn/feed-in-limit/externalController-de.png
  ui/src/assets/img/ibn/feed-in-limit/externalController-en.png
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update package-lock.json
  ui/package-lock.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Replace deprecated Jetty ConnectionLimit
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/AbstractRestApi.java
Due: build-java, restore-cache, rebuild-cache

Update bnd files
  cnf/pom.xml
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/okhttp.bnd
Due: build-java, restore-cache, rebuild-cache

Add dependabot group for com.squareup.*
  .github/dependabot.yml
Due: none

Remove unnecessary okhttp wrapper
  io.openems.wrapper/okhttp.bnd
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  cnf/pom.xml
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

update usage of HTTP Bridge
  io.openems.edge.meter.opendtu/bnd.bnd
  io.openems.edge.meter.opendtu/src/io/openems/edge/meter/opendtu/MeterOpenDtuImpl.java
Due: build-java, restore-cache, rebuild-cache

fix comment
  io.openems.edge.meter.opendtu/src/io/openems/edge/meter/opendtu/MeterOpenDtu.java
Due: build-java, restore-cache, rebuild-cache

Update gradle-wrapper.properties
  .gradle-wrapper/gradle-wrapper.properties
Due: build-java, restore-cache, rebuild-cache

Update installer-owner-guest-modal.component.ts
  ui/src/app/edge/live/common/storage/installer-owner-guest-modal/installer-owner-guest-modal.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: move injected property assignments to constructor to avoid TS2729 errors.
  ui/src/app/edge/history/Controller/EnerixControl/overview/overview.ts
  ui/src/app/edge/history/Controller/Io/heatpump/overview/overview.ts
  ui/src/app/edge/live/Controller/Evcs/modal/modal.ts
  ui/src/app/edge/live/Controller/Evse/pages/home.ts
  ui/src/app/edge/live/Controller/ModbusTcpApi/modal/modal.ts
  ui/src/app/edge/settings/system/maintenance/maintenance.ts
  ui/src/app/edge/settings/systemlog/systemlog.component.ts
  ui/src/app/index/filter/filter.component.ts
  ui/src/app/index/registration/modal/modal.component.ts
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/components/footer/footer.ts
  ui/src/app/shared/type/country.ts
  ui/src/app/user/theme-selection-popup/theme-selection-popover.ts
  ui/src/app/user/user.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Common] Update Gradle to 9.2.0 (#3408)
  .gradle-wrapper/gradle-wrapper.properties
Due: build-java, restore-cache, rebuild-cache

[Common] Docs: fix broken link and typos (#3398)
  README.md
  doc/modules/ROOT/pages/backend/deploy/docker.adoc
  doc/modules/ROOT/pages/coreconcepts.adoc
  doc/modules/ROOT/pages/edge/deploy/docker.adoc
  doc/modules/ROOT/pages/i18n/de.po
  doc/modules/ROOT/pages/i18n/translate.pot
  doc/modules/ROOT/pages/intellij.adoc
Due: none

Update package.json
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update typescript
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Revert "Update typescript"
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Add DoubleUtils.isCloseToZero and use in constraint check
  io.openems.common/src/io/openems/common/utils/DoubleUtils.java
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/data/ApparentPowerConstraintUtil.java
Due: build-java, restore-cache, rebuild-cache

vev token metadata
  io.vev.backend.edge2kafka/src/io/vev/backend/edge2kafka/Edge2KafkaBridge.java
Due: none

vev token metadata
  .github/workflows/build.yml
  build.gradle
Due: build-java, restore-cache, rebuild-cache

vev token metadata
  .github/workflows/build.yml
  build.gradle
  ui/src/themes/openems/environments/edge-dev.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

style
  io.openems.edge.meter.pro380modct/src/io/openems/edge/meter/pro380modct/Pro380modctImpl.java
  ui/src/themes/openems/environments/edge-dev.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix: updated Docker deployment docs (issue #3411) — replaced UI_WEBSOCKET, added language and next steps sections
  doc/modules/ROOT/pages/edge/deploy/docker.adoc
Due: none

Updated to current OpenEMS fork. Correction in Victron ESS
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/batteryinverter/victron/ess/symmetric/VictronEssImpl.java
  io.openems.edge.energy/.classpath
  io.openems.edge.energy/bnd.bnd
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/EshCodecTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/InitialPopulationUtilsTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/SimulationResultTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/SimulatorTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/EnergyPerformanceTestApp.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/RunOptimizerApp.java
  io.openems.edge.io.opendtu.inverter/bnd.bnd
  io.openems.edge.pvinverter.kostal/bnd.bnd
  ui/src/app/edge/history/Controller/chp/CostOptimization/chart/chart.ts
  ui/src/app/edge/history/history.module.ts
  ui/src/app/edge/live/Controller/ChpCostOptimization/ChpCostOptimization.html
  ui/src/app/edge/live/Controller/ChpCostOptimization/ChpCostOptimization.ts
  ui/src/app/edge/live/Controller/ChpCostOptimization/modal/modal.component.html
  ui/src/app/edge/live/Controller/ChpCostOptimization/modal/modal.component.ts
  ui/src/app/edge/live/Controller/PeakShaving/Symmetric_Threshold/Symmetric_Threshold.html
  ui/src/app/edge/live/Controller/PeakShaving/Symmetric_Threshold/modal/modal.component.html
  ui/src/app/edge/live/common/storage/admin-modal/admin-modal.component.html
  ui/src/app/edge/live/common/storage/admin-modal/admin-modal.component.ts
  ui/src/app/edge/live/common/storage/installer-owner-guest-modal/installer-owner-guest-modal.component.html
  ui/src/app/edge/live/common/storage/installer-owner-guest-modal/installer-owner-guest-modal.component.ts
  ui/src/app/edge/live/common/storage/modal/modal.component.html
  ui/src/app/edge/live/common/storage/storage.component.html
  ui/src/app/edge/live/common/storage/storage.component.ts
  ui/src/app/edge/live/live.module.ts
  ui/src/assets/i18n/de.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Enhance breadcrumbs with pointer cursor style
  ui/src/app/shared/components/navigation/bread-crumbs/breadcrumbs.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

WIP: start EEBUS Bridge with jEEBus
  cnf/pom.xml
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.bridge.eebus/.classpath
  io.openems.edge.bridge.eebus/.project
  io.openems.edge.bridge.eebus/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.bridge.eebus/.settings/org.eclipse.jdt.core.prefs
  io.openems.edge.bridge.eebus/bnd.bnd
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/BridgeEebus.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/package-info.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/onewire/impl/BridgeEebusImpl.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/onewire/impl/Config.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/onewire/impl/EebusConnectionHandler.java
Due: build-java, restore-cache, rebuild-cache

Apply prepare-commit.sh
  io.openems.edge.bridge.eebus/.classpath
  io.openems.edge.bridge.eebus/.gitignore
  io.openems.edge.bridge.eebus/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

compiling on eclipse
  .github/workflows/build.yml
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.meter.pro380modct/src/io/openems/edge/meter/pro380modct/Pro380modctImpl.java
  io.openems.wrapper/kafka-clients.bnd
  io.openems.wrapper/lz4-java.bnd
  io.openems.wrapper/snappy-java.bnd
  io.openems.wrapper/zstd-jni.bnd
  io.vev.backend.edge2kafka/src/io/vev/backend/edge2kafka/AvailablePowerBuilder.java
  io.vev.backend.edge2kafka/src/io/vev/backend/edge2kafka/model/Consumption.java
  io.vev.backend.metadata.token/src/io/vev/backend/metadata/token/MetadataToken.java
Due: build-java, restore-cache, rebuild-cache

compiling on eclipse
  io.vev.backend.metadata.token/src/io/vev/backend/metadata/token/MetadataToken.java
  io.vev.backend.metadata.token/src/io/vev/backend/metadata/token/VevUser.java
Due: none

compiling on eclipse
  io.vev.backend.edge2kafka/bnd.bnd
Due: none

compiling on eclipse
  io.vev.backend.edge2kafka/src/io/vev/backend/edge2kafka/AvailablePowerBuilder.java
Due: none

[Edge] EWS Schönau: TimeOfUseTariff implementation (#3302)
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/Ews.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/GetAppAssistantTest.java
  io.openems.edge.timeofusetariff.ews/.classpath
  io.openems.edge.timeofusetariff.ews/.gitignore
  io.openems.edge.timeofusetariff.ews/.project
  io.openems.edge.timeofusetariff.ews/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.timeofusetariff.ews/bnd.bnd
  io.openems.edge.timeofusetariff.ews/readme.adoc
  io.openems.edge.timeofusetariff.ews/src/io/openems/edge/timeofusetariff/ews/Config.java
  io.openems.edge.timeofusetariff.ews/src/io/openems/edge/timeofusetariff/ews/TimeOfUseTariffEws.java
  io.openems.edge.timeofusetariff.ews/src/io/openems/edge/timeofusetariff/ews/TimeOfUseTariffEwsImpl.java
  io.openems.edge.timeofusetariff.ews/src/io/openems/edge/timeofusetariff/ews/Utils.java
  io.openems.edge.timeofusetariff.ews/test/.gitignore
  io.openems.edge.timeofusetariff.ews/test/io/openems/edge/timeofusetariff/ews/MyConfig.java
  io.openems.edge.timeofusetariff.ews/test/io/openems/edge/timeofusetariff/ews/TimeOfUseTariffEwsImplTest.java
  io.openems.edge.timeofusetariff.ews/test/io/openems/edge/timeofusetariff/ews/UtilsTest.java
Due: build-java, restore-cache, rebuild-cache
