Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

[Backend] Alerting: Update JUnit tests
  io.openems.backend.alerting/test/io/openems/backend/alerting/AlertingTest.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/Dummy.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/MessageTest.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/OfflineEdgeAlertingTest.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/SumStateAlertingTest.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/handler/OfflineEdgeHandlerTest.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/scheduler/SchedulerTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] Askoma Heat
  ui/src/app/edge/live/Controller/Heat/Heat.spec.ts
  ui/src/app/edge/live/Controller/Heat/Heat.ts
  ui/src/app/edge/live/Controller/Heat/HeatMyPv.ts
  ui/src/app/edge/live/Controller/Heat/flat/flat.html
  ui/src/app/edge/live/Controller/Heat/flat/flat.spec.ts
  ui/src/app/edge/live/Controller/Heat/flat/flat.ts
  ui/src/app/edge/live/Controller/Heat/i18n/de.json
  ui/src/app/edge/live/Controller/Heat/i18n/en.json
  ui/src/app/edge/live/Controller/Heat/modal/modal.html
  ui/src/app/edge/live/Controller/Heat/modal/modal.spec.ts
  ui/src/app/edge/live/Controller/Heat/modal/modal.ts
  ui/src/app/edge/live/Controller/Heat/new-navigation/new-navigation.spec.ts
  ui/src/app/edge/live/Controller/Heat/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Heat/schedule/js-calendar-utils.spec.ts
  ui/src/app/edge/live/Controller/Heat/schedule/js-calendar-utils.ts
  ui/src/app/edge/live/Controller/Heat/schedule/schedule.component.html
  ui/src/app/edge/live/Controller/Heat/schedule/schedule.component.spec.ts
  ui/src/app/edge/live/Controller/Heat/schedule/schedule.component.ts
  ui/src/app/edge/live/Controller/Heat/schedule/task/add/add.html
  ui/src/app/edge/live/Controller/Heat/schedule/task/add/add.spec.ts
  ui/src/app/edge/live/Controller/Heat/schedule/task/add/add.ts
  ui/src/app/edge/live/Controller/Heat/schedule/task/edit/edit.html
  ui/src/app/edge/live/Controller/Heat/schedule/task/edit/edit.spec.ts
  ui/src/app/edge/live/Controller/Heat/schedule/task/edit/edit.ts
  ui/src/app/edge/live/Controller/Heat/settings/settings.spec.ts
  ui/src/app/edge/live/Controller/Heat/settings/settings.ts
  ui/src/app/edge/live/Controller/Heat/shared/shared.spec.ts
  ui/src/app/edge/live/Controller/Heat/shared/shared.ts
  ui/src/app/edge/live/live.module.ts
  ui/src/app/shared/components/modal/modal-button/modal-button.html
  ui/src/app/shared/components/modal/modal-button/modal-button.ts
  ui/src/app/shared/components/navigation/navigation-routing.module.ts
  ui/src/environments/index.ts
  ui/src/themes/openems/environments/oem-meta.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] fix wrong title for App Center
  ui/src/app/edge/settings/settings-routing.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Core.Energy Simulator: shift prices to avoid misbehaviour with negative prices
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/handler/Fitness.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulation/periods/PeriodData.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulation/periods/PeriodsBuilder.java
  io.openems.edge.energy.api/test/io/openems/edge/energy/api/simulation/GlobalOptimizationContextTest.java
  io.openems.edge.energy.api/test/io/openems/edge/energy/api/simulation/periods/PeriodDataTest.java
  io.openems.edge.energy.api/test/io/openems/edge/energy/api/simulation/periods/PeriodsBuilderTest.java
  io.openems.edge.energy.api/test/io/openems/edge/energy/api/simulation/periods/PeriodsTest.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/Simulator.java
  io.openems.edge.energy/test/io/openems/edge/energy/EnergySchedulerImplTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/api/simulation/EnergyFlowTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/EshCodecTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/InitialPopulationUtilsTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/OptimizerTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/SimulationResultTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/SimulatorTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/UtilsTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/v1/EnergySchedulerImplTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/v1/jsonrpc/GetScheduleResponseTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/v1/optimizer/EnergyFlowV1Test.java
  io.openems.edge.energy/test/io/openems/edge/energy/v1/optimizer/InitialPopulationV1UtilsTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/v1/optimizer/IntegrationTestsV1.java
  io.openems.edge.energy/test/io/openems/edge/energy/v1/optimizer/OptimizerV1Test.java
  io.openems.edge.energy/test/io/openems/edge/energy/v1/optimizer/ParamsUtilsV1Test.java
  io.openems.edge.energy/test/io/openems/edge/energy/v1/optimizer/ScheduleDatasV1Test.java
  io.openems.edge.energy/test/io/openems/edge/energy/v1/optimizer/SimulatorV1Test.java
  io.openems.edge.energy/test/io/openems/edge/energy/v1/optimizer/UtilsV1Test.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Energy Component: implement JsonRpc `GetSchedule`
  io.openems.edge.energy/src/io/openems/edge/energy/EnergySchedulerImpl.java
  io.openems.edge.energy/src/io/openems/edge/energy/GetSchedule.java
  io.openems.edge.energy/test/io/openems/edge/energy/EnergySchedulerImplTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/GetScheduleTest.java
  io.openems.edge.timeofusetariff.api/src/io/openems/edge/timeofusetariff/test/DummyTariffManager.java
  io.openems.wrapper/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

[Common] Fix CI build
  io.openems.edge.energy/test/io/openems/edge/energy/GetScheduleTest.java
  io.openems.wrapper/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

[Edge] Controller.Ess.PrepareBatteryExtension: fix capacity expansion reference cycle got stuck
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/api/AbstractFixStateOfCharge.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/api/FixStateOfCharge.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/api/translation_de.properties
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/api/translation_en.properties
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/statemachine/NotStartedHandler.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/statemachine/ReferenceCycleHandler.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/statemachine/ReferenceCycleTarget.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/statemachine/ReferenceCycleUtils.java
  io.openems.edge.controller.ess.fixstateofcharge/test/io/openems/edge/controller/ess/fixstateofcharge/ControllerEssPrepareBatteryExtensionImplTest.java
  io.openems.edge.controller.ess.fixstateofcharge/test/io/openems/edge/controller/ess/fixstateofcharge/statemachine/DummyFixStateOfChargeController.java
  io.openems.edge.controller.ess.fixstateofcharge/test/io/openems/edge/controller/ess/fixstateofcharge/statemachine/NotStartedHandlerTest.java
  io.openems.edge.controller.ess.fixstateofcharge/test/io/openems/edge/controller/ess/fixstateofcharge/statemachine/ReferenceCycleHandlerTest.java
  io.openems.edge.controller.ess.fixstateofcharge/test/io/openems/edge/controller/ess/fixstateofcharge/statemachine/ReferenceCycleUtilsTest.java
Due: build-java, restore-cache, rebuild-cache

[Common] IntelliJ IDEA run configurations
  .gitignore
  .idea/runConfigurations/Backend.xml
  .idea/runConfigurations/BackendEdge.xml
  .idea/runConfigurations/Edge.xml
  .idea/runConfigurations/UI_from_Backend.xml
  .idea/runConfigurations/UI_from_Edge.xml
  .idea/runConfigurations/ng_lint_fix.xml
Due: none

[Edge] GenerateTargetsFromReferences: improve docs
  io.openems.core.referencetarget/readme.adoc
Due: build-java, restore-cache, rebuild-cache

[UI] Update android.compileSdkVersion
  ui/android/gradle.properties
  ui/src/app/shared/components/shared/testing/utils.spec.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Remove extra value in grid modal (new and old UI)
  ui/src/app/shared/components/formly/formly-field-modal/formly-field-modal.html
  ui/src/app/shared/components/formly/formly-field-navigation/formly-field-navigation.html
  ui/src/app/shared/components/modal/modal-line/modal-line.html
  ui/src/app/shared/components/modal/modal-line/modal-line.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Fix Heatingelement history not showing
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/history.module.ts
  ui/src/app/edge/live/Controller/Io/HeatingElement/history/heatingelement.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix imports
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketClient.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/statemachine/ReferenceCycleHandler.java
Due: build-java, restore-cache, rebuild-cache

Update readme
  io.openems.edge.meter.chint/readme.adoc
  io.openems.edge.meter.chint/src/io/openems/edge/meter/chint/dtsu666/MeterChintDtsu666.java
Due: build-java, restore-cache, rebuild-cache

Switch to JUnit Jupiter
  io.openems.edge.meter.chint/test/io/openems/edge/meter/chint/dtsu666/MeterChintDtsu666ImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Meter.Chint.DTSU666: add support for Chint three-phase meter
  io.openems.edge.meter.chint/bnd.bnd
  io.openems.edge.meter.chint/readme.adoc
  io.openems.edge.meter.chint/src/io/openems/edge/meter/chint/dtsu666/Config.java
  io.openems.edge.meter.chint/src/io/openems/edge/meter/chint/dtsu666/MeterChintDtsu666.java
  io.openems.edge.meter.chint/src/io/openems/edge/meter/chint/dtsu666/MeterChintDtsu666Impl.java
  io.openems.edge.meter.chint/test/io/openems/edge/meter/chint/dtsu666/MeterChintDtsu666ImplTest.java
  io.openems.edge.meter.chint/test/io/openems/edge/meter/chint/dtsu666/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Update pom
  cnf/pom.xml
  io.openems.wrapper/Java-WebSocket.bnd
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/kotlinx-coroutines-core-jvm.bnd
Due: build-java, restore-cache, rebuild-cache

Update dependabot.yml
  .github/dependabot.yml
Due: none

Update bnd
  io.openems.wrapper/auth0-auth0.bnd
  io.openems.wrapper/auth0-jwks-rsa.bnd
  io.openems.wrapper/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.edge.application/BackendEdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Reset bnd
  io.openems.wrapper/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

Fix Kaco BatteryInverter Sunspec Model
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/KacoSunSpecModel.java
Due: build-java, restore-cache, rebuild-cache

Removed faulty line
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/AbstractModbusApi.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Controller Api Modbus: fix modified() config change detection (#3743)
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/AbstractModbusApi.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Fix Kaco SunSpec frequency unit to millihertz (#3735)
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/KacoSunSpecModel.java
Due: build-java, restore-cache, rebuild-cache

[Common] Bump fastexcel dependencies to 0.20.1
  .github/dependabot.yml
  cnf/pom.xml
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.edge.application/BackendEdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/fastexcel.bnd
Due: build-java, restore-cache, rebuild-cache

Update com.fasterxml:aalto-xml
  cnf/pom.xml
Due: none

Update pom
  cnf/build.bnd
  cnf/pom.xml
Due: none

Update bnd
  io.openems.wrapper/auth0-auth0.bnd
  io.openems.wrapper/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

[UI] Fix UI documentation navigation and deployment links (#3712)
  doc/modules/ROOT/nav.adoc
  doc/modules/ROOT/pages/gettingstarted.adoc
Due: none

Apply tools/prepare-commit.sh
  io.openems.edge.ess.sma.sunnyboystorage/.classpath
  io.openems.edge.ess.sma.sunnyboystorage/.project
  io.openems.edge.ess.sma.sunnyboystorage/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

Move SMA Sunny Boy Storage into SMA bundle
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.ess.sma.sunnyboystorage/.classpath
  io.openems.edge.ess.sma.sunnyboystorage/.gitignore
  io.openems.edge.ess.sma.sunnyboystorage/.project
  io.openems.edge.ess.sma.sunnyboystorage/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.ess.sma.sunnyboystorage/bnd.bnd
  io.openems.edge.ess.sma.sunnyboystorage/readme.adoc
  io.openems.edge.sma/readme.adoc
  io.openems.edge.sma/src/io/openems/edge/sma/ess/sunnyboystorage/Config.java
  io.openems.edge.sma/src/io/openems/edge/sma/ess/sunnyboystorage/EssSmaSunnyBoyStorage.java
  io.openems.edge.sma/src/io/openems/edge/sma/ess/sunnyboystorage/EssSmaSunnyBoyStorageImpl.java
  io.openems.edge.sma/test/io/openems/edge/sma/ess/sunnyboystorage/EssSmaSunnyBoyStorageImplTest.java
  io.openems.edge.sma/test/io/openems/edge/sma/ess/sunnyboystorage/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Update EssSmaSunnyIslandImpl.java
  io.openems.edge.sma/src/io/openems/edge/sma/ess/sunnyisland/EssSmaSunnyIslandImpl.java
Due: build-java, restore-cache, rebuild-cache

Update EdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

added docs
  io.openems.edge.fronius.gen24.neu/doc/42,0410,2649.pdf
  io.openems.edge.fronius.gen24.neu/doc/Gen24_Primo_Symo_Inverter_Register_Map_Int&SF_storage_ROW.xlsx
  io.openems.edge.fronius.gen24.neu/doc/SMA_Modbus-TI-en-15.pdf
  io.openems.edge.fronius.gen24.neu/doc/SMA_Modbus-TI-en-28.xlsx
  io.openems.edge.fronius/src/io/openems/edge/fronius/meter/MeterFroniusImpl.java
Due: build-java, restore-cache, rebuild-cache
