Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

Adopt changes to NOT_READY_FOR_CHARGING and MINIMUM_CHARGE_POWER_GUARANTEE
  io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/EvcsClusterPeakShavingImpl.java
Due: build-java, restore-cache, rebuild-cache

Remove broken nav links
  doc/modules/ROOT/nav.adoc
Due: none

ChargeDischargeLimiter: Added State for high prices
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/Config.java
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerEssChargeDischargeLimiterImpl.java
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/State.java
  ui/src/app/edge/live/common/storage/modal/modal.component.ts
  ui/src/assets/i18n/de.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

AcConsumptionPower is now used for calculating "real" ActivePower
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/batteryinverter/victron/ess/symmetric/VictronEssImpl.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/batteryinverter/victron/ro/VictronBatteryInverterImpl.java
Due: build-java, restore-cache, rebuild-cache

Fixe displaying datepicker
  ui/src/app/edge/history/history.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Added AcConsumptionPower to calculate target Power. Added EnergyChannel to Meter
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/batteryinverter/victron/ess/symmetric/VictronEssImpl.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/meter/victron/acout/VictronAcOutPowerMeter.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/meter/victron/acout/VictronAcOutPowerMeterImpl.java
Due: build-java, restore-cache, rebuild-cache

Update EdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Create separate guide to setup development environment
  doc/modules/ROOT/assets/images/sourcetree.png
  doc/modules/ROOT/nav.adoc
  doc/modules/ROOT/pages/development/coding-guidelines.adoc
  doc/modules/ROOT/pages/development/documentation.adoc
  doc/modules/ROOT/pages/development/ide/eclipse.adoc
  doc/modules/ROOT/pages/development/ide/intellij.adoc
  doc/modules/ROOT/pages/development/overview.adoc
  doc/modules/ROOT/pages/gettingstarted.adoc
Due: none

Copy Fronius Smartmeter implementation
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/DefaultSunSpecModel.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/generator/SunSpecCodeGenerator.java
  io.openems.edge.meter.fronius/.classpath
  io.openems.edge.meter.fronius/.gitignore
  io.openems.edge.meter.fronius/.project
  io.openems.edge.meter.fronius/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.meter.fronius/.settings/org.eclipse.jdt.core.prefs
  io.openems.edge.meter.fronius/bnd.bnd
  io.openems.edge.meter.fronius/readme.adoc
  io.openems.edge.meter.fronius/src/io/openems/edge/meter/fronius/Config.java
  io.openems.edge.meter.fronius/src/io/openems/edge/meter/fronius/MeterFronius.java
  io.openems.edge.meter.fronius/src/io/openems/edge/meter/fronius/MeterFroniusImpl.java
  io.openems.edge.meter.fronius/test/io/openems/edge/meter/fronius/MeterFroniusImplTest.java
  io.openems.edge.meter.fronius/test/io/openems/edge/meter/fronius/MyConfig.java
  io.openems.edge.meter.sunspec/.classpath
  io.openems.edge.meter.sunspec/.gitignore
  io.openems.edge.meter.sunspec/.project
  io.openems.edge.meter.sunspec/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.meter.sunspec/bnd.bnd
  io.openems.edge.meter.sunspec/readme.adoc
  io.openems.edge.meter.sunspec/src/io/openems/edge/meter/sunspec/AbstractSunSpecMeter.java
  io.openems.edge.meter.sunspec/src/io/openems/edge/meter/sunspec/MeterChannelId.java
  io.openems.edge.meter.sunspec/src/io/openems/edge/meter/sunspec/package-info.java
  io.openems.edge.meter.sunspec/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

Update to develop
  io.openems.edge.meter.fronius/bnd.bnd
  io.openems.edge.meter.fronius/src/io/openems/edge/meter/fronius/MeterFroniusImpl.java
  io.openems.edge.meter.fronius/test/io/openems/edge/meter/fronius/MyConfig.java
  io.openems.edge.meter.sunspec/.classpath
  io.openems.edge.meter.sunspec/.gitignore
  io.openems.edge.meter.sunspec/.project
  io.openems.edge.meter.sunspec/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.meter.sunspec/bnd.bnd
  io.openems.edge.meter.sunspec/readme.adoc
  io.openems.edge.meter.sunspec/src/io/openems/edge/meter/sunspec/AbstractSunSpecMeter.java
  io.openems.edge.meter.sunspec/src/io/openems/edge/meter/sunspec/MeterChannelId.java
  io.openems.edge.meter.sunspec/src/io/openems/edge/meter/sunspec/package-info.java
  io.openems.edge.meter.sunspec/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

Remove S213_EVT_UNDEFINED; bit cannot be -1
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/DefaultSunSpecModel.java
Due: build-java, restore-cache, rebuild-cache

Apply prepare-commit.sh
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.meter.fronius/.classpath
  io.openems.edge.meter.fronius/bnd.bnd
  io.openems.edge.meter.fronius/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

Add device model validation and listing for Shelly components
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/common/ShellyCommon.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/common/ShellyDeviceModels.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/common/Utils.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly1/IoShelly1Impl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly25/IoShelly25Impl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly3em/IoShelly3EmImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplus1pm/IoShellyPlus1PmImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplusplugs/IoShellyPlusPlugsImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypluspmmini/IoShellyPlusPmMiniImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3/IoShellyPro3Impl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3em/IoShellyPro3EmImpl.java
Due: build-java, restore-cache, rebuild-cache

Remove unused processShellyInfo method - Apply Formatting
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/common/ShellyCommon.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/common/ShellyDeviceModels.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/common/Utils.java
Due: build-java, restore-cache, rebuild-cache

fix: drop use showPasswordBackend and reuse showPassword
  ui/src/app/index/login.component.html
  ui/src/app/index/login.component.ts
  ui/src/app/index/registration/modal/modal.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

feat: add password-input component
  ui/src/app/edge/settings/systemexecute/systemexecute.component.html
  ui/src/app/edge/settings/systemexecute/systemexecute.component.ts
  ui/src/app/index/login.component.html
  ui/src/app/index/login.component.ts
  ui/src/app/index/registration/modal/modal.component.html
  ui/src/app/index/registration/modal/modal.component.ts
  ui/src/app/shared/components/components.module.ts
  ui/src/app/shared/components/formly/password-input/password-input.html
  ui/src/app/shared/components/formly/password-input/password-input.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: fix dup sidebar code
  ui/src/app/app.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Supply allowed string values of @AttributeDefinition channels in GetChannelsOfComponent request
  io.openems.common/src/io/openems/common/jsonrpc/request/GetChannelsOfComponent.java
  io.openems.edge.common/src/io/openems/edge/common/channel/Doc.java
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractDoc.java
  io.openems.edge.common/src/io/openems/edge/common/component/AbstractOpenemsComponent.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/ComponentManagerImpl.java
Due: build-java, restore-cache, rebuild-cache

supports evcc API response without result wrapper
  io.openems.edge.evcc/src/io/openems/edge/evcc/gridtariff/TimeOfUseGridTariffEvccApi.java
  io.openems.edge.evcc/src/io/openems/edge/evcc/solartariff/PredictorSolarTariffEvccApi.java
  io.openems.edge.evcc/test/io/openems/edge/evcc/gridtariff/TimeOfUseGridTariffEvccImplTest.java
  io.openems.edge.evcc/test/io/openems/edge/evcc/solartariff/PredictorSolarTariffEvccImplTest.java
Due: build-java, restore-cache, rebuild-cache

Add SumOptions interface and adopt addToSum calculations
  io.openems.edge.common/src/io/openems/edge/common/sum/SumOptions.java
  io.openems.edge.core/src/io/openems/edge/core/sum/SumImpl.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/test/DummyMetaEss.java
  io.openems.edge.ess.cluster/src/io/openems/edge/ess/cluster/EssCluster.java
  io.openems.edge.ess.cluster/src/io/openems/edge/ess/cluster/EssClusterImpl.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/VirtualMeter.java
  io.openems.edge.meter.virtual/src/io/openems/edge/meter/virtual/add/MeterVirtualAdd.java
  io.openems.edge.meter.virtual/src/io/openems/edge/meter/virtual/add/MeterVirtualAddImpl.java
  io.openems.edge.meter.virtual/src/io/openems/edge/meter/virtual/subtract/VirtualSubtractMeter.java
  io.openems.edge.meter.virtual/src/io/openems/edge/meter/virtual/subtract/VirtualSubtractMeterImpl.java
  io.openems.edge.pvinverter.cluster/src/io/openems/edge/pvinverter/cluster/PvInverterCluster.java
  io.openems.edge.pvinverter.cluster/src/io/openems/edge/pvinverter/cluster/PvInverterClusterImpl.java
Due: build-java, restore-cache, rebuild-cache

fix: pass lint
  ui/src/app/edge/settings/systemexecute/systemexecute.component.ts
  ui/src/app/shared/components/formly/password-input/password-input.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix NPE if mergedResult is null (or result.length is 0)
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/optimizers/KeepAllNearEqual.java
Due: build-java, restore-cache, rebuild-cache

Devices with no Production results in Null for History Data
  io.openems.edge.energy/src/io/openems/edge/energy/v1/optimizer/ScheduleDatas.java
Due: build-java, restore-cache, rebuild-cache

Added hint to use Sunspec Model Type 'float' to readme
  io.openems.edge.meter.fronius/readme.adoc
Due: build-java, restore-cache, rebuild-cache

prepare-commit
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

prepare-commit.sh
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

prepare-commit.sh
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Changed fronius meter implementation (S213) to ValuePoint
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/DefaultSunSpecModel.java
Due: build-java, restore-cache, rebuild-cache

Remove okhttp from EdgeApp
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Review (WIP)
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/DefaultSunSpecModel.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/meter/AbstractSunSpecMeter.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/test/DummyModbusBridge.java
  io.openems.edge.meter.fronius/.settings/org.eclipse.jdt.core.prefs
  io.openems.edge.meter.fronius/src/io/openems/edge/meter/fronius/Config.java
  io.openems.edge.meter.fronius/src/io/openems/edge/meter/fronius/MeterFroniusImpl.java
  io.openems.edge.meter.fronius/test/io/openems/edge/meter/fronius/MeterFroniusImplTest.java
  io.openems.edge.meter.fronius/test/io/openems/edge/meter/fronius/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Complete Modbus JUnit-Test; including "invert"
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/meter/AbstractSunSpecMeter.java
  io.openems.edge.meter.fronius/src/io/openems/edge/meter/fronius/MeterFroniusImpl.java
  io.openems.edge.meter.fronius/test/io/openems/edge/meter/fronius/MeterFroniusImplTest.java
Due: build-java, restore-cache, rebuild-cache

Fix activate() for all SolarEdge SunSpec Meter
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/gridmeter/Config.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/gridmeter/SolarEdgeGridMeterImpl.java
  io.openems.edge.solaredge/test/io/openems/edge/solaredge/gridmeter/MyConfig.java
  io.openems.edge.solaredge/test/io/openems/edge/solaredge/gridmeter/SolarEdgeGridMeterImplTest.java
Due: build-java, restore-cache, rebuild-cache

Fix checkstyle
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/AbstractOpenemsSunSpecComponent.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/meter/AbstractSunSpecMeter.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Energy Scheduler: fix history for systems with no production (#3278)
  io.openems.edge.energy/src/io/openems/edge/energy/v1/optimizer/ScheduleDatas.java
Due: build-java, restore-cache, rebuild-cache

[Edge] ESS Distribution Strategy "KeepingAllNearEqual": Fix NPE (#3277)
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/optimizers/KeepAllNearEqual.java
Due: build-java, restore-cache, rebuild-cache

Fix invert logic
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/meter/AbstractSunSpecMeter.java
  io.openems.edge.meter.fronius/test/io/openems/edge/meter/fronius/MeterFroniusImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Fronius Smart-Meter implementation (#3269)
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/AbstractOpenemsSunSpecComponent.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/DefaultSunSpecModel.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/generator/SunSpecCodeGenerator.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/meter/AbstractSunSpecMeter.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/test/DummyModbusBridge.java
  io.openems.edge.meter.fronius/.classpath
  io.openems.edge.meter.fronius/.gitignore
  io.openems.edge.meter.fronius/.project
  io.openems.edge.meter.fronius/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.meter.fronius/bnd.bnd
  io.openems.edge.meter.fronius/readme.adoc
  io.openems.edge.meter.fronius/src/io/openems/edge/meter/fronius/Config.java
  io.openems.edge.meter.fronius/src/io/openems/edge/meter/fronius/MeterFronius.java
  io.openems.edge.meter.fronius/src/io/openems/edge/meter/fronius/MeterFroniusImpl.java
  io.openems.edge.meter.fronius/test/.gitignore
  io.openems.edge.meter.fronius/test/io/openems/edge/meter/fronius/MeterFroniusImplTest.java
  io.openems.edge.meter.fronius/test/io/openems/edge/meter/fronius/MyConfig.java
  io.openems.edge.solaredge/test/io/openems/edge/solaredge/gridmeter/SolarEdgeGridMeterImplTest.java
Due: build-java, restore-cache, rebuild-cache

Fronius: merge bundles for PV-Inverter and Meter
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.fronius/.classpath
  io.openems.edge.fronius/.gitignore
  io.openems.edge.fronius/.project
  io.openems.edge.fronius/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.fronius/bnd.bnd
  io.openems.edge.fronius/doc/Inverter_Register_Map_Float_v1.0_with_SYMOHYBRID_MODEL_124.xlsx
  io.openems.edge.fronius/readme.adoc
  io.openems.edge.fronius/src/io/openems/edge/fronius/meter/Config.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/meter/MeterFronius.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/meter/MeterFroniusImpl.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/pvinverter/Config.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/pvinverter/PvInverterFronius.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/pvinverter/PvInverterFroniusImpl.java
  io.openems.edge.fronius/test/.gitignore
  io.openems.edge.fronius/test/io/openems/edge/fronius/meter/MeterFroniusImplTest.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/meter/MyConfig.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/pvinverter/MyConfig.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/pvinverter/PvInverterFroniusImplTest.java
  io.openems.edge.meter.fronius/.gitignore
  io.openems.edge.meter.fronius/.project
  io.openems.edge.meter.fronius/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.meter.fronius/bnd.bnd
  io.openems.edge.meter.fronius/readme.adoc
  io.openems.edge.meter.fronius/src/io/openems/edge/meter/fronius/Config.java
  io.openems.edge.meter.fronius/src/io/openems/edge/meter/fronius/MeterFronius.java
  io.openems.edge.meter.fronius/src/io/openems/edge/meter/fronius/MeterFroniusImpl.java
  io.openems.edge.meter.fronius/test/io/openems/edge/meter/fronius/MeterFroniusImplTest.java
  io.openems.edge.meter.fronius/test/io/openems/edge/meter/fronius/MyConfig.java
  io.openems.edge.pvinverter.fronius/.classpath
  io.openems.edge.pvinverter.fronius/.project
  io.openems.edge.pvinverter.fronius/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.pvinverter.fronius/readme.adoc
  io.openems.edge.pvinverter.fronius/src/io/openems/edge/pvinverter/fronius/Config.java
  io.openems.edge.pvinverter.fronius/src/io/openems/edge/pvinverter/fronius/PvInverterFronius.java
  io.openems.edge.pvinverter.fronius/src/io/openems/edge/pvinverter/fronius/PvInverterFroniusImpl.java
  io.openems.edge.pvinverter.fronius/test/.gitignore
  io.openems.edge.pvinverter.fronius/test/io/openems/edge/pvinverter/fronius/MyConfig.java
  io.openems.edge.pvinverter.fronius/test/io/openems/edge/pvinverter/fronius/PvInverterFroniusImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Fronius: merge bundles for PV-Inverter and Meter (#3283)
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.fronius/.classpath
  io.openems.edge.fronius/.gitignore
  io.openems.edge.fronius/.project
  io.openems.edge.fronius/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.fronius/bnd.bnd
  io.openems.edge.fronius/doc/Inverter_Register_Map_Float_v1.0_with_SYMOHYBRID_MODEL_124.xlsx
  io.openems.edge.fronius/readme.adoc
  io.openems.edge.fronius/src/io/openems/edge/fronius/meter/Config.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/meter/MeterFronius.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/meter/MeterFroniusImpl.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/pvinverter/Config.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/pvinverter/PvInverterFronius.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/pvinverter/PvInverterFroniusImpl.java
  io.openems.edge.fronius/test/.gitignore
  io.openems.edge.fronius/test/io/openems/edge/fronius/meter/MeterFroniusImplTest.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/meter/MyConfig.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/pvinverter/MyConfig.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/pvinverter/PvInverterFroniusImplTest.java
  io.openems.edge.meter.fronius/.gitignore
  io.openems.edge.meter.fronius/.project
  io.openems.edge.meter.fronius/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.meter.fronius/bnd.bnd
  io.openems.edge.meter.fronius/readme.adoc
  io.openems.edge.meter.fronius/src/io/openems/edge/meter/fronius/Config.java
  io.openems.edge.meter.fronius/src/io/openems/edge/meter/fronius/MeterFronius.java
  io.openems.edge.meter.fronius/src/io/openems/edge/meter/fronius/MeterFroniusImpl.java
  io.openems.edge.meter.fronius/test/io/openems/edge/meter/fronius/MeterFroniusImplTest.java
  io.openems.edge.meter.fronius/test/io/openems/edge/meter/fronius/MyConfig.java
  io.openems.edge.pvinverter.fronius/.classpath
  io.openems.edge.pvinverter.fronius/.project
  io.openems.edge.pvinverter.fronius/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.pvinverter.fronius/readme.adoc
  io.openems.edge.pvinverter.fronius/src/io/openems/edge/pvinverter/fronius/Config.java
  io.openems.edge.pvinverter.fronius/src/io/openems/edge/pvinverter/fronius/PvInverterFronius.java
  io.openems.edge.pvinverter.fronius/src/io/openems/edge/pvinverter/fronius/PvInverterFroniusImpl.java
  io.openems.edge.pvinverter.fronius/test/.gitignore
  io.openems.edge.pvinverter.fronius/test/io/openems/edge/pvinverter/fronius/MyConfig.java
  io.openems.edge.pvinverter.fronius/test/io/openems/edge/pvinverter/fronius/PvInverterFroniusImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Common] WebSocket Reconnector: use CPU clock time (#3182)
  io.openems.common/src/io/openems/common/websocket/ClientReconnectorWorker.java
Due: build-java, restore-cache, rebuild-cache
