Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

WIP: Type corrections and removal of unnecessary channel writings.
  io.openems.edge.evcc/src/io/openems/edge/evcc/loadpoint/LoadpointConsumptionMeterEvccImpl.java
Due: build-java, restore-cache, rebuild-cache

Fix broken link in README.md
  README.md
Due: none

Fix typos
  doc/modules/ROOT/pages/backend/deploy/docker.adoc
  doc/modules/ROOT/pages/coreconcepts.adoc
  doc/modules/ROOT/pages/edge/deploy/docker.adoc
  doc/modules/ROOT/pages/i18n/de.po
  doc/modules/ROOT/pages/i18n/translate.pot
  doc/modules/ROOT/pages/intellij.adoc
Due: none

Add support for Shelly devices and authentication check
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/common/ShellyCommon.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/common/ShellyDeviceModels.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/common/Utils.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly1/IoShelly1.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly1/IoShelly1Impl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly25/IoShelly25.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly25/IoShelly25Impl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly3em/IoShelly3Em.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly3em/IoShelly3EmImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/IoShellyPlug.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplus1pm/IoShellyPlus1Pm.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplus1pm/IoShellyPlus1PmImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplusplugs/IoShellyPlusPlugSImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplusplugs/IoShellyPlusPlugs.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypluspmmini/IoShellyPlusPmMini.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypluspmmini/IoShellyPlusPmMiniImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3/IoShellyPro3.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3/IoShellyPro3Impl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3em/IoShellyPro3Em.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3em/IoShellyPro3EmImpl.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shelly1/IoShelly1ImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shelly25/IoShelly25ImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shelly3em/IoShelly3EmImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplus1pm/IoShellyPlus1PmImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplusplugs/IoShellyPlusPlugSImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypluspmmini/IoShellyPlusPmMiniImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypro3/IoShellyPro3ImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypro3em/IoShellyPro3EmImplTest.java
Due: build-java, restore-cache, rebuild-cache

Revert changes in invert functionality in Shelly device tests and adds back testAuthenticationWarning
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shelly1/IoShelly1ImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shelly25/IoShelly25ImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shelly3em/IoShelly3EmImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplus1pm/IoShellyPlus1PmImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplusplugs/IoShellyPlusPlugSImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypluspmmini/IoShellyPlusPmMiniImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypro3em/IoShellyPro3EmImplTest.java
Due: build-java, restore-cache, rebuild-cache

Update backend URL for edge-dev environment
  ui/src/themes/openems/environments/edge-dev.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update ApparentPowerConstraintUtil.java
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/data/ApparentPowerConstraintUtil.java
Due: build-java, restore-cache, rebuild-cache

Create ApparentPowerConstraintUtilTest.java
  io.openems.edge.ess.core/test/io/openems/edge/ess/core/power/data/ApparentPowerConstraintUtilTest.java
Due: build-java, restore-cache, rebuild-cache

Improve LSTM predictor robustness and testing
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/LstmPredictor.java
  io.openems.edge.predictor.lstm/test/io/openems/edge/predictor/lstm/common/LstmPredictorBoundsTest.java
Due: build-java, restore-cache, rebuild-cache

Checkstyle Fix
  io.openems.edge.predictor.lstm/test/io/openems/edge/predictor/lstm/common/LstmPredictorBoundsTest.java
Due: build-java, restore-cache, rebuild-cache

Kostal + Samsung: update usage of HTTP Bridge
  io.openems.edge.ess.samsung/bnd.bnd
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/charger/SamsungEssChargerImpl.java
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/ess/SamsungEssImpl.java
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/gridmeter/SamsungEssGridMeterImpl.java
  io.openems.edge.ess.samsung/test/io/openems/edge/ess/samsung/charger/SamsungEssChargerImplTest.java
  io.openems.edge.ess.samsung/test/io/openems/edge/ess/samsung/ess/SamsungEssImplTest.java
  io.openems.edge.ess.samsung/test/io/openems/edge/ess/samsung/gridmeter/SamsungEssGridMeterImplTest.java
  io.openems.edge.pvinverter.kostal/bnd.bnd
  io.openems.edge.pvinverter.kostal/src/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPikoImpl.java
  io.openems.edge.pvinverter.kostal/test/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPikoImplTest.java
Due: build-java, restore-cache, rebuild-cache

Checkstyle
  io.openems.edge.pvinverter.kostal/src/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPikoImpl.java
Due: build-java, restore-cache, rebuild-cache

Apply prepare-commit.sh
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

[Backend] Add ElectricityMeter Channels for `io`s
  io.openems.backend.timedata.aggregatedinflux/src/io/openems/backend/timedata/aggregatedinflux/AllowedChannels.java
Due: build-java, restore-cache, rebuild-cache

[Edge] App.FENECON.ProHybrid.10
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconProHybrid10.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/ProHybrid10Components.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AbstractOpenemsAppWithProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
Due: build-java, restore-cache, rebuild-cache

[Edge] ENTSO-E: default to QUARTERLY resolution
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/EntsoE.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Config.java
Due: build-java, restore-cache, rebuild-cache

[Common] Update build scripts
  tools/build-debian-package.sh
  tools/common.sh
Due: none

[Common] Update build scripts
  tools/common.sh
Due: none

[UI] Off-Grid History: fix display
  ui/src/app/edge/history/common/grid/chart/chart.ts
  ui/src/app/edge/history/common/grid/shared-grid.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Fix subscribes/unsubscribes
  ui/src/app/shared/components/edge/edge.ts
  ui/src/app/shared/components/navigation/service/navigation.service.ts
  ui/src/app/shared/jsonrpc/shared.ts
  ui/src/app/shared/utils/array/array.utils.ts
  ui/src/app/shared/utils/object/object.utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Weather.OpenMeteo: fix timezone handling
  io.openems.edge.weather.openmeteo/src/io/openems/edge/weather/openmeteo/DefaultWeatherDataParser.java
  io.openems.edge.weather.openmeteo/src/io/openems/edge/weather/openmeteo/ForecastQueryParams.java
  io.openems.edge.weather.openmeteo/src/io/openems/edge/weather/openmeteo/HistoricalQueryParams.java
  io.openems.edge.weather.openmeteo/src/io/openems/edge/weather/openmeteo/HistoricalWeatherService.java
  io.openems.edge.weather.openmeteo/src/io/openems/edge/weather/openmeteo/WeatherDataParser.java
  io.openems.edge.weather.openmeteo/src/io/openems/edge/weather/openmeteo/WeatherForecastService.java
  io.openems.edge.weather.openmeteo/test/io/openems/edge/weather/openmeteo/DefaultWeatherDataParserTest.java
  io.openems.edge.weather.openmeteo/test/io/openems/edge/weather/openmeteo/HistoricalWeatherServiceTest.java
  io.openems.edge.weather.openmeteo/test/io/openems/edge/weather/openmeteo/WeatherForecastServiceTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Battery.Fenecon.Home: fix software versions
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHome.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImpl.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/TwoPartVersion.java
  io.openems.edge.battery.fenecon.home/test/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImplTest.java
  io.openems.edge.battery.fenecon.home/test/io/openems/edge/battery/fenecon/home/TwoPartVersionTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Energy-Scheduler v2: improvements
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/EnergyScheduler.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/handler/EnergyScheduleHandler.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/handler/EshWithDifferentModes.java
  io.openems.edge.energy/bnd.bnd
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/EshCodec.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/InitialPopulationUtils.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/ModeCombinations.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/SimulationResult.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/Simulator.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/EshCodecTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/InitialPopulationUtilsTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/SimulationResultTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/SimulatorTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/EnergyPerformanceTestApp.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/RunOptimizerApp.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Improve App installation speed
  io.openems.common/src/io/openems/common/utils/DebugUtils.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/ComponentManagerImpl.java
Due: build-java, restore-cache, rebuild-cache

[Edge] AppCenter: Weather App
  io.openems.edge.common/src/io/openems/edge/common/meta/Meta.java
  io.openems.edge.common/src/io/openems/edge/common/meta/ThirdPartyUsageAcceptance.java
  io.openems.edge.common/src/io/openems/edge/common/test/DummyMeta.java
  io.openems.edge.core/src/io/openems/edge/app/core/AppMeta.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome10.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome10Gen2.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome15.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome20.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome30.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome6.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHomeComponents.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial50Gen3.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial92.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial92ClusterMaster.java
  io.openems.edge.core/src/io/openems/edge/app/prediction/AppWeatherPrediction.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/Tasks.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/aggregatetask/PredefinedOrder.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/aggregatetask/PredictorManagerByCentralOrderAggregateTask.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/aggregatetask/PredictorManagerByCentralOrderAggregateTaskImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/aggregatetask/PredictorManagerByCentralOrderConfiguration.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/aggregatetask/SchedulerByCentralOrderAggregateTaskImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/Check3rdPartyAccessAccepted.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckCoordinatesSet.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/Checkables.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/translation_en.properties
  io.openems.edge.core/src/io/openems/edge/core/meta/Config.java
  io.openems.edge.core/src/io/openems/edge/core/meta/MetaImpl.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome20.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome30.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome30DefaultRelays.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerImplTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerTestBundle.java
  io.openems.edge.core/test/io/openems/edge/core/meta/MyConfig.java
  ui/src/app/edge/history/common/grid/shared-grid.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Help buttons for formly Modals
  ui/src/app/edge/history/common/consumption/details/chart/evcs.ts
  ui/src/app/edge/live/Controller/Evcs/modal/modal.html
  ui/src/app/edge/live/Controller/Evcs/modal/modal.ts
  ui/src/app/edge/live/common/autarchy/modal/modal.ts
  ui/src/app/edge/live/common/consumption/modal/modal.ts
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/edge/live/common/production/modal/modal.html
  ui/src/app/edge/live/common/selfconsumption/modal/modal.ts
  ui/src/app/edge/live/common/storage/modal/modal.component.html
  ui/src/app/shared/components/edge/components/evcsComponent.ts
  ui/src/app/shared/components/formly/formly-field-modal/formly-field-modal.html
  ui/src/app/shared/components/shared/oe-formly-component.ts
  ui/src/app/shared/utils/utils.ts
  ui/src/environments/index.ts
  ui/src/themes/openems/environments/oem-meta.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] GoodWe Max Charge/Discharge Power bugfix for old devices
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/enums/GoodWeType.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImplTest.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/common/TestStatic.java
Due: build-java, restore-cache, rebuild-cache

[UI] EVCS: fix calculation of history total other consumption
  ui/src/app/edge/history/common/consumption/flat/flat.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] [WCAG 3.2.2] Refactor evcs cluster modal
  ui/src/app/edge/history/shared.ts
  ui/src/app/edge/live/Multiple/Evcs_Api_Cluster/modal/evcs-chart/evcs.chart.html
  ui/src/app/edge/live/Multiple/Evcs_Api_Cluster/modal/evcs-chart/evcs.chart.ts
  ui/src/app/edge/live/Multiple/Evcs_Api_Cluster/modal/evcsCluster-modal.page.html
  ui/src/app/edge/live/Multiple/Evcs_Api_Cluster/modal/evcsCluster-modal.page.ts
  ui/src/app/edge/live/Multiple/evcs-api-cluster/flat/flat.html
  ui/src/app/edge/live/Multiple/evcs-api-cluster/flat/flat.ts
  ui/src/app/edge/live/Multiple/evcs-api-cluster/modal/chart/chart.ts
  ui/src/app/edge/live/Multiple/evcs-api-cluster/modal/modal.html
  ui/src/app/edge/live/Multiple/evcs-api-cluster/modal/modal.ts
  ui/src/app/edge/live/common/weather/flat/flat.html
  ui/src/app/edge/live/live.component.html
  ui/src/app/edge/live/live.module.ts
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/components/edge/edgeconfig.ts
  ui/src/app/shared/components/shared/oe-formly-component.ts
  ui/src/app/shared/service/websocket.ts
  ui/src/app/shared/utils/form/form.utils.ts
  ui/src/app/shared/utils/object/object.utils.ts
  ui/src/app/shared/utils/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Core.SerialNumber: decrease timeout for persisting serial numbers
  io.openems.edge.core/src/io/openems/edge/core/serialnumber/SerialNumberStorageImpl.java
Due: build-java, restore-cache, rebuild-cache

[Backend] Aggregated-InfluxDB: increase allowed Component-IDs for EVSE and EVCS
  io.openems.backend.timedata.aggregatedinflux/src/io/openems/backend/timedata/aggregatedinflux/AllowedChannels.java
Due: build-java, restore-cache, rebuild-cache

[UI] Fix arrow buttons background
  ui/src/app/shared/components/flat/flat-widget-button/flat-widget-button.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] handle chunk loading failed exception
  ui/src/app/shared/service/myerrorhandler.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] App Center: fix key preview
  ui/src/app/edge/settings/app/index.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] TimeOfUseTariff.ENTSO-E: fix query for DE_LU and AT
  io.openems.edge.core/src/io/openems/edge/core/appmanager/ComponentUtilImpl.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/ComponentUtilTest.java
  io.openems.edge.timeofusetariff.entsoe/bnd.bnd
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/EntsoeApi.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoe.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoeImpl.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/EntsoeApiTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/ParserTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/TouEntsoeAncillaryCostsOtherTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/TouEntsoeTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] Add Weather popover
  ui/src/app/edge/edge.component.ts
  ui/src/app/edge/live/Controller/Evse/pages/home.ts
  ui/src/app/index/registration/modal/modal.component.ts
  ui/src/app/shared/components/edge/edge.ts
  ui/src/app/shared/components/edge/popover/data-privacy/popover.html
  ui/src/app/shared/components/edge/popover/data-privacy/popover.ts
  ui/src/app/shared/components/edge/popover/shared/third-party-usage-acceptance.ts
  ui/src/app/shared/components/edge/popover/shared/translation.json
  ui/src/app/shared/components/oe-checkbox/oe-checkbox.html
  ui/src/app/shared/components/oe-checkbox/oe-checkbox.ts
  ui/src/app/shared/components/oe-img/oe-img.html
  ui/src/app/shared/components/oe-img/oe-img.ts
  ui/src/app/shared/utils/docs/docs.utils.ts
  ui/src/app/shared/utils/promise/promise.utils.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/img/weather-popover-app-img.svg
  ui/src/global-ion-custom.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
