Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm --force
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng config cli.cache.path "/woodpecker/.ng"
  ...

refresh-location:
  image: appleboy/drone-ssh
  host: 10.0.0.40
  username: fenecon-docs
  timeout: 10s
  key:
    from_secret: ssh_key_intranet
  script:
  - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

finalize unittest
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.html
  ui/src/app/shared/genericComponents/modal/abstract-modal-line.ts
  ui/src/app/shared/genericComponents/shared/types.ts
  ui/src/app/shared/shared.module.ts
  ui/src/app/shared/test/testsystems/edges.spec.ts
  ui/src/app/shared/test/testsystems/testsystems.spec.ts
  ui/src/app/shared/test/testsystems/types.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix UI lint
  ui/src/app/shared/shared.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix liniting
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.ts
  ui/src/app/shared/genericComponents/shared/types.ts
  ui/src/app/shared/shared.ts
  ui/src/app/shared/test/testsystems/edges.spec.ts
  ui/src/app/shared/test/testsystems/testsystems.spec.ts
  ui/src/app/shared/test/testsystems/types.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Use static imports
  io.openems.edge.meter.sunspec/src/io/openems/edge/meter/sunspec/AbstractSunSpecMeter.java
  io.openems.edge.pvinverter.sunspec/src/io/openems/edge/pvinverter/sunspec/AbstractSunSpecPvInverter.java
Due: build-java, restore-cache, rebuild-cache

Add link to Changelog
  cnf/pom.xml
Due: none

Pair programming... :-)
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/shared/decorators.ts
  ui/src/app/shared/edge/edgeconfig.ts
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.html
  ui/src/app/shared/genericComponents/shared/oe-formly-component.ts
  ui/src/app/shared/genericComponents/shared/types.ts
  ui/src/app/shared/service/utils.ts
  ui/src/themes/openems/environments/backend-dev.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

changes due to review
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/shared/genericComponents/shared/oe-formly-component.ts
  ui/src/app/shared/test/testsystems/edges.spec.ts
  ui/src/app/shared/test/testsystems/testsystems.spec.ts
  ui/src/themes/openems/environments/backend-dev.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: production fixes
  ui/src/app/edge/live/advertisement/extended-warranty/extended-warranty.html
  ui/src/app/shared/shared.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

changes requested by review
  ui/src/app/shared/genericComponents/shared/oe-formly-component.ts
  ui/src/app/shared/shared.module.ts
  ui/src/app/shared/test/testsystems/edges.spec.ts
  ui/src/app/shared/test/testsystems/testsystems.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add requested changes
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/shared/test/testsystems/edges.spec.ts
  ui/src/app/shared/test/testsystems/formlyViewData.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

remove unused import
  ui/src/app/shared/test/testsystems/edges.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix Checkstyle warning: 'METHOD_DEF'
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/QueryProxy.java
Due: build-java, restore-cache, rebuild-cache

Empty line separation to resolve Checkstyle warning
  io.openems.edge.battery.api/src/io/openems/edge/battery/protection/force/AbstractForceChargeDischarge.java
Due: build-java, restore-cache, rebuild-cache

WIP unit test framework for oe-formly-components
  ui/src/app/edge/live/common/grid/modal/constants.spec.ts
  ui/src/app/edge/live/common/grid/modal/modal.spec.ts
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/shared/genericComponents/shared/converter.ts
  ui/src/app/shared/genericComponents/shared/filter.ts
  ui/src/app/shared/genericComponents/shared/name.ts
  ui/src/app/shared/genericComponents/shared/oe-formly-component.ts
  ui/src/app/shared/genericComponents/shared/tester.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/test/testSystem.spec.ts
  ui/src/app/shared/test/testsystems/edges.spec.ts
  ui/src/app/shared/test/testsystems/testsystems.spec.ts
  ui/src/app/shared/test/types.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Implement example unit test with new test framework
  ui/src/app/edge/live/common/grid/modal/constants.spec.ts
  ui/src/app/edge/live/common/grid/modal/modal.spec.ts
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/shared/genericComponents/shared/oe-formly-component.ts
  ui/src/app/shared/genericComponents/shared/tester.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/test/types.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add requested line-with-converter type add system with two gridMeters
  ui/README.md
  ui/src/app/edge/live/common/grid/modal/constants.spec.ts
  ui/src/app/edge/live/common/grid/modal/modal.spec.ts
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.html
  ui/src/app/shared/genericComponents/modal/abstract-modal-line.ts
  ui/src/app/shared/genericComponents/shared/oe-formly-component.ts
  ui/src/app/shared/genericComponents/shared/tester.ts
  ui/src/app/shared/test/testSystem.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix styling
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.html
  ui/src/app/shared/genericComponents/modal/abstract-modal-line.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Refactoring switch statement
  io.openems.edge.battery.bmw/src/io/openems/edge/battery/bmw/BmwBatteryImpl.java
  io.openems.edge.battery.bydcommercial/src/io/openems/edge/battery/bydcommercial/BydBatteryBoxCommercialC130Impl.java
Due: build-java, restore-cache, rebuild-cache

add missing componentIds
  ui/src/app/shared/test/testSystem.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Establish baseline for Veloce Energy fork
  .github/workflows/branch-name-check.yml
  .gitignore
  README.md
Due: none

Set default language to english
  .gitignore
  README.md
  io.openems.common/src/io/openems/common/session/Language.java
  ui/src/app/shared/type/language.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Change some noticeable non-translated UI dialog to English
  ui/src/app/edge/history/history.component.html
  ui/src/app/shared/edge/edgeconfig.ts
  ui/src/app/user/user.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Updated un-translated component dialogs from German to English
  ui/src/app/edge/settings/component/install/install.component.html
  ui/src/app/edge/settings/component/update/update.component.html
  ui/src/app/edge/settings/profile/profile.component.html
  ui/src/app/edge/settings/settings.component.html
  ui/src/app/edge/settings/systemupdate/systemupdate.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Create indempotent release
  .github/workflows/build.yml
  .github/workflows/docs.yml
Due: none

Build UI without caching
  .github/workflows/build.yml
Due: none

Update README.md
  README.md
Due: none

Update app.module.ts
  ui/src/app/app.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update header.component.html
  ui/src/app/shared/header/header.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update branch-name-check.yml
  .github/workflows/branch-name-check.yml
Due: none

Complete the change to set language default to English
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/MetadataDummy.java
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/MetadataFile.java
  ui/src/app/app.module.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update edge-prod.ts to match port listed in edge-prod.dev
  ui/src/themes/openems/environments/edge-prod.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update service.ts
  ui/src/app/shared/service/service.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix linting
  ui/src/app/edge/live/common/grid/modal/constants.spec.ts
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/shared/genericComponents/modal/abstract-modal-line.ts
  ui/src/app/shared/test/testSystem.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

start splitting model and predicting
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/LstmPredictorImpl.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/interpolation/InterpolationManager.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/predictor/Data.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/predictor/Prediction.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/predictor/Predictor.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/predictor/Preprocessing.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/predictor/ReadCsv.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/predictor/ReadModels.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/predictor/ScaleBack.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/preprocessing/GroupBy.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/preprocessing/PreProcessingImpl.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/preprocessing/RMSErrorCalculator.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/preprocessing/ReadCsv.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/preprocessing/Suffle.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/preprocessing/TrainTestSplit.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/Cell.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/Engine.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/Lstm.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/adaptiveLearningRate.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/makeMultipleModel.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/LstmModelPredictorTest.java
  io.openems.edge.predictor.lstmmodel/testResults/model.txt
Due: build-java, restore-cache, rebuild-cache

add fallback for symmetricMeter to natrues
  ui/src/app/shared/edge/edgeconfig.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix fallback for SymmetricMeter (#2228)
  ui/src/app/shared/edge/edgeconfig.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Add 'CumulatedActiveTime' Channel for Controllers with Relay (#677)
  io.openems.edge.controller.channelthreshold/bnd.bnd
  io.openems.edge.controller.channelthreshold/src/io/openems/edge/controller/channelthreshold/ControllerChannelThreshold.java
  io.openems.edge.controller.channelthreshold/src/io/openems/edge/controller/channelthreshold/ControllerChannelThresholdImpl.java
  io.openems.edge.controller.chp.soc/bnd.bnd
  io.openems.edge.controller.chp.soc/src/io/openems/edge/controller/chp/soc/ControllerChpSoc.java
  io.openems.edge.controller.chp.soc/src/io/openems/edge/controller/chp/soc/ControllerChpSocImpl.java
  io.openems.edge.controller.ess.fixactivepower/bnd.bnd
  io.openems.edge.controller.ess.fixactivepower/src/io/openems/edge/controller/ess/fixactivepower/ControllerEssFixActivePower.java
  io.openems.edge.controller.ess.fixactivepower/src/io/openems/edge/controller/ess/fixactivepower/ControllerEssFixActivePowerImpl.java
  io.openems.edge.controller.io.channelsinglethreshold/bnd.bnd
  io.openems.edge.controller.io.channelsinglethreshold/src/io/openems/edge/controller/io/channelsinglethreshold/ControllerIoChannelSingleThreshold.java
  io.openems.edge.controller.io.channelsinglethreshold/src/io/openems/edge/controller/io/channelsinglethreshold/ControllerIoChannelSingleThresholdImpl.java
  io.openems.edge.controller.io.fixdigitaloutput/bnd.bnd
  io.openems.edge.controller.io.fixdigitaloutput/src/io/openems/edge/controller/io/fixdigitaloutput/ControllerIoFixDigitalOutput.java
  io.openems.edge.controller.io.fixdigitaloutput/src/io/openems/edge/controller/io/fixdigitaloutput/ControllerIoFixDigitalOutputImpl.java
Due: build-java, restore-cache, rebuild-cache

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
