Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

[UI] Modbus/TCP: channel regex accept all suffixes
  ui/src/app/edge/live/Controller/ModbusTcpApi/shared/shared.ts
  ui/src/app/shared/components/navigation/navigation-routing.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] GoodWe: Changed Registers for VDE 4105/4110
  io.openems.edge.common/src/io/openems/edge/common/test/AbstractComponentTest.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/GoodWePropertiesConfig.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] GoodWe: Scale Factoring Fix 4110
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImplTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] show automatic phase-switching for owners
  ui/src/app/edge/live/Controller/Evse/pages/phase-switching/phase-switching.spec.ts
  ui/src/app/edge/live/Controller/Evse/pages/phase-switching/phase-switching.ts
  ui/src/app/edge/live/Controller/Evse/shared/shared.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] reduce unit test timeouts
  ui/src/app/shared/components/navigation/service/navigation.service.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] GoodWe: fix too many register updates
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
Due: build-java, restore-cache, rebuild-cache

Fix AppHeatMyPvTest
  io.openems.edge.core/test/io/openems/edge/app/heat/AppHeatMyPvTest.java
Due: build-java, restore-cache, rebuild-cache

refactor(ui/user): convert isThemeSelectionAvailable getter to readonly field
  ui/src/app/user/user.component.spec.ts
  ui/src/app/user/user.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix(ui/energymonitor): shift kW and price texts above icon when grid buy price is shown
  ui/src/app/edge/live/energymonitor/chart/section/grid.component.html
  ui/src/app/edge/live/energymonitor/chart/section/grid.component.spec.ts
  ui/src/app/edge/live/energymonitor/chart/section/grid.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Revert "fix(ui/energymonitor): shift kW and price texts above icon when grid buy price is shown"
  ui/src/app/edge/live/energymonitor/chart/section/grid.component.html
  ui/src/app/edge/live/energymonitor/chart/section/grid.component.spec.ts
  ui/src/app/edge/live/energymonitor/chart/section/grid.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix(ui/user): move isThemeSelectionAvailable before constructor to satisfy member-ordering lint rule
  ui/src/app/user/user.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

test(ui/user): instantiate UserComponent to cover isThemeSelectionAvailable field
  ui/src/app/user/user.component.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix(ui/user): fix import order in user.component.spec.ts
  ui/src/app/user/user.component.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix(backend/core): self-heal stale EdgeConfig cache on GetEdgeConfig
  io.openems.backend.core/src/io/openems/backend/core/jsonrpcrequesthandler/EdgeRpcRequestHandler.java
  io.openems.backend.core/test/io/openems/backend/core/jsonrpcrequesthandler/EdgeRpcRequestHandlerTest.java
Due: build-java, restore-cache, rebuild-cache

fix(backend/core): add missing @param role Javadoc tag
  io.openems.backend.core/src/io/openems/backend/core/jsonrpcrequesthandler/EdgeRpcRequestHandler.java
Due: build-java, restore-cache, rebuild-cache

Cleanup PR
  tools/public/goodweUpdate/goodwe100/2026_08_24/arm.bin
  tools/public/goodweUpdate/goodwe100/2026_08_24/dsp.bin
  tools/public/goodweUpdate/goodwe100/2026_08_24/info.txt
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/history/chart/chart.ts
  ui/src/app/edge/live/common/consumption/new-navigation/new-navigation.ts
  ui/src/app/edge/live/common/production/new-navigation/new-navigation.ts
  ui/src/app/edge/settings/energy-journey/shared/shared.ts
  ui/src/app/shared/components/navigation/bottom-bar/shared.ts
  ui/src/app/shared/components/navigation/favorite/shared/shared.ts
  ui/src/themes/fenecon/icons/common/heart-filled.svg
  ui/src/themes/fenecon/icons/common/heart.svg
  ui/src/themes/fenecon/icons/component/phase-switching-1.svg
  ui/src/themes/fenecon/icons/component/phase-switching-3.svg
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.edge.application/BackendEdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

HTTP Bridge: Replace thread pool
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/AsyncBridgeHttpExecutor.java
Due: build-java, restore-cache, rebuild-cache

[Edge] PowerSolverV1: improve Duration calculation (#3947)
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/v1/Solver.java
Due: build-java, restore-cache, rebuild-cache

Add unit test
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/AsyncBridgeHttpExecutor.java
  io.openems.common.bridge.http/test/io/openems/common/bridge/http/AsyncBridgeHttpExecutorTest.java
Due: build-java, restore-cache, rebuild-cache

strict-mode
  ui/src/app/user/user.component.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Expose theme switcher for OpenEMS theme (#3945)
  ui/src/app/user/user.component.html
  ui/src/app/user/user.component.spec.ts
  ui/src/app/user/user.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Fix OpenEMS UI
  ui/.vscode/settings.json
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/live/Controller/Ess/FixActivePower/shared/shared.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/shared/shared.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/shared/shared.ts
  ui/src/app/edge/live/Controller/Evse/shared/shared.ts
  ui/src/app/edge/live/Controller/Io/HeatingElement/shared/shared.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/shared/shared.ts
  ui/src/app/edge/live/common/autarchy/shared/shared.ts
  ui/src/app/edge/live/common/consumption/shared/shared.ts
  ui/src/app/edge/live/common/grid/shared/shared.ts
  ui/src/app/edge/live/common/production/shared/shared.ts
  ui/src/app/edge/live/common/selfconsumption/shared/shared.ts
  ui/src/app/edge/live/common/storage/shared/shared.ts
  ui/src/app/edge/live/live.component.html
  ui/src/app/edge/live/scheduler/js-calendar/shared-scheduler-js-calendar.ts
  ui/src/app/edge/settings/energy-journey/energy-journey-routing.module.ts
  ui/src/app/edge/settings/energy-journey/shared/shared.ts
  ui/src/app/edge/settings/settings.component.html
  ui/src/app/shared/components/edge/edge.ts
  ui/src/app/shared/components/navigation/bottom-bar/shared.ts
  ui/src/app/shared/components/navigation/shared.ts
  ui/src/app/shared/shared.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/themes/openems/environments/oem-meta.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix test
  ui/src/app/shared/components/navigation/service/navigation.service.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Fix OpenEMS UI (#3957)
  ui/.vscode/settings.json
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/live/Controller/Ess/FixActivePower/shared/shared.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/shared/shared.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/shared/shared.ts
  ui/src/app/edge/live/Controller/Evse/shared/shared.ts
  ui/src/app/edge/live/Controller/Io/HeatingElement/shared/shared.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/shared/shared.ts
  ui/src/app/edge/live/common/autarchy/shared/shared.ts
  ui/src/app/edge/live/common/consumption/shared/shared.ts
  ui/src/app/edge/live/common/grid/shared/shared.ts
  ui/src/app/edge/live/common/production/shared/shared.ts
  ui/src/app/edge/live/common/selfconsumption/shared/shared.ts
  ui/src/app/edge/live/common/storage/shared/shared.ts
  ui/src/app/edge/live/live.component.html
  ui/src/app/edge/live/scheduler/js-calendar/shared-scheduler-js-calendar.ts
  ui/src/app/edge/settings/energy-journey/energy-journey-routing.module.ts
  ui/src/app/edge/settings/energy-journey/shared/shared.ts
  ui/src/app/edge/settings/settings.component.html
  ui/src/app/shared/components/edge/edge.ts
  ui/src/app/shared/components/navigation/bottom-bar/shared.ts
  ui/src/app/shared/components/navigation/service/navigation.service.spec.ts
  ui/src/app/shared/components/navigation/shared.ts
  ui/src/app/shared/shared.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/themes/openems/environments/oem-meta.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

unit test cases
  io.openems.edge.ess.core/test/io/openems/edge/ess/core/power/v1/DataTest.java
  io.openems.edge.ess.core/test/io/openems/edge/ess/core/power/v1/EssPowerImplTest.java
Due: build-java, restore-cache, rebuild-cache

Add EVSE Charge-Point implementation for the Voltie AC wallbox
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.evse.chargepoint.voltie/.classpath
  io.openems.edge.evse.chargepoint.voltie/.gitignore
  io.openems.edge.evse.chargepoint.voltie/.project
  io.openems.edge.evse.chargepoint.voltie/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.evse.chargepoint.voltie/bnd.bnd
  io.openems.edge.evse.chargepoint.voltie/readme.adoc
  io.openems.edge.evse.chargepoint.voltie/src/io/openems/edge/evse/chargepoint/voltie/Config.java
  io.openems.edge.evse.chargepoint.voltie/src/io/openems/edge/evse/chargepoint/voltie/EvseChargePointVoltie.java
  io.openems.edge.evse.chargepoint.voltie/src/io/openems/edge/evse/chargepoint/voltie/EvseChargePointVoltieImpl.java
  io.openems.edge.evse.chargepoint.voltie/src/io/openems/edge/evse/chargepoint/voltie/enums/ChargeStopReason.java
  io.openems.edge.evse.chargepoint.voltie/src/io/openems/edge/evse/chargepoint/voltie/enums/EvseState.java
  io.openems.edge.evse.chargepoint.voltie/src/io/openems/edge/evse/chargepoint/voltie/enums/LogVerbosity.java
  io.openems.edge.evse.chargepoint.voltie/test/.gitignore
  io.openems.edge.evse.chargepoint.voltie/test/io/openems/edge/evse/chargepoint/voltie/EvseChargePointVoltieImplTest.java
  io.openems.edge.evse.chargepoint.voltie/test/io/openems/edge/evse/chargepoint/voltie/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Bump j2mod to 3.4.0
  cnf/pom.xml
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

[Edge] PvInverter.SellToGridLimit: clamp setpoint to 0
  io.openems.edge.controller.pvinverter.selltogridlimit/src/io/openems/edge/controller/pvinverter/selltogridlimit/ControllerPvInverterSellToGridLimitImpl.java
  io.openems.edge.controller.pvinverter.selltogridlimit/test/io/openems/edge/controller/pvinverter/selltogridlimit/ControllerPvInverterSellToGridLimitImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Common] JettyUtils: block on Response.write() to prevent IncompleteRead
  io.openems.common/src/io/openems/common/utils/JettyUtils.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Energy UtilsV1: take start time of prediction into account
  io.openems.edge.energy/src/io/openems/edge/energy/v1/optimizer/UtilsV1.java
Due: build-java, restore-cache, rebuild-cache

update outdated links in CONTRIBUTING.MD
  .github/CONTRIBUTING.md
Due: none

Update readme.adoc: updated click path to download modbus mapping file
  io.openems.edge.controller.api.modbus/readme.adoc
Due: build-java, restore-cache, rebuild-cache

[Edge] Keep manual relay targets in room heating migration
  io.openems.edge.controller.io.heating.room/src/io/openems/edge/controller/io/heating/room/Config.java
  io.openems.edge.controller.io.heating.room/src/io/openems/edge/controller/io/heating/room/ControllerIoRoomHeatingImpl.java
  io.openems.edge.controller.io.heating.room/test/io/openems/edge/controller/io/heating/room/MyConfig.java
Due: build-java, restore-cache, rebuild-cache
