Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

Add beta hint & add modbus protocol
  io.openems.edge.evcs.webasto.unite/doc/Webasto_UNITE_Modbus_Register_1-00_external_V1.pdf
  io.openems.edge.evcs.webasto.unite/readme.adoc
Due: build-java, restore-cache, rebuild-cache

InfluxDB: apply limit also on writes (#553)
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/InfluxConnector.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/MergePointsWorker.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/QueryProxy.java
Due: build-java, restore-cache, rebuild-cache

InfluxDB: refine RandomLimit
  io.openems.backend.timedata.influx/src/io/openems/backend/timedata/influx/InfluxImpl.java
  io.openems.edge.timedata.influxdb/src/io/openems/edge/timedata/influxdb/InfluxTimedataImpl.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/InfluxConnector.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/MergePointsWorker.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/QueryProxy.java
Due: build-java, restore-cache, rebuild-cache

ESS Fix Active Power: handle Hybrid-ESS (BREAKING CHANGE) (#2092)
  io.openems.edge.controller.ess.fixactivepower/bnd.bnd
  io.openems.edge.controller.ess.fixactivepower/src/io/openems/edge/controller/ess/fixactivepower/Config.java
  io.openems.edge.controller.ess.fixactivepower/src/io/openems/edge/controller/ess/fixactivepower/EssFixActivePowerImpl.java
  io.openems.edge.controller.ess.fixactivepower/src/io/openems/edge/controller/ess/fixactivepower/HybridEssMode.java
  io.openems.edge.controller.ess.fixactivepower/test/io/openems/edge/controller/ess/fixactivepower/EssFixActivePowerImplTest.java
  io.openems.edge.controller.ess.fixactivepower/test/io/openems/edge/controller/ess/fixactivepower/MyConfig.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/test/DummyHybridEss.java
Due: build-java, restore-cache, rebuild-cache

Time of Use Tariff: add Widgets for future Controller (#541)
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/timeofusetariffdischarge/chart.component.ts
  ui/src/app/edge/history/timeofusetariffdischarge/widget.component.html
  ui/src/app/edge/history/timeofusetariffdischarge/widget.component.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/modal/modal.html
  ui/src/app/edge/live/live.component.html
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/type/widget.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev

Edge: send aggregated data (#544)
  io.openems.common/src/io/openems/common/channel/PersistencePriority.java
  io.openems.common/src/io/openems/common/channel/Unit.java
  io.openems.common/src/io/openems/common/timedata/DurationUnit.java
  io.openems.common/src/io/openems/common/utils/JsonUtils.java
  io.openems.edge.battery.api/src/io/openems/edge/battery/api/Battery.java
  io.openems.edge.battery.bmw/src/io/openems/edge/battery/bmw/BmwBattery.java
  io.openems.edge.battery.fenecon.commercial/src/io/openems/edge/battery/fenecon/commercial/FeneconCommercialBattery.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/FeneconHomeBattery.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/FeneconHomeBatteryImpl.java
  io.openems.edge.battery.soltaro/src/io/openems/edge/battery/soltaro/cluster/versionc/ClusterVersionC.java
  io.openems.edge.batteryinverter.sinexcel/src/io/openems/edge/batteryinverter/sinexcel/Sinexcel.java
  io.openems.edge.common/src/io/openems/edge/common/channel/Channel.java
  io.openems.edge.common/src/io/openems/edge/common/channel/StateChannelDoc.java
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractDoc.java
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractReadChannel.java
  io.openems.edge.common/src/io/openems/edge/common/component/AbstractOpenemsComponent.java
  io.openems.edge.common/src/io/openems/edge/common/type/CircularTreeMap.java
  io.openems.edge.common/test/io/openems/edge/common/type/CircularTreeMapTest.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/BackendApiImpl.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/Config.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/SendAggregatedChannelValuesWorker.java
  io.openems.edge.controller.api.backend/test/io/openems/edge/controller/api/backend/BackendApiImplTest.java
  io.openems.edge.controller.api.backend/test/io/openems/edge/controller/api/backend/MyConfig.java
  io.openems.edge.controller.api.backend/test/io/openems/edge/controller/api/backend/SendAggregatedChannelValuesWorkerTest.java
  io.openems.edge.controller.ess.gridoptimizedcharge/src/io/openems/edge/controller/ess/gridoptimizedcharge/GridOptimizedCharge.java
  io.openems.edge.controller.io.heatingelement/src/io/openems/edge/controller/io/heatingelement/ControllerHeatingElement.java
  io.openems.edge.controller.io.heatpump.sgready/src/io/openems/edge/controller/io/heatpump/sgready/HeatPump.java
  io.openems.edge.ess.sma/src/io/openems/edge/sma/sunnyisland/SunnyIslandEss.java
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/kecontact/KebaChannelId.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/GoodWe.java
  io.openems.edge.io.wago/src/io/openems/edge/wago/Fieldbus4xxDI.java
  io.openems.edge.io.wago/src/io/openems/edge/wago/Fieldbus523RO1Ch.java
  io.openems.edge.io.wago/src/io/openems/edge/wago/Fieldbus5xxDO.java
  io.openems.edge.io.weidmueller/src/io/openems/edge/io/weidmueller/FieldbusChannelId.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/RecordWorker.java
Due: build-java, restore-cache, rebuild-cache

AppCenter: FENECON Home: add missing safety countries (#549)
  io.openems.common/src/io/openems/common/utils/EnumUtils.java
  io.openems.edge.core/src/io/openems/edge/app/enums/OptionsFactory.java
  io.openems.edge.core/src/io/openems/edge/app/enums/SafetyCountry.java
  io.openems.edge.core/src/io/openems/edge/app/enums/TranslatableEnum.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AbstractOpenemsApp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/JsonFormlyUtil.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/Nameable.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
Due: build-java, restore-cache, rebuild-cache

Odoo: fix behaviour on logout (#554)
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/OdooMetadata.java
Due: build-java, restore-cache, rebuild-cache

Virtual Add Meter: improvements (#2062)
  io.openems.edge.common/src/io/openems/edge/common/type/TypeUtils.java
  io.openems.edge.common/test/io/openems/edge/common/type/TypeUtilsTest.java
  io.openems.edge.meter.virtual/src/io/openems/edge/meter/virtual/asymmetric/add/AsymmetricChannelManager.java
  io.openems.edge.meter.virtual/src/io/openems/edge/meter/virtual/asymmetric/add/AsymmetricVirtualAdd.java
  io.openems.edge.meter.virtual/src/io/openems/edge/meter/virtual/asymmetric/add/Config.java
  io.openems.edge.meter.virtual/src/io/openems/edge/meter/virtual/common/AbstractVirtualAddMeter.java
  io.openems.edge.meter.virtual/src/io/openems/edge/meter/virtual/symmetric/add/SymmetricChannelManager.java
  io.openems.edge.meter.virtual/src/io/openems/edge/meter/virtual/symmetric/add/SymmetricVirtualAdd.java
  io.openems.edge.meter.virtual/src/io/openems/edge/meter/virtual/symmetric/add/VirtualAdd.java
  io.openems.edge.meter.virtual/test/io/openems/edge/meter/virtual/asymmetric/add/MyConfig.java
  io.openems.edge.meter.virtual/test/io/openems/edge/meter/virtual/asymmetric/add/VirtualAsymmetricMeterAddTest.java
  io.openems.edge.meter.virtual/test/io/openems/edge/meter/virtual/symmetric/add/MyConfig.java
  io.openems.edge.meter.virtual/test/io/openems/edge/meter/virtual/symmetric/add/VirtualSymmetricMeterAddTest.java
Due: build-java, restore-cache, rebuild-cache

Push version to 2023.2.7
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Update Changelog for 2023.2.7
  ui/package-lock.json
  ui/src/app/changelog/changelog.component.ts
Due: build-ui, refresh-dev

Start development of version 2023.2.8-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Edge to Backend: fix send aggregated values (#556)
  io.openems.common/src/io/openems/common/jsonrpc/notification/AggregatedDataNotification.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/BackendApiImpl.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/SendAggregatedChannelValuesWorker.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/SendChannelValuesWorker.java
  io.openems.edge.controller.api.backend/test/io/openems/edge/controller/api/backend/SendChannelValuesWorkerTest.java
Due: build-java, restore-cache, rebuild-cache

Push version to 2023.2.8
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Update Changelog for 2023.2.8
  ui/src/app/changelog/changelog.component.ts
Due: build-ui, refresh-dev

Start development of version 2023.2.9-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Update Changelog for 2023.2.9
  ui/src/app/changelog/changelog.component.ts
Due: build-ui, refresh-dev

Push version to 2023.2.9
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Start development of version 2023.2.10-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Backend-Api-Controller: aggregate data of unchanged channels (#557)
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/SendChannelValuesWorker.java
Due: build-java, restore-cache, rebuild-cache

Meta Version: set PersistencePriority HIGH (#558)
  io.openems.edge.common/src/io/openems/edge/common/meta/Meta.java
Due: build-java, restore-cache, rebuild-cache

Push version to 2023.2.10
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Update Changelog for 2023.2.10
  ui/src/app/changelog/changelog.component.ts
Due: build-ui, refresh-dev

Start development of version 2023.2.11-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Update Changelog for 2023.2.11
  ui/src/app/changelog/changelog.component.ts
Due: build-ui, refresh-dev

Push version to 2023.2.11
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Start development of version 2023.2.12-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Fix buildEdge and buildBackend (#560)
  .woodpecker/.java-build-master-develop.yml
  .woodpecker/.java-build.yml
  build.gradle
  gradle.properties
Due: build-java, restore-cache, rebuild-cache

JsonUtils: simplify `getAsOptional...` methods (#2093)
  io.openems.common/src/io/openems/common/utils/JsonUtils.java
Due: build-java, restore-cache, rebuild-cache

Push version to 2023.3.0
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Start development of version 2023.4.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Phases listener added
  io.openems.edge.evcs.webasto.next/src/io/openems/edge/evcs/webasto/next/EvcsWebastoNext.java
  io.openems.edge.evcs.webasto.next/src/io/openems/edge/evcs/webasto/next/EvcsWebastoNextImpl.java
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/fastexcel.bnd
Due: build-java, restore-cache, rebuild-cache

Fix imports, dependencies and logs
  cnf/pom.xml
  io.openems.backend.b2brest/bnd.bnd
  io.openems.backend.b2brest/src/io/openems/backend/b2brest/RestHandler.java
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.api.rest/bnd.bnd
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/RestHandler.java
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

KMtronic Modbus Relay Board: set PersistencePriorities (#562)
  io.openems.edge.io.kmtronic/src/io/openems/edge/io/kmtronic/eight/KmtronicRelay8Port.java
  io.openems.edge.io.kmtronic/src/io/openems/edge/io/kmtronic/four/KmtronicRelay4Port.java
Due: build-java, restore-cache, rebuild-cache

Update Changelog for 2023.3.1
  io.openems.edge.application/EdgeApp.bndrun
  ui/src/app/changelog/changelog.component.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Push version to 2023.3.1
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Start development of version 2023.3.2-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Fix buildEdge and buildBackend (#564)
  build.gradle
Due: build-java, restore-cache, rebuild-cache

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: any of: ui/**, **/.woodpecker.yml
  refresh-dev: any of: ui/**, **/.woodpecker.yml
  restore-cache: any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml
  rebuild-cache: any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml
