Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

update getting started
  doc/modules/ROOT/nav.adoc
  doc/modules/ROOT/pages/ui/implementing-a-widget.adoc
Due: none

UI: Add Global User and Currency Classes (#654)
  ui/src/app/app.component.html
  ui/src/app/app.component.ts
  ui/src/app/edge/history/timeofusetariffdischarge/chart.component.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/flat/flat.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/modal/modal.ts
  ui/src/app/shared/shared.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

update getting started
  doc/modules/ROOT/assets/images/ui-flat-widget-fixactivepower.png
  doc/modules/ROOT/nav.adoc
  doc/modules/ROOT/pages/ui/implementing-a-widget.adoc
Due: none

update image
  doc/modules/ROOT/assets/images/ui-flat-widget-fixactivepower.png
Due: none

Add filter definition for WinMerge
  tools/WinMerge-Filter.flt
Due: none

continue fems backport
  ui/src/app/app-routing.module.ts
  ui/src/app/changelog/view/component/changelog.constants.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/flat/flat.html
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/flat/flat.ts
  ui/src/app/edge/settings/app/app.module.ts
  ui/src/app/edge/settings/app/formly/formly-text.ts
  ui/src/app/edge/settings/app/formly/input-with-unit.ts
  ui/src/app/edge/settings/app/formly/safe-input/formly-safe-input-modal.component.html
  ui/src/app/edge/settings/app/formly/safe-input/formly-safe-input.extended.html
  ui/src/app/edge/settings/app/index.component.html
  ui/src/app/edge/settings/app/jsonrpc/getAppAssistant.ts
  ui/src/app/edge/settings/app/single.component.html
  ui/src/app/index/index.component.html
  ui/src/app/index/index.component.ts
  ui/src/app/registration/modal/modal.component.html
  ui/src/app/registration/modal/modal.component.ts
  ui/src/app/shared/formly/form-field.wrapper.html
  ui/src/app/shared/formly/formly-field-radio-with-image/formly-field-radio-with-image.html
  ui/src/app/shared/formly/input.html
  ui/src/app/shared/history-data-error.component.ts
  ui/src/app/shared/service/globalRouteChangeHandler.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/shared.module.ts
  ui/src/app/shared/type/widget.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix ui build
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/modal/modal.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Final fixes
  ui/src/app/app.component.ts
  ui/src/app/changelog/view/component/changelog.constants.ts
  ui/src/app/edge/history/storage/totalchart.component.ts
  ui/src/app/edge/history/timeofusetariffdischarge/chart.component.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/modal/modal.ts
  ui/src/app/edge/settings/app/jsonrpc/getAppAssistant.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/user/user.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

EvcsCluster: rename "Hardware current" to "Power" (#659)
  io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/Config.java
Due: build-java, restore-cache, rebuild-cache

AppCenter: add update after delete of app (#656)
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerImpl.java
  io.openems.edge.core/test/io/openems/edge/app/evcs/TestEvcsCluster.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerTestBundle.java
Due: build-java, restore-cache, rebuild-cache

WIP introduce WaitDelayHandler
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksManager.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/WaitDelayHandler.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/WaitDelayTask.java
Due: build-java, restore-cache, rebuild-cache

UI: Changes in Online monitoring labels for internalization. (#611)
  ui/src/app/edge/history/channelthreshold/channelthresholdchartoverview/channelthresholdchartoverview.component.html
  ui/src/app/edge/history/consumption/consumptionchartoverview/consumptionchartoverview.component.html
  ui/src/app/edge/history/consumption/totalchart.component.ts
  ui/src/app/edge/history/fixdigitaloutput/fixdigitaloutputchartoverview/fixdigitaloutputchartoverview.component.html
  ui/src/app/edge/history/production/productionchartoverview/productionchartoverview.component.html
  ui/src/app/edge/history/production/totalchart.ts
  ui/src/app/edge/history/storage/socchart.component.ts
  ui/src/app/edge/history/storage/storagechartoverview/storagechartoverview.component.html
  ui/src/app/edge/history/storage/totalchart.component.ts
  ui/src/app/edge/installation/views/protocol-installer/protocol-installer.component.ts
  ui/src/app/edge/live/common/consumption/modal/modal.html
  ui/src/app/edge/live/common/production/modal/modal.html
  ui/src/app/edge/live/common/storage/modal/modal.component.html
  ui/src/app/shared/chartoptions/popover/popover.component.html
  ui/src/app/shared/header/header.component.html
  ui/src/app/shared/pipe/unitvalue/unitvalue.pipe.spec.ts
  ui/src/app/shared/pipe/unitvalue/unitvalue.pipe.ts
  ui/src/assets/i18n/cz.json
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/es.json
  ui/src/assets/i18n/fr.json
  ui/src/assets/i18n/nl.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI Commerical-IBN: Fix Off-Grid switch configuration (#658)
  ui/src/app/edge/installation/installation-systems/commercial/commercial-30/commercial30-netztrenn.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update wrapper
  io.openems.wrapper/kotlinx-coroutines-core-jvm.bnd
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Establish baseline for Veloce Energy fork
  .github/workflows/branch-name-check.yml
  .gitignore
  README.md
Due: none

Update README.md
  README.md
Due: none

Set default language to english
  .gitignore
  README.md
  io.openems.common/src/io/openems/common/session/Language.java
  ui/src/app/shared/type/language.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

WIP WaitDelayHandler: calculate next delay
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/WaitHandler.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksManager.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/WaitDelayHandler.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/FakeTicker.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/WaitDelayHandlerTest.java
Due: build-java, restore-cache, rebuild-cache

WIP start handling of defective components
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/DefectiveComponentsHandler.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasks.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksManager.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksSupplier.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/WaitDelayHandler.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/WaitDelayHandlerTest.java
Due: build-java, restore-cache, rebuild-cache

WIP
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/AbstractModbusBridge.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/ModbusProtocol.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/ReadTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/Task.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/WaitTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/WriteTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasks.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksManager.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksSupplier.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/DefectiveComponents.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/WaitDelayHandler.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/WaitDelayTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/WaitMutexTask.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/DummyModbusComponent.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/AbstractDummyComponent.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/AbstractDummyTask.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/DummyModbusBridge.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksSupplierTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/DefectiveComponentsTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/DummyCycleTasksSupplier.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/WaitDelayHandlerTest.java
  io.openems.edge.common/src/io/openems/edge/common/type/Tuple.java
  io.openems.edge.io.wago/test/io/openems/edge/wago/WagoTest.java
Due: build-java, restore-cache, rebuild-cache

refactor historyPeriod in service
  ui/src/app/app-routing.module.ts
  ui/src/app/changelog/changelog.module.ts
  ui/src/app/changelog/view/component/changelog.component.html
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/changelog/view/component/changelog.constants.ts
  ui/src/app/changelog/view/view.html
  ui/src/app/changelog/view/view.ts
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/channelthreshold/widget.component.ts
  ui/src/app/edge/history/chpsoc/widget.component.ts
  ui/src/app/edge/history/common/production/Production.ts
  ui/src/app/edge/history/common/production/chart/chargerChart.ts
  ui/src/app/edge/history/common/production/chart/productionMeterChart.ts
  ui/src/app/edge/history/common/production/chart/totalChart.ts
  ui/src/app/edge/history/common/production/chart/totalDcChart.ts
  ui/src/app/edge/history/energy/energy.component.ts
  ui/src/app/edge/history/energy/modal/modal.component.ts
  ui/src/app/edge/history/fixdigitaloutput/widget.component.ts
  ui/src/app/edge/history/gridoptimizedcharge/chart.component.ts
  ui/src/app/edge/history/heatingelement/widget.component.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/history.component.ts
  ui/src/app/edge/history/shared.ts
  ui/src/app/edge/history/singlethreshold/widget.component.ts
  ui/src/app/edge/history/timeofusetariffdischarge/chart.component.ts
  ui/src/app/edge/live/Controller/Evcs/Evcs.ts
  ui/src/app/edge/live/Controller/Evcs/modal/modal.page.ts
  ui/src/app/edge/live/live.component.ts
  ui/src/app/edge/live/live.module.ts
  ui/src/app/shared/genericComponents/chart/abstractHistoryChartOverView.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/shared/historydataservice.ts
  ui/src/app/shared/pickdate/pickdate.component.html
  ui/src/app/shared/pickdate/pickdate.component.ts
  ui/src/app/shared/pickdate/popover/popover.component.ts
  ui/src/app/shared/service/service.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

clean PR
  ui/src/app/shared/shared.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

remove unnecessary import
  ui/src/app/shared/shared.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Eastron SDM630: Add capability to invert energy, power and current values if the meter wiring is reversed (bottom to top instead of top to bottom).
  io.openems.edge.meter.eastron.sdm630/src/io/openems/edge/meter/eastron/sdm630/Config.java
  io.openems.edge.meter.eastron.sdm630/src/io/openems/edge/meter/eastron/sdm630/MeterEastronSdm630Impl.java
  io.openems.edge.meter.eastron.sdm630/test/io/openems/edge/meter/eastron/sdm630/MeterEastronSdm630ImplTest.java
  io.openems.edge.meter.eastron.sdm630/test/io/openems/edge/meter/eastron/sdm630/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

fix build
  io.openems.edge.common/test/io/openems/edge/common/type/CircularTreeMapTest.java
  io.openems.edge.controller.asymmetric.fixactivepower/.gitignore
  ui/src/app/shared/formly/formly-select-field.extended.ts
  ui/src/app/shared/formly/formly-select-field.wrapper.html
  ui/src/app/shared/formly/formly-select-field.wrapper.ts
  ui/src/app/shared/genericComponents/flat/flat-widget-percentagebar/flat-widget-percentagebar.html
  ui/src/app/shared/shared.module.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Duplicated ChannelIds in Keba and Goe removed.
  io.openems.edge.evcs.goe.chargerhome/src/io/openems/edge/evcs/goe/chargerhome/GoeChannelId.java
  io.openems.edge.evcs.goe.chargerhome/src/io/openems/edge/evcs/goe/chargerhome/GoeChargerHomeImpl.java
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/kecontact/KebaKeContact.java
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/kecontact/ReadHandler.java
Due: build-java, restore-cache, rebuild-cache

Update app.module.ts
  ui/src/app/app.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update GenericHttpWorker.java
  io.openems.common/src/io/openems/common/worker/GenericHttpWorker.java
Due: build-java, restore-cache, rebuild-cache

Start migration to Angular 16
  ui/package.json
  ui/src/app/app.module.ts
  ui/src/app/edge/history/common/autarchy/Autarchy.ts
  ui/src/app/edge/history/history.module.ts
  ui/src/app/edge/live/Controller/Ess/FixActivePower/Ess_FixActivePower.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/Ess_GridOptimizedCharge.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/Ess_TimeOfUseTariff_Discharge.ts
  ui/src/app/edge/live/Controller/Io/HeatingElement/Io_HeatingElement.ts
  ui/src/app/edge/live/common/autarchy/Common_Autarchy.ts
  ui/src/app/edge/live/common/consumption/Common_Consumption.ts
  ui/src/app/edge/live/common/grid/Common_Grid.ts
  ui/src/app/edge/live/common/production/Common_Production.ts
  ui/src/app/edge/live/common/selfconsumption/Common_Selfconsumption.ts
  ui/src/app/edge/live/live.module.ts
  ui/src/app/edge/settings/settings.module.ts
  ui/src/app/shared/directive/directive.ts
  ui/src/app/shared/edge/meter/meter.module.ts
  ui/src/app/shared/genericComponents/genericComponents.ts
  ui/src/app/shared/pipe/pipe.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location
