Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

Fix docs build (only on 'develop' branch')
  .gitignore
  build.gradle
  doc/.gitignore
  doc/build/.gitignore
  doc/build/package.json
  doc/modules/ROOT/pages/backend/timedata.adoc
  doc/modules/ROOT/pages/edge/implement.adoc
  io.openems.backend.timedata.aggregatedinflux/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Time-of-Use Controller: improvements for BETA test (#988)
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/Config.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Context.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Optimizer.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Params.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Period.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Simulator.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Utils.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/MyConfig.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImplTest.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/optimizer/PeriodTest.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/optimizer/RunOptimizerFromLogApp.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/optimizer/SimulatorTest.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/optimizer/UtilsTest.java
Due: build-java, restore-cache, rebuild-cache

Updaten bnd files
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/fastexcel.bnd
Due: build-java, restore-cache, rebuild-cache

Core.Sum: persist maximum ever values (#989)
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.common/src/io/openems/edge/common/sum/Sum.java
  io.openems.edge.core/src/io/openems/edge/core/predictormanager/PredictorManagerImpl.java
  io.openems.edge.core/src/io/openems/edge/core/sum/Config.java
  io.openems.edge.core/src/io/openems/edge/core/sum/ExtremeEverValue.java
  io.openems.edge.core/src/io/openems/edge/core/sum/SumImpl.java
  io.openems.edge.core/test/io/openems/edge/core/sum/MyConfig.java
  io.openems.edge.core/test/io/openems/edge/core/sum/SumImplTest.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/ElectricityMeter.java
  io.openems.edge.pvinverter.cluster/src/io/openems/edge/pvinverter/cluster/PvInverterClusterImpl.java
Due: build-java, restore-cache, rebuild-cache

Fix Java build
  io.openems.edge.controller.ess.gridoptimizedcharge/test/io/openems/edge/controller/ess/gridoptimizedcharge/ControllerEssGridOptimizedChargeImplTest.java
  io.openems.edge.core/test/io/openems/edge/core/predictormanager/PredictorManagerImplTest.java
  io.openems.edge.timeofusetariff.api/src/io/openems/edge/timeofusetariff/api/utils/TimeOfUseTariffUtils.java
  io.openems.edge.timeofusetariff.tibber/src/io/openems/edge/timeofusetariff/tibber/TimeOfUseTariffTibberImpl.java
Due: build-java, restore-cache, rebuild-cache

Core.Sum: persist maximum ever values
  io.openems.edge.common/src/io/openems/edge/common/sum/Sum.java
  io.openems.edge.core/src/io/openems/edge/core/predictormanager/PredictorManagerImpl.java
  io.openems.edge.core/src/io/openems/edge/core/sum/Config.java
  io.openems.edge.core/src/io/openems/edge/core/sum/ExtremeEverValue.java
  io.openems.edge.core/src/io/openems/edge/core/sum/SumImpl.java
  io.openems.edge.core/test/io/openems/edge/core/sum/MyConfig.java
  io.openems.edge.core/test/io/openems/edge/core/sum/SumImplTest.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/ElectricityMeter.java
  io.openems.edge.pvinverter.cluster/src/io/openems/edge/pvinverter/cluster/PvInverterClusterImpl.java
Due: build-java, restore-cache, rebuild-cache

Core.Sum: persist maximum ever values (#2476)
  io.openems.edge.common/src/io/openems/edge/common/sum/Sum.java
  io.openems.edge.core/src/io/openems/edge/core/predictormanager/PredictorManagerImpl.java
  io.openems.edge.core/src/io/openems/edge/core/sum/Config.java
  io.openems.edge.core/src/io/openems/edge/core/sum/ExtremeEverValue.java
  io.openems.edge.core/src/io/openems/edge/core/sum/SumImpl.java
  io.openems.edge.core/test/io/openems/edge/core/sum/MyConfig.java
  io.openems.edge.core/test/io/openems/edge/core/sum/SumImplTest.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/ElectricityMeter.java
  io.openems.edge.pvinverter.cluster/src/io/openems/edge/pvinverter/cluster/PvInverterClusterImpl.java
Due: build-java, restore-cache, rebuild-cache

Merge from OpenEMS (#993)
  .gitignore
  build.gradle
  cnf/pom.xml
  doc/.gitignore
  doc/build/.gitignore
  doc/build/package.json
  doc/modules/ROOT/pages/backend/timedata.adoc
  doc/modules/ROOT/pages/edge/implement.adoc
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.timedata.aggregatedinflux/readme.adoc
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/jsonrpc/GetScheduleResponse.java
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/fastexcel.bnd
Due: build-java, restore-cache, rebuild-cache

UI: refactor channelthreshold history
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/history.module.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/modal/statePriceChart.ts
  ui/src/app/edge/settings/systemexecute/systemexecute.component.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/shared/converter.ts
  ui/src/app/shared/service/utils.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

User: adding JsonObject for UI "settings"
  io.openems.backend.common/src/io/openems/backend/common/metadata/Metadata.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/User.java
  io.openems.backend.common/src/io/openems/backend/common/test/DummyMetadata.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/SystemLogHandler.java
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/MetadataDummy.java
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/MetadataFile.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MyUser.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooHandler.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/OnRequest.java
  io.openems.common/src/io/openems/common/jsonrpc/request/UpdateUserSettingsRequest.java
  io.openems.common/src/io/openems/common/jsonrpc/response/AuthenticateResponse.java
  io.openems.common/src/io/openems/common/session/AbstractUser.java
  io.openems.edge.common/src/io/openems/edge/common/user/User.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/OnRequest.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome30.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/Config.java
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/jsonrpc/request/updateUserSettingsRequest.ts
  ui/src/app/shared/jsonrpc/shared.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/service/websocket.ts
  ui/src/app/user/user.component.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

GoodWe Grid-Meter: if HAS_NO_METER is set, set values to 'null'
  io.openems.edge.core/src/io/openems/edge/core/predictormanager/PredictorManagerImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/gridmeter/GoodWeGridMeter.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/gridmeter/GoodWeGridMeterImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/gridmeter/IgnoreZeroConverter.java
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/service/utils.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Modbus Bridge TasksSupplier: avoid ConcurrentModificationException
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/TasksSupplierImpl.java
Due: build-java, restore-cache, rebuild-cache

UI: channelthreshold: use factory instead of nature
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHome.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImpl.java
  io.openems.edge.battery.fenecon.home/test/io/openems/edge/battery/fenecon/home/TowersAndModulesTest.java
  ui/src/app/edge/history/history.module.ts
  ui/src/app/shared/type/widget.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

StateChannels: always set initial value to false
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/AbstractOpenemsModbusComponent.java
  io.openems.edge.common/src/io/openems/edge/common/channel/StateChannel.java
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractReadChannel.java
  io.openems.edge.controller.api.backend/test/io/openems/edge/controller/api/backend/SendChannelValuesWorkerTest.java
Due: build-java, restore-cache, rebuild-cache

ESS Power: handle other possible Exceptions
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/optimizers/AddConstraintsForNotStrictlyDefinedCoefficients.java
Due: build-java, restore-cache, rebuild-cache

Debug-Log Controller: avoid Exception on non-existing Channel
  io.openems.edge.controller.debug.log/src/io/openems/edge/controller/debuglog/ControllerDebugLogImpl.java
  io.openems.edge.controller.debug.log/test/io/openems/edge/controller/debuglog/ControllerDebugLogImplTest.java
Due: build-java, restore-cache, rebuild-cache

GoodWe BatteryInverter: write certain Channels only on activate/modified
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHome.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImpl.java
  io.openems.edge.battery.fenecon.home/test/io/openems/edge/battery/fenecon/home/TowersAndModulesTest.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
Due: build-java, restore-cache, rebuild-cache

UI: add notifcation component
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Reset to develop
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/modal/modal.html
  ui/src/app/edge/settings/systemexecute/systemexecute.component.ts
  ui/src/app/user/user.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: specify eslint as vscode workspace default formatter (#2470)
  ui/.vscode/extensions.json
  ui/.vscode/settings.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Docs: reproduce single_document.adoc from nav.adoc and sed script (#2468)
  doc/tools/create_single_page_html.sh
  doc/tools/create_single_page_pdf.sh
Due: none

Push version to 2024.1.0
  .github/workflows/build.yml
  .github/workflows/release.yml
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2024.2.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Host SystemUpdate: fix OEM race condition
  io.openems.edge.core/src/io/openems/edge/core/host/HostImpl.java
  io.openems.edge.core/src/io/openems/edge/core/host/SystemUpdateHandler.java
Due: build-java, restore-cache, rebuild-cache

remove trustStorePassword, adapt comments
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/Config.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/ControllerApiMqttImpl.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttConnector.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttUtils.java
  io.openems.edge.controller.api.mqtt/test/io/openems/edge/controller/api/mqtt/ControllerApiMqttImplTest.java
  io.openems.edge.controller.api.mqtt/test/io/openems/edge/controller/api/mqtt/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Apply tools/prepare-commit.sh
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.meter.siemens/.gitignore
  io.openems.edge.meter.siemens/.vscode/settings.json
  io.openems.edge.meter.siemens/bnd.bnd
  io.openems.edge.meter.siemens/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Review, Cleanup, Checkstyle
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.meter.siemens/.vscode/settings.json
  io.openems.edge.meter.siemens/bnd.bnd
  io.openems.edge.meter.siemens/readme.adoc
  io.openems.edge.meter.siemens/src/io/openems/edge/meter/siemens/pac1600/Config.java
  io.openems.edge.meter.siemens/src/io/openems/edge/meter/siemens/pac1600/MeterSiemensPac1600Impl.java
  io.openems.edge.meter.siemens/src/io/openems/edge/meter/siemens/pac2200/Config.java
  io.openems.edge.meter.siemens/src/io/openems/edge/meter/siemens/pac2200/MeterSiemensPac2200.java
  io.openems.edge.meter.siemens/src/io/openems/edge/meter/siemens/pac2200/MeterSiemensPac2200Impl.java
  io.openems.edge.meter.siemens/test/io/openems/edge/meter/siemens/pac2200/MeterSiemensPac2200ImplTest.java
  io.openems.edge.meter.siemens/test/io/openems/edge/meter/siemens/pac2200/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Organize imports + apply Eclipse autoformat
  io.openems.edge.meter.siemens/src/io/openems/edge/meter/siemens/pac1600/Config.java
  io.openems.edge.meter.siemens/src/io/openems/edge/meter/siemens/pac2200/MeterSiemensPac2200.java
  io.openems.edge.meter.siemens/test/io/openems/edge/meter/siemens/pac1600/MyConfig.java
  io.openems.edge.meter.siemens/test/io/openems/edge/meter/siemens/pac2200/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Metadata Dummy: fix filter for product types
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/MetadataDummy.java
Due: build-java, restore-cache, rebuild-cache

Metadata Dummy: fix filter for product types (#2479)
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/MetadataDummy.java
Due: build-java, restore-cache, rebuild-cache
