Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

Clean.
  ui/src/app/edge/history/history.component.ts
  ui/src/app/shared/edge/edge.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Generic-Ess: fix debugLog for max charge power (#2345)
  io.openems.edge.battery.api/src/io/openems/edge/battery/test/DummyBattery.java
  io.openems.edge.batteryinverter.api/src/io/openems/edge/batteryinverter/test/DummyManagedSymmetricBatteryInverter.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/common/AbstractChannelManager.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/common/AbstractGenericManagedEss.java
  io.openems.edge.ess.generic/test/io/openems/edge/ess/generic/symmetric/EssGenericManagedSymmetricImplTest.java
Due: build-java, restore-cache, rebuild-cache

UI: add skeleton for user contact details. (#2317)
  ui/src/app/shared/formly/formly-skeleton-wrapper.ts
  ui/src/app/shared/shared.module.ts
  ui/src/app/user/user.component.html
  ui/src/app/user/user.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Siemens Logo as network relay board
  io.openems.edge.io.siemenslogo/.classpath
  io.openems.edge.io.siemenslogo/.gitignore
  io.openems.edge.io.siemenslogo/.project
  io.openems.edge.io.siemenslogo/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.io.siemenslogo/bnd.bnd
  io.openems.edge.io.siemenslogo/readme.adoc
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/AbstractSiemensLogoRelay.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/Config.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/SiemensLogoRelay.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/SiemensLogoRelayImpl.java
Due: build-java, restore-cache, rebuild-cache

Modbus Bridge: fix typo in README
  io.openems.edge.bridge.modbus/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Modbus Bridge: fix typo in README (#2351)
  io.openems.edge.bridge.modbus/readme.adoc
Due: build-java, restore-cache, rebuild-cache

log selectors
  ui/src/app/edge/live/live.component.ts
  ui/src/app/shared/genericComponents/flat/abstract-flat-widget-line.ts
  ui/src/app/shared/genericComponents/flat/abstract-flat-widget.ts
  ui/src/app/shared/genericComponents/modal/abstractModal.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Modbus SunSpec: split modbus tasks with more than 126 registers (#2336)
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/AbstractOpenemsSunSpecComponent.java
Due: build-java, restore-cache, rebuild-cache

Wrapper: update versions in bnd.bnd
  io.openems.wrapper/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

Add ScheduleError channel, prepare SmartTask
  io.openems.edge.energy/src/io/openems/edge/energy/Energy.java
  io.openems.edge.energy/src/io/openems/edge/energy/EnergyImpl.java
  io.openems.edge.energy/src/io/openems/edge/energy/task/AbstractEnergyTask.java
  io.openems.edge.energy/src/io/openems/edge/energy/task/ManualTask.java
  io.openems.edge.energy/src/io/openems/edge/energy/task/SmartTask.java
  io.openems.edge.energy/test/io/openems/edge/energy/task/ManualTaskTest.java
Due: build-java, restore-cache, rebuild-cache

UI: remove unused channels History Production modal (#777)
  ui/src/app/edge/history/common/production/chart/totalChart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Removed unused channels.
  ui/src/app/edge/history/timeofusetariffdischarge/chart.component.ts
  ui/src/app/edge/history/timeofusetariffdischarge/widget.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

remove duplicatedchannels in subscribeChannelsRequest unsubscribe from flatWidget and flatWidgetLineChannels
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/historydataservice.ts
  ui/src/app/edge/live/live.component.ts
  ui/src/app/edge/live/livedataservice.ts
  ui/src/app/shared/edge/edge.ts
  ui/src/app/shared/genericComponents/flat/abstract-flat-widget-line.ts
  ui/src/app/shared/genericComponents/flat/abstract-flat-widget.ts
  ui/src/app/shared/genericComponents/modal/abstractModal.ts
  ui/src/app/shared/genericComponents/shared/dataservice.ts
  ui/src/app/shared/jsonrpc/jsonrpcutils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

clean PR, prepare for review
  ui/src/app/shared/edge/edge.ts
  ui/src/app/shared/service/arrayutils.ts
  ui/src/themes/openems/environments/backend-dev.ts
  ui/src/themes/openems/scss/variables.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

remove unnecessary changes
  ui/src/app/edge/history/history.component.ts
  ui/src/global.scss
  ui/src/themes/openems/environments/backend-dev.ts
  ui/src/themes/openems/scss/variables.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

update jsDoc
  ui/src/app/shared/jsonrpc/jsonrpcutils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

remove further unnecessary changes
  ui/src/app/app-routing.module.ts
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix importing path of arrayUtils to be lowerCase
  ui/src/app/shared/edge/edge.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix linting
  ui/src/app/shared/genericComponents/flat/abstract-flat-widget-line.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

CI: Update Cache to new VM (#780)
  .woodpecker/debian-package.yml
  .woodpecker/java-build.yml
  .woodpecker/ui-build.yml
Due: none

add deprecated and todo tag to unsubscribeChannels and unsubscribeFromChannels
  ui/src/app/shared/edge/edge.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Removing duplicate channels from SubscribeChannels and fix unsubscribing (#2349)
  ui/src/app/edge/history/history.component.ts
  ui/src/app/edge/history/historydataservice.ts
  ui/src/app/edge/live/livedataservice.ts
  ui/src/app/shared/edge/edge.ts
  ui/src/app/shared/genericComponents/flat/abstract-flat-widget-line.ts
  ui/src/app/shared/genericComponents/flat/abstract-flat-widget.ts
  ui/src/app/shared/genericComponents/shared/dataservice.ts
  ui/src/app/shared/header/header.component.html
  ui/src/app/shared/header/header.component.ts
  ui/src/app/shared/jsonrpc/jsonrpcutils.ts
  ui/src/app/shared/service/arrayutils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

moved the component initialization.
  ui/src/app/edge/history/timeofusetariffdischarge/widget.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

apply merging changes
  ui/src/app/edge/history/common/Grid.ts
  ui/src/app/edge/history/common/common.ts
  ui/src/app/edge/history/common/grid/chart/chart.ts
  ui/src/app/edge/history/common/grid/flat/flat.html
  ui/src/app/edge/history/common/grid/grid.ts
  ui/src/app/edge/history/common/grid/overview/overview.html
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/history.module.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

apply requested changes
  ui/src/app/edge/history/common/grid/chart/chart.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix linting
  ui/src/app/edge/history/history.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

changes requested by review
  ui/src/app/edge/history/common/energy/chart/chart.ts
  ui/src/app/edge/history/common/grid/chart/chart.ts
  ui/src/app/edge/history/common/grid/flat/flat.html
  ui/src/app/edge/live/common/grid/flat/flat.html
  ui/src/app/edge/live/common/grid/modal/modal.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

KMtronic: set persistence priority for relay channels to high (#779)
  io.openems.edge.io.kmtronic/src/io/openems/edge/io/kmtronic/eight/IoKmtronicRelay8Port.java
  io.openems.edge.io.kmtronic/src/io/openems/edge/io/kmtronic/four/IoKmtronicRelay4Port.java
Due: build-java, restore-cache, rebuild-cache

DummySunSpecComponent: initialize SunSpec modals in ASC order
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/sunspec/DummySunSpecComponent.java
Due: build-java, restore-cache, rebuild-cache

Refactor addReadTasks to preprocessModbusElements
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/AbstractOpenemsSunSpecComponent.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/sunspec/AbstractOpenemsSunSpecComponentTest.java
Due: build-java, restore-cache, rebuild-cache

Create one FC16WriteRegistersTask for all writeable registers of one block
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/AbstractOpenemsSunSpecComponent.java
Due: build-java, restore-cache, rebuild-cache

Extract generateElementToChannelConverter
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/AbstractOpenemsSunSpecComponent.java
Due: build-java, restore-cache, rebuild-cache

Delete io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/EvcsCluster.java
  io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/EvcsCluster.java
Due: build-java, restore-cache, rebuild-cache

Delete io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/EvcsClusterImpl.java
  io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/EvcsClusterImpl.java
Due: build-java, restore-cache, rebuild-cache

Create EvcsClusterPeakShavingImpl
  io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/EvcsClusterPeakShavingImpl
Due: build-java, restore-cache, rebuild-cache

Create EvcsClusterPeakShaving.java
  io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/EvcsClusterPeakShaving.java
Due: build-java, restore-cache, rebuild-cache

Delete io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/EvcsClusterPeakShavingImpl
  io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/EvcsClusterPeakShavingImpl
Due: build-java, restore-cache, rebuild-cache

Create EvcsClusterPeakShavingImpl.java
  io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/EvcsClusterPeakShavingImpl.java
Due: build-java, restore-cache, rebuild-cache

Update Config.java
  io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/Config.java
Due: build-java, restore-cache, rebuild-cache

Added Modbus feature; added posibility not to necessarily need an ESS
  io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/Config.java
  io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/EvcsClusterPeakShavingImpl.java
Due: build-java, restore-cache, rebuild-cache

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
