Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

[UI] IBN: Commercial 50
  ui/src/app/edge/installation/installation-systems/commercial/commercial-50/commercial-50-gen3.ts
  ui/src/app/edge/installation/installation-systems/home/abstract-home-gen2.ts
  ui/src/app/edge/installation/shared/feedinsetting.utils.ts
  ui/src/app/edge/installation/shared/gridsetting.utils.ts
  ui/src/app/edge/installation/shared/view.utils.ts
  ui/src/app/edge/installation/shared/weblink.utils.ts
  ui/src/app/edge/installation/views/configuration-sts-box/configuration-sts-box.component.html
  ui/src/app/edge/installation/views/configuration-sts-box/configuration-sts-box.component.ts
  ui/src/app/shared/components/formly/formly-field-checkbox-image/formly-field-checkbox-with-image.html
  ui/src/app/shared/components/formly/formly-field-checkbox-image/formly-field-checkbox-with-image.ts
  ui/src/app/shared/components/formly/formly-select/formly-select.ts
  ui/src/app/shared/components/formly/input-serial-number-wrapper.html
  ui/src/app/shared/components/formly/input-serial-number-wrapper.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/img/commercial/commercial-50-mppt/MPPT1.jpg
  ui/src/assets/img/commercial/commercial-50-mppt/MPPT2.jpg
  ui/src/assets/img/commercial/commercial-50-mppt/MPPT3.jpg
  ui/src/assets/img/commercial/commercial-50-mppt/MPPT4.jpg
  ui/src/assets/img/commercial/sts-box.png
  ui/src/environments/index.ts
  ui/src/themes/openems/environments/oem-meta.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] EnerixControl/Clever-PV widget
  ui/src/app/shared/type/widget.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Fix pickdate custom period
  ui/src/app/edge/settings/profile/profile.component.ts
  ui/src/app/shared/components/pickdate/pickdate.module.ts
  ui/src/app/shared/components/pickdate/popover/popover.component.ts
  ui/src/app/shared/shared.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Download icon
  ui/src/app/edge/settings/profile/profile.component.html
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Tibber: switch to QUARTER_HOURLY prices
  io.openems.edge.timeofusetariff.tibber/src/io/openems/edge/timeofusetariff/tibber/Utils.java
  io.openems.edge.timeofusetariff.tibber/test/io/openems/edge/timeofusetariff/tibber/Data.java
  io.openems.edge.timeofusetariff.tibber/test/io/openems/edge/timeofusetariff/tibber/MyConfig.java
  io.openems.edge.timeofusetariff.tibber/test/io/openems/edge/timeofusetariff/tibber/TimeOfUseTariffTibberImplTest.java
  io.openems.edge.timeofusetariff.tibber/test/io/openems/edge/timeofusetariff/tibber/UtilsTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] GoodWe: use new Registers for GridFeedInLimit and FixedPowerFactor
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/GoodWe.java
Due: build-java, restore-cache, rebuild-cache

[UI] E-Mobility: fix Consumption flat widget
  ui/src/app/edge/live/common/consumption/flat/flat.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] bugfixes
  ui/src/app/edge/installation/installation-systems/commercial/commercial-50/commercial-50-gen3.ts
  ui/src/app/edge/installation/installation-systems/home/abstract-home-gen2.ts
  ui/src/app/edge/installation/shared/feedinsetting.utils.ts
  ui/src/app/edge/installation/shared/gridsetting.utils.ts
  ui/src/app/edge/installation/shared/view.utils.ts
  ui/src/app/edge/installation/shared/weblink.utils.ts
  ui/src/app/edge/installation/views/configuration-sts-box/configuration-sts-box.component.html
  ui/src/app/edge/installation/views/configuration-sts-box/configuration-sts-box.component.ts
  ui/src/app/edge/settings/app/jsonrpc/getAppInstances.ts
  ui/src/app/shared/components/formly/input-serial-number-wrapper.html
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Ripple Control Receiver (Rundsteuerempfänger): Add Edge Part
  io.openems.common/src/io/openems/common/utils/FunctionUtils.java
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.ess.gridoptimizedcharge/bnd.bnd
  io.openems.edge.controller.ess.gridoptimizedcharge/src/io/openems/edge/controller/ess/gridoptimizedcharge/ControllerEssGridOptimizedChargeImpl.java
  io.openems.edge.controller.ess.limiter14a/src/io/openems/edge/controller/ess/limiter14a/ControllerEssLimiter14a.java
  io.openems.edge.controller.ess.limiter14a/src/io/openems/edge/controller/ess/limiter14a/ControllerEssLimiter14aImpl.java
  io.openems.edge.controller.ess.ripplecontrolreceiver/.classpath
  io.openems.edge.controller.ess.ripplecontrolreceiver/.gitignore
  io.openems.edge.controller.ess.ripplecontrolreceiver/.project
  io.openems.edge.controller.ess.ripplecontrolreceiver/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.controller.ess.ripplecontrolreceiver/bnd.bnd
  io.openems.edge.controller.ess.ripplecontrolreceiver/src/io/openems/edge/controller/ess/ripplecontrolreceiver/Config.java
  io.openems.edge.controller.ess.ripplecontrolreceiver/src/io/openems/edge/controller/ess/ripplecontrolreceiver/ControllerEssRippleControlReceiver.java
  io.openems.edge.controller.ess.ripplecontrolreceiver/src/io/openems/edge/controller/ess/ripplecontrolreceiver/ControllerEssRippleControlReceiverImpl.java
  io.openems.edge.controller.ess.ripplecontrolreceiver/src/io/openems/edge/controller/ess/ripplecontrolreceiver/EssRestrictionLevel.java
  io.openems.edge.controller.ess.ripplecontrolreceiver/src/io/openems/edge/controller/ess/ripplecontrolreceiver/package-info.java
  io.openems.edge.controller.ess.ripplecontrolreceiver/test/.gitignore
  io.openems.edge.controller.ess.ripplecontrolreceiver/test/io/openems/edge/controller/ess/ripplecontrolreceiver/ControllerEssRippleControlReceiverTest.java
  io.openems.edge.controller.ess.ripplecontrolreceiver/test/io/openems/edge/controller/ess/ripplecontrolreceiver/MyConfig.java
  io.openems.edge.core/src/io/openems/edge/app/enums/ExternalLimitationType.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome10Gen2.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome15.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome20.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome30.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome6.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHomeComponents.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/IntegratedSystemProps.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial50Gen3.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial92.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial92ClusterMaster.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/aggregatetask/SchedulerByCentralOrderAggregateTaskImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome30.java
  io.openems.edge.core/test/io/openems/edge/core/meta/GeocodingTest.java
  io.openems.edge.core/test/io/openems/edge/core/meta/MyConfig.java
  io.openems.edge.goodwe/bnd.bnd
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
Due: build-java, restore-cache, rebuild-cache

[Edge] EVSE: Update Backend/UI Channels
  io.openems.backend.timedata.aggregatedinflux/src/io/openems/backend/timedata/aggregatedinflux/AllowedChannels.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/ControllerEvseSingle.java
Due: build-java, restore-cache, rebuild-cache

[Edge] EVSE: Configurable minimum power for vehicle
  io.openems.edge.core/src/io/openems/edge/app/evse/vehicle/AppGenericVehicle.java
  io.openems.edge.core/src/io/openems/edge/app/evse/vehicle/VehicleProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.evse.electricvehicle.generic/src/io/openems/edge/evse/electricvehicle/generic/Config.java
  io.openems.edge.evse.electricvehicle.generic/src/io/openems/edge/evse/electricvehicle/generic/EvseElectricVehicleGenericImpl.java
  io.openems.edge.evse.electricvehicle.generic/test/io/openems/edge/evse/electricvehicle/generic/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[CI] fix build
  cnf/pom.xml
  io.openems.common/src/io/openems/common/utils/FunctionUtils.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Weather Forecast: keep data in channels
  io.openems.edge.weather.openmeteo/src/io/openems/edge/weather/openmeteo/HourlyWeatherForecastEndpoint.java
  io.openems.edge.weather.openmeteo/src/io/openems/edge/weather/openmeteo/WeatherForecastPersistenceService.java
  io.openems.edge.weather.openmeteo/src/io/openems/edge/weather/openmeteo/WeatherForecastService.java
  io.openems.edge.weather.openmeteo/src/io/openems/edge/weather/openmeteo/WeatherOpenMeteo.java
  io.openems.edge.weather.openmeteo/src/io/openems/edge/weather/openmeteo/WeatherOpenMeteoImpl.java
  io.openems.edge.weather.openmeteo/test/io/openems/edge/weather/openmeteo/WeatherForecastPersistenceServiceTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] GoodWe: allow only possible EmsSetPower limits and correct AcImport/AcExport
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/SymmetricEss.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/ApplyPowerHandler.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/enums/GoodWeType.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/ess/GoodWeEssImpl.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/batteryinverter/TestStatic.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/common/ApplyPowerHandlerTest.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/common/TestStatic.java
Due: build-java, restore-cache, rebuild-cache

[UI] Fix Consumption Widget for EVCS
  ui/src/app/edge/live/common/consumption/flat/flat.html
  ui/src/app/edge/live/common/consumption/flat/flat.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Commercial 50: fix PowerLimit
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Shelly: add `invert` config property to all ElectricityMeters
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly3em/Config.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly3em/IoShelly3EmImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/Config.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplus1pm/Config.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplus1pm/IoShellyPlus1PmImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplusplugs/Config.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplusplugs/IoShellyPlusPlugSImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypluspmmini/Config.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypluspmmini/IoShellyPlusPmMiniImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3/IoShellyPro3Impl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3em/Config.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3em/IoShellyPro3EmImpl.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shelly3em/IoShelly3EmImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shelly3em/MyConfig.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplug/MyConfig.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplus1pm/IoShellyPlus1PmImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplus1pm/MyConfig.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplusplugs/IoShellyPlusPlugSImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplusplugs/MyConfig.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypluspmmini/IoShellyPlusPmMiniImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypluspmmini/MyConfig.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypro3em/IoShellyPro3EmImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypro3em/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[Edge] App.Heat.HeatingElement: bugfix
  io.openems.edge.core/src/io/openems/edge/app/heat/HeatingElement.java
Due: build-java, restore-cache, rebuild-cache

[UI] EVSE: add State-Machine to UI page
  ui/src/app/edge/live/Controller/Evse/pages/home.html
  ui/src/app/edge/live/Controller/Evse/pages/home.ts
  ui/src/app/edge/live/Controller/Evse/shared/shared.ts
  ui/src/app/edge/live/Controller/Evse/shared/translation.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] GoodWe: fix charger voltages
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Controller.Ess.RippleControlReceiver: rework
  io.openems.edge.common/src/io/openems/edge/common/meta/Meta.java
  io.openems.edge.controller.ess.gridoptimizedcharge/src/io/openems/edge/controller/ess/gridoptimizedcharge/ControllerEssGridOptimizedChargeImpl.java
  io.openems.edge.controller.ess.gridoptimizedcharge/src/io/openems/edge/controller/ess/gridoptimizedcharge/SellToGridLimit.java
  io.openems.edge.controller.ess.ripplecontrolreceiver/src/io/openems/edge/controller/ess/ripplecontrolreceiver/ControllerEssRippleControlReceiver.java
  io.openems.edge.controller.ess.ripplecontrolreceiver/src/io/openems/edge/controller/ess/ripplecontrolreceiver/ControllerEssRippleControlReceiverImpl.java
  io.openems.edge.controller.ess.ripplecontrolreceiver/src/io/openems/edge/controller/ess/ripplecontrolreceiver/EssRestrictionLevel.java
  io.openems.edge.controller.ess.ripplecontrolreceiver/test/io/openems/edge/controller/ess/ripplecontrolreceiver/ControllerEssRippleControlReceiverTest.java
  io.openems.edge.controller.ess.ripplecontrolreceiver/test/io/openems/edge/controller/ess/ripplecontrolreceiver/TestStatic.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
Due: build-java, restore-cache, rebuild-cache

[Edge] App.TimeOfUseTariff.AncillaryCosts: public availability
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/AncillaryCosts.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/TimeOfUseProps.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/manual/OctopusGo.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/manual/OctopusHeat.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckCommercial50Gen3.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/Checkables.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/app/timeofusetariff/TestTibber.java
Due: build-java, restore-cache, rebuild-cache

[UI] App.TimeOfUseTariff.AncillaryCosts: remove unnecessary props
  ui/src/app/shared/components/formly/formly-tariff-table/formly-custom-tariff-table.ts
  ui/src/app/shared/utils/object/object.utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Ripple Control Receiver (Rundsteuerempfänger)
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/common/grid/details/details.overview.html
  ui/src/app/edge/history/common/grid/details/external-limitation/chart/channels.spec.ts
  ui/src/app/edge/history/common/grid/details/external-limitation/chart/chart.spec.ts
  ui/src/app/edge/history/common/grid/details/external-limitation/chart/chart.ts
  ui/src/app/edge/history/common/grid/details/external-limitation/details.overview.html
  ui/src/app/edge/history/common/grid/details/external-limitation/details.overview.ts
  ui/src/app/edge/history/common/grid/details/phase-accurate/chart/channels.spec.ts
  ui/src/app/edge/history/common/grid/details/phase-accurate/chart/chart.spec.ts
  ui/src/app/edge/history/common/grid/details/phase-accurate/chart/chart.ts
  ui/src/app/edge/history/common/grid/details/phase-accurate/details.overview.html
  ui/src/app/edge/history/common/grid/details/phase-accurate/details.overview.ts
  ui/src/app/edge/history/common/grid/flat/flat.html
  ui/src/app/edge/history/common/grid/flat/flat.ts
  ui/src/app/edge/history/common/grid/grid.ts
  ui/src/app/edge/history/common/grid/overview/overview.ts
  ui/src/app/edge/history/common/grid/shared-grid.ts
  ui/src/app/edge/live/common/grid/flat/flat.ts
  ui/src/app/edge/live/common/grid/modal/constants.spec.ts
  ui/src/app/edge/live/common/grid/modal/modal.spec.ts
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/components/edge/edgeconfig.spec.ts
  ui/src/app/shared/components/formly/formly-field-modal/formly-field-modal.html
  ui/src/app/shared/components/formly/formly-field-navigation/formly-field-navigation.html
  ui/src/app/shared/components/modal/modal-button/modal-button.ts
  ui/src/app/shared/components/modal/modal-phases/modal-phases.html
  ui/src/app/shared/components/modal/modal-value-line/modal-value-line.html
  ui/src/app/shared/components/modal/modal-value-line/modal-value-line.ts
  ui/src/app/shared/components/modal/model-horizontal-line/modal-horizontal-line.ts
  ui/src/app/shared/components/shared/converter.ts
  ui/src/app/shared/components/shared/oe-formly-component.ts
  ui/src/app/shared/components/shared/testing/tester.ts
  ui/src/app/shared/shared.ts
  ui/src/app/shared/utils/utils.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Migration to Angular 20
  ui/package-lock.json
  ui/src/app/edge/history/common/grid/flat/flat.html
  ui/src/app/edge/settings/settings.component.html
  ui/src/app/shared/components/formly/formly-field-navigation/formly-field-navigation.html
  ui/src/app/shared/components/modal/modal-value-line/modal-value-line.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Fix Ci build
  ui/angular.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] KACO Battery Inverter: introduce SunSpec EnumField16
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/BatteryInverterKacoBlueplanetGridsave.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/BatteryInverterKacoBlueplanetGridsaveImpl.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/KacoSunSpecModel.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/translation_de.properties
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/translation_en.properties
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/test/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/KacoSunSpecModelTest.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/AbstractOpenemsSunSpecComponent.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/Point.java
Due: build-java, restore-cache, rebuild-cache

Update path to DummyConfigurationAdmin
  io.openems.edge.battery.pylontech/test/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2BatteryImplTest.java
  io.openems.edge.battery.pylontech/test/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2GenericEssIntegrationTest.java
  io.openems.edge.bosch.bpts5hybrid/test/io/openems/edge/bosch/bpts5hybrid/core/BoschBpts5HybridCoreImplTest.java
  io.openems.edge.bosch.bpts5hybrid/test/io/openems/edge/bosch/bpts5hybrid/ess/BoschBpts5HybridEssTest.java
  io.openems.edge.bosch.bpts5hybrid/test/io/openems/edge/bosch/bpts5hybrid/meter/BoschBpts5HybridMeterTest.java
  io.openems.edge.bosch.bpts5hybrid/test/io/openems/edge/bosch/bpts5hybrid/pv/BoschBpts5HybridPvTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
  io.openems.edge.ess.adstec.storaxe/test/io/openems/edge/ess/adstec/storaxe/EssAdstecStoraxeImplTest.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/meter/MeterFroniusImplTest.java
  io.openems.edge.io.siemenslogo/test/io/openems/edge/io/siemenslogo/SiemensLogoRelayImplTest.java
  io.openems.edge.meter.abb/test/io/openems/edge/meter/abb/b32/MeterAbbB23ImplTest.java
  io.openems.edge.meter.bgetech/test/io/openems/edge/meter/bgetech/MeterBgeTechDrt428M2ImplTest.java
  io.openems.edge.simulator/test/io/openems/edge/simulator/ess/symmetric/reacting/SimulatorEssSymmetricReactingImplTest.java
  io.openems.edge.tesla.powerwall2/test/io/openems/edge/tesla/powerwall2/battery/TeslaPowerwall2BatteryImplTest.java
Due: build-java, restore-cache, rebuild-cache

Reapply `ng generate @angular/core:control-flow`
  ui/package-lock.json
  ui/src/app/edge/history/Controller/chp/soc/flat/flat.html
  ui/src/app/edge/history/chpsoc/chpsocchartoverview/chpsocchartoverview.component.html
  ui/src/app/edge/history/common/grid/details/external-limitation/details.overview.html
  ui/src/app/edge/history/common/grid/details/phase-accurate/details.overview.html
  ui/src/app/edge/settings/powerassistant/powerassistant.html
  ui/src/app/edge/settings/powerassistant/powerassistant.module.ts
  ui/src/app/edge/settings/powerassistant/powerassistant.ts
  ui/src/app/edge/settings/settings-routing.module.ts
  ui/src/app/edge/settings/settings.module.ts
  ui/src/app/index/login.component.html
  ui/src/app/index/shared/loading-screen.html
  ui/src/app/shared/components/formly/formly-field-radio-with-image/formly-field-radio-with-image.html
  ui/src/app/shared/components/formly/formly-radio/formly-radio.html
  ui/src/app/user/user.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] VSCode: fix html formatting issues with new control flow syntax
  ui/.vscode/settings.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Consistant Icons
  ui/src/app/edge/live/Controller/ChpSoc/modal/modal.component.html
  ui/src/app/edge/live/Controller/Ess/FixActivePower/modal/modal.html
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/modal/modal.html
  ui/src/app/edge/live/Controller/Evcs/modal/modal.html
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/modal/modal.component.html
  ui/src/app/edge/live/Controller/Io/FixDigitalOutput/modal/modal.spec.ts
  ui/src/app/edge/live/Controller/Io/FixDigitalOutput/modal/modal.ts
  ui/src/app/edge/live/Controller/Io/HeatingElement/modal/modal.html
  ui/src/app/edge/live/Controller/Io/Heatpump/modal/modal.component.html
  ui/src/app/shared/components/shared/view-component/help-popover/help-popover.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix UI merge conflicts
  ui/src/app/edge/settings/jsonrpctest/jsonrpctest/jsonrpctest.html
  ui/src/app/edge/settings/jsonrpctest/jsonrpctest/jsonrpctest.module.ts
  ui/src/app/edge/settings/jsonrpctest/jsonrpctest/jsonrpctest.permission.ts
  ui/src/app/edge/settings/jsonrpctest/jsonrpctest/jsonrpctest.ts
  ui/src/app/edge/settings/settings.module.ts
  ui/src/app/shared/components/formly/formly-field-radio-with-image/formly-field-radio-with-image.html
  ui/src/app/shared/components/formly/formly-radio/formly-radio.html
  ui/src/app/user/user.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Changed Channels in Battery and ESS, ESS now adds loads to ActivePower calculation and sets battery to idle if target =0
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/battery/victron/VictronBattery.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/battery/victron/VictronCanBusBatteryImpl.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/batteryinverter/victron/ess/symmetric/VictronEss.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/batteryinverter/victron/ess/symmetric/VictronEssImpl.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/batteryinverter/victron/ro/VictronBatteryInverterImpl.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/meter/victron/acout/VictronAcOutPowerMeter.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/meter/victron/acout/VictronAcOutPowerMeterImpl.java
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

More backports
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/api/BridgeHttp.java
  io.openems.edge.controller.cleverpv/bnd.bnd
  io.openems.edge.controller.cleverpv/src/io/openems/edge/controller/cleverpv/Config.java
  io.openems.edge.controller.cleverpv/src/io/openems/edge/controller/cleverpv/ControlMode.java
  io.openems.edge.controller.cleverpv/src/io/openems/edge/controller/cleverpv/ControllerCleverPv.java
  io.openems.edge.controller.cleverpv/src/io/openems/edge/controller/cleverpv/ControllerCleverPvImpl.java
  io.openems.edge.controller.cleverpv/src/io/openems/edge/controller/cleverpv/LogVerbosity.java
  io.openems.edge.controller.cleverpv/src/io/openems/edge/controller/cleverpv/Mode.java
  io.openems.edge.controller.cleverpv/src/io/openems/edge/controller/cleverpv/PowerStorageState.java
  io.openems.edge.controller.cleverpv/src/io/openems/edge/controller/cleverpv/translation_de.properties
  io.openems.edge.controller.cleverpv/src/io/openems/edge/controller/cleverpv/translation_en.properties
  io.openems.edge.controller.cleverpv/test/io/openems/edge/controller/cleverpv/ControllerCleverPvImplTest.java
  io.openems.edge.controller.cleverpv/test/io/openems/edge/controller/cleverpv/MyConfig.java
  io.openems.edge.controller.ess.gridoptimizedcharge/test/io/openems/edge/controller/ess/gridoptimizedcharge/ControllerEssGridOptimizedChargeImplTest.java
  io.openems.edge.core/src/io/openems/edge/app/api/AppCleverPv.java
  io.openems.edge.core/src/io/openems/edge/app/api/AppEnerixControl.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/AncillaryCosts.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/EntsoE.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
  tools/common.sh
  tools/debian/DEBIAN/postinst
  tools/drone/openems-bash.sh
  tools/git-settings.sh
  ui/android/app/build.gradle
  ui/src/app/edge/history/common/grid/details/external-limitation/details.overview.html
  ui/src/app/edge/history/common/grid/details/phase-accurate/details.overview.html
  ui/src/app/edge/live/common/consumption/Common_Consumption.ts
  ui/src/app/edge/settings/jsonrpctest/jsonrpctest/jsonrpctest.html
  ui/src/app/edge/settings/jsonrpctest/jsonrpctest/jsonrpctest.module.ts
  ui/src/app/edge/settings/jsonrpctest/jsonrpctest/jsonrpctest.permission.ts
  ui/src/app/edge/settings/jsonrpctest/jsonrpctest/jsonrpctest.ts
  ui/src/app/index/shared/loading-screen.html
  ui/src/app/shared/components/components.module.ts
  ui/src/app/shared/components/modal/modal.module.ts
  ui/src/app/shared/type/country.ts
  ui/src/app/shared/utils/string/string.utils.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update package.json
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location
