Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

GoodWe Grid-Meter: if HAS_NO_METER is set, set values to 'null' (#486)
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/gridmeter/GoodWeGridMeter.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/gridmeter/GoodWeGridMeterImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/gridmeter/IgnoreZeroConverter.java
Due: build-java, restore-cache, rebuild-cache

Directly after initialisation the statemachine misses to call the onEntry handler. This PR fixes this.
  io.openems.edge.common/src/io/openems/edge/common/statemachine/AbstractStateMachine.java
Due: build-java, restore-cache, rebuild-cache

Time-of-Use: fix power factor for UI modal (#963)
  io.openems.common/src/io/openems/common/utils/JsonUtils.java
  io.openems.common/test/io/openems/common/utils/JsonUtilsTest.java
  io.openems.edge.controller.ess.timeofusetariff/bnd.bnd
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Utils.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/ScheduleTest.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/ScheduleUtilsTest.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/optimizer/UtilsTest.java
Due: build-java, restore-cache, rebuild-cache

Push version to 2023.12.0
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2024.1.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix UnitTest Executor
  io.openems.backend.alerting/test/io/openems/backend/alerting/Dummy.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/OfflineEdgeAlertingTest.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/SumStateAlertingTest.java
Due: build-java, restore-cache, rebuild-cache

revert EdgeCache changes
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/EdgeCache.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
Due: build-java, restore-cache, rebuild-cache

UI: first updates
  io.openems.backend.common/src/io/openems/backend/common/alerting/UserAlertingSettings.java
  io.openems.backend.common/src/io/openems/backend/common/jsonrpc/response/GetUserAlertingConfigsResponse.java
  io.openems.backend.common/test/io/openems/backend/common/jsonrpc/UserAlertingSettingsJsonRpc.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooHandler.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/OnRequest.java
  ui/src/app/edge/settings/alerting/alerting.component.html
  ui/src/app/edge/settings/alerting/alerting.component.ts
  ui/src/app/shared/jsonrpc/request/getUserAlertingConfigsRequest.ts
  ui/src/app/shared/jsonrpc/response/getUserAlertingConfigsResponse.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

MergeConflicts Resolved
  io.openems.backend.alerting/src/io/openems/backend/alerting/handler/OfflineEdgeHandler.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/Dummy.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/OfflineEdgeAlertingTest.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/handler/TestOfflineEdgeHandler.java
Due: build-java, restore-cache, rebuild-cache

Backend: Common+Metadata: Refactor name of AlertingSetting to UserAlertingSettings (#2414)
  io.openems.backend.alerting/src/io/openems/backend/alerting/handler/OfflineEdgeHandler.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/message/OfflineEdgeMessage.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/Dummy.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/OfflineEdgeAlertingTest.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/handler/TestOfflineEdgeHandler.java
  io.openems.backend.common/src/io/openems/backend/common/jsonrpc/request/SetUserAlertingConfigsRequest.java
  io.openems.backend.common/src/io/openems/backend/common/jsonrpc/response/GetUserAlertingConfigsResponse.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/Metadata.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/UserAlertingSettings.java
  io.openems.backend.common/src/io/openems/backend/common/test/DummyMetadata.java
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/MetadataDummy.java
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/MetadataFile.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooHandler.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/OnRequest.java
Due: build-java, restore-cache, rebuild-cache

simple alerting prototype
  ui/src/app/edge/settings/alerting/alerting.component.html
  ui/src/app/edge/settings/alerting/alerting.component.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix type in gettingstarted.adoc
  doc/modules/ROOT/pages/gettingstarted.adoc
Due: none

UI: fix custom values
  ui/src/app/edge/settings/alerting/alerting.component.html
  ui/src/app/edge/settings/alerting/alerting.component.ts
  ui/src/app/shared/jsonrpc/response/getUserAlertingConfigsResponse.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Changed the unit of reactive energy channels; Formatting of the code
  io.openems.edge.meter.siemens/src/io/openems/edge/meter/siemens/pac1600/MeterSiemensPac1600.java
  io.openems.edge.meter.siemens/src/io/openems/edge/meter/siemens/pac1600/MeterSiemensPac1600Impl.java
  io.openems.edge.meter.siemens/src/io/openems/edge/meter/siemens/pac2200_3200_4200/MeterSiemensPac2200_3200_4200.java
Due: build-java, restore-cache, rebuild-cache

add common chartconfig to old chart implementations
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/chpsoc/chart.component.ts
  ui/src/app/edge/history/common/autarchy/chart/chart.ts
  ui/src/app/edge/history/common/consumption/chart/chart.ts
  ui/src/app/edge/history/delayedselltogrid/chart.component.ts
  ui/src/app/edge/history/fixdigitaloutput/singlechart.component.ts
  ui/src/app/edge/history/fixdigitaloutput/totalchart.component.ts
  ui/src/app/edge/history/gridoptimizedcharge/chart.component.ts
  ui/src/app/edge/history/heatingelement/chart.component.ts
  ui/src/app/edge/history/heatpump/chart.component.ts
  ui/src/app/edge/history/peakshaving/asymmetric/chart.component.ts
  ui/src/app/edge/history/peakshaving/symmetric/chart.component.ts
  ui/src/app/edge/history/peakshaving/timeslot/chart.component.ts
  ui/src/app/edge/history/shared.ts
  ui/src/app/edge/history/singlethreshold/chart.component.ts
  ui/src/app/edge/history/timeofusetariffdischarge/chart.component.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/modal/predictionChart.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/modal/scheduleChart.ts
  ui/src/app/edge/live/Multiple/Evcs_Api_Cluster/modal/evcs-chart/evcs.chart.ts
  ui/src/app/index/overview/overview.component.html
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/shared.module.ts
  ui/src/app/shared/type/widget.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add the MqttUtils class to create an SSLSocketFactory for secure connections
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttUtils.java
Due: build-java, restore-cache, rebuild-cache

checkstyle
  io.openems.backend.common/src/io/openems/backend/common/alerting/UserAlertingSettings.java
  io.openems.backend.common/src/io/openems/backend/common/jsonrpc/response/GetUserAlertingConfigsResponse.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/OnRequest.java
Due: build-java, restore-cache, rebuild-cache

Update bnd
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/influxdb-client-core.bnd
  io.openems.wrapper/influxdb-client-java.bnd
  io.openems.wrapper/influxdb-client-utils.bnd
  io.openems.wrapper/influxdb-flux-dsl.bnd
Due: build-java, restore-cache, rebuild-cache

Update Bndrun
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

implement usable ui
  ui/src/app/edge/settings/alerting/alerting.component.html
  ui/src/app/edge/settings/alerting/alerting.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

finish chartjs update to version 4
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/chpsoc/chart.component.ts
  ui/src/app/edge/history/delayedselltogrid/chart.component.ts
  ui/src/app/edge/history/fixdigitaloutput/singlechart.component.ts
  ui/src/app/edge/history/fixdigitaloutput/totalchart.component.ts
  ui/src/app/edge/history/grid/chart.component.ts
  ui/src/app/edge/history/gridoptimizedcharge/chart.component.ts
  ui/src/app/edge/history/gridoptimizedcharge/sellToGridLimitChart.component.ts
  ui/src/app/edge/history/heatingelement/chart.component.ts
  ui/src/app/edge/history/heatpump/chart.component.ts
  ui/src/app/edge/history/peakshaving/symmetric/chart.component.ts
  ui/src/app/edge/history/shared.ts
  ui/src/app/edge/history/singlethreshold/chart.component.ts
  ui/src/app/edge/history/storage/chargerchart.component.ts
  ui/src/app/edge/history/storage/esschart.component.ts
  ui/src/app/edge/history/storage/singlechart.component.ts
  ui/src/app/edge/history/storage/socchart.component.ts
  ui/src/app/edge/history/storage/totalchart.component.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

WIP
  ui/src/app/edge/history/common/consumption/chart/chart.constants.spec.ts
  ui/src/app/edge/history/common/energy/chart/channels.spec.ts
  ui/src/app/edge/history/common/grid/chart/chart.spec.ts
  ui/src/app/edge/history/storage/esschart.component.ts
  ui/src/app/shared/edge/edgeconfig.spec.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/shared/testing/common.ts
  ui/src/app/shared/genericComponents/shared/testing/tester.ts
  ui/src/app/shared/service/utils.spec.ts
  ui/src/app/shared/utils/timeutils/timeutils.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Modbus Bridge TasksSupplier: avoid ConcurrentModificationException (#973)
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/TasksSupplierImpl.java
Due: build-java, restore-cache, rebuild-cache

GoodWe: revert permanent write for GridFeedInSetting PU_ENABLE (#975)
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
Due: build-java, restore-cache, rebuild-cache

FENECON Home Battery: Update number of tower check (#971)
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHome.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImpl.java
  io.openems.edge.battery.fenecon.home/test/io/openems/edge/battery/fenecon/home/TowersAndModulesTest.java
Due: build-java, restore-cache, rebuild-cache

UI: add advert 'merry christmas" (#972)
  ui/src/app/edge/live/advertisement/advertisement.component.html
  ui/src/app/edge/live/advertisement/advertisement.module.ts
  ui/src/app/edge/live/advertisement/eoy-winner/eoy-winner.ts
  ui/src/app/edge/live/advertisement/merry-christmas/merry-christmas.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/type/widget.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: channelthreshold: use factory instead of nature (#969)
  ui/src/app/edge/history/common/consumption/chart/chart.ts
  ui/src/app/edge/history/history.module.ts
  ui/src/app/shared/type/widget.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

StateChannels: always set initial value to false (#977)
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/AbstractOpenemsModbusComponent.java
  io.openems.edge.common/src/io/openems/edge/common/channel/StateChannel.java
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractReadChannel.java
  io.openems.edge.controller.api.backend/test/io/openems/edge/controller/api/backend/SendChannelValuesWorkerTest.java
Due: build-java, restore-cache, rebuild-cache

ESS Power: handle other possible Exceptions (#978)
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/optimizers/AddConstraintsForNotStrictlyDefinedCoefficients.java
Due: build-java, restore-cache, rebuild-cache

Time-of-Use Controller: improvements for BETA test (#964)
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Optimizer.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Period.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Utils.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/optimizer/PeriodTest.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/optimizer/RunOptimizerFromLogApp.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/optimizer/SimulatorTest.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/optimizer/UtilsTest.java
Due: build-java, restore-cache, rebuild-cache

UI IBN: Increase maximum tower limit for Home 20 & 30 (#968)
  ui/src/app/edge/installation/installation-systems/home/abstract-home.ts
  ui/src/app/edge/installation/installation-systems/home/home-20.ts
  ui/src/app/edge/installation/installation-systems/home/home-30.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Debug-Log Controller: avoid Exception on non-existing Channel (#979)
  io.openems.edge.controller.debug.log/src/io/openems/edge/controller/debuglog/ControllerDebugLogImpl.java
  io.openems.edge.controller.debug.log/test/io/openems/edge/controller/debuglog/ControllerDebugLogImplTest.java
Due: build-java, restore-cache, rebuild-cache

UI: IBN execute function test time delay increase (#976)
  ui/src/app/edge/installation/installation-systems/home/abstract-home.ts
  ui/src/app/edge/installation/installation-view/installation-view.component.html
  ui/src/app/edge/installation/views/configuration-execute/component-configurator.ts
  ui/src/app/edge/installation/views/configuration-execute/configuration-execute.component.html
  ui/src/app/edge/installation/views/configuration-execute/configuration-execute.component.ts
  ui/src/app/edge/installation/views/pre-installation/pre-installation.component.html
  ui/src/app/shared/service/service.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/img/Home-Commercial-Installer-Key.png
  ui/src/assets/img/fenecon_home_label.JPG
  ui/src/themes/heckert/environments/backend-dev.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

linting
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/chpsoc/chart.component.ts
  ui/src/app/edge/history/common/autarchy/chart/chart.ts
  ui/src/app/edge/history/common/consumption/chart/chart.constants.spec.ts
  ui/src/app/edge/history/common/energy/chart/channels.spec.ts
  ui/src/app/edge/history/common/grid/chart/chart.spec.ts
  ui/src/app/edge/history/delayedselltogrid/chart.component.ts
  ui/src/app/edge/history/fixdigitaloutput/singlechart.component.ts
  ui/src/app/edge/history/fixdigitaloutput/totalchart.component.ts
  ui/src/app/edge/history/gridoptimizedcharge/chart.component.ts
  ui/src/app/edge/history/gridoptimizedcharge/sellToGridLimitChart.component.ts
  ui/src/app/edge/history/peakshaving/symmetric/chart.component.ts
  ui/src/app/edge/history/peakshaving/timeslot/chart.component.ts
  ui/src/app/edge/history/shared.ts
  ui/src/app/edge/history/singlethreshold/chart.component.ts
  ui/src/app/edge/history/storage/chargerchart.component.ts
  ui/src/app/edge/history/storage/esschart.component.ts
  ui/src/app/edge/history/storage/singlechart.component.ts
  ui/src/app/edge/history/storage/socchart.component.ts
  ui/src/app/edge/history/storage/totalchart.component.ts
  ui/src/app/edge/history/timeofusetariffdischarge/chart.component.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/modal/predictionChart.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/modal/scheduleChart.ts
  ui/src/app/shared/edge/edgeconfig.spec.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/shared/testing/common.ts
  ui/src/app/shared/genericComponents/shared/testing/tester.ts
  ui/src/app/shared/utils/color/color.utils.spec.ts
  ui/src/app/shared/utils/color/color.utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
