Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

finish migration
  ui/src/app/edge/history/common/energy/chart/chart.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/utils/color.utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add unittest for colorutils, fix unittest framework
  ui/src/app/edge/history/common/energy/chart/channels.spec.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/shared/tester.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/utils/color/color.utils.spec.ts
  ui/src/app/shared/utils/color/color.utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

adjust callback to hide multiple datasets with one legendItem
  ui/src/app/edge/history/shared.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Home 20 & 30: fix shadow management parameter DISABLED to DISABLE (#846)
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHomeComponents.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome20.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome30.java
Due: build-java, restore-cache, rebuild-cache

Update bnd
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/okhttp.bnd
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Bugfix UIWebsocket does not open WebsocketServer on missed Event
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/EdgeWebsocketImpl.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/UiWebsocketImpl.java
Due: build-java, restore-cache, rebuild-cache

UI: Fixing pagination spinner style and positioning (#801)
  ui/src/app/index/overview/overview.component.html
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: AdvertWidget for EOY Award (#848)
  ui/src/app/edge/live/advertisement/advertisement.component.html
  ui/src/app/edge/live/advertisement/advertisement.module.ts
  ui/src/app/edge/live/advertisement/eoy-award/eoy.html
  ui/src/app/edge/live/advertisement/eoy-award/eoy.ts
  ui/src/app/shared/type/widget.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

update jsDoc
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Edge: Fix FirstSetupProtocolDate in getEdgeRequest (#849)
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/OnRequest.java
Due: build-java, restore-cache, rebuild-cache

UI: Fix Infinity sign in charts & the wrong date formating (#2372)
  ui/src/app/edge/history/common/energy/chart/chart.spec.ts
  ui/src/app/edge/history/common/energy/chart/chart.ts
  ui/src/app/edge/settings/profile/profile.component.html
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

OpenEMS merge (#850)
  cnf/pom.xml
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/MetadataDummy.java
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/MetadataFile.java
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/OnRequest.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/Utils.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppDefTest.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Config.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Token.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoeImpl.java
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/okhttp.bnd
  ui/package-lock.json
  ui/src/app/edge/history/common/energy/chart/chart.spec.ts
  ui/src/app/edge/history/common/energy/chart/chart.ts
  ui/src/app/edge/settings/profile/profile.component.html
  ui/src/app/shared/service/utils.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Push version to 2023.10.3
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2023.10.4-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Add Home 20 & 30 to producttype filters (#851)
  ui/src/themes/fenecon/environments/theme.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix unittests prepare for final review
  ui/src/app/edge/history/common/energy/chart/chart.spec.ts
  ui/src/app/edge/live/common/grid/modal/modal.spec.ts
  ui/src/app/shared/genericComponents/chart/chart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix linting
  ui/src/app/edge/live/common/grid/modal/modal.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

implement unittest code cleanup
  ui/package-lock.json
  ui/src/app/edge/history/common/energy/chart/channels.spec.ts
  ui/src/app/edge/history/common/energy/chart/chart.constants.spec.ts
  ui/src/app/edge/history/common/grid/chart/chart.constants.spec.ts
  ui/src/app/edge/history/common/grid/chart/chart.spec.ts
  ui/src/app/edge/history/common/grid/chart/chart.ts
  ui/src/app/edge/history/common/production/chart/totalChart.ts
  ui/src/app/edge/live/common/autarchy/modal/modal.spec.ts
  ui/src/app/edge/live/common/consumption/modal/modal.constants.spec.ts
  ui/src/app/edge/live/common/consumption/modal/modal.spec.ts
  ui/src/app/edge/live/common/grid/modal/constants.spec.ts
  ui/src/app/edge/live/common/grid/modal/modal.spec.ts
  ui/src/app/edge/live/common/selfconsumption/modal/modal.spec.ts
  ui/src/app/shared/edge/edgeconfig.spec.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/chart/chart.ts
  ui/src/app/shared/genericComponents/shared/testing/common.ts
  ui/src/app/shared/genericComponents/shared/testing/tester.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix linting and imports
  ui/src/app/edge/history/common/grid/chart/chart.spec.ts
  ui/src/app/edge/history/common/production/chart/productionMeterChart.ts
  ui/src/app/edge/history/common/production/chart/totalAcChart.ts
  ui/src/app/edge/history/common/production/chart/totalChart.ts
  ui/src/app/shared/genericComponents/chart/chart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

clean PR
  ui/package-lock.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

avoid nullpointer
  ui/src/app/edge/history/common/energy/chart/chart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Replacing multiple libs with one.
  io.openems.edge.bridge.can.linuxv4/bnd.bnd
  io.openems.edge.bridge.can.linuxv4/lib/libsocket-can-java-4.19.jar
  io.openems.edge.bridge.can.linuxv4/src/io/openems/edge/bridge/can/linuxv4/io/hw/CanSocketHardwareLinuxV4.java
  io.openems.edge.bridge.can.linuxv5/bnd.bnd
  io.openems.edge.bridge.can.linuxv5/lib/libsocket-can-java-5.1.jar
  io.openems.edge.bridge.can.linuxv5/src/io/openems/edge/bridge/can/linuxv5/io/hw/CanSocketHardwareLinuxV5.java
Due: build-java, restore-cache, rebuild-cache

Fix sorting of imports
  io.openems.edge.battery.api/test/io/openems/edge/battery/protection/BatteryProtectionTest.java
  io.openems.edge.battery.api/test/io/openems/edge/battery/protection/currenthandler/MaxCurrentHandlerTest.java
  io.openems.edge.battery.fenecon.commercial/test/io/openems/edge/battery/fenecon/commercial/BatteryFeneconCommercialImplTest.java
  io.openems.edge.battery.fenecon.home/test/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImplTest.java
  io.openems.edge.battery.fenecon.home/test/io/openems/edge/battery/fenecon/home/statemachine/GoRunningHandlerTest.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/test/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/BatteryInverterKacoBlueplanetGridsaveImplTest.java
  io.openems.edge.batteryinverter.sinexcel/test/io/openems/edge/batteryinverter/sinexcel/BatteryInverterSinexcelImplTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/TasksSupplierImplTest.java
  io.openems.edge.common/src/io/openems/edge/common/test/AbstractComponentTest.java
  io.openems.edge.controller.api.backend/test/io/openems/edge/controller/api/backend/ControllerApiBackendImplTest.java
  io.openems.edge.controller.api.mqtt/test/io/openems/edge/controller/api/mqtt/ControllerApiMqttImplTest.java
  io.openems.edge.controller.ess.activepowervoltagecharacteristic/test/io/openems/edge/controller/ess/activepowervoltagecharacteristic/CharacteristicImplTest.java
  io.openems.edge.controller.ess.cycle/test/io/openems/edge/controller/ess/cycle/ControllerEssCycleImplTest.java
  io.openems.edge.controller.ess.delaycharge/test/io/openems/edge/controller/ess/delaycharge/ControllerEssDelayChargeImplTest.java
  io.openems.edge.controller.ess.fixstateofcharge/test/io/openems/edge/controller/ess/fixstateofcharge/ControllerEssFixStateOfChargeImplTest.java
  io.openems.edge.controller.ess.gridoptimizedcharge/test/io/openems/edge/controller/ess/gridoptimizedcharge/ControllerEssGridOptimizedChargeImplTest.java
  io.openems.edge.controller.ess.limittotaldischarge/test/io/openems/edge/controller/ess/limittotaldischarge/ControllerEssLimitTotalDischargeImplTest.java
  io.openems.edge.controller.ess.reactivepowervoltagecharacteristic/test/io/openems/edge/controller/ess/reactivepowervoltagecharacteristic/ControllerEssReactivePowerVoltageCharacteristicImplTest.java
  io.openems.edge.controller.ess.standby/test/io/openems/edge/controller/ess/standby/ControllerEssStandbyImplTest.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerTest.java
  io.openems.edge.controller.evcs/test/io/openems/edge/controller/evcs/ControllerEvcsImplTest.java
  io.openems.edge.controller.io.analog/test/io/openems/edge/controller/io/analog/MyControllerTest.java
  io.openems.edge.controller.io.channelsinglethreshold/test/io/openems/edge/controller/io/channelsinglethreshold/ControllerIoChannelSingleThresholdImplTest.java
  io.openems.edge.controller.io.heatingelement/test/io/openems/edge/controller/io/heatingelement/ControllerIoHeatingElementImplTest.java
  io.openems.edge.controller.io.heatingelement/test/io/openems/edge/controller/io/heatingelement/ControllerIoHeatingElementImplTest2.java
  io.openems.edge.controller.io.heatingelement/test/io/openems/edge/controller/io/heatingelement/ControllerIoHeatingElementImplTest3.java
  io.openems.edge.controller.io.heatpump.sgready/test/io/openems/edge/controller/io/heatpump/sgready/ControllerIoHeatPumpSgReadyImplTest.java
  io.openems.edge.controller.symmetric.balancingschedule/test/io/openems/edge/controller/symmetric/balancingschedule/ControllerEssBalancingScheduleImplTest.java
  io.openems.edge.controller.symmetric.timeslotpeakshaving/test/io/openems/edge/controller/timeslotpeakshaving/ControllerEssTimeslotPeakshavingImplTest.java
  io.openems.edge.core/test/io/openems/edge/core/predictormanager/PredictorManagerImplTest.java
  io.openems.edge.ess.generic/test/io/openems/edge/ess/generic/common/AllowedChargeDischargeHandlerTest.java
  io.openems.edge.ess.generic/test/io/openems/edge/ess/generic/offgrid/EssGenericOffGridImplTest.java
  io.openems.edge.ess.generic/test/io/openems/edge/ess/generic/symmetric/EssGenericManagedSymmetricImplTest.java
  io.openems.edge.predictor.persistencemodel/test/io/openems/edge/predictor/persistencemodel/PredictorPersistenceModelImplTest.java
  io.openems.edge.predictor.similardaymodel/test/io/openems/edge/predictor/similardaymodel/PredictorSimilardayModelImplTest.java
  io.openems.edge.scheduler.daily/test/io/openems/edge/scheduler/daily/SchedulerDailyImplTest.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/app/SimulatorAppImpl.java
  io.openems.edge.simulator/test/io/openems/edge/simulator/ess/symmetric/reacting/SimulatorEssSymmetricReactingImplTest.java
Due: build-java, restore-cache, rebuild-cache

add subtractSafely to utils
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Initial contribution: Spelsberg EVCS component
  io.openems.edge.evcs.spelsberg.smart/.classpath
  io.openems.edge.evcs.spelsberg.smart/.gitignore
  io.openems.edge.evcs.spelsberg.smart/.project
  io.openems.edge.evcs.spelsberg.smart/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.evcs.spelsberg.smart/.settings/org.eclipse.jdt.core.prefs
  io.openems.edge.evcs.spelsberg.smart/bnd.bnd
  io.openems.edge.evcs.spelsberg.smart/generated/buildfiles
  io.openems.edge.evcs.spelsberg.smart/readme.adoc
  io.openems.edge.evcs.spelsberg.smart/src/io/openems/edge/evcs/spelsberg/smart/CableState.java
  io.openems.edge.evcs.spelsberg.smart/src/io/openems/edge/evcs/spelsberg/smart/ChargePointState.java
  io.openems.edge.evcs.spelsberg.smart/src/io/openems/edge/evcs/spelsberg/smart/Config.java
  io.openems.edge.evcs.spelsberg.smart/src/io/openems/edge/evcs/spelsberg/smart/EvcsSpelsbergSmart.java
  io.openems.edge.evcs.spelsberg.smart/src/io/openems/edge/evcs/spelsberg/smart/EvcsSpelsbergSmartImpl.java
  io.openems.edge.evcs.spelsberg.smart/src/io/openems/edge/evcs/spelsberg/smart/EvseState.java
  io.openems.edge.evcs.spelsberg.smart/test/io/openems/edge/evcs/spelsberg/smart/EvcsSpelsbergSmartImplTest.java
  io.openems.edge.evcs.spelsberg.smart/test/io/openems/edge/evcs/spelsberg/smart/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

remove buildfiles
  io.openems.edge.evcs.spelsberg.smart/generated/buildfiles
Due: build-java, restore-cache, rebuild-cache

GoodWe: check correct voltage value (#861)
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
Due: build-java, restore-cache, rebuild-cache

changes requested by review
  ui/src/app/edge/history/common/common.ts
  ui/src/app/edge/history/common/grid/chart/chart.ts
  ui/src/app/edge/history/history.module.ts
  ui/src/app/shared/genericComponents/chart/chart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

return to default behavior for total in production chart legend
  ui/src/app/edge/history/common/production/chart/totalChart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add union-type EdgeConfig | null for getChartData to config
  ui/src/app/edge/history/common/energy/chart/chart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Refactor GridHistory like ProductionHistory (#2191)
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/common/common.ts
  ui/src/app/edge/history/common/energy/chart/channels.spec.ts
  ui/src/app/edge/history/common/energy/chart/chart.constants.spec.ts
  ui/src/app/edge/history/common/energy/chart/chart.spec.ts
  ui/src/app/edge/history/common/energy/chart/chart.ts
  ui/src/app/edge/history/common/grid/chart/chart.constants.spec.ts
  ui/src/app/edge/history/common/grid/chart/chart.spec.ts
  ui/src/app/edge/history/common/grid/chart/chart.ts
  ui/src/app/edge/history/common/grid/flat/flat.html
  ui/src/app/edge/history/common/grid/flat/flat.ts
  ui/src/app/edge/history/common/grid/grid.ts
  ui/src/app/edge/history/common/grid/overview/overview.html
  ui/src/app/edge/history/common/grid/overview/overview.ts
  ui/src/app/edge/history/common/production/chart/productionMeterChart.ts
  ui/src/app/edge/history/common/production/chart/totalAcChart.ts
  ui/src/app/edge/history/common/production/chart/totalChart.ts
  ui/src/app/edge/history/common/production/production.ts
  ui/src/app/edge/history/grid/gridchartoverview/gridchartoverview.component.html
  ui/src/app/edge/history/grid/gridchartoverview/gridchartoverview.component.ts
  ui/src/app/edge/history/grid/widget.component.html
  ui/src/app/edge/history/grid/widget.component.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/history.module.ts
  ui/src/app/edge/live/common/autarchy/modal/modal.spec.ts
  ui/src/app/edge/live/common/consumption/modal/modal.constants.spec.ts
  ui/src/app/edge/live/common/consumption/modal/modal.spec.ts
  ui/src/app/edge/live/common/grid/flat/flat.html
  ui/src/app/edge/live/common/grid/modal/constants.spec.ts
  ui/src/app/edge/live/common/grid/modal/modal.spec.ts
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/edge/live/common/selfconsumption/modal/modal.spec.ts
  ui/src/app/shared/edge/edgeconfig.spec.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/chart/chart.ts
  ui/src/app/shared/genericComponents/shared/testing/common.ts
  ui/src/app/shared/genericComponents/shared/testing/tester.ts
  ui/src/app/shared/service/defaulttypes.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

WIP
  doc/README.md
  doc/build/site.yml
  doc/modules/ROOT/nav.adoc
  doc/modules/ROOT/pages/ui/implementing-a-widget/components/chart.adoc
  doc/modules/ROOT/pages/ui/implementing-a-widget/components/flat.adoc
  doc/modules/ROOT/pages/ui/implementing-a-widget/components/modal.adoc
  doc/modules/ROOT/pages/ui/implementing-a-widget/introduction.adoc
Due: none

implement a chart and restructure Implementing a device
  doc/modules/ROOT/assets/images/ui-history-energy-monitor.png
  doc/modules/ROOT/nav.adoc
  doc/modules/ROOT/pages/ui/implementing-a-widget/components/chart.adoc
  doc/modules/ROOT/pages/ui/implementing-a-widget/components/flat.adoc
Due: none

clean PR
  doc/build/site.yml
Due: none

Shelly Pro 3: Fix relay status read.
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly3/IoShelly3Impl.java
Due: build-java, restore-cache, rebuild-cache

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
