Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

Update bndrun
  cnf/pom.xml
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bnd
  io.openems.wrapper/auth0-auth0.bnd
  io.openems.wrapper/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

Shorten code
  io.openems.edge.victron/src/io/openems/edge/victron/ess/VictronEssImpl.java
Due: build-java, restore-cache, rebuild-cache

Add JUnit test; use GenerateTargetsFromReferences
  io.openems.edge.victron/src/io/openems/edge/victron/enums/ChargeStateEss.java
  io.openems.edge.victron/src/io/openems/edge/victron/ess/Config.java
  io.openems.edge.victron/src/io/openems/edge/victron/ess/VictronEssImpl.java
  io.openems.edge.victron/test/io/openems/edge/dccharger/victron/VictronDcChargerImplTest.java
  io.openems.edge.victron/test/io/openems/edge/victron/battery/VictronBatteryImplTest.java
  io.openems.edge.victron/test/io/openems/edge/victron/batteryinverter/statemachine/StateMachineTest.java
  io.openems.edge.victron/test/io/openems/edge/victron/ess/MyConfig.java
  io.openems.edge.victron/test/io/openems/edge/victron/ess/VictronEssImplTest.java
  io.openems.edge.victron/test/io/openems/edge/victron/meter/grid/VictronMeterImplTest.java
  io.openems.edge.victron/test/io/openems/edge/victron/pvinverter/VictronPvInverterImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Victron ESS: keep configured capacity when BMS reports 0 (#3808)
  io.openems.edge.victron/src/io/openems/edge/victron/enums/ChargeStateEss.java
  io.openems.edge.victron/src/io/openems/edge/victron/ess/Config.java
  io.openems.edge.victron/src/io/openems/edge/victron/ess/VictronEssImpl.java
  io.openems.edge.victron/test/io/openems/edge/dccharger/victron/VictronDcChargerImplTest.java
  io.openems.edge.victron/test/io/openems/edge/victron/battery/VictronBatteryImplTest.java
  io.openems.edge.victron/test/io/openems/edge/victron/batteryinverter/statemachine/StateMachineTest.java
  io.openems.edge.victron/test/io/openems/edge/victron/ess/MyConfig.java
  io.openems.edge.victron/test/io/openems/edge/victron/ess/VictronEssImplTest.java
  io.openems.edge.victron/test/io/openems/edge/victron/meter/grid/VictronMeterImplTest.java
  io.openems.edge.victron/test/io/openems/edge/victron/pvinverter/VictronPvInverterImplTest.java
Due: build-java, restore-cache, rebuild-cache

Update bnd
  cnf/build.bnd
Due: none

io.openems.edge.victron: guard Read-Only-Mode in applyPower; add tests
  io.openems.edge.victron/src/io/openems/edge/victron/ess/VictronEssImpl.java
  io.openems.edge.victron/test/io/openems/edge/victron/ess/VictronEssImplTest.java
Due: build-java, restore-cache, rebuild-cache

Add JUnit test for this fix
  io.openems.edge.meter.api/test/io/openems/edge/meter/api/ElectricityMeterTest.java
Due: build-java, restore-cache, rebuild-cache

Update tests to Jupiter
  io.openems.edge.meter.api/test/io/openems/edge/meter/api/ElectricityMeterTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] ElectricityMeter: avoid divide-by-zero (#3777)
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/ElectricityMeter.java
  io.openems.edge.meter.api/test/io/openems/edge/meter/api/ElectricityMeterTest.java
Due: build-java, restore-cache, rebuild-cache

io.openems.edge.victron: cover Read-Only-Mode guard's disabled branch
  io.openems.edge.victron/test/io/openems/edge/victron/ess/VictronEssImplTest.java
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update UI dependencies
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update all angular deps
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update readme.adoc: added link to referenced source code files
  io.openems.edge.controller.io.heatingelement/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Test CalculateExpression on activate()
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoeImpl.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/PriceCalculatorTest.java
Due: build-java, restore-cache, rebuild-cache

Update pom.xml
  cnf/pom.xml
Due: none

[Doc] Backend: document the Edge connection architecture (Backend.Edge.App)
  doc/modules/ROOT/pages/backend/architecture.adoc
Due: none

[Backend] Docs for Backend architecture (Backend.Edge.App) (#3818)
  doc/modules/ROOT/pages/backend/architecture.adoc
Due: none

[Edge] Controller IO HeatingElement: improve readme.adoc (#3817)
  io.openems.edge.controller.io.heatingelement/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Update build.bnd
  cnf/build.bnd
Due: none

fix(ui): sort edge components by alias
  ui/src/app/shared/components/edge/edgeconfig.spec.ts
  ui/src/app/shared/components/edge/edgeconfig.ts
  ui/src/app/shared/utils/array/array.utils.spec.ts
  ui/src/app/shared/utils/array/array.utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix(ui): preserve alias ordering in component lists
  ui/src/app/shared/components/edge/edgeconfig.spec.ts
  ui/src/app/shared/components/edge/edgeconfig.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bndrun
  cnf/pom.xml
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Updaten bndrun
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Formatting & migrate to Jupiter
  io.openems.edge.victron/test/io/openems/edge/victron/enums/VictronEnumsTest.java
  io.openems.edge.victron/test/io/openems/edge/victron/ess/VictronEssImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Victron.Ess: drop all write tasks in Read-Only-Mode (#3807)
  io.openems.edge.victron/src/io/openems/edge/victron/ess/VictronEssImpl.java
  io.openems.edge.victron/test/io/openems/edge/victron/enums/VictronEnumsTest.java
  io.openems.edge.victron/test/io/openems/edge/victron/ess/VictronEssImplTest.java
Due: build-java, restore-cache, rebuild-cache

Apply tools/prepare-commit.sh
  io.openems.edge.fronius/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

[Edge] my-PV manual schedule
  io.openems.edge.heat.mypv/bnd.bnd
  io.openems.edge.heat.mypv/src/io/openems/edge/heat/mypv/EnergyScheduler.java
  io.openems.edge.heat.mypv/src/io/openems/edge/heat/mypv/HeatMyPvImpl.java
  io.openems.edge.heat.mypv/src/io/openems/edge/heat/mypv/Mode.java
  io.openems.edge.heat.mypv/test/io/openems/edge/heat/mypv/EnergySchedulerTest.java
Due: build-java, restore-cache, rebuild-cache

[Backend] improve http logging
  io.openems.backend.authentication.oauth2/src/io/openems/backend/authentication/oauth2/KeycloakApi.java
  io.openems.backend.authentication.oauth2/src/io/openems/backend/authentication/oauth2/OAuthUserAuthenticationServiceImpl.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
  io.openems.backend.oauthregistry/src/io/openems/backend/oauthregistry/OAuthRegistryImpl.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/OnRequest.java
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/NetworkEndpointFetcher.java
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/api/HttpHeader.java
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/authentication/HttpBridgeAuthenticationService.java
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/authentication/HttpBridgeAuthenticationServiceDefinition.java
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/logging/HttpBridgeLoggingService.java
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/logging/HttpBridgeLoggingServiceConfiguration.java
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/logging/HttpBridgeLoggingServiceDefinition.java
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/logging/package-info.java
  io.openems.common.bridge.http/test/io/openems/common/bridge/http/authentication/HttpBridgeAuthenticationServiceTest.java
  io.openems.common.bridge.http/test/io/openems/common/bridge/http/logging/HttpBridgeLoggingServiceTest.java
  io.openems.common/src/io/openems/common/websocket/OnMessageHandler.java
  io.openems.common/src/io/openems/common/websocket/WsData.java
  io.openems.edge.battery.fenecon.home/test/io/openems/edge/battery/fenecon/home/update/UpdateHandlerTests.java
  io.openems.edge.braiinsos/src/io/openems/edge/braiinsos/api/BraiinsApi.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/common/gen2/IoGen2ShellyBaseImpl.java
  io.openems.edge.timeofusetariff.rabotcharge/src/io/openems/edge/timeofusetariff/rabotcharge/TimeOfUseTariffRabotChargeImpl.java
Due: build-java, restore-cache, rebuild-cache

[UI] Set ENGLISH as fallback language
  ui/src/app/app.module.ts
  ui/src/app/shared/type/language.ts
  ui/src/app/user/user.component.html
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/environments/index.ts
  ui/src/themes/openems/environments/karma.ts
  ui/src/themes/openems/environments/theme.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Commercial 100: add compatibility with peak shaving
  io.openems.edge.core/src/io/openems/edge/app/peakshaving/PeakShaving.java
  io.openems.edge.core/src/io/openems/edge/app/peakshaving/PhaseAccuratePeakShaving.java
Due: build-java, restore-cache, rebuild-cache

[Backend] fix alerting thread deadlock
  io.openems.backend.alerting/src/io/openems/backend/alerting/handler/SumStateHandler.java
Due: build-java, restore-cache, rebuild-cache

[UI] ToU: enable show or hide for chart datasets
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/new-navigation/state-price-chart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] myPV and Askoma: add links to Modbus documentation
  io.openems.edge.heat.askoma/readme.adoc
  io.openems.edge.heat.mypv/readme.adoc
Due: build-java, restore-cache, rebuild-cache

[UI] NUI: readd history excel export
  ui/src/app/edge/history/common/energy/new-navigation/new-navigation.html
  ui/src/app/edge/history/common/energy/new-navigation/new-navigation.ts
  ui/src/app/shared/utils/date/dateutils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] NUI: io channel single threshold
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/Controller/controller.module.ts
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/flat/flat.ts
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/history/channelSingleThreshold.module.ts
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/history/flat/flat.html
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/history/flat/flat.ts
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/history/new-navigation/new-navigation.html
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/history/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/history/overview/overview.html
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/history/overview/overview.ts
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/settings/settings.ts
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/shared/shared.ts
  ui/src/app/shared/components/navigation/navigation-routing.module.ts
  ui/src/app/shared/components/navigation/service/navigation.service.ts
  ui/src/app/shared/components/navigation/shared.ts
  ui/src/app/shared/components/shared/converter.ts
  ui/src/app/shared/components/shared/oe-formly-component.ts
  ui/src/app/shared/components/shared/testing/tester.ts
  ui/src/app/shared/type/general.ts
  ui/src/app/shared/type/widgets.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location
