Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

[UI] EVSE Improvements
  ui/src/app/edge/live/Controller/Evse/pages/history/chart/status.chart.ts
  ui/src/app/edge/live/Controller/Evse/pages/history/history.html
  ui/src/app/edge/live/Controller/Evse/pages/history/history.ts
  ui/src/app/edge/live/Controller/Evse/pages/home.html
  ui/src/app/edge/live/Controller/Evse/shared/translation.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix build
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial92ClusterMaster.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial92ClusterSlave.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/industrial/l/BatteryFirmwareVersion.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/industrial/l/BatteryProtectionType.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/industrial/l/Ilk710.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/industrial/s/FeneconIndustrialSComponents.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/industrial/s/FeneconIndustrialSProps.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/industrial/s/Isk010.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/industrial/s/Isk011.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/industrial/s/Isk110.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/FeneconIndustrialLTest.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconIndustrialL.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconIndustrialS.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerImplTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
Due: build-java, restore-cache, rebuild-cache

Fix build
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
Due: build-java, restore-cache, rebuild-cache

Push version to 2025.8.0
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2025.9.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Simplify modbus task handling and remove interrupt mechanism
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/WaitTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksManager.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksManagerTest.java
Due: build-java, restore-cache, rebuild-cache

[Docs] Docker Edge: Update README.md (#3200)
  tools/docker/edge/README.md
Due: none

[Docs] Docker: Update docker.adoc (#3180)
  doc/modules/ROOT/pages/backend/deploy/docker.adoc
Due: none

[UI] App Center: fix translation for technicalName, category, cardinality (#3189)
  ui/src/app/edge/settings/app/index.component.html
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/ja.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Organize imports
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/BridgeModbusTcpImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Modbus AbstractReadTask: Enhance Parsing Response; exception catch (#2879)
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractReadTask.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/BridgeModbusTcpImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] getSystemUpdateState: create proper response on dpkg error (#3170)
  io.openems.edge.core/src/io/openems/edge/core/host/SystemUpdateHandler.java
Due: build-java, restore-cache, rebuild-cache

feat: change reconnection timer implementation unix time -> cpu clock time.
  io.openems.common/src/io/openems/common/websocket/ClientReconnectorWorker.java
Due: build-java, restore-cache, rebuild-cache

simplify lastTry init value
  io.openems.common/src/io/openems/common/websocket/ClientReconnectorWorker.java
Due: build-java, restore-cache, rebuild-cache

feat: add show-password button
  ui/src/app/edge/settings/systemexecute/systemexecute.component.html
  ui/src/app/edge/settings/systemexecute/systemexecute.component.ts
  ui/src/app/index/login.component.html
  ui/src/app/index/login.component.ts
  ui/src/app/index/registration/modal/modal.component.html
  ui/src/app/index/registration/modal/modal.component.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/ja.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: move position of method and property
  ui/src/app/edge/settings/systemexecute/systemexecute.component.ts
  ui/src/app/index/registration/modal/modal.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix indent
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/Config.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/WebsocketServer.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/Config.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/WebsocketServer.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/Config.java
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketServer.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/ControllerApiWebsocketImpl.java
  io.openems.edge.controller.api.websocket/test/io/openems/edge/controller/api/websocket/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

fix
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/Backend2BackendWebsocket.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/Config.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/WebsocketServer.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/Config.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/EdgeWebsocketImpl.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/WebsocketServer.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/Config.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/UiWebsocketImpl.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/WebsocketServer.java
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketServer.java
  io.openems.common/src/io/openems/common/websocket/DummyWebsocketServer.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/Config.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/ControllerApiWebsocketImpl.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/WebsocketServer.java
  io.openems.edge.controller.api.websocket/test/io/openems/edge/controller/api/websocket/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

fix: remove original translation file and migrate it to exsiting one
  ui/src/app/edge/history/Controller/Io/heatpump/overview/overview.ts
  ui/src/app/edge/history/Controller/Io/heatpump/overview/translation.json
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/ja.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: fix use getEditButtonText; add ja text
  ui/src/app/user/user.component.html
  ui/src/assets/i18n/ja.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

feat: add listen ip parameter to components that have socket and set 127.0.0.1 as default
  io.openems.backend.b2brest/src/io/openems/backend/b2brest/Backend2BackendRest.java
  io.openems.backend.b2brest/src/io/openems/backend/b2brest/Config.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/Backend2BackendWebsocket.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/Config.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/WebsocketServer.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/Config.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/EdgeWebsocketImpl.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/WebsocketServer.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/Config.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/UiWebsocketImpl.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/WebsocketServer.java
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketServer.java
  io.openems.common/src/io/openems/common/websocket/DummyWebsocketServer.java
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/AbstractRestApi.java
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/readonly/Config.java
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/readonly/ControllerApiRestReadOnlyImpl.java
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/readwrite/Config.java
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/readwrite/ControllerApiRestReadWriteImpl.java
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/readonly/ControllerApiRestReadOnlyImplTest.java
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/readonly/MyConfig.java
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/readwrite/ControllerApiRestReadWriteImplTest.java
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/readwrite/MyConfig.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/Config.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/ControllerApiWebsocketImpl.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/WebsocketServer.java
  io.openems.edge.controller.api.websocket/test/io/openems/edge/controller/api/websocket/ControllerApiWebsocketImplTest.java
  io.openems.edge.controller.api.websocket/test/io/openems/edge/controller/api/websocket/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

add doc comment
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketServer.java
Due: build-java, restore-cache, rebuild-cache

add doc comment
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/AbstractRestApi.java
Due: build-java, restore-cache, rebuild-cache

add doc comment
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/ControllerApiWebsocketImpl.java
Due: build-java, restore-cache, rebuild-cache

add doc comment
  io.openems.backend.b2brest/src/io/openems/backend/b2brest/Backend2BackendRest.java
Due: build-java, restore-cache, rebuild-cache

feat: add edge-list to siderbar in UI
  ui/src/app/app.component.html
  ui/src/app/app.component.ts
  ui/src/app/shared/service/service.ts
  ui/src/assets/i18n/cz.json
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/es.json
  ui/src/assets/i18n/fr.json
  ui/src/assets/i18n/ja.json
  ui/src/assets/i18n/nl.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: drop dup func
  ui/src/app/index/registration/modal/modal.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix
  ui/src/app/app.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: move func position to before private func to pass lint
  ui/src/app/index/registration/modal/modal.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

CHP Cost Optimzation history
  io.openems.edge.ess.byd.container/bin_test/.gitignore
  io.openems.edge.ess.byd.container/generated/buildfiles
  io.openems.edge.evcs.dezony/bin_test/.gitignore
  io.openems.edge.evcs.dezony/generated/buildfiles
  ui/src/app/edge/history/Controller/chp/CostOptimization/chart.component.ts
  ui/src/app/edge/history/Controller/chp/CostOptimization/chart/chart.ts
  ui/src/app/edge/history/Controller/chp/CostOptimization/chp-cost-optimization.module.ts
  ui/src/app/edge/history/Controller/chp/CostOptimization/costOptimization.module.ts
  ui/src/app/edge/history/Controller/chp/CostOptimization/costOptimizationchartoverview/chpsocchartoverview.component.html
  ui/src/app/edge/history/Controller/chp/CostOptimization/costOptimizationchartoverview/chpsocchartoverview.component.ts
  ui/src/app/edge/history/Controller/chp/CostOptimization/flat/flat.html
  ui/src/app/edge/history/Controller/chp/CostOptimization/flat/flat.ts
  ui/src/app/edge/history/Controller/chp/CostOptimization/overview/overview.html
  ui/src/app/edge/history/Controller/chp/CostOptimization/overview/overview.ts
  ui/src/app/edge/history/Controller/chp/CostOptimization/widget.component.html
  ui/src/app/edge/history/Controller/chp/CostOptimization/widget.component.ts
  ui/src/app/edge/history/Controller/peak-shaving/threshold/chart/chart.ts
  ui/src/app/edge/history/Controller/peak-shaving/timeslot/chart/chart.ts
  ui/src/app/edge/history/common/storage/chart/totalchart.ts
  ui/src/app/edge/history/common/storage/details/chart/esschart.ts
  ui/src/app/edge/history/history.module.ts
  ui/src/app/edge/history/storage/socchart.component.ts
  ui/src/app/edge/live/Controller/PeakShaving/Symmetric_Threshold/modal/modal.component.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Adding component UMG806 to Janitza folder
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg806/Config.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg806/MeterJanitzaUmg806.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg806/MeterJanitzaUmg806Impl.java
Due: build-java, restore-cache, rebuild-cache

fixing wrong imports after rebase to develop branch
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg806/Config.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg806/MeterJanitzaUmg806Impl.java
Due: build-java, restore-cache, rebuild-cache

Changed length of modbus block to match existing table
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.chp.ecpower/src/io/openems/edge/chp/ecpower/control/XrgiControl.java
  io.openems.edge.chp.ecpower/src/io/openems/edge/chp/ecpower/manager/XrgiManager.java
  io.openems.edge.controller.chp.costoptimization/.classpath
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evcs/keba/udp/EvcsKebaUdpImpl.java
  io.openems.edge.io.opendtu.inverter/src/io/openems/edge/io/opendtu/inverter/OpendtuImpl.java
  io.openems.edge.predictor.pv.weather.forecast/generated/buildfiles
  io.openems.edge.thermometer.esera.onewire/generated/buildfiles
Due: build-java, restore-cache, rebuild-cache

Fixes in CHP Config, Minor fixes in UI
  io.openems.edge.chp.ecpower/src/io/openems/edge/chp/ecpower/control/Config.java
  io.openems.edge.chp.ecpower/src/io/openems/edge/chp/ecpower/control/XrgiControlImpl.java
  io.openems.edge.chp.ecpower/src/io/openems/edge/chp/ecpower/manager/Config.java
  io.openems.edge.chp.ecpower/src/io/openems/edge/chp/ecpower/ro/Config.java
  io.openems.edge.controller.chp.costoptimization/src/io/openems/edge/controller/chp/costoptimization/ControllerChpCostOptimizationImpl.java
  io.openems.edge.ess.byd.container/.project
  io.openems.edge.ess.byd.container/bin_test/.gitignore
  io.openems.edge.ess.byd.container/generated/buildfiles
  io.openems.edge.evcs.dezony/.project
  io.openems.edge.evcs.dezony/bin_test/.gitignore
  io.openems.edge.evcs.dezony/generated/buildfiles
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/history.component.html
  ui/src/assets/i18n/de.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

SolarEdge: Added SunSpec Models 101, 102
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/batteryinverter/victron/ess/symmetric/VictronEss.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/charger/SolaredgeDcChargerImpl.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/pvinverter/SolarEdgePvInverterImpl.java
Due: build-java, restore-cache, rebuild-cache

Apply prepare-commit.sh
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Added Meter for AC Out. Consumption on AC out is calculated to ApplyPower
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/batteryinverter/victron/ess/symmetric/VictronEss.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/batteryinverter/victron/ess/symmetric/VictronEssImpl.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/meter/victron/acout/Config.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/meter/victron/acout/VictronAcOutPowerMeterImpl.java
Due: build-java, restore-cache, rebuild-cache

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
