Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

[Edge/UI] Heatpump: Timeschedule and new UI
  io.openems.edge.controller.io.heatpump.sgready/src/io/openems/edge/controller/io/heatpump/sgready/BaseMode.java
  io.openems.edge.controller.io.heatpump.sgready/src/io/openems/edge/controller/io/heatpump/sgready/Config.java
  io.openems.edge.controller.io.heatpump.sgready/src/io/openems/edge/controller/io/heatpump/sgready/ControllerIoHeatPumpSgReady.java
  io.openems.edge.controller.io.heatpump.sgready/src/io/openems/edge/controller/io/heatpump/sgready/ControllerIoHeatPumpSgReadyImpl.java
  io.openems.edge.controller.io.heatpump.sgready/src/io/openems/edge/controller/io/heatpump/sgready/HeatPumpPayload.java
  io.openems.edge.controller.io.heatpump.sgready/src/io/openems/edge/controller/io/heatpump/sgready/Mode.java
  io.openems.edge.controller.io.heatpump.sgready/test/io/openems/edge/controller/io/heatpump/sgready/ControllerIoHeatPumpSgReadyImplTest.java
  io.openems.edge.controller.io.heatpump.sgready/test/io/openems/edge/controller/io/heatpump/sgready/MyConfig.java
  io.openems.edge.core/src/io/openems/edge/app/common/props/ComponentProps.java
  io.openems.edge.core/src/io/openems/edge/app/common/props/MeterIntegrationUtil.java
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/modal/modal.component.html
  ui/src/app/edge/live/Controller/Io/Heatpump/basemode/basemode.spec.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/basemode/basemode.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/controller-io-heatpump.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/flat/flat.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/history/chart/chart.spec.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/history/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/modal/modal.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/schedule/heatpump-payload.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/schedule/schedule.component.html
  ui/src/app/edge/live/Controller/Io/Heatpump/schedule/schedule.component.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/schedule/task/add/add.html
  ui/src/app/edge/live/Controller/Io/Heatpump/schedule/task/add/add.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/schedule/task/edit/edit.html
  ui/src/app/edge/live/Controller/Io/Heatpump/schedule/task/edit/edit.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/settings/settings.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/shared/shared.spec.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/shared/shared.ts
  ui/src/app/shared/components/navigation/navigation-routing.module.ts
  ui/src/app/shared/components/shared/converter.ts
  ui/src/app/shared/shared.ts
  ui/src/app/shared/type/widgets.ts
  ui/src/assets/i18n/cz.json
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/es.json
  ui/src/assets/i18n/fr.json
  ui/src/assets/i18n/ja.json
  ui/src/assets/i18n/nl.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Improve helper methods
  ui/src/app/shared/components/formly/formly-field-range.ts
  ui/src/app/shared/utils/object/object-utils.spec.ts
  ui/src/app/shared/utils/object/object-utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] AppCenter: only update properties which are required to force update
  io.openems.common/src/io/openems/common/jsonrpc/request/CreateComponentConfigRequest.java
  io.openems.common/src/io/openems/common/jsonrpc/request/UpdateComponentConfigRequest.java
  io.openems.common/src/io/openems/common/jsonrpc/type/CreateComponentConfig.java
  io.openems.edge.common/src/io/openems/edge/common/test/DummyComponentManager.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/ForceUpdateComponentConfig.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/ComponentManagerImpl.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/DefaultConfigurationWorker.java
  io.openems.edge.core/test/io/openems/edge/app/timeofusetariff/TestTibber.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/DummyPseudoComponentManager.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/ForceUpdateComponentConfigTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/SwitchEvcsEvseTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Tariff.ENTSO-E.GridSell: implementation of TariffGridSell
  io.openems.common.bridge.http/test/io/openems/common/bridge/http/BridgeHttpImplTest.java
  io.openems.common.bridge.http/test/io/openems/common/bridge/http/api/BridgeHttpTest.java
  io.openems.common.bridge.http/test/io/openems/common/bridge/http/api/BridgeHttpTimeTest.java
  io.openems.common.bridge.http/test/io/openems/common/bridge/http/api/UrlBuilderTest.java
  io.openems.common.bridge.http/test/io/openems/common/bridge/http/logging/HttpBridgeLoggingServiceTest.java
  io.openems.common.bridge.http/test/io/openems/common/bridge/http/metric/HttpBridgeMetricServiceTest.java
  io.openems.common.bridge.http/test/io/openems/common/bridge/http/metric/MetricGroupTest.java
  io.openems.common.bridge.http/test/io/openems/common/bridge/http/thirdparty/entsoe/EntsoeApiTest.java
  io.openems.common.bridge.http/test/io/openems/common/bridge/http/time/DelayTimeProviderChainTest.java
  io.openems.common.bridge.http/test/io/openems/common/bridge/http/time/periodic/PeriodicExecutorTest.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/PriceCalculator.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/PriceCalculatorX.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/PriceCalculatorXY.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Utils.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/gridbuy/Config.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/gridbuy/GridBuyUtils.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/gridbuy/TouEntsoe.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/gridbuy/TouEntsoeImpl.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/gridsell/Config.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/gridsell/GridSellUtils.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/gridsell/TariffEntsoeGridSell.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/gridsell/TariffEntsoeGridSellImpl.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/priceprovider/MarketPriceProvider.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/priceprovider/provider/EntsoeDataProvider.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/PriceCalculatorXTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/PriceCalculatorXYTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/gridbuy/MyConfig.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/gridbuy/TouEntsoeTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/gridbuy/entsoe-response.xml
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/priceprovider/EntsoeMarketPriceProviderTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] ENTSO-E Grid-Sell: fix initialisation
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/gridbuy/TouEntsoeImpl.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/gridsell/TariffEntsoeGridSellImpl.java
Due: build-java, restore-cache, rebuild-cache

[UI] fix styling in app update
  ui/src/app/edge/settings/app/update.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] fix channelSinglethreshold settings view
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/settings/settings.ts
  ui/src/app/shared/components/navigation/bottom-bar/forward-navigation-options/forward-navigation-options.ts
  ui/src/app/shared/components/navigation/groups/group.html
  ui/src/app/shared/components/navigation/groups/group.spec.ts
  ui/src/app/shared/components/navigation/groups/group.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] appcenter improvements
  ui/src/app/edge/settings/app/index.component.html
  ui/src/app/edge/settings/app/index.component.ts
  ui/src/app/edge/settings/app/keypopup/modal.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Common] Update Gradle to v9.7.0
  gradle/wrapper/gradle-wrapper.properties
Due: build-java, restore-cache, rebuild-cache

[UI] fix develop
  io.openems.backend.oem.fenecon/test/io/openems/backend/oem/fenecon/LatestTaskPerKeyExecutorTest.java
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/common/energy/chart/chart.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/history.component.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

ENTSO-E Germany: use any data available; better (a little bit) wrong than nothing
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/thirdparty/entsoe/EntsoeApi.java
Due: build-java, restore-cache, rebuild-cache

Add multiple tests
  io.openems.edge.ess.saxpower/src/io/openems/edge/ess/saxpower/ess/SaxPowerImpl.java
  io.openems.edge.ess.saxpower/test/io/openems/edge/ess/saxpower/ess/SaxPowerImplTest.java
  io.openems.edge.ess.saxpower/test/io/openems/edge/ess/saxpower/gridmeter/SaxPowerEssGridMeterImplTest.java
Due: build-java, restore-cache, rebuild-cache

Complete testLimits test
  io.openems.edge.ess.saxpower/test/io/openems/edge/ess/saxpower/ess/SaxPowerImplTest.java
Due: build-java, restore-cache, rebuild-cache

review
  ui/src/app/shared/utils/inet/inet.utils.spec.ts
  ui/src/app/shared/utils/inet/inet.utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Apply tools/prepare-commit.sh
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

fix wrong test
  ui/src/app/shared/utils/inet/inet.utils.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge]Migrate ActivePowerVoltageCharacteristic to Reference Target Plugin and update bundle JUnit-4 to JUnit-6
  io.openems.edge.controller.ess.activepowervoltagecharacteristic/src/io/openems/edge/controller/ess/activepowervoltagecharacteristic/Config.java
  io.openems.edge.controller.ess.activepowervoltagecharacteristic/src/io/openems/edge/controller/ess/activepowervoltagecharacteristic/ControllerEssActivePowerVoltageCharacteristicImpl.java
  io.openems.edge.controller.ess.activepowervoltagecharacteristic/test/io/openems/edge/controller/ess/activepowervoltagecharacteristic/CharacteristicImplTest.java
  io.openems.edge.controller.ess.activepowervoltagecharacteristic/test/io/openems/edge/controller/ess/activepowervoltagecharacteristic/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Controller.Ess.Balancing: migrate to Reference Target Plugin
  io.openems.edge.controller.ess.balancing/src/io/openems/edge/controller/ess/balancing/Config.java
  io.openems.edge.controller.ess.balancing/src/io/openems/edge/controller/ess/balancing/ControllerEssBalancingImpl.java
  io.openems.edge.controller.ess.balancing/test/io/openems/edge/controller/ess/balancing/BalancingImplTest.java
  io.openems.edge.controller.ess.balancing/test/io/openems/edge/controller/ess/balancing/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Controller.Ess.ActivePowerVoltageCharacteristic: migrate reference target & update JUnit tests (#3888)
  io.openems.edge.controller.ess.activepowervoltagecharacteristic/src/io/openems/edge/controller/ess/activepowervoltagecharacteristic/Config.java
  io.openems.edge.controller.ess.activepowervoltagecharacteristic/src/io/openems/edge/controller/ess/activepowervoltagecharacteristic/ControllerEssActivePowerVoltageCharacteristicImpl.java
  io.openems.edge.controller.ess.activepowervoltagecharacteristic/test/io/openems/edge/controller/ess/activepowervoltagecharacteristic/CharacteristicImplTest.java
  io.openems.edge.controller.ess.activepowervoltagecharacteristic/test/io/openems/edge/controller/ess/activepowervoltagecharacteristic/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Controller.Ess.Balancing: migrate reference target & update JUnit tests (#3889)
  io.openems.edge.controller.ess.balancing/src/io/openems/edge/controller/ess/balancing/Config.java
  io.openems.edge.controller.ess.balancing/src/io/openems/edge/controller/ess/balancing/ControllerEssBalancingImpl.java
  io.openems.edge.controller.ess.balancing/test/io/openems/edge/controller/ess/balancing/BalancingImplTest.java
  io.openems.edge.controller.ess.balancing/test/io/openems/edge/controller/ess/balancing/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Apply Upgrade instructions
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Due: build-java, restore-cache, rebuild-cache

[Common] Update Gradle to 9.7.1 (#3890)
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Due: build-java, restore-cache, rebuild-cache

[Edge] Controller.Ess.DelayedSellToGrid & LinearPowerBand: migrate reference target & update test JUnit-4 to JUnit-6
  io.openems.edge.controller.ess.delayedselltogrid/src/io/openems/edge/controller/ess/delayedselltogrid/ControllerEssDelayedSellToGridImpl.java
  io.openems.edge.controller.ess.delayedselltogrid/test/io/openems/edge/controller/ess/delayedselltogrid/ControllerEssDelayedSellToGridImplTest.java
  io.openems.edge.controller.ess.linearpowerband/src/io/openems/edge/controller/ess/linearpowerband/Config.java
  io.openems.edge.controller.ess.linearpowerband/src/io/openems/edge/controller/ess/linearpowerband/ControllerEssLinearPowerBandImpl.java
  io.openems.edge.controller.ess.linearpowerband/test/io/openems/edge/controller/ess/linearpowerband/ControllerEssLinearPowerBandImplTest.java
  io.openems.edge.controller.ess.linearpowerband/test/io/openems/edge/controller/ess/linearpowerband/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Controller.Ess.Limiter14a: migrate reference target & update JUnit tests
  io.openems.edge.controller.ess.limiter14a/src/io/openems/edge/controller/ess/limiter14a/ControllerEssLimiter14aImpl.java
  io.openems.edge.controller.ess.limiter14a/test/io/openems/edge/controller/ess/limiter14a/ControllerEssLimiter14aTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Controller.Ess.ReactivePowerVoltageCharacteristic: migrate reference target & update JUnit tests
  io.openems.edge.controller.ess.reactivepowervoltagecharacteristic/src/io/openems/edge/controller/ess/reactivepowervoltagecharacteristic/Config.java
  io.openems.edge.controller.ess.reactivepowervoltagecharacteristic/src/io/openems/edge/controller/ess/reactivepowervoltagecharacteristic/ControllerEssReactivePowerVoltageCharacteristicImpl.java
  io.openems.edge.controller.ess.reactivepowervoltagecharacteristic/test/io/openems/edge/controller/ess/reactivepowervoltagecharacteristic/ControllerEssReactivePowerVoltageCharacteristicImplTest.java
  io.openems.edge.controller.ess.reactivepowervoltagecharacteristic/test/io/openems/edge/controller/ess/reactivepowervoltagecharacteristic/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Controller.Ess.EmergencyCapacityReserve: migrate reference target & update JUnit tests
  io.openems.edge.controller.ess.emergencycapacityreserve/src/io/openems/edge/controller/ess/emergencycapacityreserve/Config.java
  io.openems.edge.controller.ess.emergencycapacityreserve/src/io/openems/edge/controller/ess/emergencycapacityreserve/ControllerEssEmergencyCapacityReserveImpl.java
  io.openems.edge.controller.ess.emergencycapacityreserve/test/io/openems/edge/controller/ess/emergencycapacityreserve/ControllerEssEmergencyCapacityReserveImplTest.java
  io.openems.edge.controller.ess.emergencycapacityreserve/test/io/openems/edge/controller/ess/emergencycapacityreserve/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Controller.Ess.EmergencyCapacityReserve: fix checkstyle empty line in MyConfig
  io.openems.edge.controller.ess.emergencycapacityreserve/test/io/openems/edge/controller/ess/emergencycapacityreserve/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[Edge]boschbpts5hybrid: migrate reference target & update test JUnit-4 to JUnit-6
  io.openems.edge.bosch.bpts5hybrid/src/io/openems/edge/bosch/bpts5hybrid/ess/BoschBpts5HybridEssImpl.java
  io.openems.edge.bosch.bpts5hybrid/src/io/openems/edge/bosch/bpts5hybrid/ess/Config.java
  io.openems.edge.bosch.bpts5hybrid/src/io/openems/edge/bosch/bpts5hybrid/meter/BoschBpts5HybridMeterImpl.java
  io.openems.edge.bosch.bpts5hybrid/src/io/openems/edge/bosch/bpts5hybrid/meter/Config.java
  io.openems.edge.bosch.bpts5hybrid/src/io/openems/edge/bosch/bpts5hybrid/pv/BoschBpts5HybridPvImpl.java
  io.openems.edge.bosch.bpts5hybrid/src/io/openems/edge/bosch/bpts5hybrid/pv/Config.java
  io.openems.edge.bosch.bpts5hybrid/test/io/openems/edge/bosch/bpts5hybrid/ess/BoschBpts5HybridEssTest.java
  io.openems.edge.bosch.bpts5hybrid/test/io/openems/edge/bosch/bpts5hybrid/ess/MyConfig.java
  io.openems.edge.bosch.bpts5hybrid/test/io/openems/edge/bosch/bpts5hybrid/meter/BoschBpts5HybridMeterTest.java
  io.openems.edge.bosch.bpts5hybrid/test/io/openems/edge/bosch/bpts5hybrid/meter/MyConfig.java
  io.openems.edge.bosch.bpts5hybrid/test/io/openems/edge/bosch/bpts5hybrid/pv/BoschBpts5HybridPvTest.java
  io.openems.edge.bosch.bpts5hybrid/test/io/openems/edge/bosch/bpts5hybrid/pv/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Apply Eclipse formatting
  io.openems.edge.controller.ess.delayedselltogrid/src/io/openems/edge/controller/ess/delayedselltogrid/ControllerEssDelayedSellToGridImpl.java
  io.openems.edge.controller.ess.linearpowerband/src/io/openems/edge/controller/ess/linearpowerband/ControllerEssLinearPowerBand.java
  io.openems.edge.controller.ess.linearpowerband/src/io/openems/edge/controller/ess/linearpowerband/ControllerEssLinearPowerBandImpl.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Controller.Ess.DelayedSellToGrid & LinearPowerBand: migrate reference target & update JUnit tests (#3891)
  io.openems.edge.controller.ess.delayedselltogrid/src/io/openems/edge/controller/ess/delayedselltogrid/ControllerEssDelayedSellToGridImpl.java
  io.openems.edge.controller.ess.delayedselltogrid/test/io/openems/edge/controller/ess/delayedselltogrid/ControllerEssDelayedSellToGridImplTest.java
  io.openems.edge.controller.ess.linearpowerband/src/io/openems/edge/controller/ess/linearpowerband/Config.java
  io.openems.edge.controller.ess.linearpowerband/src/io/openems/edge/controller/ess/linearpowerband/ControllerEssLinearPowerBand.java
  io.openems.edge.controller.ess.linearpowerband/src/io/openems/edge/controller/ess/linearpowerband/ControllerEssLinearPowerBandImpl.java
  io.openems.edge.controller.ess.linearpowerband/test/io/openems/edge/controller/ess/linearpowerband/ControllerEssLinearPowerBandImplTest.java
  io.openems.edge.controller.ess.linearpowerband/test/io/openems/edge/controller/ess/linearpowerband/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[Edge] ESS-Controllers: migrate reference target & update JUnit tests (#3892)
  io.openems.edge.controller.ess.emergencycapacityreserve/src/io/openems/edge/controller/ess/emergencycapacityreserve/Config.java
  io.openems.edge.controller.ess.emergencycapacityreserve/src/io/openems/edge/controller/ess/emergencycapacityreserve/ControllerEssEmergencyCapacityReserveImpl.java
  io.openems.edge.controller.ess.emergencycapacityreserve/test/io/openems/edge/controller/ess/emergencycapacityreserve/ControllerEssEmergencyCapacityReserveImplTest.java
  io.openems.edge.controller.ess.emergencycapacityreserve/test/io/openems/edge/controller/ess/emergencycapacityreserve/MyConfig.java
  io.openems.edge.controller.ess.limiter14a/src/io/openems/edge/controller/ess/limiter14a/ControllerEssLimiter14aImpl.java
  io.openems.edge.controller.ess.limiter14a/test/io/openems/edge/controller/ess/limiter14a/ControllerEssLimiter14aTest.java
  io.openems.edge.controller.ess.reactivepowervoltagecharacteristic/src/io/openems/edge/controller/ess/reactivepowervoltagecharacteristic/Config.java
  io.openems.edge.controller.ess.reactivepowervoltagecharacteristic/src/io/openems/edge/controller/ess/reactivepowervoltagecharacteristic/ControllerEssReactivePowerVoltageCharacteristicImpl.java
  io.openems.edge.controller.ess.reactivepowervoltagecharacteristic/test/io/openems/edge/controller/ess/reactivepowervoltagecharacteristic/ControllerEssReactivePowerVoltageCharacteristicImplTest.java
  io.openems.edge.controller.ess.reactivepowervoltagecharacteristic/test/io/openems/edge/controller/ess/reactivepowervoltagecharacteristic/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Bosch.BPTS5Hybrid: migrate reference target & update JUnit tests (#3893)
  io.openems.edge.bosch.bpts5hybrid/src/io/openems/edge/bosch/bpts5hybrid/ess/BoschBpts5HybridEssImpl.java
  io.openems.edge.bosch.bpts5hybrid/src/io/openems/edge/bosch/bpts5hybrid/ess/Config.java
  io.openems.edge.bosch.bpts5hybrid/src/io/openems/edge/bosch/bpts5hybrid/meter/BoschBpts5HybridMeterImpl.java
  io.openems.edge.bosch.bpts5hybrid/src/io/openems/edge/bosch/bpts5hybrid/meter/Config.java
  io.openems.edge.bosch.bpts5hybrid/src/io/openems/edge/bosch/bpts5hybrid/pv/BoschBpts5HybridPvImpl.java
  io.openems.edge.bosch.bpts5hybrid/src/io/openems/edge/bosch/bpts5hybrid/pv/Config.java
  io.openems.edge.bosch.bpts5hybrid/test/io/openems/edge/bosch/bpts5hybrid/ess/BoschBpts5HybridEssTest.java
  io.openems.edge.bosch.bpts5hybrid/test/io/openems/edge/bosch/bpts5hybrid/ess/MyConfig.java
  io.openems.edge.bosch.bpts5hybrid/test/io/openems/edge/bosch/bpts5hybrid/meter/BoschBpts5HybridMeterTest.java
  io.openems.edge.bosch.bpts5hybrid/test/io/openems/edge/bosch/bpts5hybrid/meter/MyConfig.java
  io.openems.edge.bosch.bpts5hybrid/test/io/openems/edge/bosch/bpts5hybrid/pv/BoschBpts5HybridPvTest.java
  io.openems.edge.bosch.bpts5hybrid/test/io/openems/edge/bosch/bpts5hybrid/pv/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[Common] Update bnd to 7.4.0
  cnf/pom.xml
  gradle.properties
Due: build-java, restore-cache, rebuild-cache

[Common] Update bnd to 7.4.0 (#3897)
  cnf/pom.xml
  gradle.properties
Due: build-java, restore-cache, rebuild-cache

[Edge] Controller.Ess.Cycle: migrate reference target & update JUnit tests
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/Config.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/ControllerEssCycleImpl.java
  io.openems.edge.controller.ess.cycle/test/io/openems/edge/controller/ess/cycle/ControllerEssCycleImplTest.java
  io.openems.edge.controller.ess.cycle/test/io/openems/edge/controller/ess/cycle/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Controller.Ess.Hybrid.SurplusFeedToGrid: migrate reference target & update JUnit tests
  io.openems.edge.controller.ess.hybrid.surplusfeedtogrid/src/io/openems/edge/controller/ess/hybrid/surplusfeedtogrid/Config.java
  io.openems.edge.controller.ess.hybrid.surplusfeedtogrid/src/io/openems/edge/controller/ess/hybrid/surplusfeedtogrid/ControllerEssHybridSurplusFeedToGridImpl.java
  io.openems.edge.controller.ess.hybrid.surplusfeedtogrid/test/io/openems/edge/controller/ess/hybrid/surplusfeedtogrid/ControllerEssHybridSurplusFeedToGridImplTest.java
  io.openems.edge.controller.ess.hybrid.surplusfeedtogrid/test/io/openems/edge/controller/ess/hybrid/surplusfeedtogrid/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Controller.Ess.SellToGridLimit: migrate reference target & update JUnit tests
  io.openems.edge.controller.ess.selltogridlimit/src/io/openems/edge/controller/symmetric/selltogridlimit/Config.java
  io.openems.edge.controller.ess.selltogridlimit/src/io/openems/edge/controller/symmetric/selltogridlimit/ControllerEssSellToGridLimitImpl.java
  io.openems.edge.controller.ess.selltogridlimit/test/io/openems/edge/controller/symmetric/selltogridlimit/ControllerEssSellToGridLimitImplTest.java
  io.openems.edge.controller.ess.selltogridlimit/test/io/openems/edge/controller/symmetric/selltogridlimit/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Remove Modbus_target from grid and ess config
  io.openems.edge.ess.saxpower/src/io/openems/edge/ess/saxpower/ess/Config.java
  io.openems.edge.ess.saxpower/src/io/openems/edge/ess/saxpower/gridmeter/Config.java
Due: build-java, restore-cache, rebuild-cache

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
