Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

Edge: Check Battery Combination only if the battery is started
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
Due: build-java, restore-cache, rebuild-cache

UI Time-Of-Use: refactor chart in Live modal
  ui/src/app/edge/history/timeofusetariffdischarge/chart.component.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/modal/scheduleChart.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Time-of-Use Controller: improvements for BETA test
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/SendChannelValuesWorker.java
  io.openems.edge.controller.api.backend/test/io/openems/edge/controller/api/backend/SendChannelValuesWorkerTest.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffController.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Context.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Optimizer.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Params.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Simulator.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Utils.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImplTest.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/optimizer/SimulatorTest.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/optimizer/UtilsTest.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/EntsoE.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/StromdaoCorrently.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/Tibber.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/RecordWorker.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/BiddingZone.java
Due: build-java, restore-cache, rebuild-cache

UI: Extending Systemexecute
  ui/src/app/edge/settings/systemexecute/systemexecute.component.html
  ui/src/app/edge/settings/systemexecute/systemexecute.component.ts
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: refactor channelthreshold history
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/Controller/ChannelThreshold/channelThreshold.module.ts
  ui/src/app/edge/history/Controller/ChannelThreshold/chart/totalchart.component.ts
  ui/src/app/edge/history/Controller/ChannelThreshold/flat/flat.html
  ui/src/app/edge/history/Controller/ChannelThreshold/flat/flat.ts
  ui/src/app/edge/history/Controller/ChannelThreshold/overview/overview.html
  ui/src/app/edge/history/Controller/ChannelThreshold/overview/overview.ts
  ui/src/app/edge/history/Controller/controller.module.ts
  ui/src/app/edge/history/channelthreshold/channelthresholdchartoverview/channelthresholdchartoverview.component.html
  ui/src/app/edge/history/channelthreshold/channelthresholdchartoverview/channelthresholdchartoverview.component.ts
  ui/src/app/edge/history/channelthreshold/singlechart.component.ts
  ui/src/app/edge/history/channelthreshold/totalchart.component.ts
  ui/src/app/edge/history/channelthreshold/widget.component.html
  ui/src/app/edge/history/channelthreshold/widget.component.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/history.module.ts
  ui/src/app/edge/history/historydataservice.ts
  ui/src/app/shared/genericComponents/chart/abstractHistoryChartOverview.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/flat/abstract-flat-widget.ts
  ui/src/app/shared/genericComponents/shared/converter.ts
  ui/src/app/shared/genericComponents/shared/dataservice.ts
  ui/src/app/shared/genericComponents/shared/testing/tester.ts
  ui/src/app/shared/jsonrpc/jsonrpcutils.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/shared.module.ts
  ui/src/app/shared/type/widget.ts
  ui/src/app/shared/utils/dateutils/dateutils.ts
  ui/src/app/shared/utils/timeutils/timeutils.spec.ts
  ui/src/app/shared/utils/timeutils/timeutils.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

AppCenter: Home 20/30 available relays
  io.openems.common/src/io/openems/common/utils/ServiceUtils.java
  io.openems.edge.core/src/io/openems/edge/app/common/props/PropsUtil.java
  io.openems.edge.core/src/io/openems/edge/app/common/props/RelayProps.java
  io.openems.edge.core/src/io/openems/edge/app/heat/CombinedHeatAndPower.java
  io.openems.edge.core/src/io/openems/edge/app/heat/HeatProps.java
  io.openems.edge.core/src/io/openems/edge/app/heat/HeatPump.java
  io.openems.edge.core/src/io/openems/edge/app/heat/HeatingElement.java
  io.openems.edge.core/src/io/openems/edge/app/loadcontrol/ManualRelayControl.java
  io.openems.edge.core/src/io/openems/edge/app/loadcontrol/ThresholdControl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerUtil.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerUtilImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/ComponentUtil.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/ComponentUtilImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/formly/builder/SelectGroupBuilder.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/AbstractCheckable.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/Checkables.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/relaycount/CheckRelayCount.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/relaycount/CheckRelayCountFilter.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/relaycount/CheckRelayCountFilters.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/relaycount/HomeFilter.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/relaycount/InjectableComponent.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/relaycount/InjectableComponentConfig.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome30.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome30DefaultRelays.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHomeDefaultRelays.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerImpSynchronizationTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerTestBundle.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AssertOpenemsAppPropertyDefinition.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/ComponentUtilImplTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/validator/CheckHomeTest.java
  io.openems.edge.io.api/src/io/openems/edge/io/test/DummyInputOutput.java
  ui/src/app/edge/settings/app/formly/option-group-picker/formly-option-group-picker.component.html
  ui/src/app/edge/settings/app/formly/option-group-picker/formly-option-group-picker.component.ts
  ui/src/app/edge/settings/app/formly/option-group-picker/optionGroupPickerConfiguration.ts
  ui/src/app/edge/settings/app/formly/safe-input/formly-safe-input.extended.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

GoodWe Battery-Inverter: improve property descriptions
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/Config.java
Due: build-java, restore-cache, rebuild-cache

UI: fix format number not using configuration
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

TypeUtils: update coding style + handle NaN/Infinite
  io.openems.edge.common/src/io/openems/edge/common/type/TypeUtils.java
  io.openems.edge.common/test/io/openems/edge/common/type/TypeUtilsTest.java
Due: build-java, restore-cache, rebuild-cache

UI: add check in prepareBatteryExtension for isRunning
  ui/src/app/edge/live/common/storage/storage.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

GoodWe: implement RippleControlReceiver; update config descriptions
  io.openems.common/src/io/openems/common/test/DummyOptionsEnum.java
  io.openems.edge.common/src/io/openems/edge/common/channel/ChannelUtils.java
  io.openems.edge.common/src/io/openems/edge/common/test/TestUtils.java
  io.openems.edge.common/test/io/openems/edge/common/channel/ChannelTest.java
  io.openems.edge.common/test/io/openems/edge/common/channel/ChannelUtilsTest.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/Config.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/GoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/enums/EnableDisable.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/batteryinverter/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Time-of-Use Controller: improvements for BETA test
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Optimizer.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Params.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Period.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Simulator.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Utils.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/TestData.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/optimizer/PeriodTest.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/optimizer/SimulatorTest.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/optimizer/UtilsTest.java
Due: build-java, restore-cache, rebuild-cache

GoodWe: revert SetWriteValueIfNotRead for ShadowEnable
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
Due: build-java, restore-cache, rebuild-cache

AppCenter: Home NoFeedInLimitation & correct RCR config
  io.openems.edge.core/src/io/openems/edge/app/enums/FeedInType.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome20.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome30.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHomeComponents.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/IntegratedSystemProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome30.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerImplTest.java
Due: build-java, restore-cache, rebuild-cache

Fix JUnit test
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHomeComponents.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome20.java
Due: build-java, restore-cache, rebuild-cache

Quick fix for Simulated EVCS
  io.openems.edge.simulator/src/io/openems/edge/simulator/evcs/SimulatorEvcsImpl.java
  io.openems.edge.simulator/test/io/openems/edge/simulator/evcs/SimulatorEvcsImplTest.java
Due: build-java, restore-cache, rebuild-cache

Backend Alerting: improve tests using Clock (#2432)
  io.openems.backend.alerting/src/io/openems/backend/alerting/Alerting.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/Handler.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/Message.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/handler/OfflineEdgeHandler.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/scheduler/MessageScheduler.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/scheduler/MessageSchedulerService.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/scheduler/MinuteTimer.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/scheduler/MinuteTimerAsync.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/scheduler/Scheduler.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/scheduler/TimedExecutor.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/AlertingTest.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/Dummy.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/OfflineEdgeAlertingTest.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/handler/TestOfflineEdgeHandler.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/scheduler/SchedulerTest.java
Due: build-java, restore-cache, rebuild-cache

Update bnd files
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/fastexcel.bnd
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bndrun files
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

revert unwanted changes
  io.openems.backend.alerting/src/io/openems/backend/alerting/scheduler/MessageScheduler.java
  io.openems.common/src/io/openems/common/event/EventBuilder.java
Due: build-java, restore-cache, rebuild-cache

doc/log cleanup
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/BridgeHttpImpl.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/api/BridgeHttp.java
  io.openems.edge.bridge.http/test/io/openems/edge/bridge/http/BridgeHttpImplTest.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImpl.java
Due: build-java, restore-cache, rebuild-cache

Update BridgeHttpImplTest.java
  io.openems.edge.bridge.http/test/io/openems/edge/bridge/http/BridgeHttpImplTest.java
Due: build-java, restore-cache, rebuild-cache

use completable to ensure completion
  io.openems.edge.bridge.http/test/io/openems/edge/bridge/http/BridgeHttpImplTest.java
  io.openems.edge.bridge.http/test/io/openems/edge/bridge/http/DummyUrlFetcher.java
Due: build-java, restore-cache, rebuild-cache

added error test
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/UrlFetcherImpl.java
  io.openems.edge.bridge.http/test/io/openems/edge/bridge/http/BridgeHttpImplTest.java
Due: build-java, restore-cache, rebuild-cache

FluxProxy now works with system relative date; formatting
  io.openems.edge.timedata.influxdb/src/io/openems/edge/timedata/influxdb/TimedataInfluxDbImpl.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/InfluxConnector.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/FluxProxy.java
Due: build-java, restore-cache, rebuild-cache

User: adding JsonObject for UI "settings" (#956)
  io.openems.backend.common/src/io/openems/backend/common/metadata/Metadata.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/User.java
  io.openems.backend.common/src/io/openems/backend/common/test/DummyMetadata.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/SystemLogHandler.java
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/MetadataDummy.java
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/MetadataFile.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MyUser.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooHandler.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/OnRequest.java
  io.openems.common/src/io/openems/common/jsonrpc/request/UpdateUserSettingsRequest.java
  io.openems.common/src/io/openems/common/jsonrpc/response/AuthenticateResponse.java
  io.openems.common/src/io/openems/common/session/AbstractUser.java
  io.openems.common/src/io/openems/common/utils/JsonUtils.java
  io.openems.edge.common/src/io/openems/edge/common/user/User.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/OnRequest.java
  ui/src/app/shared/jsonrpc/request/updateUserSettingsRequest.ts
  ui/src/app/shared/jsonrpc/shared.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/service/websocket.ts
  ui/src/app/user/user.component.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: change channel in consumption & handle nullpointer (#961)
  ui/src/app/edge/history/common/consumption/chart/chart.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Influx db/get latest value (#2423)
  io.openems.edge.timedata.influxdb/src/io/openems/edge/timedata/influxdb/TimedataInfluxDbImpl.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/InfluxConnector.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/FluxProxy.java
Due: build-java, restore-cache, rebuild-cache

Time-of-Use: add Production, Consumption & SoC to JSONRPC response (#944)
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/ScheduleUtils.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffController.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/jsonrpc/GetScheduleResponse.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Optimizer.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Utils.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/ScheduleTest.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/TestData.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/optimizer/UtilsTest.java
Due: build-java, restore-cache, rebuild-cache

Time-of-Use: add Production, Consumption & SoC to UI modal (#954)
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/Ess_TimeOfUseTariff_Discharge.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/modal/modal.html
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/modal/powerSocChart.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/modal/statePriceChart.ts
  ui/src/app/shared/jsonrpc/response/getScheduleResponse.ts
  ui/src/app/shared/service/utils.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Prediction24Hours: allow only positive for certain channel addresses (#962)
  io.openems.edge.controller.ess.gridoptimizedcharge/test/io/openems/edge/controller/ess/gridoptimizedcharge/ControllerEssGridOptimizedChargeImplTest.java
  io.openems.edge.core/src/io/openems/edge/core/predictormanager/PredictorManagerImpl.java
  io.openems.edge.core/test/io/openems/edge/core/predictormanager/PredictorManagerImplTest.java
  io.openems.edge.predictor.api/src/io/openems/edge/predictor/api/oneday/Prediction24Hours.java
  io.openems.edge.predictor.api/src/io/openems/edge/predictor/api/test/DummyPrediction24Hours.java
  io.openems.edge.predictor.api/src/io/openems/edge/predictor/api/test/DummyPredictor24Hours.java
  io.openems.edge.predictor.api/test/io/openems/edge/predictor/api/oneday/Prediction24HoursTest.java
  io.openems.edge.predictor.persistencemodel/src/io/openems/edge/predictor/persistencemodel/PredictorPersistenceModelImpl.java
  io.openems.edge.predictor.similardaymodel/src/io/openems/edge/predictor/similardaymodel/PredictorSimilardayModelImpl.java
Due: build-java, restore-cache, rebuild-cache

Push version to 2023.11.3
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  io.openems.edge.controller.heating.room/generated/buildfiles
  io.openems.edge.controller.heating.room/generated/jacoco/test.exec
  io.openems.edge.controller.heating.room/generated/test-reports/test/binary/output.bin
  io.openems.edge.controller.heating.room/generated/test-reports/test/binary/output.bin.idx
  io.openems.edge.controller.heating.room/generated/test-reports/test/binary/results.bin
  io.openems.edge.energy.api/generated/buildfiles
  io.openems.edge.energy.api/generated/jacoco/test.exec
  io.openems.edge.energy.api/generated/test-reports/test/binary/output.bin
  io.openems.edge.energy.api/generated/test-reports/test/binary/output.bin.idx
  io.openems.edge.energy.api/generated/test-reports/test/binary/results.bin
  io.openems.edge.energy/generated/buildfiles
  io.openems.edge.predictor.forecastsolar/generated/buildfiles
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2023.11.4-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Apply review comments + remove full power range for phase switching support
  io.openems.edge.evcs.spelsberg.smart/.project
  io.openems.edge.evcs.spelsberg.smart/src/io/openems/edge/evcs/spelsberg/smart/CableState.java
  io.openems.edge.evcs.spelsberg.smart/src/io/openems/edge/evcs/spelsberg/smart/EvcsSpelsbergSmart.java
  io.openems.edge.evcs.spelsberg.smart/src/io/openems/edge/evcs/spelsberg/smart/EvcsSpelsbergSmartImpl.java
Due: build-java, restore-cache, rebuild-cache

Apply formatter + update switch statement
  io.openems.edge.evcs.spelsberg.smart/src/io/openems/edge/evcs/spelsberg/smart/CableState.java
  io.openems.edge.evcs.spelsberg.smart/src/io/openems/edge/evcs/spelsberg/smart/EvcsSpelsbergSmart.java
  io.openems.edge.evcs.spelsberg.smart/src/io/openems/edge/evcs/spelsberg/smart/EvcsSpelsbergSmartImpl.java
  io.openems.edge.evcs.spelsberg.smart/test/io/openems/edge/evcs/spelsberg/smart/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Update gradle to 8.5
  .gradle-wrapper/gradle-wrapper.properties
  gradlew
Due: build-java, restore-cache, rebuild-cache
