Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

.woodpecker.yml:

# Woodpecker-CI
# 
# Um den Docker Container fuer build ('openems-build') zu aktualisieren:
# - ssh auf gitvm
# - cd /root/fems/tools
# - git pull
# - bash drone-docker.sh

pipeline:
  restore-cache:
    image: drillster/drone-volume-cache
    restore: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.npm
    volumes:
      - cache:/cache
    group: restore

  build-java:
    when:
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '**/.woodpecker.yml' ]
    image: openems-build:latest
    environment:
      - GRADLE_USER_HOME=/woodpecker/.gradle
    commands:
      - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
      - ./gradlew build buildEdge
      - ./gradlew resolve.BackendApp
      - git diff --exit-code io.openems.backend.application/BackendApp.bndrun
      - ./gradlew resolve.EdgeApp
      - git diff --exit-code io.openems.edge.application/EdgeApp.bndrun
      - cp build/openems.jar ui/target
    group: build
    
  build-ui:
    when:
      path:
        include: [ 'ui/**', '**/.woodpecker.yml' ]
    image: openems-build:latest
    commands:
      - cd ui
      - npm ci --prefer-offline --cache /woodpecker/.npm
      - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
      - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
      - node_modules/.bin/ng lint
      - export CHROME_BIN=/usr/bin/google-chrome-stable
      - npm run test -- --no-watch --no-progress --browsers=ChromeHeadlessCI
    group: build

  refresh-dev:
    when:
      path:
        include: [ 'ui/**', '**/.woodpecker.yml' ]
    image: appleboy/drone-scp
    host: 10.0.0.40
    user: fenecon-docs
    secrets: 
      - source: ssh_key_intranet 
        target: scp_key
    rm: true
    source: ./ui/target
    strip_components: 3
    target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
    group: refresh

  rebuild-cache:
    image: drillster/drone-volume-cache
    rebuild: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.npm
    volumes:
      - cache:/cache
    group: refresh

.woodpecker/.java-build.yml:

# Woodpecker-CI
# 
# Um den Docker Container fuer build ('openems-build') zu aktualisieren:
# - ssh auf gitvm
# - cd /root/fems/tools
# - git pull
# - bash drone-docker.sh

clone:  
  clone:
    when:
      branch: 
        exclude: [master, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '**/.woodpecker.yml', '.woodpecker/**' ]
    image: plugins/git
    settings:
      depth: 50

pipeline:
  restore-cache:
    when:
      branch: 
        exclude: [master, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '**/.woodpecker.yml', '.woodpecker/**' ]
    image: drillster/drone-volume-cache
    restore: true
    mount:
      - /woodpecker/.gradle
    volumes:
      - cache:/cache
    group: restore

  build-java:
    when:
      branch: 
        exclude: [master, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '**/.woodpecker.yml', '.woodpecker/**' ]
    image: openems-build:latest
    environment:
      - GRADLE_USER_HOME=/woodpecker/.gradle
    commands:
      - ./gradlew build resolve buildEdge
      - git diff --exit-code io.openems.backend.application/BackendApp.bndrun
      - git diff --exit-code io.openems.edge.application/EdgeApp.bndrun
    group: build

  rebuild-cache:
    when:
      branch: 
        exclude: [master, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '**/.woodpecker.yml', '.woodpecker/**' ]
    image: drillster/drone-volume-cache
    rebuild: true
    mount:
      - /woodpecker/.gradle
    volumes:
      - cache:/cache
    group: refresh

Start development of version 2022.11.3-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

UI: Switch back to static translate (instead of TranslateHttpLoader) (#455)
  ui/package-lock.json
  ui/package.json
  ui/src/app/app.component.ts
  ui/src/app/app.module.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/service/websocket.ts
  ui/src/app/shared/type/language.ts
  ui/src/app/user/user.component.ts
  ui/tsconfig.json
Due: build-ui, refresh-dev

UI: IBN Serialnumbers validation bugfix (#456)
  ui/src/app/edge/installation/installation.module.ts
  ui/src/app/index/index.component.html
  ui/src/app/shared/translate.extension.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev

Push version to 2022.11.3
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Update Changelog for 2022.11.3
  ui/src/app/changelog/changelog.component.ts
Due: build-ui, refresh-dev

Start development of version 2022.11.4-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

> finalize PR 4
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev

Old package io.openems.edge.meter.carlo.gavazzi.em300 replaced with more general package io.openems.edge.meter.carlo.gavazzi, which can implement also EM24.
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.meter.carlo.gavazzi.em300/readme.adoc
  io.openems.edge.meter.carlo.gavazzi/.classpath
  io.openems.edge.meter.carlo.gavazzi/.gitignore
  io.openems.edge.meter.carlo.gavazzi/.project
  io.openems.edge.meter.carlo.gavazzi/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.meter.carlo.gavazzi/bnd.bnd
  io.openems.edge.meter.carlo.gavazzi/doc/EM341-Modbus.pdf
  io.openems.edge.meter.carlo.gavazzi/readme.adoc
  io.openems.edge.meter.carlo.gavazzi/src/io/openems/edge/meter/carlo/gavazzi/Config.java
  io.openems.edge.meter.carlo.gavazzi/src/io/openems/edge/meter/carlo/gavazzi/MeterCarloGavazziEmSeries.java
  io.openems.edge.meter.carlo.gavazzi/src/io/openems/edge/meter/carlo/gavazzi/MeterCarloGavazziEmSeriesImpl.java
  io.openems.edge.meter.carlo.gavazzi/src/io/openems/edge/meter/carlo/gavazzi/Model.java
  io.openems.edge.meter.carlo.gavazzi/test/.gitignore
  io.openems.edge.meter.carlo.gavazzi/test/io/openems/edge/meter/carlo/gavazzi/MeterCarloGavazziEmSeriesImplTest.java
  io.openems.edge.meter.carlo.gavazzi/test/io/openems/edge/meter/carlo/gavazzi/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Experimental Changes to use SolarEdge-Devices as HybridEss
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/HybridEss.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/SymmetricEss.java
  io.openems.edge.ess.sunspec/src/io/openems/edge/ess/sunspec/AbstractSunSpecEss.java
  io.openems.edge.io.siemenslogo/.classpath
  io.openems.edge.io.siemenslogo/.gitignore
  io.openems.edge.io.siemenslogo/.project
  io.openems.edge.io.siemenslogo/bnd.bnd
  io.openems.edge.io.siemenslogo/readme.adoc
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/AbstractSiemensLogoRelay.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/Config.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/SiemensLogoRelay.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/SiemensLogoRelayImpl.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/ess/SolarEdgeEss.java
Due: build-java, restore-cache, rebuild-cache

Changed Channels for total consumption and pv production
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/SymmetricEss.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/dccharger/api/EssDcCharger.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/ess/SolarEdgeEss.java
Due: build-java, restore-cache, rebuild-cache

fixed readme.adoc layout
  io.openems.edge.meter.carlo.gavazzi/readme.adoc
Due: build-java, restore-cache, rebuild-cache

UI: Add manual link to evcs cluster (#458)
  ui/src/app/edge/live/Multiple/Evcs_Api_Cluster/modal/evcsCluster-modal.page.html
  ui/src/themes/fenecon/environments/theme.ts
  ui/src/themes/heckert/environments/theme.ts
  ui/src/themes/openems/environments/theme.ts
Due: build-ui, refresh-dev

Improvements for Modbus/TCP Api (#452)
  io.openems.common/src/io/openems/common/utils/ConfigUtils.java
  io.openems.edge.common/src/io/openems/edge/common/component/OpenemsComponent.java
  io.openems.edge.common/src/io/openems/edge/common/modbusslave/ModbusRecord.java
  io.openems.edge.common/src/io/openems/edge/common/modbusslave/ModbusRecordChannel.java
  io.openems.edge.common/src/io/openems/edge/common/modbusslave/ModbusRecordConstant.java
  io.openems.edge.common/src/io/openems/edge/common/modbusslave/ModbusRecordCycleValue.java
  io.openems.edge.common/test/io/openems/edge/common/component/OpenemsComponentTest.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/AbstractModbusTcpApi.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/ModbusTcpApi.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/MyProcessImage.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/readonly/ModbusTcpApiReadOnlyImpl.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/readwrite/ModbusTcpApiReadWriteImpl.java
  ui/src/app/edge/settings/profile/profile.component.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Enhance a generic Sunspec meter to also support Elgris meters
  io.openems.edge.meter.sunspec/readme.adoc
  io.openems.edge.meter.sunspec/src/io/openems/edge/meter/sunspec/AbstractSunSpecMeter.java
  io.openems.edge.meter.sunspec/src/io/openems/edge/meter/sunspec/Config.java
  io.openems.edge.meter.sunspec/src/io/openems/edge/meter/sunspec/GenericSunSpecMeter.java
  io.openems.edge.meter.sunspec/src/io/openems/edge/meter/sunspec/SunSpecMeters.java
Due: build-java, restore-cache, rebuild-cache

Added new Sunspec meter TQ EM 420
  io.openems.edge.meter.sunspec/src/io/openems/edge/meter/sunspec/SunSpecMeters.java
Due: build-java, restore-cache, rebuild-cache

Made Carlo Gavazzi EM24 a separate component
  io.openems.edge.meter.carlo.gavazzi/src/io/openems/edge/meter/carlo/gavazzi/MeterCarloGavazziEmSeriesImpl.java
  io.openems.edge.meter.carlo.gavazzi/src/io/openems/edge/meter/carlo/gavazzi/Model.java
  io.openems.edge.meter.carlo.gavazzi/src/io/openems/edge/meter/carlo/gavazzi/common/AbstractMeterCarloGavazziEmSeries.java
  io.openems.edge.meter.carlo.gavazzi/src/io/openems/edge/meter/carlo/gavazzi/common/MeterCarloGavazziEmSeries.java
  io.openems.edge.meter.carlo.gavazzi/src/io/openems/edge/meter/carlo/gavazzi/em24/Config.java
  io.openems.edge.meter.carlo.gavazzi/src/io/openems/edge/meter/carlo/gavazzi/em24/MeterCarloGavazziEm24Impl.java
  io.openems.edge.meter.carlo.gavazzi/src/io/openems/edge/meter/carlo/gavazzi/em300/Config.java
  io.openems.edge.meter.carlo.gavazzi/src/io/openems/edge/meter/carlo/gavazzi/em300/MeterCarloGavazziEm300Impl.java
  io.openems.edge.meter.carlo.gavazzi/test/io/openems/edge/meter/carlo/gavazzi/em24/MeterCarloGavazziEm24ImplTest.java
  io.openems.edge.meter.carlo.gavazzi/test/io/openems/edge/meter/carlo/gavazzi/em24/MyConfig.java
  io.openems.edge.meter.carlo.gavazzi/test/io/openems/edge/meter/carlo/gavazzi/em300/MeterCarloGavazziEm300ImplTest.java
  io.openems.edge.meter.carlo.gavazzi/test/io/openems/edge/meter/carlo/gavazzi/em300/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

> ready for review
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/common/production/chart/totalChart.ts
  ui/src/app/shared/genericComponents/chart/abstractHistoryChartOverView.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev

> fix missing passed period
  ui/src/app/edge/history/common/production/Production.ts
  ui/src/app/edge/history/common/production/chart/totalChart.ts
  ui/src/app/edge/history/common/production/overview/overview.html
  ui/src/app/edge/history/common/production/overview/overview.ts
  ui/src/app/edge/history/shared.ts
  ui/src/app/shared/genericComponents/chart/abstractHistoryChartOverView.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev

Individual bundles created for meters Elgris and TQ EM420 respectively
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.meter.elgris/.classpath
  io.openems.edge.meter.elgris/.gitignore
  io.openems.edge.meter.elgris/.project
  io.openems.edge.meter.elgris/bnd.bnd
  io.openems.edge.meter.elgris/readme.adoc
  io.openems.edge.meter.elgris/src/io/openems/edge/meter/elgris/Config.java
  io.openems.edge.meter.elgris/src/io/openems/edge/meter/elgris/MeterElgrisImpl.java
  io.openems.edge.meter.elgris/test/.gitignore
  io.openems.edge.meter.elgris/test/io/openems/edge/meter/elgris/MeterElgrisTest.java
  io.openems.edge.meter.elgris/test/io/openems/edge/meter/elgris/MyConfig.java
  io.openems.edge.meter.sunspec/src/io/openems/edge/meter/sunspec/MeterChannelId.java
  io.openems.edge.meter.sunspec/src/io/openems/edge/meter/sunspec/SunSpecMeters.java
  io.openems.edge.meter.tq.em420/.gitignore
  io.openems.edge.meter.tq.em420/.project
  io.openems.edge.meter.tq.em420/bnd.bnd
  io.openems.edge.meter.tq.em420/readme.adoc
  io.openems.edge.meter.tq.em420/src/io/openems/edge/meter/tq/em420/Config.java
  io.openems.edge.meter.tq.em420/src/io/openems/edge/meter/tq/em420/MeterTqEm420Impl.java
  io.openems.edge.meter.tq.em420/test/.gitignore
  io.openems.edge.meter.tq.em420/test/io/openems/edge/meter/tq/em420/MeterTqEm420Test.java
  io.openems.edge.meter.tq.em420/test/io/openems/edge/meter/tq/em420/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

New package for solaredge hybrid ess/pv inverter systems
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/HybridEss.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/SymmetricEss.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/dccharger/api/EssDcCharger.java
  io.openems.edge.ess.sunspec/src/io/openems/edge/ess/sunspec/AbstractSunSpecEss.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/charger/AbstractGoodWeEtCharger.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/Config.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/SolarEdgeHybridEss.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/SolarEdgeHybridEssImpl.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/pvinverter/Config.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/pvinverter/SolarEdgeHybridPvInverterImpl.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/pvinverter/SolarEdgeHybridPvinverter.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/pvinverter/SolarEdgeGridMeter.java
  io.openems.edge.solaredge/test/io/openems/edge/solaredge/ess/MyConfig.java
  io.openems.edge.solaredge/test/io/openems/edge/solaredge/ess/SolarEdgeEssTest.java
  io.openems.edge.solaredge/test/io/openems/edge/solaredge/pvinverter/MyConfig.java
  io.openems.edge.solaredge/test/io/openems/edge/solaredge/pvinverter/SolarEdgePvInverterTest.java
Due: build-java, restore-cache, rebuild-cache

Corrected Names
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/pvinverter/Config.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/pvinverter/SolarEdgeHybridPvInverterImpl.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/pvinverter/Config.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/pvinverter/SolarEdgeGridMeter.java
Due: build-java, restore-cache, rebuild-cache

Update SolarEdgeGridMeter.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/pvinverter/SolarEdgeGridMeter.java
Due: build-java, restore-cache, rebuild-cache

Added meters EMH and janitza UMG104
  io.openems.edge.meter.EMH/.classpath
  io.openems.edge.meter.EMH/.gitignore
  io.openems.edge.meter.EMH/.project
  io.openems.edge.meter.EMH/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.meter.EMH/.settings/org.eclipse.jdt.core.prefs
  io.openems.edge.meter.EMH/bnd.bnd
  io.openems.edge.meter.EMH/generated/buildfiles
  io.openems.edge.meter.EMH/readme.adoc
  io.openems.edge.meter.EMH/src/io/openems/edge/meter/EMH/Config.java
  io.openems.edge.meter.EMH/src/io/openems/edge/meter/EMH/MeterEMH.java
  io.openems.edge.meter.EMH/src/io/openems/edge/meter/EMH/MeterEMHImpl.java
  io.openems.edge.meter.EMH/test/io/openems/edge/meter/EMH/MeterEMHTest.java
  io.openems.edge.meter.EMH/test/io/openems/edge/meter/EMH/MyConfig.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg104/Config.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg104/MeterJanitzaUmg104.java
Due: build-java, restore-cache, rebuild-cache

Update bnd.bnd
  io.openems.edge.meter.EMH/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

Update bnd.bnd
  io.openems.edge.io.siemenslogo/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

Added Newlines on file end
  io.openems.edge.io.siemenslogo/bnd.bnd
  io.openems.edge.meter.EMH/bnd.bnd
  io.openems.edge.meter.EMH/src/io/openems/edge/meter/EMH/MeterEMH.java
  io.openems.edge.meter.EMH/src/io/openems/edge/meter/EMH/MeterEMHImpl.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg104/Config.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/Config.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/SolarEdgeHybridEssImpl.java
Due: build-java, restore-cache, rebuild-cache

AppManager: fix removing ips when deinstalling app (#457)
  io.openems.edge.core/src/io/openems/edge/app/evcs/HardyBarthEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/KebaEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/hardware/KMtronic8Channel.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AbstractOpenemsApp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppConfiguration.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/ComponentUtil.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/ComponentUtilImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/InterfaceConfiguration.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/AppManagerAppHelperImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/StaticIpAggregateTaskImpl.java
Due: build-java, restore-cache, rebuild-cache

> finalize PR
  ui/src/app/edge/history/common/production/chart/chargerChart.ts
  ui/src/app/edge/history/common/production/chart/productionMeterChart.ts
  ui/src/app/edge/history/common/production/chart/totalAcChart.ts
  ui/src/app/edge/history/common/production/chart/totalChart.ts
  ui/src/app/edge/history/common/production/chart/totalDcChart.ts
  ui/src/app/edge/history/shared.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev

> change colors of chargers
  ui/src/app/edge/history/common/production/chart/totalChart.ts
Due: build-ui, refresh-dev

> remove console.log
  ui/src/app/edge/history/common/production/chart/totalAcChart.ts
Due: build-ui, refresh-dev

GoodWe GridMeter: fix Modbus registers definition (#446)
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/gridmeter/GoodWeGridMeterImpl.java
Due: build-java, restore-cache, rebuild-cache

> finalize PR 4
  ui/src/app/edge/history/common/production/chart/chargerChart.ts
  ui/src/app/edge/history/common/production/chart/productionMeterChart.ts
  ui/src/app/edge/history/shared.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev

> clean PR
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/chart/chart.ts
  ui/src/app/shared/genericComponents/chart/chartoptions/popover/popover.component.ts
Due: build-ui, refresh-dev

UI: Add Current and Voltage for Grid-Meter (#459)
  ui/src/app/edge/live/common/grid/modal/modal.html
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/index/index.component.html
  ui/src/app/shared/edge/edgeconfig.ts
  ui/src/app/shared/edge/meter/asymmetric/modal.component.html
  ui/src/app/shared/edge/meter/asymmetric/modal.component.ts
  ui/src/app/shared/genericComponents/modal/modal-line/modal-line.html
  ui/src/app/user/user.component.ts
Due: build-ui, refresh-dev

Update changelog
  ui/src/app/changelog/changelog.component.ts
Due: build-ui, refresh-dev

Push version to 2022.11.4
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Start development of version 2022.11.5-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Woodpecker CI: improvements and fixes (#463)
  .gradle-wrapper/gradle-wrapper.properties
  .woodpecker/.java-build-master-develop.yml
  .woodpecker/.java-build.yml
  .woodpecker/.ui-build-master-develop.yml
  .woodpecker/.ui-build.yml
  build.gradle
  gradle.properties
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.timeofusetariff.tibber/bnd.bnd
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/okio.bnd
  settings.gradle
Due: build-java, restore-cache, rebuild-cache
