Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

[Edge] Alfen EVSE App
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
  io.openems.edge.core/src/io/openems/edge/app/evse/AppAlfenEvse.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/app/evse/AppAlfenEvseTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
Due: build-java, restore-cache, rebuild-cache

[UI] Add EVCS to NUI
  ui/src/app/edge/live/Controller/Evcs/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Evcs/settings/settings.ts
  ui/src/app/edge/live/Controller/Evcs/shared/shared.ts
  ui/src/app/edge/live/Multiple/evcs-api-cluster/modal/modal.html
  ui/src/app/edge/live/Multiple/evcs-api-cluster/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Multiple/evcs-api-cluster/shared/shared.ts
  ui/src/app/index/overview/overview.component.spec.cy.ts
  ui/src/app/shared/components/formly/formly-field-navigation/formly-field-navigation.html
  ui/src/app/shared/components/formly/formly-field-navigation/formly-field-navigation.ts
  ui/src/app/shared/components/formly/formly-field-navigation/wrapper/wrapper.component.ts
  ui/src/app/shared/components/navigation/navigation-routing.module.ts
  ui/src/app/shared/components/navigation/service/navigation.service.ts
  ui/src/app/shared/components/shared/oe-formly-component.ts
  ui/src/app/shared/shared.module.ts
  ui/src/app/shared/type/widget.ts
  ui/src/app/shared/type/widgets.ts
  ui/src/global-ion-custom.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Add Alfen Wallbox
  ui/src/app/edge/live/Controller/Evcs/modal/modal.ts
  ui/src/app/edge/live/Controller/Evse/shared/evse-chargepoint.ts
  ui/src/app/edge/live/Controller/Evse/shared/shared.ts
  ui/src/app/edge/live/navigation-info/navigation-info.ts
  ui/src/app/shared/components/edge/config-components/evcs/evcsComponent.spec.ts
  ui/src/app/shared/components/edge/edgeconfig.spec.ts
  ui/src/app/shared/type/widget.ts
  ui/src/environments/index.ts
  ui/src/themes/openems/environments/oem-meta.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI/Edge] Remove obsolete Heat forecast and Askoma cleanup
  io.openems.edge.core/src/io/openems/edge/app/heat/AppHeatMyPv.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/HeatAskomaImpl.java
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/jsonrpc/jsonrpc/GetSchedule.java
  ui/src/app/edge/live/Controller/Heat/Heat.ts
  ui/src/app/edge/live/Controller/Heat/forecast/chart/power.chart.ts
  ui/src/app/edge/live/Controller/Heat/forecast/chart/schedule.chart.ts
  ui/src/app/edge/live/Controller/Heat/forecast/forecast.html
  ui/src/app/edge/live/Controller/Heat/forecast/forecast.ts
  ui/src/app/edge/live/Controller/Heat/i18n/de.json
  ui/src/app/edge/live/Controller/Heat/i18n/en.json
  ui/src/app/edge/live/Controller/Heat/shared/shared.spec.ts
  ui/src/app/edge/live/Controller/Heat/shared/shared.ts
  ui/src/app/shared/components/navigation/navigation-routing.module.ts
  ui/src/app/shared/type/widgets.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Add configurable ESS SoC controller
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.ess.stepsoc/.classpath
  io.openems.edge.controller.ess.stepsoc/.gitignore
  io.openems.edge.controller.ess.stepsoc/.project
  io.openems.edge.controller.ess.stepsoc/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.controller.ess.stepsoc/bnd.bnd
  io.openems.edge.controller.ess.stepsoc/readme.adoc
  io.openems.edge.controller.ess.stepsoc/src/io/openems/edge/controller/ess/stepsoc/Config.java
  io.openems.edge.controller.ess.stepsoc/src/io/openems/edge/controller/ess/stepsoc/ControllerEssStepSoc.java
  io.openems.edge.controller.ess.stepsoc/src/io/openems/edge/controller/ess/stepsoc/ControllerEssStepSocImpl.java
  io.openems.edge.controller.ess.stepsoc/src/io/openems/edge/controller/ess/stepsoc/enums/Direction.java
  io.openems.edge.controller.ess.stepsoc/src/io/openems/edge/controller/ess/stepsoc/statemachine/AligningHandler.java
  io.openems.edge.controller.ess.stepsoc/src/io/openems/edge/controller/ess/stepsoc/statemachine/Context.java
  io.openems.edge.controller.ess.stepsoc/src/io/openems/edge/controller/ess/stepsoc/statemachine/FinishedHandler.java
  io.openems.edge.controller.ess.stepsoc/src/io/openems/edge/controller/ess/stepsoc/statemachine/RunningHandler.java
  io.openems.edge.controller.ess.stepsoc/src/io/openems/edge/controller/ess/stepsoc/statemachine/StandbyHandler.java
  io.openems.edge.controller.ess.stepsoc/src/io/openems/edge/controller/ess/stepsoc/statemachine/StateMachine.java
  io.openems.edge.controller.ess.stepsoc/src/io/openems/edge/controller/ess/stepsoc/statemachine/UndefinedHandler.java
  io.openems.edge.controller.ess.stepsoc/test/.gitignore
  io.openems.edge.controller.ess.stepsoc/test/io/openems/edge/controller/ess/stepsoc/ControllerEssStepSocImplTest.java
  io.openems.edge.controller.ess.stepsoc/test/io/openems/edge/controller/ess/stepsoc/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[Edge] EVSE: Added charge start/stop delays, improved states, fixed frequent charge restarts
  io.openems.edge.core/src/io/openems/edge/app/heat/AppHeatAskoma.java
  io.openems.edge.core/src/io/openems/edge/app/heat/AppHeatMyPv.java
  io.openems.edge.core/test/io/openems/edge/app/heat/AppHeatAskomaTest.java
  io.openems.edge.core/test/io/openems/edge/app/heat/AppHeatMyPvTest.java
  ui/src/app/shared/components/navigation/service/navigation.service.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Fix leaked intervals in modal components
  ui/karma.conf.js
  ui/src/app/edge/live/Controller/Evcs/modal/modal.ts
  ui/src/app/shared/components/modal/abstract-modal-line.ts
  ui/src/app/shared/components/modal/abstractModal.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Formatting
  ui/src/app/edge/live/livedataservice.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Industrial XL: Hydac Cooling unit as standalone component & improvements
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/ControllerEvseClusterImpl.java
  io.openems.edge.fluidcooling.hydac/.classpath
  io.openems.edge.fluidcooling.hydac/.gitignore
  io.openems.edge.fluidcooling.hydac/.project
  io.openems.edge.fluidcooling.hydac/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.fluidcooling.hydac/bnd.bnd
  io.openems.edge.fluidcooling.hydac/readme.adoc
  io.openems.edge.fluidcooling.hydac/src/io/openems/edge/fluidcooling/hydac/ConditionTimeout.java
  io.openems.edge.fluidcooling.hydac/src/io/openems/edge/fluidcooling/hydac/Config.java
  io.openems.edge.fluidcooling.hydac/src/io/openems/edge/fluidcooling/hydac/DummyHydacImpl.java
  io.openems.edge.fluidcooling.hydac/src/io/openems/edge/fluidcooling/hydac/Hydac.java
  io.openems.edge.fluidcooling.hydac/src/io/openems/edge/fluidcooling/hydac/HydacErrorHandler.java
  io.openems.edge.fluidcooling.hydac/src/io/openems/edge/fluidcooling/hydac/HydacImpl.java
  io.openems.edge.fluidcooling.hydac/src/io/openems/edge/fluidcooling/hydac/package-info.java
  io.openems.edge.fluidcooling.hydac/src/io/openems/edge/fluidcooling/hydac/statemachine/Context.java
  io.openems.edge.fluidcooling.hydac/src/io/openems/edge/fluidcooling/hydac/statemachine/RunningHandler.java
  io.openems.edge.fluidcooling.hydac/src/io/openems/edge/fluidcooling/hydac/statemachine/StateMachine.java
  io.openems.edge.fluidcooling.hydac/src/io/openems/edge/fluidcooling/hydac/statemachine/StoppedHandler.java
  io.openems.edge.fluidcooling.hydac/src/io/openems/edge/fluidcooling/hydac/statemachine/WaitForTargetHandler.java
  io.openems.edge.fluidcooling.hydac/src/io/openems/edge/fluidcooling/hydac/translation_de.properties
  io.openems.edge.fluidcooling.hydac/src/io/openems/edge/fluidcooling/hydac/translation_en.properties
  io.openems.edge.fluidcooling.hydac/test/.gitignore
  io.openems.edge.fluidcooling.hydac/test/io/openems/edge/fluidcooling/hydac/HydacImplTest.java
  io.openems.edge.fluidcooling.hydac/test/io/openems/edge/fluidcooling/hydac/MyConfig.java
  io.openems.edge.system.fenecon/bnd.bnd
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/meter/MasterBox2v0Meter.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/relay/IoMasterBox2v0Relay.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/utils/MasterBoxModbusComponent.java
Due: build-java, restore-cache, rebuild-cache

[Edge] E-Mobility: Hardy Barth (Salia) Phase Switching
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/ControllerEvseClusterImpl.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/EshUtils.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/RunUtils.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/powerdistribute/EvsePowerDistributionApplyHandler.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/powerdistribute/EvsePowerDistributionManager.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/powerdistribute/PowerDistribution.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/powerdistribute/PowerDistributionEntries.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/powerdistribute/PowerDistributionEntry.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/powerdistribute/PowerDistributionKey.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/powerdistribute/PowerDistributionResult.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/powerdistribute/ramp/LimitIncreaseByPercentageRamp.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/powerdistribute/ramp/PowerDistributionRamp.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/ControllerEvseSingle.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/ControllerEvseSingleImpl.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/EvseSingleState.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/Mode.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/Params.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/PhaseSwitching.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/Types.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/Utils.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/statemachine/PhaseSwitchHandler.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/single/statemachine/PhaseSwitchHandlerTest.java
  io.openems.edge.evse.api/src/io/openems/edge/evse/api/chargepoint/Profile.java
  io.openems.edge.evse.api/src/io/openems/edge/evse/api/common/ApplyPhaseSwitch.java
  io.openems.edge.evse.api/test/io/openems/edge/evse/api/chargepoint/ProfileTest.java
  io.openems.edge.evse.api/test/io/openems/edge/evse/api/common/ApplyPhaseSwitchTest.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evcs/hardybarth/EvcsHandler.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/common/AbstractHardyBarthHandler.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/common/DeviceRole.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/common/HardyBarth.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/common/translation_de.properties
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/common/translation_en.properties
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/cph2/EvseChargePointHardyBarthImpl.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evcs/hardybarth/EvcsHardyBarthImplTest.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/common/TestData.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/cph2/EvseChargePointHardyImplTest.java
  io.openems.edge.system.fenecon/test/io/openems/edge/system/fenecon/home/SystemFeneconHomeImplTest.java
  io.openems.edge.system.fenecon/test/io/openems/edge/system/fenecon/masterbox2v0/MasterBox2v0ImplTest.java
  io.openems.edge.system.fenecon/test/io/openems/edge/system/fenecon/masterbox2v0/ao/MasterBox2v0MeterImplTest.java
  io.openems.edge.system.fenecon/test/io/openems/edge/system/fenecon/masterbox2v0/meter/MasterBox2v0MeterImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Hekatron B9-X2 fire alarm system: implementation as standalone component
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.firealarmsystem.hekatron/.classpath
  io.openems.edge.firealarmsystem.hekatron/.gitignore
  io.openems.edge.firealarmsystem.hekatron/.project
  io.openems.edge.firealarmsystem.hekatron/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.firealarmsystem.hekatron/bnd.bnd
  io.openems.edge.firealarmsystem.hekatron/readme.adoc
  io.openems.edge.firealarmsystem.hekatron/src/io/openems/edge/firealarmsystem/hekatron/Config.java
  io.openems.edge.firealarmsystem.hekatron/src/io/openems/edge/firealarmsystem/hekatron/ConfigVersion.java
  io.openems.edge.firealarmsystem.hekatron/src/io/openems/edge/firealarmsystem/hekatron/DummyHekatronB9X2Impl.java
  io.openems.edge.firealarmsystem.hekatron/src/io/openems/edge/firealarmsystem/hekatron/HekatronB9X2.java
  io.openems.edge.firealarmsystem.hekatron/src/io/openems/edge/firealarmsystem/hekatron/HekatronB9X2Impl.java
  io.openems.edge.firealarmsystem.hekatron/src/io/openems/edge/firealarmsystem/hekatron/package-info.java
  io.openems.edge.firealarmsystem.hekatron/src/io/openems/edge/firealarmsystem/hekatron/translation_de.properties
  io.openems.edge.firealarmsystem.hekatron/src/io/openems/edge/firealarmsystem/hekatron/translation_en.properties
  io.openems.edge.firealarmsystem.hekatron/test/.gitignore
  io.openems.edge.firealarmsystem.hekatron/test/io/openems/edge/firealarmsystem/hekatron/HekatronB9X2Test.java
  io.openems.edge.firealarmsystem.hekatron/test/io/openems/edge/firealarmsystem/hekatron/MyConfig.java
  io.openems.edge.meter.hager/src/io/openems/edge/meter/hager/ecr380d/Config.java
  io.openems.edge.system.fenecon/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

[UI] FENA: add messages
  ui/src/app/edge/live/Controller/Evcs/shared/shared.ts
  ui/src/app/edge/live/Controller/Evse/shared/shared.ts
  ui/src/app/edge/live/fena/fena.component.html
  ui/src/app/edge/live/fena/fena.component.scss
  ui/src/app/edge/live/fena/i18n/de.json
  ui/src/app/edge/live/fena/i18n/en.json
  ui/src/app/shared/components/edge/edge.ts
  ui/src/app/shared/components/shared/dataservice.ts
  ui/src/app/shared/type/widgets.ts
  ui/src/app/shared/utils/array/array.utils.ts
  ui/src/app/shared/utils/number/number-utils.ts
  ui/src/app/shared/utils/time/timeutils.spec.ts
  ui/src/app/shared/utils/time/timeutils.ts
  ui/src/app/shared/utils/utils.ts
  ui/src/environments/index.scss
  ui/src/themes/openems/environments/backend-dev.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Meta: introduce GridBuyLimit with buffered Grid-Buy hard limit
  io.openems.edge.common/src/io/openems/edge/common/meta/GridBuyLimit.java
  io.openems.edge.common/src/io/openems/edge/common/meta/GridBuySoftLimit.java
  io.openems.edge.common/src/io/openems/edge/common/meta/Meta.java
  io.openems.edge.common/src/io/openems/edge/common/test/DummyMeta.java
  io.openems.edge.controller.ess.fixactivepower/src/io/openems/edge/controller/ess/fixactivepower/SystemLimitHelper.java
  io.openems.edge.controller.ess.fixactivepower/test/io/openems/edge/controller/ess/fixactivepower/ControllerEssFixActivePowerImplTest.java
  io.openems.edge.controller.ess.fixactivepower/test/io/openems/edge/controller/ess/fixactivepower/TestStatic.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
  io.openems.edge.core/src/io/openems/edge/core/meta/MetaImpl.java
  io.openems.edge.core/test/io/openems/edge/core/meta/MetaImplTest.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulation/GlobalOptimizationContext.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulation/GocBuilder.java
  io.openems.edge.energy.api/test/io/openems/edge/energy/api/simulation/GlobalOptimizationContextTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/EnergySchedulerImplTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/AppUtils.java
Due: build-java, restore-cache, rebuild-cache

[UI] KEBA EVCS/EVSE: add incompatibility warning message
  ui/src/app/edge/live/Controller/Evcs/modal/modal.html
  ui/src/app/edge/live/Controller/Evcs/modal/modal.ts
  ui/src/app/edge/live/Controller/Evcs/settings/settings.ts
  ui/src/app/edge/live/Controller/Evse/pages/chargemode/chargemode.ts
  ui/src/app/edge/live/Controller/Evse/shared/shared.ts
  ui/src/app/shared/components/formly/formly-field-navigation/formly-field-navigation.html
  ui/src/app/shared/components/modal/modal-info-line/modal-info-line.html
  ui/src/app/shared/components/modal/modal-info-line/modal-info-line.ts
  ui/src/app/shared/components/navigation/service/navigation.service.ts
  ui/src/app/shared/components/shared/oe-formly-component.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] NUI: Remove KEBA P40 from force new design
  ui/src/app/shared/components/navigation/service/navigation.service.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Fix picktime component
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/settings/settings.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/shared/shared.ts
  ui/src/app/shared/components/picktime/picktime.component.html
  ui/src/app/shared/components/picktime/picktime.component.spec.ts
  ui/src/app/shared/components/picktime/picktime.component.ts
  ui/src/app/shared/components/shared/oe-formly-component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix build
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/FeneconIndustrialLTest.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconIndustrialL.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconIndustrialS.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/validator/CheckIndustrialTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/EnergySchedulerImplTest.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/stsbox/update/GoodWeStsBoxParams.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/stsbox/update/GoodWeStsBoxUpdateParams.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/stsbox/update/GoodWeStsBoxUpdateable.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/stsbox/update/GoodWeStsBoxVersion.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/stsbox/update/package-info.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/update/GoodWeFirmwareType.java
Due: build-java, restore-cache, rebuild-cache

Fix build
  io.openems.edge.evse.chargepoint.hardybarth/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evcs/hardybarth/EvcsHardyBarthImplTest.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/cph2/EvseChargePointHardyImplTest.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/ecb1/EvseChargePointHardyBarthEcb1ImplTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] Enable strict checking for QueryHistoricTimeseriesDataRequest
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesDataRequest.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix UI build
  ui/src/app/edge/live/Controller/Evse/shared/shared.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix UI build
  ui/src/app/edge/live/Controller/Evse/shared/evse-chargepoint.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update build.bnd
  cnf/build.bnd
Due: none

Update bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

[UI] Enable strict checking for DateTimeUtils
  ui/src/app/shared/utils/datetime/datetime-utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add support for series 11 sunny island
  io.openems.edge.sma/src/io/openems/edge/sma/ess/enums/SunnyIslandDeviceType.java
  io.openems.edge.sma/src/io/openems/edge/sma/ess/sunnyisland/EssSmaSunnyIsland.java
  io.openems.edge.sma/src/io/openems/edge/sma/ess/sunnyisland/EssSmaSunnyIslandImpl.java
  io.openems.edge.sma/test/io/openems/edge/sma/ess/sunnyisland/EssSmaSunnyIslandImplTest.java
Due: build-java, restore-cache, rebuild-cache

changed text
  io.openems.edge.sma/src/io/openems/edge/sma/ess/enums/SunnyIslandDeviceType.java
Due: build-java, restore-cache, rebuild-cache

[UI] Add SubscribeChannelsRequest spec and fix JSDoc to fenced json block
  ui/src/app/shared/jsonrpc/request/subscribeChannelsRequest.spec.ts
  ui/src/app/shared/jsonrpc/request/subscribeChannelsRequest.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for SubscribeChannelsRequest (#4009)
  ui/src/app/shared/jsonrpc/request/subscribeChannelsRequest.spec.ts
  ui/src/app/shared/jsonrpc/request/subscribeChannelsRequest.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Add test and fix docs for QueryHistoricTimeseriesEnergyRequest
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesEnergyRequest.spec.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesEnergyRequest.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for QueryHistoricTimeseriesEnergyRequest (#4010)
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesEnergyRequest.spec.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesEnergyRequest.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Align QueryHistoricTimeseriesDataRequest with strict-migration conventions
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesDataRequest.spec.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesDataRequest.ts
  ui/src/app/shared/type/channeladdress.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for QueryHistoricTimeseriesDataRequest (#4012)
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesDataRequest.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bndrun files
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.edge.application/BackendEdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Apply Eclipse formatting
  io.openems.edge.sma/src/io/openems/edge/sma/ess/enums/SunnyIslandDeviceType.java
Due: build-java, restore-cache, rebuild-cache

[Edge] SMA Sunny Island: Fix applyPower & support -11 devices (#4020)
  io.openems.edge.sma/src/io/openems/edge/sma/ess/enums/SunnyIslandDeviceType.java
  io.openems.edge.sma/src/io/openems/edge/sma/ess/sunnyisland/EssSmaSunnyIsland.java
  io.openems.edge.sma/src/io/openems/edge/sma/ess/sunnyisland/EssSmaSunnyIslandImpl.java
  io.openems.edge.sma/test/io/openems/edge/sma/ess/sunnyisland/EssSmaSunnyIslandImplTest.java
Due: build-java, restore-cache, rebuild-cache

add dependabot group for eu.chargetime.ocpp
  .github/dependabot.yml
Due: none
