Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

Eclipse IDE formatting; improve JUnit tests
  io.openems.edge.core/src/io/openems/edge/app/ess/SmaEssSunnyBoyStorage.java
  io.openems.edge.sma/src/io/openems/edge/sma/ess/sunnyboystorage/EssSmaSunnyBoyStorage.java
  io.openems.edge.sma/src/io/openems/edge/sma/ess/sunnyboystorage/EssSmaSunnyBoyStorageImpl.java
  io.openems.edge.sma/test/io/openems/edge/sma/ess/sunnyboystorage/EssSmaSunnyBoyStorageImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Add ESS SMA Sunny Boy Storage 2.5 (#3727)
  io.openems.edge.core/src/io/openems/edge/app/ess/SmaEssSunnyBoyStorage.java
  io.openems.edge.sma/readme.adoc
  io.openems.edge.sma/src/io/openems/edge/sma/ess/sunnyboystorage/Config.java
  io.openems.edge.sma/src/io/openems/edge/sma/ess/sunnyboystorage/EssSmaSunnyBoyStorage.java
  io.openems.edge.sma/src/io/openems/edge/sma/ess/sunnyboystorage/EssSmaSunnyBoyStorageImpl.java
  io.openems.edge.sma/test/io/openems/edge/sma/ess/sunnyboystorage/EssSmaSunnyBoyStorageImplTest.java
  io.openems.edge.sma/test/io/openems/edge/sma/ess/sunnyboystorage/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[UI] Update setup-ide.adoc: link formating corrected (#3844)
  doc/modules/ROOT/pages/ui/setup-ide.adoc
Due: none

Add dependabot group for security-updates
  .github/dependabot.yml
Due: none

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.edge.application/BackendEdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Do not update @ngx-translate/core and typescript
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Review & apply Eclipse code formatting
  io.openems.edge.fronius/bnd.bnd
  io.openems.edge.fronius/readme.adoc
  io.openems.edge.fronius/src/io/openems/edge/fronius/enums/BatteryPreset.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/enums/BatteryState.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/enums/SetControlMode.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/battery/Config.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/battery/FroniusGen24Battery.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/battery/FroniusGen24BatteryImpl.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/batteryinverter/ApplyPowerHandler.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/batteryinverter/BatteryInverterFroniusGen24.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/batteryinverter/BatteryInverterFroniusGen24Impl.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/batteryinverter/ControlMode.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/dccharger/FroniusGen24DcCharger.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/dccharger/FroniusGen24DcChargerImpl.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/meter/Config.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/meter/MeterFroniusImpl.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/gen24/battery/FroniusGen24BatteryImplTest.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/gen24/batteryinverter/BatteryInverterFroniusGen24ImplTest.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/gen24/dccharger/FroniusGen24DcChargerImplTest.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/meter/MeterFroniusImplTest.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/pvinverter/PvInverterFroniusImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Fronius Gen24 with Storage and Inverter Control (#3755)
  io.openems.edge.fronius/bnd.bnd
  io.openems.edge.fronius/readme.adoc
  io.openems.edge.fronius/src/io/openems/edge/fronius/enums/BatteryPreset.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/enums/BatteryState.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/enums/PvString.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/enums/SetControlMode.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/battery/Config.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/battery/FroniusGen24Battery.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/battery/FroniusGen24BatteryImpl.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/batteryinverter/ApplyPowerHandler.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/batteryinverter/BatteryInverterFroniusGen24.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/batteryinverter/BatteryInverterFroniusGen24Impl.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/batteryinverter/Config.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/batteryinverter/ControlMode.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/batteryinverter/S160SunSpecModel.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/dccharger/Config.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/dccharger/FroniusGen24DcCharger.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/dccharger/FroniusGen24DcChargerImpl.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/meter/Config.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/meter/MeterFroniusImpl.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/pvinverter/PvInverterFroniusImpl.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/gen24/battery/FroniusGen24BatteryImplTest.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/gen24/battery/MyConfig.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/gen24/batteryinverter/BatteryInverterFroniusGen24ImplTest.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/gen24/batteryinverter/MyConfig.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/gen24/dccharger/FroniusGen24DcChargerImplTest.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/gen24/dccharger/MyConfig.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/meter/MeterFroniusImplTest.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/pvinverter/PvInverterFroniusImplTest.java
Due: build-java, restore-cache, rebuild-cache

fix(ui): remove karma-jasmine-html-reporter to fix jasmine-core 7 incompatibility
  ui/karma.conf.js
  ui/karma.conf.local.js
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix SchedulerFixedOrder: include OpenemsComponent
  io.openems.edge.scheduler.fixedorder/src/io/openems/edge/scheduler/fixedorder/SchedulerFixedOrderImpl.java
Due: build-java, restore-cache, rebuild-cache

Update JUnit tests
  io.openems.edge.scheduler.fixedorder/test/io/openems/edge/scheduler/fixedorder/SchedulerFixedOrderImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] SchedulerFixedOrder: include OpenemsComponent (#3886)
  io.openems.edge.scheduler.fixedorder/src/io/openems/edge/scheduler/fixedorder/SchedulerFixedOrderImpl.java
  io.openems.edge.scheduler.fixedorder/test/io/openems/edge/scheduler/fixedorder/SchedulerFixedOrderImplTest.java
Due: build-java, restore-cache, rebuild-cache

Fix last write checkstyle error
  io.openems.edge.ess.saxpower/src/io/openems/edge/ess/saxpower/ess/SaxPowerImpl.java
Due: build-java, restore-cache, rebuild-cache

[Common] Update Junit test SKILL.md
  .github/skills/oe-junit/SKILL.md
Due: none

[UI] Improve formly-field-range
  ui/src/app/shared/components/formly/formly-field-range.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Improve Docs URLs framework
  ui/src/app/shared/components/formly/formly-field-checkbox-image/formly-field-checkbox-with-image.ts
  ui/src/app/shared/components/modal/help-button/help-button.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/type/language.ts
  ui/src/app/shared/utils/docs/docs.utils.ts
  ui/src/assets/img/commercial/sts-box.png
  ui/src/environments/index.ts
  ui/src/themes/openems/environments/oem-meta.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Fix handling of changed unit symbols
  io.openems.common/src/io/openems/common/channel/Unit.java
  io.openems.common/src/io/openems/common/jsonrpc/request/GetChannelsOfComponent.java
  io.openems.common/test/io/openems/common/channel/UnitTest.java
Due: build-java, restore-cache, rebuild-cache

[Common] Checkstyle: exclude generic methods & include in intelij checkstyle tests
  .idea/checkstyle-idea.xml
  cnf/checkstyle.xml
Due: none

[UI] Fix appInstall formly link
  ui/src/app/edge/settings/app/install.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Improve checkbox-required-checked
  ui/src/app/shared/i18n/de.json
  ui/src/app/shared/i18n/en.json
  ui/src/app/shared/shared.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Fix views not being updated correctly
  ui/src/app/edge/settings/system/oe-system-update.component.html
  ui/src/app/edge/settings/system/oe-system-update.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] AppManagerAppHelperImpl: avoid NPE
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/AppManagerAppHelperImpl.java
Due: build-java, restore-cache, rebuild-cache

[Edge] GoodWe disable configuration for second battery port
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryInverterPort.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/enums/BatteryPort.java
Due: build-java, restore-cache, rebuild-cache

[Backend] fix LatestTaskPerKeyExecutorTest testNotRunDuplicate
  io.openems.backend.oem.fenecon/test/io/openems/backend/oem/fenecon/LatestTaskPerKeyExecutorTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Commercial 100 App: Hide second battery setting
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial100.java
  io.openems.edge.fronius/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

[UI] Fix CI & Android build
  tools/common.sh
Due: none

[Edge] Serial Modbus Bridge: fix race condition in connection handling
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/BridgeModbusSerialImpl.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/AbstractModbusBridge.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/task/hooks/TaskHookTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] App Manager: ignore unnecessary component updates
  io.openems.edge.core/src/io/openems/edge/core/appmanager/ForceUpdateComponentConfig.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Implement protection relay "Tele Haase NA003.COM-M64"
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.protectionrelay.telehaase/.classpath
  io.openems.edge.protectionrelay.telehaase/.gitignore
  io.openems.edge.protectionrelay.telehaase/.project
  io.openems.edge.protectionrelay.telehaase/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.protectionrelay.telehaase/bnd.bnd
  io.openems.edge.protectionrelay.telehaase/readme.adoc
  io.openems.edge.protectionrelay.telehaase/src/io/openems/edge/protectionrelay/telehaase/na003m64/Config.java
  io.openems.edge.protectionrelay.telehaase/src/io/openems/edge/protectionrelay/telehaase/na003m64/Na003ComM64.java
  io.openems.edge.protectionrelay.telehaase/src/io/openems/edge/protectionrelay/telehaase/na003m64/Na003ComM64Impl.java
  io.openems.edge.protectionrelay.telehaase/src/io/openems/edge/protectionrelay/telehaase/na003m64/enums/ContactState.java
  io.openems.edge.protectionrelay.telehaase/src/io/openems/edge/protectionrelay/telehaase/na003m64/enums/ModbusProperties.java
  io.openems.edge.protectionrelay.telehaase/test/.gitignore
  io.openems.edge.protectionrelay.telehaase/test/io/openems/edge/protectionrelay/telehaase/na003m64/MyConfig.java
  io.openems.edge.protectionrelay.telehaase/test/io/openems/edge/protectionrelay/telehaase/na003m64/Na003ComM64Test.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Modbus Bridge / Tasks: fix deadlock and dead modbus worker after stopping and starting of the bridge
  io.openems.common/src/io/openems/common/websocket/ClientReconnectorWorker.java
  io.openems.common/src/io/openems/common/worker/AbstractWorker.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/BridgeModbusSerialImpl.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/Task.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/WaitTask.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Time-of-Use-Tariffs: standardize time delays
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/time/DefaultDelayTimeProvider.java
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/time/DelayTimeProvider.java
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/time/HttpBridgeTimeService.java
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/time/HttpBridgeTimeServiceDefinition.java
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/time/HttpBridgeTimeServiceImpl.java
  io.openems.edge.battery.bmw/src/io/openems/edge/battery/bmw/BmwToken.java
  io.openems.edge.braiinsos/src/io/openems/edge/braiinsos/api/BraiinsApi.java
  io.openems.edge.controller.cleverpv/src/io/openems/edge/controller/cleverpv/ControllerCleverPvImpl.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/common/AbstractHardyBarthHandler.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/common/HttpBridgeShellyService.java
  io.openems.edge.timeofusetariff.api/bnd.bnd
  io.openems.edge.timeofusetariff.api/src/io/openems/edge/timeofusetariff/api/utils/TimeOfUseDelayTimeProvider.java
  io.openems.edge.timeofusetariff.api/test/io/openems/edge/timeofusetariff/api/utils/TimeOfUseDelayTimeProviderTest.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/priceprovider/provider/HttpEntsoeDataProvider.java
  io.openems.edge.timeofusetariff.ews/src/io/openems/edge/timeofusetariff/ews/Utils.java
  io.openems.edge.timeofusetariff.groupe/src/io/openems/edge/timeofusetariff/groupe/TimeOfUseTariffGroupeImpl.java
  io.openems.edge.timeofusetariff.hassfurt/src/io/openems/edge/timeofusetariff/hassfurt/TimeOfUseTariffHassfurtImpl.java
  io.openems.edge.timeofusetariff.luox/src/io/openems/edge/timeofusetariff/luox/HttpBridgeLuoxService.java
  io.openems.edge.timeofusetariff.rabotcharge/src/io/openems/edge/timeofusetariff/rabotcharge/TimeOfUseTariffRabotChargeImpl.java
  io.openems.edge.timeofusetariff.swisspower/src/io/openems/edge/timeofusetariff/swisspower/TimeOfUseTariffSwisspowerImpl.java
  io.openems.edge.weather.openmeteo/src/io/openems/edge/weather/openmeteo/forecast/WeatherForecastDelayTimeProvider.java
  io.openems.edge.weather.openmeteo/src/io/openems/edge/weather/openmeteo/forecast/WeatherForecastService.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Improve ProgressPublisher
  io.openems.edge.common/src/io/openems/edge/common/update/ProgressPublisher.java
Due: build-java, restore-cache, rebuild-cache

[Edge] HardyBarth EVSE: Support for phase switching status
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/common/DeviceRole.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/common/HardyBarth.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evcs/hardybarth/EvcsHardyBarthImplTest.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/EvseChargePointHardyImplTest.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/common/DeviceRoleTest.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/common/TestData.java
Due: build-java, restore-cache, rebuild-cache

[UI] object-utils: add omitNullOrUndefinedValues()
  ui/src/app/shared/utils/object/object-utils.spec.ts
  ui/src/app/shared/utils/object/object-utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Fix wrong unit for manually charge/discharge
  ui/src/app/edge/live/Controller/Ess/FixActivePower/new-navigation/new-navigation.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] ProductionPrediction: Reduce Model Complexity for Low-Memory-Hardware
  io.openems.edge.core/src/io/openems/edge/app/prediction/AppWeatherPrediction.java
  io.openems.edge.core/test/io/openems/edge/app/prediction/AppWeatherPredictionTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.predictor.production.linearmodel/src/io/openems/edge/predictor/production/linearmodel/Config.java
  io.openems.edge.predictor.production.linearmodel/src/io/openems/edge/predictor/production/linearmodel/ModelComplexity.java
  io.openems.edge.predictor.production.linearmodel/src/io/openems/edge/predictor/production/linearmodel/PredictorConfig.java
  io.openems.edge.predictor.production.linearmodel/src/io/openems/edge/predictor/production/linearmodel/PredictorProductionLinearModelImpl.java
  io.openems.edge.predictor.production.linearmodel/test/io/openems/edge/predictor/production/linearmodel/PredictorProductionLinearModelImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Implement new meter Janitza UMG 96-PQ-L
  io.openems.edge.core/src/io/openems/edge/app/meter/JanitzaMeter.java
  io.openems.edge.meter.janitza/bnd.bnd
  io.openems.edge.meter.janitza/doc/Janitza-Manual-UMG96RM-Modbus-adress-list-and-formulary-en.pdf
  io.openems.edge.meter.janitza/doc/janitza-mal-umg511-en.pdf
  io.openems.edge.meter.janitza/doc/janitza-mal-umg604-en.pdf
  io.openems.edge.meter.janitza/readme.adoc
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg104/MeterJanitzaUmg104Impl.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg511/Config.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg511/MeterJanitzaUmg511Impl.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg604/Config.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg604/MeterJanitzaUmg604Impl.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg801/Config.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg801/MeterJanitzaUmg801Impl.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg806/Config.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg96pql/Config.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg96pql/MeterJanitzaUmg96Pql.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg96pql/MeterJanitzaUmg96PqlImpl.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg96rme/Config.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg96rme/MeterJanitzaUmg96rmeImpl.java
  io.openems.edge.meter.janitza/test/io/openems/edge/meter/janitza/umg104/MeterJanitzaUmg104ImplTest.java
  io.openems.edge.meter.janitza/test/io/openems/edge/meter/janitza/umg104/MyConfig.java
  io.openems.edge.meter.janitza/test/io/openems/edge/meter/janitza/umg511/MyConfig.java
  io.openems.edge.meter.janitza/test/io/openems/edge/meter/janitza/umg604/MeterJanitzaUmg604ImplTest.java
  io.openems.edge.meter.janitza/test/io/openems/edge/meter/janitza/umg604/MyConfig.java
  io.openems.edge.meter.janitza/test/io/openems/edge/meter/janitza/umg806/MeterJanitzaUmg806ImplTest.java
  io.openems.edge.meter.janitza/test/io/openems/edge/meter/janitza/umg806/MyConfig.java
  io.openems.edge.meter.janitza/test/io/openems/edge/meter/janitza/umg96pql/MeterJanitzaUmg96PqlImplTest.java
  io.openems.edge.meter.janitza/test/io/openems/edge/meter/janitza/umg96pql/MyConfig.java
  io.openems.edge.meter.janitza/test/io/openems/edge/meter/janitza/umg96rme/MeterJanitzaUmg96rmeImplTest.java
Due: build-java, restore-cache, rebuild-cache
