Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

ControllerEssGridOptimizedCharge, IoShelly25, IoShellyPlug: set persistence priority to high for some channels (#815)
  io.openems.edge.controller.ess.gridoptimizedcharge/src/io/openems/edge/controller/ess/gridoptimizedcharge/ControllerEssGridOptimizedCharge.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly25/IoShelly25.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/IoShellyPlug.java
Due: build-java, restore-cache, rebuild-cache

FEMS Backports
  io.openems.common/src/io/openems/common/utils/IntUtils.java
  ui/package-lock.json
  ui/src/app/edge/history/shared.ts
  ui/src/app/edge/live/energymonitor/chart/section/consumption.component.html
  ui/src/app/edge/live/energymonitor/chart/section/grid.component.html
  ui/src/app/edge/live/energymonitor/chart/section/production.component.html
  ui/src/app/edge/live/energymonitor/chart/section/storage.component.html
  ui/src/app/index/login.component.ts
  ui/src/app/index/overview/overview.component.html
  ui/src/app/index/overview/overview.component.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/flat/flat-widget-line/flat-widget-line-item/flat-widget-line-item.html
  ui/src/app/shared/genericComponents/flat/flat-widget-line/flat-widget-line-item/flat-widget-line-item.ts
  ui/src/app/shared/genericComponents/flat/flat-widget-line/flat-widget-line.html
  ui/src/app/shared/genericComponents/genericComponents.ts
  ui/src/app/shared/genericComponents/shared/converter.ts
  ui/src/app/shared/genericComponents/shared/formatter.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/service/websocket.ts
  ui/src/assets/i18n/cz.json
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/es.json
  ui/src/assets/i18n/fr.json
  ui/src/assets/i18n/nl.json
  ui/src/themes/openems/environments/theme.ts
  ui/src/themes/openems/scss/variables.scss
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Final touches
  build.gradle
  doc/modules/ROOT/pages/backend/metadata.adoc
  doc/modules/ROOT/pages/backend/service.adoc
  doc/modules/ROOT/pages/backend/timedata.adoc
Due: build-java, restore-cache, rebuild-cache

FEMS Backports (#2373)
  io.openems.common/src/io/openems/common/utils/IntUtils.java
  ui/package-lock.json
  ui/src/app/edge/history/shared.ts
  ui/src/app/edge/live/energymonitor/chart/section/consumption.component.html
  ui/src/app/edge/live/energymonitor/chart/section/grid.component.html
  ui/src/app/edge/live/energymonitor/chart/section/production.component.html
  ui/src/app/edge/live/energymonitor/chart/section/storage.component.html
  ui/src/app/index/login.component.ts
  ui/src/app/index/overview/overview.component.html
  ui/src/app/index/overview/overview.component.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/flat/flat-widget-line/flat-widget-line-item/flat-widget-line-item.html
  ui/src/app/shared/genericComponents/flat/flat-widget-line/flat-widget-line-item/flat-widget-line-item.ts
  ui/src/app/shared/genericComponents/flat/flat-widget-line/flat-widget-line.html
  ui/src/app/shared/genericComponents/genericComponents.ts
  ui/src/app/shared/genericComponents/shared/converter.ts
  ui/src/app/shared/genericComponents/shared/formatter.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/service/websocket.ts
  ui/src/assets/i18n/cz.json
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/es.json
  ui/src/assets/i18n/fr.json
  ui/src/assets/i18n/nl.json
  ui/src/themes/openems/environments/theme.ts
  ui/src/themes/openems/scss/variables.scss
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Docs: add documentation for Backend Metadata and Timedata (#2314)
  build.gradle
  doc/modules/ROOT/nav.adoc
  doc/modules/ROOT/pages/backend/metadata.adoc
  doc/modules/ROOT/pages/backend/service.adoc
  doc/modules/ROOT/pages/backend/service.adoc.d/.gitignore
  doc/modules/ROOT/pages/backend/timedata.adoc
  io.openems.backend.metadata.file/readme.adoc
  io.openems.backend.metadata.file/readme.md
  io.openems.backend.metadata.odoo/readme.adoc
  io.openems.backend.timedata.aggregatedinflux/readme.adoc
  io.openems.backend.timedata.dummy/readme.adoc
  io.openems.backend.timedata.influx/readme.adoc
  io.openems.backend.timedata.timescaledb/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Use switch expressions
  io.openems.edge.common/src/io/openems/edge/common/modbusslave/ModbusRecordChannel.java
Due: build-java, restore-cache, rebuild-cache

ModbusRecordChannel: fix read error for write-only channels (#2256)
  io.openems.edge.common/src/io/openems/edge/common/modbusslave/ModbusRecordChannel.java
  io.openems.edge.common/test/io/openems/edge/common/modbusslave/ModbusRecordChannelTest.java
Due: build-java, restore-cache, rebuild-cache

Push version to 2023.10.0
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

update package-lock
  ui/package-lock.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2023.11.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix bugs + cleanup
  ui/src/app/edge/history/common/production/chart/totalChart.ts
  ui/src/app/edge/settings/app/app.module.ts
  ui/src/app/index/index.component.html
  ui/src/app/index/index.component.ts
  ui/src/app/index/overview/overview.component.html
  ui/src/app/shared/edge/edge.ts
  ui/src/app/shared/genericComponents/flat/abstract-flat-widget.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fixing Unit testing wrong values for direct consumption
  ui/src/app/edge/history/common/energy/chart/chart.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: remove all advertwidgets (#817)
  ui/src/app/edge/live/advertisement/advertisement.component.html
  ui/src/app/edge/live/advertisement/advertisement.module.ts
  ui/src/app/edge/live/advertisement/extended-warranty/extended-warranty.html
  ui/src/app/edge/live/advertisement/extended-warranty/extended-warranty.ts
  ui/src/app/edge/live/advertisement/fems-app-center/fems-app-center.html
  ui/src/app/edge/live/advertisement/fems-app-center/fems-app-center.ts
  ui/src/app/shared/type/widget.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

changed default mqttBridgeId on FixedMinutePublish
  io.openems.edge.mqtt.component/src/io/openems/edge/mqtt/component/publish/GenericPublishFixedMinuteConfig.java
Due: build-java, restore-cache, rebuild-cache

Fixed Typo in SetReferencedComponent Method
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/AbstractOpenEmsMqttComponent.java
  io.openems.edge.bridge.mqtt/test/io/openems/edge/bridge/mqtt/DummyMqttComponent.java
  io.openems.edge.mqtt.component/src/io/openems/edge/mqtt/component/publish/GenericPublishComponentFixedMinute.java
  io.openems.edge.mqtt.component/src/io/openems/edge/mqtt/component/publish/GenericPublishImpl.java
  io.openems.edge.mqtt.component/src/io/openems/edge/mqtt/component/subscribe/GenericSubscribeImpl.java
  io.openems.edge.mqtt.component/test/io/openems/edge/mqtt/component/publish/GenericPublishComponentTest.java
  io.openems.edge.mqtt.component/test/io/openems/edge/mqtt/component/subscribe/GenericSubscribeComponentTest.java
Due: build-java, restore-cache, rebuild-cache

Fixed Modified issues, beautify and refactored PayloadConstructor
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/AbstractOpenEmsMqttComponent.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/BridgeMqtt.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/MqttComponent.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/MqttConnectionImpl.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/MqttProtocol.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/Topic.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/payloads/AbstractPayload.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/payloads/GenericPayloadImpl.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/payloads/Payload.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/task/MqttPublishTask.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/task/MqttSubscribeTask.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/task/MqttSubscribeTaskImpl.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/task/MqttTask.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/task/MqttWaitTask.java
  io.openems.edge.bridge.mqtt/test/io/openems/edge/bridge/mqtt/BridgeMqttImplTest.java
  io.openems.edge.mqtt.component/src/io/openems/edge/mqtt/component/publish/GenericPublishComponentFixedMinute.java
  io.openems.edge.mqtt.component/src/io/openems/edge/mqtt/component/publish/GenericPublishConfig.java
  io.openems.edge.mqtt.component/src/io/openems/edge/mqtt/component/publish/GenericPublishFixedMinuteConfig.java
  io.openems.edge.mqtt.component/src/io/openems/edge/mqtt/component/publish/GenericPublishImpl.java
  io.openems.edge.mqtt.component/src/io/openems/edge/mqtt/component/subscribe/GenericSubscribeConfig.java
  io.openems.edge.mqtt.component/src/io/openems/edge/mqtt/component/subscribe/GenericSubscribeImpl.java
  io.openems.edge.mqtt.component/test/io/openems/edge/mqtt/component/publish/MyConfigGenericPublish.java
Due: build-java, restore-cache, rebuild-cache

Initial version of a http bridge.
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.bridge.http/.classpath
  io.openems.edge.bridge.http/.gitignore
  io.openems.edge.bridge.http/.project
  io.openems.edge.bridge.http/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.bridge.http/bnd.bnd
  io.openems.edge.bridge.http/readme.adoc
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/BridgeHttpImpl.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/CycleSubscriber.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/UrlFetcher.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/UrlFetcherImpl.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/api/BridgeHttp.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/api/package-info.java
  io.openems.edge.bridge.http/test/io/openems/edge/bridge/http/BridgeHttpImplTest.java
  io.openems.edge.bridge.http/test/io/openems/edge/bridge/http/DummyUrlFetcher.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImpl.java
Due: build-java, restore-cache, rebuild-cache

Update to Gradle 8.4
  .gradle-wrapper/gradle-wrapper.jar
  .gradle-wrapper/gradle-wrapper.properties
  gradlew
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update to bndtools version 7.0.0
  gradle.properties
Due: build-java, restore-cache, rebuild-cache

CI: Update webmanifest start_url to branch name for dev-builds (#820)
  .woodpecker/ui-build.yml
Due: none

ESS Cluster: Calculate effective start stop (#806)
  io.openems.edge.ess.api/src/io/openems/edge/ess/test/DummyManagedAsymmetricEss.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/test/DummyManagedSymmetricEss.java
  io.openems.edge.ess.cluster/src/io/openems/edge/ess/cluster/ChannelManager.java
  io.openems.edge.ess.cluster/src/io/openems/edge/ess/cluster/EssCluster.java
  io.openems.edge.ess.cluster/src/io/openems/edge/ess/cluster/EssClusterImpl.java
  io.openems.edge.ess.cluster/test/io/openems/edge/ess/cluster/EssClusterImplTest.java
Due: build-java, restore-cache, rebuild-cache

UI: Fixing wrong displayed Fems version in mobile devices (#802)
  ui/src/app/edge/settings/profile/profile.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Refactoring
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.meter.emh/.classpath
  io.openems.edge.meter.emh/bnd.bnd
  io.openems.edge.meter.emh/src/io/openems/edge/meter/emh/Config.java
  io.openems.edge.meter.emh/src/io/openems/edge/meter/emh/MeterEmhImpl.java
  io.openems.edge.meter.emh/test/.gitignore
  io.openems.edge.meter.emh/test/io/openems/edge/meter/emh/MyComponentTest.java
  io.openems.edge.meter.emh/test/io/openems/edge/meter/emh/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Update readme.adoc
  io.openems.edge.meter.emh/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Update bndrun + wrapper
  io.openems.backend.application/BackendApp.bndrun
  io.openems.wrapper/pgbulkinsert.bnd
Due: build-java, restore-cache, rebuild-cache

Update pom
  cnf/pom.xml
Due: none

requested changes to Utils.substractSafely
  ui/src/app/edge/history/common/energy/chart/chart.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix linting issue
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

use devices to detect multiple edges instead of missing user property
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
Due: build-java, restore-cache, rebuild-cache

UI: Login: trim username and password (#822)
  ui/src/app/index/login.component.html
  ui/src/app/index/login.component.ts
  ui/src/app/index/login.spec.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Commercial EMS Box serial number validator (#824)
  ui/src/app/edge/installation/installation-systems/commercial/commercial-30/commercial30-anschluss.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-50/abstract-commercial-50.ts
  ui/src/app/edge/installation/installation.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Pylontech battery implementation
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.battery.pylontech/.classpath
  io.openems.edge.battery.pylontech/.gitignore
  io.openems.edge.battery.pylontech/.project
  io.openems.edge.battery.pylontech/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.battery.pylontech/bnd.bnd
  io.openems.edge.battery.pylontech/readme.adoc
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/ChannelIdImpl.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/Config.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2Battery.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2BatteryImpl.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2BatteryProtectionDefinition.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/statemachine/Context.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/statemachine/ErrorHandler.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/statemachine/GoRunningHandler.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/statemachine/GoStoppedHandler.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/statemachine/RunningHandler.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/statemachine/StateMachine.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/statemachine/StoppedHandler.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/statemachine/UndefinedHandler.java
  io.openems.edge.battery.pylontech/test/io/openems/edge/battery/pylontech/powercubem2/MyConfig.java
  io.openems.edge.battery.pylontech/test/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2BatteryImplTest.java
  io.openems.edge.battery.pylontech/test/io/openems/edge/battery/pylontech/powercubem2/StatusAndVersionNumberTest.java
Due: build-java, restore-cache, rebuild-cache
