Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

Handle UNDEFINED_VALUE as null in ModbusRecordChannel
  io.openems.edge.common/src/io/openems/edge/common/modbusslave/ModbusRecordChannel.java
Due: build-java, restore-cache, rebuild-cache

[Docs] IntelliJ IDEA: cleanup and enhance setup guide (#3600)
  doc/modules/ROOT/pages/development/ide/intellij-gradle.adoc
  doc/modules/ROOT/pages/development/ide/intellij.adoc
Due: build-java, restore-cache, rebuild-cache

[Edge] Refactor AC-in setpoint calculation (#3584)
  io.openems.edge.victron/src/io/openems/edge/victron/ess/VictronEssImpl.java
  io.openems.edge.victron/test/io/openems/edge/victron/ess/VictronEssImplTest.java
Due: build-java, restore-cache, rebuild-cache

Refactor ModbusRecordChannel value parsing
  io.openems.edge.common/src/io/openems/edge/common/modbusslave/ModbusRecordChannel.java
  io.openems.edge.common/test/io/openems/edge/common/modbusslave/ModbusRecordChannelTest.java
Due: build-java, restore-cache, rebuild-cache

Remove sorting from component lists
  ui/src/app/edge/history/common/production/flat/flat.ts
  ui/src/app/edge/live/common/consumption/flat/flat.ts
  ui/src/app/edge/live/common/consumption/history/flat/flat.ts
  ui/src/app/edge/live/common/production/flat/flat.ts
  ui/src/app/shared/components/edge/edgeconfig.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Create ModbusPytes.txt
  ModbusPytes.txt
Due: none

Update ModbusPytes.txt
  ModbusPytes.txt
Due: none

Remove obsolete solaredge.ess package
  io.openems.edge.solaredge.ess/.classpath
  io.openems.edge.solaredge.ess/.gitignore
  io.openems.edge.solaredge.ess/.project
  io.openems.edge.solaredge.ess/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.solaredge.ess/.settings/org.eclipse.jdt.core.prefs
  io.openems.edge.solaredge.ess/bnd.bnd
  io.openems.edge.solaredge.ess/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Update bndrun; format pom.xml
  cnf/pom.xml
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.edge.application/BackendEdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.wrapper/fastexcel.bnd
  ui/package-lock.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Applied Checkstyle fixes and ran prepare-commit.sh
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/optimizers/PreferDcPower.java
  io.openems.edge.ess.core/test/io/openems/edge/ess/core/power/PreferDcPowerTest.java
Due: build-java, restore-cache, rebuild-cache

Add comments to pom
  cnf/pom.xml
Due: none

Update bndrun
  cnf/pom.xml
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.edge.application/BackendEdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.edge.application/BackendEdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Supply allowed string values of @AttributeDefinition channels in GetChannelsOfComponent request
  io.openems.common/src/io/openems/common/jsonrpc/request/GetChannelsOfComponent.java
  io.openems.edge.common/src/io/openems/edge/common/channel/Doc.java
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractDoc.java
  io.openems.edge.common/src/io/openems/edge/common/component/AbstractOpenemsComponent.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/ComponentManagerImpl.java
Due: build-java, restore-cache, rebuild-cache

Pytes
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerEssChargeDischargeLimiterImpl.java
  io.openems.edge.pytes/src/io/openems/edge/pytes/battery/Config.java
  io.openems.edge.pytes/src/io/openems/edge/pytes/battery/PytesBattery.java
  io.openems.edge.pytes/src/io/openems/edge/pytes/battery/PytesBatteryImpl.java
  io.openems.edge.pytes/src/io/openems/edge/pytes/dccharger/PytesDcCharger.java
  io.openems.edge.pytes/src/io/openems/edge/pytes/dccharger/PytesDcChargerImpl.java
  io.openems.edge.pytes/src/io/openems/edge/pytes/enums/Appendix2.java
  io.openems.edge.pytes/src/io/openems/edge/pytes/enums/StandardWorkingMode.java
  io.openems.edge.pytes/src/io/openems/edge/pytes/ess/AllowedChargeDischargeHandler.java
  io.openems.edge.pytes/src/io/openems/edge/pytes/ess/ApplyPowerHandler.java
  io.openems.edge.pytes/src/io/openems/edge/pytes/ess/AverageCalculator.java
  io.openems.edge.pytes/src/io/openems/edge/pytes/ess/Config.java
  io.openems.edge.pytes/src/io/openems/edge/pytes/ess/PytesJs3.java
  io.openems.edge.pytes/src/io/openems/edge/pytes/ess/PytesJs3Impl.java
  io.openems.edge.pytes/src/io/openems/edge/pytes/metergrid/PytesMeterGridImpl.java
  io.openems.edge.pytes/test/io/openems/edge/pytes/ess/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Added 44100 Registers and enum Appendix 02
  ModbusPytes.txt
  io.openems.edge.predictor.pv.weather.forecast/generated/buildfiles
  io.openems.edge.pytes/.classpath
  io.openems.edge.pytes/src/io/openems/edge/pytes/enums/Appendix2.java
  io.openems.edge.pytes/src/io/openems/edge/pytes/ess/PytesJs3Impl.java
  io.openems.edge.thermometer.esera.onewire/generated/buildfiles
Due: build-java, restore-cache, rebuild-cache

added Apendix 4, 5, 6 and 7
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.pytes/.classpath
  io.openems.edge.pytes/src/io/openems/edge/pytes/ess/AllowedChargeDischargeHandler.java
  io.openems.edge.pytes/src/io/openems/edge/pytes/ess/PytesJs3.java
  io.openems.edge.pytes/src/io/openems/edge/pytes/ess/PytesJs3Impl.java
Due: build-java, restore-cache, rebuild-cache

Integration latest Fault registers from Omar; Max. App. Power read from register; proceeded with applyPower()
  io.openems.edge.pytes/src/io/openems/edge/pytes/battery/PytesBatteryImpl.java
  io.openems.edge.pytes/src/io/openems/edge/pytes/ess/PytesJs3Impl.java
Due: build-java, restore-cache, rebuild-cache

Appendix 8 added
  io.openems.edge.pytes/src/io/openems/edge/pytes/enums/Appendix8.java
  io.openems.edge.pytes/src/io/openems/edge/pytes/ess/PytesJs3.java
  io.openems.edge.pytes/src/io/openems/edge/pytes/ess/PytesJs3Impl.java
Due: build-java, restore-cache, rebuild-cache

Update PytesJs3.java
  io.openems.edge.pytes/src/io/openems/edge/pytes/ess/PytesJs3.java
Due: build-java, restore-cache, rebuild-cache

changed registers from type bool to fault for info
  io.openems.edge.pytes/src/io/openems/edge/pytes/ess/PytesJs3.java
  io.openems.edge.pytes/src/io/openems/edge/pytes/ess/PytesJs3Impl.java
Due: build-java, restore-cache, rebuild-cache

first approach to ApplyPowerHandler
  io.openems.edge.pytes/src/io/openems/edge/pytes/ess/ApplyPowerHandler.java
  io.openems.edge.pytes/src/io/openems/edge/pytes/ess/PytesJs3.java
  io.openems.edge.pytes/src/io/openems/edge/pytes/ess/PytesJs3Impl.java
Due: build-java, restore-cache, rebuild-cache

Minor adjustments
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/mapper/PlcNextGdsDataToChannelMapperImpl.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/common/mapper/PlcNextGdsDataToChannelMapperImplTest.java
Due: build-java, restore-cache, rebuild-cache

publish backend-edge image
  .github/workflows/docker.yml
Due: none

[Backend] Docker: publish backend-edge image (#3619)
  .github/workflows/docker.yml
Due: none

[Common] Update to Gradle 9.4.0
  .gradle-wrapper/gradle-wrapper.jar
  .gradle-wrapper/gradle-wrapper.properties
  gradlew
Due: build-java, restore-cache, rebuild-cache

[Common] Update to Gradle 9.4.0 (#3621)
  .gradle-wrapper/gradle-wrapper.jar
  .gradle-wrapper/gradle-wrapper.properties
  gradlew
Due: build-java, restore-cache, rebuild-cache

Update package-lock
  ui/package-lock.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix build; update default ports
  tools/docker/backend-edge/Dockerfile
  tools/docker/backend/Dockerfile
  tools/docker/backend/docker-compose.yml
Due: none

quickfix
  tools/docker/backend/Dockerfile
Due: none

[Backend] Docker: fix build; update default ports (#3622)
  tools/docker/backend-edge/Dockerfile
  tools/docker/backend/Dockerfile
  tools/docker/backend/docker-compose.yml
Due: none

[UI] fix develop UI tests
  ui/src/app/index/overview/overview.component.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Backend] Alerting: Extend logging
  io.openems.backend.alerting/src/io/openems/backend/alerting/Alerting.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/Handler.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/Message.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/handler/OfflineEdgeHandler.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/handler/SumStateHandler.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/message/OfflineEdgeMessage.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/message/SumStateMessage.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/scheduler/MinuteTimer.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/scheduler/TimedExecutor.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/Dummy.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/MessageTest.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/scheduler/SchedulerTest.java
  io.openems.backend.common/src/io/openems/backend/common/mail/MailContext.java
  io.openems.backend.common/src/io/openems/backend/common/mail/Mailer.java
  io.openems.backend.common/src/io/openems/backend/common/mail/SendMailException.java
  io.openems.backend.common/src/io/openems/backend/common/mail/package-info.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/Mailer.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooHandler.java
  io.openems.backend.simulator/src/io/openems/backend/simulator/mailer/SimulatorMailer.java
Due: build-java, restore-cache, rebuild-cache

[Edge] FENECON Home 6,10 (Gen2) & 15: "dynamischer Rundsteuerempfänger"
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome10Gen2.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome15.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome6.java
Due: build-java, restore-cache, rebuild-cache

[UI] Cleanup
  ui/src/app/edge/live/live.component.html
  ui/src/app/shared/components/navigation/service/navigation.service.ts
  ui/src/app/shared/components/navigation/shared.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location
