Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

Update wrapper
  io.openems.wrapper/sdnotify.bnd
Due: build-java, restore-cache, rebuild-cache

Added ModbusSlave to Tibber API
  io.openems.edge.energy/src/io/openems/edge/energy/v1/optimizer/SimulatorV1.java
  io.openems.edge.timeofusetariff.tibber/src/io/openems/edge/timeofusetariff/tibber/TimeOfUseTariffTibber.java
  io.openems.edge.timeofusetariff.tibber/src/io/openems/edge/timeofusetariff/tibber/TimeOfUseTariffTibberImpl.java
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

fix(backend): display user role as desired by message
  io.openems.backend.common/src/io/openems/backend/common/metadata/User.java
Due: build-java, restore-cache, rebuild-cache

Added Modbus Slave to EVCS Peak Shaving Cluster
  io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/EvcsClusterPeakShavingImpl.java
Due: build-java, restore-cache, rebuild-cache

Added reduced view in ToU view predictions without connected ESS
  io.openems.edge.energy/.classpath
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/EshCodecTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/SimulatorTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/RunOptimizerFromLogApp.java
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/Ess_TimeOfUseTariff.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/modal.html
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/powerSocChartReduced.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/statePriceChartReduced.ts
  ui/src/assets/i18n/de.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Minor adjustments
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/StateMachine.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/Utils.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/v1/UtilsV1.java
  io.openems.edge.energy/src/io/openems/edge/energy/v1/optimizer/SimulatorV1.java
  io.openems.edge.predictor.pv.weather.forecast/src/io/openems/edge/predictor/weather/forecast/PredictorWeatherForecastModelImpl.java
Due: build-java, restore-cache, rebuild-cache

Fixed broken cross references
  doc/modules/ROOT/pages/gettingstarted.adoc
Due: none

Minor UI corrections; Made WeatherModel for OpenMeteo configurable
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffController.java
  io.openems.edge.predictor.pv.weather.forecast/src/io/openems/edge/predictor/weather/forecast/Config.java
  io.openems.edge.predictor.pv.weather.forecast/src/io/openems/edge/predictor/weather/forecast/PredictorWeatherForecastModelImpl.java
  io.openems.edge.predictor.pv.weather.forecast/src/io/openems/edge/predictor/weather/forecast/WeatherModels.java
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/modal.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Supply allowed string values of @AttributeDefinition channels in GetChannelsOfComponent request
  io.openems.edge.common/src/io/openems/edge/common/channel/Doc.java
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractDoc.java
  io.openems.edge.common/src/io/openems/edge/common/component/AbstractOpenemsComponent.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/ComponentManagerImpl.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/jsonrpc/GetChannelsOfComponent.java
Due: build-java, restore-cache, rebuild-cache

Improve login form so that the browsers password manager work
  ui/src/app/index/login.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

WeatherFoercast: Added Null-checks. UI: Approvements regarding Thershold Peakshaver
  io.openems.edge.predictor.pv.weather.forecast/src/io/openems/edge/predictor/weather/forecast/PredictorWeatherForecastModelImpl.java
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/history.module.ts
  ui/src/app/edge/history/peakshaving/threshold/chart.component.ts
  ui/src/app/edge/live/Controller/PeakShaving/Symmetric_Threshold/modal/modal.component.html
  ui/src/app/shared/type/widget.ts
  ui/src/index.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

ChargeDischargeLimiter: Do not balance if above configured price
  io.openems.edge.controller.ess.chargedischargelimiter/bnd.bnd
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/Config.java
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerEssChargeDischargeLimiterImpl.java
  io.openems.edge.controller.symmetric.thresholdpeakshaver/src/io/openems/edge/controller/symmetric/thresholdpeakshaver/ControllerEssThresholdPeakshaverImpl.java
Due: build-java, restore-cache, rebuild-cache

Update ControllerEssChargeDischargeLimiterImpl.java
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerEssChargeDischargeLimiterImpl.java
Due: build-java, restore-cache, rebuild-cache

GoodWe: increase minimum power that will be ignored.
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
Due: build-java, restore-cache, rebuild-cache

Clever-PV Controller
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.common/src/io/openems/edge/common/sum/DummySum.java
  io.openems.edge.controller.cleverpv/.classpath
  io.openems.edge.controller.cleverpv/.gitignore
  io.openems.edge.controller.cleverpv/.project
  io.openems.edge.controller.cleverpv/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.controller.cleverpv/.settings/org.eclipse.jdt.core.prefs
  io.openems.edge.controller.cleverpv/bnd.bnd
  io.openems.edge.controller.cleverpv/src/io/openems/edge/controller/cleverpv/Config.java
  io.openems.edge.controller.cleverpv/src/io/openems/edge/controller/cleverpv/ControllerCleverPv.java
  io.openems.edge.controller.cleverpv/src/io/openems/edge/controller/cleverpv/ControllerCleverPvImpl.java
  io.openems.edge.controller.cleverpv/test/.gitignore
  io.openems.edge.controller.cleverpv/test/io/openems/edge/controller/cleverpv/ControllerCleverPvImplTest.java
  io.openems.edge.controller.cleverpv/test/io/openems/edge/controller/cleverpv/MyConfig.java
  ui/package-lock.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Evcs: add helpers for phases
  io.openems.edge.controller.cleverpv/readme.adoc
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/api/Evcs.java
  io.openems.edge.evcs.hardybarth/src/io/openems/edge/evcs/hardybarth/HardyBarthReadUtils.java
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/kecontact/ReadHandler.java
  io.openems.edge.evcs.mennekes/src/io/openems/edge/evcs/mennekes/EvcsMennekesImpl.java
  io.openems.edge.evcs.spelsberg/src/io/openems/edge/evcs/spelsberg/smart/EvcsSpelsbergSmartImpl.java
  io.openems.edge.evcs.webasto.next/src/io/openems/edge/evcs/webasto/next/EvcsWebastoNextImpl.java
  io.openems.edge.evcs.webasto.unite/src/io/openems/edge/evcs/webasto/unite/EvcsWebastoUniteImpl.java
  io.openems.edge.evcs.webasto.unite/src/io/openems/edge/evcs/webasto/unite/WebastoReadHandler.java
Due: build-java, restore-cache, rebuild-cache

UI: time-of-use rename state to status
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/flat/flat.html
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/modal.html
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

BitsWordElement: Extend it via setToNullIfBit to indicate the invalid bit value input
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/element/BitsWordElement.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/element/BitsWordElementTest.java
Due: build-java, restore-cache, rebuild-cache

UI: Dark-mode Popup
  ui/src/app/app.module.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/modal/modal.component.html
  ui/src/app/edge/settings/jsonrpctest/jsonrpctest.ts
  ui/src/app/edge/settings/settings.spec.ts
  ui/src/app/edge/settings/system/system.component.ts
  ui/src/app/index/login.component.ts
  ui/src/app/shared/components/formly/input.html
  ui/src/app/shared/components/modal/modal.html
  ui/src/app/shared/jsonrpc/shared.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/service/user.service.ts
  ui/src/app/shared/service/websocket.ts
  ui/src/app/user/theme-selection-popup/theme-selection-popover.html
  ui/src/app/user/theme-selection-popup/theme-selection-popover.ts
  ui/src/app/user/user.component.html
  ui/src/app/user/user.component.ts
  ui/src/app/user/user.module.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/img/Dark-Mode-preview.jpg
  ui/src/assets/img/Light-Mode-preview.jpg
  ui/src/assets/img/System-Mode-preview.jpg
  ui/src/global-ion-custom.scss
  ui/src/themes/openems/scss/variables.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Angular 19 migration fixes
  ui/src/app/edge/history/Controller/Ess/GridoptimizedCharge/overview/overview.html
  ui/src/app/edge/history/Controller/Ess/TimeOfUseTariff/chart/chart.ts
  ui/src/app/edge/history/heatpump/chart.component.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/Ess_TimeOfUseTariff.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/powerSocChart.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/statePriceChart.ts
  ui/src/app/edge/live/common/storage/modal/modal.component.html
  ui/src/app/edge/settings/settings.component.html
  ui/src/app/shared/components/chart/chart.constants.ts
  ui/src/app/shared/service/defaulttypes.ts
  ui/src/app/shared/utils/assertions/assertions-utils.ts
  ui/src/app/shared/utils/color/color.utils.spec.ts
  ui/src/app/shared/utils/color/color.utils.ts
  ui/src/app/shared/utils/string/string.utils.spec.ts
  ui/src/app/shared/utils/string/string.utils.ts
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: setting chart afterTitle directly
  ui/src/app/shared/components/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Formly Radio Button
  ui/package-lock.json
  ui/src/app/shared/components/formly/form-field-multi-step/form-field-multi-step.html
  ui/src/app/shared/components/formly/formly-field-checkbox-image/formly-field-checkbox-with-image.html
  ui/src/app/shared/components/formly/formly-radio/formly-radio.ts
  ui/src/app/shared/shared.module.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/global-ion-custom.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: add last setup protocol download to profile
  ui/src/app/app.component.ts
  ui/src/app/app.module.ts
  ui/src/app/edge/history/common/energy/flat/flat.ts
  ui/src/app/edge/history/history.component.ts
  ui/src/app/edge/live/Controller/ModbusTcpApi/modal/modal.ts
  ui/src/app/edge/live/livedataservice.ts
  ui/src/app/edge/settings/profile/profile.component.html
  ui/src/app/edge/settings/profile/profile.component.ts
  ui/src/app/edge/settings/settings.module.ts
  ui/src/app/edge/settings/shared/translation.json
  ui/src/app/index/login.component.ts
  ui/src/app/platform.service.ts
  ui/src/app/shared/jsonrpc/request/getLatestSetupProtocolCoreInfoRequest.ts
  ui/src/app/shared/jsonrpc/request/getSetupProtocolRequest.ts
  ui/src/app/shared/jsonrpc/response/getLatestSetupProtocolCoreInfoResponse.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/service/user.service.ts
  ui/src/app/shared/shared.ts
  ui/src/app/shared/utils/array/array.utils.ts
  ui/src/global-ion-custom.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: IOs Fixes
  ui/src/app/edge/settings/alerting/alerting.component.html
  ui/src/app/platform.service.ts
  ui/src/app/shared/components/status/single/status.component.html
  ui/src/app/user/theme-selection-popup/theme-selection-popover.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Edge: Implement UpdateUserSettingsRequest for edge-uiwebsocket
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/handler/UserRequestHandler.java
Due: build-java, restore-cache, rebuild-cache

UI: enforce datetime format for ion-datetime
  ui/package-lock.json
  ui/package.json
  ui/src/app/edge/live/common/storage/modal/modal.component.ts
  ui/src/app/shared/utils/datetime/datetime-utils.spec.ts
  ui/src/app/shared/utils/datetime/datetime-utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: change visibility of producttype and sumState filter
  ui/src/app/edge/settings/settings.spec.ts
  ui/src/app/index/overview/overview.component.html
  ui/src/app/index/overview/overview.component.spec.ts
  ui/src/app/index/overview/overview.component.ts
  ui/src/app/shared/jsonrpc/shared.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Enable darkmode locally & restrict float number decimals
  ui/src/app/edge/history/Controller/Ess/TimeOfUseTariff/chart/chart.ts
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/components/chart/chart.constants.ts
  ui/src/app/shared/components/shared/formatter.ts
  ui/src/app/shared/jsonrpc/shared.ts
  ui/src/app/shared/service/user.service.ts
  ui/src/app/user/theme-selection-popup/theme-selection-popover.html
  ui/src/app/user/theme-selection-popup/theme-selection-popover.ts
  ui/src/assets/img/dark-mode-preview.jpg
  ui/src/assets/img/light-mode-preview.jpg
  ui/src/assets/img/system-mode-preview.jpg
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Phase-accurate button change
  ui/src/app/edge/history/common/consumption/overview/overview.ts
  ui/src/app/shared/utils/datetime/datetime-utils.spec.ts
  ui/src/app/shared/utils/datetime/datetime-utils.ts
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Increased karma Timeout
  ui/karma.conf.js
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

AppCenter: Only try to get Component if needed
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppDef.java
Due: build-java, restore-cache, rebuild-cache

KEBA: fix EnergyLimitReached when no Limit configured
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/kecontact/ReadHandler.java
  io.openems.edge.evcs.keba.kecontact/test/io/openems/edge/evcs/keba/kecontact/ReadHandlerTest.java
Due: build-java, restore-cache, rebuild-cache

UI: fix evcs modal range slider bug
  ui/src/app/edge/live/Controller/Evcs/modal/modal.html
  ui/src/app/edge/live/Controller/Evcs/modal/modal.ts
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

prepare-commit
  ui/src/app/index/overview/overview.component.spec.ts
  ui/src/app/user/user.component.html
  ui/src/app/user/user.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Updates to Jetty12
  cnf/pom.xml
  io.openems.backend.b2brest/bnd.bnd
  io.openems.backend.b2brest/src/io/openems/backend/b2brest/RestHandler.java
  io.openems.edge.controller.api.rest/bnd.bnd
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/AbstractRestApi.java
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/RestHandler.java
Due: build-java, restore-cache, rebuild-cache
