Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

Merged to OpenEMS
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/meter/victron/acin/Config.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/meter/victron/acin/VictronAcInPowerMeterImpl.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/meter/victron/acout/Config.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/meter/victron/acout/VictronAcOutPowerMeterImpl.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/meter/victron/grid/VictronMeterImpl.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/pvinverter/victron/Config.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/pvinverterviadccharger/victron/Config.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/pvinverterviadccharger/victron/VictronPvInverterViaDcChargerImpl.java
  io.openems.edge.controller.ess.chargedischargelimiter/.classpath
  io.openems.edge.io.opendtu.inverter/src/io/openems/edge/io/opendtu/inverter/Config.java
  io.openems.edge.io.opendtu.inverter/src/io/openems/edge/io/opendtu/inverter/OpendtuImpl.java
  io.openems.edge.meter.eastron/src/io/openems/edge/meter/eastron/sdm630/MeterEastronSdm630Impl.java
  io.openems.edge.meter.eastron/src/io/openems/edge/meter/eastron/sdm630/MeterEastronSdm630Impl.java.241025
  io.openems.edge.meter.emh/src/io/openems/edge/meter/emh/Config.java
  io.openems.edge.meter.emh/src/io/openems/edge/meter/emh/MeterEmhImpl.java
  io.openems.edge.meter.janitza/.classpath
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg104/Config.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg104/MeterJanitzaUmg104Impl.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/gridmeter/SolarEdgeGridMeterImpl.java.241025
Due: build-java, restore-cache, rebuild-cache

added Peakshaving states
  io.openems.edge.controller.symmetric.thresholdpeakshaver/src/io/openems/edge/controller/symmetric/thresholdpeakshaver/ControllerEssThresholdPeakshaverImpl.java
  io.openems.edge.controller.symmetric.thresholdpeakshaver/src/io/openems/edge/controller/symmetric/thresholdpeakshaver/PeakshavingState.java
  ui/src/app/edge/live/Controller/PeakShaving/Symmetric_Threshold/modal/modal.component.ts
  ui/src/assets/i18n/de.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

ENTSO-E + ExchangeRateApi: fix XML parsing + handle exceptions
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoeImpl.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Utils.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/ParserTest.java
Due: build-java, restore-cache, rebuild-cache

use masonry-layout package
  ui/package-lock.json
  ui/package.json
  ui/src/app/edge/live/live.component.html
  ui/src/app/edge/live/live.component.ts
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Add missing file
  io.openems.edge.timeofusetariff.api/src/io/openems/edge/timeofusetariff/api/utils/ExchangeRateApi.java
Due: build-java, restore-cache, rebuild-cache

ENTSO-E: fix parsing of XML, resolution fallback, improve error handling (#2839)
  io.openems.edge.timeofusetariff.api/src/io/openems/edge/timeofusetariff/api/utils/ExchangeRateApi.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoeImpl.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Utils.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/ParserTest.java
Due: build-java, restore-cache, rebuild-cache

use masonry-simple instead
  ui/package-lock.json
  ui/package.json
  ui/src/app/edge/live/live.component.html
  ui/src/app/edge/live/live.component.ts
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

use "ngx-masonry"
  ui/package-lock.json
  ui/package.json
  ui/src/app/edge/live/live.component.html
  ui/src/app/edge/live/live.component.ts
  ui/src/app/edge/live/live.module.ts
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

lint
  ui/src/app/edge/live/live.component.ts
  ui/src/app/edge/live/live.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: replace ?? with ||. to fis the missing alias.
  ui/src/app/edge/live/Multiple/Evcs_Api_Cluster/Evcs_Api_Cluster.html
  ui/src/app/edge/live/Multiple/Evcs_Api_Cluster/Evcs_Api_Cluster.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update ControllerEssChargeDischargeLimiterImpl.java
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerEssChargeDischargeLimiterImpl.java
Due: build-java, restore-cache, rebuild-cache

Update modal.component.ts
  ui/src/app/edge/live/Controller/PeakShaving/Symmetric_Threshold/modal/modal.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

format
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Merge branch 'develop' of https://github.com/DerWahreKlinki/openemsForkKlinki into develop
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerEssChargeDischargeLimiterImpl.java
Due: build-java, restore-cache, rebuild-cache

Added states
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerEssChargeDischargeLimiterImpl.java
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/State.java
Due: build-java, restore-cache, rebuild-cache

Updated UI to new controller states
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/live/Controller/PeakShaving/Symmetric_Threshold/modal/modal.component.ts
  ui/src/app/edge/live/common/storage/modal/modal.component.ts
  ui/src/assets/i18n/de.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

unfinished UI for threshold peakshaver
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/history.module.ts
  ui/src/app/edge/history/peakshaving/threshold/chart.component.ts
  ui/src/app/edge/history/peakshaving/threshold/thresholdpeakshavingchartoverview/thresholdpeakshavingchartoverview.component.html
  ui/src/app/edge/history/peakshaving/threshold/thresholdpeakshavingchartoverview/thresholdpeakshavingchartoverview.component.ts
  ui/src/app/edge/history/peakshaving/threshold/widget.component.html
  ui/src/app/edge/history/peakshaving/threshold/widget.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

minor corrections
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/State.java
  ui/src/app/edge/live/common/storage/modal/modal.component.ts
  ui/src/app/edge/live/common/storage/storage.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Coorection in UI; made calculatedPower method-local
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerEssChargeDischargeLimiterImpl.java
  ui/src/app/edge/live/common/storage/modal/modal.component.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Unify icon styling (#2731)
  ui/src/app/edge/live/Controller/Channelthreshold/Channelthreshold.html
  ui/src/app/edge/live/Controller/ChpSoc/ChpSoc.html
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/Io_ChannelSingleThreshold.html
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/Io_ChannelSingleThreshold.ts
  ui/src/app/shared/components/flat/flat-widget.component.html
  ui/src/app/shared/components/flat/flat.html
  ui/src/app/shared/components/flat/flat.ts
  ui/src/app/shared/type/widget.ts
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Improved methods to get power / energy values from DC or AC coupled systems
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerEssChargeDischargeLimiterImpl.java
Due: build-java, restore-cache, rebuild-cache

remove enum
  io.openems.edge.predictor.api/src/io/openems/edge/predictor/api/prediction/Prediction.java
Due: build-java, restore-cache, rebuild-cache

remove test utils
  io.openems.common/src/io/openems/common/utils/DateUtils.java
  io.openems.common/test/io/openems/common/utils/DateUtilsTest.java
Due: build-java, restore-cache, rebuild-cache

remove duplicate test
  io.openems.common/test/io/openems/common/utils/DateUtilsTest.java
Due: build-java, restore-cache, rebuild-cache

remove line
  io.openems.edge.predictor.api/src/io/openems/edge/predictor/api/prediction/Prediction.java
Due: build-java, restore-cache, rebuild-cache

Update socchart.component.ts
  ui/src/app/edge/history/storage/socchart.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

.
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerEssChargeDischargeLimiter.java
  ui/src/app/edge/history/storage/socchart.component.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
