Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

[UI] Remove forecast from heatpump navi
  ui/src/app/edge/live/Controller/Io/Heatpump/shared/shared.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] NUI: temporary fix for failing QueryHistoricTimeseriesEnergy in storage
  ui/src/app/edge/live/common/storage/new-navigation/new-navigation.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] NUI: Peak-Shaving Symmetric Time Slot
  ui/package-lock.json
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/Controller/peak-shaving/timeslot/flat/flat.html
  ui/src/app/edge/history/Controller/peak-shaving/timeslot/overview/overview.html
  ui/src/app/edge/history/history.module.ts
  ui/src/app/edge/live/Controller/peak-shaving/Asymmetric/Asymmetric.ts
  ui/src/app/edge/live/Controller/peak-shaving/Asymmetric/settings/settings.ts
  ui/src/app/edge/live/Controller/peak-shaving/Symmetric_TimeSlot/Symmetric_TimeSlot.ts
  ui/src/app/edge/live/Controller/peak-shaving/Symmetric_TimeSlot/history/chart/chart.ts
  ui/src/app/edge/live/Controller/peak-shaving/Symmetric_TimeSlot/history/flat/flat.html
  ui/src/app/edge/live/Controller/peak-shaving/Symmetric_TimeSlot/history/flat/flat.ts
  ui/src/app/edge/live/Controller/peak-shaving/Symmetric_TimeSlot/history/new-navigation/new-navigation.html
  ui/src/app/edge/live/Controller/peak-shaving/Symmetric_TimeSlot/history/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/peak-shaving/Symmetric_TimeSlot/history/overview/overview.html
  ui/src/app/edge/live/Controller/peak-shaving/Symmetric_TimeSlot/history/overview/overview.ts
  ui/src/app/edge/live/Controller/peak-shaving/Symmetric_TimeSlot/history/timeslot-peak-shaving.module.ts
  ui/src/app/edge/live/Controller/peak-shaving/Symmetric_TimeSlot/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/peak-shaving/Symmetric_TimeSlot/settings/settings.ts
  ui/src/app/edge/live/Controller/peak-shaving/Symmetric_TimeSlot/shared/shared.ts
  ui/src/app/edge/live/Controller/peak-shaving/shared/shared.ts
  ui/src/app/edge/live/Controller/peak-shaving/symmetric/Symmetric.ts
  ui/src/app/shared/components/formly/formly-field-navigation/formly-field-navigation.html
  ui/src/app/shared/components/formly/formly-weekday-checkbox/formly-weekday-checkbox.html
  ui/src/app/shared/components/formly/formly-weekday-checkbox/formly-weekday-checkbox.ts
  ui/src/app/shared/components/modal/modal-line/modal-line.html
  ui/src/app/shared/components/navigation/navigation-routing.module.ts
  ui/src/app/shared/components/navigation/shared.ts
  ui/src/app/shared/components/shared/oe-formly-component.ts
  ui/src/app/shared/shared.module.ts
  ui/src/app/shared/type/widgets.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] NUI: Refactor Modbus TCP Api
  ui/package-lock.json
  ui/package.json
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/Controller/ModbusTcpApi/chart/chart.ts
  ui/src/app/edge/history/Controller/ModbusTcpApi/flat/flat.html
  ui/src/app/edge/history/Controller/ModbusTcpApi/overview/overview.ts
  ui/src/app/edge/history/Controller/controller.module.ts
  ui/src/app/edge/history/history.module.ts
  ui/src/app/edge/live/Controller/ModbusTcpApi/details/details.ts
  ui/src/app/edge/live/Controller/ModbusTcpApi/history/chart/channels.spec.ts
  ui/src/app/edge/live/Controller/ModbusTcpApi/history/chart/chart.ts
  ui/src/app/edge/live/Controller/ModbusTcpApi/history/flat/flat.html
  ui/src/app/edge/live/Controller/ModbusTcpApi/history/flat/flat.ts
  ui/src/app/edge/live/Controller/ModbusTcpApi/history/modbusTcpApi.module.ts
  ui/src/app/edge/live/Controller/ModbusTcpApi/history/new-navigation/new-navigation.html
  ui/src/app/edge/live/Controller/ModbusTcpApi/history/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/ModbusTcpApi/history/overview/overview.html
  ui/src/app/edge/live/Controller/ModbusTcpApi/history/overview/overview.ts
  ui/src/app/edge/live/Controller/ModbusTcpApi/modal/modal.ts
  ui/src/app/edge/live/Controller/ModbusTcpApi/modbusTcpApi.module.ts
  ui/src/app/edge/live/Controller/ModbusTcpApi/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/ModbusTcpApi/shared/shared.ts
  ui/src/app/edge/live/live.component.html
  ui/src/app/edge/settings/profile/profile.component.ts
  ui/src/app/shared/components/formly/formly-field-navigation/formly-field-navigation.html
  ui/src/app/shared/components/modal/modal-line/modal-line.html
  ui/src/app/shared/components/navigation/navigation-routing.module.ts
  ui/src/app/shared/components/navigation/shared.ts
  ui/src/app/shared/components/shared/oe-formly-component.ts
  ui/src/app/shared/type/widgets.ts
  ui/src/app/shared/utils/file/file-utils.ts
  ui/src/app/shared/utils/utils.ts
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge|Backend] App.Tariff.Manual.EEG2025.GridSell: installable as free App
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/manual/eeg2025/gridsell/AppTariffManualEeg2025GridSell.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Askoma Heat: integration with Energy Schedule
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/manual/eeg2025/gridsell/AppTariffManualEeg2025GridSell.java
  io.openems.edge.energy/bnd.bnd
  io.openems.edge.energy/test/io/openems/edge/energy/EnergySchedulerTestUtils.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/PlotUtils.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/RunOptimizerApp.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/TestConfig.java
  io.openems.edge.heat.askoma/bnd.bnd
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/EnergyScheduler.java
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/HeatAskomaImpl.java
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/jsonrpc/jsonrpc/GetSchedule.java
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/package-info.java
  io.openems.edge.heat.askoma/test/io/openems/edge/heat/askoma/EnergySchedulerTest.java
  ui/src/app/edge/live/Controller/Evse/pages/forecast/forecast.html
  ui/src/app/edge/live/Controller/Heat/Heat.ts
  ui/src/app/edge/live/Controller/Heat/forecast/chart/power.chart.ts
  ui/src/app/edge/live/Controller/Heat/forecast/chart/schedule.chart.ts
  ui/src/app/edge/live/Controller/Heat/forecast/forecast.html
  ui/src/app/edge/live/Controller/Heat/forecast/forecast.ts
  ui/src/app/edge/live/Controller/Heat/i18n/de.json
  ui/src/app/edge/live/Controller/Heat/i18n/en.json
  ui/src/app/edge/live/Controller/Heat/jsonrpc/getScheduleRequest.ts
  ui/src/app/edge/live/Controller/Heat/jsonrpc/getScheduleResponse.ts
  ui/src/app/edge/live/Controller/Heat/shared/shared.spec.ts
  ui/src/app/edge/live/Controller/Heat/shared/shared.ts
  ui/src/app/shared/components/navigation/navigation-routing.module.ts
  ui/src/app/shared/type/widgets.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Fix reset of accumulated channels after system restart
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/ResendHistoricDataWorker.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/api/AbstractFixStateOfCharge.java
  io.openems.edge.evcs.ocpp.common/src/io/openems/edge/evcs/ocpp/common/AbstractManagedOcppEvcsComponent.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/charger/mppt/twostring/GoodWeChargerMpptTwoStringImpl.java
  io.openems.edge.kaco.blueplanet.hybrid10/src/io/openems/edge/kaco/blueplanet/hybrid10/ess/KacoBlueplanetHybrid10EssImpl.java
  io.openems.edge.timedata.api/src/io/openems/edge/timedata/api/utils/CalculateActiveTime.java
  io.openems.edge.timedata.api/src/io/openems/edge/timedata/api/utils/CalculateEnergyFromPower.java
  io.openems.edge.timedata.api/src/io/openems/edge/timedata/api/utils/TimedataQueryRetryHandler.java
  io.openems.edge.timedata.api/test/io/openems/edge/timedata/api/utils/CalculateActiveTimeTest.java
  io.openems.edge.timedata.api/test/io/openems/edge/timedata/api/utils/CalculateEnergyFromPowerTest.java
  io.openems.edge.timedata.api/test/io/openems/edge/timedata/api/utils/CalculateStateCounterTest.java
  io.openems.edge.timedata.api/test/io/openems/edge/timedata/api/utils/TimedataQueryRetryHandlerTest.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/Rrd4jReadHandler.java
Due: build-java, restore-cache, rebuild-cache

[UI] New Grid Optimized Charge
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/settings/settings.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/shared/shared.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/history/chart/chart.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/utils.ts
  ui/src/app/shared/components/formly/formly-field-modal/formly-field-modal.html
  ui/src/app/shared/components/formly/formly-field-navigation/formly-field-navigation.html
  ui/src/app/shared/components/modal/modal-info-line/modal-info-line.html
  ui/src/app/shared/components/modal/modal-info-line/modal-info-line.ts
  ui/src/app/shared/utils/utils.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] New Grid Optimized Charge
  io.openems.common/src/io/openems/common/utils/JsonUtils.java
  io.openems.common/test/io/openems/common/utils/JsonUtilsTest.java
  io.openems.edge.common/src/io/openems/edge/common/meta/Meta.java
  io.openems.edge.common/src/io/openems/edge/common/test/DummyMeta.java
  io.openems.edge.controller.cleverpv/src/io/openems/edge/controller/cleverpv/ControllerCleverPvImpl.java
  io.openems.edge.controller.ess.gridoptimizedcharge/src/io/openems/edge/controller/ess/gridoptimizedcharge/ControllerEssGridOptimizedCharge.java
  io.openems.edge.controller.ess.gridoptimizedcharge/src/io/openems/edge/controller/ess/gridoptimizedcharge/ControllerEssGridOptimizedChargeImpl.java
  io.openems.edge.controller.ess.gridoptimizedcharge/src/io/openems/edge/controller/ess/gridoptimizedcharge/DelayChargeRiskLevel.java
  io.openems.edge.controller.ess.gridoptimizedcharge/src/io/openems/edge/controller/ess/gridoptimizedcharge/EnergyScheduler.java
  io.openems.edge.controller.ess.gridoptimizedcharge/test/io/openems/edge/controller/ess/gridoptimizedcharge/EnergySchedulerTest.java
  io.openems.edge.controller.ess.timeofusetariff/bnd.bnd
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/Config.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/EnergyScheduler.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/GridOptimizedChargeUtils.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/Mode.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/StateMachine.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/Utils.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/v1/UtilsV1.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/EnergySchedulerTest.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/GridOptimizedChargeUtilsTest.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/MyConfig.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImplTest.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/UtilsTest.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/jsonrpc/GetScheduleResponseTest.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/cluster/EshUtilsTest.java
  io.openems.edge.core/src/io/openems/edge/core/meta/MetaImpl.java
  io.openems.edge.core/test/io/openems/edge/core/meta/MetaImplTest.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulation/EnergyFlow.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulation/GlobalOptimizationContext.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulation/GocBuilder.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/test/DummyGlobalOptimizationContext.java
  io.openems.edge.energy/src/io/openems/edge/energy/v1/optimizer/SimulatorV1.java
  io.openems.edge.energy/test/io/openems/edge/energy/EnergySchedulerImplTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/EnergySchedulerTestUtils.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/SimulatorTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/AppUtils.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/PlotUtils.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/TestConfig.java
Due: build-java, restore-cache, rebuild-cache

[Common] IntelliJ project configuration for Eclipse code formatting and Checkstyle
  .gitignore
  .idea/checkstyle-idea.xml
  .idea/eclipseCodeFormatter.xml
Due: none

[UI/Edge] Controller.Io.HeatPump.SgReady: add optional meter
  io.openems.common/src/io/openems/common/utils/StringUtils.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
  io.openems.edge.controller.io.heatpump.sgready/bnd.bnd
  io.openems.edge.controller.io.heatpump.sgready/src/io/openems/edge/controller/io/heatpump/sgready/Config.java
  io.openems.edge.controller.io.heatpump.sgready/src/io/openems/edge/controller/io/heatpump/sgready/ControllerIoHeatPumpSgReady.java
  io.openems.edge.controller.io.heatpump.sgready/src/io/openems/edge/controller/io/heatpump/sgready/ControllerIoHeatPumpSgReadyImpl.java
  io.openems.edge.controller.io.heatpump.sgready/test/io/openems/edge/controller/io/heatpump/sgready/ControllerIoHeatPumpSgReadyImplTest.java
  io.openems.edge.controller.io.heatpump.sgready/test/io/openems/edge/controller/io/heatpump/sgready/MyConfig.java
  io.openems.edge.core/src/io/openems/edge/app/common/components/CommonComponents.java
  io.openems.edge.core/src/io/openems/edge/app/common/props/ComponentProps.java
  io.openems.edge.core/src/io/openems/edge/app/common/props/MeterIntegrationUtil.java
  io.openems.edge.core/src/io/openems/edge/app/enums/MeterIntegration.java
  io.openems.edge.core/src/io/openems/edge/app/enums/MeterType.java
  io.openems.edge.core/src/io/openems/edge/app/heat/HeatPump.java
  io.openems.edge.core/src/io/openems/edge/app/heat/HeatingElement.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/app/heat/TestHeatPump.java
  ui/src/app/edge/live/Controller/Io/Heatpump/flat/flat.html
  ui/src/app/edge/live/Controller/Io/Heatpump/flat/flat.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/history/chart/chart.constants.spec.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/history/chart/chart.spec.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/history/chart/chart.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/history/flat/flat.html
  ui/src/app/edge/live/Controller/Io/Heatpump/history/flat/flat.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/shared/shared.ts
  ui/src/app/edge/live/live.component.html
  ui/src/app/shared/components/edge/edgeconfig.spec.ts
  ui/src/app/shared/components/navigation/navigation-routing.module.ts
  ui/src/app/shared/components/navigation/service/navigation.service.ts
  ui/src/app/shared/components/navigation/shared.ts
  ui/src/app/shared/type/widget.ts
  ui/src/app/shared/type/widgets.ts
  ui/src/app/shared/utils/number/number-utils.ts
  ui/src/app/shared/utils/utils.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] E-Mobility: Mennekes Phase-Switch
  io.openems.common/src/io/openems/common/types/SemanticVersion.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/RunUtils.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/CombinedAbilities.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/ControllerEvseSingleImpl.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/Types.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/statemachine/PhaseSwitchHandler.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/cluster/RunUtilsTest.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/single/MyConfig.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/single/UtilsTest.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/single/statemachine/PhaseSwitchHandlerTest.java
  io.openems.edge.evse.api/src/io/openems/edge/evse/api/chargepoint/Profile.java
  io.openems.edge.evse.api/src/io/openems/edge/evse/api/common/ApplyPhaseSwitch.java
  io.openems.edge.evse.api/test/io/openems/edge/evse/api/chargepoint/ProfileTest.java
  io.openems.edge.evse.api/test/io/openems/edge/evse/api/common/ApplyPhaseSwitchTest.java
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evse/chargepoint/alpitronic/AlpitronicsUtils.java
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evse/chargepoint/alpitronic/Config.java
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evse/chargepoint/alpitronic/EvseAlpitronicImpl.java
  io.openems.edge.evse.chargepoint.bender/src/io/openems/edge/evse/chargepoint/bender/AbstractEvseChargePointBender.java
  io.openems.edge.evse.chargepoint.bender/src/io/openems/edge/evse/chargepoint/bender/EvseChargePointBender.java
  io.openems.edge.evse.chargepoint.bender/src/io/openems/edge/evse/chargepoint/bender/OcppState.java
  io.openems.edge.evse.chargepoint.bender/src/io/openems/edge/evse/chargepoint/bender/VehicleState.java
  io.openems.edge.evse.chargepoint.bender/test/io/openems/edge/evse/chargepoint/bender/AbstractEvseChargePointBenderTest.java
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evse/chargepoint/keba/common/EvseKebaUtils.java
  io.openems.edge.evse.chargepoint.mennekes/src/io/openems/edge/evse/chargepoint/mennekes/EvseMennekesImpl.java
  io.openems.edge.evse.chargepoint.mennekes/src/io/openems/edge/evse/chargepoint/mennekes/common/AbstractMennekes.java
  io.openems.edge.evse.chargepoint.mennekes/src/io/openems/edge/evse/chargepoint/mennekes/common/Mennekes.java
  io.openems.edge.evse.chargepoint.mennekes/src/io/openems/edge/evse/chargepoint/mennekes/enums/PhaseSwitchMode.java
  io.openems.edge.evse.chargepoint.mennekes/test/io/openems/edge/evcs/mennekes/EvcsMennekesTest.java
  io.openems.edge.evse.chargepoint.mennekes/test/io/openems/edge/evse/chargepoint/mennekes/EvseChargePointMennekesTest.java
  io.openems.edge.evse.chargepoint.mennekes/test/io/openems/edge/evse/chargepoint/mennekes/common/MennekesTestFixtures.java
  io.openems.edge.evse.chargepoint.mennekes/test/io/openems/edge/evse/chargepoint/mennekes/common/TestUtils.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Implement Braiins OS meter
  io.openems.backend.timedata.aggregatedinflux/src/io/openems/backend/timedata/aggregatedinflux/AllowedChannels.java
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/authentication/HttpBridgeAuthenticationService.java
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/authentication/HttpBridgeAuthenticationServiceDefinition.java
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.braiinsos/.classpath
  io.openems.edge.braiinsos/.gitignore
  io.openems.edge.braiinsos/.project
  io.openems.edge.braiinsos/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.braiinsos/.settings/org.eclipse.jdt.core.prefs
  io.openems.edge.braiinsos/bnd.bnd
  io.openems.edge.braiinsos/readme.adoc
  io.openems.edge.braiinsos/src/io/openems/edge/braiinsos/Config.java
  io.openems.edge.braiinsos/src/io/openems/edge/braiinsos/ControllerBraiinsSingle.java
  io.openems.edge.braiinsos/src/io/openems/edge/braiinsos/ControllerBraiinsSingleImpl.java
  io.openems.edge.braiinsos/src/io/openems/edge/braiinsos/Mode.java
  io.openems.edge.braiinsos/src/io/openems/edge/braiinsos/api/AuthLogin.java
  io.openems.edge.braiinsos/src/io/openems/edge/braiinsos/api/BraiinsApi.java
  io.openems.edge.braiinsos/src/io/openems/edge/braiinsos/api/MinerStats.java
  io.openems.edge.braiinsos/test/.gitignore
  io.openems.edge.braiinsos/test/io/openems/edge/braiinsos/BraiinsImplTest.java
  io.openems.edge.braiinsos/test/io/openems/edge/braiinsos/MinerStatsTest.java
  io.openems.edge.braiinsos/test/io/openems/edge/braiinsos/MyConfig.java
  io.openems.edge.braiinsos/test/io/openems/edge/braiinsos/api/BraiinsApiTest.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/package-info.java
  io.openems.edge.controller.ess.timeofusetariff/bnd.bnd
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/Types.java
  ui/src/app/shared/components/edge/edgeconfig.spec.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Refactor Edge Live navigation and add Braiins pages
  ui/.vscode/settings.json
  ui/src/app/edge/live/Controller/Ess/FixActivePower/shared/shared.ts
  ui/src/app/edge/live/Controller/Evse/shared/shared.ts
  ui/src/app/edge/live/Controller/Io/Braiins/braiins.module.ts
  ui/src/app/edge/live/Controller/Io/Braiins/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Io/Braiins/pages/group/group.html
  ui/src/app/edge/live/Controller/Io/Braiins/pages/group/group.ts
  ui/src/app/edge/live/Controller/Io/Braiins/shared/shared.ts
  ui/src/app/edge/live/Controller/ModbusTcpApi/new-navigation/new-navigation.ts
  ui/src/app/edge/live/common/consumption/new-navigation/chart/consumption-chart-component.ts
  ui/src/app/edge/live/common/consumption/new-navigation/new-navigation.ts
  ui/src/app/edge/live/common/grid/new-navigation/new-navigation.ts
  ui/src/app/edge/live/common/production/new-navigation/new-navigation.ts
  ui/src/app/edge/live/common/storage/new-navigation/chart/mode-chart.ts
  ui/src/app/edge/live/common/storage/new-navigation/new-navigation.ts
  ui/src/app/edge/live/common/storage/shared/shared.ts
  ui/src/app/edge/live/fena/fena.component.ts
  ui/src/app/edge/live/live.module.ts
  ui/src/app/edge/live/scheduler/js-calendar/shared-scheduler-js-calendar.ts
  ui/src/app/shared/components/chart/schedule-chart/schedule-chart.ts
  ui/src/app/shared/components/edge/config-components/energy/getSchedule.ts
  ui/src/app/shared/components/edge/edge.ts
  ui/src/app/shared/components/navigation/chips/chips.html
  ui/src/app/shared/components/navigation/chips/chips.ts
  ui/src/app/shared/components/navigation/navigation-routing.module.ts
  ui/src/app/shared/components/navigation/shared.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/type/widget.ts
  ui/src/app/shared/type/widgets.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Askoma & MyPV Consumption UI errors
  ui/src/app/edge/live/common/consumption/shared/shared.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] fix app settings grid layout
  ui/src/app/edge/settings/settings.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Backend] Enable Debug-Mode per User/Edge
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/WsData.java
  io.openems.common/src/io/openems/common/session/AbstractUser.java
Due: build-java, restore-cache, rebuild-cache

[UI] Enable phase switching for mennekes
  ui/src/app/edge/live/Controller/Evse/shared/evse-chargepoint.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] App-Center: EnergyScheduler Version Task
  io.openems.edge.core/src/io/openems/edge/app/common/props/CommonProps.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/HardyBarthEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/KebaEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evse/AppKebaEvse.java
  io.openems.edge.core/src/io/openems/edge/app/evse/AppMennekesEvse.java
  io.openems.edge.core/src/io/openems/edge/app/evse/EvseProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/AppManagerAppHelperImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/Tasks.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/aggregatetask/EnergySchedulerVersionAggregateTask.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/aggregatetask/EnergySchedulerVersionAggregateTaskImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/aggregatetask/EnergySchedulerVersionConfiguration.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/translation_en.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/formly/builder/CheckboxBuilder.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/formly/enums/HintIcon.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/formly/enums/Wrappers.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/app/evcs/HardyBarthEvcsTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerTestBundle.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/dependency/aggregatetask/EnergySchedulerVersionAggregateTaskImplTest.java
  ui/src/app/edge/settings/app/app.module.ts
  ui/src/app/edge/settings/app/formly/formly-hint.ts
  ui/src/app/edge/settings/app/jsonrpc/getAppAssistant.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Mennekes App Release
  io.openems.edge.core/src/io/openems/edge/app/evse/AppMennekesEvse.java
Due: build-java, restore-cache, rebuild-cache

[Edge] FixActivePower: extend Controller capabilities
  io.openems.edge.common/src/io/openems/edge/common/meta/Meta.java
  io.openems.edge.common/src/io/openems/edge/common/test/DummyMeta.java
  io.openems.edge.controller.ess.fixactivepower/src/io/openems/edge/controller/ess/fixactivepower/Config.java
  io.openems.edge.controller.ess.fixactivepower/src/io/openems/edge/controller/ess/fixactivepower/ControllerEssFixActivePower.java
  io.openems.edge.controller.ess.fixactivepower/src/io/openems/edge/controller/ess/fixactivepower/ControllerEssFixActivePowerImpl.java
  io.openems.edge.controller.ess.fixactivepower/src/io/openems/edge/controller/ess/fixactivepower/FallbackHandler.java
  io.openems.edge.controller.ess.fixactivepower/src/io/openems/edge/controller/ess/fixactivepower/HybridEssMode.java
  io.openems.edge.controller.ess.fixactivepower/src/io/openems/edge/controller/ess/fixactivepower/Mode.java
  io.openems.edge.controller.ess.fixactivepower/src/io/openems/edge/controller/ess/fixactivepower/SystemLimitHelper.java
  io.openems.edge.controller.ess.fixactivepower/src/io/openems/edge/controller/ess/fixactivepower/enums/HybridEssMode.java
  io.openems.edge.controller.ess.fixactivepower/src/io/openems/edge/controller/ess/fixactivepower/enums/Mode.java
  io.openems.edge.controller.ess.fixactivepower/src/io/openems/edge/controller/ess/fixactivepower/enums/package-info.java
  io.openems.edge.controller.ess.fixactivepower/src/io/openems/edge/controller/ess/fixactivepower/translation_de.properties
  io.openems.edge.controller.ess.fixactivepower/src/io/openems/edge/controller/ess/fixactivepower/translation_en.properties
  io.openems.edge.controller.ess.fixactivepower/test/io/openems/edge/controller/ess/fixactivepower/ControllerEssFixActivePowerImplTest.java
  io.openems.edge.controller.ess.fixactivepower/test/io/openems/edge/controller/ess/fixactivepower/EnergySchedulerTest.java
  io.openems.edge.controller.ess.fixactivepower/test/io/openems/edge/controller/ess/fixactivepower/MyConfig.java
  io.openems.edge.controller.ess.fixactivepower/test/io/openems/edge/controller/ess/fixactivepower/TestStatic.java
  io.openems.edge.core/src/io/openems/edge/app/core/AppMeta.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/src/io/openems/edge/core/meta/Config.java
  io.openems.edge.core/src/io/openems/edge/core/meta/MetaImpl.java
  io.openems.edge.core/test/io/openems/edge/core/meta/MetaImplTest.java
  io.openems.edge.core/test/io/openems/edge/core/meta/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[UI] NUI: New Manual Charge/Discharge via Fix-Active-Power-Controller
  ui/src/app/edge/live/Controller/Ess/FixActivePower/Ess_FixActivePower.ts
  ui/src/app/edge/live/Controller/Ess/FixActivePower/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Ess/FixActivePower/settings/settings.ts
  ui/src/app/edge/live/Controller/Ess/FixActivePower/shared/shared.ts
  ui/src/app/shared/components/navigation/navigation-routing.module.ts
  ui/src/app/shared/components/shared/converter.ts
  ui/src/app/shared/components/shared/oe-formly-component.ts
  ui/src/app/shared/type/general.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] General Improvements
  ui/capacitor.config.ts
  ui/package-lock.json
  ui/src/app/edge/live/energymonitor/chart/section/abstractsection.component.ts
  ui/src/app/shared/components/edge/config-components/energy/energy.ts
  ui/src/app/shared/components/header/app-header.ts
  ui/src/app/shared/components/header/header.component.html
  ui/src/app/shared/components/modal/help-button/help-button.ts
  ui/src/app/shared/components/modal/modal-info-line/modal-info-line.html
  ui/src/app/shared/components/navigation/chips/chips.html
  ui/src/app/shared/service/auth/auth.service.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] MasterBox: implement Modbus Slave Table
  io.openems.edge.common/src/io/openems/edge/common/modbusslave/ModbusRecordChannel.java
  io.openems.edge.common/src/io/openems/edge/common/modbusslave/ModbusRecordCycleValue.java
  io.openems.edge.common/src/io/openems/edge/common/modbusslave/ModbusRecordInt16.java
  io.openems.edge.common/src/io/openems/edge/common/modbusslave/ModbusRecordInt16Reserved.java
  io.openems.edge.common/src/io/openems/edge/common/modbusslave/ModbusSlaveNatureTable.java
  io.openems.edge.common/src/io/openems/edge/common/modbusslave/ModbusType.java
  io.openems.edge.common/test/io/openems/edge/common/modbusslave/ModbusRecordChannelTest.java
  io.openems.edge.common/test/io/openems/edge/common/modbusslave/ModbusRecordFloat32Test.java
  io.openems.edge.common/test/io/openems/edge/common/modbusslave/ModbusRecordInt16Test.java
  io.openems.edge.common/test/io/openems/edge/common/modbusslave/ModbusRecordString16Test.java
  io.openems.edge.common/test/io/openems/edge/common/modbusslave/ModbusRecordUint16Test.java
  io.openems.edge.common/test/io/openems/edge/common/modbusslave/ModbusRecordUint32Test.java
  io.openems.edge.common/test/io/openems/edge/common/modbusslave/ModbusRecordUint64Test.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/jsonrpc/GetModbusProtocolExportXlsxResponse.java
  io.openems.edge.edge2edge/src/io/openems/edge/edge2edge/common/AbstractEdge2Edge.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/MasterBox2v0.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/MasterBox2v0Impl.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/meter/MasterBox2v0MeterImpl.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/relay/IoMasterBox2v0RelayImpl.java
  io.openems.edge.system.fenecon/test/io/openems/edge/system/fenecon/masterbox2v0/MasterBox2v0ImplTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] NUI: enerixControl
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/Controller/EnerixControl/chart/chart.ts
  ui/src/app/edge/history/Controller/EnerixControl/flat/flat.html
  ui/src/app/edge/history/Controller/controller.module.ts
  ui/src/app/edge/live/Controller/EnerixControl/EnerixControl.ts
  ui/src/app/edge/live/Controller/EnerixControl/flat/flat.ts
  ui/src/app/edge/live/Controller/EnerixControl/history/chart/chart.ts
  ui/src/app/edge/live/Controller/EnerixControl/history/enerixControl.module.ts
  ui/src/app/edge/live/Controller/EnerixControl/history/flat/flat.html
  ui/src/app/edge/live/Controller/EnerixControl/history/flat/flat.ts
  ui/src/app/edge/live/Controller/EnerixControl/history/new-navigation/new-navigation.html
  ui/src/app/edge/live/Controller/EnerixControl/history/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/EnerixControl/history/overview/i18n/de.json
  ui/src/app/edge/live/Controller/EnerixControl/history/overview/i18n/en.json
  ui/src/app/edge/live/Controller/EnerixControl/history/overview/overview.html
  ui/src/app/edge/live/Controller/EnerixControl/history/overview/overview.ts
  ui/src/app/edge/live/Controller/EnerixControl/modal/modal.ts
  ui/src/app/edge/live/Controller/EnerixControl/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/EnerixControl/settings/settings.ts
  ui/src/app/edge/live/Controller/EnerixControl/shared/shared.ts
  ui/src/app/shared/components/navigation/navigation-routing.module.ts
  ui/src/app/shared/components/navigation/shared.ts
  ui/src/app/shared/components/shared/converter.ts
  ui/src/app/shared/type/general.ts
  ui/src/app/shared/type/widgets.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] NUI improve Storage, History, Cockpit and Schedule-Charts
  ui/src/app/edge/history/common/energy/chart/chart.ts
  ui/src/app/edge/history/common/energy/energy.ts
  ui/src/app/edge/history/common/energy/new-navigation/new-navigation.html
  ui/src/app/edge/history/common/energy/new-navigation/new-navigation.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/live/common/grid/new-navigation/new-navigation.ts
  ui/src/app/edge/live/common/storage/new-navigation/chart/mode-chart.ts
  ui/src/app/edge/live/common/storage/new-navigation/chart/soc-chart.ts
  ui/src/app/edge/live/common/storage/new-navigation/new-navigation.ts
  ui/src/app/shared/components/chart/schedule-chart/schedule-chart.ts
  ui/src/app/shared/components/navigation/chips/chips.html
  ui/src/app/shared/components/navigation/navigation-routing.module.ts
  ui/src/app/shared/jsonrpc/shared.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] NUI Chip-Navi: do not show "All Systems" twice
  ui/src/app/shared/components/navigation/chips/chips.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Power Distribution v2: improve reactive power
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/v2/PowerDistribution.java
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/v2/TreeSolver.java
  io.openems.edge.ess.core/test/io/openems/edge/ess/core/power/v2/EssPowerImplTest.java
  io.openems.edge.ess.core/test/io/openems/edge/ess/core/power/v2/PowerDistributionHandlerV2Test.java
  io.openems.edge.ess.core/test/io/openems/edge/ess/core/power/v2/TreeSolverTest.java
  io.openems.edge.ess.core/test/io/openems/edge/ess/core/power/v2/V2TestUtils.java
Due: build-java, restore-cache, rebuild-cache

[UI] Unify page links for BraiinsOS Controller
  ui/src/app/edge/live/Controller/Io/Braiins/shared/shared.ts
  ui/src/app/shared/components/navigation/navigation-routing.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Fix sidemenu not closing on logout
  ui/src/app/app.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] EES Mode-Chart improvements; fix NUI EVCS consumption
  ui/src/app/edge/live/common/consumption/new-navigation/new-navigation.ts
  ui/src/app/edge/live/common/storage/new-navigation/chart/mode-chart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] fix display of weekdays for weekly
  ui/src/app/edge/live/Controller/Io/Braiins/shared/shared.ts
  ui/src/app/shared/components/schedule/schedule.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Common] Fix version update in release scripts
  tools/common.sh
Due: none

[UI] set min 5 for emergency capacity reserve
  ui/src/app/edge/live/common/storage/settings/settings.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Common] Standardize Edge/Backend tuple
  io.openems.backend.core/src/io/openems/backend/core/timedatamanager/TimedataManagerImpl.java
  io.openems.common/src/io/openems/common/oem/OpenemsEdgeOem.java
  io.openems.common/src/io/openems/common/types/Tuple.java
  io.openems.common/src/io/openems/common/types/Tuple2.java
  io.openems.common/test/io/openems/common/types/Tuple2Test.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/TasksSupplierImpl.java
  io.openems.edge.common/src/io/openems/edge/common/type/Tuple.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/EshUtils.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/jsonrpc/GetDigitalInputChannelsOfComponents.java
  io.openems.edge.evse.chargepoint.heidelberg/src/io/openems/edge/evse/chargepoint/heidelberg/connect/EvseChargePointHeidelbergConnectImpl.java
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evse/chargepoint/keba/common/EvseKebaUtils.java
  io.openems.edge.timedata.rrd4j/test/io/openems/edge/timedata/rrd4j/Rrd4jReadHandlerTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] Improve ESS & Grid charts (incl. sell-to-grid-price)
  ui/package-lock.json
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/new-navigation/new-navigation.ts
  ui/src/app/edge/live/common/grid/new-navigation/chart/price-sell-price-chart.ts
  ui/src/app/edge/live/common/grid/new-navigation/new-navigation.ts
  ui/src/app/shared/components/edge/config-components/energy/energy.ts
  ui/src/app/shared/components/edge/config-components/energy/getSchedule.ts
  ui/src/app/shared/service/service.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Fix New Grid Optimized Charge Modes Tooltip units
  ui/src/app/shared/utils/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Askoma & Keba UI intersolar
  ui/src/app/edge/live/Controller/Evse/pages/schedule/schedule.component.ts
  ui/src/app/edge/live/Controller/Evse/shared/i18n/de.json
  ui/src/app/edge/live/Controller/Evse/shared/i18n/en.json
  ui/src/app/edge/live/Controller/Heat/i18n/de.json
  ui/src/app/edge/live/Controller/Heat/i18n/en.json
  ui/src/app/edge/live/Controller/Heat/schedule/schedule.component.html
  ui/src/app/edge/live/Controller/Heat/schedule/schedule.component.ts
  ui/src/app/shared/components/schedule/schedule.component.html
  ui/src/app/shared/components/schedule/schedule.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] ESS Mode-Chart & EnergyJourney
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/history/chart/chart.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/utils.ts
  ui/src/app/edge/live/common/grid/new-navigation/chart/buy-sell-chart.ts
  ui/src/app/edge/live/common/storage/new-navigation/chart/charge-discharge-chart.ts
  ui/src/app/edge/live/common/storage/new-navigation/chart/mode-chart.ts
  ui/src/app/edge/live/common/storage/new-navigation/new-navigation.ts
  ui/src/app/shared/components/chart/chart.constants.ts
  ui/src/app/shared/components/chart/schedule-chart/schedule-chart.spec.ts
  ui/src/app/shared/components/chart/schedule-chart/schedule-chart.ts
  ui/src/app/shared/components/edge/edge.ts
  ui/src/app/shared/components/navigation/service/navigation.service.ts
  ui/src/app/shared/jsonrpc/shared.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location
