Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

[Common] Docs: Dynamic Documentation Generation, Natures (incl. ESS & IO) (#3488)
  README.md
  doc/modules/ROOT/pages/development/documentation.adoc
  doc/modules/ROOT/pages/edge/nature.adoc
  io.openems.edge.ess.api/readme.adoc
  io.openems.edge.io.api/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Remove S213_EVT_UNDEFINED; bit cannot be -1
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/DefaultSunSpecModel.java
Due: build-java, restore-cache, rebuild-cache

Remove okhttp from EdgeApp
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

[Common] Docs: Update architecture.adoc: fixed ul within section process image (#3490)
  doc/modules/ROOT/pages/edge/architecture.adoc
Due: none

Apply prepare-commit.sh
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.meter.fronius/.classpath
  io.openems.edge.meter.fronius/bnd.bnd
  io.openems.edge.meter.fronius/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

[Common] Docs: Update device_service.adoc: corrected title & added services (#3489)
  doc/modules/ROOT/pages/edge/device_service.adoc
Due: none

Added hint to use Sunspec Model Type 'float' to readme
  io.openems.edge.meter.fronius/readme.adoc
Due: build-java, restore-cache, rebuild-cache

corrected test case result (day_yield: 42240)
  io.openems.edge.pvinverter.kostal/test/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPikoImplTest.java
Due: build-java, restore-cache, rebuild-cache

Correct var name and add JavaDoc
  io.openems.edge.pvinverter.kostal/src/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPikoImpl.java
Due: build-java, restore-cache, rebuild-cache

Copy Fronius Smartmeter implementation
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/DefaultSunSpecModel.java
  io.openems.edge.meter.fronius/.classpath
  io.openems.edge.meter.fronius/.gitignore
  io.openems.edge.meter.fronius/.project
  io.openems.edge.meter.fronius/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.meter.fronius/.settings/org.eclipse.jdt.core.prefs
  io.openems.edge.meter.fronius/bnd.bnd
  io.openems.edge.meter.fronius/readme.adoc
  io.openems.edge.meter.fronius/src/io/openems/edge/meter/fronius/Config.java
  io.openems.edge.meter.fronius/src/io/openems/edge/meter/fronius/MeterFronius.java
  io.openems.edge.meter.fronius/src/io/openems/edge/meter/fronius/MeterFroniusImpl.java
  io.openems.edge.meter.fronius/test/io/openems/edge/meter/fronius/MeterFroniusImplTest.java
  io.openems.edge.meter.fronius/test/io/openems/edge/meter/fronius/MyConfig.java
  io.openems.edge.meter.sunspec/.classpath
  io.openems.edge.meter.sunspec/.gitignore
  io.openems.edge.meter.sunspec/.project
  io.openems.edge.meter.sunspec/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.meter.sunspec/bnd.bnd
  io.openems.edge.meter.sunspec/readme.adoc
  io.openems.edge.meter.sunspec/src/io/openems/edge/meter/sunspec/AbstractSunSpecMeter.java
  io.openems.edge.meter.sunspec/src/io/openems/edge/meter/sunspec/MeterChannelId.java
  io.openems.edge.meter.sunspec/src/io/openems/edge/meter/sunspec/package-info.java
  io.openems.edge.meter.sunspec/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

Fix invert logic
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/meter/AbstractSunSpecMeter.java
  io.openems.edge.meter.fronius/test/io/openems/edge/meter/fronius/MeterFroniusImplTest.java
Due: build-java, restore-cache, rebuild-cache

Start development of version 2026.2.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Review (WIP)
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/DefaultSunSpecModel.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/meter/AbstractSunSpecMeter.java
  io.openems.edge.meter.fronius/.settings/org.eclipse.jdt.core.prefs
  io.openems.edge.meter.fronius/src/io/openems/edge/meter/fronius/Config.java
  io.openems.edge.meter.fronius/src/io/openems/edge/meter/fronius/MeterFroniusImpl.java
  io.openems.edge.meter.fronius/test/io/openems/edge/meter/fronius/MeterFroniusImplTest.java
  io.openems.edge.meter.fronius/test/io/openems/edge/meter/fronius/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Complete Modbus JUnit-Test; including "invert"
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/meter/AbstractSunSpecMeter.java
  io.openems.edge.meter.fronius/src/io/openems/edge/meter/fronius/MeterFroniusImpl.java
  io.openems.edge.meter.fronius/test/io/openems/edge/meter/fronius/MeterFroniusImplTest.java
Due: build-java, restore-cache, rebuild-cache

Changed fronius meter implementation (S213) to ValuePoint
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/DefaultSunSpecModel.java
Due: build-java, restore-cache, rebuild-cache

Bug/plc 64 mapping enums
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/utils/PlcNextChannelValueTypeHelper.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/ess/PlcNextEssImplTest.java
Due: build-java, restore-cache, rebuild-cache

Refactor conversion to Double
  io.openems.edge.controller.io.channelsinglethreshold/src/io/openems/edge/controller/io/channelsinglethreshold/ControllerIoChannelSingleThresholdImpl.java
Due: build-java, restore-cache, rebuild-cache

PLC-55: pv inverter component
  io.openems.edge.phoenixcontact.plcnext/bnd.bnd
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/pvinverter/Config.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/pvinverter/PlcNextPvInverter.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/pvinverter/PlcNextPvInverterGdsDataReadMappingDefinition.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/pvinverter/PlcNextPvInverterGdsDataWriteMappingDefinition.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/pvinverter/PlcNextPvInverterImpl.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/ess/PlcNextEssImplTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/pvinverter/PlcNextPvInverterImplTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/pvinverter/TestConfig.java
Due: build-java, restore-cache, rebuild-cache

Fix wrappers
  io.openems.wrapper/auth0-auth0.bnd
Due: build-java, restore-cache, rebuild-cache

Primitive double
  io.openems.edge.controller.io.channelsinglethreshold/src/io/openems/edge/controller/io/channelsinglethreshold/ControllerIoChannelSingleThresholdImpl.java
Due: build-java, restore-cache, rebuild-cache

PLC-66: fix recovery after unauthorized
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/auth/PlcNextTokenManagerImpl.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/common/auth/PlcNextTokenManagerTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Controller.IO.ChannelSingleThreshold: allow double values as input (#3510)
  io.openems.edge.controller.io.channelsinglethreshold/src/io/openems/edge/controller/io/channelsinglethreshold/ControllerIoChannelSingleThresholdImpl.java
  io.openems.wrapper/auth0-auth0.bnd
Due: build-java, restore-cache, rebuild-cache

Refactor pull-to-refresh component template structure
  ui/src/app/shared/components/pull-to-refresh/pull-to-refresh.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Refactor live.component.html to remove refresher
  ui/src/app/edge/live/live.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update live.component.html
  ui/src/app/edge/live/live.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update pull-to-refresh.ts
  ui/src/app/shared/components/pull-to-refresh/pull-to-refresh.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

PLC-54: hardened driver and Modbus for PCU
  io.openems.edge.phoenixcontact.plcnext/bnd.bnd
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/data/PlcNextGdsDataProviderImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/ess/PlcNextEssImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/loadcircuit/Config.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/loadcircuit/PlcNextLoadCircuit.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/loadcircuit/PlcNextLoadCircuitImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/meter/PlcNextMeterImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/pvinverter/PlcNextPvInverterImpl.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/loadcircuit/PlcNextLoadCircuitImplTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/loadcircuit/TestConfig.java
Due: build-java, restore-cache, rebuild-cache

[Common] Enhance OAuth2 logout and discovery handling
  io.openems.backend.authentication.api/src/io/openems/backend/authentication/api/AuthUserAuthorizationCodeFlowService.java
  io.openems.backend.authentication.oauth2/src/io/openems/backend/authentication/oauth2/KeycloakApi.java
  io.openems.backend.authentication.oauth2/src/io/openems/backend/authentication/oauth2/OAuthUserAuthenticationServiceConfig.java
  io.openems.backend.authentication.oauth2/src/io/openems/backend/authentication/oauth2/OAuthUserAuthenticationServiceImpl.java
  io.openems.backend.authentication.oauth2/src/io/openems/backend/authentication/oauth2/OidcClient.java
  io.openems.backend.authentication.oauth2/src/io/openems/backend/authentication/oauth2/OidcDiscovery.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/OAuthAuthenticationHandler.java
  ui/src/app/shared/service/auth/jsonrpc.ts
  ui/src/app/shared/service/auth/oauth.service.ts
  ui/src/app/shared/service/websocket.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Refactor OAuthService comments and method order
  ui/src/app/shared/service/auth/oauth.service.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Checkstyle
  io.openems.backend.authentication.oauth2/src/io/openems/backend/authentication/oauth2/OidcClient.java
  io.openems.backend.authentication.oauth2/src/io/openems/backend/authentication/oauth2/OidcDiscovery.java
Due: build-java, restore-cache, rebuild-cache

Add OIDC authentication tests
  io.openems.backend.authentication.oauth2/test/io/openems/backend/authentication/oauth2/OidcClientTest.java
  io.openems.backend.authentication.oauth2/test/io/openems/backend/authentication/oauth2/OidcDiscoveryTest.java
Due: build-java, restore-cache, rebuild-cache

PLC-54: use proper write channels
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/ess/PlcNextEssImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/pvinverter/PlcNextPvInverterGdsDataWriteMappingDefinition.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/pvinverter/PlcNextPvInverterImpl.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/pvinverter/PlcNextPvInverterImplTest.java
Due: build-java, restore-cache, rebuild-cache

adapted test case (day_yield: 42 -> 42.24)
  io.openems.edge.pvinverter.kostal/test/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPikoImplTest.java
Due: build-java, restore-cache, rebuild-cache

Corrected dayYiel from kWh to kWh and corrected Units of totalYield and dayYield
  io.openems.edge.pvinverter.kostal/src/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPiko.java
  io.openems.edge.pvinverter.kostal/src/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPikoImpl.java
Due: build-java, restore-cache, rebuild-cache

Added '.' in javadoc to satisfy ant:checkstyle
  io.openems.edge.pvinverter.kostal/src/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPikoImpl.java
Due: build-java, restore-cache, rebuild-cache

Update readme.adoc: list formatting
  io.openems.edge.io.shelly/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Update readme.adoc: added product link for Shelly Plug S
  io.openems.edge.io.shelly/readme.adoc
Due: build-java, restore-cache, rebuild-cache
