Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm --force
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng config cli.cache.path "/woodpecker/.ng"
  ...

refresh-location:
  image: appleboy/drone-ssh
  host: 10.0.0.40
  username: fenecon-docs
  timeout: 10s
  key:
    from_secret: ssh_key_intranet
  script:
  - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

refactor GridModal
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/common/grid/chart/chart.ts
  ui/src/app/edge/history/common/grid/flat/flat.html
  ui/src/app/edge/history/common/grid/flat/flat.ts
  ui/src/app/edge/history/common/grid/module.ts
  ui/src/app/edge/history/common/grid/overview/overview.html
  ui/src/app/edge/history/common/grid/overview/overview.ts
  ui/src/app/edge/history/common/module.ts
  ui/src/app/edge/history/grid/chart.component.ts
  ui/src/app/edge/history/grid/gridchartoverview/gridchartoverview.component.html
  ui/src/app/edge/history/grid/gridchartoverview/gridchartoverview.component.ts
  ui/src/app/edge/history/grid/widget.component.html
  ui/src/app/edge/history/grid/widget.component.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/history.module.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/chart/chart.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

refactor productionmodule to be lowerCase
  ui/src/app/edge/history/common/production/production.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

apply recommended changes in [fdb5b63]
  ui/src/app/edge/history/common/autarchy/chart/chart.ts
  ui/src/app/edge/history/common/grid/chart/chart.ts
  ui/src/app/edge/history/common/module.ts
  ui/src/app/edge/history/common/production/chart/chargerChart.ts
  ui/src/app/edge/history/common/production/chart/productionMeterChart.ts
  ui/src/app/edge/history/common/production/chart/totalAcChart.ts
  ui/src/app/edge/history/common/production/chart/totalChart.ts
  ui/src/app/edge/history/common/production/chart/totalDcChart.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/service/defaulttypes.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

remove unnecessary changes
  ui/src/app/edge/history/common/grid/chart/chart.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/chart/chart.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Introduce `onValueUpdate` method on Channel-Doc
  io.openems.edge.battery.fenecon.commercial/src/io/openems/edge/battery/fenecon/commercial/FeneconCommercialBattery.java
  io.openems.edge.battery.fenecon.commercial/src/io/openems/edge/battery/fenecon/commercial/FeneconCommercialBatteryImpl.java
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractDoc.java
Due: build-java, restore-cache, rebuild-cache

UI: Change in commercial modbus ip address. (#666)
  ui/src/app/edge/installation/installation-systems/commercial/abstract-commercial.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

AbstractDoc: fix JavaDoc, better definition of COMPONENT class
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractDoc.java
Due: build-java, restore-cache, rebuild-cache

Migrate FeneconCommercialBattery
  io.openems.edge.battery.fenecon.commercial/src/io/openems/edge/battery/fenecon/commercial/FeneconCommercialBattery.java
  io.openems.edge.battery.fenecon.commercial/src/io/openems/edge/battery/fenecon/commercial/FeneconCommercialBatteryImpl.java
Due: build-java, restore-cache, rebuild-cache

Migrate FeneconHomeBattery
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/FeneconHomeBattery.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/FeneconHomeBatteryImpl.java
Due: build-java, restore-cache, rebuild-cache

extending getting started for implementation of ui-widget
  doc/modules/ROOT/assets/images/ui-flat-widget-autarchy.png
  doc/modules/ROOT/assets/images/ui-flat-widget-consumption.png
  doc/modules/ROOT/pages/ui/implementing-a-widget.adoc
Due: none

Migrate Sinexcel
  io.openems.edge.batteryinverter.api/src/io/openems/edge/batteryinverter/api/OffGridBatteryInverter.java
  io.openems.edge.batteryinverter.sinexcel/src/io/openems/edge/batteryinverter/sinexcel/Sinexcel.java
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractDoc.java
Due: build-java, restore-cache, rebuild-cache

FENECON Commercial Battery: Addition of persistence priority to the module channel id (#667)
  io.openems.edge.battery.fenecon.commercial/src/io/openems/edge/battery/fenecon/commercial/FeneconCommercialBatteryImpl.java
Due: build-java, restore-cache, rebuild-cache

UI: update registration form (#665)
  ui/src/app/registration/modal/modal.component.html
  ui/src/app/registration/modal/modal.component.ts
  ui/src/app/registration/registration.component.html
  ui/src/assets/i18n/cz.json
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/es.json
  ui/src/assets/i18n/fr.json
  ui/src/assets/i18n/nl.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

AppCenter: add installation hint for relay (#653)
  io.openems.edge.core/src/io/openems/edge/app/common/props/CommonProps.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/EvcsProps.java
  io.openems.edge.core/src/io/openems/edge/app/hardware/KMtronic8Channel.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
Due: build-java, restore-cache, rebuild-cache

AppCenter: Openems Beta Apps (#657)
  io.openems.edge.core/src/io/openems/edge/app/common/props/CommonProps.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/DezonyEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/DezonyEvcs.png
  io.openems.edge.core/src/io/openems/edge/app/evcs/EvcsProps.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/IesKeywattEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/meter/MicrocareSdm630Meter.java
  io.openems.edge.core/src/io/openems/edge/app/meter/MicrocareSdm630Meter.png
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AbstractOpenemsAppWithProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/JsonFormlyUtil.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/OpenemsApp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/OpenemsAppStatus.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/flag/Flag.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/flag/Flags.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/jsonrpc/GetApp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
Due: build-java, restore-cache, rebuild-cache

Revert "UI: Change in commercial modbus ip address. (#666)"
  ui/src/app/edge/installation/installation-systems/commercial/abstract-commercial.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add custom color for production
  ui/src/app/edge/history/common/production/flat/flat.html
  ui/src/app/edge/live/common/production/flat/flat.html
  ui/src/app/edge/live/energymonitor/chart/section/production.component.html
  ui/src/themes/openems/scss/variables.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Rename Channel event callback methods
  io.openems.edge.battery.fenecon.commercial/src/io/openems/edge/battery/fenecon/commercial/FeneconCommercialBattery.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/FeneconHomeBattery.java
  io.openems.edge.batteryinverter.sinexcel/src/io/openems/edge/batteryinverter/sinexcel/Sinexcel.java
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractDoc.java
Due: build-java, restore-cache, rebuild-cache

Add Channel.ifPresent as shortcut for Optional.ifPresent
  io.openems.edge.common/src/io/openems/edge/common/channel/value/Value.java
Due: build-java, restore-cache, rebuild-cache

Migrate GridOptimizedCharge
  io.openems.edge.controller.ess.gridoptimizedcharge/src/io/openems/edge/controller/ess/gridoptimizedcharge/GridOptimizedCharge.java
Due: build-java, restore-cache, rebuild-cache

Migrate PowerConstraint
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractDoc.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/ManagedAsymmetricEss.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/ManagedSymmetricEss.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/PowerConstraint.java
Due: build-java, restore-cache, rebuild-cache

Migrate EssDcCharger
  io.openems.edge.ess.api/src/io/openems/edge/ess/dccharger/api/EssDcCharger.java
Due: build-java, restore-cache, rebuild-cache

Migrate MirrorToDebugChannel
  io.openems.edge.battery.bmw/src/io/openems/edge/battery/bmw/BmwBattery.java
  io.openems.edge.common/src/io/openems/edge/common/channel/BooleanWriteChannel.java
  io.openems.edge.common/src/io/openems/edge/common/channel/EnumWriteChannel.java
  io.openems.edge.common/src/io/openems/edge/common/channel/FloatWriteChannel.java
  io.openems.edge.common/src/io/openems/edge/common/channel/IntegerWriteChannel.java
  io.openems.edge.common/src/io/openems/edge/common/channel/LongWriteChannel.java
  io.openems.edge.common/src/io/openems/edge/common/channel/ShortWriteChannel.java
  io.openems.edge.common/src/io/openems/edge/common/channel/StringWriteChannel.java
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractDoc.java
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/OpenemsTypeWriteDoc.java
  io.openems.edge.ess.fenecon.commercial40/src/io/openems/edge/ess/fenecon/commercial40/charger/EssDcChargerFeneconCommercial40.java
  io.openems.edge.ess.mr.gridcon/src/io/openems/edge/ess/mr/gridcon/enums/GridConChannelId.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/GoodWe.java
  io.openems.edge.io.kmtronic/src/io/openems/edge/io/kmtronic/eight/KmtronicRelay8Port.java
  io.openems.edge.io.kmtronic/src/io/openems/edge/io/kmtronic/four/KmtronicRelay4Port.java
  io.openems.edge.io.revpi/src/io/openems/edge/io/revpi/RevPiDioChannelId.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly25/Shelly25.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/ShellyPlug.java
Due: build-java, restore-cache, rebuild-cache

Fix CI Builds (#671)
  .woodpecker/.ui-build.yml
  build.gradle
  io.openems.edge.batteryinverter.refu88k/src/io/openems/edge/batteryinverter/refu88k/RefuStore88k.java
  io.openems.wrapper/kotlinx-coroutines-core-jvm.bnd
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Migrate SymmetricMeter
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/SymmetricMeter.java
Due: build-java, restore-cache, rebuild-cache

Migrate EssFeneconCommercial40
  io.openems.edge.ess.fenecon.commercial40/src/io/openems/edge/ess/fenecon/commercial40/EssFeneconCommercial40.java
Due: build-java, restore-cache, rebuild-cache

Migrate ManagedEvcs
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractDoc.java
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/api/ManagedEvcs.java
Due: build-java, restore-cache, rebuild-cache

Fix UI CI build for main and develop
  .woodpecker/.ui-build-master-develop.yml
Due: none

UI: Add IP address to commercial system network configuration (#669)
  ui/src/app/edge/installation/installation-systems/commercial/abstract-commercial.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-30/abstract-commercial-30.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-30/commercial30-anschluss.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-30/commercial30-netztrenn.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-50/abstract-commercial-50.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-50/commercial50-eigenverbrauchsoptimierung.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-50/commercial50-lastspitzenkappung.ts
  ui/src/app/edge/installation/installation-systems/home/home-heckert.ts
  ui/src/app/edge/installation/installation.component.ts
  ui/src/app/edge/installation/shared/ibnutils.ts
  ui/src/app/edge/installation/shared/util.ts
  ui/src/app/edge/installation/views/configuration-execute/configuration-execute.component.ts
  ui/src/app/edge/installation/views/heckert-app-installer/heckert-app-installer.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Add onChannelUpdate; update Javadocs and type checks
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractDoc.java
Due: build-java, restore-cache, rebuild-cache

Migrate HardyBarth evcs
  io.openems.edge.evcs.hardybarth/src/io/openems/edge/evcs/hardybarth/HardyBarth.java
Due: build-java, restore-cache, rebuild-cache

Fix kotlinx warning in Eclipse IDE
  io.openems.wrapper/kotlinx-coroutines-core-jvm.bnd
Due: build-java, restore-cache, rebuild-cache

Migrate FeneconDess
  io.openems.edge.fenecon.dess/src/io/openems/edge/fenecon/dess/ess/FeneconDessEss.java
Due: build-java, restore-cache, rebuild-cache

Migrate FeneconProEss
  io.openems.edge.fenecon.dess/src/io/openems/edge/fenecon/dess/ess/FeneconDessEss.java
  io.openems.edge.fenecon.pro/src/io/openems/edge/fenecon/pro/ess/FeneconProEss.java
Due: build-java, restore-cache, rebuild-cache

Migrate Simulator
  io.openems.edge.simulator/src/io/openems/edge/simulator/evcs/AsymmetricMeterEvcs.java
Due: build-java, restore-cache, rebuild-cache

Sort AbstractDoc
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractDoc.java
Due: build-java, restore-cache, rebuild-cache

Final review
  io.openems.edge.battery.fenecon.commercial/src/io/openems/edge/battery/fenecon/commercial/FeneconCommercialBatteryImpl.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/FeneconHomeBatteryImpl.java
  io.openems.edge.batteryinverter.api/src/io/openems/edge/batteryinverter/api/OffGridBatteryInverter.java
  io.openems.edge.batteryinverter.sinexcel/src/io/openems/edge/batteryinverter/sinexcel/Sinexcel.java
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/OpenemsTypeWriteDoc.java
Due: build-java, restore-cache, rebuild-cache

Fix Checkstyle
  cnf/checkstyle.xml
Due: none

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
