Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

[Edge] AppCenter: add redirect field (Meta settings)
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/IntegratedSystemProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppDef.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/formly/JsonFormlyUtil.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/formly/builder/LinkBuilder.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  ui/src/app/edge/settings/app/app.module.ts
  ui/src/app/edge/settings/app/formly/formly-link.html
  ui/src/app/edge/settings/app/formly/formly-link.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] AppCenter: Make ToU apps compatible with Industrials
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/AwattarHourly.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/EntsoE.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/GroupeE.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/RabotCharge.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/StadtwerkHassfurt.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/StromdaoCorrently.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/Swisspower.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/Tibber.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/TimeOfUseProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/Checkables.java
Due: build-java, restore-cache, rebuild-cache

[Common] CI: Reduce Java build Log output
  build.gradle
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/KacoSunSpecModel.java
  settings.gradle
  tools/common.sh
Due: build-java, restore-cache, rebuild-cache

[Edge] KEBA ChargePoint: fix JUnit-Test
  io.openems.edge.evse.chargepoint.keba/test/io/openems/edge/evcs/keba/udp/ReadWorkerTest.java
  io.openems.edge.evse.chargepoint.keba/test/io/openems/edge/evse/chargepoint/keba/udp/ReadWorkerTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] AppCenter: run deactivation async
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckOr.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Add JSONRPC Request for getting App Instances by Filter
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/jsonrpc/QueryAppInstancesByFilter.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/jsonrpc/UpdateAppConfig.java
  io.openems.edge.core/test/io/openems/edge/app/TestFilter.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/QueryAppInstancesByFilterTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] EVCS Cleanup
  ui/src/app/edge/history/common/consumption/chart/chart.ts
  ui/src/app/edge/history/common/consumption/details/chart/evcs.ts
  ui/src/app/edge/history/common/consumption/flat/flat.html
  ui/src/app/edge/history/common/consumption/flat/flat.ts
  ui/src/app/edge/live/Controller/Evcs/flat/flat.ts
  ui/src/app/edge/live/Controller/Evcs/modal/modal.ts
  ui/src/app/shared/components/edge/components/evcsComponent.spec.ts
  ui/src/app/shared/components/edge/components/evcsComponent.ts
  ui/src/app/shared/components/edge/utils/evcs-utils.spec.ts
  ui/src/app/shared/components/edge/utils/evcs-utils.ts
  ui/src/app/shared/utils/utils.spec.ts
  ui/src/app/shared/utils/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] New Navigation: add check for isEnabled on component
  ui/src/app/shared/components/edge/edge.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] BridgeModbusTcpImplTest: delete JUnit test failing in CI
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/BridgeModbusTcpImplTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] LiveDataService currentData: fix not refreshing bug
  ui/src/app/shared/errors.ts/errors.ts
  ui/src/app/shared/service/websocket.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] History Storage: add fallback channels for non hybrid ess
  ui/src/app/edge/edge.component.ts
  ui/src/app/edge/history/common/storage/chart/totalchart.ts
  ui/src/app/edge/history/common/storage/details/chart/esschart.spec.ts
  ui/src/app/edge/history/common/storage/details/chart/esschart.ts
  ui/src/app/edge/history/common/storage/details/details.overview.html
  ui/src/app/edge/history/common/storage/shared/chart.constants.spec.ts
  ui/src/app/shared/components/edge/edgeconfig.spec.ts
  ui/src/app/shared/components/edge/edgeconfig.ts
  ui/src/app/shared/type/utility.ts
  ui/src/app/shared/utils/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Ability for special warnings
  ui/src/app/app.component.html
  ui/src/app/app.component.ts
  ui/src/app/shared/components/edge/edge.ts
  ui/src/app/shared/components/shared/notification/notification.ts
  ui/src/app/shared/utils/date/dateutils.ts
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Help-Buttons: fix handling of absolute links
  ui/src/app/shared/components/modal/help-button/help-button.html
  ui/src/app/shared/components/modal/help-button/help-button.ts
  ui/src/app/shared/utils/object/object.utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] fix develop
  ui/src/app/shared/components/modal/help-button/help-button.ts
  ui/src/app/shared/components/modal/modal.ts
  ui/src/app/shared/service/websocket.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Unified icons for “Error” status
  ui/src/app/app.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Unified icons for “Error” status
  ui/src/app/shared/components/header/header.component.html
  ui/src/app/shared/components/history-data-error/history-data-error.component.ts
  ui/src/app/shared/components/status/single/status.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Settings: refactor to lazy loaded module
  ui/src/app/app-routing.module.ts
  ui/src/app/app.module.ts
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/edge/history/Controller/Io/heatpump/chart/chart.ts
  ui/src/app/edge/history/Controller/Io/heatpump/overview/overview.ts
  ui/src/app/edge/history/common/production/chart/productionMeterChart.ts
  ui/src/app/edge/history/common/storage/chart/totalchart.ts
  ui/src/app/edge/history/common/storage/details/chart/esschart.ts
  ui/src/app/edge/history/common/storage/details/details.overview.ts
  ui/src/app/edge/history/common/storage/overview/overview.ts
  ui/src/app/edge/settings/alerting/alerting.component.ts
  ui/src/app/edge/settings/app/app.module.ts
  ui/src/app/edge/settings/app/index.component.ts
  ui/src/app/edge/settings/app/install.component.ts
  ui/src/app/edge/settings/app/single.component.ts
  ui/src/app/edge/settings/app/update.component.ts
  ui/src/app/edge/settings/network/network.component.ts
  ui/src/app/edge/settings/powerassistant/powerassistant.ts
  ui/src/app/edge/settings/profile/aliasupdate.component.ts
  ui/src/app/edge/settings/profile/profile.component.ts
  ui/src/app/edge/settings/settings-routing.module.ts
  ui/src/app/edge/settings/settings.component.ts
  ui/src/app/edge/settings/settings.module.ts
  ui/src/app/edge/settings/system/maintenance/maintenance.ts
  ui/src/app/edge/settings/system/oe-system-update.component.ts
  ui/src/app/edge/settings/system/system.component.html
  ui/src/app/edge/settings/system/system.component.ts
  ui/src/app/edge/settings/systemlog/systemlog.component.ts
  ui/src/app/shared/chart-base.module.ts
  ui/src/app/shared/common-ui.module.ts
  ui/src/app/shared/components/chart/chart.module.ts
  ui/src/app/shared/components/components.module.ts
  ui/src/app/shared/components/footer/subnavigation/footerNavigation.module.ts
  ui/src/app/shared/components/modal/modal.module.ts
  ui/src/app/shared/components/pickdate/pickdate.module.ts
  ui/src/app/shared/components/pull-to-refresh/pull-to-refresh.ts
  ui/src/app/shared/provider/live-data-service-provider.ts
  ui/src/app/shared/provider/locale-provider.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] GridOptimizedCharge: fix time format for live
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/modal/modal.html
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/modal/modal.ts
  ui/src/app/shared/components/shared/converter.ts
  ui/src/app/shared/type/language.ts
  ui/src/app/shared/utils/time/timeutils.spec.ts
  ui/src/app/shared/utils/time/timeutils.ts
  ui/src/app/shared/utils/utils.ts
  ui/src/assets/i18n/cz.json
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/es.json
  ui/src/assets/i18n/fr.json
  ui/src/assets/i18n/ja.json
  ui/src/assets/i18n/nl.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] PredictorProductionLinearModel: add channels to track prediction quality
  cnf/pom.xml
  io.openems.edge.predictor.production.linearmodel/bnd.bnd
  io.openems.edge.predictor.production.linearmodel/src/io/openems/edge/predictor/production/linearmodel/PredictionPersistenceService.java
  io.openems.edge.predictor.production.linearmodel/src/io/openems/edge/predictor/production/linearmodel/PredictorProductionLinearModel.java
  io.openems.edge.predictor.production.linearmodel/src/io/openems/edge/predictor/production/linearmodel/PredictorProductionLinearModelImpl.java
  io.openems.edge.predictor.production.linearmodel/test/io/openems/edge/predictor/production/linearmodel/PredictionPersistenceServiceTest.java
  io.openems.edge.weather.openmeteo/src/io/openems/edge/weather/openmeteo/OpenMeteoDelayTimeProvider.java
Due: build-java, restore-cache, rebuild-cache

[UI] Warning Status: consistent usage of warning icon
  ui/src/app/index/shared/sumState.ts
  ui/src/app/shared/components/header/header.component.html
  ui/src/app/shared/components/status/single/status.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge/UI] Meta-App: manage Maximum Grid Feed In Limit settings
  io.openems.edge.controller.ess.gridoptimizedcharge/test/io/openems/edge/controller/ess/gridoptimizedcharge/ControllerEssGridOptimizedChargeImplTest.java
  io.openems.edge.core/src/io/openems/edge/app/core/AppMeta.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome10.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome10Gen2.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome15.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome20.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome30.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome6.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHomeComponents.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/IntegratedSystemProps.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial50Gen3.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial92.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial92ClusterMaster.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AbstractOpenemsApp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AbstractOpenemsAppWithProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppDef.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/OpenemsAppPropertyDefinition.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImplTest.java
  ui/src/app/edge/history/Controller/Ess/GridoptimizedCharge/chart/sellToGridLimitChart.component.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/modal/modal.html
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/modal/modal.ts
  ui/src/app/shared/permissions/edgePermissions.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Common] Fix 'Configuration file ... is marked executable'
  tools/build-debian-package.sh
Due: none

[UI] Settings: fix missing buttons
  ui/src/app/edge/settings/settings.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Common] Update .gitignore
  .gitignore
Due: none

[Edge] ToU Ancillary Costs App: compatible with Industrial
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/AncillaryCosts.java
Due: build-java, restore-cache, rebuild-cache

[UI] Fix for broken modals
  ui/src/app/shared/shared.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Fix footer navigation
  ui/src/app/edge/settings/settings-routing.module.ts
  ui/src/app/shared/components/footer/subnavigation/footerNavigation.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Fix Modals
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.core/src/io/openems/edge/app/evse/AppKebaEvse.java
  io.openems.edge.core/src/io/openems/edge/app/evse/EvseProps.java
  io.openems.edge.core/src/io/openems/edge/app/evse/vehicle/VehicleProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.evcs.alpitronic.hypercharger/src/io/openems/edge/evcs/hypercharger/EvcsAlpitronicHypercharger.java
  io.openems.edge.evse.chargepoint.alpitronic/.classpath
  io.openems.edge.evse.chargepoint.alpitronic/.gitignore
  io.openems.edge.evse.chargepoint.alpitronic/.project
  io.openems.edge.evse.chargepoint.alpitronic/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.evse.chargepoint.alpitronic/bnd.bnd
  io.openems.edge.evse.chargepoint.alpitronic/readme.adoc
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evcs/alpitronic/Config.java
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evcs/alpitronic/EvcsAlpitronic.java
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evcs/alpitronic/EvcsAlpitronicImpl.java
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evse/chargepoint/alpitronic/AlpitronicsUtils.java
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evse/chargepoint/alpitronic/Config.java
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evse/chargepoint/alpitronic/EvseAlpitronic.java
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evse/chargepoint/alpitronic/EvseAlpitronicImpl.java
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evse/chargepoint/alpitronic/common/Alpitronic.java
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evse/chargepoint/alpitronic/enums/AvailableState.java
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evse/chargepoint/alpitronic/enums/Connector.java
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evse/chargepoint/alpitronic/enums/SelectedConnector.java
  io.openems.edge.evse.chargepoint.alpitronic/test/.gitignore
  io.openems.edge.evse.chargepoint.alpitronic/test/io/openems/edge/evcs/alpitronic/EvcsAlpitronicHyperchargerImplTest.java
  io.openems.edge.evse.chargepoint.alpitronic/test/io/openems/edge/evcs/alpitronic/MyConfig.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/Config.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/EvseChargePointHardyImpl.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/MyConfig.java
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evcs/keba/modbus/translation_en.properties
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evse/chargepoint/keba/common/EvseKebaUtils.java
Due: build-java, restore-cache, rebuild-cache

[UI] Update special notifications
  ui/src/app/app.component.ts
  ui/src/app/edge/live/live.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] fix for download button, missing cursor hover and new evse navigation
  ui/src/app/edge/history/common/energy/flat/flat.html
  ui/src/app/edge/live/Controller/Evse/EvseSingle.module.ts
  ui/src/app/edge/settings/settings.module.ts
  ui/src/app/shared/components/flat/flat.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Common] CI Gradle: Print test summaries
  build.gradle
  gradle.properties
Due: build-java, restore-cache, rebuild-cache

[Edge] EVSE State-Machine
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/ControllerEvseClusterImpl.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/Utils.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/ControllerEvseSingle.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/ControllerEvseSingleImpl.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/Params.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/Types.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/Utils.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/statemachine/ChargingHandler.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/statemachine/Context.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/statemachine/EvConnectedHandler.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/statemachine/EvNotConnectedHandler.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/statemachine/FinishedEnergySessionLimitHandler.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/statemachine/FinishedEvStopHandler.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/statemachine/PhaseSwitchHandler.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/statemachine/StateMachine.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/cluster/ControllerEvseClusterImplTest.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/cluster/UtilsTest.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/single/ControllerEvseSingleImplTest.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/single/MyConfig.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/single/TypesTest.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/single/statemachine/StateMachineTest.java
  io.openems.edge.evse.api/src/io/openems/edge/evse/api/chargepoint/Profile.java
  io.openems.edge.evse.api/src/io/openems/edge/evse/api/chargepoint/dummy/DummyEvseChargePoint.java
  io.openems.edge.evse.api/src/io/openems/edge/evse/api/common/ApplySetPoint.java
  io.openems.edge.evse.api/test/io/openems/edge/evse/api/chargepoint/ProfileTest.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/EvseChargePointHardyImpl.java
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evcs/keba/modbus/EvcsKebaModbusImpl.java
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evse/chargepoint/keba/common/EvseKebaUtils.java
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evse/chargepoint/keba/common/Keba.java
Due: build-java, restore-cache, rebuild-cache

[Backend] MetadataOdoo: handle uncached Edges
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
Due: build-java, restore-cache, rebuild-cache

[Edge] UpdateAppConfig: remove unused import
  io.openems.edge.core/src/io/openems/edge/core/appmanager/jsonrpc/UpdateAppConfig.java
Due: build-java, restore-cache, rebuild-cache

[Edge] KEBA UDP: disable flaky JUnit tests
  io.openems.edge.evse.chargepoint.keba/test/io/openems/edge/evcs/keba/udp/EvcsKebaUdpImplTest.java
  io.openems.edge.evse.chargepoint.keba/test/io/openems/edge/evse/chargepoint/keba/udp/EvseChargePointKebaUdpImplTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] EnerixControl
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/Controller/EnerixControl/chart/chart.ts
  ui/src/app/edge/history/Controller/EnerixControl/enerixControl.module.ts
  ui/src/app/edge/history/Controller/EnerixControl/flat/flat.html
  ui/src/app/edge/history/Controller/EnerixControl/flat/flat.ts
  ui/src/app/edge/history/Controller/EnerixControl/overview/overview.html
  ui/src/app/edge/history/Controller/EnerixControl/overview/overview.ts
  ui/src/app/edge/history/Controller/EnerixControl/overview/translation.json
  ui/src/app/edge/history/Controller/controller.module.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/live/Controller/EnerixControl/EnerixControl.ts
  ui/src/app/edge/live/Controller/EnerixControl/flat/flat.html
  ui/src/app/edge/live/Controller/EnerixControl/flat/flat.ts
  ui/src/app/edge/live/Controller/EnerixControl/modal/modal.html
  ui/src/app/edge/live/Controller/EnerixControl/modal/modal.ts
  ui/src/app/edge/live/live.component.html
  ui/src/app/edge/live/live.module.ts
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/components/chart/chart.constants.ts
  ui/src/app/shared/components/shared/converter.ts
  ui/src/app/shared/type/widget.ts
  ui/src/app/shared/utils/utils.ts
  ui/src/assets/i18n/de.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location
