Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

Update bnd
  io.openems.wrapper/fastexcel.bnd
Due: build-java, restore-cache, rebuild-cache

Update package.json
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fixing consumption energy
  io.openems.edge.kostal/src/io/openems/edge/kostal/ess2/KostalManagedEssImpl.java
Due: build-java, restore-cache, rebuild-cache

reverting modbus optimization
  io.openems.edge.kostal/src/io/openems/edge/kostal/ess2/KostalManagedEssImpl.java
Due: build-java, restore-cache, rebuild-cache

removed comments
  io.openems.edge.kostal/src/io/openems/edge/kostal/ess2/KostalManagedEssImpl.java
Due: build-java, restore-cache, rebuild-cache

fixed modbus adresses
  io.openems.edge.kostal/src/io/openems/edge/kostal/ess2/KostalManagedEssImpl.java
Due: build-java, restore-cache, rebuild-cache

adjusted modbus priorities
  io.openems.edge.kostal/src/io/openems/edge/kostal/ess2/KostalManagedEssImpl.java
Due: build-java, restore-cache, rebuild-cache

add Shelly EM Gen 1
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyem/Config.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyem/IoShellyEm.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyem/IoShellyEmImpl.java
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  cnf/build.bnd
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update gradlew
  .gradle-wrapper/gradle-wrapper.jar
  .gradle-wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: build-java, restore-cache, rebuild-cache

Update Gradle to v8.14.0 (#3109)
  .gradle-wrapper/gradle-wrapper.jar
  .gradle-wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: build-java, restore-cache, rebuild-cache

Push version to 2025.5.0
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of 2025.6.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  tools/prepare-next-snapshot.sh
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: use previous update and only for meta new
  ui/src/app/edge/live/common/storage/modal/modal.component.ts
  ui/src/app/shared/components/modal/modal.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

KEBA P40: fix Exception during activate
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/p40/EvcsKebaP40Impl.java
Due: build-java, restore-cache, rebuild-cache

UI: improve action sheet navigation
  ui/src/app/shared/components/edge/edgeconfig.ts
  ui/src/app/shared/components/navigation/navigation.component.ts
  ui/src/app/shared/components/navigation/navigation.service.ts
  ui/src/app/shared/components/navigation/shared.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Edge2Edge Ess: cirular dependency error
  io.openems.edge.edge2edge/src/io/openems/edge/edge2edge/websocket/ess/Edge2EdgeWebsocketEssImpl.java
Due: build-java, restore-cache, rebuild-cache

Improve Battery Protection
  io.openems.edge.battery.api/src/io/openems/edge/battery/protection/BatteryVoltageProtection.java
  io.openems.edge.battery.api/src/io/openems/edge/battery/protection/BatteryVoltageProtectionLimits.java
  io.openems.edge.battery.api/src/io/openems/edge/battery/test/AbstractDummyBattery.java
  io.openems.edge.battery.api/src/io/openems/edge/battery/test/DummyBattery.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/test/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/BatteryInverterKacoBlueplanetGridsaveImplTest.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/common/AbstractAllowedChargeDischargeHandler.java
  io.openems.edge.ess.generic/test/io/openems/edge/ess/generic/symmetric/EssGenericManagedSymmetricImplTest.java
  io.openems.edge.ess.generic/test/io/openems/edge/ess/generic/symmetric/EssProtectionTest.java
Due: build-java, restore-cache, rebuild-cache

UI: Add type to "Get Modbus Protocol" file name when downloading Excel sheet
  ui/src/app/edge/live/Controller/ModbusTcpApi/modal/modal.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: reapply chartdatalabels plugin
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/components/chart/chart.constants.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix storage dataset not assigned to axis
  ui/src/app/edge/history/delayedselltogrid/symmetricpeakshavingchartoverview/delayedselltogridchartoverview.component.html
  ui/src/app/edge/history/peakshaving/asymmetric/asymmetricpeakshavingchartoverview/asymmetricpeakshavingchartoverview.component.html
  ui/src/app/edge/history/peakshaving/symmetric/symmetricpeakshavingchartoverview/symmetricpeakshavingchartoverview.component.html
  ui/src/app/edge/history/peakshaving/timeslot/timeslotpeakshavingchartoverview/timeslotpeakshavingchartoverview.component.html
  ui/src/app/edge/history/storage/singlechart.component.ts
  ui/src/app/edge/history/storage/storagechartoverview/storagechartoverview.component.html
  ui/src/environments/index.scss
  ui/src/global.scss
  ui/src/themes/openems/scss/variables.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

ESS-Power distribution strategy "keep all nearly equal"
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/Solver.java
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/optimizers/KeepAllNearEqual.java
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/solver/nearequal/SolverBySocOptimization.java
  io.openems.edge.ess.core/test/io/openems/edge/ess/core/power/MergeTest.java
  io.openems.edge.ess.core/test/io/openems/edge/ess/core/power/NearEqualSolverTest.java
  io.openems.edge.ess.core/test/io/openems/edge/ess/core/power/PowerComponentTest.java
  io.openems.edge.ess.core/test/io/openems/edge/ess/core/power/PowerComponentTest2.java
  io.openems.edge.ess.core/test/io/openems/edge/ess/core/power/SolverBySocOptimizationTest.java
Due: build-java, restore-cache, rebuild-cache

GoodWe ApplyPowerHandler improvements
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/ApplyPowerHandler.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/ess/GoodWeEssImpl.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/common/ApplyPowerHandlerTest.java
Due: build-java, restore-cache, rebuild-cache

UI: improvements to EVSE+new navigation
  ui/src/app/edge/live/Controller/Evse/modal/forecast/chart/schedule.chart.ts
  ui/src/app/edge/live/Controller/Evse/modal/history/chart/status.chart.ts
  ui/src/app/edge/live/Controller/Evse/modal/history/history.html
  ui/src/app/edge/live/Controller/Evse/modal/modal.html
  ui/src/app/shared/components/shared/converter.ts
  ui/src/app/shared/components/shared/formatter.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: extend alerting with `fault` [BETA-APP]
  tools/common.sh
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/Ess_TimeOfUseTariff.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/modal.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/statePriceChart.ts
  ui/src/app/edge/live/live.module.ts
  ui/src/app/edge/settings/alerting/alerting.component.html
  ui/src/app/edge/settings/alerting/alerting.component.ts
  ui/src/app/edge/settings/alerting/alerting.module.ts
  ui/src/app/edge/settings/alerting/formly/alerting.scss
  ui/src/app/edge/settings/alerting/formly/formly-alerting-configs.ts
  ui/src/app/edge/settings/alerting/formly/formly-current-user-alerting.html
  ui/src/app/edge/settings/alerting/formly/formly-current-user-alerting.ts
  ui/src/app/edge/settings/alerting/formly/formly-other-users-alerting.html
  ui/src/app/edge/settings/alerting/formly/formly-other-users-alerting.ts
  ui/src/app/edge/settings/alerting/shared/translation.json
  ui/src/app/edge/settings/settings.module.ts
  ui/src/app/shared/components/components.module.ts
  ui/src/app/shared/components/modal/help-button/help-button.ts
  ui/src/app/shared/components/modal/modal-button/modal-button.html
  ui/src/app/shared/components/modal/modal.module.ts
  ui/src/app/shared/components/shared/view-component/help-popover/help-popover.html
  ui/src/app/shared/components/shared/view-component/help-popover/help-popover.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesExportXlxs.ts
  ui/src/app/shared/service/utils.spec.ts
  ui/src/app/shared/shared.module.ts
  ui/src/app/shared/utils/form/form.utils.spec.ts
  ui/src/app/shared/utils/form/form.utils.ts
  ui/src/app/shared/utils/time/timeutils.ts
  ui/src/global-ion-custom.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Octopus Heat App: fix Factory-ID
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/manual/OctopusHeat.java
Due: build-java, restore-cache, rebuild-cache

JsonUtils.getAsBestType(): improve Number Type Resolution for JsonPrimitives
  io.openems.common/src/io/openems/common/utils/JsonUtils.java
  io.openems.common/test/io/openems/common/utils/JsonUtilsTest.java
Due: build-java, restore-cache, rebuild-cache

UI: Filters and lists style improvements
  ui/src/app/index/filter/filter.component.html
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Improve formly-select
  ui/src/app/shared/components/formly/formly-select/formly-select.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/environments/index.ts
  ui/src/themes/openems/environments/theme.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

JSCalendar: migration to JsonSerializer
  io.openems.common/src/io/openems/common/jscalendar/JSCalendar.java
  io.openems.common/src/io/openems/common/jsonrpc/serialization/JsonArrayPath.java
  io.openems.common/src/io/openems/common/jsonrpc/serialization/JsonArrayPathNullable.java
  io.openems.common/src/io/openems/common/jsonrpc/serialization/JsonElementPath.java
  io.openems.common/src/io/openems/common/jsonrpc/serialization/JsonElementPathNullable.java
  io.openems.common/src/io/openems/common/jsonrpc/serialization/JsonObjectPath.java
  io.openems.common/src/io/openems/common/jsonrpc/serialization/JsonPrimitivePath.java
  io.openems.common/src/io/openems/common/jsonrpc/serialization/JsonPrimitivePathNullable.java
  io.openems.common/src/io/openems/common/jsonrpc/serialization/JsonSerializer.java
  io.openems.common/src/io/openems/common/jsonrpc/serialization/StringPathParser.java
  io.openems.common/test/io/openems/common/jscalendar/JSCalendarTest.java
  io.openems.edge.controller.ess.emergencycapacityreserve/src/io/openems/edge/controller/ess/emergencycapacityreserve/EnergyScheduler.java
  io.openems.edge.controller.ess.fixactivepower/src/io/openems/edge/controller/ess/fixactivepower/EnergyScheduler.java
  io.openems.edge.controller.ess.gridoptimizedcharge/src/io/openems/edge/controller/ess/gridoptimizedcharge/EnergyScheduler.java
  io.openems.edge.controller.ess.limittotaldischarge/src/io/openems/edge/controller/ess/limittotaldischarge/EnergyScheduler.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/EnergyScheduler.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/ControllerEvseSingle.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/ControllerEvseSingleImpl.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/EnergyScheduler.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/Utils.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/jsonrpc/GetSchedule.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/jsonrpc/GetScheduleRequest.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/jsonrpc/GetScheduleResponse.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/single/EnergySchedulerTest.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/single/jsonrpc/GetScheduleTest.java
  io.openems.edge.controller.io.heating.room/src/io/openems/edge/controller/io/heating/room/ControllerIoRoomHeatingImpl.java
  io.openems.edge.controller.io.heating.room/src/io/openems/edge/controller/io/heating/room/Utils.java
  io.openems.edge.controller.io.heating.room/test/io/openems/edge/controller/io/heating/room/UtilsTest.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/handler/AbstractEnergyScheduleHandler.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/handler/EshWithDifferentModes.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/handler/EshWithOnlyOneMode.java
  io.openems.edge.energy/test/io/openems/edge/energy/EnergySchedulerTestUtils.java
  io.openems.edge.evse.api/src/io/openems/edge/evse/api/Limit.java
  io.openems.edge.evse.api/src/io/openems/edge/evse/api/chargepoint/EvseChargePoint.java
Due: build-java, restore-cache, rebuild-cache

EVSE ChargePoint implementation of HardyBarth
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.evse.chargepoint.hardybarth/.classpath
  io.openems.edge.evse.chargepoint.hardybarth/.gitignore
  io.openems.edge.evse.chargepoint.hardybarth/.project
  io.openems.edge.evse.chargepoint.hardybarth/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.evse.chargepoint.hardybarth/.settings/org.eclipse.jdt.core.prefs
  io.openems.edge.evse.chargepoint.hardybarth/bnd.bnd
  io.openems.edge.evse.chargepoint.hardybarth/readme.adoc
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/ChargePointStatus.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/Config.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/EvseChargePointHardy.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/EvseChargePointHardyImpl.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/ReadUtils.java
  io.openems.edge.evse.chargepoint.hardybarth/test/.gitignore
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/EvseChargePointHardyImplTest.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/MyConfig.java
Due: build-java, restore-cache, rebuild-cache
