Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

adjusted modbus priorities
  io.openems.edge.kostal/src/io/openems/edge/kostal/ess2/KostalManagedEssImpl.java
Due: build-java, restore-cache, rebuild-cache

fixing consumption energy
  io.openems.edge.kostal/src/io/openems/edge/kostal/ess2/KostalManagedEssImpl.java
Due: build-java, restore-cache, rebuild-cache

added sum of channels and option to select which one should be measured
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyem/Config.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyem/IoShellyEmImpl.java
Due: build-java, restore-cache, rebuild-cache

modbus optimizations
  io.openems.edge.kostal/src/io/openems/edge/kostal/ess2/KostalManagedEssImpl.java
Due: build-java, restore-cache, rebuild-cache

add Shelly EM Gen 1
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyem/Config.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyem/IoShellyEm.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyem/IoShellyEmImpl.java
Due: build-java, restore-cache, rebuild-cache

Docs: Update deploy.adoc: typo (#3115)
  doc/modules/ROOT/pages/backend/deploy.adoc
Due: none

Create build_testing.yml
  .github/workflows/build_testing.yml
Due: none

Update docker build (#3114)
  .github/workflows/docker.yml
  tools/docker/backend/Dockerfile
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/init-openems-config/dependencies.d/init-os-end
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/init-openems-config/run
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/init-openems-config/type
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/init-openems-config/up
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/init-permissions/up
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/svc-openems-backend/dependencies.d/init-openems-config
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/svc-openems-backend/notification-fd
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/svc-openems-backend/type
  tools/docker/backend/root/var/lib/openems-default-config/Edge/Websocket.config
  tools/docker/backend/root/var/lib/openems-default-config/Metadata/File.config
  tools/docker/backend/root/var/lib/openems-default-config/Timedata/Dummy.config
  tools/docker/backend/root/var/lib/openems-default-config/Ui/Websocket.config
  tools/docker/backend/root/var/lib/openems-default-metadata/metadata.json
  tools/docker/edge/Dockerfile
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/init-openems-config/dependencies.d/init-os-end
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/init-openems-config/run
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/init-openems-config/type
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/init-openems-config/up
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/init-permissions/type
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/init-permissions/up
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/svc-openems-edge/dependencies.d/init-openems-config
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/svc-openems-edge/notification-fd
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/svc-openems-edge/type
  tools/docker/edge/root/var/lib/openems-default-config/Controller/Api/Websocket/default.config
  tools/docker/edge/root/var/lib/openems-default-config/Scheduler/AllAlphabetically/default.config
  tools/docker/ui/Dockerfile
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-folders/type
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-folders/up
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-keygen/type
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-keygen/up
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-nginx-end/type
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-nginx-end/up
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-nginx/type
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-permissions/type
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-permissions/up
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/svc-openems-ui/notification-fd
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/svc-openems-ui/type
  ui/src/index.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

cleanup
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyem/IoShellyEm.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyem/IoShellyEmImpl.java
Due: build-java, restore-cache, rebuild-cache

LSTM predictor with dropout regularization
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/HyperParameters.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/LstmPredictor.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/train/LstmTrain.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/train/TrainAndValidateBatch.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/util/Cell.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/util/Lstm.java
Due: build-java, restore-cache, rebuild-cache

Update deploy.adoc
  doc/modules/ROOT/pages/backend/deploy.adoc
Due: none

Update docker-compose.yml: removed "version" attribute
  tools/docker/backend/docker-compose.yml
Due: none

Fix translation key of changeComponentHint used in ModbusApiProps
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
Due: build-java, restore-cache, rebuild-cache

LSTM predictor with dropout regularization (#3125)
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/HyperParameters.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/LstmPredictor.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/train/LstmTrain.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/train/TrainAndValidateBatch.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/util/Cell.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/util/Lstm.java
Due: build-java, restore-cache, rebuild-cache

Squashed commit of the following:
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyem/Config.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyem/IoShellyEm.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyem/IoShellyEmImpl.java
Due: build-java, restore-cache, rebuild-cache

Extend deploy documentation
  doc/modules/ROOT/assets/images/deploy-docker-backend-check-version.png
  doc/modules/ROOT/assets/images/deploy-docker-backend.png
  doc/modules/ROOT/assets/images/deploy-docker-edge-check-version.png
  doc/modules/ROOT/assets/images/deploy-docker-edge.png
  doc/modules/ROOT/assets/images/deploy-docker-ssh.png
  doc/modules/ROOT/nav.adoc
  doc/modules/ROOT/pages/backend/deploy/docker.adoc
  doc/modules/ROOT/pages/backend/deploy/systemd.adoc
  doc/modules/ROOT/pages/edge/deploy/docker.adoc
  doc/modules/ROOT/pages/edge/deploy/systemd.adoc
Due: none

Squashed commit of the following:
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyem/IoShellyEm.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyem/IoShellyEmImpl.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyem/IoShellyEmTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyem/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Update docker-compose.yml: removed version tag
  tools/docker/edge/docker-compose.yml
Due: none

Apply codecov threshold per component
  codecov.yml
Due: none

Re-add coverage.status.project.default
  codecov.yml
Due: none

Docs: extend deploy documentation (#3130)
  codecov.yml
  doc/modules/ROOT/assets/images/deploy-docker-backend-check-version.png
  doc/modules/ROOT/assets/images/deploy-docker-backend.png
  doc/modules/ROOT/assets/images/deploy-docker-edge-check-version.png
  doc/modules/ROOT/assets/images/deploy-docker-edge.png
  doc/modules/ROOT/assets/images/deploy-docker-ssh.png
  doc/modules/ROOT/nav.adoc
  doc/modules/ROOT/pages/backend/deploy/docker.adoc
  doc/modules/ROOT/pages/backend/deploy/systemd.adoc
  doc/modules/ROOT/pages/edge/deploy/docker.adoc
  doc/modules/ROOT/pages/edge/deploy/systemd.adoc
Due: none

Docker: update Backend docker-compose.yml (#3127)
  tools/docker/backend/docker-compose.yml
Due: none

Docker: update Edge docker-compose.yml (#3131)
  tools/docker/edge/docker-compose.yml
Due: none

Squashed commit of the following:
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyem/IoShellyEmTest.java
Due: build-java, restore-cache, rebuild-cache

Apply Eclipse Autoformat
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyem/IoShellyEm.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyem/IoShellyEmImpl.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyem/IoShellyEmTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyem/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

fix: correct spelling about receiver.
  ui/angular.json
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/ja.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: correct spelling about receiver.
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/ja.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Squashed commit of the following:
  io.openems.edge.io.shelly/readme.adoc
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyem/IoShellyEmTest.java
Due: build-java, restore-cache, rebuild-cache

Add retrofit group to dependabot
  .github/dependabot.yml
Due: none

Update bnd
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/retrofit-adapter-rxjava3.bnd
  io.openems.wrapper/retrofit-converter-gson.bnd
  io.openems.wrapper/retrofit-converter-scalars.bnd
  io.openems.wrapper/retrofit2.bnd
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update package.json
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix spelling of "receiver" (#3142)
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/ja.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Squashed commit of the following:
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyem/IoShellyEmImpl.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyem/IoShellyEmTest.java
Due: build-java, restore-cache, rebuild-cache

ToU: Add Ancillary costs to ENTSO-E germany
  io.openems.common/src/io/openems/common/jscalendar/JSCalendar.java
  io.openems.common/src/io/openems/common/utils/JsonUtils.java
  io.openems.common/test/io/openems/common/jscalendar/JSCalendarTest.java
  io.openems.edge.timeofusetariff.api/src/io/openems/edge/timeofusetariff/api/TouManualHelper.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/AncillaryCosts.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Config.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/GermanDSO.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoeImpl.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Utils.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/MyConfig.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/ParserTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/TouEntsoeTest.java
  io.openems.edge.timeofusetariff.manual/src/io/openems/edge/timeofusetariff/manual/octopus/go/TouOctopusGoImpl.java
  io.openems.edge.timeofusetariff.manual/src/io/openems/edge/timeofusetariff/manual/octopus/heat/TouOctopusHeatImpl.java
  io.openems.edge.timeofusetariff.manual/test/io/openems/edge/timeofusetariff/manual/TouOctopusGoTest.java
  io.openems.edge.timeofusetariff.manual/test/io/openems/edge/timeofusetariff/manual/TouOctopusHeatTest.java
Due: build-java, restore-cache, rebuild-cache

ESS Generic: fix battery voltage protection NPE
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/common/AbstractAllowedChargeDischargeHandler.java
Due: build-java, restore-cache, rebuild-cache

E-Mobility: P40 Improvements
  io.openems.edge.core/src/io/openems/edge/app/evcs/KebaEvcs.java
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/p40/EvcsKebaP40Impl.java
  ui/src/app/edge/live/Controller/Evcs/modal/modal.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
