Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

[Edge] Heat.Askoma: schedule modes with JSCalendar
  io.openems.edge.heat.api/src/io/openems/edge/heat/api/Heat.java
  io.openems.edge.heat.api/src/io/openems/edge/heat/api/ManagedHeatElement.java
  io.openems.edge.heat.api/src/io/openems/edge/heat/api/Status.java
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/Config.java
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/HeatAskoma.java
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/HeatAskomaImpl.java
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/HeatAskomaModbusProtocol.java
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/HeatAskomaPayload.java
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/statemachine/AbstractFastHeatHandler.java
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/statemachine/AskomaConstants.java
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/statemachine/Context.java
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/statemachine/FastHeatHandler.java
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/statemachine/FastHeatPauseHandler.java
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/statemachine/OffHandler.java
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/statemachine/StateMachine.java
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/statemachine/SurplusHandler.java
  io.openems.edge.heat.askoma/test/io/openems/edge/heat/askoma/HeatAskomaImplTest.java
  io.openems.edge.heat.askoma/test/io/openems/edge/heat/askoma/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[Backend] User Settings of type JsonObject or String
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/http/OdooGetUserInfoResponse.java
  io.openems.backend.metadata.odoo/test/io/openems/backend/metadata/odoo/odoo/http/OdooGetUserInfoResponseTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] add sumstate to every page
  ui/src/app/shared/components/header/app-header.ts
  ui/src/app/shared/components/header/header.component.html
  ui/src/app/shared/components/header/header.component.ts
  ui/src/app/shared/components/status/system/system-status.component.html
  ui/src/app/shared/components/status/system/system-status.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] NUI: Controller.Ess.FixActivePower
  ui/src/app/edge/live/Controller/Ess/FixActivePower/Ess_FixActivePower.ts
  ui/src/app/edge/live/Controller/Ess/FixActivePower/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Ess/FixActivePower/settings/settings.ts
  ui/src/app/edge/live/Controller/Ess/FixActivePower/shared/shared.ts
  ui/src/app/edge/live/live.module.ts
  ui/src/app/shared/components/formly/formly-field-navigation/formly-field-navigation.html
  ui/src/app/shared/components/modal/modal-value-line/modal-value-line.ts
  ui/src/app/shared/components/navigation/navigation-routing.module.ts
  ui/src/app/shared/components/navigation/shared.ts
  ui/src/app/shared/components/shared/filter.ts
  ui/src/app/shared/components/shared/oe-formly-component.ts
  ui/src/app/shared/type/widgets.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] IOC.Fenecon.MasterBox
  io.openems.edge.common/src/io/openems/edge/common/channel/WriteChannel.java
  io.openems.edge.system.fenecon/bnd.bnd
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/Config.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/MasterBox2v0.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/MasterBox2v0Impl.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/ao/Config.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/ao/IoMasterBox2v0Ao.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/ao/IoMasterBox2v0AoImpl.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/enums/GridState.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/enums/StateEnergyMeter.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/meter/Config.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/meter/MasterBox2v0Meter.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/meter/MasterBox2v0MeterImpl.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/relay/IoMasterBox2v0Relay.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/relay/IoMasterBox2v0RelayImpl.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/utils/IocReadValueMapping.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/utils/IocWriteValueMapping.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/utils/MasterBoxModbusComponent.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/utils/MasterBoxReadWriteModbusComponent.java
  io.openems.edge.system.fenecon/test/io/openems/edge/system/fenecon/masterbox2v0/DummyMasterBox2v0.java
  io.openems.edge.system.fenecon/test/io/openems/edge/system/fenecon/masterbox2v0/MasterBox2v0ImplTest.java
  io.openems.edge.system.fenecon/test/io/openems/edge/system/fenecon/masterbox2v0/MyConfig.java
  io.openems.edge.system.fenecon/test/io/openems/edge/system/fenecon/masterbox2v0/ao/MasterBox2v0MeterImplTest.java
  io.openems.edge.system.fenecon/test/io/openems/edge/system/fenecon/masterbox2v0/ao/MyConfig.java
  io.openems.edge.system.fenecon/test/io/openems/edge/system/fenecon/masterbox2v0/meter/MasterBox2v0MeterImplTest.java
  io.openems.edge.system.fenecon/test/io/openems/edge/system/fenecon/masterbox2v0/meter/MyConfig.java
  io.openems.edge.system.fenecon/test/io/openems/edge/system/fenecon/masterbox2v0/relay/IoMasterBox2v0RelayImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Evse.ChargePoint.Mennekes: change SetPoint to Watt
  io.openems.edge.evse.chargepoint.bender/src/io/openems/edge/evse/chargepoint/bender/AbstractEvseChargePointBender.java
  io.openems.edge.evse.chargepoint.bender/src/io/openems/edge/evse/chargepoint/bender/EvseChargePointBender.java
  io.openems.edge.evse.chargepoint.mennekes/src/io/openems/edge/evse/chargepoint/mennekes/EvseMennekesImpl.java
  io.openems.edge.evse.chargepoint.mennekes/src/io/openems/edge/evse/chargepoint/mennekes/common/AbstractMennekes.java
  io.openems.edge.evse.chargepoint.mennekes/src/io/openems/edge/evse/chargepoint/mennekes/common/Mennekes.java
  io.openems.edge.evse.chargepoint.mennekes/test/io/openems/edge/evcs/mennekes/EvcsMennekesTest.java
  io.openems.edge.evse.chargepoint.mennekes/test/io/openems/edge/evse/chargepoint/mennekes/EvseChargePointMennekesTest.java
  io.openems.edge.evse.chargepoint.mennekes/test/io/openems/edge/evse/chargepoint/mennekes/common/TestUtils.java
Due: build-java, restore-cache, rebuild-cache

[Common] CI: update sonarqube and gradle
  build.gradle
Due: build-java, restore-cache, rebuild-cache

[UI] Evse.ChargePoint.Mennekes: add chargepoint image
  ui/src/app/edge/live/Controller/Evse/shared/evse-chargepoint.ts
  ui/src/environments/index.ts
  ui/src/themes/openems/environments/oem-meta.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] EVSE App Center: add link to create Vehicle App
  io.openems.edge.core/src/io/openems/edge/app/evcs/HardyBarthEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/KebaEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evse/AppMennekesEvse.java
  io.openems.edge.core/src/io/openems/edge/app/evse/EvseProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/formly/builder/LinkBuilder.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  ui/src/app/edge/settings/app/formly/formly-link.ts
  ui/src/app/edge/settings/app/install.component.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Common] CI: Add sonarqube scans
  build.gradle
Due: build-java, restore-cache, rebuild-cache

[Edge] Hardy Barth Wallbox: Use different limit set method
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/common/AbstractHardyBarthHandler.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/common/HardyBarth.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evcs/hardybarth/EvcsHardyBarthImplTest.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/EvseChargePointHardyImplTest.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/common/Constants.java
Due: build-java, restore-cache, rebuild-cache

[Edge] GoodWe: Add Warning State whenever the GridMode becomes Undefined
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/GoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/translation_de.properties
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/translation_en.properties
Due: build-java, restore-cache, rebuild-cache

[UI] fix screenorientation not available
  ui/src/app/platform.service.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] App.Evcs.IesKeywatt: installable for Admin only
  io.openems.edge.core/src/io/openems/edge/app/evcs/IesKeywattEvcs.java
  io.openems.edge.system.fenecon/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

[Edge] IO.Weidmueller.UR20: Refactor module handling and dynamic channel management
  io.openems.common/src/io/openems/common/utils/IteratorUtils.java
  io.openems.edge.io.api/src/io/openems/edge/io/test/DummyCustomInputOutput.java
  io.openems.edge.io.weidmueller/src/io/openems/edge/io/weidmueller/IoWeidmuellerUr20Impl.java
  io.openems.edge.io.weidmueller/test/io/openems/edge/io/weidmueller/IoWeidmuellerUr20ImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Controller.Ess.PrepareBatteryExtension: add status info while in reference cycle
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/api/AbstractFixStateOfCharge.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/api/FixStateOfCharge.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/api/translation_de.properties
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/api/translation_en.properties
  io.openems.edge.controller.ess.fixstateofcharge/test/io/openems/edge/controller/ess/fixstateofcharge/ControllerEssPrepareBatteryExtensionImplTest.java
  ui/src/app/edge/live/common/storage/admin-modal/admin-modal.component.html
  ui/src/app/edge/live/common/storage/admin-modal/admin-modal.component.ts
  ui/src/app/edge/live/common/storage/storage.component.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] App Center: automatically updating config with dependencies
  io.openems.edge.core/src/io/openems/edge/app/openemshardware/TechbaseCm3.java
  io.openems.edge.core/src/io/openems/edge/app/openemshardware/TechbaseCm4.java
  io.openems.edge.core/src/io/openems/edge/app/openemshardware/TechbaseCm4s.java
  io.openems.edge.core/src/io/openems/edge/app/openemshardware/TechbaseCm4sGen2.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/ForceUpdateComponentConfig.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/ResolveDependencies.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/AppConfigValidator.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/AppManagerAppHelperImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/DependencyDeclaration.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/aggregatetask/DependencyProperties.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/app/TestADependencyToC.java
  io.openems.edge.core/test/io/openems/edge/app/TestForceUpdatingConfigComponent.java
  io.openems.edge.core/test/io/openems/edge/app/TestForceUpdatingConfigProperties.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/ForceUpdateComponentConfigTest.java
Due: build-java, restore-cache, rebuild-cache

separate nginx setup from instructions for prebuilt UI.
  doc/modules/ROOT/pages/gettingstarted.adoc
  doc/modules/ROOT/pages/ui/deploy/docker.adoc
  doc/modules/ROOT/pages/ui/deploy/nginx.adoc
Due: none

Apply tools/prepare-commit.sh
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.meter.chint.ddsu666/.classpath
  io.openems.edge.meter.chint.ddsu666/.gitignore
  io.openems.edge.meter.chint.ddsu666/.project
  io.openems.edge.meter.chint.ddsu666/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.meter.chint.ddsu666/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

Carefully select updatable dependencies
  ui/capacitor.config.ts
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Apply some best-practices
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.meter.chint/.classpath
  io.openems.edge.meter.chint/.gitignore
  io.openems.edge.meter.chint/.project
  io.openems.edge.meter.chint/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.meter.chint/bnd.bnd
  io.openems.edge.meter.chint/example-felix.config
  io.openems.edge.meter.chint/readme.adoc
  io.openems.edge.meter.chint/src/io/openems/edge/meter/chint/ddsu666/Config.java
  io.openems.edge.meter.chint/src/io/openems/edge/meter/chint/ddsu666/MeterChintDdsu666.java
  io.openems.edge.meter.chint/src/io/openems/edge/meter/chint/ddsu666/MeterChintDdsu666Impl.java
  io.openems.edge.meter.chint/test/.gitignore
  io.openems.edge.meter.chint/test/io/openems/edge/meter/chint/ddsu666/MeterChintDdsu666ImplTest.java
  io.openems.edge.meter.chint/test/io/openems/edge/meter/chint/ddsu666/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Apply tools/prepare-commit.sh
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.meter.opendtu/.gitignore
  io.openems.edge.meter.opendtu/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.meter.opendtu/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

Review
  io.openems.edge.meter.opendtu/bnd.bnd
  io.openems.edge.meter.opendtu/readme.adoc
  io.openems.edge.meter.opendtu/src/io/openems/edge/meter/opendtu/Config.java
  io.openems.edge.meter.opendtu/src/io/openems/edge/meter/opendtu/MeterOpenDtu.java
  io.openems.edge.meter.opendtu/src/io/openems/edge/meter/opendtu/MeterOpenDtuImpl.java
  io.openems.edge.meter.opendtu/test/io/openems/edge/meter/opendtu/MeterOpenDtuImplTest.java
  io.openems.edge.meter.opendtu/test/io/openems/edge/meter/opendtu/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Apply tools/prepare-commit.sh
  io.openems.edge.meter.opendtu/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

[Edge] Implement OpenDTU meter (#3562)
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.meter.opendtu/.classpath
  io.openems.edge.meter.opendtu/.gitignore
  io.openems.edge.meter.opendtu/.project
  io.openems.edge.meter.opendtu/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.meter.opendtu/bnd.bnd
  io.openems.edge.meter.opendtu/readme.adoc
  io.openems.edge.meter.opendtu/src/io/openems/edge/meter/opendtu/Config.java
  io.openems.edge.meter.opendtu/src/io/openems/edge/meter/opendtu/MeterOpenDtu.java
  io.openems.edge.meter.opendtu/src/io/openems/edge/meter/opendtu/MeterOpenDtuImpl.java
  io.openems.edge.meter.opendtu/test/.gitignore
  io.openems.edge.meter.opendtu/test/io/openems/edge/meter/opendtu/MeterOpenDtuImplTest.java
  io.openems.edge.meter.opendtu/test/io/openems/edge/meter/opendtu/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Formatting and Jupiter tests
  io.openems.edge.controller.ess.limittotaldischarge/src/io/openems/edge/controller/ess/limittotaldischarge/ControllerEssLimitTotalDischarge.java
  io.openems.edge.controller.ess.limittotaldischarge/src/io/openems/edge/controller/ess/limittotaldischarge/ControllerEssLimitTotalDischargeImpl.java
  io.openems.edge.controller.ess.limittotaldischarge/test/io/openems/edge/controller/ess/limittotaldischarge/ControllerEssLimitTotalDischargeImplTest.java
  io.openems.edge.controller.ess.limittotaldischarge/test/io/openems/edge/controller/ess/limittotaldischarge/EnergySchedulerTest.java
Due: build-java, restore-cache, rebuild-cache

Use primitive `int`
  io.openems.edge.controller.ess.limittotaldischarge/src/io/openems/edge/controller/ess/limittotaldischarge/ControllerEssLimitTotalDischargeImpl.java
Due: build-java, restore-cache, rebuild-cache

[Edge] ESS Limit Total Discharge: handle Hybrid ESS (#3640)
  io.openems.edge.controller.ess.limittotaldischarge/src/io/openems/edge/controller/ess/limittotaldischarge/Config.java
  io.openems.edge.controller.ess.limittotaldischarge/src/io/openems/edge/controller/ess/limittotaldischarge/ControllerEssLimitTotalDischarge.java
  io.openems.edge.controller.ess.limittotaldischarge/src/io/openems/edge/controller/ess/limittotaldischarge/ControllerEssLimitTotalDischargeImpl.java
  io.openems.edge.controller.ess.limittotaldischarge/src/io/openems/edge/controller/ess/limittotaldischarge/HybridEssMode.java
  io.openems.edge.controller.ess.limittotaldischarge/test/io/openems/edge/controller/ess/limittotaldischarge/ControllerEssLimitTotalDischargeImplTest.java
  io.openems.edge.controller.ess.limittotaldischarge/test/io/openems/edge/controller/ess/limittotaldischarge/EnergySchedulerTest.java
  io.openems.edge.controller.ess.limittotaldischarge/test/io/openems/edge/controller/ess/limittotaldischarge/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Huawei Smart Logger and PV Inverter (#3545)
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.huawei/.classpath
  io.openems.edge.huawei/.gitignore
  io.openems.edge.huawei/.project
  io.openems.edge.huawei/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.huawei/bnd.bnd
  io.openems.edge.huawei/doc/modbus.pdf
  io.openems.edge.huawei/readme.adoc
  io.openems.edge.huawei/src/io/openems/edge/huawei/pvinverter/Config.java
  io.openems.edge.huawei/src/io/openems/edge/huawei/pvinverter/HuaweiPvInverter.java
  io.openems.edge.huawei/src/io/openems/edge/huawei/pvinverter/HuaweiPvInverterImpl.java
  io.openems.edge.huawei/src/io/openems/edge/huawei/pvinverter/smartlogger/Config.java
  io.openems.edge.huawei/src/io/openems/edge/huawei/pvinverter/smartlogger/HuaweiSmartLoggerPvInverterImpl.java
  io.openems.edge.huawei/src/io/openems/edge/huawei/pvinverter/smartlogger/HuaweiSmartloggerPvInverter.java
  io.openems.edge.huawei/test/.gitignore
  io.openems.edge.huawei/test/io/openems/edge/huawei/pvinverter/HuaweiPvInverterImplTest.java
  io.openems.edge.huawei/test/io/openems/edge/huawei/pvinverter/MyConfig.java
  io.openems.edge.huawei/test/io/openems/edge/huawei/pvinverter/smartlogger/HuaweiSmartLoggerPvInverterImplTest.java
  io.openems.edge.huawei/test/io/openems/edge/huawei/pvinverter/smartlogger/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Clean up code and implement ManagedSymmetricPvInverter
  io.openems.edge.meter.opendtu/bnd.bnd
  io.openems.edge.meter.opendtu/src/io/openems/edge/meter/opendtu/MeterOpenDtuImpl.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Huawei: Code cleanup
  io.openems.edge.huawei/src/io/openems/edge/huawei/pvinverter/HuaweiPvInverterImpl.java
  io.openems.edge.huawei/src/io/openems/edge/huawei/pvinverter/smartlogger/HuaweiSmartLoggerPvInverterImpl.java
  io.openems.edge.huawei/src/io/openems/edge/huawei/pvinverter/smartlogger/HuaweiSmartloggerPvInverter.java
  io.openems.edge.huawei/test/io/openems/edge/huawei/pvinverter/HuaweiPvInverterImplTest.java
  io.openems.edge.huawei/test/io/openems/edge/huawei/pvinverter/smartlogger/HuaweiSmartLoggerPvInverterImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Huawei PV-Inverter: Code cleanup (#3710)
  io.openems.edge.huawei/src/io/openems/edge/huawei/pvinverter/HuaweiPvInverterImpl.java
  io.openems.edge.huawei/src/io/openems/edge/huawei/pvinverter/smartlogger/HuaweiSmartLoggerPvInverterImpl.java
  io.openems.edge.huawei/src/io/openems/edge/huawei/pvinverter/smartlogger/HuaweiSmartloggerPvInverter.java
  io.openems.edge.huawei/test/io/openems/edge/huawei/pvinverter/HuaweiPvInverterImplTest.java
  io.openems.edge.huawei/test/io/openems/edge/huawei/pvinverter/smartlogger/HuaweiSmartLoggerPvInverterImplTest.java
Due: build-java, restore-cache, rebuild-cache

Sorting
  io.openems.edge.meter.opendtu/bnd.bnd
  io.openems.edge.meter.opendtu/src/io/openems/edge/meter/opendtu/MeterOpenDtuImpl.java
Due: build-java, restore-cache, rebuild-cache

Fix missing channels
  io.openems.edge.meter.opendtu/src/io/openems/edge/meter/opendtu/MeterOpenDtuImpl.java
  io.openems.edge.meter.opendtu/test/io/openems/edge/meter/opendtu/MeterOpenDtuImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] OpenDTU: implement ManagedSymmetricPvInverter (#3709)
  io.openems.edge.meter.opendtu/bnd.bnd
  io.openems.edge.meter.opendtu/src/io/openems/edge/meter/opendtu/MeterOpenDtuImpl.java
  io.openems.edge.meter.opendtu/test/io/openems/edge/meter/opendtu/MeterOpenDtuImplTest.java
Due: build-java, restore-cache, rebuild-cache

Checkstyle
  io.openems.backend.edge.application/src/io/openems/backend/edge/server/OnNotification.java
  io.openems.backend.edge.application/src/io/openems/backend/edge/server/OnRequest.java
  io.openems.backend.edge.application/src/io/openems/backend/edge/server/WsData.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooUtils.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksManagerTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/TasksSupplierImplTest.java
  io.openems.edge.common/src/io/openems/edge/common/channel/WriteChannel.java
  io.openems.edge.core/src/io/openems/edge/app/evse/EvseProps.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/DefaultConfigurationWorker.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulation/GocBuilder.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulation/periods/Periods.java
  io.openems.edge.evse.chargepoint.mennekes/src/io/openems/edge/evse/chargepoint/mennekes/common/AbstractMennekes.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/enums/AcChargePolicy.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/enums/SeControlMode.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/ess/ApplyPowerHandler.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/ess/SolarEdgeEssImpl.java
  io.openems.edge.solaredge/test/io/openems/edge/solaredge/ess/AllowedChargeDischargeHandlerTest.java
  io.openems.edge.solaredge/test/io/openems/edge/solaredge/ess/ApplyPowerHandlerTest.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/ao/IoMasterBox2v0AoImpl.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/relay/IoMasterBox2v0RelayImpl.java
Due: build-java, restore-cache, rebuild-cache

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
