Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

[Edge] GlobalOptimizationContext: fix possible NPE for no prices
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulation/GocUtils.java
  io.openems.edge.energy.api/test/io/openems/edge/energy/api/simulation/GlobalOptimizationContextTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] NUI: fix recreating new navigation nodes after empty navigationtree
  ui/src/app/index/overview/overview.component.html
  ui/src/app/index/overview/overview.component.ts
  ui/src/app/shared/components/navigation/service/navigation.service.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Add Reference Cycle Support to Planned Battery Extension
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/ControllerEssPrepareBatteryExtensionImpl.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/api/AbstractFixStateOfCharge.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/api/FixStateOfCharge.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/statemachine/Context.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/statemachine/NotStartedHandler.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/statemachine/ReferenceCycleHandler.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/statemachine/ReferenceCycleTarget.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/statemachine/ReferenceCycleUtils.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/statemachine/StateMachine.java
  io.openems.edge.controller.ess.fixstateofcharge/test/io/openems/edge/controller/ess/fixstateofcharge/ControllerEssPrepareBatteryExtensionImplTest.java
  io.openems.edge.controller.ess.fixstateofcharge/test/io/openems/edge/controller/ess/fixstateofcharge/MyConfigFixStateOfCharge.java
  io.openems.edge.controller.ess.fixstateofcharge/test/io/openems/edge/controller/ess/fixstateofcharge/MyConfigPrepareBatteryExtension.java
  io.openems.edge.controller.ess.fixstateofcharge/test/io/openems/edge/controller/ess/fixstateofcharge/statemachine/DummyFixStateOfChargeController.java
  io.openems.edge.controller.ess.fixstateofcharge/test/io/openems/edge/controller/ess/fixstateofcharge/statemachine/NotStartedHandlerTest.java
  io.openems.edge.controller.ess.fixstateofcharge/test/io/openems/edge/controller/ess/fixstateofcharge/statemachine/ReferenceCycleHandlerTest.java
  io.openems.edge.controller.ess.fixstateofcharge/test/io/openems/edge/controller/ess/fixstateofcharge/statemachine/ReferenceCycleUtilsTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Use TariffManager in Sum
  io.openems.edge.core/src/io/openems/edge/core/sum/SumImpl.java
  io.openems.edge.core/test/io/openems/edge/core/sum/SumImplTest.java
  io.openems.edge.timeofusetariff.api/src/io/openems/edge/timeofusetariff/test/DummyTariffManager.java
Due: build-java, restore-cache, rebuild-cache

[Common] Gradle: avoid Mockito warning
  build.gradle
Due: build-java, restore-cache, rebuild-cache

[Edge] JSCalendar: enforce an explicit `Clock`
  io.openems.common/src/io/openems/common/jscalendar/GetOneTasks.java
  io.openems.common/src/io/openems/common/jscalendar/JSCalendar.java
  io.openems.common/test/io/openems/common/jscalendar/JSCalendarTest.java
  io.openems.edge.common/src/io/openems/edge/common/meta/GridBuySoftLimit.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/ControllerEvseClusterImpl.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/EnergyScheduler.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/Params.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/cluster/EnergySchedulerTest.java
  io.openems.edge.core/src/io/openems/edge/core/meta/MetaImpl.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulation/GlobalOptimizationContext.java
  io.openems.edge.energy.api/test/io/openems/edge/energy/api/simulation/GlobalOptimizationContextTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/EnergySchedulerImplTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/EnergySchedulerTestUtils.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/AppUtils.java
  io.openems.edge.scheduler.jscalendar/test/io/openems/edge/scheduler/jscalendar/SchedulerJSCalendarImplTest.java
  io.openems.edge.timeofusetariff.api/src/io/openems/edge/timeofusetariff/api/AncillaryCosts.java
  io.openems.edge.timeofusetariff.manual/src/io/openems/edge/timeofusetariff/manual/octopus/go/TouOctopusGoImpl.java
  io.openems.edge.timeofusetariff.manual/src/io/openems/edge/timeofusetariff/manual/octopus/heat/TouOctopusHeatImpl.java
  io.openems.edge.timeofusetariff.manual/test/io/openems/edge/timeofusetariff/manual/TouOctopusGoTest.java
  io.openems.edge.timeofusetariff.manual/test/io/openems/edge/timeofusetariff/manual/TouOctopusHeatTest.java
  io.openems.edge.timeofusetariff.manual/test/io/openems/edge/timeofusetariff/manual/UtilsTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] Fix system overview for installer accounts
  ui/src/app/index/overview/overview.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Websocket ClientReconnectorWorker: circumvent possible deadlock
  io.openems.backend.edge.application/src/io/openems/backend/edge/application/CyclicTask.java
  io.openems.backend.edge.application/src/io/openems/backend/edge/client/WebsocketClient.java
  io.openems.common/src/io/openems/common/utils/FunctionUtils.java
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketClient.java
  io.openems.common/src/io/openems/common/websocket/ClientReconnectorWorker.java
  io.openems.common/test/io/openems/common/utils/FunctionUtilsTest.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/ControllerApiBackendImpl.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/WebsocketClient.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/api/ControllerApiBackend.java
  io.openems.edge.edge2edge/src/io/openems/edge/edge2edge/websocket/bridge/WebsocketClient.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Controller.Evcs: fix awaitLastChanges checking INCREASING twice instead of DECREASING
  io.openems.edge.controller.evcs/src/io/openems/edge/controller/evcs/ControllerEvcsImpl.java
Due: build-java, restore-cache, rebuild-cache

test: add awaitDecreasingChargeStateTest for EVCS hysteresis fix
  io.openems.edge.controller.evcs/test/io/openems/edge/controller/evcs/ControllerEvcsImplTest.java
Due: build-java, restore-cache, rebuild-cache

Refactor getFactoriesByNature to support multiple exclusions, esp. taking EVSE of of Meters
  ui/src/app/shared/components/edge/edgeconfig.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Missing convenience methods and Javadoc added
  io.openems.edge.powercontrolunit.api/src/io/openems/edge/powercontrolunit/api/PowerControlUnit.java
Due: build-java, restore-cache, rebuild-cache

reject at handshake
  io.openems.backend.edge.application/src/io/openems/backend/edge/application/Cache.java
  io.openems.backend.edge.application/src/io/openems/backend/edge/server/OnOpen.java
  io.openems.backend.edge.application/src/io/openems/backend/edge/server/WebsocketServer.java
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketClient.java
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketServer.java
  io.openems.common/src/io/openems/common/websocket/ClientReconnectorWorker.java
Due: build-java, restore-cache, rebuild-cache

cleanup
  io.openems.backend.edge.application/src/io/openems/backend/edge/server/OnOpen.java
  io.openems.backend.edge.application/src/io/openems/backend/edge/server/WebsocketServer.java
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketServer.java
Due: build-java, restore-cache, rebuild-cache

cleanup
  io.openems.backend.edge.application/src/io/openems/backend/edge/server/OnNotification.java
  io.openems.backend.edge.application/src/io/openems/backend/edge/server/OnRequest.java
  io.openems.backend.edge.application/src/io/openems/backend/edge/server/WebsocketServer.java
  io.openems.backend.edge.application/src/io/openems/backend/edge/server/WsData.java
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketClient.java
Due: build-java, restore-cache, rebuild-cache

add attestations and sbom
  .github/workflows/docker.yml
Due: none

[Common] Docker: Add Attestations and SBOM (#3675)
  .github/workflows/docker.yml
Due: none

Update bnd; fix docs
  build.gradle
  cnf/pom.xml
  io.openems.backend.application/BackendApp.bndrun
  io.openems.wrapper/auth0-auth0.bnd
Due: build-java, restore-cache, rebuild-cache

Update bnd files
  cnf/build.bnd
  cnf/pom.xml
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.edge.application/BackendEdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.ess.mindischargeperiod/bnd.bnd
  io.openems.edge.io.revpi/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

Update bndruns
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.edge.application/BackendEdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update pom
  cnf/pom.xml
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

[Edge] Extend ManagedSymmetricEss Modbus List by actual power value channels
  io.openems.edge.common/src/io/openems/edge/common/channel/ChannelId.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/AbstractModbusApi.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/CommonConfig.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/ModbusApi.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/readonly/rtu/ControllerApiModbusRtuReadOnlyImpl.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/readonly/tcp/ControllerApiModbusTcpReadOnlyImpl.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/readwrite/AbstractModbusReadWriteApi.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/readwrite/rtu/Config.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/readwrite/rtu/ControllerApiModbusRtuReadWrite.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/readwrite/rtu/ControllerApiModbusRtuReadWriteImpl.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/readwrite/tcp/ControllerApiModbusTcpReadWrite.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/readwrite/tcp/ControllerApiModbusTcpReadWriteImpl.java
  io.openems.edge.controller.api.modbus/test/io/openems/edge/controller/api/modbus/ModbusTcpApiTest.java
  io.openems.edge.controller.api.modbus/test/io/openems/edge/controller/api/modbus/MyRtuConfig.java
  io.openems.edge.controller.api.modbus/test/io/openems/edge/controller/api/modbus/readonly/rtu/ControllerApiModbusRtuReadOnlyImplTest.java
  io.openems.edge.controller.api.modbus/test/io/openems/edge/controller/api/modbus/readonly/tcp/ControllerApiModbusTcpReadOnlyImplTest.java
  io.openems.edge.controller.api.modbus/test/io/openems/edge/controller/api/modbus/readwrite/AbstractModbusReadWriteApiTest.java
  io.openems.edge.controller.api.modbus/test/io/openems/edge/controller/api/modbus/readwrite/rtu/ControllerApiModbusRtuReadWriteImplTest.java
  io.openems.edge.controller.api.modbus/test/io/openems/edge/controller/api/modbus/readwrite/tcp/ControllerApiModbusTcpReadWriteImplTest.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/ManagedSymmetricEss.java
  io.openems.edge.ess.api/test/io/openems/edge/ess/api/ManagedSymmetricEssModbusTableTest.java
  io.openems.edge.ess.generic/test/io/openems/edge/ess/generic/symmetric/EssGenericManagedSymmetricImplTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] fix history values
  ui/src/app/shared/components/flat/abstract-flat-widget.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Goodwe update fixes
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/update/SerialPortHandler.java
Due: build-java, restore-cache, rebuild-cache

[UI] Darkmode description colors
  ui/src/app/shared/components/formly/form-field.wrapper.ts
  ui/src/environments/index.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Migrate JUnit test cases
  io.openems.edge.battery.api/test/io/openems/edge/battery/protection/BatteryProtectionTest.java
  io.openems.edge.battery.api/test/io/openems/edge/battery/protection/currenthandler/MaxCurrentHandlerTest.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/test/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/BatteryInverterKacoBlueplanetGridsaveImplTest.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/test/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/KacoSunSpecModelTest.java
  io.openems.edge.batteryinverter.refu88k/test/io/openems/edge/batteryinverter/refu88k/BatteryInverterRefuStore88kImplTest.java
  io.openems.edge.system.fenecon/test/io/openems/edge/system/fenecon/masterbox2v0/relay/IoMasterBox2v0RelayImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Add Grid-Sell-Price to SumImpl
  io.openems.edge.common/src/io/openems/edge/common/sum/Sum.java
  io.openems.edge.core/src/io/openems/edge/core/predictormanager/PredictorManagerImpl.java
  io.openems.edge.core/src/io/openems/edge/core/sum/SumImpl.java
  io.openems.edge.core/test/io/openems/edge/core/sum/SumImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] GridOptimizedCharge: Apply no limit when the grid feed-in limit is almost zero
  io.openems.edge.controller.ess.gridoptimizedcharge/src/io/openems/edge/controller/ess/gridoptimizedcharge/ControllerEssGridOptimizedCharge.java
  io.openems.edge.controller.ess.gridoptimizedcharge/src/io/openems/edge/controller/ess/gridoptimizedcharge/ControllerEssGridOptimizedChargeImpl.java
  io.openems.edge.controller.ess.gridoptimizedcharge/src/io/openems/edge/controller/ess/gridoptimizedcharge/DelayChargeState.java
  io.openems.edge.controller.ess.gridoptimizedcharge/src/io/openems/edge/controller/ess/gridoptimizedcharge/SellToGridLimitState.java
Due: build-java, restore-cache, rebuild-cache

[UI] NUI: Improve new Widget navigation and fix help key
  ui/src/app/edge/live/Controller/Io/Heatpump/modal/modal.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/settings/settings.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/shared/shared.ts
  ui/src/app/shared/components/formly/formly-field-modal/formly-field-modal.html
  ui/src/app/shared/components/formly/formly-field-navigation/formly-field-navigation.html
  ui/src/app/shared/components/modal/modal.html
  ui/src/app/shared/components/shared/oe-formly-component.ts
  ui/src/app/shared/type/general.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] App.Meter.Shelly.Meter: allow installation for owner
  io.openems.edge.core/src/io/openems/edge/app/meter/shelly/meter/AppShellyMeter.java
Due: build-java, restore-cache, rebuild-cache

[UI] Localization for changelog
  tools/build-debian-package.sh
  tools/common.sh
  tools/create-release.sh
  ui/src/app/changelog/i18n/de.json
  ui/src/app/changelog/i18n/en.json
  ui/src/app/changelog/view/component/changelog.component.html
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/shared/components/edge/currentdata.spec.ts
  ui/src/assets/json/changelog.json
  ui/src/environments/index.ts
  ui/src/themes/openems/environments/oem-meta.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] NUI: Refactor Heat
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/Controller/Heat/overview/overview.html
  ui/src/app/edge/history/Controller/controller.module.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/live/Controller/Heat/HeatMyPv.ts
  ui/src/app/edge/live/Controller/Heat/flat/flat.html
  ui/src/app/edge/live/Controller/Heat/flat/flat.ts
  ui/src/app/edge/live/Controller/Heat/history/chart/chart.ts
  ui/src/app/edge/live/Controller/Heat/history/flat/flat.html
  ui/src/app/edge/live/Controller/Heat/history/flat/flat.ts
  ui/src/app/edge/live/Controller/Heat/history/heat-history.ts
  ui/src/app/edge/live/Controller/Heat/history/new-navigation/new-navigation.html
  ui/src/app/edge/live/Controller/Heat/history/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Heat/history/overview/overview.html
  ui/src/app/edge/live/Controller/Heat/history/overview/overview.ts
  ui/src/app/edge/live/Controller/Heat/modal/modal.html
  ui/src/app/edge/live/Controller/Heat/modal/modal.ts
  ui/src/app/edge/live/Controller/Heat/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Heat/shared/shared.ts
  ui/src/app/edge/live/Controller/Io/HeatingRoom/flat/flat.html
  ui/src/app/edge/live/Controller/Io/HeatingRoom/modal/modal.html
  ui/src/app/edge/live/live.component.html
  ui/src/app/edge/live/live.module.ts
  ui/src/app/shared/components/formly/formly-field-navigation/formly-field-navigation.html
  ui/src/app/shared/components/navigation/navigation-routing.module.ts
  ui/src/app/shared/components/navigation/shared.ts
  ui/src/app/shared/components/shared/converter.ts
  ui/src/app/shared/components/shared/oe-formly-component.ts
  ui/src/app/shared/type/widget.ts
  ui/src/app/shared/type/widgets.ts
  ui/src/app/shared/utils/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] fix heatpump history
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/controller-io-heatpump.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] GridOptimizedCharge: Visualisation for the new state
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/flat/flat.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/modal/modal.html
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/modal/modal.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Commercial 92 Cluster: set default power strategy
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial92ClusterMaster.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Mennekes EVSE: Cleanup isReadyForCharging handling
  io.openems.edge.evse.chargepoint.bender/bnd.bnd
  io.openems.edge.evse.chargepoint.bender/src/io/openems/edge/evse/chargepoint/bender/AbstractEvseChargePointBender.java
  io.openems.edge.evse.chargepoint.bender/src/io/openems/edge/evse/chargepoint/bender/EvseChargePointBender.java
  io.openems.edge.evse.chargepoint.bender/src/io/openems/edge/evse/chargepoint/bender/OcppState.java
  io.openems.edge.evse.chargepoint.bender/src/io/openems/edge/evse/chargepoint/bender/VehicleState.java
  io.openems.edge.evse.chargepoint.bender/src/io/openems/edge/evse/chargepoint/bender/translation_de.properties
  io.openems.edge.evse.chargepoint.bender/src/io/openems/edge/evse/chargepoint/bender/translation_en.properties
  io.openems.edge.evse.chargepoint.bender/test/io/openems/edge/evse/chargepoint/bender/AbstractEvseChargePointBenderTest.java
  io.openems.edge.evse.chargepoint.mennekes/src/io/openems/edge/evcs/mennekes/EvcsMennekesImpl.java
  io.openems.edge.evse.chargepoint.mennekes/src/io/openems/edge/evse/chargepoint/mennekes/EvseMennekesImpl.java
  io.openems.edge.evse.chargepoint.mennekes/test/io/openems/edge/evcs/mennekes/EvcsMennekesTest.java
  io.openems.edge.evse.chargepoint.mennekes/test/io/openems/edge/evse/chargepoint/mennekes/EvseChargePointMennekesTest.java
  io.openems.edge.evse.chargepoint.mennekes/test/io/openems/edge/evse/chargepoint/mennekes/common/TestUtils.java
Due: build-java, restore-cache, rebuild-cache

[Edge] ManagedSymmetricEss: improve how filter is applied
  io.openems.edge.common/src/io/openems/edge/common/filter/DisabledFilter.java
  io.openems.edge.common/src/io/openems/edge/common/filter/Filter.java
  io.openems.edge.common/src/io/openems/edge/common/filter/PT1Filter.java
  io.openems.edge.common/test/io/openems/edge/common/filter/PT1FilterTest.java
  io.openems.edge.common/test/io/openems/edge/common/filter/PidFilterTest.java
  io.openems.edge.edge2edge/src/io/openems/edge/edge2edge/websocket/ess/Edge2EdgeWebsocketEss.java
  io.openems.edge.edge2edge/src/io/openems/edge/edge2edge/websocket/ess/Edge2EdgeWebsocketEssImpl.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/ManagedSymmetricEss.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/power/api/Power.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/test/DummyPower.java
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/EssPowerImpl.java
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/Utils.java
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/v1/Solver.java
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/v2/PowerDistribution.java
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/v2/PowerDistributionHandlerV2.java
  io.openems.edge.ess.core/test/io/openems/edge/ess/core/power/v1/EssPowerImplTest.java
  io.openems.edge.ess.core/test/io/openems/edge/ess/core/power/v2/EssPowerImplTest.java
  io.openems.edge.ess.core/test/io/openems/edge/ess/core/power/v2/TreeSolverTest.java
  io.openems.edge.ess.generic/test/io/openems/edge/ess/generic/common/AbstractAllowedChargeDischargeHandlerTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] JSCalendar: show tasks with no recurrenceRule
  ui/src/app/shared/components/schedule/form/task-form-validation.ts
  ui/src/app/shared/components/schedule/schedule.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location
