Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

Update RestHandlerTest.java
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/RestHandlerTest.java
Due: build-java, restore-cache, rebuild-cache

Add files via upload
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/DummyRestApi.java
Due: build-java, restore-cache, rebuild-cache

Make EvcsCluster manageable
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/api/ManagedEvcsCluster.java
  io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/EvcsClusterPeakShaving.java
  io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/EvcsClusterPeakShavingImpl.java
  io.openems.edge.evcs.cluster/test/io/openems/edge/evcs/cluster/EvcsClusterPeakShavingImplTest.java
Due: build-java, restore-cache, rebuild-cache

Update RestHandler.java
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/RestHandler.java
Due: build-java, restore-cache, rebuild-cache

ignore suspicious path chars for regex
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/api/UrlBuilder.java
  io.openems.edge.controller.api.rest/bnd.bnd
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/AbstractRestApi.java
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/RestHandler.java
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/readonly/ControllerApiRestReadOnlyImplTest.java
Due: build-java, restore-cache, rebuild-cache

checkstyle
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/readonly/ControllerApiRestReadOnlyImplTest.java
Due: build-java, restore-cache, rebuild-cache

Directly update to 33.4.6-jre
  .github/dependabot.yml
  cnf/build.bnd
  cnf/pom.xml
Due: none

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

added changes from https://github.com/OpenEMS/openems/pull/3069
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/api/UrlBuilder.java
  io.openems.edge.controller.api.rest/bnd.bnd
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/AbstractRestApi.java
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/RestHandler.java
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/readonly/ControllerApiRestReadOnlyImplTest.java
Due: build-java, restore-cache, rebuild-cache

prepare-commit
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Test relaxed codecov
  codecov.yml
Due: none

Reset
  codecov.yml
Due: none

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update package.json
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

cleanup
  io.openems.edge.controller.api.rest/bnd.bnd
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/RestHandler.java
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/DummyRestApi.java
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/RestHandlerTest.java
Due: build-java, restore-cache, rebuild-cache

return BAD_REQUEST if pattern is invalid
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/RestHandler.java
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/readonly/ControllerApiRestReadOnlyImplTest.java
Due: build-java, restore-cache, rebuild-cache

Update ControllerApiRestReadOnlyImplTest.java
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/readonly/ControllerApiRestReadOnlyImplTest.java
Due: build-java, restore-cache, rebuild-cache

Controller.Api.Rest: fix handling of regular expressions (#3068)
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/api/UrlBuilder.java
  io.openems.edge.controller.api.rest/bnd.bnd
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/AbstractRestApi.java
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/RestHandler.java
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/DummyRestApi.java
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/RestHandlerTest.java
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/readonly/ControllerApiRestReadOnlyImplTest.java
Due: build-java, restore-cache, rebuild-cache

CI: Fix deprecated Gradle features
  build.gradle
Due: build-java, restore-cache, rebuild-cache

UI: fix read only twice in history
  ui/src/app/edge/history/common/consumption/chart/chart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Meta: add Grid Connection Point Fuse Limit + fix EVCS cluster power restrictions
  io.openems.edge.common/src/io/openems/edge/common/meta/Meta.java
  io.openems.edge.common/src/io/openems/edge/common/test/DummyMeta.java
  io.openems.edge.core/src/io/openems/edge/app/core/AppMeta.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/AlpitronicEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/DezonyEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/EvcsProps.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/HardyBarthEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/IesKeywattEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/KebaEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/WebastoNextEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/WebastoUniteEvcs.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/MetaSupplier.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/src/io/openems/edge/core/meta/Config.java
  io.openems.edge.core/src/io/openems/edge/core/meta/MetaImpl.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerTestBundle.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/meta/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

NetworkConfig: added settings for network forwarding
  io.openems.common/src/io/openems/common/types/ConfigurationProperty.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/ComponentUtilImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/InterfaceConfiguration.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/aggregatetask/StaticIpAggregateTaskImpl.java
  io.openems.edge.core/src/io/openems/edge/core/host/HostImpl.java
  io.openems.edge.core/src/io/openems/edge/core/host/NetworkInterface.java
  io.openems.edge.core/src/io/openems/edge/core/host/OperatingSystem.java
  io.openems.edge.core/src/io/openems/edge/core/host/OperatingSystemDebianSystemd.java
  io.openems.edge.core/src/io/openems/edge/core/host/OperatingSystemMac.java
  io.openems.edge.core/src/io/openems/edge/core/host/OperatingSystemWindows.java
  io.openems.edge.core/src/io/openems/edge/core/host/jsonrpc/GetNetworkConfigRequest.java
  io.openems.edge.core/src/io/openems/edge/core/host/jsonrpc/GetNetworkConfigResponse.java
  io.openems.edge.core/src/io/openems/edge/core/host/jsonrpc/SetNetworkConfig.java
  io.openems.edge.core/src/io/openems/edge/core/host/jsonrpc/SetNetworkConfigRequest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/ComponentUtilTest.java
  io.openems.edge.core/test/io/openems/edge/core/host/OperatingSystemDebianSystemdTest.java
Due: build-java, restore-cache, rebuild-cache

ESS Generic Managed: Allow manual clearing of timeout failures
  io.openems.edge.battery.api/src/io/openems/edge/battery/api/BatteryTimeoutFailure.java
  io.openems.edge.batteryinverter.api/src/io/openems/edge/batteryinverter/api/BatteryInverterTimeoutFailure.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/BatteryInverterKacoBlueplanetGridsave.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/BatteryInverterKacoBlueplanetGridsaveImpl.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/EssTimeoutFailure.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/common/GenericManagedEss.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/jsonrpc/ClearTimeoutFailure.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/offgrid/EssGenericOffGridImpl.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/symmetric/EssGenericManagedSymmetricImpl.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/symmetric/statemachine/ErrorHandler.java
Due: build-java, restore-cache, rebuild-cache

Octopus Go: fix price calculation, change config to Cent/kWh, add JUnit tests
  io.openems.edge.timeofusetariff.manual/src/io/openems/edge/timeofusetariff/manual/octopus/go/Config.java
  io.openems.edge.timeofusetariff.manual/src/io/openems/edge/timeofusetariff/manual/octopus/go/TouOctopusGoImpl.java
  io.openems.edge.timeofusetariff.manual/test/io/openems/edge/timeofusetariff/manual/TouManualHelperTest.java
Due: build-java, restore-cache, rebuild-cache

ToU Controller: apply PID filter for systems with disabled PID
  io.openems.edge.common/src/io/openems/edge/common/filter/DisabledPidFilter.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/ManagedSymmetricEss.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/test/DummyPower.java
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/EssPowerImpl.java
Due: build-java, restore-cache, rebuild-cache

AppCenter: App for clever-PV
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
  io.openems.edge.core/src/io/openems/edge/app/api/AppCleverPv.java
  io.openems.edge.core/src/io/openems/edge/app/api/AppEnerixControl.java
  io.openems.edge.core/src/io/openems/edge/app/api/CleverPvProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/aggregatetask/SchedulerByCentralOrderAggregateTaskImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
Due: build-java, restore-cache, rebuild-cache

Initial Commit
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/RestHandler.java
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/RestHandlerTest.java
Due: build-java, restore-cache, rebuild-cache

Checkstyle
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/RestHandler.java
Due: build-java, restore-cache, rebuild-cache

LSTM: fixed spelling mistake
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/LstmPredictor.java
Due: build-java, restore-cache, rebuild-cache

CI: IOS app automatic deployment [BETA-APP]
  tools/common.sh
  tools/deploy/ios/update_marketing_version.rb
  ui/capacitor.config.ts
  ui/ios/.gitignore
  ui/ios/App/App.ipa/ExportOptions.plist
  ui/ios/App/App/fenecon-beta-assets.xcassets/AppIcon.appiconset/Contents.json
  ui/ios/App/App/fenecon-beta-assets.xcassets/AppIcon.appiconset/app-icon-beta.png
  ui/ios/App/App/fenecon-beta-assets.xcassets/Contents.json
  ui/ios/App/ExportOptions.plist
  ui/ios/App/Podfile
  ui/ios/App/Podfile.lock
  ui/ios/App/README.md
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Translations for UserComponent
  ui/src/app/user/user.component.html
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Fix modal templates
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/modal/modal.component.html
  ui/src/app/edge/live/Io/Api_DigitalInput/modal/modal.component.html
  ui/src/app/edge/live/common/storage/modal/modal.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: change consumption total color
  ui/src/app/shared/components/pickdate/pickdate.component.html
  ui/src/app/shared/components/pickdate/pickdate.component.ts
  ui/src/themes/openems/scss/variables.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Redesign ion-toggle
  ui/src/app/edge/live/Controller/Evcs/administration/administration.component.html
  ui/src/app/edge/live/Controller/Io/HeatingElement/modal/modal.html
  ui/src/app/edge/live/Controller/Io/Heatpump/modal/modal.component.html
  ui/src/app/edge/live/common/storage/modal/modal.component.html
  ui/src/app/edge/settings/channels/channels.component.html
  ui/src/app/edge/settings/network/network.component.html
  ui/src/app/edge/settings/systemexecute/systemexecute.component.html
  ui/src/app/edge/settings/systemlog/systemlog.component.html
  ui/src/app/shared/components/modal/modal-line/modal-line.html
  ui/src/app/shared/legacy/chartoptions/popover/popover.component.html
  ui/src/environments/index.scss
  ui/src/global.scss
  ui/src/themes/openems/scss/variables.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: add battery extension capacity info
  ui/src/app/edge/live/common/storage/modal/modal.component.html
  ui/src/app/edge/live/common/storage/modal/modal.component.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/themes/openems/environments/theme.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Prevent y scale min to equal max
  ui/src/app/shared/components/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix heatpump chart
  ui/src/app/edge/history/Controller/Io/heatpump/chart/chart.spec.ts
  ui/src/app/edge/history/Controller/Io/heatpump/chart/chart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
