Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

Introduce _sum/UnmanagedConsumptionActivePower (#794)
  io.openems.edge.common/src/io/openems/edge/common/sum/Sum.java
  io.openems.edge.controller.ess.timeofusetariff.discharge/src/io/openems/edge/controller/ess/timeofusetariff/discharge/ControllerEssTimeOfUseTariffDischargeImpl.java
  io.openems.edge.controller.ess.timeofusetariff.discharge/test/io/openems/edge/controller/ess/timeofusetariff/discharge/ControllerEssTimeOfUseTariffDischargeImplTest.java
  io.openems.edge.core/bnd.bnd
  io.openems.edge.core/src/io/openems/edge/core/predictormanager/PredictorManagerImpl.java
  io.openems.edge.core/src/io/openems/edge/core/sum/SumImpl.java
  io.openems.edge.core/test/io/openems/edge/core/predictormanager/MyConfig.java
  io.openems.edge.core/test/io/openems/edge/core/predictormanager/PredictorManagerImplTest.java
  io.openems.edge.predictor.persistencemodel/src/io/openems/edge/predictor/persistencemodel/Config.java
  io.openems.edge.predictor.similardaymodel/src/io/openems/edge/predictor/similardaymodel/Config.java
Due: build-java, restore-cache, rebuild-cache

Bugfix in SinglePhaseMeter.calculateSinglePhaseFromActivePower
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/SinglePhaseMeter.java
Due: build-java, restore-cache, rebuild-cache

removed control mode setting in apps
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/AwattarHourly.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/ControlMode.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/StromdaoCorrently.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/Tibber.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/TimeOfUseProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
Due: build-java, restore-cache, rebuild-cache

Default RiskLevel to MEDIUM
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/Config.java
Due: build-java, restore-cache, rebuild-cache

Time of Use Tariff controller: refactor + charge from grid (#2238)
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.ess.timeofusetariff.discharge/readme.adoc
  io.openems.edge.controller.ess.timeofusetariff.discharge/src/io/openems/edge/controller/ess/timeofusetariff/discharge/BoundarySpace.java
  io.openems.edge.controller.ess.timeofusetariff.discharge/src/io/openems/edge/controller/ess/timeofusetariff/discharge/Config.java
  io.openems.edge.controller.ess.timeofusetariff.discharge/src/io/openems/edge/controller/ess/timeofusetariff/discharge/ControllerEssTimeOfUseTariffDischarge.java
  io.openems.edge.controller.ess.timeofusetariff.discharge/src/io/openems/edge/controller/ess/timeofusetariff/discharge/ControllerEssTimeOfUseTariffDischargeImpl.java
  io.openems.edge.controller.ess.timeofusetariff.discharge/src/io/openems/edge/controller/ess/timeofusetariff/discharge/DelayDischargeRiskLevel.java
  io.openems.edge.controller.ess.timeofusetariff.discharge/src/io/openems/edge/controller/ess/timeofusetariff/discharge/Mode.java
  io.openems.edge.controller.ess.timeofusetariff.discharge/src/io/openems/edge/controller/ess/timeofusetariff/discharge/StateMachine.java
  io.openems.edge.controller.ess.timeofusetariff.discharge/test/io/openems/edge/controller/ess/timeofusetariff/discharge/ControllerEssTimeOfUseTariffDischargeImplTest.java
  io.openems.edge.controller.ess.timeofusetariff/.classpath
  io.openems.edge.controller.ess.timeofusetariff/.gitignore
  io.openems.edge.controller.ess.timeofusetariff/.project
  io.openems.edge.controller.ess.timeofusetariff/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.controller.ess.timeofusetariff/bnd.bnd
  io.openems.edge.controller.ess.timeofusetariff/readme.adoc
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/Config.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/ControlMode.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/Mode.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/RiskLevel.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/Schedule.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/ScheduleUtils.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/StateMachine.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffController.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/jsonrpc/GetScheduleRequest.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/jsonrpc/GetScheduleResponse.java
  io.openems.edge.controller.ess.timeofusetariff/test/.gitignore
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/MyConfig.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerTest.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/AwattarHourly.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/StromdaoCorrently.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/Tibber.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/TimeOfUseProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.timeofusetariff.api/src/io/openems/edge/timeofusetariff/test/DummyTimeOfUseTariffProvider.java
  io.openems.edge.timeofusetariff.awattar/src/io/openems/edge/timeofusetariff/awattar/TimeOfUseTariffAwattarImpl.java
Due: build-java, restore-cache, rebuild-cache

Update debug log
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2BatteryImpl.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/statemachine/UndefinedHandler.java
Due: build-java, restore-cache, rebuild-cache

fixed Bridge Deactivate Method
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/MqttBridgeImpl.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/worker/MqttWorker.java
Due: build-java, restore-cache, rebuild-cache

Modified the exchange rate handler. Added access key to acces the rates.
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Config.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/ExchangeRateApi.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoeImpl.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Utils.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/ExchangeRateApiTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/MyConfig.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/TouEntsoeTest.java
Due: build-java, restore-cache, rebuild-cache

Checkstyle changes
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/ExchangeRateApi.java
Due: build-java, restore-cache, rebuild-cache

UI: fix translation of SystemState (#828)
  ui/src/app/shared/status/single/status.component.html
  ui/src/assets/i18n/cz.json
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/es.json
  ui/src/assets/i18n/fr.json
  ui/src/assets/i18n/nl.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Bug fix
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoeImpl.java
Due: build-java, restore-cache, rebuild-cache

Added details to debugLog for additional debugging of StateMachine. Added additional test to test StateMachine
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2BatteryImpl.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/statemachine/ErrorHandler.java
  io.openems.edge.battery.pylontech/test/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2GenericEssIntegrationTest.java
Due: build-java, restore-cache, rebuild-cache

Fix StateMachine issue
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2BatteryImpl.java
Due: build-java, restore-cache, rebuild-cache

App Center: keep order of select options/fix english translation test (#826)
  io.openems.edge.core/src/io/openems/edge/app/enums/OptionsFactory.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/formly/builder/SelectBuilder.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
Due: build-java, restore-cache, rebuild-cache

UI: adding configuration for executing unittests locally (#827)
  ui/README.md
  ui/angular.json
  ui/karma.conf.local.js
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

lstm train for testing
  io.openems.edge.predictor.lstm/.classpath
  io.openems.edge.predictor.lstm/.gitignore
  io.openems.edge.predictor.lstm/bnd.bnd
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/Config.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/LstmModel.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/LstmModelImpl.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/Prediction.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/Predictor.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/Trend.txt
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/DataModification.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/DataStatistics.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/ReadModels.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/SaveModel.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/SavedModel.txt
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/interpolation/CubicalInterpolation.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/interpolation/Interpolation.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/interpolation/InterpolationManager.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/interpolation/LinearInterpolation.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/preprocessing/GroupBy.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/train/LstmTrain.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/train/LstmTrainCallBack.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/utilities/MathUtils.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/utilities/UtilityConversion.java
  io.openems.edge.predictor.lstm/test/io/openems/edge/predictor/lstm/GetModelTest.java
  io.openems.edge.predictor.lstm/test/io/openems/edge/predictor/lstm/SavedModel.txt
  io.openems.edge.predictor.lstm/test/io/openems/edge/predictor/lstm/SimpleTest.java
Due: build-java, restore-cache, rebuild-cache

UI: Fix Routing Bug (#831)
  ui/src/app/shared/header/header.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

PhoenixContact Meter: add invert option (#778)
  io.openems.edge.meter.phoenixcontact/src/io/openems/edge/meter/phoenixcontact/Config.java
  io.openems.edge.meter.phoenixcontact/src/io/openems/edge/meter/phoenixcontact/PhoenixContactMeter.java
  io.openems.edge.meter.phoenixcontact/src/io/openems/edge/meter/phoenixcontact/PhoenixContactMeterImpl.java
  io.openems.edge.meter.phoenixcontact/test/io/openems/edge/meter/phoenixcontact/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Correctly make min discharge current positive
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2BatteryImpl.java
Due: build-java, restore-cache, rebuild-cache

UI: fix login field description (#832)
  ui/src/app/index/login.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Correctly use Level.FAULT instead of warning. Tidy up various aspects.
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2Battery.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2BatteryImpl.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2BatteryProtectionDefinition.java
Due: build-java, restore-cache, rebuild-cache

Validate bugfix with JUnit test
  io.openems.edge.common/src/io/openems/edge/common/test/TestUtils.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/test/AbstractDummyElectricityMeter.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/test/DummyElectricityMeter.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/test/DummySinglePhaseElectricityMeter.java
  io.openems.edge.meter.api/test/io/openems/edge/meter/api/SinglePhaseMeterTest.java
Due: build-java, restore-cache, rebuild-cache

Add more JUnit test + fix one more copy&paste error
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/ElectricityMeter.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/test/AbstractDummyElectricityMeter.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/test/DummySinglePhaseElectricityMeter.java
  io.openems.edge.meter.api/test/io/openems/edge/meter/api/ElectricityMeterTest.java
  io.openems.edge.meter.api/test/io/openems/edge/meter/api/SinglePhaseMeterTest.java
Due: build-java, restore-cache, rebuild-cache

ElectricityMeter: fix calculateSinglePhaseFromActivePower & calculatePhasesFromReactivePower (#2386)
  io.openems.edge.common/src/io/openems/edge/common/test/TestUtils.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/ElectricityMeter.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/SinglePhaseMeter.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/test/AbstractDummyElectricityMeter.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/test/DummyElectricityMeter.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/test/DummySinglePhaseElectricityMeter.java
  io.openems.edge.meter.api/test/io/openems/edge/meter/api/ElectricityMeterTest.java
  io.openems.edge.meter.api/test/io/openems/edge/meter/api/SinglePhaseMeterTest.java
Due: build-java, restore-cache, rebuild-cache

Fix pom and wrapper
  cnf/pom.xml
  io.openems.wrapper/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

ScaleFactor: get next value to win one cycle
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/ElementToChannelScaleFactorConverter.java
Due: build-java, restore-cache, rebuild-cache

SunSpec: improvements (#2337)
  cnf/pom.xml
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/ElementToChannelScaleFactorConverter.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/AbstractOpenemsSunSpecComponent.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/sunspec/AbstractOpenemsSunSpecComponentTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/sunspec/DummySunSpecComponent.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/sunspec/SunSpecComponentTest.java
  io.openems.wrapper/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

start migration of chartjs
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix develop build
  io.openems.edge.timeofusetariff.api/src/io/openems/edge/timeofusetariff/test/DummyTimeOfUseTariffProvider.java
Due: build-java, restore-cache, rebuild-cache

SystemUpdate: allow update for SNAPSHOT/Release-Candidate (#833)
  .woodpecker/debian-package.yml
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  io.openems.common/src/io/openems/common/OpenemsOEM.java
  io.openems.common/test/io/openems/common/OpenemsOEMTest.java
  io.openems.edge.core/src/io/openems/edge/core/host/SystemUpdateHandler.java
  tools/build-debian-package.sh
  tools/common.sh
  ui/src/app/edge/settings/systemupdate/executeSystemUpdate.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

adding implementing a modal to getting started
  doc/modules/ROOT/assets/images/modal-line-example-consumption.png
  doc/modules/ROOT/pages/ui/implementing-a-widget.adoc
Due: none

UI: Restrict Queries before IBN-Date (#823)
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/abstracthistorywidget.ts
  ui/src/app/edge/history/historydataservice.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/pickdate/pickdate.component.html
  ui/src/app/shared/pickdate/pickdate.component.spec.ts
  ui/src/app/shared/pickdate/pickdate.component.ts
  ui/src/app/shared/pickdate/popover/popover.component.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/utils/dateutils/dateutils.spec.ts
  ui/src/app/shared/utils/dateutils/dateutils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

SunSpec: dynamic scale-factors (#837)
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/element/AbstractModbusElement.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractReadTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/SunSpecPoint.java
Due: build-java, restore-cache, rebuild-cache

Alpitronic Hypercharger: fix energy `null` vs 0 (#839)
  io.openems.edge.evcs.alpitronic.hypercharger/src/io/openems/edge/evcs/hypercharger/EvcsAlpitronicHyperchargerImpl.java
Due: build-java, restore-cache, rebuild-cache

Docs: add implementing a UI modal (#2389)
  doc/modules/ROOT/assets/images/modal-line-example-consumption.png
  doc/modules/ROOT/pages/ui/implementing-a-widget.adoc
Due: none

FEMS Remote-Service: add systemd service [DEBIAN] (#840)
  tools/debian/DEBIAN/postinst
  tools/debian/etc/systemd/system/fems-remote-service.service
Due: none

Update bnd
  cnf/build.bnd
Due: none

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update README.md
  README.md
Due: none

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
