Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

UI: fix dataset properties nullpointer
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Extend vscode extensions with 18n ally
  ui/.vscode/extensions.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Fix chartJs yAxis scaling for only 0 values in data series
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/common/energy/chart/channels.spec.ts
  ui/src/app/edge/history/common/energy/chart/chart.spec.ts
  ui/src/app/edge/history/common/grid/chart/chart.spec.ts
  ui/src/app/edge/history/gridoptimizedcharge/chart.component.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/powerSocChart.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/statePriceChart.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/chart/chart.constants.ts
  ui/src/app/shared/genericComponents/shared/testing/common.ts
  ui/src/app/shared/genericComponents/shared/testing/tester.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: add missing redirect after token expired
  ui/src/app/shared/service/websocket.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Add Power-Assistant
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/settings/app/jsonrpc/getAppAssistant.spec.ts
  ui/src/app/edge/settings/app/jsonrpc/getAppAssistant.ts
  ui/src/app/edge/settings/app/permissions.ts
  ui/src/app/edge/settings/powerassistant/powerassistant.html
  ui/src/app/edge/settings/powerassistant/powerassistant.module.ts
  ui/src/app/edge/settings/powerassistant/powerassistant.ts
  ui/src/app/edge/settings/settings.component.html
  ui/src/app/edge/settings/settings.component.ts
  ui/src/app/edge/settings/settings.module.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/tsconfig.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Auto update for android build.gradle
  tools/common.sh
  ui/android/app/build.gradle
  ui/src/app/edge/settings/settings.component.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Translation keys for timedata category
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/OpenemsAppCategoryTest.java
Due: build-java, restore-cache, rebuild-cache

UI: add missing module for angular date picker
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/powerSocChart.ts
  ui/src/app/shared/components/pickdate/pickdate.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix live modal visualization of meters
  ui/src/app/shared/components/components.module.ts
  ui/src/app/shared/components/edge/meter/meter.module.ts
  ui/src/app/shared/components/modal/modal.module.ts
  ui/src/app/shared/shared.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: minor improvements
  ui/src/app/shared/components/components.module.ts
  ui/src/app/shared/components/modal/modal.module.ts
  ui/src/app/shared/components/pickdate/popover/popover.component.html
  ui/src/app/shared/components/pickdate/popover/popover.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Home: handle tower exceptionally not 0/null for some bms versions
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImpl.java
  io.openems.edge.battery.fenecon.home/test/io/openems/edge/battery/fenecon/home/TestStatic.java
Due: build-java, restore-cache, rebuild-cache

UI: prepare platform check to login page
  ui/package-lock.json
  ui/package.json
  ui/src/app/app.module.ts
  ui/src/app/app.service.ts
  ui/src/app/edge/history/common/energy/flat/flat.ts
  ui/src/app/edge/live/livedataservice.ts
  ui/src/app/index/login.component.ts
  ui/src/app/shared/directive/directive.ts
  ui/src/environments/index.ts
  ui/src/themes/openems/environments/backend-docker.ts
  ui/src/themes/openems/environments/edge-docker.ts
  ui/src/themes/openems/environments/theme.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix other consumption calculation
  ui/src/app/edge/history/common/consumption/chart/chart.spec.ts
  ui/src/app/edge/history/common/consumption/chart/chart.ts
  ui/src/app/shared/service/utils.spec.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: refactor gridOptimizedCharge history
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/Controller/Ess/GridoptimizedCharge/chart/chart.ts
  ui/src/app/edge/history/Controller/Ess/GridoptimizedCharge/chart/sellToGridLimitChart.component.ts
  ui/src/app/edge/history/Controller/Ess/GridoptimizedCharge/flat/flat.html
  ui/src/app/edge/history/Controller/Ess/GridoptimizedCharge/flat/flat.ts
  ui/src/app/edge/history/Controller/Ess/GridoptimizedCharge/gridOptimizeCharge.module.ts
  ui/src/app/edge/history/Controller/Ess/GridoptimizedCharge/overview/overview.html
  ui/src/app/edge/history/Controller/Ess/GridoptimizedCharge/overview/overview.ts
  ui/src/app/edge/history/Controller/controller.module.ts
  ui/src/app/edge/history/grid/chart.component.ts
  ui/src/app/edge/history/gridoptimizedcharge/chart.component.ts
  ui/src/app/edge/history/gridoptimizedcharge/gridoptimizedchargechartoverview/gridoptimizedchargechartoverview.component.html
  ui/src/app/edge/history/gridoptimizedcharge/gridoptimizedchargechartoverview/gridoptimizedchargechartoverview.component.ts
  ui/src/app/edge/history/gridoptimizedcharge/sellToGridLimitChart.component.ts
  ui/src/app/edge/history/gridoptimizedcharge/widget.component.html
  ui/src/app/edge/history/gridoptimizedcharge/widget.component.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/history.module.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

KACO Battery-Inverter optimization
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/BatteryInverterKacoBlueplanetGridsave.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/BatteryInverterKacoBlueplanetGridsaveImpl.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/Context.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/GoRunningHandler.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/RunningHandler.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/StoppedHandler.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/UndefinedHandler.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/test/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/BatteryInverterKacoBlueplanetGridsaveImplTest.java
Due: build-java, restore-cache, rebuild-cache

UI: replace global role with edge role check
  ui/src/app/edge/settings/settings.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Change formatNumber in gridOptimizeCharge-chart
  ui/src/app/edge/history/Controller/Ess/GridoptimizedCharge/chart/chart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Controller for control of an ESS according to §14a EnWG (Edge)
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.common/src/io/openems/edge/common/sum/Sum.java
  io.openems.edge.controller.ess.limiter14a/.classpath
  io.openems.edge.controller.ess.limiter14a/.gitignore
  io.openems.edge.controller.ess.limiter14a/.project
  io.openems.edge.controller.ess.limiter14a/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.controller.ess.limiter14a/bnd.bnd
  io.openems.edge.controller.ess.limiter14a/readme.adoc
  io.openems.edge.controller.ess.limiter14a/src/io/openems/edge/controller/ess/limiter14a/Config.java
  io.openems.edge.controller.ess.limiter14a/src/io/openems/edge/controller/ess/limiter14a/ControllerEssLimiter14a.java
  io.openems.edge.controller.ess.limiter14a/src/io/openems/edge/controller/ess/limiter14a/ControllerEssLimiter14aImpl.java
  io.openems.edge.controller.ess.limiter14a/src/io/openems/edge/controller/ess/limiter14a/RestrictionMode.java
  io.openems.edge.controller.ess.limiter14a/test/.gitignore
  io.openems.edge.controller.ess.limiter14a/test/io/openems/edge/controller/ess/limiter14a/ControllerEssLimiter14aTest.java
  io.openems.edge.controller.ess.limiter14a/test/io/openems/edge/controller/ess/limiter14a/MyConfig.java
  io.openems.edge.core/src/io/openems/edge/core/predictormanager/PredictorManagerImpl.java
  io.openems.edge.core/src/io/openems/edge/core/sum/SumImpl.java
Due: build-java, restore-cache, rebuild-cache

UI: reintroduce platform check for reloading page
  ui/src/app/app.service.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Live-EnergyMonitor: using new sum Max/Min Dischargepower channels
  ui/package-lock.json
  ui/src/app/edge/live/energymonitor/chart/section/abstractsection.component.ts
  ui/src/app/edge/live/energymonitor/chart/section/storage.component.ts
  ui/src/app/edge/live/energymonitor/energymonitor.component.ts
  ui/src/app/shared/components/edge/currentdata.spec.ts
  ui/src/app/shared/components/edge/currentdata.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: add unittest for role in /settings
  ui/src/app/edge/settings/settings.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Battery-Protection: add SoC-to-Percent characteristics & implement for FENECON Home Battery
  io.openems.edge.battery.api/src/io/openems/edge/battery/protection/BatteryProtection.java
  io.openems.edge.battery.api/src/io/openems/edge/battery/protection/BatteryProtectionDefinition.java
  io.openems.edge.battery.api/src/io/openems/edge/battery/protection/currenthandler/AbstractMaxCurrentHandler.java
  io.openems.edge.battery.api/src/io/openems/edge/battery/protection/currenthandler/ChargeMaxCurrentHandler.java
  io.openems.edge.battery.api/src/io/openems/edge/battery/protection/currenthandler/DischargeMaxCurrentHandler.java
  io.openems.edge.battery.bydcommercial/src/io/openems/edge/battery/bydcommercial/BatteryProtectionDefinitionBydC130.java
  io.openems.edge.battery.fenecon.commercial/src/io/openems/edge/battery/fenecon/commercial/BatteryProtectionDefinition.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/FeneconHomeBatteryProtection52.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/FeneconHomeBatteryProtection64.java
  io.openems.edge.battery.fenecon.home/test/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImplTest.java
  io.openems.edge.battery.soltaro/src/io/openems/edge/battery/soltaro/common/batteryprotection/AbstractBatteryProtectionDefinitionSoltaro.java
Due: build-java, restore-cache, rebuild-cache

Home: downgrade states to INFO
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHome.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImpl.java
Due: build-java, restore-cache, rebuild-cache

UI: hide second yAxis in grid history if no Controller14a
  ui/src/app/edge/history/common/grid/chart/chart.spec.ts
  ui/src/app/edge/history/common/grid/chart/chart.ts
  ui/src/app/shared/components/edge/edgeconfig.spec.ts
  ui/src/app/shared/components/shared/testing/common.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix build
  ui/src/app/edge/settings/alerting/alerting.component.ts
  ui/src/app/edge/settings/jsonrpctest/jsonrpctest.permission.ts
  ui/src/app/shared/components/edge/edgeconfig.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/service/test/dummyservice.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

SimulatorApp: fix bug related to creation of Ess.Power component (#2722)
  io.openems.edge.simulator/src/io/openems/edge/simulator/app/SimulatorAppImpl.java
Due: build-java, restore-cache, rebuild-cache

fix: add type to test code
  ui/src/app/edge/history/common/energy/chart/channels.spec.ts
  ui/src/app/edge/history/common/energy/chart/chart.constants.spec.ts
  ui/src/app/shared/components/edge/edgeconfig.spec.ts
  ui/src/app/shared/components/shared/testing/tester.ts
  ui/src/app/shared/utils/array/array.utils.ts
  ui/src/app/shared/utils/date/dateutils.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: add types to edgeconfig.ts
  ui/src/app/shared/components/edge/edgeconfig.ts
  ui/tsconfig.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: decrease using type of any to get typing benefit
  ui/src/app/changelog/view/component/changelog.constants.ts
  ui/src/app/edge/history/historydataservice.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/flat/flat.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/modal.ts
  ui/src/app/edge/live/Multiple/Evcs_Api_Cluster/modal/evcs-chart/evcs.chart.ts
  ui/src/app/edge/live/energymonitor/chart/section/abstractsection.component.ts
  ui/src/app/shared/components/pickdate/pickdate.component.ts
  ui/src/app/shared/service/arrayutils.ts
  ui/src/app/shared/service/myerrorhandler.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/service/test/dummyservice.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/type/language.ts
  ui/src/app/shared/utils/array/array.utils.ts
  ui/src/zone-flags.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix decrease using type of any to get typing benefit (#2704)
  ui/src/app/changelog/view/component/changelog.constants.ts
  ui/src/app/edge/history/historydataservice.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/flat/flat.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/modal.ts
  ui/src/app/edge/live/Multiple/Evcs_Api_Cluster/modal/evcs-chart/evcs.chart.ts
  ui/src/app/edge/live/energymonitor/chart/section/abstractsection.component.ts
  ui/src/app/shared/components/pickdate/pickdate.component.ts
  ui/src/app/shared/service/arrayutils.ts
  ui/src/app/shared/service/myerrorhandler.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/service/test/dummyservice.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/type/language.ts
  ui/src/app/shared/utils/array/array.utils.ts
  ui/src/zone-flags.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix Checkstyle - add Javadoc
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/StandAlonePredictorTest.java
Due: build-java, restore-cache, rebuild-cache

Disable tests
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/interpolation/CubicalInterpolation.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/StandAlonePredictorTest.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/interpolation/InterpolationMangerTest.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/preprocessing/CombineFeatureTest.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/train/BatchImplementationTest.java
Due: build-java, restore-cache, rebuild-cache

Apply prepare-commit.sh
  io.openems.edge.predictor.lstmmodel/.gitignore
  io.openems.edge.predictor.lstmmodel/test/.gitignore
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/flat/flat.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location
