Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

.woodpecker.yml:

# Woodpecker-CI
# 
# Um den Docker Container fuer build ('openems-build') zu aktualisieren:
# - ssh auf gitvm
# - cd /root/fems/tools
# - git pull
# - bash drone-docker.sh

pipeline:
  restore-cache:
    image: drillster/drone-volume-cache
    restore: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.npm
    volumes:
      - cache:/cache
    group: restore

  build-java:
    when:
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '**/.woodpecker.yml' ]
    image: openems-build:latest
    environment:
      - GRADLE_USER_HOME=/woodpecker/.gradle
    commands:
      - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
      - ./gradlew build buildEdge
      - ./gradlew resolve.BackendApp
      - git diff --exit-code io.openems.backend.application/BackendApp.bndrun
      - ./gradlew resolve.EdgeApp
      - git diff --exit-code io.openems.edge.application/EdgeApp.bndrun
      - cp build/openems.jar ui/target
    group: build
    
  build-ui:
    when:
      path:
        include: [ 'ui/**', '**/.woodpecker.yml' ]
    image: openems-build:latest
    commands:
      - cd ui
      - npm ci --prefer-offline --cache /woodpecker/.npm
      - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
      - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
      - node_modules/.bin/ng lint
      - export CHROME_BIN=/usr/bin/google-chrome-stable
      - npm run test -- --no-watch --no-progress --browsers=ChromeHeadlessCI
    group: build

  refresh-dev:
    when:
      path:
        include: [ 'ui/**', '**/.woodpecker.yml' ]
    image: appleboy/drone-scp
    host: 10.0.0.40
    user: fenecon-docs
    secrets: 
      - source: ssh_key_intranet 
        target: scp_key
    rm: true
    source: ./ui/target
    strip_components: 3
    target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
    group: refresh

  rebuild-cache:
    image: drillster/drone-volume-cache
    rebuild: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.npm
    volumes:
      - cache:/cache
    group: refresh

.woodpecker/.java-build.yml:

# Woodpecker-CI
# 
# Um den Docker Container fuer build ('openems-build') zu aktualisieren:
# - ssh auf gitvm
# - cd /root/fems/tools
# - git pull
# - bash drone-docker.sh

clone:
  git-clone:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: woodpeckerci/plugin-git:v1.6.1
    settings:
      depth: 1
      lfs: false
      recursive: false
      tags: false
      partial: true

pipeline:
  restore-cache:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: drillster/drone-volume-cache
    restore: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.m2
    volumes:
      - cache:/cache

  build-java:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: openems-build:latest
    environment:
      - GRADLE_USER_HOME=/woodpecker/.gradle
    commands:
      - mkdir -p /woodpecker/.m2 && ln -s /woodpecker/.m2 ~/.m2
      - ./gradlew --build-cache build
      - ./gradlew resolve.EdgeApp
      - ./gradlew resolve.BackendApp
      - git diff --exit-code io.openems.edge.application/EdgeApp.bndrun io.openems.backend.application/BackendApp.bndrun

  rebuild-cache:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: drillster/drone-volume-cache
    rebuild: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.m2
    volumes:
      - cache:/cache

Improved DezonyApi
  io.openems.edge.evcs.dezony/src/io/openems/edge/evcs/dezony/DezonyApi.java
Due: build-java, restore-cache, rebuild-cache

Formatted dezony package
  io.openems.edge.evcs.dezony/src/io/openems/edge/evcs/dezony/Config.java
  io.openems.edge.evcs.dezony/src/io/openems/edge/evcs/dezony/DezonyApi.java
  io.openems.edge.evcs.dezony/src/io/openems/edge/evcs/dezony/DezonyImpl.java
  io.openems.edge.evcs.dezony/src/io/openems/edge/evcs/dezony/DezonyReadWorker.java
Due: build-java, restore-cache, rebuild-cache

Reordered the attributes in DezonyImpl
  io.openems.edge.evcs.dezony/src/io/openems/edge/evcs/dezony/DezonyImpl.java
Due: build-java, restore-cache, rebuild-cache

Update bnd files
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/influxdb-client-core.bnd
  io.openems.wrapper/influxdb-client-java.bnd
  io.openems.wrapper/influxdb-client-utils.bnd
  io.openems.wrapper/influxdb-flux-dsl.bnd
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Continue WIP
  io.openems.edge.bridge.modbus/doc/modbus-bridge.svg
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/AbstractModbusBridge.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/LogVerbosity.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractReadTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/FC16WriteRegistersTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/FC5WriteCoilTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/FC6WriteRegisterTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/ModbusWorker.java
Due: build-java, restore-cache, rebuild-cache

Update gradle to 8.0.2
  .gradle-wrapper/gradle-wrapper.properties
Due: build-java, restore-cache, rebuild-cache

Preprocessing refactor
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/LstmPredictorImpl.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/Cell.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/Lstm.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/MathUtils.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/Preprocessing.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/TrainPredict.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/Data.java
Due: build-java, restore-cache, rebuild-cache

Adding the Interpolation class
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/Interpolation.java
Due: build-java, restore-cache, rebuild-cache

App Center: fill props in validation (#613)
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AbstractOpenemsApp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AbstractOpenemsAppWithProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerImpl.java
Due: build-java, restore-cache, rebuild-cache

App Center HardyBarth EVCS: fix empty Statement (#614)
  io.openems.edge.core/src/io/openems/edge/app/evcs/HardyBarthEvcs.java
Due: build-java, restore-cache, rebuild-cache

Update Changelog for 2023.3.8
  ui/package-lock.json
  ui/src/app/changelog/view/component/changelog.component.ts
Due: build-ui, refresh-dev

Push version to 2023.3.8
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Start development of version 2023.3.9-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Fix Changelog
  ui/src/app/changelog/view/component/changelog.component.ts
Due: build-ui, refresh-dev

Push version to 2023.4.0
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  tools/prepare-next-snapshot.sh
  tools/prepare-release.sh
  ui/package-lock.json
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Start development of version 2023.5.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  tools/prepare-next-snapshot.sh
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Updated Ess and gridmeter
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/charger/SolaredgeDcCharger.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/charger/SolaredgeDcChargerImpl.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/gridmeter/AbstractSolaredgeGridmeter.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/gridmeter/SolaredgeGridmeter.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/gridmeter/SolaredgeGridmeterImpl.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/Config.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/SolarEdgeHybridEss.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/SolarEdgeHybridEssImpl.java
  io.openems.edge.solaredge/test/io/openems/edge/solaredge/gridmeter/SolarEdgeGridMeterTest.java
Due: build-java, restore-cache, rebuild-cache

Global Minima function
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/LstmPredictorImpl.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/Cell.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/Interpolation.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/Lstm.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/TrainPredict.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/UtilityFunctionsTesting.java
Due: build-java, restore-cache, rebuild-cache

Code cleanup
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/SolarEdgeHybridEss.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/SolarEdgeHybridEssImpl.java
Due: build-java, restore-cache, rebuild-cache

Added description; offset-address is now configurable
  io.openems.edge.io.siemenslogo/readme.adoc
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/Config.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/SiemensLogoRelayImpl.java
Due: build-java, restore-cache, rebuild-cache

Changed Historic Data view error text (#615)
  ui/src/app/shared/history-data-error.component.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev

Copied AbstractSunSpecEss to solaredge folder
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/SiemensLogoRelayImpl.java
  io.openems.edge.solaredge/bnd.bnd
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/charger/AbstractSolaredgeDcCharger.java.old
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/AbstractSunSpecEss.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/SolarEdgeHybridEssImpl.java
Due: build-java, restore-cache, rebuild-cache

Update Changelog for 2023.4.1
  ui/src/app/changelog/view/component/changelog.component.ts
Due: build-ui, refresh-dev

Push version to 2023.4.1
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Start development of version 2023.4.2-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

minor bugs
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/gridmeter/SolaredgeGridmeterImpl.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/SolarEdgeHybridEssImpl.java
Due: build-java, restore-cache, rebuild-cache

bug fixing for configurable start address
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/Config.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/SiemensLogoRelayImpl.java
Due: build-java, restore-cache, rebuild-cache

Added differnt offsets for reading and writing
  io.openems.edge.io.siemenslogo/readme.adoc
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/Config.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/SiemensLogoRelayImpl.java
Due: build-java, restore-cache, rebuild-cache

Update readme.adoc
  io.openems.edge.io.siemenslogo/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Update SiemensLogoRelayImpl.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/SiemensLogoRelayImpl.java
Due: build-java, restore-cache, rebuild-cache

IP-Address config properties: strip before parsing
  io.openems.common/src/io/openems/common/utils/JsonUtils.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/BridgeModbusTcpImpl.java
  io.openems.edge.kaco.blueplanet.hybrid10/src/io/openems/edge/kaco/blueplanet/hybrid10/core/BpCoreImpl.java
  io.openems.edge.tesla.powerwall2/src/io/openems/edge/tesla/powerwall2/core/TeslaPowerwall2CoreImpl.java
Due: build-java, restore-cache, rebuild-cache

Update AbstractSiemensLogoRelay.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/AbstractSiemensLogoRelay.java
Due: build-java, restore-cache, rebuild-cache

Update Config.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/Config.java
Due: build-java, restore-cache, rebuild-cache

Update bnd.bnd
  io.openems.edge.io.siemenslogo/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

Minor fixes
  io.openems.edge.io.siemenslogo/bnd.bnd
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/AbstractSiemensLogoRelay.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/SiemensLogoRelayImpl.java
  io.openems.edge.meter.EMH/src/io/openems/edge/meter/EMH/Config.java
  io.openems.edge.meter.EMH/src/io/openems/edge/meter/EMH/MeterEMHImpl.java
Due: build-java, restore-cache, rebuild-cache

Update MeterJanitzaUmg104.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg104/MeterJanitzaUmg104.java
Due: build-java, restore-cache, rebuild-cache

Update EdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache
