Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

.woodpecker.yml:

# Woodpecker-CI
# 
# Um den Docker Container fuer build ('openems-build') zu aktualisieren:
# - ssh auf gitvm
# - cd /root/fems/tools
# - git pull
# - bash drone-docker.sh

pipeline:
  restore-cache:
    image: drillster/drone-volume-cache
    restore: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.npm
    volumes:
      - cache:/cache
    group: restore

  build-java:
    when:
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '**/.woodpecker.yml' ]
    image: openems-build:latest
    environment:
      - GRADLE_USER_HOME=/woodpecker/.gradle
    commands:
      - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
      - ./gradlew build buildEdge
      - ./gradlew resolve.BackendApp
      - git diff --exit-code io.openems.backend.application/BackendApp.bndrun
      - ./gradlew resolve.EdgeApp
      - git diff --exit-code io.openems.edge.application/EdgeApp.bndrun
      - cp build/openems.jar ui/target
    group: build
    
  build-ui:
    when:
      path:
        include: [ 'ui/**', '**/.woodpecker.yml' ]
    image: openems-build:latest
    commands:
      - cd ui
      - npm ci --prefer-offline --cache /woodpecker/.npm
      - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
      - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
      - node_modules/.bin/ng lint
      - export CHROME_BIN=/usr/bin/google-chrome-stable
      - npm run test -- --no-watch --no-progress --browsers=ChromeHeadlessCI
    group: build

  refresh-dev:
    when:
      path:
        include: [ 'ui/**', '**/.woodpecker.yml' ]
    image: appleboy/drone-scp
    host: 10.0.0.40
    user: fenecon-docs
    secrets: 
      - source: ssh_key_intranet 
        target: scp_key
    rm: true
    source: ./ui/target
    strip_components: 3
    target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
    group: refresh

  rebuild-cache:
    image: drillster/drone-volume-cache
    rebuild: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.npm
    volumes:
      - cache:/cache
    group: refresh

.woodpecker/.java-build.yml:

# Woodpecker-CI
# 
# Um den Docker Container fuer build ('openems-build') zu aktualisieren:
# - ssh auf gitvm
# - cd /root/fems/tools
# - git pull
# - bash drone-docker.sh

clone:
  git-clone:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: woodpeckerci/plugin-git:v1.6.1
    settings:
      depth: 1
      lfs: false
      recursive: false
      tags: false
      partial: true

pipeline:
  restore-cache:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: drillster/drone-volume-cache
    restore: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.m2
    volumes:
      - cache:/cache

  build-java:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: openems-build:latest
    environment:
      - GRADLE_USER_HOME=/woodpecker/.gradle
    commands:
      - mkdir -p /woodpecker/.m2 && ln -s /woodpecker/.m2 ~/.m2
      - ./gradlew --build-cache build
      - ./gradlew resolve.EdgeApp
      - ./gradlew resolve.BackendApp
      - git diff --exit-code io.openems.edge.application/EdgeApp.bndrun io.openems.backend.application/BackendApp.bndrun

  rebuild-cache:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: drillster/drone-volume-cache
    rebuild: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.m2
    volumes:
      - cache:/cache

Final review
  io.openems.edge.evcs.webasto.next/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.evcs.webasto.next/bnd.bnd
  io.openems.edge.evcs.webasto.next/doc/Webasto_NEXT_Modbus_Register_1-00_external_V3.pdf
  io.openems.edge.evcs.webasto.next/readme.adoc
  io.openems.edge.evcs.webasto.next/src/io/openems/edge/evcs/webasto/next/Config.java
  io.openems.edge.evcs.webasto.next/src/io/openems/edge/evcs/webasto/next/EvcsWebastoNext.java
  io.openems.edge.evcs.webasto.next/src/io/openems/edge/evcs/webasto/next/EvcsWebastoNextImpl.java
  io.openems.edge.evcs.webasto.unite/doc/Webasto_UNITE_Modbus_Register_1-00_external_V1.pdf
Due: build-java, restore-cache, rebuild-cache

Implementation of the Webasto Next electric vehicle charging station (#2081)
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.evcs.webasto.next/.classpath
  io.openems.edge.evcs.webasto.next/.gitignore
  io.openems.edge.evcs.webasto.next/.project
  io.openems.edge.evcs.webasto.next/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.evcs.webasto.next/bnd.bnd
  io.openems.edge.evcs.webasto.next/readme.adoc
  io.openems.edge.evcs.webasto.next/src/io/openems/edge/evcs/webasto/next/Config.java
  io.openems.edge.evcs.webasto.next/src/io/openems/edge/evcs/webasto/next/EvcsWebastoNext.java
  io.openems.edge.evcs.webasto.next/src/io/openems/edge/evcs/webasto/next/EvcsWebastoNextImpl.java
  io.openems.edge.evcs.webasto.next/src/io/openems/edge/evcs/webasto/next/enums/CableState.java
  io.openems.edge.evcs.webasto.next/src/io/openems/edge/evcs/webasto/next/enums/ChargePointState.java
  io.openems.edge.evcs.webasto.next/src/io/openems/edge/evcs/webasto/next/enums/EvseErrorCode.java
  io.openems.edge.evcs.webasto.next/src/io/openems/edge/evcs/webasto/next/enums/EvseState.java
  io.openems.edge.evcs.webasto.next/src/io/openems/edge/evcs/webasto/next/enums/StartCancelChargingSession.java
  io.openems.edge.evcs.webasto.next/test/.gitignore
  io.openems.edge.evcs.webasto.next/test/io/openems/edge/evcs/webasto/next/EvcsWebastoNextTest.java
  io.openems.edge.evcs.webasto.next/test/io/openems/edge/evcs/webasto/next/MyConfig.java
  io.openems.edge.evcs.webasto.unite/doc/Webasto_UNITE_Modbus_Register_1-00_external_V1.pdf
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Include keys in components object in edge config
  io.openems.common/src/io/openems/common/types/EdgeConfig.java
Due: build-java, restore-cache, rebuild-cache

Final review & apply script
  io.openems.edge.evcs.alpitronic.hypercharger/.project
  io.openems.edge.io.offgridswitch/.project
  io.openems.edge.meter.sma.shm20/.project
  tools/prepare-commit.sh
Due: build-java, restore-cache, rebuild-cache

Script prepare-commit: autocreate missing files using IntelliJ IDEA (#2083)
  io.openems.edge.evcs.alpitronic.hypercharger/.project
  io.openems.edge.io.offgridswitch/.project
  io.openems.edge.meter.sma.shm20/.project
  tools/prepare-commit.sh
Due: build-java, restore-cache, rebuild-cache

InfluxDB: fix normalize table; fill with nulls (#582)
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/InfluxQlProxy.java
Due: build-java, restore-cache, rebuild-cache

App-Center: decreased validation time for free Apps (#568)
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppInstallWorker.java
Due: build-java, restore-cache, rebuild-cache

AppCenter: allow installing free apps without key (#572)
  ui/src/app/edge/settings/app/install.component.ts
  ui/src/app/edge/settings/app/keypopup/appCenterInstallAppWithSuppliedKey.ts
  ui/src/app/edge/settings/app/keypopup/appCenterIsAppFree.ts
  ui/src/app/edge/settings/app/single.component.html
  ui/src/app/edge/settings/app/single.component.ts
Due: build-ui, refresh-dev

FixSocController/PrepareBatteryExtension: add UI (#516)
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/api/FixStateOfCharge.java
  ui/src/app/edge/live/common/storage/modal/modal.component.html
  ui/src/app/edge/live/common/storage/modal/modal.component.ts
  ui/src/app/edge/live/common/storage/storage.component.html
  ui/src/app/edge/live/common/storage/storage.component.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

UI: add Changelog to SystemUpdate (#576)
  ui/src/app/app-routing.module.ts
  ui/src/app/changelog/changelog.component.html
  ui/src/app/changelog/changelog.module.ts
  ui/src/app/changelog/view/component/changelog.component.html
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/changelog/view/component/changelog.constants.ts
  ui/src/app/changelog/view/view.html
  ui/src/app/changelog/view/view.ts
  ui/src/app/edge/settings/settings.module.ts
  ui/src/app/edge/settings/systemupdate/systemupdate.component.html
  ui/src/app/user/user.component.ts
Due: build-ui, refresh-dev

SolarEdge and Sunspec ESS
  io.openems.edge.ess.sunspec/.classpath
  io.openems.edge.ess.sunspec/.gitignore
  io.openems.edge.ess.sunspec/.project
  io.openems.edge.ess.sunspec/bnd.bnd
  io.openems.edge.ess.sunspec/readme.adoc
  io.openems.edge.ess.sunspec/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

Solaredge
  io.openems.edge.ess.sunspec/src/io/openems/edge/ess/sunspec/AbstractSunSpecEss.java
  io.openems.edge.ess.sunspec/src/io/openems/edge/ess/sunspec/Config.java
  io.openems.edge.ess.sunspec/src/io/openems/edge/ess/sunspec/SunSpecEss.java
  io.openems.edge.ess.sunspec/src/io/openems/edge/ess/sunspec/package-info.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/enums/AcChargePolicy.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/enums/BatteryStatus.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/enums/ChargeDischargeMode.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/enums/ControlMode.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/gridmeter/SolarEdgeGridMeter.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/gridmeter/SolarEdgeGridMeterChannelId.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/Config.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/SolarEdgeHybridEss.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/SolarEdgeHybridEssImpl.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/pvinverter/Config.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/pvinverter/SolarEdgePvInverter.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/pvinverter/SolarEdgePvInverterImpl.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/pvinverter/SolarEdgePvinverterChannelId.java
  io.openems.edge.solaredge/test/io/openems/edge/solaredge/gridmeter/MyConfig.java
  io.openems.edge.solaredge/test/io/openems/edge/solaredge/pvinverter/MyConfig.java
  io.openems.edge.solaredge/test/io/openems/edge/solaredge/pvinverter/SolarEdgePvInverterTest.java
Due: build-java, restore-cache, rebuild-cache

Meter EMH, Janitza. IO Siemens Logo
  io.openems.edge.controller.evcs/src/io/openems/edge/controller/evcs/Config.java
  io.openems.edge.controller.evcs/src/io/openems/edge/controller/evcs/EvcsController.java
  io.openems.edge.controller.io.channelsinglethreshold/src/io/openems/edge/controller/io/channelsinglethreshold/ChannelSingleThreshold.java
  io.openems.edge.controller.io.channelsinglethreshold/src/io/openems/edge/controller/io/channelsinglethreshold/ChannelSingleThresholdImpl.java
  io.openems.edge.controller.io.channelsinglethreshold/src/io/openems/edge/controller/io/channelsinglethreshold/State.java
  io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/Config.java
  io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/EvcsClusterImpl.java
  io.openems.edge.io.siemenslogo/.classpath
  io.openems.edge.io.siemenslogo/.gitignore
  io.openems.edge.io.siemenslogo/.project
  io.openems.edge.io.siemenslogo/bnd.bnd
  io.openems.edge.io.siemenslogo/readme.adoc
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/AbstractSiemensLogoRelay.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/Config.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/SiemensLogoRelay.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/SiemensLogoRelayImpl.java
  io.openems.edge.meter.EMH/.classpath
  io.openems.edge.meter.EMH/.gitignore
  io.openems.edge.meter.EMH/.project
  io.openems.edge.meter.EMH/bnd.bnd
  io.openems.edge.meter.EMH/readme.adoc
  io.openems.edge.meter.EMH/src/io/openems/edge/meter/EMH/Config.java
  io.openems.edge.meter.EMH/src/io/openems/edge/meter/EMH/MeterEMH.java
  io.openems.edge.meter.EMH/src/io/openems/edge/meter/EMH/MeterEMHImpl.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg104/Config.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg104/MeterJanitzaUmg104.java
Due: build-java, restore-cache, rebuild-cache

ESS Test
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/SolarEdgeHybridEssImpl.java
Due: build-java, restore-cache, rebuild-cache

testing ess
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/SolarEdgeHybridEssImpl.java
  ui/package-lock.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

InfluxDB: safe write worker; avoid lost data on write error (#587)
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/AbstractMergePointsWorker.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/ForceMergePointsWorker.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/InfluxConnector.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/MergePointsWorker.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/SafeMergePointsWorker.java
Due: build-java, restore-cache, rebuild-cache

Update SolarEdgeHybridEssImpl.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/SolarEdgeHybridEssImpl.java
Due: build-java, restore-cache, rebuild-cache

UI: Formly wrapper for default values/alias field (#579)
  ui/src/app/edge/settings/app/install.component.ts
  ui/src/app/edge/settings/app/jsonrpc/getAppAssistant.ts
  ui/src/app/edge/settings/app/update.component.ts
  ui/src/app/shared/formly/form-field-default-cases.wrapper.ts
  ui/src/app/shared/formly/panel-wrapper.component.ts
  ui/src/app/shared/shared.module.ts
Due: build-ui, refresh-dev

Backend EdgeWebsocket: improve log message on authentication error (#589)
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/OnOpen.java
Due: build-java, restore-cache, rebuild-cache

HeatPump: Reset state channels when modified (#583)
  io.openems.edge.controller.io.heatpump.sgready/src/io/openems/edge/controller/io/heatpump/sgready/HeatPumpImpl.java
Due: build-java, restore-cache, rebuild-cache

UI: improve/distinguish history warning (#588)
  ui/package-lock.json
  ui/src/app/edge/history/abstracthistorychart.html
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/energy/energy.component.html
  ui/src/app/edge/history/energy/energy.component.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/history.component.ts
  ui/src/app/edge/history/history.module.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.html
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/history-data-error.component.ts
  ui/src/app/shared/shared.module.ts
  ui/src/assets/i18n/cz.json
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/es.json
  ui/src/assets/i18n/fr.json
  ui/src/assets/i18n/nl.json
Due: build-ui, refresh-dev

Push version to 2023.3.4
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Update Changelog for 2023.3.4
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-ui, refresh-dev

Start development of version 2023.3.5-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Add required files for UI update (mainly sendLog and pagination)
  io.openems.backend.common/src/io/openems/backend/common/jsonrpc/request/SendLogMessageRequest.java
  io.openems.backend.common/src/io/openems/backend/common/jsonrpc/request/SubscribeEdgesRequest.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/Metadata.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/User.java
  io.openems.backend.common/src/io/openems/backend/common/test/DummyMetadata.java
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/DummyMetadata.java
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/FileMetadata.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/OdooMetadata.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooHandler.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/OnNotification.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/OnRequest.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/UiWebsocketImpl.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/jsonrpc/notification/LogMessageNotification.java
  io.openems.common/src/io/openems/common/jsonrpc/request/AuthenticatedRpcRequest.java
  io.openems.common/src/io/openems/common/jsonrpc/request/GetEdgeRequest.java
  io.openems.common/src/io/openems/common/jsonrpc/request/GetEdgesRequest.java
  io.openems.common/src/io/openems/common/jsonrpc/response/AuthenticateResponse.java
  io.openems.common/src/io/openems/common/jsonrpc/response/GetEdgeResponse.java
  io.openems.common/src/io/openems/common/jsonrpc/response/GetEdgesResponse.java
  io.openems.common/src/io/openems/common/utils/StringUtils.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/OnRequest.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/Utils.java
  ui/src/app/changelog/view/component/changelog.component.html
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

npm audit fix
  ui/package-lock.json
Due: build-ui, refresh-dev

Clean
  io.openems.edge.evcs.dezony/bin_test/.gitignore
Due: build-java, restore-cache, rebuild-cache

AppCenter translations (#591)
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
Due: build-java, restore-cache, rebuild-cache

add eslint rule
  ui/.eslintrc.json
Due: build-ui, refresh-dev

Update missing classpaths
  io.openems.edge.evcs.alpitronic.hypercharger/.classpath
  io.openems.edge.evcs.dezony/generated/buildfiles
  io.openems.edge.evcs.webasto.next/.classpath
  io.openems.edge.evcs.webasto.unite/.classpath
Due: build-java, restore-cache, rebuild-cache

Update Changelog for 2023.3.5
  ui/src/app/changelog/view/component/changelog.component.ts
Due: build-ui, refresh-dev
