Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

Address DDSU666 maintainer review feedback
  io.openems.edge.meter.chint/bnd.bnd
  io.openems.edge.meter.chint/example-felix.config
  io.openems.edge.meter.chint/readme.adoc
  io.openems.edge.meter.chint/src/io/openems/edge/meter/chint/ddsu666/Config.java
  io.openems.edge.meter.chint/src/io/openems/edge/meter/chint/ddsu666/MeterChintDdsu666.java
  io.openems.edge.meter.chint/src/io/openems/edge/meter/chint/ddsu666/MeterChintDdsu666Impl.java
  io.openems.edge.meter.chint/test/io/openems/edge/meter/chint/ddsu666/MeterChintDdsu666ImplTest.java
  io.openems.edge.meter.chint/test/io/openems/edge/meter/chint/ddsu666/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Set DDSU666 bundle vendor metadata
  io.openems.edge.meter.chint/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

Combine DummySunSpecComponents
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooUtils.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/AbstractOpenemsSunSpecComponent.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/ess/AbstractSunSpecEss.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/pvinverter/AbstractSunSpecPvInverter.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/sunspec/AbstractOpenemsSunSpecComponentTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/sunspec/DummySunSpecComponent.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/sunspec/SunSpecComponentTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/sunspec/SunSpecStartTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/sunspec/dummy/DummySunSpecComponent.java
Due: build-java, restore-cache, rebuild-cache

JUnit
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/sunspec/AbstractOpenemsSunSpecComponentTest.java
Due: build-java, restore-cache, rebuild-cache

Checkstyle
  cnf/checkstyle.xml
Due: none

Formatting
  io.openems.edge.bridge.modbus/bnd.bnd
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/sunspec/ess/Config.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/sunspec/ess/MyConfig.java
  io.openems.edge.solaredge/bnd.bnd
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/charger/Config.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/ess/SolarEdgeEss.java
  io.openems.edge.solaredge/test/io/openems/edge/solaredge/ess/SolarEdgeEssImplTest.java
Due: build-java, restore-cache, rebuild-cache

Update JUnit
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/BridgeModbusTcpImplTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] Add documentation for running the prebuilt UI (#3702)
  doc/modules/ROOT/nav.adoc
  doc/modules/ROOT/pages/gettingstarted.adoc
  doc/modules/ROOT/pages/ui/deploy/docker.adoc
  doc/modules/ROOT/pages/ui/deploy/nginx.adoc
Due: none

fix documentation structure and links for UI.
  doc/modules/ROOT/nav.adoc
  doc/modules/ROOT/pages/gettingstarted.adoc
Due: none

Fix link to GermanDSO.java in readme.adoc
  io.openems.edge.timeofusetariff.entsoe/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Add detailed readme for ancillary costs component
  io.openems.edge.timeofusetariff.ancillarycosts/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Update modbus device template to new reference target system
  io.openems.common/resources/templates/device-modbus/$srcDir$/$basePackageDir$/Config.java
  io.openems.common/resources/templates/device-modbus/$srcDir$/$basePackageDir$/MyModbusDevice.java
  io.openems.common/resources/templates/device-modbus/$srcDir$/$basePackageDir$/MyModbusDeviceImpl.java
  io.openems.common/resources/templates/device-modbus/$testSrcDir$/$basePackageDir$/MyConfig.java
  io.openems.common/resources/templates/device-modbus/$testSrcDir$/$basePackageDir$/MyModbusDeviceTest.java
Due: build-java, restore-cache, rebuild-cache

Add dynamic component rendering for component-line
  ui/src/app/shared/components/formly/formly-field-navigation/formly-field-navigation.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bnd
  cnf/pom.xml
  io.openems.wrapper/auth0-jwks-rsa.bnd
  io.openems.wrapper/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

fix(ui): use EMS timezone for historic and live charts
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/abstracthistorywidget.ts
  ui/src/app/edge/history/common/energy/flat/flat.ts
  ui/src/app/edge/history/historydataservice.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/modal/predictionChart.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/shared/prediction-chart.ts
  ui/src/app/edge/live/common/production/new-navigation/production-chart-component.ts
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesDataRequest.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesEnergyPerPeriodRequest.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesEnergyRequest.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesExportXlxs.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/utils/datetime/datetime-utils.spec.ts
  ui/src/app/shared/utils/datetime/datetime-utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Review
  io.openems.edge.meter.chint/src/io/openems/edge/meter/chint/ddsu666/MeterChintDdsu666.java
  io.openems.edge.meter.chint/src/io/openems/edge/meter/chint/ddsu666/MeterChintDdsu666Impl.java
  io.openems.edge.meter.chint/test/io/openems/edge/meter/chint/ddsu666/MeterChintDdsu666ImplTest.java
  io.openems.edge.meter.chint/test/io/openems/edge/meter/chint/ddsu666/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Apply tools/prepare-commit.sh; fix .project
  io.openems.edge.meter.chint/.project
Due: build-java, restore-cache, rebuild-cache

[Edge] Meter.Chint.DDSU666: add support for Chint single-phase meter (#3692)
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.meter.chint/.classpath
  io.openems.edge.meter.chint/.gitignore
  io.openems.edge.meter.chint/.project
  io.openems.edge.meter.chint/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.meter.chint/bnd.bnd
  io.openems.edge.meter.chint/readme.adoc
  io.openems.edge.meter.chint/src/io/openems/edge/meter/chint/ddsu666/Config.java
  io.openems.edge.meter.chint/src/io/openems/edge/meter/chint/ddsu666/MeterChintDdsu666.java
  io.openems.edge.meter.chint/src/io/openems/edge/meter/chint/ddsu666/MeterChintDdsu666Impl.java
  io.openems.edge.meter.chint/test/.gitignore
  io.openems.edge.meter.chint/test/io/openems/edge/meter/chint/ddsu666/MeterChintDdsu666ImplTest.java
  io.openems.edge.meter.chint/test/io/openems/edge/meter/chint/ddsu666/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Fix adoc formatting
  io.openems.edge.meter.socomec/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Modbus references; JUnit Jupiter
  io.openems.edge.meter.socomec/src/io/openems/edge/meter/socomec/singlephase/Config.java
  io.openems.edge.meter.socomec/src/io/openems/edge/meter/socomec/singlephase/MeterSocomecSinglephaseImpl.java
  io.openems.edge.meter.socomec/src/io/openems/edge/meter/socomec/threephase/Config.java
  io.openems.edge.meter.socomec/src/io/openems/edge/meter/socomec/threephase/MeterSocomecThreephaseImpl.java
  io.openems.edge.meter.socomec/test/io/openems/edge/meter/socomec/singlephase/MeterSocomecSinglephaseImplTest.java
  io.openems.edge.meter.socomec/test/io/openems/edge/meter/socomec/singlephase/MyConfig.java
  io.openems.edge.meter.socomec/test/io/openems/edge/meter/socomec/threephase/MeterSocomecThreephaseImplTest.java
  io.openems.edge.meter.socomec/test/io/openems/edge/meter/socomec/threephase/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Socomec Meter: implement Countis E47 and E48 (#3388)
  io.openems.edge.meter.socomec/doc/MODBUS tables of Countis_E47.html
  io.openems.edge.meter.socomec/readme.adoc
  io.openems.edge.meter.socomec/src/io/openems/edge/meter/socomec/AbstractSocomecMeter.java
  io.openems.edge.meter.socomec/src/io/openems/edge/meter/socomec/singlephase/Config.java
  io.openems.edge.meter.socomec/src/io/openems/edge/meter/socomec/singlephase/MeterSocomecSinglephaseImpl.java
  io.openems.edge.meter.socomec/src/io/openems/edge/meter/socomec/threephase/Config.java
  io.openems.edge.meter.socomec/src/io/openems/edge/meter/socomec/threephase/MeterSocomecThreephaseImpl.java
  io.openems.edge.meter.socomec/test/io/openems/edge/meter/socomec/singlephase/MeterSocomecSinglephaseImplTest.java
  io.openems.edge.meter.socomec/test/io/openems/edge/meter/socomec/singlephase/MyConfig.java
  io.openems.edge.meter.socomec/test/io/openems/edge/meter/socomec/threephase/MeterSocomecThreephaseImplTest.java
  io.openems.edge.meter.socomec/test/io/openems/edge/meter/socomec/threephase/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Docs: fix link to GermanDSOs (#3713)
  io.openems.edge.timeofusetariff.entsoe/readme.adoc
Due: build-java, restore-cache, rebuild-cache

[Edge] Update modbus device template to new reference target system (#3717)
  io.openems.common/resources/templates/device-modbus/$srcDir$/$basePackageDir$/Config.java
  io.openems.common/resources/templates/device-modbus/$srcDir$/$basePackageDir$/MyModbusDevice.java
  io.openems.common/resources/templates/device-modbus/$srcDir$/$basePackageDir$/MyModbusDeviceImpl.java
  io.openems.common/resources/templates/device-modbus/$testSrcDir$/$basePackageDir$/MyConfig.java
  io.openems.common/resources/templates/device-modbus/$testSrcDir$/$basePackageDir$/MyModbusDeviceTest.java
Due: build-java, restore-cache, rebuild-cache

Try to fix CI
  io.openems.wrapper/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

Try to implement CoPilot suggestions
  build.gradle
Due: build-java, restore-cache, rebuild-cache

Use eu maven mirror repo due to Cloudflare blocking github actions access
  cnf/build.bnd
Due: none

[Edge] Add ESS SMA Sunny Boy Storage 2.5
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.core/src/io/openems/edge/app/ess/SmaEssSunnyBoyStorage.java
  io.openems.edge.ess.sma.sunnyboystorage/.classpath
  io.openems.edge.ess.sma.sunnyboystorage/.gitignore
  io.openems.edge.ess.sma.sunnyboystorage/.project
  io.openems.edge.ess.sma.sunnyboystorage/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.ess.sma.sunnyboystorage/bnd.bnd
  io.openems.edge.ess.sma.sunnyboystorage/readme.adoc
  io.openems.edge.ess.sma.sunnyboystorage/src/io/openems/edge/ess/sma/sunnyboystorage/Config.java
  io.openems.edge.ess.sma.sunnyboystorage/src/io/openems/edge/ess/sma/sunnyboystorage/EssSmaSunnyBoyStorage.java
  io.openems.edge.ess.sma.sunnyboystorage/src/io/openems/edge/ess/sma/sunnyboystorage/EssSmaSunnyBoyStorageImpl.java
  io.openems.edge.ess.sma.sunnyboystorage/test/io/openems/edge/ess/sma/sunnyboystorage/EssSmaSunnyBoyStorageImplTest.java
  io.openems.edge.ess.sma.sunnyboystorage/test/io/openems/edge/ess/sma/sunnyboystorage/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Add DTSU666 support to Chint meter bundle
  io.openems.edge.meter.chint/bnd.bnd
  io.openems.edge.meter.chint/readme.adoc
  io.openems.edge.meter.chint/src/io/openems/edge/meter/chint/dtsu666/Config.java
  io.openems.edge.meter.chint/src/io/openems/edge/meter/chint/dtsu666/MeterChintDtsu666.java
  io.openems.edge.meter.chint/src/io/openems/edge/meter/chint/dtsu666/MeterChintDtsu666Impl.java
  io.openems.edge.meter.chint/test/io/openems/edge/meter/chint/dtsu666/MeterChintDtsu666ImplTest.java
  io.openems.edge.meter.chint/test/io/openems/edge/meter/chint/dtsu666/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Ess.Generic.ManagedSymmetric: Add ess fault due to battery/inverter faults
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/common/GenericManagedEss.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/symmetric/EssGenericManagedSymmetricImpl.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/symmetric/essfaultbehaviour/CheckAllEssFaultBehaviour.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/symmetric/essfaultbehaviour/IgnoreBatteryInverterEssFaultBehaviour.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/symmetric/statemachine/ErrorHandler.java
Due: build-java, restore-cache, rebuild-cache

[Edge] App Center: systemd network settings via App
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketClient.java
  io.openems.common/src/io/openems/common/websocket/WebsocketUtils.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/ComponentUtilImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/InterfaceConfiguration.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/OpenemsAppCategory.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/aggregatetask/StaticIpAggregateTaskImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/src/io/openems/edge/core/host/Config.java
  io.openems.edge.core/src/io/openems/edge/core/host/HostImpl.java
  io.openems.edge.core/src/io/openems/edge/core/host/NetworkConfigurationWorker.java
  io.openems.edge.core/src/io/openems/edge/core/host/NetworkInterface.java
  io.openems.edge.core/src/io/openems/edge/core/host/OperatingSystem.java
  io.openems.edge.core/src/io/openems/edge/core/host/OperatingSystemDebianSystemd.java
  io.openems.edge.core/src/io/openems/edge/core/host/OperatingSystemDocker.java
  io.openems.edge.core/src/io/openems/edge/core/host/OperatingSystemMac.java
  io.openems.edge.core/src/io/openems/edge/core/host/OperatingSystemWindows.java
  io.openems.edge.core/src/io/openems/edge/core/host/Routes.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/ComponentUtilImplTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/ComponentUtilTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/DummyPseudoComponentManager.java
  io.openems.edge.core/test/io/openems/edge/core/host/IpAddressTest.java
  io.openems.edge.core/test/io/openems/edge/core/host/MyConfig.java
  io.openems.edge.core/test/io/openems/edge/core/host/NetworkInterfaceTest.java
  io.openems.edge.core/test/io/openems/edge/core/host/OperatingSystemDebianSystemdTest.java
  io.openems.edge.core/test/io/openems/edge/core/host/jsonrpc/ExecuteSystemResponseTest.java
Due: build-java, restore-cache, rebuild-cache

[Common] Gradle: Migrate Groovy to Kotlin DSL
  .gitignore
  build.gradle
  build.gradle.kts
  doc/build.gradle
  doc/build.gradle.kts
  gradle/build-logic/build.gradle.kts
  gradle/build-logic/settings.gradle.kts
  gradle/build-logic/src/main/kotlin/openems/BundleAggregatesPlugin.kt
  settings.gradle
  settings.gradle.kts
  ui/android/app/build.gradle
  ui/android/app/build.gradle.kts
  ui/android/build.gradle
  ui/android/build.gradle.kts
  ui/android/settings.gradle
  ui/android/settings.gradle.kts
  ui/android/variables.gradle
  ui/android/variables.gradle.kts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] GoodWe.Grid-Meter: read serial number
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/ModbusUtils.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/ModbusUtilsTest.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/gridmeter/GoodWeGridMeter.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/gridmeter/GoodWeGridMeterImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/stsbox/GoodWeStsBoxImpl.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/gridmeter/GoodWeGridMeterImplTest.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/stsbox/GoodWeStsBoxImplTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] NUI: Controller.ChannelThreshold
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/Controller/controller.module.ts
  ui/src/app/edge/live/Controller/Channelthreshold/history/channelThreshold.module.ts
  ui/src/app/edge/live/Controller/Channelthreshold/history/chart/singlechart.component.ts
  ui/src/app/edge/live/Controller/Channelthreshold/history/chart/totalchart.component.ts
  ui/src/app/edge/live/Controller/Channelthreshold/history/flat/flat.html
  ui/src/app/edge/live/Controller/Channelthreshold/history/flat/flat.ts
  ui/src/app/edge/live/Controller/Channelthreshold/history/new-navigation/new-navigation.html
  ui/src/app/edge/live/Controller/Channelthreshold/history/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Channelthreshold/history/overview/overview.html
  ui/src/app/edge/live/Controller/Channelthreshold/history/overview/overview.ts
  ui/src/app/edge/live/Controller/Channelthreshold/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Channelthreshold/shared/shared.ts
  ui/src/app/shared/components/navigation/navigation-routing.module.ts
  ui/src/app/shared/components/navigation/shared.ts
  ui/src/app/shared/type/widgets.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Common] CI: Fix Android Kotlin build
  tools/drone/openems-android.sh
  ui/android/app/build.gradle.kts
  ui/android/build.gradle.kts
  ui/android/gradle.properties
  ui/android/variables.gradle.kts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Add new unit types and test helper methods
  io.openems.common/src/io/openems/common/channel/Unit.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/test/AbstractDummyManagedSymmetricEss.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/test/AbstractDummySymmetricEss.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/Rrd4jSupplier.java
Due: build-java, restore-cache, rebuild-cache

[Edge] EnergyScheduler v2: Fitness Refactoring
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/handler/DifferentModes.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/handler/EnergyScheduleHandler.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/handler/EshWithDifferentModes.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/handler/EshWithOnlyOneMode.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/handler/Fitness.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/handler/OneMode.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/test/EnergyScheduleTester.java
  io.openems.edge.energy.api/test/io/openems/edge/energy/api/handler/FitnessTest.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/SimulationResult.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/Simulator.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/SimulationResultTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/EnergyPerformanceTestApp.java
Due: build-java, restore-cache, rebuild-cache

[Common] Add AI agent instructions and Skills
  .github/copilot-instructions.md
  .github/skills/oe-junit/SKILL.md
  .github/skills/oe-ui-test/SKILL.md
  AGENTS.md
  ui/AGENTS.md
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] FENECON Commercial 92 App: fix meter dependency
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial92.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial92ClusterMaster.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercialComponents.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercialUtils.java
  io.openems.edge.core/src/io/openems/edge/app/meter/gridmeter/GridMeterJanitza.java
  io.openems.edge.core/src/io/openems/edge/app/meter/gridmeter/GridMeterKdk.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/AppManagerAppHelperImpl.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconCommercial92.java
Due: build-java, restore-cache, rebuild-cache

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
