Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

Gradle: Update to version 8.12.0
  .gradle-wrapper/gradle-wrapper.properties
Due: build-java, restore-cache, rebuild-cache

Update dependabot.yml
  .github/dependabot.yml
Due: none

Docs: update link to chart example (#2910)
  doc/modules/ROOT/pages/ui/implementing-a-widget/components/chart.adoc
Due: none

Push version to 2025.1.0
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of 2025.2.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Checkstyle
  io.openems.common/src/io/openems/common/jscalendar/JSCalendar.java
  io.openems.common/src/io/openems/common/jscalendar/package-info.java
Due: build-java, restore-cache, rebuild-cache

Apply prepare-commit.sh
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.io.siemenslogo/.classpath
  io.openems.edge.io.siemenslogo/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

Review
  io.openems.edge.io.siemenslogo/bnd.bnd
  io.openems.edge.io.siemenslogo/readme.adoc
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/AbstractSiemensLogoRelay.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/Config.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/SiemensLogoRelayImpl.java
  io.openems.edge.io.siemenslogo/test/io/openems/edge/io/siemenslogo/MyConfig.java
  io.openems.edge.io.siemenslogo/test/io/openems/edge/io/siemenslogo/SiemensLogoRelayImplTest.java
Due: build-java, restore-cache, rebuild-cache

Review
  io.openems.edge.io.siemenslogo/bnd.bnd
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/Config.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/SiemensLogoRelay.java
Due: build-java, restore-cache, rebuild-cache

Review
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/Config.java
  io.openems.edge.io.siemenslogo/test/io/openems/edge/io/siemenslogo/SiemensLogoRelayImplTest.java
Due: build-java, restore-cache, rebuild-cache

Implement Siemens LOGO! as network relay board (#2350)
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.io.siemenslogo/.classpath
  io.openems.edge.io.siemenslogo/.gitignore
  io.openems.edge.io.siemenslogo/.project
  io.openems.edge.io.siemenslogo/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.io.siemenslogo/bnd.bnd
  io.openems.edge.io.siemenslogo/readme.adoc
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/Config.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/SiemensLogoRelay.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/SiemensLogoRelayImpl.java
  io.openems.edge.io.siemenslogo/test/.gitignore
  io.openems.edge.io.siemenslogo/test/io/openems/edge/io/siemenslogo/MyConfig.java
  io.openems.edge.io.siemenslogo/test/io/openems/edge/io/siemenslogo/SiemensLogoRelayImplTest.java
Due: build-java, restore-cache, rebuild-cache

feat: dynamic numberformat conversion by using current locale
  ui/src/app/app.module.ts
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/storage/singlechart.component.ts
  ui/src/app/edge/history/storage/totalchart.component.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/powerSocChart.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/statePriceChart.ts
  ui/src/app/edge/live/common/storage/storage.component.ts
  ui/src/app/edge/settings/powerassistant/powerassistant.ts
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/components/flat/abstract-flat-widget.ts
  ui/src/app/shared/components/modal/modal-phases/modal-phases.ts
  ui/src/app/shared/components/shared/testing/tester.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: pass lint
  ui/src/app/edge/history/storage/singlechart.component.ts
  ui/src/app/edge/history/storage/totalchart.component.ts
  ui/src/app/edge/settings/powerassistant/powerassistant.ts
  ui/src/app/shared/components/flat/abstract-flat-widget.ts
  ui/src/app/shared/components/modal/modal-phases/modal-phases.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: pass lint
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/live/common/storage/storage.component.ts
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add defaultLanguage setting to src/environments
  ui/src/app/shared/type/language.ts
  ui/src/environments/index.ts
  ui/src/themes/openems/environments/theme.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

feat: migration .eslintrc.json to eslint.config.mjs
  ui/eslint.config.mjs
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: npm i -D globals to use globals
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: dynamic numberformat conversion by using current locale (#2757)
  ui/src/app/app.module.ts
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/storage/singlechart.component.ts
  ui/src/app/edge/history/storage/totalchart.component.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/powerSocChart.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/statePriceChart.ts
  ui/src/app/edge/live/common/storage/storage.component.ts
  ui/src/app/edge/settings/powerassistant/powerassistant.ts
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/components/flat/abstract-flat-widget.ts
  ui/src/app/shared/components/modal/modal-phases/modal-phases.ts
  ui/src/app/shared/components/shared/testing/tester.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update overview.component.html
  ui/src/app/index/overview/overview.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Keep ShellyUtils in Shelly bundle
  io.openems.edge.io.api/bnd.bnd
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/common/Utils.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly25/IoShelly25Impl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly3em/IoShelly3EmImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplus1pm/IoShellyPlus1PmImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplusplugs/IoShellyPlusPlugsImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3/IoShellyPro3Impl.java
Due: build-java, restore-cache, rebuild-cache

Fix UI issue
  ui/src/app/app.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Final touch
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImpl.java
Due: build-java, restore-cache, rebuild-cache

Shelly: common executeWrite() method & many JUnit tests (#2658)
  io.openems.edge.io.api/bnd.bnd
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/common/Utils.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly25/IoShelly25Impl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly3em/IoShelly3EmImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplus1pm/IoShellyPlus1PmImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplusplugs/IoShellyPlusPlugsImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3/IoShellyPro3Impl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3em/IoShellyPro3EmImpl.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shelly25/IoShelly25ImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shelly3em/IoShelly3EmImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplus1pm/IoShellyPlus1PmImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplusplugs/IoShellyPlugImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplusplugs/IoShellyPlusPlugImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypro3/IoShellyPro3ImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypro3em/IoShelly3EmImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypro3em/IoShellyPro3EmImplTest.java
  ui/src/app/app.module.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Overview search: trigger on every input change (#2935)
  ui/src/app/index/overview/overview.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Implement Controller IO Heating Room
  io.openems.common/src/io/openems/common/jscalendar/JSCalendar.java
  io.openems.common/src/io/openems/common/utils/JsonUtils.java
  io.openems.common/test/io/openems/common/jscalendar/JSCalendarTest.java
  io.openems.common/test/io/openems/common/test/TimeLeapClockTest.java
  io.openems.common/test/io/openems/common/utils/JsonUtilsTest.java
  io.openems.edge.common/src/io/openems/edge/common/sum/DummySum.java
  io.openems.edge.common/src/io/openems/edge/common/test/AbstractComponentTest.java
  io.openems.edge.controller.io.heating.room/.classpath
  io.openems.edge.controller.io.heating.room/.gitignore
  io.openems.edge.controller.io.heating.room/.project
  io.openems.edge.controller.io.heating.room/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.controller.io.heating.room/bnd.bnd
  io.openems.edge.controller.io.heating.room/readme.adoc
  io.openems.edge.controller.io.heating.room/src/io/openems/edge/controller/heating/room/Config.java
  io.openems.edge.controller.io.heating.room/src/io/openems/edge/controller/heating/room/Mode.java
  io.openems.edge.controller.io.heating.room/src/io/openems/edge/controller/heating/room/RoomHeatingController.java
  io.openems.edge.controller.io.heating.room/src/io/openems/edge/controller/heating/room/RoomHeatingControllerImpl.java
  io.openems.edge.controller.io.heating.room/src/io/openems/edge/controller/heating/room/Utils.java
  io.openems.edge.controller.io.heating.room/test/.gitignore
  io.openems.edge.controller.io.heating.room/test/io/openems/edge/controller/heating/room/MyConfig.java
  io.openems.edge.controller.io.heating.room/test/io/openems/edge/controller/heating/room/RoomHeatingControllerImplTest.java
  io.openems.edge.controller.io.heating.room/test/io/openems/edge/controller/heating/room/UtilsTest.java
  io.openems.edge.io.api/src/io/openems/edge/io/test/DummyInputOutput.java
  io.openems.edge.onewire.thermometer/src/io/openems/edge/onewire/thermometer/OneWireThermometer.java
  io.openems.edge.thermometer.api/src/io/openems/edge/thermometer/test/AbstractDummyThermometer.java
  io.openems.edge.thermometer.api/src/io/openems/edge/thermometer/test/DummyThermometer.java
  io.openems.edge.thermometer.api/src/io/openems/edge/thermometer/test/package-info.java
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Controller IO Heating Room (#2950)
  io.openems.common/src/io/openems/common/jscalendar/JSCalendar.java
  io.openems.common/src/io/openems/common/utils/JsonUtils.java
  io.openems.common/test/io/openems/common/jscalendar/JSCalendarTest.java
  io.openems.common/test/io/openems/common/test/TimeLeapClockTest.java
  io.openems.common/test/io/openems/common/utils/JsonUtilsTest.java
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.common/src/io/openems/edge/common/sum/DummySum.java
  io.openems.edge.common/src/io/openems/edge/common/test/AbstractComponentTest.java
  io.openems.edge.controller.io.heating.room/.classpath
  io.openems.edge.controller.io.heating.room/.gitignore
  io.openems.edge.controller.io.heating.room/.project
  io.openems.edge.controller.io.heating.room/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.controller.io.heating.room/bnd.bnd
  io.openems.edge.controller.io.heating.room/readme.adoc
  io.openems.edge.controller.io.heating.room/src/io/openems/edge/controller/heating/room/Config.java
  io.openems.edge.controller.io.heating.room/src/io/openems/edge/controller/heating/room/Mode.java
  io.openems.edge.controller.io.heating.room/src/io/openems/edge/controller/heating/room/RoomHeatingController.java
  io.openems.edge.controller.io.heating.room/src/io/openems/edge/controller/heating/room/RoomHeatingControllerImpl.java
  io.openems.edge.controller.io.heating.room/src/io/openems/edge/controller/heating/room/Utils.java
  io.openems.edge.controller.io.heating.room/test/.gitignore
  io.openems.edge.controller.io.heating.room/test/io/openems/edge/controller/heating/room/MyConfig.java
  io.openems.edge.controller.io.heating.room/test/io/openems/edge/controller/heating/room/RoomHeatingControllerImplTest.java
  io.openems.edge.controller.io.heating.room/test/io/openems/edge/controller/heating/room/UtilsTest.java
  io.openems.edge.io.api/src/io/openems/edge/io/test/DummyInputOutput.java
  io.openems.edge.onewire.thermometer/src/io/openems/edge/onewire/thermometer/OneWireThermometer.java
  io.openems.edge.thermometer.api/src/io/openems/edge/thermometer/test/AbstractDummyThermometer.java
  io.openems.edge.thermometer.api/src/io/openems/edge/thermometer/test/DummyThermometer.java
  io.openems.edge.thermometer.api/src/io/openems/edge/thermometer/test/package-info.java
Due: build-java, restore-cache, rebuild-cache

Update global.scss
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Merging / Units, Scale factors on Victron channels
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/battery/victron/VictronBattery.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/battery/victron/VictronCanBusBatteryImpl.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/batteryinverter/victron/ess/symmetric/VictronEssImpl.java
  io.openems.edge.common/src/io/openems/edge/common/type/QuarterlyValues.java
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerEssChargeDischargeLimiterImpl.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffController.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
  ui/angular.json
  ui/package-lock.json
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/common/common.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/history.module.ts
  ui/src/app/edge/history/peakshaving/threshold/chart.component.ts
  ui/src/app/edge/history/peakshaving/threshold/flat/flat.ts
  ui/src/app/edge/history/peakshaving/threshold/thresholdpeakshavingchartoverview/thresholdpeakshavingchartoverview.component.ts
  ui/src/app/edge/history/peakshaving/threshold/widget.component.ts
  ui/src/app/edge/history/storage/socchart.component.ts
  ui/src/app/edge/live/Controller/PeakShaving/Symmetric_Threshold/Symmetric_Threshold.ts
  ui/src/app/edge/live/Controller/PeakShaving/Symmetric_Threshold/modal/modal.component.ts
  ui/src/app/edge/live/common/storage/modal/modal.component.html
  ui/src/app/edge/live/common/storage/modal/modal.component.ts
  ui/src/app/edge/live/common/storage/storage.component.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/shared.ts
  ui/src/app/shared/type/widget.ts
  ui/src/themes/openems/environments/backend-prod.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: configure default language in src/environments (#2756)
  ui/src/app/shared/type/language.ts
  ui/src/environments/index.ts
  ui/src/themes/openems/environments/theme.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bndrun + fix Language could be null
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
  ui/src/app/shared/type/language.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix component.update View (#2958)
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

apply tools/prepare-commit.sh (still failing)
  io.openems.edge.levl.controller/.classpath
Due: build-java, restore-cache, rebuild-cache

fix(core): Avoid flickering between charge/discharge due to PID filter
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/ActivePowerConstraintWithPid.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/ManagedSymmetricEss.java
  io.openems.edge.ess.api/test/io/openems/edge/ess/api/ActivePowerConstraintWithPidTest.java
Due: build-java, restore-cache, rebuild-cache

Update package.json
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Classpaths. "No String" handling of fronius inverters
  io.openems.backend.timedata.timescaledb/.classpath
  io.openems.edge.controller.api.modbus/.classpath
  io.openems.edge.controller.io.heating.room/.settings/org.eclipse.jdt.core.prefs
  io.openems.edge.pvinverter.fronius/src/io/openems/edge/pvinverter/fronius/PvInverterFroniusImpl.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/SolarEdgeHybridEssImpl.java
Due: build-java, restore-cache, rebuild-cache

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
