Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

Apply TimeLeapClock change to FENECON bundles
  io.openems.edge.battery.fenecon.f2b/test/io/openems/edge/battery/fenecon/f2b/bmw/BatteryFeneconF2bBmwImplTest.java
  io.openems.edge.battery.fenecon.f2b/test/io/openems/edge/battery/fenecon/f2b/cluster/parallel/BatteryFeneconF2bParallelClusterImplTest.java
  io.openems.edge.battery.fenecon.f2b/test/io/openems/edge/battery/fenecon/f2b/cluster/serial/BatteryFeneconF2bSerialClusterImplTest.java
  io.openems.edge.battery.fenecon.f2b/test/io/openems/edge/battery/fenecon/f2b/dummy/DummyBatteryTest.java
  io.openems.edge.controller.ess.timeofusetariff.discharge/test/io/openems/edge/controller/ess/timeofusetariff/discharge/ControllerEssTimeOfUseTariffDischargeImplTest.java
Due: build-java, restore-cache, rebuild-cache

Removes package of CAN Bridge V4
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.bridge.can.common/bnd.bnd
  io.openems.edge.bridge.can.linuxv4/.classpath
  io.openems.edge.bridge.can.linuxv4/.gitignore
  io.openems.edge.bridge.can.linuxv4/.project
  io.openems.edge.bridge.can.linuxv4/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.bridge.can.linuxv4/.settings/org.eclipse.jdt.ui.prefs
  io.openems.edge.bridge.can.linuxv4/bnd.bnd
  io.openems.edge.bridge.can.linuxv4/readme.adoc
  io.openems.edge.bridge.can.linuxv4/src/io/openems/edge/bridge/can/linuxv4/BridgeCanImpl.java
  io.openems.edge.bridge.can.linuxv4/src/io/openems/edge/bridge/can/linuxv4/Config.java
  io.openems.edge.bridge.can.linuxv4/src/io/openems/edge/bridge/can/linuxv4/io/hw/CanSocketHardwareLinuxV4.java
  io.openems.edge.bridge.can.linuxv4/test/.dummy
  io.openems.edge.bridge.can.linuxv4/test/.gitignore
  io.openems.edge.bridge.can.linuxv5/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

Replaces wrong jar module.
  io.openems.edge.bridge.can.linuxv5/bnd.bnd
  io.openems.edge.bridge.can.linuxv5/src/io/openems/edge/bridge/can/linuxv5/io/hw/CanSocketHardwareLinuxV5.java
Due: build-java, restore-cache, rebuild-cache

Moved LinuxV5 to Linux.
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.bridge.can.common/readme.adoc
  io.openems.edge.bridge.can.linux/.classpath
  io.openems.edge.bridge.can.linux/.gitignore
  io.openems.edge.bridge.can.linux/.project
  io.openems.edge.bridge.can.linux/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.bridge.can.linux/bnd.bnd
  io.openems.edge.bridge.can.linux/readme.adoc
  io.openems.edge.bridge.can.linux/src/io/openems/edge/bridge/can/linux/BridgeCanImpl.java
  io.openems.edge.bridge.can.linux/src/io/openems/edge/bridge/can/linux/Config.java
  io.openems.edge.bridge.can.linux/src/io/openems/edge/bridge/can/linux/io/hw/CanSocketHardwareLinux.java
  io.openems.edge.bridge.can.linux/test/.dummy
  io.openems.edge.bridge.can.linux/test/.gitignore
  io.openems.edge.bridge.can.linuxv5/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Added JsonUtils -> JsonArray functionality
  io.openems.common/src/io/openems/common/utils/JsonUtils.java
Due: build-java, restore-cache, rebuild-cache

TimeLeapClock constructor with Instant, and "now" method
  io.openems.common/src/io/openems/common/test/TimeLeapClock.java
Due: build-java, restore-cache, rebuild-cache

Eventbuilder received build method and EventReader received toString
  io.openems.common/src/io/openems/common/event/EventBuilder.java
  io.openems.common/src/io/openems/common/event/EventReader.java
Due: build-java, restore-cache, rebuild-cache

fetch user.globalRole instead of guest on AlertingConfigs
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/OnRequest.java
Due: build-java, restore-cache, rebuild-cache

OdooUtils enhancement -> getRawValue of field, value and isUnsetMethod
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooUtils.java
  io.openems.backend.metadata.odoo/test/io/openems/backend/metadata/odoo/odoo/OdooUtilsTest.java
Due: build-java, restore-cache, rebuild-cache

added AlertingSetting Entry to Field
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/Field.java
Due: build-java, restore-cache, rebuild-cache

Added hashcode to domain and changed equals method a bit, added Test
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/Domain.java
  io.openems.backend.metadata.odoo/test/io/openems/backend/metadata/odoo/odoo/DomainTest.java
Due: build-java, restore-cache, rebuild-cache

Makes configuration safer with using enums.
  io.openems.edge.bridge.can.linux/src/io/openems/edge/bridge/can/linux/BaudRate.java
  io.openems.edge.bridge.can.linux/src/io/openems/edge/bridge/can/linux/Config.java
Due: build-java, restore-cache, rebuild-cache

Minor refactoring.
  io.openems.edge.bridge.can.common/src/io/openems/edge/bridge/can/CanHardwareType.java
  io.openems.edge.bridge.can.common/src/io/openems/edge/bridge/can/api/CanUtils.java
  io.openems.edge.bridge.can.linux/src/io/openems/edge/bridge/can/linux/BridgeCanImpl.java
  io.openems.edge.bridge.can.linux/src/io/openems/edge/bridge/can/linux/io/hw/CanSocketHardwareLinux.java
Due: build-java, restore-cache, rebuild-cache

Adapted Comments and changed getAllEdges to stream method
  io.openems.backend.alerting/src/io/openems/backend/alerting/Message.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/scheduler/MessageScheduler.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/scheduler/MessageSchedulerService.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/scheduler/Scheduler.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/Edge.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/Mailer.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/EdgeCache.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
Due: build-java, restore-cache, rebuild-cache

Added additional AlertingSettings and Metadata methods
  io.openems.backend.common/src/io/openems/backend/common/alerting/OfflineEdgeAlertingSetting.java
  io.openems.backend.common/src/io/openems/backend/common/alerting/SumStateAlertingSetting.java
  io.openems.backend.common/src/io/openems/backend/common/alerting/UserAlertingSettings.java
  io.openems.backend.common/src/io/openems/backend/common/alerting/package-info.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/Metadata.java
  io.openems.backend.common/src/io/openems/backend/common/test/DummyMetadata.java
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/MetadataDummy.java
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/MetadataFile.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooHandler.java
Due: build-java, restore-cache, rebuild-cache

Refactored Name of AlertingSetting to UserAlertingSettings
  io.openems.backend.alerting/src/io/openems/backend/alerting/handler/OfflineEdgeHandler.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/message/OfflineEdgeMessage.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/Dummy.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/handler/TestOfflineEdgeHandler.java
  io.openems.backend.common/src/io/openems/backend/common/jsonrpc/request/SetUserAlertingConfigsRequest.java
  io.openems.backend.common/src/io/openems/backend/common/jsonrpc/response/GetUserAlertingConfigsResponse.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/Metadata.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/UserAlertingSettings.java
  io.openems.backend.common/src/io/openems/backend/common/test/DummyMetadata.java
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/MetadataDummy.java
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/MetadataFile.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooHandler.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/OnRequest.java
Due: build-java, restore-cache, rebuild-cache

TimescaleDB: drop bundle
  cnf/pom.xml
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.timedata.timescaledb/.classpath
  io.openems.backend.timedata.timescaledb/.gitignore
  io.openems.backend.timedata.timescaledb/.project
  io.openems.backend.timedata.timescaledb/.settings/org.eclipse.core.resources.prefs
  io.openems.backend.timedata.timescaledb/bnd.bnd
  io.openems.backend.timedata.timescaledb/readme.adoc
  io.openems.backend.timedata.timescaledb/src/io/openems/backend/timedata/timescaledb/Config.java
  io.openems.backend.timedata.timescaledb/src/io/openems/backend/timedata/timescaledb/TimedataTimescaleDb.java
  io.openems.backend.timedata.timescaledb/src/io/openems/backend/timedata/timescaledb/internal/Schema.java
  io.openems.backend.timedata.timescaledb/src/io/openems/backend/timedata/timescaledb/internal/Type.java
  io.openems.backend.timedata.timescaledb/src/io/openems/backend/timedata/timescaledb/internal/Utils.java
  io.openems.backend.timedata.timescaledb/src/io/openems/backend/timedata/timescaledb/internal/read/TimescaledbReadHandler.java
  io.openems.backend.timedata.timescaledb/src/io/openems/backend/timedata/timescaledb/internal/write/MergePointsWorker.java
  io.openems.backend.timedata.timescaledb/src/io/openems/backend/timedata/timescaledb/internal/write/Point.java
  io.openems.backend.timedata.timescaledb/src/io/openems/backend/timedata/timescaledb/internal/write/QueueHandler.java
  io.openems.backend.timedata.timescaledb/src/io/openems/backend/timedata/timescaledb/internal/write/SplitDataWorker.java
  io.openems.backend.timedata.timescaledb/src/io/openems/backend/timedata/timescaledb/internal/write/TimescaledbWriteHandler.java
  io.openems.backend.timedata.timescaledb/src/io/openems/backend/timedata/timescaledb/internal/write/WritePointsHandler.java
  io.openems.backend.timedata.timescaledb/test/.gitignore
  io.openems.backend.timedata.timescaledb/test/io/openems/backend/timedata/timescaledb/.gitignore
  io.openems.backend.timedata.timescaledb/test/io/openems/backend/timedata/timescaledb/Credentials.java
  io.openems.backend.timedata.timescaledb/test/io/openems/backend/timedata/timescaledb/MyConfig.java
  io.openems.backend.timedata.timescaledb/test/io/openems/backend/timedata/timescaledb/TimescaledbImplTest.java
  io.openems.backend.timedata.timescaledb/test/io/openems/backend/timedata/timescaledb/internal/SchemaGenerator.java
  io.openems.backend.timedata.timescaledb/test/io/openems/backend/timedata/timescaledb/internal/TypeTest.java
  io.openems.backend.timedata.timescaledb/test/io/openems/backend/timedata/utils/AbstractComponentConfig.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerTest.java
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/pgbulkinsert.bnd
  tools/prepare-commit.sh
Due: build-java, restore-cache, rebuild-cache

Tesla Powerwall: drop bundle
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.tesla.powerwall2/.classpath
  io.openems.edge.tesla.powerwall2/.gitignore
  io.openems.edge.tesla.powerwall2/.project
  io.openems.edge.tesla.powerwall2/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.tesla.powerwall2/bnd.bnd
  io.openems.edge.tesla.powerwall2/readme.adoc
  io.openems.edge.tesla.powerwall2/src/io/openems/edge/tesla/powerwall2/battery/Config.java
  io.openems.edge.tesla.powerwall2/src/io/openems/edge/tesla/powerwall2/battery/TeslaPowerwall2Battery.java
  io.openems.edge.tesla.powerwall2/src/io/openems/edge/tesla/powerwall2/battery/TeslaPowerwall2BatteryImpl.java
  io.openems.edge.tesla.powerwall2/src/io/openems/edge/tesla/powerwall2/core/Config.java
  io.openems.edge.tesla.powerwall2/src/io/openems/edge/tesla/powerwall2/core/ReadWorker.java
  io.openems.edge.tesla.powerwall2/src/io/openems/edge/tesla/powerwall2/core/TeslaPowerwall2Core.java
  io.openems.edge.tesla.powerwall2/src/io/openems/edge/tesla/powerwall2/core/TeslaPowerwall2CoreImpl.java
  io.openems.edge.tesla.powerwall2/test/.gitignore
  io.openems.edge.tesla.powerwall2/test/io/openems/edge/tesla/powerwall2/battery/MyConfig.java
  io.openems.edge.tesla.powerwall2/test/io/openems/edge/tesla/powerwall2/battery/TeslaPowerwall2BatteryImplTest.java
  io.openems.edge.tesla.powerwall2/test/io/openems/edge/tesla/powerwall2/core/MyConfig.java
  io.openems.edge.tesla.powerwall2/test/io/openems/edge/tesla/powerwall2/core/TeslaPowerwall2CoreImplTest.java
Due: build-java, restore-cache, rebuild-cache

KACO PV-Inverter: calculate production energy manually (#857)
  io.openems.edge.pvinverter.kaco.blueplanet/bnd.bnd
  io.openems.edge.pvinverter.kaco.blueplanet/src/io/openems/edge/pvinverter/kaco/blueplanet/PvInverterKacoBlueplanetImpl.java
  io.openems.edge.pvinverter.sunspec/src/io/openems/edge/pvinverter/sunspec/AbstractSunSpecPvInverter.java
Due: build-java, restore-cache, rebuild-cache

Pagekite: drop old remote-service (#867)
  tools/debian/DEBIAN/postinst
  tools/debian/etc/systemd/system/fems-pagekite.service
  tools/debian/usr/bin/fems-verify
  ui/src/app/edge/settings/systemexecute/systemexecute.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

GoodWe 20/30 Chargers: avoid multiple HIGH Priority mobus tasks (#859)
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/charger/twostring/Config.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/charger/twostring/GoodWeChargerTwoString.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/charger/twostring/GoodWeChargerTwoStringImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/charger/twostring/PvPort.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/GoodWe.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImplTest.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/charger/twostring/GoodWeChargerTwoStringImplTest.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/charger/twostring/MyConfig.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/charger/twostring/RuleOfThreeTest.java
Due: build-java, restore-cache, rebuild-cache

UI: Utils, tests and translations (#865)
  ui/src/app/shared/service/utils.spec.ts
  ui/src/app/shared/service/utils.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Fix chart wrong scaling when firstSetupProtocol is too close to end of month (#869)
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Backport FEMS Backend (#866)
  io.openems.backend.alerting/src/io/openems/backend/alerting/handler/OfflineEdgeHandler.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/Backend2BackendWebsocket.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/OnOpen.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/WebsocketServer.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/Edge.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/Metadata.java
  io.openems.backend.common/src/io/openems/backend/common/test/DummyEventAdmin.java
  io.openems.backend.common/src/io/openems/backend/common/test/DummyMetadata.java
  io.openems.backend.common/test/io/openems/backend/common/metadata/EdgeTest.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/EdgeWebsocketImpl.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/OnNotification.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/OnOpen.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/WebsocketServer.java
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/MetadataDummy.java
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/MetadataFile.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/Field.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/postgres/PgEdgeHandler.java
  io.openems.backend.timedata.aggregatedinflux/src/io/openems/backend/timedata/aggregatedinflux/AggregatedInflux.java
  io.openems.backend.timedata.aggregatedinflux/src/io/openems/backend/timedata/aggregatedinflux/AllowedChannels.java
  io.openems.backend.timedata.influx/src/io/openems/backend/timedata/influx/Config.java
  io.openems.backend.timedata.influx/src/io/openems/backend/timedata/influx/FieldTypeConflictHandler.java
  io.openems.backend.timedata.influx/src/io/openems/backend/timedata/influx/TimeFilter.java
  io.openems.backend.timedata.influx/src/io/openems/backend/timedata/influx/TimedataInfluxDb.java
  io.openems.backend.timedata.influx/test/io/openems/backend/timedata/influx/TimeFilterTest.java
  io.openems.backend.timedata.influx/test/io/openems/backend/timedata/influx/TimedataInfluxDbTest.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/OnNotification.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/OnRequest.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/UiWebsocketImpl.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/WebsocketServer.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/WsData.java
  io.openems.common/src/io/openems/common/jsonrpc/notification/LogMessageNotification.java
  io.openems.common/src/io/openems/common/websocket/OnOpen.java
  io.openems.common/src/io/openems/common/websocket/OnRequestHandler.java
  io.openems.common/src/io/openems/common/websocket/WebsocketUtils.java
  io.openems.common/test/io/openems/common/websocket/OnOpenTest.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/DbDataUtils.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/InfluxQlProxy.java
  tools/deploy/deploy_backend.sh
Due: build-java, restore-cache, rebuild-cache

Websocket Api Controller: cleanup getEdgeRequest & JUnit tests (#853)
  io.openems.common/src/io/openems/common/jsonrpc/response/GetEdgeResponse.java
  io.openems.common/src/io/openems/common/jsonrpc/response/GetEdgesResponse.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/OnRequest.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/Utils.java
  io.openems.edge.controller.api.websocket/test/io/openems/edge/controller/api/websocket/OnRequestTest.java
Due: build-java, restore-cache, rebuild-cache

AppCenter: add check for peakshaving to not be compatible with home (#858)
  io.openems.edge.core/src/io/openems/edge/app/peakshaving/PeakShaving.java
  io.openems.edge.core/src/io/openems/edge/app/peakshaving/PhaseAccuratePeakShaving.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AbstractOpenemsApp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckAppsNotInstalled.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckCardinality.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckHome.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckHost.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckNoComponentInstalledOfFactoryId.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckRelayCount.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/Checkable.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/ValidatorConfig.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/ValidatorImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerImpSynchronizationTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerImplTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerTestBundle.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/DummyValidator.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/validator/CheckHomeTest.java
Due: build-java, restore-cache, rebuild-cache

continue refactoring rest of the widgets
  ui/src/app/edge/history/channelthreshold/totalchart.component.ts
  ui/src/app/edge/history/chpsoc/chart.component.ts
  ui/src/app/edge/history/consumption/evcschart.component.ts
  ui/src/app/edge/history/consumption/meterchart.component.ts
  ui/src/app/edge/history/consumption/otherchart.component.ts
  ui/src/app/edge/history/consumption/singlechart.component.ts
  ui/src/app/edge/history/consumption/totalchart.component.ts
  ui/src/app/edge/history/delayedselltogrid/chart.component.ts
  ui/src/app/edge/history/fixdigitaloutput/singlechart.component.ts
  ui/src/app/edge/history/fixdigitaloutput/totalchart.component.ts
  ui/src/app/edge/history/gridoptimizedcharge/chart.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Home IBN: number of module fix (#847)
  ui/src/app/edge/installation/installation-systems/home/abstract-home.ts
  ui/src/app/edge/installation/installation-systems/home/home-10-heckert.ts
  ui/src/app/edge/installation/installation-systems/home/home-10.ts
  ui/src/app/edge/installation/installation-systems/home/home-20.ts
  ui/src/app/edge/installation/installation-systems/home/home-30.ts
  ui/src/app/edge/installation/shared/enums.ts
  ui/src/app/edge/installation/views/completion/completion.component.html
  ui/src/app/edge/installation/views/completion/completion.component.ts
  ui/src/app/edge/installation/views/configuration-summary/configuration-summary.component.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Revert "GoodWe: check correct voltage value (#861)" (#872)
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
Due: build-java, restore-cache, rebuild-cache

UI: Utils, tests and translations
  ui/src/app/shared/service/utils.spec.ts
  ui/src/app/shared/service/utils.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Fix chart wrong scaling when firstSetupProtocol is too close to end of month
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Backport FEMS Backend
  io.openems.backend.alerting/src/io/openems/backend/alerting/handler/OfflineEdgeHandler.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/Backend2BackendWebsocket.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/OnOpen.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/WebsocketServer.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/Edge.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/Metadata.java
  io.openems.backend.common/src/io/openems/backend/common/test/DummyEventAdmin.java
  io.openems.backend.common/src/io/openems/backend/common/test/DummyMetadata.java
  io.openems.backend.common/test/io/openems/backend/common/metadata/EdgeTest.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/EdgeWebsocketImpl.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/OnNotification.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/OnOpen.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/WebsocketServer.java
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/MetadataDummy.java
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/MetadataFile.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/Field.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/postgres/PgEdgeHandler.java
  io.openems.backend.timedata.aggregatedinflux/src/io/openems/backend/timedata/aggregatedinflux/AggregatedInflux.java
  io.openems.backend.timedata.aggregatedinflux/src/io/openems/backend/timedata/aggregatedinflux/AllowedChannels.java
  io.openems.backend.timedata.influx/src/io/openems/backend/timedata/influx/Config.java
  io.openems.backend.timedata.influx/src/io/openems/backend/timedata/influx/FieldTypeConflictHandler.java
  io.openems.backend.timedata.influx/src/io/openems/backend/timedata/influx/TimeFilter.java
  io.openems.backend.timedata.influx/src/io/openems/backend/timedata/influx/TimedataInfluxDb.java
  io.openems.backend.timedata.influx/test/io/openems/backend/timedata/influx/TimeFilterTest.java
  io.openems.backend.timedata.influx/test/io/openems/backend/timedata/influx/TimedataInfluxDbTest.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/OnNotification.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/OnRequest.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/UiWebsocketImpl.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/WebsocketServer.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/WsData.java
  io.openems.common/src/io/openems/common/jsonrpc/notification/LogMessageNotification.java
  io.openems.common/src/io/openems/common/websocket/OnOpen.java
  io.openems.common/src/io/openems/common/websocket/OnRequestHandler.java
  io.openems.common/src/io/openems/common/websocket/WebsocketUtils.java
  io.openems.common/test/io/openems/common/websocket/OnOpenTest.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/DbDataUtils.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/InfluxQlProxy.java
Due: build-java, restore-cache, rebuild-cache

Websocket Api Controller: cleanup getEdgeRequest & JUnit tests
  io.openems.common/src/io/openems/common/jsonrpc/response/GetEdgeResponse.java
  io.openems.common/src/io/openems/common/jsonrpc/response/GetEdgesResponse.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/OnRequest.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/Utils.java
  io.openems.edge.controller.api.websocket/test/io/openems/edge/controller/api/websocket/OnRequestTest.java
Due: build-java, restore-cache, rebuild-cache

AppCenter: add check for peakshaving to not be compatible with home
  io.openems.edge.core/src/io/openems/edge/app/peakshaving/PeakShaving.java
  io.openems.edge.core/src/io/openems/edge/app/peakshaving/PhaseAccuratePeakShaving.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AbstractOpenemsApp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckAppsNotInstalled.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckCardinality.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckHome.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckHost.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckNoComponentInstalledOfFactoryId.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckRelayCount.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/Checkable.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/ValidatorConfig.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/ValidatorImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerImpSynchronizationTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerImplTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerTestBundle.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/DummyValidator.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/validator/CheckHomeTest.java
Due: build-java, restore-cache, rebuild-cache

diff
  .gitpod.Dockerfile
  .gitpod.yml
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/MetadataDummy.java
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/MetadataFile.java
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeHardwareType.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/Utils.java
  ui/package-lock.json
  ui/src/app/edge/history/common/energy/chart/chart.spec.ts
  ui/src/app/edge/settings/systemupdate/executeSystemUpdate.ts
  ui/src/app/index/overview/overview.component.html
  ui/src/global.scss
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Adjust ToU Apps
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/AwattarHourly.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/StromdaoCorrently.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/Tibber.java
Due: build-java, restore-cache, rebuild-cache
