Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

.woodpecker.yml:

# Woodpecker-CI
# 
# Um den Docker Container fuer build ('openems-build') zu aktualisieren:
# - ssh auf gitvm
# - cd /root/fems/tools
# - git pull
# - bash drone-docker.sh

pipeline:
  restore-cache:
    image: drillster/drone-volume-cache
    restore: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.npm
    volumes:
      - cache:/cache
    group: restore

  build-java:
    when:
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '**/.woodpecker.yml' ]
    image: openems-build:latest
    environment:
      - GRADLE_USER_HOME=/woodpecker/.gradle
    commands:
      - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
      - ./gradlew build buildEdge
      - ./gradlew resolve.BackendApp
      - git diff --exit-code io.openems.backend.application/BackendApp.bndrun
      - ./gradlew resolve.EdgeApp
      - git diff --exit-code io.openems.edge.application/EdgeApp.bndrun
      - cp build/openems.jar ui/target
    group: build
    
  build-ui:
    when:
      path:
        include: [ 'ui/**', '**/.woodpecker.yml' ]
    image: openems-build:latest
    commands:
      - cd ui
      - npm ci --prefer-offline --cache /woodpecker/.npm
      - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
      - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
      - node_modules/.bin/ng lint
      - export CHROME_BIN=/usr/bin/google-chrome-stable
      - npm run test -- --no-watch --no-progress --browsers=ChromeHeadlessCI
    group: build

  refresh-dev:
    when:
      path:
        include: [ 'ui/**', '**/.woodpecker.yml' ]
    image: appleboy/drone-scp
    host: 10.0.0.40
    user: fenecon-docs
    secrets: 
      - source: ssh_key_intranet 
        target: scp_key
    rm: true
    source: ./ui/target
    strip_components: 3
    target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
    group: refresh

  rebuild-cache:
    image: drillster/drone-volume-cache
    rebuild: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.npm
    volumes:
      - cache:/cache
    group: refresh

.woodpecker/.java-build.yml:

# Woodpecker-CI
# 
# Um den Docker Container fuer build ('openems-build') zu aktualisieren:
# - ssh auf gitvm
# - cd /root/fems/tools
# - git pull
# - bash drone-docker.sh

clone:
  git-clone:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: woodpeckerci/plugin-git:v1.6.1
    settings:
      depth: 1
      lfs: false
      recursive: false
      tags: false
      partial: true

pipeline:
  restore-cache:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: drillster/drone-volume-cache
    restore: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.m2
    volumes:
      - cache:/cache

  build-java:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: openems-build:latest
    environment:
      - GRADLE_USER_HOME=/woodpecker/.gradle
    commands:
      - mkdir -p /woodpecker/.m2 && ln -s /woodpecker/.m2 ~/.m2
      - ./gradlew --build-cache build
      - ./gradlew resolve.EdgeApp
      - ./gradlew resolve.BackendApp
      - git diff --exit-code io.openems.edge.application/EdgeApp.bndrun io.openems.backend.application/BackendApp.bndrun

  rebuild-cache:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: drillster/drone-volume-cache
    rebuild: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.m2
    volumes:
      - cache:/cache

Removes pi4j in favor of a LinuxFS implementation.
  cnf/pom.xml
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/api/DigitalOut.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/api/Led.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/linuxfs/Direction.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/linuxfs/Gpio.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/linuxfs/LinuxFsDigitalIn.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/linuxfs/LinuxFsDigitalOut.java
  io.openems.edge.io.hal.pi4j/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.io.hal.pi4j/bnd.bnd
  io.openems.edge.io.hal.pi4j/src/io/openems/edge/io/hal/devices/LinuxFsButton.java
  io.openems.edge.io.hal.pi4j/src/io/openems/edge/io/hal/devices/LinuxFsLed.java
  io.openems.edge.io.hal.pi4j/src/io/openems/edge/io/hal/devices/Pi4jButton.java
  io.openems.edge.io.hal.pi4j/src/io/openems/edge/io/hal/devices/Pi4jLed.java
  io.openems.edge.io.hal.pi4j/src/io/openems/edge/io/hal/modberry/Cm4Hardware.java
  io.openems.edge.io.hal.pi4j/src/io/openems/edge/io/hal/modberry/ModBerryX500CM4.java
  io.openems.edge.io.hal.pi4j/src/io/openems/edge/io/hal/pi4j/OpenEmsRaspberryPiPlatform.java
  io.openems.edge.io.hal.pi4j/src/io/openems/edge/io/hal/pi4j/RasbperryPiComponent.java
  io.openems.edge.io.hal.pi4j/src/io/openems/edge/io/hal/pi4j/RaspberryPiInterface.java
  io.openems.edge.io.hal.pi4j/src/io/openems/edge/io/hal/pi4j/modberry/Cm4Hardware.java
  io.openems.edge.io.hal.pi4j/src/io/openems/edge/io/hal/pi4j/modberry/ModBerryX500CM4.java
  io.openems.edge.io.hal.pi4j/test/io/openems/edge/io/hal/pi4j/MyControllerTest.java
  io.openems.edge.io.hal.pi4j/test/io/openems/edge/io/hal/pi4j/pi4j/AbstractHardwareTest.java
  io.openems.edge.io.hal.pi4j/test/io/openems/edge/io/hal/pi4j/pi4j/DigitalOutputTest.java
  io.openems.edge.io.hal.pi4j/test/io/openems/edge/io/hal/pi4j/pi4j/Pi4JTest.java
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/pi4j.bnd
Due: build-java, restore-cache, rebuild-cache

Edge/Backend: add Apache Felix File Install for dynamic loading of bundles (#2085)
  cnf/pom.xml
  doc/modules/ROOT/pages/backend/build.adoc
  doc/modules/ROOT/pages/edge/implement.adoc
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
  tools/prepare-commit.sh
Due: build-java, restore-cache, rebuild-cache

Reverts pom and bndfile changes.
  cnf/pom.xml
  io.openems.common/bnd.bnd
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.wrapper/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

Implemented Solardedge hybrid system with low voltage battery
  io.openems.edge.solaredge/src/io/openems/edge/ess/sunspec/AbstractSunSpecEss.java
  io.openems.edge.solaredge/src/io/openems/edge/ess/sunspec/Config.java
  io.openems.edge.solaredge/src/io/openems/edge/ess/sunspec/SunSpecEss.java
  io.openems.edge.solaredge/src/io/openems/edge/ess/sunspec/package-info.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/enums/AcChargePolicy.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/enums/BatteryStatus.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/enums/ChargeDischargeMode.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/enums/ControlMode.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/gridmeter/SolarEdgeGridMeter.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/gridmeter/SolarEdgeGridMeterChannelId.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/Config.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/SolarEdgeHybridEss.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/SolarEdgeHybridEssImpl.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/pvinverter/Config.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/pvinverter/SolarEdgePvInverter.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/pvinverter/SolarEdgePvinverterChannelId.java
  io.openems.edge.solaredge/test/io/openems/edge/solaredge/gridmeter/MyConfig.java
  io.openems.edge.solaredge/test/io/openems/edge/solaredge/pvinverter/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Update Changelog for 2023.3.2
  ui/package-lock.json
  ui/src/app/changelog/changelog.component.ts
Due: build-ui, refresh-dev

Push version to 2023.3.2
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Start development of version 2023.3.3-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Added Siemens Logo as external modbus relay
  io.openems.edge.io.siemenslogo/.classpath
  io.openems.edge.io.siemenslogo/.gitignore
  io.openems.edge.io.siemenslogo/.project
  io.openems.edge.io.siemenslogo/bnd.bnd
  io.openems.edge.io.siemenslogo/readme.adoc
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/AbstractSiemensLogoRelay.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/Config.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/SiemensLogoRelay.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/SiemensLogoRelayImpl.java
Due: build-java, restore-cache, rebuild-cache

Added EMH LZQJX
  io.openems.edge.meter.EMH/.classpath
  io.openems.edge.meter.EMH/.gitignore
  io.openems.edge.meter.EMH/.project
  io.openems.edge.meter.EMH/bnd.bnd
  io.openems.edge.meter.EMH/readme.adoc
  io.openems.edge.meter.EMH/src/io/openems/edge/meter/EMH/Config.java
  io.openems.edge.meter.EMH/src/io/openems/edge/meter/EMH/MeterEMH.java
  io.openems.edge.meter.EMH/src/io/openems/edge/meter/EMH/MeterEMHImpl.java
Due: build-java, restore-cache, rebuild-cache

Update EdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bnd.bnd
  io.openems.edge.solaredge/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

Cleaning up folder structure
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/api/devices/LinuxFsButton.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/api/devices/LinuxFsLed.java
  io.openems.edge.io.hal.raspberrypi/.gitignore
  io.openems.edge.io.hal.raspberrypi/generated/buildfiles
Due: build-java, restore-cache, rebuild-cache

Enables freeing of hardware resources.
  io.openems.edge.io.hal.api/.classpath
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/api/DigitalOut.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/api/HardwareComponent.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/api/Led.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/api/PressButton.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/api/devices/LinuxFsButton.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/api/devices/LinuxFsLed.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/linuxfs/Gpio.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/linuxfs/LinuxFsDigitalOut.java
Due: build-java, restore-cache, rebuild-cache

Adds basic semaphores to the hardware components.
  io.openems.edge.io.hal.raspberrypi/src/io/openems/edge/io/hal/modberry/ModBerryX500CM4.java
  io.openems.edge.io.hal.raspberrypi/test/io/openems/edge/io/hal/modberry/ModberryCM4Test.java
Due: build-java, restore-cache, rebuild-cache

Moves components again...
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/api/linuxfs/devices/LinuxFsButton.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/api/linuxfs/devices/LinuxFsLed.java
Due: build-java, restore-cache, rebuild-cache

Fixes checkstyle
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/api/DigitalOut.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/api/HardwareComponent.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/api/linuxfs/devices/LinuxFsButton.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/api/linuxfs/devices/LinuxFsLed.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/linuxfs/Gpio.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/linuxfs/HardwareFactory.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/linuxfs/LinuxFsDigitalOut.java
Due: build-java, restore-cache, rebuild-cache

Fixing checkstyle
  io.openems.edge.io.hal.raspberrypi/test/io/openems/edge/io/hal/modberry/ModberryCM4Test.java
Due: build-java, restore-cache, rebuild-cache

Fixing checkstyle
  io.openems.edge.io.hal.raspberrypi/src/io/openems/edge/io/hal/modberry/ModBerryX500CM4.java
  io.openems.edge.io.hal.raspberrypi/src/io/openems/edge/io/hal/raspberrypi/RasbperryPiComponent.java
Due: build-java, restore-cache, rebuild-cache

Changes based on Webasto Unite PR
  io.openems.edge.evcs.schneider.parking/bnd.bnd
  io.openems.edge.evcs.schneider.parking/readme.adoc
  io.openems.edge.evcs.schneider.parking/src/io/openems/edge/evcs/schneider/parking/Config.java
  io.openems.edge.evcs.schneider.parking/src/io/openems/edge/evcs/schneider/parking/SchneiderImpl.java
  io.openems.edge.evcs.schneider.parking/src/io/openems/edge/evcs/schneider/parking/SchneiderReadHandler.java
Due: build-java, restore-cache, rebuild-cache

Implementation of a solaredge system containing PV hybrid inverter, grid meter, low voltage solaredge home battery
  io.openems.edge.ess.sunspec/.classpath
  io.openems.edge.ess.sunspec/.gitignore
  io.openems.edge.ess.sunspec/.project
  io.openems.edge.ess.sunspec/bnd.bnd
  io.openems.edge.ess.sunspec/readme.adoc
  io.openems.edge.ess.sunspec/src/io/openems/edge/ess/sunspec/AbstractSunSpecEss.java
  io.openems.edge.ess.sunspec/src/io/openems/edge/ess/sunspec/Config.java
  io.openems.edge.ess.sunspec/src/io/openems/edge/ess/sunspec/SunSpecEss.java
  io.openems.edge.ess.sunspec/src/io/openems/edge/ess/sunspec/package-info.java
  io.openems.edge.ess.sunspec/test/.gitignore
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/enums/AcChargePolicy.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/enums/BatteryStatus.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/enums/ChargeDischargeMode.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/enums/ControlMode.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/gridmeter/SolarEdgeGridMeter.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/gridmeter/SolarEdgeGridMeterChannelId.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/Config.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/SolarEdgeHybridEss.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/SolarEdgeHybridEssImpl.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/pvinverter/Config.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/pvinverter/SolarEdgePvInverter.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/pvinverter/SolarEdgePvinverterChannelId.java
Due: build-java, restore-cache, rebuild-cache

Siemens Logo as remote relay.
  io.openems.edge.io.siemenslogo/.classpath
  io.openems.edge.io.siemenslogo/.gitignore
  io.openems.edge.io.siemenslogo/.project
  io.openems.edge.io.siemenslogo/bnd.bnd
  io.openems.edge.io.siemenslogo/readme.adoc
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/AbstractSiemensLogoRelay.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/Config.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/SiemensLogoRelay.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/SiemensLogoRelayImpl.java
Due: build-java, restore-cache, rebuild-cache

Added Meter EMH LZQJXC
  io.openems.edge.meter.EMH/.classpath
  io.openems.edge.meter.EMH/.gitignore
  io.openems.edge.meter.EMH/.project
  io.openems.edge.meter.EMH/bnd.bnd
  io.openems.edge.meter.EMH/readme.adoc
  io.openems.edge.meter.EMH/src/io/openems/edge/meter/EMH/Config.java
  io.openems.edge.meter.EMH/src/io/openems/edge/meter/EMH/MeterEMH.java
  io.openems.edge.meter.EMH/src/io/openems/edge/meter/EMH/MeterEMHImpl.java
Due: build-java, restore-cache, rebuild-cache

Added Janitza UMG104
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg104/Config.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg104/MeterJanitzaUmg104.java
Due: build-java, restore-cache, rebuild-cache

Initial lstm prediction chk-in
  io.openems.edge.predictor.lstmmodel/.project
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/Config.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/LstmPredictor.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/LstmPredictorImpl.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/Calculations.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/Lstm.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/TrainPredict.java
Due: build-java, restore-cache, rebuild-cache

UI: Heckert Instructions page link fix (#539)
  ui/src/app/edge/installation/views/configuration-system/configuration-system.component.ts
  ui/src/assets/i18n/de.json
Due: build-ui, refresh-dev

UI: AGB/Garantiebedingungen links added (#569)
  ui/src/app/edge/installation/installation-systems/abstract-ibn.ts
  ui/src/app/edge/installation/installation-systems/commercial/abstract-commercial.ts
  ui/src/app/edge/installation/installation-systems/home/abstract-home.ts
  ui/src/app/edge/installation/shared/enums.ts
  ui/src/app/edge/installation/views/configuration-summary/configuration-summary.component.ts
  ui/src/app/shared/formly/form-field-checkbox-hyperlink/form-field-checkbox-hyperlink.wrapper.html
  ui/src/app/shared/formly/form-field-checkbox-hyperlink/form-field-checkbox-hyperlink.wrapper.ts
  ui/src/app/shared/shared.module.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/global.scss
Due: build-ui, refresh-dev

UI: Ac Meter Instructions Fix (#559)
  ui/src/app/edge/installation/shared/meter.ts
  ui/src/app/edge/installation/views/pre-installation-update/pre-installation-update.component.html
  ui/src/app/edge/installation/views/protocol-additional-ac-producers/protocol-additional-ac-producers.component.html
  ui/src/app/edge/installation/views/protocol-additional-ac-producers/protocol-additional-ac-producers.component.ts
  ui/src/app/edge/settings/systemupdate/systemupdate.component.html
  ui/src/assets/i18n/cz.json
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/es.json
  ui/src/assets/i18n/fr.json
  ui/src/assets/i18n/nl.json
  ui/src/environments/index.ts
  ui/src/themes/fenecon/environments/theme.ts
  ui/src/themes/heckert/environments/theme.ts
  ui/src/themes/openems/environments/theme.ts
Due: build-ui, refresh-dev

Update Changelog for 2023.3.3
  ui/package-lock.json
  ui/src/app/changelog/changelog.component.ts
Due: build-ui, refresh-dev

Push version to 2023.3.3
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Start development of version 2023.3.4-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Added option for use without an ESS attached
  io.openems.edge.controller.evcs/src/io/openems/edge/controller/evcs/Config.java
  io.openems.edge.controller.evcs/src/io/openems/edge/controller/evcs/EvcsController.java
Due: build-java, restore-cache, rebuild-cache

Added option for use without an ESS attached. Added Modbus-Slave functionality
  io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/Config.java
  io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/EvcsClusterImpl.java
Due: build-java, restore-cache, rebuild-cache

Added Modbus-Slave functionality to controller
  io.openems.edge.controller.io.channelsinglethreshold/src/io/openems/edge/controller/io/channelsinglethreshold/ChannelSingleThreshold.java
  io.openems.edge.controller.io.channelsinglethreshold/src/io/openems/edge/controller/io/channelsinglethreshold/ChannelSingleThresholdImpl.java
  io.openems.edge.controller.io.channelsinglethreshold/src/io/openems/edge/controller/io/channelsinglethreshold/State.java
Due: build-java, restore-cache, rebuild-cache

Refactores Raspberry Pi HAL for better usability.
  io.openems.edge.io.hal.api/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/api/DigitalIn.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/api/DigitalOut.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/api/HardwareComponent.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/api/linuxfs/devices/package-info.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/linuxfs/LinuxFsDigitalIn.java
  io.openems.edge.io.hal.api/src/io/openems/edge/io/hal/linuxfs/LinuxFsDigitalOut.java
  io.openems.edge.io.hal.raspberrypi/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.io.hal.raspberrypi/bnd.bnd
  io.openems.edge.io.hal.raspberrypi/src/io/openems/edge/io/hal/modberry/ModBerryX500CM4.java
  io.openems.edge.io.hal.raspberrypi/src/io/openems/edge/io/hal/modberry/ModberryX500CM4Hardware.java
  io.openems.edge.io.hal.raspberrypi/src/io/openems/edge/io/hal/modberry/RaspberryPiPlattform.java
  io.openems.edge.io.hal.raspberrypi/src/io/openems/edge/io/hal/modberry/package-info.java
  io.openems.edge.io.hal.raspberrypi/src/io/openems/edge/io/hal/raspberrypi/Config.java
  io.openems.edge.io.hal.raspberrypi/src/io/openems/edge/io/hal/raspberrypi/HardwarePlattformEnum.java
  io.openems.edge.io.hal.raspberrypi/src/io/openems/edge/io/hal/raspberrypi/RasbperryPiComponent.java
  io.openems.edge.io.hal.raspberrypi/src/io/openems/edge/io/hal/raspberrypi/RaspberryPiInterface.java
  io.openems.edge.io.hal.raspberrypi/src/io/openems/edge/io/hal/raspberrypi/package-info.java
  io.openems.edge.io.hal.raspberrypi/test/io/openems/edge/io/hal/modberry/ModberryCM4Test.java
Due: build-java, restore-cache, rebuild-cache

Started to implement first IO device.
  io.openems.edge.airconditioner.hydac4kw/.classpath
  io.openems.edge.airconditioner.hydac4kw/.gitignore
  io.openems.edge.airconditioner.hydac4kw/.project
  io.openems.edge.airconditioner.hydac4kw/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.airconditioner.hydac4kw/bnd.bnd
  io.openems.edge.airconditioner.hydac4kw/readme.adoc
  io.openems.edge.airconditioner.hydac4kw/src/io/openems/edge/airconditioner/hydac4kw/Config.java
  io.openems.edge.airconditioner.hydac4kw/src/io/openems/edge/airconditioner/hydac4kw/ErrorSignal.java
  io.openems.edge.airconditioner.hydac4kw/src/io/openems/edge/airconditioner/hydac4kw/HydacAirConditioner.java
  io.openems.edge.airconditioner.hydac4kw/src/io/openems/edge/airconditioner/hydac4kw/HydacAirConditionerImpl.java
  io.openems.edge.airconditioner.hydac4kw/test/io/openems/edge/airconditioner/hydac4kw/MyConfig.java
  io.openems.edge.airconditioner.hydac4kw/test/io/openems/edge/airconditioner/hydac4kw/MyDeviceTest.java
Due: build-java, restore-cache, rebuild-cache

Adds new components
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache
