Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

.woodpecker.yml:

# Woodpecker-CI
# 
# Um den Docker Container fuer build ('openems-build') zu aktualisieren:
# - ssh auf gitvm
# - cd /root/fems/tools
# - git pull
# - bash drone-docker.sh

pipeline:
  restore-cache:
    image: drillster/drone-volume-cache
    restore: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.npm
    volumes:
      - cache:/cache
    group: restore

  build-java:
    when:
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '**/.woodpecker.yml' ]
    image: openems-build:latest
    environment:
      - GRADLE_USER_HOME=/woodpecker/.gradle
    commands:
      - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
      - ./gradlew build buildEdge
      - ./gradlew resolve.BackendApp
      - git diff --exit-code io.openems.backend.application/BackendApp.bndrun
      - ./gradlew resolve.EdgeApp
      - git diff --exit-code io.openems.edge.application/EdgeApp.bndrun
      - cp build/openems.jar ui/target
    group: build
    
  build-ui:
    when:
      path:
        include: [ 'ui/**', '**/.woodpecker.yml' ]
    image: openems-build:latest
    commands:
      - cd ui
      - npm ci --prefer-offline --cache /woodpecker/.npm
      - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
      - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
      - node_modules/.bin/ng lint
      - export CHROME_BIN=/usr/bin/google-chrome-stable
      - npm run test -- --no-watch --no-progress --browsers=ChromeHeadlessCI
    group: build

  refresh-dev:
    when:
      path:
        include: [ 'ui/**', '**/.woodpecker.yml' ]
    image: appleboy/drone-scp
    host: 10.0.0.40
    user: fenecon-docs
    secrets: 
      - source: ssh_key_intranet 
        target: scp_key
    rm: true
    source: ./ui/target
    strip_components: 3
    target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
    group: refresh

  rebuild-cache:
    image: drillster/drone-volume-cache
    rebuild: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.npm
    volumes:
      - cache:/cache
    group: refresh

.woodpecker/.java-build.yml:

# Woodpecker-CI
# 
# Um den Docker Container fuer build ('openems-build') zu aktualisieren:
# - ssh auf gitvm
# - cd /root/fems/tools
# - git pull
# - bash drone-docker.sh

clone:
  git-clone:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: woodpeckerci/plugin-git:v1.6.1
    settings:
      depth: 1
      lfs: false
      recursive: false
      tags: false
      partial: true

pipeline:
  restore-cache:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: drillster/drone-volume-cache
    restore: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.m2
    volumes:
      - cache:/cache

  build-java:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: openems-build:latest
    environment:
      - GRADLE_USER_HOME=/woodpecker/.gradle
    commands:
      - mkdir -p /woodpecker/.m2 && ln -s /woodpecker/.m2 ~/.m2
      - ./gradlew build
      - ./gradlew resolve.EdgeApp
      - ./gradlew resolve.BackendApp
      - git diff --exit-code io.openems.edge.application/EdgeApp.bndrun io.openems.backend.application/BackendApp.bndrun

  rebuild-cache:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: drillster/drone-volume-cache
    rebuild: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.m2
    volumes:
      - cache:/cache

Update Changelog for 2023.1.2
  ui/src/app/changelog/changelog.component.ts
Due: build-ui, refresh-dev

Start development of version 2023.1.3-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

UI: Improve Pagination (#513)
  ui/src/app/index/index.component.ts
Due: build-ui, refresh-dev

General Natures for heating devices separated into different categories of heaters.
  io.openems.edge.heater.api/.classpath
  io.openems.edge.heater.api/.gitignore
  io.openems.edge.heater.api/.project
  io.openems.edge.heater.api/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.heater.api/bnd.bnd
  io.openems.edge.heater.api/readme.adoc
  io.openems.edge.heater.api/src/io/openems/edge/heater/api/Chp.java
  io.openems.edge.heater.api/src/io/openems/edge/heater/api/Heater.java
  io.openems.edge.heater.api/src/io/openems/edge/heater/api/HeaterState.java
  io.openems.edge.heater.api/src/io/openems/edge/heater/api/Heatpump.java
  io.openems.edge.heater.api/src/io/openems/edge/heater/api/ManagedChp.java
  io.openems.edge.heater.api/src/io/openems/edge/heater/api/ManagedHeaterByOperationMode.java
  io.openems.edge.heater.api/src/io/openems/edge/heater/api/ManagedHeatpump.java
  io.openems.edge.heater.api/src/io/openems/edge/heater/api/OperationModeRequest.java
  io.openems.edge.heater.api/src/io/openems/edge/heater/api/SgReady.java
  io.openems.edge.heater.api/src/io/openems/edge/heater/api/package-info.java
  io.openems.edge.heater.api/test/.gitignore
  io.openems.edge.heater.api/test/io/openems/edge/heater/api/HeaterStateTest.java
Due: build-java, restore-cache, rebuild-cache

Put together the contribution guidelines from @fabianfnc and sfeilmeier and added thoughts from consolinno and opernikus developers to it.
  doc/modules/ROOT/nav.adoc
  doc/modules/ROOT/pages/contribution.adoc
Due: none

WIP: current development state for resending historic data
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/BackendApi.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/BackendApiImpl.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/OnOpen.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/ResendHistoricDataWorker.java
Due: build-java, restore-cache, rebuild-cache

Improve Pagination (#515)
  ui/src/app/index/index.component.html
  ui/src/app/index/index.component.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/service/websocket.ts
Due: build-ui, refresh-dev

Update bndrun files
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Push version to 2023.1.3
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Update Changelog for 2023.1.3
  ui/src/app/changelog/changelog.component.ts
Due: build-ui, refresh-dev

Start development of version 2023.1.4-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Update bnd files
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/io.reactivex.rxjava3.rxjava.bnd
Due: build-java, restore-cache, rebuild-cache

Add a proposal for a new EVCS API (v2)
  io.openems.edge.evcs.api/readme.adoc
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/v2/api/ChargingType.java
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/v2/api/Evcs.java
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/v2/api/EvcsPower.java
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/v2/api/ManagedEvcs.java
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/v2/api/PhaseRotation.java
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/v2/api/Phases.java
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/v2/api/Priority.java
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/v2/api/SocEvcs.java
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/v2/api/Status.java
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/v2/api/package-info.java
Due: build-java, restore-cache, rebuild-cache

Alternative implementation for Flux/InfluxQL support
  io.openems.backend.timedata.influx/src/io/openems/backend/timedata/influx/Config.java
  io.openems.backend.timedata.influx/src/io/openems/backend/timedata/influx/InfluxImpl.java
  io.openems.edge.timedata.influxdb/src/io/openems/edge/timedata/influxdb/Config.java
  io.openems.edge.timedata.influxdb/src/io/openems/edge/timedata/influxdb/InfluxTimedataImpl.java
  io.openems.shared.influxdb/bnd.bnd
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/InfluxConnector.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/QueryLanguageConfig.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/FluxProxy.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/InfluxQlProxy.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/QueryProxy.java
  io.openems.shared.influxdb/test/io/openems/shared/influxdb/proxy/QueryBuilderTest.java
Due: build-java, restore-cache, rebuild-cache

UI: fix subscribe on refresh (#517)
  ui/src/app/shared/service/service.ts
Due: build-ui, refresh-dev

Update Changelog for 2023.1.4
  ui/src/app/changelog/changelog.component.ts
Due: build-ui, refresh-dev

Push version to 2023.1.4
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Start development of version 2023.1.5-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Improvements to Backend Timedata services
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/B2bWebsocket.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/SubscribedEdgesChannelsWorker.java
  io.openems.backend.common/src/io/openems/backend/common/edgewebsocket/EdgeCache.java
  io.openems.backend.common/src/io/openems/backend/common/edgewebsocket/EdgeWebsocket.java
  io.openems.backend.common/src/io/openems/backend/common/timedata/TimedataManager.java
  io.openems.backend.common/test/io/openems/backend/common/edgewebsocket/EdgeCacheTest.java
  io.openems.backend.core/src/io/openems/backend/core/jsonrpcrequesthandler/EdgeRpcRequestHandler.java
  io.openems.backend.core/src/io/openems/backend/core/jsonrpcrequesthandler/JsonRpcRequestHandlerImpl.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/EdgeWebsocketImpl.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/OnNotification.java
  io.openems.backend.timedata.dummy/src/io/openems/backend/timedata/dummy/Config.java
  io.openems.backend.timedata.dummy/src/io/openems/backend/timedata/dummy/TimedataDummy.java
  io.openems.backend.timedata.influx/src/io/openems/backend/timedata/influx/Config.java
  io.openems.backend.timedata.influx/src/io/openems/backend/timedata/influx/FieldTypeConflictHandler.java
  io.openems.backend.timedata.influx/src/io/openems/backend/timedata/influx/Influx.java
  io.openems.backend.timedata.influx/src/io/openems/backend/timedata/influx/InfluxImpl.java
  io.openems.backend.timedata.timescaledb/src/io/openems/backend/timedata/timescaledb/Config.java
  io.openems.backend.timedata.timescaledb/src/io/openems/backend/timedata/timescaledb/TimescaledbImpl.java
  io.openems.edge.timedata.influxdb/src/io/openems/edge/timedata/influxdb/Config.java
  io.openems.edge.timedata.influxdb/src/io/openems/edge/timedata/influxdb/InfluxTimedataImpl.java
  io.openems.shared.influxdb/bnd.bnd
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/InfluxConnector.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/MergePointsWorker.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/QueryLanguageConfig.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/FluxProxy.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/InfluxQlProxy.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/QueryProxy.java
  io.openems.shared.influxdb/test/io/openems/shared/influxdb/proxy/QueryBuilderTest.java
Due: build-java, restore-cache, rebuild-cache

Fix EdgeCacheTest for 15 minutes
  io.openems.backend.common/test/io/openems/backend/common/edgewebsocket/EdgeCacheTest.java
Due: build-java, restore-cache, rebuild-cache

Add TimedataManager implementation
  io.openems.backend.core/src/io/openems/backend/core/timedatamanager/Config.java
  io.openems.backend.core/src/io/openems/backend/core/timedatamanager/TimedataManagerImpl.java
Due: build-java, restore-cache, rebuild-cache

Update UI dependencies
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev

CalculateAverage now supports all numbers (not only integer) (#2034)
  io.openems.edge.common/src/io/openems/edge/common/channel/calculate/CalculateAverage.java
  io.openems.edge.common/test/io/openems/edge/common/channel/calculate/CalculateAverageTest.java
Due: build-java, restore-cache, rebuild-cache

REST-Api: fix RegEx for Component-ID in /channel endpoint
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/RestHandler.java
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/DummyComponent.java
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/RestHandlerTest.java
Due: build-java, restore-cache, rebuild-cache

REST-Api: fix RegEx for Component-ID in /channel endpoint (#2046)
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/RestHandler.java
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/DummyComponent.java
  io.openems.edge.controller.api.rest/test/io/openems/edge/controller/api/rest/RestHandlerTest.java
Due: build-java, restore-cache, rebuild-cache

Finalize PR
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/FileMetadata.java
Due: build-java, restore-cache, rebuild-cache

Backend: Backend set data-directory and disable Event-Handler timeout (#2021)
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update gradle
  .gradle-wrapper/gradle-wrapper.jar
  .gradle-wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: build-java, restore-cache, rebuild-cache

Restructure navigation and text
  doc/modules/ROOT/nav.adoc
  doc/modules/ROOT/pages/contribute/coding-guidelines.adoc
  doc/modules/ROOT/pages/contribute/documentation.adoc
  doc/modules/ROOT/pages/contribution.adoc
Due: none

Add OpenEMS Contribution Guidelines (#2042)
  doc/modules/ROOT/nav.adoc
  doc/modules/ROOT/pages/contribute/coding-guidelines.adoc
  doc/modules/ROOT/pages/contribute/documentation.adoc
Due: none

FENECON Commercial 40 Chargers: fix Config case sensitivity (#1781)
  io.openems.edge.ess.fenecon.commercial40/src/io/openems/edge/ess/fenecon/commercial40/charger/EssDcChargerFeneconCommercial40Pv1Impl.java
  io.openems.edge.ess.fenecon.commercial40/src/io/openems/edge/ess/fenecon/commercial40/charger/EssDcChargerFeneconCommercial40Pv2Impl.java
Due: build-java, restore-cache, rebuild-cache

AppCenter: alias optional (#512)
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AbstractOpenemsApp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AbstractOpenemsAppWithProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppAssistant.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppSynchronizeWorker.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/ResolveDependencies.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/AppManagerAppHelperImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/jsonrpc/AddAppInstance.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerTestBundle.java
Due: build-java, restore-cache, rebuild-cache

Push version to 2023.2.0
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Start development of version 2023.3.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

UI: IBN: Change in default commercial components for configuration (#519)
  ui/src/app/edge/installation/installation-systems/commercial/commercial-30/abstract-commercial-30.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-30/commercial30-netztrenn.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-50/abstract-commercial-50.ts
  ui/src/app/edge/installation/installation-systems/home/abstract-home.ts
  ui/src/app/edge/installation/shared/meter.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev

Update Changelog for 2023.2.1
  ui/src/app/changelog/changelog.component.ts
Due: build-ui, refresh-dev

Push version to 2023.2.1
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Start development of version 2023.2.2-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Refactored documentation so that it fits better into general documentation (PR #2040)
  io.openems.edge.heater.api/readme.adoc
Due: build-java, restore-cache, rebuild-cache
