Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

.woodpecker.yml:

# Woodpecker-CI
# 
# Um den Docker Container fuer build ('openems-build') zu aktualisieren:
# - ssh auf gitvm
# - cd /root/fems/tools
# - git pull
# - bash drone-docker.sh

pipeline:
  restore-cache:
    image: drillster/drone-volume-cache
    restore: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.npm
    volumes:
      - cache:/cache
    group: restore

  build-java:
    when:
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '**/.woodpecker.yml' ]
    image: openems-build:latest
    environment:
      - GRADLE_USER_HOME=/woodpecker/.gradle
    commands:
      - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
      - ./gradlew build buildEdge
      - ./gradlew resolve.BackendApp
      - git diff --exit-code io.openems.backend.application/BackendApp.bndrun
      - ./gradlew resolve.EdgeApp
      - git diff --exit-code io.openems.edge.application/EdgeApp.bndrun
      - cp build/openems.jar ui/target
    group: build
    
  build-ui:
    when:
      path:
        include: [ 'ui/**', '**/.woodpecker.yml' ]
    image: openems-build:latest
    commands:
      - cd ui
      - npm ci --prefer-offline --cache /woodpecker/.npm
      - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
      - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
      - node_modules/.bin/ng lint
      - export CHROME_BIN=/usr/bin/google-chrome-stable
      - npm run test -- --no-watch --no-progress --browsers=ChromeHeadlessCI
    group: build

  refresh-dev:
    when:
      path:
        include: [ 'ui/**', '**/.woodpecker.yml' ]
    image: appleboy/drone-scp
    host: 10.0.0.40
    user: fenecon-docs
    secrets: 
      - source: ssh_key_intranet 
        target: scp_key
    rm: true
    source: ./ui/target
    strip_components: 3
    target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
    group: refresh

  rebuild-cache:
    image: drillster/drone-volume-cache
    rebuild: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.npm
    volumes:
      - cache:/cache
    group: refresh

.woodpecker/.java-build.yml:

# Woodpecker-CI
# 
# Um den Docker Container fuer build ('openems-build') zu aktualisieren:
# - ssh auf gitvm
# - cd /root/fems/tools
# - git pull
# - bash drone-docker.sh

clone:
  git-clone:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: woodpeckerci/plugin-git:v1.6.1
    settings:
      depth: 1
      lfs: false
      recursive: false
      tags: false
      partial: true

pipeline:
  restore-cache:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: drillster/drone-volume-cache
    restore: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.m2
    volumes:
      - cache:/cache

  build-java:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: openems-build:latest
    environment:
      - GRADLE_USER_HOME=/woodpecker/.gradle
    commands:
      - mkdir -p /woodpecker/.m2 && ln -s /woodpecker/.m2 ~/.m2
      - ./gradlew --build-cache build
      - ./gradlew resolve.EdgeApp
      - ./gradlew resolve.BackendApp
      - git diff --exit-code io.openems.edge.application/EdgeApp.bndrun io.openems.backend.application/BackendApp.bndrun

  rebuild-cache:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: drillster/drone-volume-cache
    rebuild: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.m2
    volumes:
      - cache:/cache

Update AbstractSiemensLogoRelay.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/AbstractSiemensLogoRelay.java
Due: build-java, restore-cache, rebuild-cache

Update SiemensLogoRelay.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/SiemensLogoRelay.java
Due: build-java, restore-cache, rebuild-cache

Update SiemensLogoRelayImpl.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/SiemensLogoRelayImpl.java
Due: build-java, restore-cache, rebuild-cache

WIP: Added access modifiers for Eslint warnings
  ui/src/app/shared/genericComponents/modal/modal-phases/modal-phases.ts
  ui/src/app/shared/genericComponents/modal/model-horizontal-line/modal-horizontal-line.ts
  ui/src/app/shared/header/header.component.ts
  ui/src/app/shared/jsonrpc/notification/logMessageNotification.ts
  ui/src/app/shared/jsonrpc/request/addEdgeToUserRequest.ts
  ui/src/app/shared/jsonrpc/request/authenticateWithPasswordRequest.ts
  ui/src/app/shared/jsonrpc/request/authenticateWithTokenRequest.ts
  ui/src/app/shared/jsonrpc/request/componentJsonApiRequest.ts
  ui/src/app/shared/jsonrpc/request/createComponentConfigRequest.ts
  ui/src/app/shared/jsonrpc/request/deleteComponentConfigRequest.ts
  ui/src/app/shared/jsonrpc/request/edgeRpcRequest.ts
  ui/src/app/shared/jsonrpc/request/executeCommandRequest.ts
  ui/src/app/shared/jsonrpc/request/get24HoursPredictionRequest.ts
  ui/src/app/shared/jsonrpc/request/getEdgeConfigRequest.ts
  ui/src/app/shared/jsonrpc/request/getEdgeRequest.ts
  ui/src/app/shared/jsonrpc/request/getEdgesRequest.ts
  ui/src/app/shared/jsonrpc/request/getSetupProtocolRequest.ts
  ui/src/app/shared/jsonrpc/request/getUserAlertingConfigsRequest.ts
  ui/src/app/shared/jsonrpc/request/getUserInformationRequest.ts
  ui/src/app/shared/jsonrpc/request/logoutRequest.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesDataRequest.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesEnergyPerPeriodRequest.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesEnergyRequest.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesExportXlxs.ts
  ui/src/app/shared/jsonrpc/request/registerUserRequest.ts
  ui/src/app/shared/jsonrpc/request/setChannelValueRequest.ts
  ui/src/app/shared/jsonrpc/request/setEmergencyReserveRequest.ts
  ui/src/app/shared/jsonrpc/request/setUserAlertingConfigsRequest.ts
  ui/src/app/shared/jsonrpc/request/setUserInformationRequest.ts
  ui/src/app/shared/jsonrpc/request/submitSetupProtocolRequest.ts
  ui/src/app/shared/jsonrpc/request/subscribeChannelsRequest.ts
  ui/src/app/shared/jsonrpc/request/subscribeEdgesRequest.ts
  ui/src/app/shared/jsonrpc/request/subscribeSystemLogRequest.ts
  ui/src/app/shared/jsonrpc/request/updateComponentConfigRequest.ts
  ui/src/app/shared/jsonrpc/request/updateUserLanguageRequest.ts
  ui/src/app/shared/service/abstractservice.ts
  ui/src/app/shared/service/test/dummyservice.ts
Due: build-ui, refresh-dev

EVCS Controller: allow usage without an ESS (#2111)
  io.openems.common/src/io/openems/common/utils/ConfigUtils.java
  io.openems.edge.common/src/io/openems/edge/common/sum/DummySum.java
  io.openems.edge.controller.evcs/src/io/openems/edge/controller/evcs/Config.java
  io.openems.edge.controller.evcs/src/io/openems/edge/controller/evcs/EvcsController.java
  io.openems.edge.controller.evcs/test/io/openems/edge/controller/evcs/EvcsControllerTest.java
  io.openems.edge.controller.evcs/test/io/openems/edge/controller/evcs/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

fixed Eslint warnings
  ui/src/app/edge/live/energymonitor/chart/section/abstractsection.component.ts
  ui/src/app/edge/settings/network/getNetworkConfigRequest.ts
  ui/src/app/edge/settings/network/setNetworkConfigRequest.ts
  ui/src/app/edge/settings/profile/channelexport/channelExportXlsxRequest.ts
  ui/src/app/edge/settings/profile/modbusapi/getModbusProtocolExportXlsxRequest.ts
  ui/src/app/edge/settings/profile/modbusapi/getModbusProtocolRequest.ts
  ui/src/app/edge/settings/systemupdate/executeSystemUpdateRequest.ts
  ui/src/app/edge/settings/systemupdate/getSystemUpdateStateRequest.ts
  ui/src/app/registration/modal/modal.component.ts
  ui/src/app/shared/chartoptions/chartoptions.component.ts
  ui/src/app/shared/genericComponents/flat/flat-widget-line/flat-widget-line.ts
  ui/src/app/shared/genericComponents/modal/abstract-modal-line.ts
  ui/src/app/shared/genericComponents/modal/abstractModal.ts
  ui/src/app/shared/genericComponents/modal/modal-button/modal-button.ts
  ui/src/app/shared/genericComponents/modal/modal-info-line/modal-info-line.ts
  ui/src/app/shared/genericComponents/modal/modal-line/modal-line.ts
Due: build-ui, refresh-dev

fixed rquested changes from review
  ui/src/app/edge/settings/network/getNetworkConfigRequest.ts
  ui/src/app/edge/settings/network/setNetworkConfigRequest.ts
  ui/src/app/edge/settings/profile/modbusapi/getModbusProtocolRequest.ts
  ui/src/app/registration/modal/modal.component.ts
  ui/src/app/shared/genericComponents/modal/abstract-modal-line.ts
  ui/src/app/shared/genericComponents/modal/modal-button/modal-button.ts
  ui/src/app/shared/genericComponents/modal/modal-line/modal-line.ts
  ui/src/app/shared/jsonrpc/request/addEdgeToUserRequest.ts
  ui/src/app/shared/jsonrpc/request/authenticateWithTokenRequest.ts
  ui/src/app/shared/jsonrpc/request/componentJsonApiRequest.ts
  ui/src/app/shared/jsonrpc/request/createComponentConfigRequest.ts
  ui/src/app/shared/jsonrpc/request/deleteComponentConfigRequest.ts
  ui/src/app/shared/jsonrpc/request/edgeRpcRequest.ts
  ui/src/app/shared/jsonrpc/request/executeCommandRequest.ts
  ui/src/app/shared/jsonrpc/request/get24HoursPredictionRequest.ts
  ui/src/app/shared/jsonrpc/request/getEdgeConfigRequest.ts
  ui/src/app/shared/jsonrpc/request/getEdgeRequest.ts
  ui/src/app/shared/jsonrpc/request/getEdgesRequest.ts
  ui/src/app/shared/jsonrpc/request/getSetupProtocolRequest.ts
  ui/src/app/shared/jsonrpc/request/getUserAlertingConfigsRequest.ts
  ui/src/app/shared/jsonrpc/request/getUserInformationRequest.ts
  ui/src/app/shared/jsonrpc/request/logoutRequest.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesDataRequest.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesEnergyPerPeriodRequest.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesEnergyRequest.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesExportXlxs.ts
  ui/src/app/shared/jsonrpc/request/registerUserRequest.ts
  ui/src/app/shared/jsonrpc/request/setChannelValueRequest.ts
  ui/src/app/shared/jsonrpc/request/setEmergencyReserveRequest.ts
  ui/src/app/shared/jsonrpc/request/setUserAlertingConfigsRequest.ts
  ui/src/app/shared/jsonrpc/request/setUserInformationRequest.ts
  ui/src/app/shared/jsonrpc/request/submitSetupProtocolRequest.ts
  ui/src/app/shared/jsonrpc/request/subscribeChannelsRequest.ts
  ui/src/app/shared/jsonrpc/request/subscribeEdgesRequest.ts
  ui/src/app/shared/jsonrpc/request/subscribeSystemLogRequest.ts
  ui/src/app/shared/jsonrpc/request/updateComponentConfigRequest.ts
  ui/src/app/shared/jsonrpc/request/updateUserLanguageRequest.ts
  ui/src/app/shared/pickdate/popover/popover.component.ts
Due: build-ui, refresh-dev

Update Gitpod to Odoo 15
  .gitpod.Dockerfile
  .gitpod.yml
Due: none

Add 'readOnly' config parameter for all SunSpec PV-Inverters
  io.openems.edge.pvinverter.fronius/src/io/openems/edge/pvinverter/fronius/Config.java
  io.openems.edge.pvinverter.fronius/src/io/openems/edge/pvinverter/fronius/FroniusPvInverter.java
  io.openems.edge.pvinverter.kaco.blueplanet/src/io/openems/edge/pvinverter/kaco/blueplanet/Config.java
  io.openems.edge.pvinverter.kaco.blueplanet/src/io/openems/edge/pvinverter/kaco/blueplanet/KacoBlueplanet.java
  io.openems.edge.pvinverter.kaco.blueplanet/test/io/openems/edge/pvinverter/kaco/blueplanet/KacoBlueplanetTest.java
  io.openems.edge.pvinverter.kaco.blueplanet/test/io/openems/edge/pvinverter/kaco/blueplanet/MyConfig.java
  io.openems.edge.pvinverter.kostal/src/io/openems/edge/pvinverter/kostal/Config.java
  io.openems.edge.pvinverter.kostal/src/io/openems/edge/pvinverter/kostal/KostalPvInverter.java
  io.openems.edge.pvinverter.kostal/test/io/openems/edge/pvinverter/kostal/KostalPvInverterTest.java
  io.openems.edge.pvinverter.kostal/test/io/openems/edge/pvinverter/kostal/MyConfig.java
  io.openems.edge.pvinverter.sma/src/io/openems/edge/pvinverter/sma/Config.java
  io.openems.edge.pvinverter.sma/src/io/openems/edge/pvinverter/sma/SmaPvInverter.java
  io.openems.edge.pvinverter.sma/test/io/openems/edge/pvinverter/sma/MyConfig.java
  io.openems.edge.pvinverter.sma/test/io/openems/edge/pvinverter/sma/SmaPvInverterTest.java
Due: build-java, restore-cache, rebuild-cache

Add 'readOnly' config parameter for SolarEdge PV-Inverter
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/pvinverter/Config.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/pvinverter/SolarEdgePvInverter.java
  io.openems.edge.solaredge/test/io/openems/edge/solaredge/pvinverter/MyConfig.java
  io.openems.edge.solaredge/test/io/openems/edge/solaredge/pvinverter/SolarEdgePvInverterTest.java
Due: build-java, restore-cache, rebuild-cache

Implement read-only mode in AbstractSunSpecPvInverter
  io.openems.edge.pvinverter.sunspec/src/io/openems/edge/pvinverter/sunspec/AbstractSunSpecPvInverter.java
  io.openems.edge.pvinverter.sunspec/src/io/openems/edge/pvinverter/sunspec/SetPvLimitHandler.java
  io.openems.edge.pvinverter.sunspec/src/io/openems/edge/pvinverter/sunspec/SunSpecPvInverter.java
Due: build-java, restore-cache, rebuild-cache

Fix JUnit tests
  io.openems.edge.pvinverter.kaco.blueplanet/bnd.bnd
  io.openems.edge.pvinverter.sma/bnd.bnd
  io.openems.edge.pvinverter.sma/test/io/openems/edge/pvinverter/sma/SmaPvInverterTest.java
Due: build-java, restore-cache, rebuild-cache

Channel: catch errors while updating Process-Image
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractReadChannel.java
Due: build-java, restore-cache, rebuild-cache

catching a RuntimeException is sufficient
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractReadChannel.java
Due: build-java, restore-cache, rebuild-cache

fix casting
  io.openems.edge.pvinverter.sunspec/src/io/openems/edge/pvinverter/sunspec/AbstractSunSpecPvInverter.java
Due: build-java, restore-cache, rebuild-cache

PV-Inverters: add read-only mode (#2147)
  io.openems.edge.pvinverter.fronius/src/io/openems/edge/pvinverter/fronius/Config.java
  io.openems.edge.pvinverter.fronius/src/io/openems/edge/pvinverter/fronius/FroniusPvInverter.java
  io.openems.edge.pvinverter.kaco.blueplanet/bnd.bnd
  io.openems.edge.pvinverter.kaco.blueplanet/src/io/openems/edge/pvinverter/kaco/blueplanet/Config.java
  io.openems.edge.pvinverter.kaco.blueplanet/src/io/openems/edge/pvinverter/kaco/blueplanet/KacoBlueplanet.java
  io.openems.edge.pvinverter.kaco.blueplanet/test/io/openems/edge/pvinverter/kaco/blueplanet/KacoBlueplanetTest.java
  io.openems.edge.pvinverter.kaco.blueplanet/test/io/openems/edge/pvinverter/kaco/blueplanet/MyConfig.java
  io.openems.edge.pvinverter.kostal/src/io/openems/edge/pvinverter/kostal/Config.java
  io.openems.edge.pvinverter.kostal/src/io/openems/edge/pvinverter/kostal/KostalPvInverter.java
  io.openems.edge.pvinverter.kostal/test/io/openems/edge/pvinverter/kostal/KostalPvInverterTest.java
  io.openems.edge.pvinverter.kostal/test/io/openems/edge/pvinverter/kostal/MyConfig.java
  io.openems.edge.pvinverter.sma/bnd.bnd
  io.openems.edge.pvinverter.sma/src/io/openems/edge/pvinverter/sma/Config.java
  io.openems.edge.pvinverter.sma/src/io/openems/edge/pvinverter/sma/SmaPvInverter.java
  io.openems.edge.pvinverter.sma/test/io/openems/edge/pvinverter/sma/MyConfig.java
  io.openems.edge.pvinverter.sma/test/io/openems/edge/pvinverter/sma/SmaPvInverterTest.java
  io.openems.edge.pvinverter.sunspec/src/io/openems/edge/pvinverter/sunspec/AbstractSunSpecPvInverter.java
  io.openems.edge.pvinverter.sunspec/src/io/openems/edge/pvinverter/sunspec/SetPvLimitHandler.java
  io.openems.edge.pvinverter.sunspec/src/io/openems/edge/pvinverter/sunspec/SunSpecPvInverter.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/pvinverter/Config.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/pvinverter/SolarEdgePvInverter.java
  io.openems.edge.solaredge/test/io/openems/edge/solaredge/pvinverter/MyConfig.java
  io.openems.edge.solaredge/test/io/openems/edge/solaredge/pvinverter/SolarEdgePvInverterTest.java
Due: build-java, restore-cache, rebuild-cache

Channel: catch errors while updating Process-Image (#2148)
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractReadChannel.java
Due: build-java, restore-cache, rebuild-cache

UI: IBN add modbus bridge selection choice for Commercial Battery (#561)
  ui/src/app/edge/installation/installation-systems/abstract-ibn.ts
  ui/src/app/edge/installation/installation-systems/commercial/abstract-commercial.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-30/abstract-commercial-30.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-30/commercial30-anschluss.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-30/commercial30-netztrenn.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-50/abstract-commercial-50.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-50/commercial50-eigenverbrauchsoptimierung.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-50/commercial50-lastspitzenkappung.ts
  ui/src/app/edge/installation/installation.component.html
  ui/src/app/edge/installation/installation.module.ts
  ui/src/app/edge/installation/shared/category.ts
  ui/src/app/edge/installation/shared/enums.ts
  ui/src/app/edge/installation/views/configuration-commercial-modbusbridge/configuration-commercial-modbusbridge.html
  ui/src/app/edge/installation/views/configuration-commercial-modbusbridge/configuration-commercial-modbusbridge.ts
  ui/src/app/shared/formly/formly-field-radio-with-image/formly-field-radio-with-image.html
  ui/src/app/shared/formly/formly-field-radio-with-image/formly-field-radio-with-image.ts
  ui/src/app/shared/shared.module.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/img/RTU-4_Ports.PNG
  ui/src/assets/img/TCP-IP_6_Ports.png
Due: build-ui, refresh-dev

AppCenter: minor improvements (#620)
  io.openems.edge.core/src/io/openems/edge/app/api/ModbusTcpApiReadWrite.java
  io.openems.edge.core/src/io/openems/edge/app/api/RestJsonApiReadWrite.java
  io.openems.edge.core/src/io/openems/edge/app/heat/HeatingElement.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/JsonFormlyUtil.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/Type.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  ui/src/app/edge/settings/app/update.component.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

UI: IBN Added selection of Feldbuskoppler. (#575)
  ui/src/app/edge/installation/installation-systems/abstract-ibn.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-30/commercial30-netztrenn.ts
  ui/src/app/edge/installation/shared/coupler.ts
  ui/src/app/edge/installation/views/configuration-emergency-reserve/configuration-emergency-reserve.component.ts
  ui/src/app/shared/formly/formly-field-radio-with-image/formly-field-radio-with-image.html
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/img/Netztrennstelle_WAGO.PNG
  ui/src/assets/img/Netztrennstelle_Weidmüller.PNG
Due: build-ui, refresh-dev

Fix Merge Conflict in AbstractReadChannel
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractReadChannel.java
Due: build-java, restore-cache, rebuild-cache

Push version to 2023.4.2
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Update Changelog for 2023.4.2
  ui/package-lock.json
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-ui, refresh-dev

Start development of version 2023.4.3-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

revert toList() to collect(Collectors.toList())
  io.openems.common/src/io/openems/common/jsonrpc/response/AppCenterGetInstalledAppsResponse.java
  io.openems.common/src/io/openems/common/jsonrpc/response/AppCenterGetPossibleAppsResponse.java
  io.openems.common/src/io/openems/common/jsonrpc/response/AppCenterIsKeyApplicableResponse.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AbstractOpenemsApp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerUtilImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/InterfaceConfiguration.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/JsonFormlyUtil.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/AppManagerAppHelperImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/ComponentAggregateTaskImpl.java
Due: build-java, restore-cache, rebuild-cache

Fix install of wkhtmltopdf
  .gitpod.Dockerfile
Due: none

Revert Stream.toList() to toList() method
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/AppManagerAppHelperImpl.java
Due: build-java, restore-cache, rebuild-cache

Gitpod: update to Odoo 15 (#2146)
  .gitpod.Dockerfile
  .gitpod.yml
Due: none

KACO 10: fix NPE, remove trim method (#621)
  io.openems.edge.kaco.blueplanet.hybrid10/src/io/openems/edge/kaco/blueplanet/hybrid10/core/BpCoreImpl.java
Due: build-java, restore-cache, rebuild-cache

Update Changelog for 2023.4.3
  ui/package-lock.json
  ui/src/app/changelog/view/component/changelog.component.ts
Due: build-ui, refresh-dev

Push version to 2023.4.3
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Start development of version 2023.4.4-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

SimulatedEvcs: do not inherit ElectricityMeter for now
  io.openems.edge.simulator/src/io/openems/edge/simulator/evcs/AsymmetricMeterEvcs.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/evcs/SimulatedEvcs.java
Due: build-java, restore-cache, rebuild-cache

Fix Simulator Grid-Meter not being shown
  ui/src/app/shared/edge/edgeconfig.ts
Due: build-ui, refresh-dev

- Added readonly option to AbstractOpenemsModbusComponent.activate() - updated DefaultSunSpecModel from model from 02-2023 - added S160 to DefaultSunSpecModel - fixed SunSpecCodeGenerator
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/AbstractOpenemsSunSpecComponent.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/DefaultSunSpecModel.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/SunSpecCodeGenerator.java
Due: build-java, restore-cache, rebuild-cache

Fixed checkstyle warning.
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/AbstractOpenemsSunSpecComponent.java
Due: build-java, restore-cache, rebuild-cache

added ESS Fronius GEN24
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.ess.fronius/.classpath
  io.openems.edge.ess.fronius/.gitignore
  io.openems.edge.ess.fronius/.project
  io.openems.edge.ess.fronius/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.ess.fronius/bnd.bnd
  io.openems.edge.ess.fronius/doc/Fronius-GEN24-Modbus.pdf
  io.openems.edge.ess.fronius/doc/Gen24_Primo_Symo_Inverter_Register_Map_Int&SF_storage.xlsx
  io.openems.edge.ess.fronius/readme.adoc
  io.openems.edge.ess.fronius/src/io/openems/edge/ess/fronius/gen24/Config.java
  io.openems.edge.ess.fronius/src/io/openems/edge/ess/fronius/gen24/FroniusGen24ChannelId.java
  io.openems.edge.ess.fronius/src/io/openems/edge/ess/fronius/gen24/FroniusGen24EssImpl.java
  io.openems.edge.ess.fronius/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

fixed sort order in fronius symo gen24
  io.openems.edge.ess.fronius/bnd.bnd
Due: build-java, restore-cache, rebuild-cache
