Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

add doc comment
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/ControllerApiWebsocketImpl.java
Due: build-java, restore-cache, rebuild-cache

prepare-commit
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Drop unused translate messages
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix OpenEMS translation texts (#3187)
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: fix use getEditButtonText; add ja text
  ui/src/app/user/user.component.html
  ui/src/assets/i18n/ja.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: add translation text for technicalName, category, cardinality
  ui/src/app/edge/settings/app/index.component.html
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/ja.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: remove original translation file and migrate it to exsiting one
  ui/src/app/edge/history/Controller/Io/heatpump/overview/overview.ts
  ui/src/app/edge/history/Controller/Io/heatpump/overview/translation.json
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/ja.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Persist some additional values in EVCS peak shaving
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/api/ManagedEvcsCluster.java
  io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/EvcsClusterPeakShaving.java
Due: build-java, restore-cache, rebuild-cache

fix
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/Backend2BackendWebsocket.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/Config.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/WebsocketServer.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/Config.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/EdgeWebsocketImpl.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/WebsocketServer.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/Config.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/UiWebsocketImpl.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/WebsocketServer.java
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketServer.java
  io.openems.common/src/io/openems/common/websocket/DummyWebsocketServer.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/Config.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/ControllerApiWebsocketImpl.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/WebsocketServer.java
  io.openems.edge.controller.api.websocket/test/io/openems/edge/controller/api/websocket/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

fix indent
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/Config.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/WebsocketServer.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/Config.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/WebsocketServer.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/Config.java
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketServer.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/ControllerApiWebsocketImpl.java
  io.openems.edge.controller.api.websocket/test/io/openems/edge/controller/api/websocket/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Fix: Preserve currentEdge and channel subscriptions when navigating to /user to prevent data loss on return to /live page.
  ui/src/app/edge/edge.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Avoid NullPointerException when no recurrence rule is given
  io.openems.common/src/io/openems/common/jscalendar/JSCalendar.java
Due: build-java, restore-cache, rebuild-cache

Added JUnit-Test
  io.openems.common/test/io/openems/common/jscalendar/JSCalendarTest.java
Due: build-java, restore-cache, rebuild-cache

Checkstyle
  io.openems.common/test/io/openems/common/jscalendar/JSCalendarTest.java
Due: build-java, restore-cache, rebuild-cache

Update README.md: removed link to felix, as it is neither accessible nor needed
  tools/docker/edge/README.md
Due: none

Update README.md: describe first steps to log in & configure
  tools/docker/edge/README.md
Due: none

Update docker.adoc: added hint & link to influxdb deployment
  doc/modules/ROOT/pages/edge/deploy/docker.adoc
Due: none

Update IoShellyPro3Em.java: included remedy for communication error message
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3em/IoShellyPro3Em.java
Due: build-java, restore-cache, rebuild-cache

Update readme.adoc: added limitation regarding UI pwd
  io.openems.edge.io.shelly/readme.adoc
Due: build-java, restore-cache, rebuild-cache

EVSE KEBA UDP: fix stop charging session
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evse/chargepoint/keba/udp/EvseChargePointKebaUdpImpl.java
Due: build-java, restore-cache, rebuild-cache

GoodWe: use extended grid meter values
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/gridmeter/GoodWeGridMeter.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/gridmeter/GoodWeGridMeterImpl.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/gridmeter/GoodWeGridMeterImplTest.java
Due: build-java, restore-cache, rebuild-cache

UI: EVSE Icon change
  ui/src/app/edge/live/Controller/Evse/modal/modal.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Heat-pump Icon color history widget
  ui/src/app/edge/history/Controller/Io/heatpump/flat/flat.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UpdateManager: Generic updates
  io.openems.edge.common/src/io/openems/edge/common/update/Updateable.java
  io.openems.edge.common/src/io/openems/edge/common/update/jsonrpc/ExecuteUpdate.java
  io.openems.edge.common/src/io/openems/edge/common/update/jsonrpc/GetUpdateState.java
  io.openems.edge.common/src/io/openems/edge/common/update/jsonrpc/GetUpdateables.java
  io.openems.edge.common/src/io/openems/edge/common/update/jsonrpc/package-info.java
  io.openems.edge.common/src/io/openems/edge/common/update/package-info.java
  io.openems.edge.core/src/io/openems/edge/core/host/HostImpl.java
  io.openems.edge.core/src/io/openems/edge/core/host/OperatingSystem.java
  io.openems.edge.core/src/io/openems/edge/core/host/OperatingSystemDebianSystemd.java
  io.openems.edge.core/src/io/openems/edge/core/host/OperatingSystemDocker.java
  io.openems.edge.core/src/io/openems/edge/core/host/OperatingSystemMac.java
  io.openems.edge.core/src/io/openems/edge/core/host/OperatingSystemWindows.java
  io.openems.edge.core/src/io/openems/edge/core/update/UpdateManager.java
  ui/src/app/edge/settings/system/jsonrpc/executeUpdate.ts
  ui/src/app/edge/settings/system/jsonrpc/getUpdateState.ts
  ui/src/app/edge/settings/system/jsonrpc/getUpdateables.ts
  ui/src/app/edge/settings/system/system.component.html
  ui/src/app/edge/settings/system/system.component.ts
  ui/src/app/shared/components/percentagebar/percentagebar.component.html
  ui/src/app/shared/shared.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix circular dependency/unsatisfied reference
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/Ess_TimeOfUseTariff.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/modal.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/statePriceChart.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/utils.ts
  ui/src/app/shared/shared.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

E-Mobility: P40-App Fix
  io.openems.edge.core/src/io/openems/edge/app/evcs/KebaEvcs.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/formly/builder/FormlyBuilder.java
Due: build-java, restore-cache, rebuild-cache

KACO BatteryInverter: add "required" blocks
  io.openems.common/src/io/openems/common/utils/ReflectionUtils.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/BatteryInverterKacoBlueplanetGridsaveImpl.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/test/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/BatteryInverterKacoBlueplanetGridsaveImplTest.java
  io.openems.edge.batteryinverter.sunspec/src/io/openems/edge/batteryinverter/sunspec/AbstractSunSpecBatteryInverter.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/AbstractOpenemsSunSpecComponent.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/sunspec/SunSpecStartTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/sunspec/dummy/MySunSpecComponentImpl.java
  io.openems.edge.common/src/io/openems/edge/common/component/AbstractOpenemsComponent.java
Due: build-java, restore-cache, rebuild-cache

GoodWe: add new SolarGo states
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/GoodWeStateDefinitions.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImplTest.java
Due: build-java, restore-cache, rebuild-cache

KEBA App: fix Scheduler for readonly
  io.openems.edge.core/src/io/openems/edge/app/evcs/KebaEvcs.java
Due: build-java, restore-cache, rebuild-cache

UI: rollout alerting fault for admin/installer
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/live/live.module.ts
  ui/src/app/edge/settings/alerting/alerting.component.html
  ui/src/app/edge/settings/alerting/alerting.component.ts
  ui/src/app/edge/settings/alerting/alerting.module.ts
  ui/src/app/edge/settings/alerting/formly/alerting.scss
  ui/src/app/edge/settings/alerting/formly/formly-alerting-configs.ts
  ui/src/app/edge/settings/alerting/formly/formly-current-user-alerting.html
  ui/src/app/edge/settings/alerting/formly/formly-current-user-alerting.ts
  ui/src/app/edge/settings/alerting/formly/formly-other-users-alerting.html
  ui/src/app/edge/settings/alerting/formly/formly-other-users-alerting.ts
  ui/src/app/edge/settings/alerting/shared/translation.json
  ui/src/app/edge/settings/settings.module.ts
  ui/src/app/shared/components/components.module.ts
  ui/src/app/shared/components/modal/help-button/help-button.ts
  ui/src/app/shared/components/modal/modal-button/modal-button.html
  ui/src/app/shared/components/modal/modal.module.ts
  ui/src/app/shared/components/shared/view-component/help-popover/help-popover.html
  ui/src/app/shared/components/shared/view-component/help-popover/help-popover.ts
  ui/src/app/shared/shared.module.ts
  ui/src/app/shared/utils/form/form.utils.spec.ts
  ui/src/app/shared/utils/form/form.utils.ts
  ui/src/app/shared/utils/time/timeutils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Fix back arrow navigation
  ui/src/app/shared/components/header/app-header.ts
  ui/src/app/shared/components/header/header.component.html
  ui/src/app/shared/components/header/header.component.ts
  ui/src/app/shared/components/navigation/service/navigation.service.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: apply new linting rule
  ui/eslint.config.mjs
  ui/src/app/edge/live/Controller/ChpSoc/modal/modal.component.ts
  ui/src/app/edge/live/Controller/Evse/modal/history/chart/power.chart.ts
  ui/src/app/shared/components/shared/testing/tester.ts
  ui/src/app/shared/components/shared/testing/utils.spec.ts
  ui/src/app/shared/jsonrpc/request/getEdgesRequest.ts
  ui/src/app/shared/jsonrpc/request/getPropertiesOfFactoryRequest.ts
  ui/src/app/shared/service/user.service.ts
  ui/src/app/shared/utils/assertions/assertions.utils.ts
  ui/src/app/shared/utils/string/string.utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Custom "range" type picker in angular formly
  ui/src/app/shared/components/formly/formly-field-range.ts
  ui/src/app/shared/shared.module.ts
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

AppCenter: clever-pv public available
  io.openems.edge.core/src/io/openems/edge/app/api/AppCleverPv.java
  io.openems.edge.core/src/io/openems/edge/app/api/AppEnerixControl.java
  io.openems.edge.core/src/io/openems/edge/app/api/CleverPvProps.java
  io.openems.edge.core/src/io/openems/edge/app/common/props/CommonProps.java
  io.openems.edge.core/src/io/openems/edge/app/hardware/KMtronic8Channel.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/OpenemsAppPermissions.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
Due: build-java, restore-cache, rebuild-cache

UI: Fix missing help-button import
  ui/src/app/edge/settings/settings.module.ts
  ui/src/app/shared/components/modal/modal.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: EVSE improvements
  ui/src/app/edge/live/Controller/Evse/modal/modal.html
  ui/src/app/shared/components/formly/formly-field-navigation/formly-field-navigation.html
  ui/src/app/shared/components/navigation/view/view.html
  ui/src/app/shared/components/navigation/view/view.ts
  ui/src/app/shared/type/general.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: E-Mobility: Fix Help Key for Hardy Barth
  ui/src/app/edge/live/Controller/Evcs/modal/modal.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
