Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

exclude inline style from optimization
  ui/angular.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

clean up
  ui/.eslintrc.json
  ui/src/themes/openems/environments/backend-dev.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

levl-1404: move from systemClock to componentManager clock
  io.openems.edge.levl.controller/src/io/openems/edge/levl/controller/ControllerEssBalancingImpl.java
  io.openems.edge.levl.controller/src/io/openems/edge/levl/controller/LevlControlRequest.java
  io.openems.edge.levl.controller/test/io/openems/edge/levl/controller/BalancingImplTest.java
  io.openems.edge.levl.controller/test/io/openems/edge/levl/controller/ControllerEssBalancingImplTest.java
Due: build-java, restore-cache, rebuild-cache

levl-1404: add fitWithin method for long values and use them instead of private class method
  io.openems.edge.common/src/io/openems/edge/common/type/TypeUtils.java
  io.openems.edge.levl.controller/src/io/openems/edge/levl/controller/ControllerEssBalancingImpl.java
Due: build-java, restore-cache, rebuild-cache

redo linting rule changes
  ui/.eslintrc.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

levl-1404: adjust code formatting to align with code convention
  io.openems.edge.levl.controller/src/io/openems/edge/levl/controller/ControllerEssBalancingImpl.java
Due: build-java, restore-cache, rebuild-cache

refactor channels ion-selects
  ui/src/app/edge/settings/channels/channels.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

prepare for review
  ui/angular.json
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/Io_ChannelSingleThreshold.ts
  ui/src/app/index/login.component.ts
  ui/src/app/shared/service/websocket.ts
  ui/src/app/shared/utils/array/array.utils.ts
  ui/src/app/shared/utils/string/string.utils.ts
  ui/src/app/user/user.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

linting
  ui/src/app/shared/utils/string/string.utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

EVCS Api State: remove CHARGING_FINISHED, i.e. "Car is full"
  io.openems.edge.controller.evcs/src/io/openems/edge/controller/evcs/ControllerEvcsImpl.java
  io.openems.edge.evcs.alpitronic.hypercharger/src/io/openems/edge/evcs/hypercharger/EvcsAlpitronicHyperchargerImpl.java
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/api/Status.java
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/api/WriteHandler.java
  io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/EvcsClusterPeakShavingImpl.java
  io.openems.edge.evcs.dezony/src/io/openems/edge/evcs/dezony/DezonyReadWorker.java
  io.openems.edge.evcs.goe.chargerhome/src/io/openems/edge/evcs/goe/chargerhome/EvcsGoeChargerHomeImpl.java
  io.openems.edge.evcs.hardybarth/src/io/openems/edge/evcs/hardybarth/HardyBarthReadUtils.java
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/kecontact/ReadHandler.java
  io.openems.edge.evcs.mennekes/src/io/openems/edge/evcs/mennekes/EvcsMennekesImpl.java
  io.openems.edge.evcs.ocpp.common/src/io/openems/edge/evcs/ocpp/common/AbstractManagedOcppEvcsComponent.java
  io.openems.edge.evcs.ocpp.server/src/io/openems/edge/evcs/ocpp/server/CoreEventHandlerImpl.java
  io.openems.edge.evcs.webasto.next/src/io/openems/edge/evcs/webasto/next/EvcsWebastoNextImpl.java
  io.openems.edge.evcs.webasto.unite/src/io/openems/edge/evcs/webasto/unite/WebastoReadHandler.java
Due: build-java, restore-cache, rebuild-cache

Fix CI Build: remove OCPP dependency javax.xml.soap
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.wrapper/eu.chargetime.ocpp.bnd
Due: build-java, restore-cache, rebuild-cache

Edge: Mennekes Occupied Check
  io.openems.edge.evcs.mennekes/src/io/openems/edge/evcs/mennekes/EvcsMennekesImpl.java
Due: build-java, restore-cache, rebuild-cache

UI: Add Custom Min Value for Y-Axis in Charts to enhance schedule display
  ui/src/app/edge/history/Controller/Ess/TimeOfUseTariff/chart/chart.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/statePriceChart.ts
  ui/src/app/shared/components/chart/chart.constants.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Controller.Ess.EmergencyCapacityReserve: recharge from grid
  io.openems.edge.common/src/io/openems/edge/common/meta/Meta.java
  io.openems.edge.common/src/io/openems/edge/common/test/DummyMeta.java
  io.openems.edge.controller.ess.emergencycapacityreserve/doc/statemachine.md
  io.openems.edge.controller.ess.emergencycapacityreserve/src/io/openems/edge/controller/ess/emergencycapacityreserve/ControllerEssEmergencyCapacityReserve.java
  io.openems.edge.controller.ess.emergencycapacityreserve/src/io/openems/edge/controller/ess/emergencycapacityreserve/ControllerEssEmergencyCapacityReserveImpl.java
  io.openems.edge.controller.ess.emergencycapacityreserve/src/io/openems/edge/controller/ess/emergencycapacityreserve/statemachine/AtReserveSocHandler.java
  io.openems.edge.controller.ess.emergencycapacityreserve/src/io/openems/edge/controller/ess/emergencycapacityreserve/statemachine/BelowReserveSocHandler.java
  io.openems.edge.controller.ess.emergencycapacityreserve/src/io/openems/edge/controller/ess/emergencycapacityreserve/statemachine/Context.java
  io.openems.edge.controller.ess.emergencycapacityreserve/src/io/openems/edge/controller/ess/emergencycapacityreserve/statemachine/ForceChargeGridHandler.java
  io.openems.edge.controller.ess.emergencycapacityreserve/src/io/openems/edge/controller/ess/emergencycapacityreserve/statemachine/ForceChargePvHandler.java
  io.openems.edge.controller.ess.emergencycapacityreserve/src/io/openems/edge/controller/ess/emergencycapacityreserve/statemachine/StateMachine.java
  io.openems.edge.controller.ess.emergencycapacityreserve/src/io/openems/edge/controller/ess/emergencycapacityreserve/statemachine/UndefinedHandler.java
  io.openems.edge.controller.ess.emergencycapacityreserve/test/io/openems/edge/controller/ess/emergencycapacityreserve/ControllerEssEmergencyCapacityReserveImplTest.java
  io.openems.edge.controller.ess.emergencycapacityreserve/test/io/openems/edge/controller/ess/emergencycapacityreserve/statemachine/ForceChargeHandlerTest.java
  io.openems.edge.core/src/io/openems/edge/core/meta/Config.java
  io.openems.edge.core/src/io/openems/edge/core/meta/MetaImpl.java
  io.openems.edge.core/test/io/openems/edge/core/meta/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

UI: dark mode improvements
  ui/src/app/app.component.html
  ui/src/app/edge/history/delayedselltogrid/symmetricpeakshavingchartoverview/delayedselltogridchartoverview.component.html
  ui/src/app/edge/history/heatpump/heatpumpchartoverview/heatpumpchartoverview.component.html
  ui/src/app/edge/history/peakshaving/asymmetric/asymmetricpeakshavingchartoverview/asymmetricpeakshavingchartoverview.component.html
  ui/src/app/edge/history/peakshaving/symmetric/symmetricpeakshavingchartoverview/symmetricpeakshavingchartoverview.component.html
  ui/src/app/edge/history/peakshaving/timeslot/timeslotpeakshavingchartoverview/timeslotpeakshavingchartoverview.component.html
  ui/src/app/edge/history/storage/storagechartoverview/storagechartoverview.component.html
  ui/src/app/edge/settings/settings.component.html
  ui/src/app/edge/settings/settings.module.ts
  ui/src/app/edge/settings/system/executesystemupdate.component.html
  ui/src/app/edge/settings/system/executesystemupdate.component.ts
  ui/src/app/edge/settings/system/oe-system-update.component.html
  ui/src/app/edge/settings/system/oe-system-update.component.ts
  ui/src/app/shared/components/chart/chart.html
  ui/src/app/shared/components/footer/footer.html
  ui/src/app/shared/components/footer/subnavigation/footerNavigation.html
  ui/src/app/shared/components/header/header.component.html
  ui/src/app/shared/components/modal/modal.html
  ui/src/app/shared/components/pickdate/popover/popover.component.ts
  ui/src/app/shared/legacy/chartoptions/chartoptions.component.html
  ui/src/environments/index.scss
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Emergency Reserve with Charge-from-Grid
  ui/src/app/edge/live/common/storage/modal/modal.component.html
  ui/src/app/edge/live/common/storage/modal/modal.component.ts
  ui/src/app/edge/live/common/storage/storage.component.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix Style of Level ion-select after Upgrade to Angular 19
  ui/src/app/edge/settings/systemlog/systemlog.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix Filter Style after Migration to Angular 19
  ui/src/app/index/filter/filter.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix Search gets only Fired when "Enter" is pressed
  ui/src/app/index/overview/overview.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Correct Link
  doc/modules/ROOT/pages/ui/implementing-a-widget/components/chart.adoc
Due: none

Modernizing Pylontech code
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/PylontechPowercubeM2BatteryImpl.java
  io.openems.edge.battery.pylontech/src/io/openems/edge/battery/pylontech/powercubem2/statemachine/StateMachine.java
Due: build-java, restore-cache, rebuild-cache

Websocket: WSS instead of WS if page is accessed via HTTPS
  ui/src/environments/index.ts
  ui/src/themes/openems/environments/backend-dev.ts
  ui/src/themes/openems/environments/backend-prod.ts
  ui/src/themes/openems/environments/edge-dev.ts
  ui/src/themes/openems/environments/edge-prod.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bndrun; fix ts
  io.openems.wrapper/jenetics.bnd
  ui/src/app/shared/type/language.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix resend historic data function
  io.openems.backend.timedata.influx/src/io/openems/backend/timedata/influx/TimedataInfluxDb.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/Rrd4jReadHandler.java
Due: build-java, restore-cache, rebuild-cache

Revert Formatting
  ui/src/app/edge/settings/systemlog/systemlog.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Revert Changes in filter.component.html
  ui/src/app/index/filter/filter.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Include --background: var(--ion-background-color); in global.scss
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update wrapper
  io.openems.wrapper/aXMLRPC.bnd
Due: build-java, restore-cache, rebuild-cache

Update bnd
  io.openems.wrapper/kotlinx-coroutines-core-jvm.bnd
Due: build-java, restore-cache, rebuild-cache

UI: fix Filter Style after Migration to Angular 19 (#2934)
  ui/src/app/index/filter/filter.component.html
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix style of Level ion-select after Upgrade to Angular 19 (#2933)
  ui/src/app/edge/settings/systemlog/systemlog.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update VictronEss.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/batteryinverter/victron/ess/symmetric/VictronEss.java
Due: build-java, restore-cache, rebuild-cache

Add Chart to UI Live Modal
  ui/src/app/edge/live/Controller/Evcs/Evcs.ts
  ui/src/app/edge/live/Controller/Evcs/jsonrpc/getScheduleRequest.ts
  ui/src/app/edge/live/Controller/Evcs/jsonrpc/getScheduleResponse.ts
  ui/src/app/edge/live/Controller/Evcs/modal/modal.html
  ui/src/app/edge/live/Controller/Evcs/modal/scheduleChart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Add JUnit tests
  io.openems.common/src/io/openems/common/utils/JsonUtils.java
  io.openems.common/test/io/openems/common/utils/JsonUtilsTest.java
Due: build-java, restore-cache, rebuild-cache

Fix formatting
  ui/src/environments/index.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI Environment: access websocket via WSS instead of WS if page is accessed via HTTPS (#2937)
  ui/src/environments/index.ts
  ui/src/themes/openems/environments/backend-dev.ts
  ui/src/themes/openems/environments/backend-prod.ts
  ui/src/themes/openems/environments/edge-dev.ts
  ui/src/themes/openems/environments/edge-prod.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Format environments
  ui/src/themes/openems/environments/backend-dev.ts
  ui/src/themes/openems/environments/backend-prod.ts
  ui/src/themes/openems/environments/edge-dev.ts
  ui/src/themes/openems/environments/edge-prod.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location
