Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

Update build.yml
  .github/workflows/build.yml
Due: none

Update EvcsKebaKeContactImpl.java
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/kecontact/EvcsKebaKeContactImpl.java
Due: build-java, restore-cache, rebuild-cache

Tests
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/kecontact/EvcsKebaKeContactImpl.java
  io.openems.edge.evcs.keba.kecontact/test/io/openems/edge/evcs/keba/kecontact/EvcsKebaKeContactImplTest.java
Due: build-java, restore-cache, rebuild-cache

Initial commit on Mqtt subscriber
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.fnnstb/.gitignore
  io.openems.edge.controller.fnnstb/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.controller.fnnstb/bnd.bnd
  io.openems.edge.controller.fnnstb/readme.adoc
  io.openems.edge.controller.fnnstb/src/io/openems/edge/controller/fnnstb/Config.java
  io.openems.edge.controller.fnnstb/src/io/openems/edge/controller/fnnstb/ControllerFnnstb.java
  io.openems.edge.controller.fnnstb/src/io/openems/edge/controller/fnnstb/ControllerFnnstbImpl.java
  io.openems.edge.controller.fnnstb/src/io/openems/edge/controller/fnnstb/mqtt/MqttConnectionManager.java
  io.openems.edge.controller.fnnstb/src/io/openems/edge/controller/fnnstb/mqtt/MqttUtils.java
  io.openems.edge.controller.fnnstb/test/io/openems/edge/controller/fnnstb/MyConfig.java
  io.openems.edge.controller.fnnstb/test/io/openems/edge/controller/fnnstb/MyControllerTest.java
  io.openems.edge.controller.fnnstb/test/io/openems/edge/controller/fnnstb/PublishMessageTest.java
  io.openems.wrapper/retrofit2.bnd
Due: build-java, restore-cache, rebuild-cache

Generate maven poms within bnd workspace.
  cnf/build.bnd
Due: none

Update release script to work across distros, make scripts executable.
  tools/common.sh
  tools/create-release.sh
  tools/delete-all-classpath.sh
  tools/generate_channel_methods.sh
  tools/git-settings.sh
  tools/increase-patch-version.sh
  tools/prepare-next-snapshot.sh
  tools/prepare-release.sh
Due: none

Push version to 2024.5.0
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2024.5.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Backend: add simulation interface (#1134)
  io.openems.backend.common/src/io/openems/backend/common/jsonrpc/SimulationEngine.java
  io.openems.backend.common/src/io/openems/backend/common/jsonrpc/request/SimulationRequest.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/OnRequest.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/UiWebsocketImpl.java
Due: build-java, restore-cache, rebuild-cache

JSON/REST-Api: fix resource leak while parsing Jetty Request (#1144)
  io.openems.backend.b2brest/src/io/openems/backend/b2brest/RestHandler.java
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/RestHandler.java
Due: build-java, restore-cache, rebuild-cache

UI: Fix Persistence Priority warning in channels (#1156)
  ui/src/app/edge/settings/channels/channels.component.ts
  ui/src/app/shared/edge/edgeconfig.spec.ts
  ui/src/app/shared/edge/edgeconfig.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update EvcsKebaKeContactImplTest.java
  io.openems.edge.evcs.keba.kecontact/test/io/openems/edge/evcs/keba/kecontact/EvcsKebaKeContactImplTest.java
Due: build-java, restore-cache, rebuild-cache

Start implement DEYE battery inverter
  io.openems.edge.batteryinverter.deye/readme.adoc
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/BatteryInverterDeye.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/BatteryInverterDeyeImpl.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/Config.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/ActivePowerControlMode.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/Baudrate.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/BlackStartMode.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/BmsProtocolSelection.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/CountryCode.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/CpuType.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/DcVoltageLevel.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/EnableDisable.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/Epo.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/FrequencyLevel.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/FrequencyVariationRate.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/GridCodeSelection.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/InterfaceType.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/InverterWiringTopology.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/ModulePowerLevel.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/PhaseAngleAbrupt.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/PowerRisingMode.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/ProtocolSelection.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/ReactivePowerControlMode.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/SinexcelGridMode.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/SinexcelState.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/SinglePhaseMode.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/StartMode.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/Switch.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/enums/VoltageLevel.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/statemachine/Context.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/statemachine/ErrorHandler.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/statemachine/GoRunningHandler.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/statemachine/GoStoppedHandler.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/statemachine/RunningHandler.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/statemachine/StateMachine.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/statemachine/StoppedHandler.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/batteryinverter/statemachine/UndefinedHandler.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/meter/Config.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/meter/DeyeMeter.java
  io.openems.edge.batteryinverter.deye/src/io/openems/edge/deye/meter/DeyeMeterImpl.java
Due: build-java, restore-cache, rebuild-cache

Update MetadataFile.java - fix "no OpenEMS added yet"
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/MetadataFile.java
Due: build-java, restore-cache, rebuild-cache

Unify bnd snapshot/release configuration handling.
  cnf/build.bnd
  cnf/release.bnd
  cnf/snapshot.bnd
Due: none

Update pipeline configuration.
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

UI: fix esLint autofix mistake (#1155)
  ui/src/app/shared/footer/footer.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Improvements to UI and Gitea PR template (#1161)
  .gitea/PULL_REQUEST_TEMPLATE.md
  ui/src/app/edge/history/gridoptimizedcharge/chart.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: update to angular 16 (#1130)
  ui/package-lock.json
  ui/package.json
  ui/src/app/app.module.ts
  ui/src/app/edge/history/Controller/ChannelThreshold/channelThreshold.module.ts
  ui/src/app/edge/history/Controller/Ess/TimeOfUseTariff/timeOfUseTariff.module.ts
  ui/src/app/edge/history/common/autarchy/Autarchy.ts
  ui/src/app/edge/history/common/consumption/Consumption.ts
  ui/src/app/edge/history/common/energy/energy.ts
  ui/src/app/edge/history/common/grid/grid.ts
  ui/src/app/edge/history/common/production/overview/overview.html
  ui/src/app/edge/history/common/production/production.ts
  ui/src/app/edge/history/common/selfconsumption/SelfConsumption.ts
  ui/src/app/edge/live/Controller/Ess/FixActivePower/Ess_FixActivePower.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/Ess_GridOptimizedCharge.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/Ess_TimeOfUseTariff.ts
  ui/src/app/edge/live/Controller/Evcs/Evcs.ts
  ui/src/app/edge/live/Controller/Io/HeatingElement/Io_HeatingElement.ts
  ui/src/app/edge/live/common/autarchy/Common_Autarchy.ts
  ui/src/app/edge/live/common/consumption/Common_Consumption.ts
  ui/src/app/edge/live/common/grid/Common_Grid.ts
  ui/src/app/edge/live/common/production/Common_Production.ts
  ui/src/app/edge/live/common/selfconsumption/Common_Selfconsumption.ts
  ui/src/app/edge/live/live.module.ts
  ui/src/app/edge/settings/serviceassistant/serviceassistant.module.ts
  ui/src/app/edge/settings/settings.module.ts
  ui/src/app/shared/directive/directive.ts
  ui/src/app/shared/edge/meter/meter.module.ts
  ui/src/app/shared/genericComponents/genericComponents.ts
  ui/src/app/shared/pickdate/popover/popover.component.ts
  ui/src/app/shared/pipe/pipe.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Reference ConfigurationAdmin instead of Cycle for cycle time reading
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/BridgeModbusTcpImpl.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/BridgeModbusTcpImplTest.java
Due: build-java, restore-cache, rebuild-cache

Fix cycleTime not returned problem
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/BridgeModbusTcpImpl.java
Due: build-java, restore-cache, rebuild-cache

Refactor
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/BridgeModbusTcpImpl.java
Due: build-java, restore-cache, rebuild-cache

Improve documentation
  io.openems.edge.bridge.modbus/readme.adoc
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/ConfigTcp.java
Due: build-java, restore-cache, rebuild-cache

read me file update
  io.openems.edge.controller.fnnstb/readme.adoc
  io.openems.edge.controller.fnnstb/src/io/openems/edge/controller/fnnstb/Config.java
  io.openems.edge.controller.fnnstb/src/io/openems/edge/controller/fnnstb/ControllerFnnstbImpl.java
  io.openems.edge.controller.fnnstb/test/io/openems/edge/controller/fnnstb/PublishMessageTest.java
Due: build-java, restore-cache, rebuild-cache

Implementation of SMA STP 10.0 Hybrid inverter
  io.openems.edge.ess.sma/bnd.bnd
  io.openems.edge.ess.sma/readme.adoc
  io.openems.edge.ess.sma/src/io/openems/edge/ess/sma/enums/BatteryState.java
  io.openems.edge.ess.sma/src/io/openems/edge/ess/sma/enums/OperatingModeForActivePowerLimitation.java
  io.openems.edge.ess.sma/src/io/openems/edge/ess/sma/enums/OperationHealth.java
  io.openems.edge.ess.sma/src/io/openems/edge/ess/sma/enums/PowerSupplyStatus.java
  io.openems.edge.ess.sma/src/io/openems/edge/ess/sma/enums/PvString.java
  io.openems.edge.ess.sma/src/io/openems/edge/ess/sma/enums/SetControlMode.java
  io.openems.edge.ess.sma/src/io/openems/edge/ess/sma/enums/SystemState.java
  io.openems.edge.ess.sma/src/io/openems/edge/ess/sma/stpxx3se/battery/Config.java
  io.openems.edge.ess.sma/src/io/openems/edge/ess/sma/stpxx3se/battery/SmaBattery.java
  io.openems.edge.ess.sma/src/io/openems/edge/ess/sma/stpxx3se/battery/SmaBatteryImpl.java
  io.openems.edge.ess.sma/src/io/openems/edge/ess/sma/stpxx3se/batteryinverter/BatteryInverterSmaStpSe.java
  io.openems.edge.ess.sma/src/io/openems/edge/ess/sma/stpxx3se/batteryinverter/BatteryInverterSmaStpSeImpl.java
  io.openems.edge.ess.sma/src/io/openems/edge/ess/sma/stpxx3se/batteryinverter/Config.java
  io.openems.edge.ess.sma/src/io/openems/edge/ess/sma/stpxx3se/batteryinverter/S160SunSpecModel.java
  io.openems.edge.ess.sma/src/io/openems/edge/ess/sma/stpxx3se/dccharger/Config.java
  io.openems.edge.ess.sma/src/io/openems/edge/ess/sma/stpxx3se/dccharger/SmaStpSeDcChargerImpl.java
  io.openems.edge.ess.sma/src/io/openems/edge/ess/sma/sunnyisland/Config.java
  io.openems.edge.ess.sma/src/io/openems/edge/ess/sma/sunnyisland/EssSmaSunnyIsland.java
  io.openems.edge.ess.sma/src/io/openems/edge/ess/sma/sunnyisland/EssSmaSunnyIslandImpl.java
  io.openems.edge.ess.sma/test/io/openems/edge/ess/sma/stpxx3se/battery/MyConfig.java
  io.openems.edge.ess.sma/test/io/openems/edge/ess/sma/stpxx3se/battery/SmaBatteryImplTest.java
  io.openems.edge.ess.sma/test/io/openems/edge/ess/sma/stpxx3se/batteryinverter/BatteryInverterSmaStpSeImplTest.java
  io.openems.edge.ess.sma/test/io/openems/edge/ess/sma/stpxx3se/batteryinverter/MyConfig.java
  io.openems.edge.ess.sma/test/io/openems/edge/ess/sma/stpxx3se/dccharger/MyConfig.java
  io.openems.edge.ess.sma/test/io/openems/edge/ess/sma/stpxx3se/dccharger/SmaStpSeDcChargerImplTest.java
  io.openems.edge.ess.sma/test/io/openems/edge/ess/sma/sunnyisland/EssSmaSunnyIslandImplTest.java
  io.openems.edge.ess.sma/test/io/openems/edge/ess/sma/sunnyisland/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

UI: Check permissions for JsonrpcTest (#1162)
  ui/src/app/edge/settings/jsonrpctest/jsonrpctest.module.ts
  ui/src/app/edge/settings/jsonrpctest/jsonrpctest.permission.ts
  ui/src/app/edge/settings/jsonrpctest/jsonrpctest.ts
  ui/src/app/edge/settings/jsonrpctest/permission.ts
  ui/src/app/edge/settings/settings.component.ts
  ui/src/app/edge/settings/settings.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

AppCenter/Tibber: fix unset filter (#1150)
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/Tibber.java
  io.openems.edge.core/test/io/openems/edge/app/timeofusetariff/TestTibber.java
Due: build-java, restore-cache, rebuild-cache

feat: enable permessage-deflate to websocket communication
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketClient.java
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketServer.java
Due: build-java, restore-cache, rebuild-cache

Docs: update implementing a device (#2601)
  doc/modules/ROOT/pages/edge/implement.adoc
Due: none

WebSocket: enable permessage-deflate to communication (#2616)
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketClient.java
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketServer.java
Due: build-java, restore-cache, rebuild-cache
