Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm --force
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng config cli.cache.path "/woodpecker/.ng"
  ...

refresh-location:
  image: appleboy/drone-ssh
  host: 10.0.0.40
  username: fenecon-docs
  timeout: 10s
  key:
    from_secret: ssh_key_intranet
  script:
  - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

delete battery
  io.openems.edge.battery.api/src/io/openems/edge/battery/api/BatteryBalancable.java
  io.openems.edge.battery.api/src/io/openems/edge/battery/api/BatteryCoolable.java
Due: build-java, restore-cache, rebuild-cache

Automatically adjust size of possibleDelays queue
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/ModbusWorker.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksManager.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/TasksSupplier.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/TasksSupplierImpl.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/WaitDelayHandler.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksManagerTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/DummyCycleTasksSupplier.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/DummyTasksSupplier.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/TasksSupplierImplTest.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
Due: build-java, restore-cache, rebuild-cache

Sort HIGH priority Read-Tasks to the end
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/TasksSupplierImpl.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/TasksSupplierImplTest.java
Due: build-java, restore-cache, rebuild-cache

add unittest for production modal
  ui/src/app/edge/live/common/production/modal/modal.constants.spec.ts
  ui/src/app/edge/live/common/production/modal/modal.html
  ui/src/app/edge/live/common/production/modal/modal.spec.ts
  ui/src/app/edge/live/common/production/modal/modal.ts
  ui/src/app/shared/edge/edgeconfig.spec.ts
  ui/src/app/shared/genericComponents/shared/name.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

update branch
  ui/src/app/edge/history/common/consumption/Consumption.ts
  ui/src/app/edge/history/common/consumption/chart/chart.ts
  ui/src/app/edge/history/common/consumption/flat/flat.html
  ui/src/app/edge/history/common/consumption/flat/flat.ts
  ui/src/app/edge/history/historydataservice.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/chart/chart.ts
  ui/src/app/shared/genericComponents/genericComponents.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix linting
  ui/src/app/edge/history/common/Grid.ts
  ui/src/app/edge/history/common/autarchy/chart/chart.ts
  ui/src/app/edge/history/common/grid/chart/chart.ts
  ui/src/app/edge/history/common/grid/module.ts
  ui/src/app/edge/history/common/production/chart/chargerChart.ts
  ui/src/app/edge/history/common/production/chart/productionMeterChart.ts
  ui/src/app/edge/history/common/production/chart/totalAcChart.ts
  ui/src/app/edge/history/common/production/chart/totalChart.ts
  ui/src/app/edge/history/common/production/chart/totalDcChart.ts
  ui/src/app/shared/genericComponents/chart/chart.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

clean PR
  ui/src/app/edge/history/abstracthistorychart.html
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/historydataservice.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

CycleDelay-Channel, Debug-Log, LogVerbosity, @Modified,...
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/BridgeModbusSerialImpl.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/BridgeModbusTcpImpl.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/AbstractModbusBridge.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/BridgeModbus.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/LogVerbosity.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/element/AbstractModbusElement.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/element/ModbusElement.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractReadDigitalInputsTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractReadInputRegistersTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractReadTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractWriteTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/FC16WriteRegistersTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/FC5WriteCoilTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/Task.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/Utils.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/ModbusWorker.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksManager.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/WaitDelayHandler.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/DummyModbusComponent.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/task/AbstractReadDigitalInputsTaskTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/task/AbstractTaskTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/task/UtilsTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/ModbusWorkerTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksManagerTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/WaitDelayHandlerTest.java
Due: build-java, restore-cache, rebuild-cache

Cleanup, bugfixes, improve logging
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractReadTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractWriteTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/FC16WriteRegistersTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/WaitDelayHandler.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/task/AbstractTaskTest.java
Due: build-java, restore-cache, rebuild-cache

update unittests, add constant for no_reception
  ui/src/app/edge/live/common/consumption/modal/modal.spec.ts
  ui/src/app/edge/live/common/consumption/modal/modal.ts
  ui/src/app/edge/live/common/grid/modal/modal.spec.ts
  ui/src/app/edge/live/common/production/modal/modal.spec.ts
  ui/src/app/edge/live/common/production/modal/modal.ts
  ui/src/app/shared/edge/edgeconfig.spec.ts
  ui/src/app/shared/genericComponents/shared/tester.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

update README
  ui/README.md
  ui/src/app/edge/live/common/consumption/modal/modal.spec.ts
  ui/src/app/edge/live/common/production/modal/modal.ts
  ui/src/app/shared/edge/edgeconfig.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Improve logs
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksManager.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/WaitDelayHandler.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/task/FC16WriteRegistersTaskTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/WaitDelayHandlerTest.java
Due: build-java, restore-cache, rebuild-cache

Fix build with OpenJDK
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractReadTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/Task.java
Due: build-java, restore-cache, rebuild-cache

Fix Wago IO test
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/test/DummyModbusBridge.java
  io.openems.edge.io.wago/test/io/openems/edge/wago/IoWagoImplTest.java
Due: build-java, restore-cache, rebuild-cache

Checkstyle
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/WaitDelayHandler.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/test/DummyModbusBridge.java
Due: build-java, restore-cache, rebuild-cache

FEMS UI Backport 2023-06 - part 2 (#2243)
  ui/src/app/edge/history/selfconsumption/chart.component.ts
  ui/src/app/edge/history/selfconsumption/selfconsumptionchartoverview/selfconsumptionchartoverview.component.html
  ui/src/app/edge/history/selfconsumption/selfconsumptionchartoverview/selfconsumptionchartoverview.component.ts
  ui/src/app/edge/history/selfconsumption/widget.component.html
  ui/src/app/edge/history/selfconsumption/widget.component.ts
  ui/src/app/edge/live/common/storage/modal/modal.component.ts
  ui/src/app/edge/live/common/storage/storage.component.ts
  ui/src/app/registration/modal/modal.component.ts
  ui/src/app/shared/formly/form-field-default-cases.wrapper.ts
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.ts
  ui/src/app/shared/genericComponents/flat/flat-widget-percentagebar/flat-widget-percentagebar.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix typos (#2244)
  ui/src/assets/i18n/de.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Inject globalRouteChangeHandler (#2242)
  ui/src/app/app.component.ts
  ui/src/app/edge/settings/settings.component.html
  ui/src/app/edge/settings/settings.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Minimized the logic for parsing historic data.
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
Due: build-java, restore-cache, rebuild-cache

UI: update dev-environment url (#704)
  ui/src/themes/fenecon/environments/backend-dev.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bnd
  io.openems.wrapper/kotlinx-coroutines-core-jvm.bnd
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.timedata.rrd4j/.gitignore
Due: build-java, restore-cache, rebuild-cache

Update bnd & bndrun
  cnf/build.bnd
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update to Gradle 8.2
  .gradle-wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: build-java, restore-cache, rebuild-cache

Push version to 2023.7.0
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2023.8.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

impl ess cycle controller
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/Config.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/ControllerEssCycle.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/ControllerEssCycleImpl.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/HybridEssMode.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/Mode.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/CompletedCycleHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/Context.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/ContinueWithChargeHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/ContinueWithDischargeHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/FinalSocHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/FinishedHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/StartChargeHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/StartDischargeHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/StateMachine.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/UndefinedHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/WaitForStateChangeHandler.java
  io.openems.edge.controller.ess.cycle/test/io/openems/edge/controller/ess/cycle/ControllerEssCycleImplTest.java
  io.openems.edge.controller.ess.cycle/test/io/openems/edge/controller/ess/cycle/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

java doc.
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/ControllerEssCycle.java
Due: build-java, restore-cache, rebuild-cache

config
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/Config.java
Due: build-java, restore-cache, rebuild-cache

checkstyle
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/ControllerEssCycle.java
Due: build-java, restore-cache, rebuild-cache

date time format
  io.openems.common/src/io/openems/common/utils/DateUtils.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/ControllerEssCycleImpl.java
Due: build-java, restore-cache, rebuild-cache

date utils javadoc
  io.openems.common/src/io/openems/common/utils/DateUtils.java
Due: build-java, restore-cache, rebuild-cache

test ci build pr comment
  .github/workflows/build.yml
Due: none

update build > test karma code coverage summary
  .github/workflows/build.yml
Due: none

add flag code-coverage to unittest update karma default directory
  .github/workflows/build.yml
  ui/karma.conf.js
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

update path to summary.json
  .github/workflows/build.yml
Due: none

test comment creating on PR
  .github/workflows/build.yml
  ui/karma.conf.js
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

update path
  .github/workflows/build.yml
Due: none

comment old code
  .github/workflows/build.yml
Due: none

Comment Code-Coverage on Pull-Request; * improve gradle configuration * remove comment.yml * comment using github-cli * use actions/setup-java gradle cache
  .github/workflows/build.yml
  .github/workflows/comment.yml
  .github/workflows/docs.yml
  build.gradle
  doc/build.gradle
  gradle.properties
  settings.gradle
Due: build-java, restore-cache, rebuild-cache

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
