Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

.woodpecker.yml:

# Woodpecker-CI
# 
# Um den Docker Container fuer build ('openems-build') zu aktualisieren:
# - ssh auf gitvm
# - cd /root/fems/tools
# - git pull
# - bash drone-docker.sh

pipeline:
  restore-cache:
    image: drillster/drone-volume-cache
    restore: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.npm
    volumes:
      - cache:/cache
    group: restore

  build-java:
    when:
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '**/.woodpecker.yml' ]
    image: openems-build:latest
    environment:
      - GRADLE_USER_HOME=/woodpecker/.gradle
    commands:
      - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
      - ./gradlew build buildEdge
      - ./gradlew resolve.BackendApp
      - git diff --exit-code io.openems.backend.application/BackendApp.bndrun
      - ./gradlew resolve.EdgeApp
      - git diff --exit-code io.openems.edge.application/EdgeApp.bndrun
      - cp build/openems.jar ui/target
    group: build
    
  build-ui:
    when:
      path:
        include: [ 'ui/**', '**/.woodpecker.yml' ]
    image: openems-build:latest
    commands:
      - cd ui
      - npm ci --prefer-offline --cache /woodpecker/.npm
      - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
      - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
      - node_modules/.bin/ng lint
      - export CHROME_BIN=/usr/bin/google-chrome-stable
      - npm run test -- --no-watch --no-progress --browsers=ChromeHeadlessCI
    group: build

  refresh-dev:
    when:
      path:
        include: [ 'ui/**', '**/.woodpecker.yml' ]
    image: appleboy/drone-scp
    host: 10.0.0.40
    user: fenecon-docs
    secrets: 
      - source: ssh_key_intranet 
        target: scp_key
    rm: true
    source: ./ui/target
    strip_components: 3
    target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
    group: refresh

  rebuild-cache:
    image: drillster/drone-volume-cache
    rebuild: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.npm
    volumes:
      - cache:/cache
    group: refresh

.woodpecker/.java-build.yml:

# Woodpecker-CI
# 
# Um den Docker Container fuer build ('openems-build') zu aktualisieren:
# - ssh auf gitvm
# - cd /root/fems/tools
# - git pull
# - bash drone-docker.sh

clone:
  git-clone:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: woodpeckerci/plugin-git:v1.6.1
    settings:
      depth: 1
      lfs: false
      recursive: false
      tags: false
      partial: true

pipeline:
  restore-cache:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: drillster/drone-volume-cache
    restore: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.m2
    volumes:
      - cache:/cache

  build-java:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: openems-build:latest
    environment:
      - GRADLE_USER_HOME=/woodpecker/.gradle
    commands:
      - mkdir -p /woodpecker/.m2 && ln -s /woodpecker/.m2 ~/.m2
      - ./gradlew --build-cache build
      - ./gradlew resolve.EdgeApp
      - ./gradlew resolve.BackendApp
      - git diff --exit-code io.openems.edge.application/EdgeApp.bndrun io.openems.backend.application/BackendApp.bndrun

  rebuild-cache:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: drillster/drone-volume-cache
    rebuild: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.m2
    volumes:
      - cache:/cache

AppCenter: rename KMtronic app name (#566)
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
Due: build-java, restore-cache, rebuild-cache

UI/Local historic data: add missing methods (#555)
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/OnRequest.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/OnRequest.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/Rrd4jTimedataImpl.java
Due: build-java, restore-cache, rebuild-cache

Time-Of-Use Controller: set channel persistence to high (#563)
  io.openems.edge.controller.ess.timeofusetariff.discharge/src/io/openems/edge/controller/ess/timeofusetariff/discharge/TimeOfUseTariffDischarge.java
Due: build-java, restore-cache, rebuild-cache

AppCenter Backend: fix registering keys (#567)
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooHandler.java
Due: build-java, restore-cache, rebuild-cache

App-Center SMA PV-Inverter: add option to select phase (#565)
  io.openems.edge.core/src/io/openems/edge/app/api/ModbusTcpApiReadOnly.java
  io.openems.edge.core/src/io/openems/edge/app/api/ModbusTcpApiReadWrite.java
  io.openems.edge.core/src/io/openems/edge/app/api/MqttApi.java
  io.openems.edge.core/src/io/openems/edge/app/api/RestJsonApiReadOnly.java
  io.openems.edge.core/src/io/openems/edge/app/api/RestJsonApiReadWrite.java
  io.openems.edge.core/src/io/openems/edge/app/enums/Phase.java
  io.openems.edge.core/src/io/openems/edge/app/ess/PrepareBatteryExtension.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/AbstractEvcsApp.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/EvcsCluster.java
  io.openems.edge.core/src/io/openems/edge/app/hardware/KMtronic8Channel.java
  io.openems.edge.core/src/io/openems/edge/app/heat/CombinedHeatAndPower.java
  io.openems.edge.core/src/io/openems/edge/app/heat/HeatPump.java
  io.openems.edge.core/src/io/openems/edge/app/heat/HeatingElement.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome.java
  io.openems.edge.core/src/io/openems/edge/app/loadcontrol/ManualRelayControl.java
  io.openems.edge.core/src/io/openems/edge/app/loadcontrol/ThresholdControl.java
  io.openems.edge.core/src/io/openems/edge/app/meter/AbstractMeterApp.java
  io.openems.edge.core/src/io/openems/edge/app/pvinverter/AbstractPvInverter.java
  io.openems.edge.core/src/io/openems/edge/app/pvinverter/CommonPvInverterConfiguration.java
  io.openems.edge.core/src/io/openems/edge/app/pvinverter/SmaPvInverter.java
  io.openems.edge.core/src/io/openems/edge/app/pvselfconsumption/GridOptimizedCharge.java
  io.openems.edge.core/src/io/openems/edge/app/pvselfconsumption/SelfConsumptionOptimization.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/AwattarHourly.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/StromdaoCorrently.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/Tibber.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AbstractOpenemsAppWithProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppDef.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/JsonFormlyUtil.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/OpenemsApp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/Type.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/jsonrpc/GetApp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckCardinality.java
  io.openems.edge.core/test/io/openems/edge/app/TestADependencyToC.java
  io.openems.edge.core/test/io/openems/edge/app/TestBDependencyToC.java
  io.openems.edge.core/test/io/openems/edge/app/TestC.java
Due: build-java, restore-cache, rebuild-cache

OpenEMS UI: New widgets (Live & History) for nature "io.openems.edge.thermometer.api.Thermometer".
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/history.module.ts
  ui/src/app/edge/history/thermometer/chart.component.ts
  ui/src/app/edge/history/thermometer/chartoverview/chartoverview.component.html
  ui/src/app/edge/history/thermometer/chartoverview/chartoverview.component.ts
  ui/src/app/edge/history/thermometer/widget.component.html
  ui/src/app/edge/history/thermometer/widget.component.ts
  ui/src/app/edge/live/live.component.html
  ui/src/app/edge/live/live.module.ts
  ui/src/app/edge/live/thermometer/thermometer.component.html
  ui/src/app/edge/live/thermometer/thermometer.component.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/type/widget.ts
  ui/src/assets/i18n/cz.json
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/es.json
  ui/src/assets/i18n/fr.json
  ui/src/assets/i18n/nl.json
  ui/src/assets/img/thermometer.png
Due: build-ui, refresh-dev

Implement Generic-HTTP-Worker
  io.openems.edge.io.generic_http_worker/.classpath
  io.openems.edge.io.generic_http_worker/.gitignore
  io.openems.edge.io.generic_http_worker/.project
  io.openems.edge.io.generic_http_worker/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.io.generic_http_worker/bnd.bnd
  io.openems.edge.io.generic_http_worker/readme.adoc
  io.openems.edge.io.generic_http_worker/src/io/openems/edge/io/generic_http_worker/generic_http_worker.java
  io.openems.edge.io.generic_http_worker/src/io/openems/edge/io/generic_http_worker/package-info.java
Due: build-java, restore-cache, rebuild-cache

Implement Comexio Smarthome
  io.openems.edge.io.comexio/.classpath
  io.openems.edge.io.comexio/.gitignore
  io.openems.edge.io.comexio/.project
  io.openems.edge.io.comexio/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.io.comexio/bnd.bnd
  io.openems.edge.io.comexio/readme.adoc
  io.openems.edge.io.comexio/src/io/openems/edge/io/comexio/Config.java
  io.openems.edge.io.comexio/src/io/openems/edge/io/comexio/comexio.java
  io.openems.edge.io.comexio/src/io/openems/edge/io/comexio/comexioImpl.java
Due: build-java, restore-cache, rebuild-cache

Update .gitignore
  io.openems.edge.io.generic_http_worker/.gitignore
Due: build-java, restore-cache, rebuild-cache

Update Shelly Impl
  io.openems.edge.io.shelly/bnd.bnd
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly25/Shelly25Impl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/ShellyPlugImpl.java
Due: build-java, restore-cache, rebuild-cache

Delete ShellyApi.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/common/ShellyApi.java
Due: build-java, restore-cache, rebuild-cache

Implement Generic HTTP Worker
  io.openems.edge.io.generic_http_worker/.classpath
  io.openems.edge.io.generic_http_worker/.gitignore
  io.openems.edge.io.generic_http_worker/.project
  io.openems.edge.io.generic_http_worker/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.io.generic_http_worker/bnd.bnd
  io.openems.edge.io.generic_http_worker/readme.adoc
  io.openems.edge.io.generic_http_worker/src/io/openems/edge/io/generic_http_worker/generic_http_worker.java
  io.openems.edge.io.generic_http_worker/src/io/openems/edge/io/generic_http_worker/package-info.java
Due: build-java, restore-cache, rebuild-cache

Implement Comexio-Smarthome
  io.openems.edge.io.comexio/.classpath
  io.openems.edge.io.comexio/.gitignore
  io.openems.edge.io.comexio/.project
  io.openems.edge.io.comexio/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.io.comexio/bnd.bnd
  io.openems.edge.io.comexio/readme.adoc
  io.openems.edge.io.comexio/src/io/openems/edge/io/comexio/Config.java
  io.openems.edge.io.comexio/src/io/openems/edge/io/comexio/comexio.java
  io.openems.edge.io.comexio/src/io/openems/edge/io/comexio/comexioImpl.java
  io.openems.edge.io.generic_http_worker/.classpath
  io.openems.edge.io.generic_http_worker/.gitignore
  io.openems.edge.io.generic_http_worker/.project
  io.openems.edge.io.generic_http_worker/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.io.generic_http_worker/bnd.bnd
  io.openems.edge.io.generic_http_worker/readme.adoc
  io.openems.edge.io.generic_http_worker/src/io/openems/edge/io/generic_http_worker/generic_http_worker.java
  io.openems.edge.io.generic_http_worker/src/io/openems/edge/io/generic_http_worker/package-info.java
Due: build-java, restore-cache, rebuild-cache

Improve Shelly Implementation
  io.openems.edge.io.generic_http_worker/.classpath
  io.openems.edge.io.generic_http_worker/.gitignore
  io.openems.edge.io.generic_http_worker/.project
  io.openems.edge.io.generic_http_worker/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.io.generic_http_worker/bnd.bnd
  io.openems.edge.io.generic_http_worker/readme.adoc
  io.openems.edge.io.generic_http_worker/src/io/openems/edge/io/generic_http_worker/generic_http_worker.java
  io.openems.edge.io.generic_http_worker/src/io/openems/edge/io/generic_http_worker/package-info.java
  io.openems.edge.io.shelly/bnd.bnd
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/common/ShellyApi.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly25/Shelly25Impl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/ShellyPlugImpl.java
Due: build-java, restore-cache, rebuild-cache

Docs: use Eclipse compatible code formatting in IntelliJ IDEA (#2086)
  doc/modules/ROOT/assets/images/intellij-code-formatter-enable.png
  doc/modules/ROOT/assets/images/intellij-code-formatter-format.png
  doc/modules/ROOT/assets/images/intellij-code-formatter-path.png
  doc/modules/ROOT/assets/images/intellij-code-formatter-settings.png
  doc/modules/ROOT/assets/images/intellij-code-formatter.png
  doc/modules/ROOT/pages/intellij.adoc
Due: none

Update tools/prepare-commit script
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
  tools/prepare-commit.sh
Due: build-java, restore-cache, rebuild-cache

Update Generic HTTP Worker
  io.openems.common/src/io/openems/common/worker/GenericHttpWorker.java
  io.openems.edge.io.generic_http_worker/.classpath
  io.openems.edge.io.generic_http_worker/.gitignore
  io.openems.edge.io.generic_http_worker/.project
  io.openems.edge.io.generic_http_worker/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.io.generic_http_worker/bnd.bnd
  io.openems.edge.io.generic_http_worker/readme.adoc
  io.openems.edge.io.generic_http_worker/src/io/openems/edge/io/generic_http_worker/generic_http_worker.java
  io.openems.edge.io.generic_http_worker/src/io/openems/edge/io/generic_http_worker/package-info.java
Due: build-java, restore-cache, rebuild-cache

Changes requested from Codereview
  io.openems.edge.evcs.webasto.unite/bnd.bnd
  io.openems.edge.evcs.webasto.unite/readme.adoc
  io.openems.edge.evcs.webasto.unite/src/io/openems/edge/evcs/webasto/unite/Config.java
  io.openems.edge.evcs.webasto.unite/src/io/openems/edge/evcs/webasto/unite/WebastoImpl.java
  io.openems.edge.evcs.webasto.unite/src/io/openems/edge/evcs/webasto/unite/WebastoReadHandler.java
Due: build-java, restore-cache, rebuild-cache

Changed Code Format
  io.openems.edge.evcs.webasto.unite/src/io/openems/edge/evcs/webasto/unite/WebastoImpl.java
  io.openems.edge.evcs.webasto.unite/src/io/openems/edge/evcs/webasto/unite/WebastoReadHandler.java
Due: build-java, restore-cache, rebuild-cache

Changed Pictures to use correct Eclipse Format
  doc/modules/ROOT/assets/images/intellij-code-formatter-enable.png
  doc/modules/ROOT/assets/images/intellij-code-formatter-format.png
  doc/modules/ROOT/assets/images/intellij-code-formatter-path.png
  doc/modules/ROOT/assets/images/intellij-code-formatter-settings.png
  doc/modules/ROOT/pages/intellij.adoc
Due: none

Unit Typo fixed
  io.openems.edge.heater.api/src/io/openems/edge/heater/api/Heater.java
Due: build-java, restore-cache, rebuild-cache

Final cleanup
  io.openems.edge.evcs.webasto.unite/src/io/openems/edge/evcs/webasto/unite/Config.java
  io.openems.edge.evcs.webasto.unite/src/io/openems/edge/evcs/webasto/unite/WebastoImpl.java
Due: build-java, restore-cache, rebuild-cache

Implementation of the Webasto Unite electric vehicle charging station (#2076)
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/api/Evcs.java
  io.openems.edge.evcs.webasto.unite/.classpath
  io.openems.edge.evcs.webasto.unite/.gitignore
  io.openems.edge.evcs.webasto.unite/.project
  io.openems.edge.evcs.webasto.unite/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.evcs.webasto.unite/bnd.bnd
  io.openems.edge.evcs.webasto.unite/doc/Webasto_UNITE_Modbus_Register_1-00_external_V1.pdf
  io.openems.edge.evcs.webasto.unite/readme.adoc
  io.openems.edge.evcs.webasto.unite/src/io/openems/edge/evcs/webasto/unite/Config.java
  io.openems.edge.evcs.webasto.unite/src/io/openems/edge/evcs/webasto/unite/WebastoImpl.java
  io.openems.edge.evcs.webasto.unite/src/io/openems/edge/evcs/webasto/unite/WebastoReadHandler.java
  io.openems.edge.evcs.webasto.unite/src/io/openems/edge/evcs/webasto/unite/api/Webasto.java
  io.openems.edge.evcs.webasto.unite/test/.gitignore
  io.openems.edge.evcs.webasto.unite/test/io/openems/edge/evcs/webasto/unite/MyConfig.java
  io.openems.edge.evcs.webasto.unite/test/io/openems/edge/evcs/webasto/unite/WebastoTest.java
Due: build-java, restore-cache, rebuild-cache

Docs: update for Eclipse compatible code formatting in IntelliJ IDEA (#2102)
  doc/modules/ROOT/assets/images/intellij-code-formatter-enable.png
  doc/modules/ROOT/assets/images/intellij-code-formatter-format.png
  doc/modules/ROOT/assets/images/intellij-code-formatter-path.png
  doc/modules/ROOT/assets/images/intellij-code-formatter-settings.png
  doc/modules/ROOT/pages/intellij.adoc
Due: none

UI: add custom CI build for OEM Heckert (#574)
  .woodpecker/.ui-build.yml
Due: none

Added Reactive energy counters; changed scale factor for active energy to match defined unit
  io.openems.edge.meter.microcare.sdm630/src/io/openems/edge/meter/microcare/sdm630/MeterMicrocareSdm630.java
  io.openems.edge.meter.microcare.sdm630/src/io/openems/edge/meter/microcare/sdm630/MeterMicrocareSdm630Impl.java
Due: build-java, restore-cache, rebuild-cache

Update MeterMicrocareSdm630Impl.java
  io.openems.edge.meter.microcare.sdm630/src/io/openems/edge/meter/microcare/sdm630/MeterMicrocareSdm630Impl.java
Due: build-java, restore-cache, rebuild-cache

Update MeterMicrocareSdm630.java
  io.openems.edge.meter.microcare.sdm630/src/io/openems/edge/meter/microcare/sdm630/MeterMicrocareSdm630.java
Due: build-java, restore-cache, rebuild-cache

added fileinstall to pre-commit script
  tools/prepare-commit.sh
Due: none

AppCenter/Backend: handle free Apps (#570)
  io.openems.backend.common/src/io/openems/backend/common/metadata/AppCenterHandler.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/AppCenterMetadata.java
  io.openems.backend.core/src/io/openems/backend/core/jsonrpcrequesthandler/EdgeRpcRequestHandler.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/OdooMetadata.java
  io.openems.common/src/io/openems/common/jsonrpc/request/AddAppInstanceRequest.java
  io.openems.common/src/io/openems/common/jsonrpc/request/AppCenterInstallAppWithSuppliedKeyRequest.java
  io.openems.common/src/io/openems/common/jsonrpc/request/AppCenterIsAppFreeRequest.java
  io.openems.common/src/io/openems/common/jsonrpc/response/AppCenterIsAppFreeResponse.java
Due: build-java, restore-cache, rebuild-cache

Update bnd files
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.wrapper/fastexcel.bnd
Due: build-java, restore-cache, rebuild-cache

Backend: Aggregated Influx (#534)
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.timedata.aggregatedinflux/.classpath
  io.openems.backend.timedata.aggregatedinflux/.gitignore
  io.openems.backend.timedata.aggregatedinflux/.project
  io.openems.backend.timedata.aggregatedinflux/.settings/org.eclipse.core.resources.prefs
  io.openems.backend.timedata.aggregatedinflux/bnd.bnd
  io.openems.backend.timedata.aggregatedinflux/src/io/openems/backend/timedata/aggregatedinflux/AggregatedInflux.java
  io.openems.backend.timedata.aggregatedinflux/src/io/openems/backend/timedata/aggregatedinflux/AllowedChannels.java
  io.openems.backend.timedata.aggregatedinflux/src/io/openems/backend/timedata/aggregatedinflux/Config.java
  io.openems.backend.timedata.aggregatedinflux/test/.gitignore
  io.openems.backend.timedata.aggregatedinflux/test/io/openems/backend/timedata/aggregatedinflux/AllowedChannelsTest.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/InfluxConnector.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/MergePointsWorker.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/InfluxQlProxy.java
Due: build-java, restore-cache, rebuild-cache

Backend-Api-Controller: add separate task for aggregated values (#578)
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/SendChannelValuesWorker.java
Due: build-java, restore-cache, rebuild-cache

UI: New Heckert CI (#532)
  ui/src/app/shared/genericComponents/chart/chart.html
  ui/src/app/shared/genericComponents/flat/flat-widget-percentagebar/flat-widget-percentagebar.html
  ui/src/themes/fenecon/scss/variables.scss
  ui/src/themes/heckert/scss/variables.scss
  ui/src/themes/openems/scss/variables.scss
Due: build-ui, refresh-dev

Format java files
  io.openems.edge.meter.microcare.sdm630/src/io/openems/edge/meter/microcare/sdm630/MeterMicrocareSdm630.java
  io.openems.edge.meter.microcare.sdm630/src/io/openems/edge/meter/microcare/sdm630/MeterMicrocareSdm630Impl.java
Due: build-java, restore-cache, rebuild-cache

Fix fastexcel autoclose warnings
  io.openems.common/src/io/openems/common/jsonrpc/response/QueryHistoricTimeseriesExportXlsxResponse.java
  io.openems.common/test/io/openems/common/jsonrpc/response/QueryHistoricTimeseriesExportXlsxResponseTest.java
Due: build-java, restore-cache, rebuild-cache

SDM630 Meter: change units for reactive Energy (#2104)
  io.openems.common/src/io/openems/common/jsonrpc/response/QueryHistoricTimeseriesExportXlsxResponse.java
  io.openems.common/test/io/openems/common/jsonrpc/response/QueryHistoricTimeseriesExportXlsxResponseTest.java
  io.openems.edge.meter.microcare.sdm630/src/io/openems/edge/meter/microcare/sdm630/MeterMicrocareSdm630.java
  io.openems.edge.meter.microcare.sdm630/src/io/openems/edge/meter/microcare/sdm630/MeterMicrocareSdm630Impl.java
Due: build-java, restore-cache, rebuild-cache

UI: Manage Caching with Service Worker (limited to 'lukas.rieger') (#521)
  ui/angular.json
  ui/package.json
  ui/src/app/app.component.ts
  ui/src/app/app.module.ts
  ui/src/app/appupdateservice.ts
Due: build-ui, refresh-dev

Update bnd files
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache
