Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  volumes:
  - cache:/cache
  group: restore

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  volumes:
  - cache:/cache
  group: refresh

Update Changelog for 2022.12.4
  ui/src/app/changelog/changelog.component.ts
Due: build-ui, refresh-dev

Push version to 2022.12.4
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Start development of version 2022.12.5-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

UI: Improve Tracability of IBN Errors (#482)
  .woodpecker/.ui-build.yml
  ui/src/app/edge/installation/installation.component.ts
  ui/src/app/shared/service/myerrorhandler.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

GoodWe Grid-Meter: fix compatibility with old DSP 4 firmware version (#483)
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/gridmeter/GoodWeGridMeterImpl.java
Due: build-java, restore-cache, rebuild-cache

UI: Fix CI Build (#485)
  ui/src/test.ts
Due: build-ui, refresh-dev

Update Changelog for 2022.12.5
  ui/src/app/changelog/changelog.component.ts
Due: build-ui, refresh-dev

Push version to 2022.12.5
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Start development of version 2022.12.6-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

UI: Improve readability of warning message
  ui/src/app/edge/history/abstracthistorychart.html
  ui/src/app/edge/history/energy/energy.component.html
  ui/src/app/edge/history/history.component.html
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.html
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev

Push version to 2022.12.6
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Start development of version 2022.12.7-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

IBN: Bugfix (#487)
  io.openems.edge.core/src/io/openems/edge/app/meter/KdkMeter.java
  ui/src/app/edge/installation/installation.component.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

changelog
  ui/src/app/changelog/changelog.component.ts
Due: build-ui, refresh-dev

Update Changelog for 2022.12.7
  ui/src/app/changelog/changelog.component.ts
Due: build-ui, refresh-dev

Push version to 2022.12.7
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Start development of version 2022.12.8-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

FENECON Commercial Battery: Battery Serial Number Implementation (#414)
  io.openems.common/src/io/openems/common/utils/StringUtils.java
  io.openems.common/test/io/openems/common/utils/StringUtilsTest.java
  io.openems.edge.battery.fenecon.commercial/src/io/openems/edge/battery/fenecon/commercial/FeneconCommercialBattery.java
  io.openems.edge.battery.fenecon.commercial/src/io/openems/edge/battery/fenecon/commercial/FeneconCommercialBatteryImpl.java
  io.openems.edge.battery.fenecon.commercial/test/io/openems/edge/battery/fenecon/commercial/DynamicChannelsAndSerialNumbersTest.java
Due: build-java, restore-cache, rebuild-cache

WebSocket: set new attachment on reconnect (#489)
  io.openems.common/src/io/openems/common/websocket/ClientReconnectorWorker.java
  io.openems.common/test/io/openems/common/websocket/ClientReconnectorWorkerTest.java
Due: build-java, restore-cache, rebuild-cache

REST-Api: handle WRITE_ONLY channels properly (OpenEMS#2025)
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/RestHandler.java
Due: build-java, restore-cache, rebuild-cache

> finalize production refactoring
  ui/src/app/edge/history/common/autarchy/chart/chart.ts
  ui/src/app/edge/history/common/production/chart/chargerChart.ts
  ui/src/app/edge/history/common/production/chart/productionMeterChart.ts
  ui/src/app/edge/history/common/production/chart/totalAcChart.ts
  ui/src/app/edge/history/common/production/chart/totalChart.ts
  ui/src/app/edge/history/common/production/chart/totalDcChart.ts
  ui/src/app/edge/history/shared.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev

> restrict query time to a few days for testing
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesEnergyPerPeriodRequest.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesEnergyRequest.ts
Due: build-ui, refresh-dev

> clean PR
  ui/src/app/edge/history/abstracthistorychart.ts
Due: build-ui, refresh-dev

Merge branch 'feature/ui-dev/refactorProduction' of https://git.intranet.fenecon.de/FENECON/fems into feature/ui-dev/refactorProduction
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev

> solve conflict 1
  ui/src/app/shared/genericComponents/genericComponents.ts
Due: build-ui, refresh-dev

> test
  ui/src/themes/fenecon/environments/backend-dev.ts
Due: build-ui, refresh-dev

> test 2
  ui/src/themes/fenecon/environments/backend-dev.ts
Due: build-ui, refresh-dev

> test 3
  ui/src/app/shared/genericComponents/genericComponents.ts
Due: build-ui, refresh-dev

REST-Api: handle WRITE_ONLY channels properly #2026
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/RestHandler.java
Due: build-java, restore-cache, rebuild-cache

Fix Checkstyle/CI
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/RestHandler.java
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  cnf/build.bnd
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bnd
  io.openems.wrapper/fastexcel.bnd
Due: build-java, restore-cache, rebuild-cache

> clean PR
  ui/.gitignore
  ui/src/app/app.module.ts
  ui/src/app/edge/history/common/production/chart/totalChart.ts
  ui/src/app/edge/history/common/production/overview/overview.ts
  ui/src/app/edge/history/shared.ts
  ui/src/app/shared/genericComponents/chart/abstractHistoryChartOverView.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/chart/chart.ts
  ui/src/app/shared/genericComponents/chart/chartoptions/popover/popover.component.html
  ui/src/app/shared/genericComponents/chart/chartoptions/popover/popover.component.ts
  ui/src/app/shared/genericComponents/genericComponents.ts
  ui/src/app/shared/service/logger.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/shared.module.ts
Due: build-ui, refresh-dev

WebSocket Reconnector: set websocket in attachment (#492)
  io.openems.common/src/io/openems/common/websocket/ClientReconnectorWorker.java
Due: build-java, restore-cache, rebuild-cache

UI: improve login form and logging (#484)
  ui/src/app/index/index.component.html
  ui/src/app/index/index.component.ts
  ui/src/app/shared/service/logger.ts
Due: build-ui, refresh-dev

AppCenter: text changes (#488)
  io.openems.edge.core/src/io/openems/edge/app/meter/CarloGavazziMeter.java
  io.openems.edge.core/src/io/openems/edge/app/meter/JanitzaMeter.java
  io.openems.edge.core/src/io/openems/edge/app/meter/KdkMeter.java
  io.openems.edge.core/src/io/openems/edge/app/meter/SocomecMeter.java
  io.openems.edge.core/src/io/openems/edge/app/pvselfconsumption/GridOptimizedCharge.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/DependencyUtil.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
Due: build-java, restore-cache, rebuild-cache

Update logging api
  cnf/build.bnd
  cnf/pom.xml
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

> clean PR > prepare for final test
  ui/src/app/edge/history/common/production/chart/totalChart.ts
  ui/src/app/edge/history/common/production/chart/totalDcChart.ts
  ui/src/app/edge/history/shared.ts
  ui/src/app/shared/genericComponents/abstracthistorywidget.ts
  ui/src/app/shared/genericComponents/chart/abstractHistoryChartOverView.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.html
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesEnergyPerPeriodRequest.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesEnergyRequest.ts
  ui/src/themes/fenecon/environments/backend-dev.ts
Due: build-ui, refresh-dev

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml, .woodpecker/**)
  build-ui: any of: ui/**, **/.woodpecker.yml
  refresh-dev: any of: ui/**, **/.woodpecker.yml
  restore-cache: any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml, .woodpecker/**
  rebuild-cache: any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml, .woodpecker/**
