Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

reintroduce comment workflow
  .github/workflows/build.yml
  .github/workflows/comment.yml
Due: none

set threshold to 0
  .github/workflows/build.yml
Due: none

use single quotation marks
  .github/workflows/build.yml
Due: none

try creating badge
  .github/workflows/build.yml
Due: none

Merge from OpenEMS/develop 2023.8.0-SNAPSHOT (#707)
  .gradle-wrapper/gradle-wrapper.properties
  cnf/build.bnd
  cnf/pom.xml
  gradlew
  gradlew.bat
  io.openems.backend.application/BackendApp.bndrun
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.timedata.rrd4j/.gitignore
  io.openems.wrapper/kotlinx-coroutines-core-jvm.bnd
  ui/package-lock.json
  ui/package.json
  ui/src/app/app-routing.module.ts
  ui/src/app/app.component.ts
  ui/src/app/edge/settings/settings.component.html
  ui/src/app/user/user.component.html
  ui/src/assets/i18n/de.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix comment workflow
  .github/workflows/comment.yml
Due: none

review
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/Config.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/ControllerEssCycle.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/ControllerEssCycleImpl.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/CompletedCycleHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/Context.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/ContinueWithChargeHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/ContinueWithDischargeHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/FinalSocHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/StartChargeHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/StartDischargeHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/StateMachine.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/UndefinedHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/WaitForStateChangeHandler.java
  io.openems.edge.controller.ess.cycle/test/io/openems/edge/controller/ess/cycle/ControllerEssCycleImplTest.java
Due: build-java, restore-cache, rebuild-cache

fix badge
  .github/workflows/build.yml
Due: none

switch to github cli
  .github/workflows/comment.yml
Due: none

revert to rest
  .github/workflows/comment.yml
Due: none

UI: Always show Overview page for multiple Edges (#599)
  io.openems.backend.common/src/io/openems/backend/common/metadata/User.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/SystemLogHandler.java
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/MetadataDummy.java
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/MetadataFile.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MyUser.java
  io.openems.common/src/io/openems/common/jsonrpc/response/AuthenticateResponse.java
  io.openems.common/src/io/openems/common/session/AbstractUser.java
  io.openems.edge.common/src/io/openems/edge/common/user/User.java
  ui/src/app/app.component.html
  ui/src/app/index/index.component.ts
  ui/src/app/shared/jsonrpc/shared.ts
  ui/src/app/shared/shared.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

AppCenter: show key hint after wrong validation (#706)
  ui/src/app/edge/settings/app/keypopup/modal.component.html
  ui/src/app/edge/settings/app/keypopup/modal.component.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Redo Channels View in /settings (#655)
  ui/src/app/edge/settings/channels/channels.component.html
  ui/src/app/edge/settings/channels/channels.component.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

drop on exit
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/ControllerEssCycle.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/ControllerEssCycleImpl.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/Context.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/StateMachine.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/WaitForStateChangeHandler.java
  io.openems.edge.controller.ess.cycle/test/io/openems/edge/controller/ess/cycle/ControllerEssCycleImplTest.java
Due: build-java, restore-cache, rebuild-cache

check style
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/ControllerEssCycle.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/ControllerEssCycleImpl.java
Due: build-java, restore-cache, rebuild-cache

Read error on write-only channels removed.
  io.openems.edge.common/src/io/openems/edge/common/modbusslave/ModbusRecordChannel.java
Due: build-java, restore-cache, rebuild-cache

Two more channels added to Modbus slave table
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/SymmetricEss.java
Due: build-java, restore-cache, rebuild-cache

add state machine mermaid diagram
  io.openems.edge.controller.ess.cycle/doc/statemachine.adoc
  io.openems.edge.controller.ess.cycle/doc/statemachine.md
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/Context.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/UndefinedHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/WaitForStateChangeHandler.java
Due: build-java, restore-cache, rebuild-cache

allowed for language preferences to persist after reload
  ui/src/app/shared/service/websocket.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix indentation
  io.openems.edge.controller.ess.cycle/doc/statemachine.md
Due: build-java, restore-cache, rebuild-cache

Hide internal methods
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/ControllerEssCycle.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/ControllerEssCycleImpl.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/Context.java
Due: build-java, restore-cache, rebuild-cache

Power is not required
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/ControllerEssCycleImpl.java
Due: build-java, restore-cache, rebuild-cache

CI: add Code-Coverage comment on Pull-Request (#2255)
  .github/workflows/build.yml
  .github/workflows/comment.yml
  .github/workflows/docs.yml
  build.gradle
  doc/build.gradle
  gradle.properties
  settings.gradle
Due: build-java, restore-cache, rebuild-cache

EVCS HardyBarth: improve phase and status detection (#2239)
  io.openems.edge.evcs.hardybarth/src/io/openems/edge/evcs/hardybarth/EvcsHardyBarthImpl.java
  io.openems.edge.evcs.hardybarth/src/io/openems/edge/evcs/hardybarth/HardyBarthReadWorker.java
  io.openems.edge.evcs.hardybarth/test/io/openems/edge/evcs/hardybarth/EvcsHardyBarthImplTest.java
Due: build-java, restore-cache, rebuild-cache

UI: Refactor History EnergyMonitor (#691)
  ui/src/app/edge/history/common/autarchy/chart/chart.ts
  ui/src/app/edge/history/common/energy/chart/channels.spec.ts
  ui/src/app/edge/history/common/energy/chart/chart.constants.spec.ts
  ui/src/app/edge/history/common/energy/chart/chart.spec.ts
  ui/src/app/edge/history/common/energy/chart/chart.ts
  ui/src/app/edge/history/common/energy/energy.ts
  ui/src/app/edge/history/common/energy/flat/flat.html
  ui/src/app/edge/history/common/energy/flat/flat.ts
  ui/src/app/edge/history/common/production/chart/chargerChart.ts
  ui/src/app/edge/history/common/production/chart/productionMeterChart.ts
  ui/src/app/edge/history/common/production/chart/totalAcChart.ts
  ui/src/app/edge/history/common/production/chart/totalChart.ts
  ui/src/app/edge/history/common/production/chart/totalDcChart.ts
  ui/src/app/edge/history/common/selfconsumption/chart/chart.component.ts
  ui/src/app/edge/history/energy/energy.component.html
  ui/src/app/edge/history/energy/energy.component.ts
  ui/src/app/edge/history/energy/modal/modal.component.html
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/history.module.ts
  ui/src/app/edge/history/shared.ts
  ui/src/app/edge/live/common/grid/modal/modal.spec.ts
  ui/src/app/shared/edge/edgeconfig.spec.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/flat/abstract-flat-widget.ts
  ui/src/app/shared/genericComponents/flat/flat.html
  ui/src/app/shared/genericComponents/shared/tester.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/service/websocket.ts
  ui/src/app/shared/test/utils.spec.ts
  ui/src/app/user/user.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

AppCenter: add shortName for App title (#698)
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AbstractOpenemsApp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/OpenemsApp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/TranslationUtil.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/jsonrpc/GetApp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  ui/src/app/edge/settings/app/index.component.html
  ui/src/app/edge/settings/app/jsonrpc/getApps.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Implement an initial minimal prototype for sumState-Alerting
  io.openems.backend.alerting/src/io/openems/backend/alerting/Alerting.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/Config.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/Handler.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/Message.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/handler/OfflineEdgeHandler.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/handler/SumStateHandler.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/message/OfflineEdgeMessage.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/message/SumStateMessage.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/scheduler/MessageScheduler.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/scheduler/MinuteTimer.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/AlertingTest.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/handler/TestOfflineEdgeHandler.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/scheduler/SchedulerTest.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/Edge.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/Mailer.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/Metadata.java
  io.openems.backend.common/src/io/openems/backend/common/test/DummyMetadata.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/OnNotification.java
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/MetadataDummy.java
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/MetadataFile.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/EdgeCache.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/Domain.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooHandler.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooUtils.java
  io.openems.backend.metadata.odoo/test/io/openems/backend/metadata/odoo/odoo/DomainTest.java
  io.openems.backend.metadata.odoo/test/io/openems/backend/metadata/odoo/odoo/OdooUtilsTest.java
  io.openems.common/src/io/openems/common/utils/JsonUtils.java
Due: build-java, restore-cache, rebuild-cache

review
  io.openems.edge.controller.ess.cycle/doc/statemachine.md
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/ControllerEssCycle.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/ControllerEssCycleImpl.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/CompletedCycleHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/Context.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/ContinueWithChargeHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/ContinueWithDischargeHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/StartChargeHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/StartDischargeHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/StateMachine.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/UndefinedHandler.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/WaitForStateChangeHandler.java
  io.openems.edge.controller.ess.cycle/test/io/openems/edge/controller/ess/cycle/ControllerEssCycleImplTest.java
Due: build-java, restore-cache, rebuild-cache

checkstyle
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/Context.java
Due: build-java, restore-cache, rebuild-cache

Bug in Edge2Edge in ModbusType Float64 fixed.
  io.openems.edge.edge2edge/src/io/openems/edge/edge2edge/common/AbstractEdge2Edge.java
Due: build-java, restore-cache, rebuild-cache

are channels defined and ess started check
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/ControllerEssCycleImpl.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/Context.java
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/UndefinedHandler.java
Due: build-java, restore-cache, rebuild-cache

drop ess started, can not be tested
  io.openems.edge.controller.ess.cycle/src/io/openems/edge/controller/ess/cycle/statemachine/Context.java
Due: build-java, restore-cache, rebuild-cache

UI: Home battery module serial numbers validation fix (#711)
  ui/src/app/edge/installation/installation.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Modernized switch format
  io.openems.edge.edge2edge/src/io/openems/edge/edge2edge/common/AbstractEdge2Edge.java
Due: build-java, restore-cache, rebuild-cache

clean PR
  ui/src/app/edge/history/common/energy/chart/Untitled-1.json
  ui/src/app/edge/settings/channels/channels.component.html
  ui/src/app/edge/settings/channels/channels.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location
