Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

Update bndrun + pom.xml
  cnf/pom.xml
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.edge.application/BackendEdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Remove configurable cycletime as suggested by da-Kai
  io.openems.common/src/io/openems/common/worker/AbstractWorker.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/BridgeModbusTcpImpl.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/ConfigTcp.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/AbstractModbusBridge.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/Config.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/ModbusWorker.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/MyConfigTcp.java
Due: build-java, restore-cache, rebuild-cache

Going back to AbstractImmediateWorker
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/ModbusWorker.java
Due: build-java, restore-cache, rebuild-cache

lock
  ui/package-lock.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

EssPower: implement alternative LowPassFilter
  io.openems.edge.common/src/io/openems/edge/common/filter/Filter.java
  io.openems.edge.common/src/io/openems/edge/common/filter/LowPassFilter.java
  io.openems.edge.common/src/io/openems/edge/common/filter/PidFilter.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/ManagedSymmetricEss.java
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/Config.java
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/EssPowerImpl.java
Due: build-java, restore-cache, rebuild-cache

Simple comparision test
  io.openems.edge.ess.core/test/io/openems/edge/ess/core/power/PowerComponentTest.java
Due: build-java, restore-cache, rebuild-cache

Required noise
  io.openems.edge.ess.api/src/io/openems/edge/ess/power/api/Power.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/test/DummyPower.java
  io.openems.edge.ess.core/test/io/openems/edge/ess/core/power/MyConfig.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/ess/GoodWeEssImpl.java
  io.openems.edge.sma/src/io/openems/edge/sma/ess/stpxx3se/batteryinverter/ApplyPowerHandler.java
Due: build-java, restore-cache, rebuild-cache

Checkstyle
  io.openems.edge.common/src/io/openems/edge/common/filter/Filter.java
Due: build-java, restore-cache, rebuild-cache

Fix index bounds and current-quarter handling
  io.openems.edge.controller.ess.gridoptimizedcharge/src/io/openems/edge/controller/ess/gridoptimizedcharge/DelayCharge.java
Due: build-java, restore-cache, rebuild-cache

Sort components alphabetically in flat widgets
  ui/src/app/edge/history/common/production/flat/flat.ts
  ui/src/app/edge/live/common/consumption/flat/flat.ts
  ui/src/app/edge/live/common/consumption/history/flat/flat.ts
  ui/src/app/edge/live/common/production/flat/flat.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Add ContextLogger + example usages
  io.openems.backend.alerting/src/io/openems/backend/alerting/Alerting.java
  io.openems.backend.common/src/io/openems/backend/common/component/AbstractOpenemsBackendComponent.java
  io.openems.common/src/io/openems/common/logger/ContextLogger.java
  io.openems.common/src/io/openems/common/logger/LazyContextLogger.java
  io.openems.common/src/io/openems/common/logger/PrefixedLogger.java
  io.openems.common/src/io/openems/common/logger/package-info.java
  io.openems.core.logger/src/io/openems/core/logger/LoggerConfigurator.java
  io.openems.edge.common/src/io/openems/edge/common/component/OpenemsComponent.java
  io.openems.edge.controller.debug.detailedlog/src/io/openems/edge/controller/debug/detailedlog/ControllerDebugDetailedLogImpl.java
Due: build-java, restore-cache, rebuild-cache

formatting
  io.openems.backend.common/src/io/openems/backend/common/component/AbstractOpenemsBackendComponent.java
  io.openems.edge.common/src/io/openems/edge/common/component/OpenemsComponent.java
Due: build-java, restore-cache, rebuild-cache

add comments to AbstractOpenemsComponent
  io.openems.edge.common/src/io/openems/edge/common/component/AbstractOpenemsComponent.java
Due: build-java, restore-cache, rebuild-cache

Cleanup
  io.openems.backend.common/src/io/openems/backend/common/component/AbstractOpenemsBackendComponent.java
  io.openems.common/src/io/openems/common/logger/LazyContextLogger.java
  io.openems.common/src/io/openems/common/logger/PrefixedLogger.java
  io.openems.edge.common/src/io/openems/edge/common/component/AbstractOpenemsComponent.java
  io.openems.edge.common/src/io/openems/edge/common/component/OpenemsComponent.java
  io.openems.edge.controller.debug.detailedlog/src/io/openems/edge/controller/debug/detailedlog/ControllerDebugDetailedLogImpl.java
Due: build-java, restore-cache, rebuild-cache

add Test
  io.openems.common/test/io/openems/common/logger/PrefixedLoggerTest.java
Due: build-java, restore-cache, rebuild-cache

cleanuo
  io.openems.common/src/io/openems/common/logger/ContextLogger.java
  io.openems.edge.common/src/io/openems/edge/common/component/OpenemsComponent.java
  io.openems.edge.controller.debug.detailedlog/src/io/openems/edge/controller/debug/detailedlog/ControllerDebugDetailedLogImpl.java
Due: build-java, restore-cache, rebuild-cache

error handling, logging improvements
  io.openems.edge.phoenixcontact.plcnext/.classpath
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/auth/PlcNextTokenManagerImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/data/PlcNextGdsDataMappingDynamicDefinition.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/data/PlcNextGdsDataProvider.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/data/PlcNextGdsDataProviderImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/data/PlcNextGdsDataWriteValueType.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/mapper/PlcNextChannelToGdsDataMapper.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/mapper/PlcNextChannelToGdsDataMapperImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/mapper/PlcNextGdsDataToChannelMapper.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/mapper/PlcNextGdsDataToChannelMapperImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/utils/PlcNextChannelValueTypeHelper.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/ess/PlcNextEssImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/loadcircuit/PlcNextLoadCircuitImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/meter/PlcNextMeterImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/pvinverter/PlcNextPvInverterImpl.java
  io.openems.edge.phoenixcontact.plcnext/test/.gitignore
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/ess/PlcNextEssImplTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/loadcircuit/PlcNextGdsLoadCircuitDataToChannelMapperTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/loadcircuit/PlcNextLoadCircuitImplTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/meter/PlcNextGdsMeterDataToChannelMapperTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/meter/PlcNextMeterImplTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/pvinverter/PlcNextPvInverterImplTest.java
  tools/phoenix/deploy/openems-edge/opt/plcnext/apps/openems-edge/bin/PLCnext-Start-OpenEMS-Edge.sh
Due: build-java, restore-cache, rebuild-cache

doc: update repository name from 'fems' to 'openems' in IntelliJ setup guide
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-8.png
  doc/modules/ROOT/pages/development/ide/intellij-gradle.adoc
Due: build-java, restore-cache, rebuild-cache

[Common] Intellij + Gradle Setup Guide (#3554)
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-10.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-11-1.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-11.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-12.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-13.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-14.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-2.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-3.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-4.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-5.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-6.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-7.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-8.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-9.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle.png
  doc/modules/ROOT/pages/development/ide/intellij-gradle.adoc
Due: build-java, restore-cache, rebuild-cache

Add ArrayUtils.alphabetically and use in sorts and add Tests
  ui/src/app/edge/history/common/production/flat/flat.ts
  ui/src/app/edge/live/common/consumption/flat/flat.ts
  ui/src/app/edge/live/common/consumption/history/flat/flat.ts
  ui/src/app/edge/live/common/production/flat/flat.ts
  ui/src/app/shared/utils/array/array.utils.spec.ts
  ui/src/app/shared/utils/array/array.utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix Formattings
  ui/src/app/edge/history/common/production/flat/flat.ts
  ui/src/app/edge/live/common/consumption/flat/flat.ts
  ui/src/app/edge/live/common/consumption/history/flat/flat.ts
  ui/src/app/edge/live/common/production/flat/flat.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix Formatting again..
  ui/src/app/edge/live/common/consumption/flat/flat.ts
  ui/src/app/edge/live/common/consumption/history/flat/flat.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix package name
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/impl/BridgeEebusImpl.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/impl/Config.java
  io.openems.edge.bridge.eebus/src/io/openems/edge/bridge/eebus/impl/EebusConnectionHandler.java
Due: build-java, restore-cache, rebuild-cache

prepare commit, PR comments
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.meter.inepro/.classpath
  io.openems.edge.meter.inepro/.gitignore
  io.openems.edge.meter.inepro/.project
  io.openems.edge.meter.inepro/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.meter.inepro/bnd.bnd
  io.openems.edge.meter.inepro/src/io/openems/edge/meter/inepro/pro380modct/Pro380modct.java
  io.openems.edge.meter.inepro/src/io/openems/edge/meter/inepro/pro380modct/Pro380modctImpl.java
  io.openems.edge.meter.inepro/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

[UI] Fix title disappears from the header on first load (#3569)
  ui/src/app/app.component.ts
  ui/src/app/shared/service/globalRouteChangeHandler.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

PR comments
  io.openems.edge.meter.inepro/doc/pro380modct-modbus.pdf
  io.openems.edge.meter.inepro/src/io/openems/edge/meter/inepro/pro380modct/Config.java
  io.openems.edge.meter.inepro/src/io/openems/edge/meter/inepro/pro380modct/Pro380modct.java
  io.openems.edge.meter.inepro/src/io/openems/edge/meter/inepro/pro380modct/Pro380modctImpl.java
  io.openems.edge.meter.inepro/test/io/openems/edge/meter/inepro/pro380modct/MyConfig.java
  io.openems.edge.meter.inepro/test/io/openems/edge/meter/inepro/pro380modct/Pro380modctImplTest.java
Due: build-java, restore-cache, rebuild-cache

PR comments
  io.openems.edge.meter.inepro/src/io/openems/edge/meter/inepro/pro380modct/Pro380modct.java
  io.openems.edge.meter.inepro/src/io/openems/edge/meter/inepro/pro380modct/Pro380modctImpl.java
Due: build-java, restore-cache, rebuild-cache

PR comments
  io.openems.edge.meter.inepro/src/io/openems/edge/meter/inepro/pro380modct/Config.java
Due: build-java, restore-cache, rebuild-cache

eclipse formatting
  io.openems.edge.meter.inepro/src/io/openems/edge/meter/inepro/pro380modct/Pro380modctImpl.java
Due: build-java, restore-cache, rebuild-cache

Fix missing onActivate method in AppComponent causing TypeError on route change
  ui/src/app/app.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Push version to 2026.3.0
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2026.4.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Use browser Language as Default (#3415)
  io.openems.common/src/io/openems/common/jsonrpc/response/AuthenticateResponse.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/handler/AuthenticationRequestHandler.java
  ui/angular.json
  ui/src/app/app.component.ts
  ui/src/app/app.module.ts
  ui/src/app/edge/history/Controller/peak-shaving/asymmetric/overview/overview.ts
  ui/src/app/edge/history/Controller/peak-shaving/symmetric/overview/overview.ts
  ui/src/app/edge/history/Controller/peak-shaving/timeslot/overview/overview.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/live/common/storage/storage.component.ts
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/components/chart/chart.constants.ts
  ui/src/app/shared/components/modal/modal-phases/modal-phases.ts
  ui/src/app/shared/components/pickdate/popover/popover.component.ts
  ui/src/app/shared/components/shared/formatter.ts
  ui/src/app/shared/jsonrpc/shared.ts
  ui/src/app/shared/pipe/unitvalue/unitvalue.pipe.ts
  ui/src/app/shared/provider/locale-provider.ts
  ui/src/app/shared/service/websocket.ts
  ui/src/app/shared/type/language.ts
  ui/src/app/user/user.component.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/themes/openems/environments/karma.ts
  ui/src/themes/openems/environments/theme.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge/Backend] Implement ContextLogger; Improve logger (#3590)
  io.openems.backend.alerting/src/io/openems/backend/alerting/Alerting.java
  io.openems.backend.common/src/io/openems/backend/common/component/AbstractOpenemsBackendComponent.java
  io.openems.common/src/io/openems/common/logger/ContextLogger.java
  io.openems.common/src/io/openems/common/logger/LazyContextLogger.java
  io.openems.common/src/io/openems/common/logger/PrefixedLogger.java
  io.openems.common/src/io/openems/common/logger/package-info.java
  io.openems.common/test/io/openems/common/logger/PrefixedLoggerTest.java
  io.openems.core.logger/src/io/openems/core/logger/LoggerConfigurator.java
  io.openems.edge.common/src/io/openems/edge/common/component/AbstractOpenemsComponent.java
  io.openems.edge.common/src/io/openems/edge/common/component/OpenemsComponent.java
  io.openems.edge.controller.debug.detailedlog/src/io/openems/edge/controller/debug/detailedlog/ControllerDebugDetailedLogImpl.java
Due: build-java, restore-cache, rebuild-cache

[UI] AppComponent: fix missing onActivate method (#3597)
  ui/src/app/app.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix language.ts
  ui/package-lock.json
  ui/src/app/shared/type/language.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Cleanup and enhance IntelliJ IDEA setup guide for OpenEMS
  doc/modules/ROOT/pages/development/ide/intellij-gradle.adoc
  doc/modules/ROOT/pages/development/ide/intellij.adoc
Due: build-java, restore-cache, rebuild-cache

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
