Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

.woodpecker.yml:

# Woodpecker-CI
# 
# Um den Docker Container fuer build ('openems-build') zu aktualisieren:
# - ssh auf gitvm
# - cd /root/fems/tools
# - git pull
# - bash drone-docker.sh

pipeline:
  restore-cache:
    image: drillster/drone-volume-cache
    restore: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.npm
    volumes:
      - cache:/cache
    group: restore

  build-java:
    when:
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '**/.woodpecker.yml' ]
    image: openems-build:latest
    environment:
      - GRADLE_USER_HOME=/woodpecker/.gradle
    commands:
      - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
      - ./gradlew build buildEdge
      - ./gradlew resolve.BackendApp
      - git diff --exit-code io.openems.backend.application/BackendApp.bndrun
      - ./gradlew resolve.EdgeApp
      - git diff --exit-code io.openems.edge.application/EdgeApp.bndrun
      - cp build/openems.jar ui/target
    group: build
    
  build-ui:
    when:
      path:
        include: [ 'ui/**', '**/.woodpecker.yml' ]
    image: openems-build:latest
    commands:
      - cd ui
      - npm ci --prefer-offline --cache /woodpecker/.npm
      - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
      - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
      - node_modules/.bin/ng lint
      - export CHROME_BIN=/usr/bin/google-chrome-stable
      - npm run test -- --no-watch --no-progress --browsers=ChromeHeadlessCI
    group: build

  refresh-dev:
    when:
      path:
        include: [ 'ui/**', '**/.woodpecker.yml' ]
    image: appleboy/drone-scp
    host: 10.0.0.40
    user: fenecon-docs
    secrets: 
      - source: ssh_key_intranet 
        target: scp_key
    rm: true
    source: ./ui/target
    strip_components: 3
    target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
    group: refresh

  rebuild-cache:
    image: drillster/drone-volume-cache
    rebuild: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.npm
    volumes:
      - cache:/cache
    group: refresh

.woodpecker/.java-build.yml:

# Woodpecker-CI
# 
# Um den Docker Container fuer build ('openems-build') zu aktualisieren:
# - ssh auf gitvm
# - cd /root/fems/tools
# - git pull
# - bash drone-docker.sh

clone:
  git-clone:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: woodpeckerci/plugin-git:v1.6.1
    settings:
      depth: 1
      lfs: false
      recursive: false
      tags: false
      partial: true

pipeline:
  restore-cache:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: drillster/drone-volume-cache
    restore: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.m2
    volumes:
      - cache:/cache

  build-java:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: openems-build:latest
    environment:
      - GRADLE_USER_HOME=/woodpecker/.gradle
    commands:
      - mkdir -p /woodpecker/.m2 && ln -s /woodpecker/.m2 ~/.m2
      - ./gradlew --build-cache build
      - ./gradlew resolve.EdgeApp
      - ./gradlew resolve.BackendApp
      - git diff --exit-code io.openems.edge.application/EdgeApp.bndrun io.openems.backend.application/BackendApp.bndrun

  rebuild-cache:
    when:
      branch:
        exclude: [main, develop]
      path:
        include: [ 'io.openems*/**', '**/*gradle*', '.woodpecker/.java-build.yml' ]
    image: drillster/drone-volume-cache
    rebuild: true
    mount:
      - /woodpecker/.gradle
      - /woodpecker/.m2
    volumes:
      - cache:/cache

fixed grid buy and sell channel assignment
  io.openems.edge.core/src/io/openems/edge/core/sum/SumImpl.java
Due: build-java, restore-cache, rebuild-cache

refactoring
  io.openems.edge.controller.predictiontester/src/io/openems/edge/controller/predictiontester/PredictionTesterImpl.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/LstmPredictorImpl.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/interpolation/AnotherInterpolation.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/interpolation/CubicalInterpolation.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/preprocessing/PreProcessing.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/preprocessing/PreprocessingImpl.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/preprocessing/TrainTestSplit.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/Cell.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/Engine.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/EngineDriver.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/Lstm.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/utilities/ConverDataType.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/utilities/MathUtils.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/utilities/SlidingWindowSpliterator.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/utilities/UtilityConversion.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/LstmModelPredictorTest.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/interpolation/CubicalInterpolationTest.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/utilities/UtilityFunctionsTesting.java
Due: build-java, restore-cache, rebuild-cache

no message
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/interpolation/CubicalInterpolation.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/interpolation/Interpolation.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/interpolation/LinearInterpolation.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/interpolation/CubicalInterpolationTest.java
Due: build-java, restore-cache, rebuild-cache

Streamline returns of DummyComponent
  ui/src/app/shared/service/test/dummywebsocket.ts
Due: build-ui, refresh-dev

Remove broken usage of non-existent services.
  ui/src/app/shared/service/test/dummyservice.ts
Due: build-ui, refresh-dev

Fix history consumption widget displaying production energy values instead of consumption values.
  ui/src/app/edge/history/consumption/widget.component.html
  ui/src/app/edge/history/consumption/widget.component.spec.ts
  ui/src/app/edge/history/consumption/widget.component.ts
Due: build-ui, refresh-dev

UI: Automatic reading of serial numbers in commercial system's battery modules in IBN. (#629)
  ui/src/app/edge/installation/installation-systems/commercial/abstract-commercial.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-30/abstract-commercial-30.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-30/commercial30-anschluss.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-30/commercial30-netztrenn.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-50/abstract-commercial-50.ts
  ui/src/app/edge/installation/installation.module.ts
  ui/src/app/edge/installation/views/configuration-commercial-modbusbridge/configuration-commercial-modbusbridge.ts
  ui/src/app/shared/translate.extension.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/img/RTU-4-Ports.png
Due: build-ui, refresh-dev

Add TODOs
  io.openems.common/src/io/openems/common/utils/DateUtils.java
  io.openems.edge.controller.ess.gridoptimizedcharge/test/io/openems/edge/controller/ess/gridoptimizedcharge/MyControllerTest.java
  io.openems.edge.controller.ess.standby/src/io/openems/edge/controller/ess/standby/StandbyControllerImpl.java
  io.openems.edge.controller.highloadtimeslot/src/io/openems/edge/controller/highloadtimeslot/HighLoadTimeslot.java
  io.openems.edge.controller.symmetric.timeslotpeakshaving/src/io/openems/edge/controller/timeslotpeakshaving/TimeslotPeakshaving.java
Due: build-java, restore-cache, rebuild-cache

DateUtils: add util parser methods for date and time (#2156)
  io.openems.common/src/io/openems/common/types/SystemLog.java
  io.openems.common/src/io/openems/common/utils/DateUtils.java
  io.openems.common/test/io/openems/common/utils/DateUtilsTest.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/api/AbstractFixStateOfCharge.java
  io.openems.edge.controller.ess.gridoptimizedcharge/src/io/openems/edge/controller/ess/gridoptimizedcharge/DelayCharge.java
  io.openems.edge.controller.ess.gridoptimizedcharge/test/io/openems/edge/controller/ess/gridoptimizedcharge/MyControllerTest.java
  io.openems.edge.controller.ess.standby/src/io/openems/edge/controller/ess/standby/StandbyControllerImpl.java
  io.openems.edge.controller.highloadtimeslot/src/io/openems/edge/controller/highloadtimeslot/HighLoadTimeslot.java
  io.openems.edge.controller.highloadtimeslot/test/io/openems/edge/controller/highloadtimeslot/ControllerSimpleTests.java
  io.openems.edge.controller.io.heatingelement/src/io/openems/edge/controller/io/heatingelement/ControllerHeatingElementImpl.java
  io.openems.edge.controller.symmetric.timeslotpeakshaving/src/io/openems/edge/controller/timeslotpeakshaving/TimeslotPeakshaving.java
  io.openems.edge.controller.symmetric.timeslotpeakshaving/test/io/openems/edge/controller/timeslotpeakshaving/TimeParserTest.java
  io.openems.edge.scheduler.daily/src/io/openems/edge/scheduler/daily/DailySchedulerImpl.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/app/ExecuteSimulationRequest.java
Due: build-java, restore-cache, rebuild-cache

AppCenter: refactor locking for installtion/modification/removing of apps (#630)
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AbstractOpenemsApp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppInstallWorker.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerUtil.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerUtilImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/AppManagerAppHelperImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckAppsNotInstalled.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckCardinality.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerImpSynchronizationTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerImplTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerTestBundle.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/DummyAppManagerAppHelper.java
Due: build-java, restore-cache, rebuild-cache

Fix CI build (#634)
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerImplTest.java
Due: build-java, restore-cache, rebuild-cache

UI: Fix build
  ui/src/app/edge/live/advertisement/advertisement.component.ts
  ui/src/app/edge/live/advertisement/fems-app-center/fems-app-center.ts
  ui/src/app/edge/settings/network.old/setNetworkConfigRequest.ts
  ui/src/app/edge/settings/serviceassistant/soltarosingle/cell-chart/chart.component.ts
  ui/src/app/edge/settings/serviceassistant/soltarosingle/soltaroC.component.ts
Due: build-ui, refresh-dev

Push version to 2023.5.0
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Start development of version 2023.6.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Update bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Adds documentation on the getEdgeConfig rpcwq
  io.openems.edge.controller.api.rest/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Adds minor elaboration on component object json
  io.openems.edge.controller.api.rest/readme.adoc
Due: build-java, restore-cache, rebuild-cache

apply changes to review
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/shared/test/testsystems/testsystems.spec.ts
Due: build-ui, refresh-dev

redo mergeconflict
  ui/src/app/shared/genericComponents/modal/abstract-modal-line.ts
  ui/src/app/shared/test/testsystems/testsystems.spec.ts
Due: build-ui, refresh-dev

apply changes due to review 2
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/shared/genericComponents/modal/abstract-modal-line.ts
Due: build-ui, refresh-dev

add missing change
  ui/src/app/edge/live/common/grid/modal/modal.ts
Due: build-ui, refresh-dev

Virtual meter bug fix: average is computed correctly fixed
  io.openems.edge.common/src/io/openems/edge/common/type/TypeUtils.java
  io.openems.edge.meter.virtual/src/io/openems/edge/meter/virtual/asymmetric/add/AsymmetricChannelManager.java
  io.openems.edge.meter.virtual/src/io/openems/edge/meter/virtual/symmetric/add/SymmetricChannelManager.java
  io.openems.edge.meter.virtual/test/io/openems/edge/meter/virtual/symmetric/add/VirtualSymmetricMeterAddTest.java
Due: build-java, restore-cache, rebuild-cache

Solar-Log PV-Inverter: cumulate production energy (#628)
  io.openems.edge.pvinverter.solarlog/bnd.bnd
  io.openems.edge.pvinverter.solarlog/src/io/openems/edge/pvinverter/solarlog/SolarLogImpl.java
Due: build-java, restore-cache, rebuild-cache

Solar-Log PV-Inverter: cumulate production energy (#2167)
  io.openems.edge.pvinverter.solarlog/bnd.bnd
  io.openems.edge.pvinverter.solarlog/src/io/openems/edge/pvinverter/solarlog/SolarLogImpl.java
Due: build-java, restore-cache, rebuild-cache

UI: Temporary addition of Swedish currency in ToU widgets for fems17289 (#632)
  ui/src/app/edge/history/timeofusetariffdischarge/chart.component.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/flat/flat.html
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/flat/flat.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/modal/modal.html
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/modal/modal.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev

Changing the units in the Battery protection channels
  io.openems.edge.battery.api/src/io/openems/edge/battery/protection/BatteryProtection.java
Due: build-java, restore-cache, rebuild-cache

UI: Added maximum feed in power limit Home IBN. (#633)
  ui/src/app/edge/installation/installation-systems/home/abstract-home.ts
  ui/src/app/shared/translate.extension.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev

AppCenter: add Alpitronic App (#631)
  io.openems.edge.core/src/io/openems/edge/app/evcs/AlpitronicEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/AlpitronicEvcs.png
  io.openems.edge.core/src/io/openems/edge/app/evcs/EvcsProps.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/HardyBarthEvcs.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/JsonFormlyUtil.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/Type.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
Due: build-java, restore-cache, rebuild-cache

AppCenter: Update websites (#635)
  io.openems.edge.core/src/io/openems/edge/app/evcs/HardyBarthEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/IesKeywattEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/KebaEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/heat/CombinedHeatAndPower.java
  io.openems.edge.core/src/io/openems/edge/app/heat/HeatPump.java
  io.openems.edge.core/src/io/openems/edge/app/heat/HeatingElement.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome.java
  io.openems.edge.core/src/io/openems/edge/app/meter/CarloGavazziMeter.java
  io.openems.edge.core/src/io/openems/edge/app/meter/JanitzaMeter.java
  io.openems.edge.core/src/io/openems/edge/app/pvinverter/FroniusPvInverter.java
  io.openems.edge.core/src/io/openems/edge/app/pvinverter/KacoPvInverter.java
  io.openems.edge.core/src/io/openems/edge/app/pvinverter/KostalPvInverter.java
  io.openems.edge.core/src/io/openems/edge/app/pvinverter/SmaPvInverter.java
  io.openems.edge.core/src/io/openems/edge/app/pvinverter/SolarEdgePvInverter.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/AwattarHourly.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/StromdaoCorrently.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/Tibber.java
Due: build-java, restore-cache, rebuild-cache

Battery-Protection: fix Javadoc for channels (#2168)
  io.openems.edge.battery.api/src/io/openems/edge/battery/protection/BatteryProtection.java
Due: build-java, restore-cache, rebuild-cache

UI: Fix links to GTC and warranty (#636)
  ui/package-lock.json
  ui/src/app/edge/installation/shared/enums.ts
  ui/src/app/edge/installation/shared/meter.ts
  ui/src/environments/index.ts
  ui/src/environments/theme.ts
  ui/src/themes/fenecon/environments/theme.ts
  ui/src/themes/heckert/environments/theme.ts
  ui/src/themes/openems/environments/theme.ts
Due: build-ui, refresh-dev

Refactor streams to use toList() method (#2122)
  io.openems.backend.alerting/src/io/openems/backend/alerting/handler/OfflineEdgeHandler.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/Dummy.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/OdooMetadata.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooUserRole.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/ModbusUtils.java
  io.openems.edge.controller.api.rest/src/io/openems/edge/controller/api/rest/RestHandler.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/EvcsCluster.java
  io.openems.edge.core/src/io/openems/edge/app/heat/CombinedHeatAndPower.java
  io.openems.edge.core/src/io/openems/edge/app/heat/HeatPump.java
  io.openems.edge.core/src/io/openems/edge/app/heat/HeatingElement.java
  io.openems.edge.core/src/io/openems/edge/app/loadcontrol/ManualRelayControl.java
  io.openems.edge.core/src/io/openems/edge/app/loadcontrol/ThresholdControl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/InterfaceConfiguration.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/ResolveDependencies.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/AppManagerAppHelperImpl.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/jsonrpc/ChannelExportXlsxResponse.java
  io.openems.edge.core/src/io/openems/edge/core/predictormanager/PredictorManagerImpl.java
  io.openems.edge.meter.virtual/src/io/openems/edge/meter/virtual/asymmetric/add/AsymmetricChannelManager.java
  io.openems.edge.predictor.similardaymodel/src/io/openems/edge/predictor/similardaymodel/SimilarDayPredictorImpl.java
  io.openems.edge.scheduler.allalphabetically/test/io/openems/edge/scheduler/allalphabetically/AllAlphabeticallyTest.java
  io.openems.edge.scheduler.daily/test/io/openems/edge/scheduler/daily/DailySchedulerImplTest.java
Due: build-java, restore-cache, rebuild-cache

UI Changelog: update links (#641)
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-ui, refresh-dev

Update EdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Resolved Stefan's Commits
  io.openems.backend.timedata.influx/test/io/openems/backend/timedata/influx/FieldTypeConflictHandlerTest.java
  io.openems.backend.timedata.timescaledb/test/io/openems/backend/timedata/timescaledb/internal/SchemaGenerator.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/container/OneWireContainer1D.java
Due: build-java, restore-cache, rebuild-cache

UI: clear remaining search value after login with another user (#637)
  ui/src/app/index/index.component.html
  ui/src/app/index/index.component.ts
Due: build-ui, refresh-dev

UI: Bugfix in Commercial IBN for modbus bridge type selection. (#640)
  ui/src/app/edge/installation/installation-systems/abstract-ibn.ts
  ui/src/app/edge/installation/installation-systems/commercial/abstract-commercial.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-30/abstract-commercial-30.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-30/commercial30-netztrenn.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-50/abstract-commercial-50.ts
  ui/src/app/edge/installation/installation.component.ts
  ui/src/app/edge/installation/views/configuration-peak-shaving/configuration-peak-shaving.component.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev

add requested changes
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.html
  ui/src/app/shared/genericComponents/modal/abstract-modal-line.ts
  ui/src/app/shared/genericComponents/modal/modal-line/modal-line.html
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev
