Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

Apply Post-Processing; use QuickSchedules in RunOptimizerFromLog
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/EnergyScheduleHandler.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulation/EnergyFlow.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/Optimizer.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/QuickSchedules.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/SimulationResult.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/Simulator.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/RunOptimizerFromLogApp.java
Due: build-java, restore-cache, rebuild-cache

Add simple GenotypeCache
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/GenotypeCache.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/Optimizer.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/QuickSchedules.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/SimulationResult.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/Simulator.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/Utils.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/OptimizerTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/SimulatorTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/RunOptimizerFromLogApp.java
Due: build-java, restore-cache, rebuild-cache

Fix build
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/RunOptimizerFromLogApp.java
Due: build-java, restore-cache, rebuild-cache

UI: add @stylistic to style rules (#2779)
  ui/.eslintrc.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Add missing JUnit test for DateUtils duodecimus
  io.openems.common/src/io/openems/common/utils/DateUtils.java
  io.openems.common/test/io/openems/common/utils/DateUtilsTest.java
Due: build-java, restore-cache, rebuild-cache

Clearly name singular ChannelAddress; private final vars
  io.openems.edge.predictor.api/src/io/openems/edge/predictor/api/prediction/AbstractPredictor.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/Config.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/LstmModelImpl.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/train/LstmTrain.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/LstmModelTest.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/MyConfig.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/MyControllerTest.java
Due: build-java, restore-cache, rebuild-cache

fix: add initialization variables to fix typescript strict mode errors.
  ui/src/app/app.component.ts
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/abstracthistorywidget.ts
  ui/src/app/edge/history/historydataservice.ts
  ui/src/app/edge/live/common/autarchy/flat/flat.ts
  ui/src/app/edge/live/common/consumption/flat/flat.ts
  ui/src/app/edge/live/common/grid/flat/flat.ts
  ui/src/app/edge/live/common/selfconsumption/flat/flat.ts
  ui/src/app/edge/live/common/storage/modal/modal.component.ts
  ui/src/app/shared/components/header/header.component.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/shared.module.ts
  ui/src/app/shared/type/widget.ts
  ui/src/app/user/user.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Push version to 2024.10.0
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2024.11.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update InitializeEdgesWorker.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/postgres/InitializeEdgesWorker.java
Due: build-java, restore-cache, rebuild-cache

Fix Checkstyle && Translate Comments
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/postgres/InitializeEdgesWorker.java
Due: build-java, restore-cache, rebuild-cache

npm install -D eslint-import-resolver-typescript eslint-plugin-import
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add import rules
  ui/.eslintrc.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: add ignore comment for eslint-plugin-import bug.
  ui/src/app/edge/history/shared.ts
  ui/src/app/shared/utils/datetime/datetime-utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

eslint src/ --fix
  ui/src/app/app.service.ts
  ui/src/app/edge/history/Controller/Io/DigitalOutput/digitalOutput.module.ts
  ui/src/app/edge/history/Controller/ModbusTcpApi/modbusTcpApi.module.ts
  ui/src/app/edge/history/Controller/controller.module.ts
  ui/src/app/edge/history/common/consumption/Consumption.ts
  ui/src/app/edge/history/common/production/production.ts
  ui/src/app/edge/history/storage/totalchart.component.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/statePriceChart.ts
  ui/src/app/edge/live/common/storage/storage.component.ts
  ui/src/app/edge/live/live.module.ts
  ui/src/app/edge/settings/channels/channels.component.ts
  ui/src/app/index/login.component.ts
  ui/src/app/shared/components/abstracthistorywidget.ts
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/components/chart/chart.constants.ts
  ui/src/app/shared/components/components.module.ts
  ui/src/app/shared/components/flat/abstract-flat-widget-line.ts
  ui/src/app/shared/components/flat/abstract-flat-widget.ts
  ui/src/app/shared/components/modal/abstract-modal-line.ts
  ui/src/app/shared/components/modal/abstractModal.ts
  ui/src/app/shared/service/pagination.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix Storage Chart
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/storage/singlechart.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Added first approach
  io.openems.edge.controller.ess.chargedischargelimiter/.classpath
  io.openems.edge.controller.ess.chargedischargelimiter/.gitignore
  io.openems.edge.controller.ess.chargedischargelimiter/.project
  io.openems.edge.controller.ess.chargedischargelimiter/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.controller.ess.chargedischargelimiter/.settings/org.eclipse.jdt.core.prefs
  io.openems.edge.controller.ess.chargedischargelimiter/bnd.bnd
  io.openems.edge.controller.ess.chargedischargelimiter/generated/buildfiles
  io.openems.edge.controller.ess.chargedischargelimiter/readme.adoc
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/Config.java
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerChargeDischargeLimiter.java
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerChargeDischargeLimiterImpl.java
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/State.java
  io.openems.edge.controller.ess.chargedischargelimiter/test/io/openems/edge/controller/ess/chargedischargelimiter/MyConfig.java
  io.openems.edge.controller.ess.chargedischargelimiter/test/io/openems/edge/controller/ess/chargedischargelimiter/MyControllerTest.java
Due: build-java, restore-cache, rebuild-cache

Update readme.adoc
  io.openems.edge.controller.ess.chargedischargelimiter/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Next Approach
  io.openems.edge.controller.ess.chargedischargelimiter/bnd.bnd
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/Config.java
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerChargeDischargeLimiter.java
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerChargeDischargeLimiterImpl.java
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/State.java
  io.openems.edge.controller.ess.chargedischargelimiter/test/io/openems/edge/controller/ess/chargedischargelimiter/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Update ControllerChargeDischargeLimiterImpl.java
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerChargeDischargeLimiterImpl.java
Due: build-java, restore-cache, rebuild-cache

Added Method stubs for run(), Added fields in config
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/Config.java
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerChargeDischargeLimiterImpl.java
Due: build-java, restore-cache, rebuild-cache

Expand deploy documentation
  doc/modules/ROOT/pages/backend/deploy.adoc
  doc/modules/ROOT/pages/edge/deploy.adoc
Due: none

Same Issue in totalchart.component.ts
  ui/src/app/edge/history/storage/totalchart.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Change int the batch size
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/LstmModelImpl.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/common/HyperParameters.java
Due: build-java, restore-cache, rebuild-cache

json rpc changes
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/jsonrpc/GetPredictionResponse.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/jsonrpc/PredictionRequestHandler.java
Due: build-java, restore-cache, rebuild-cache

few more json rpc changes
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/jsonrpc/GetPredictionRequest.java
Due: build-java, restore-cache, rebuild-cache

rephrase and add images
  doc/modules/ROOT/assets/images/deploy-docker-backend-check-version.png
  doc/modules/ROOT/assets/images/deploy-docker-backend.png
  doc/modules/ROOT/assets/images/deploy-docker-edge-check-version.png
  doc/modules/ROOT/assets/images/deploy-docker-edge.png
  doc/modules/ROOT/assets/images/deploy-docker-ssh.png
  doc/modules/ROOT/pages/backend/deploy.adoc
  doc/modules/ROOT/pages/edge/deploy.adoc
Due: none

Docs: add docker deploy documentation (#2829)
  doc/modules/ROOT/assets/images/deploy-docker-backend-check-version.png
  doc/modules/ROOT/assets/images/deploy-docker-backend.png
  doc/modules/ROOT/assets/images/deploy-docker-edge-check-version.png
  doc/modules/ROOT/assets/images/deploy-docker-edge.png
  doc/modules/ROOT/assets/images/deploy-docker-ssh.png
  doc/modules/ROOT/pages/backend/deploy.adoc
  doc/modules/ROOT/pages/edge/deploy.adoc
Due: none

Add error hint
  tools/docker/edge/README.md
Due: none

linting
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/Io_ChannelSingleThreshold.ts
  ui/src/app/shared/components/flat/flat.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Improve problem and solution description
  tools/docker/backend/README.md
  tools/docker/edge/README.md
Due: none

FFR: Fast Frequency Response Controller
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.ess.fastfrequencyreserve/.classpath
  io.openems.edge.controller.ess.fastfrequencyreserve/.gitignore
  io.openems.edge.controller.ess.fastfrequencyreserve/.project
  io.openems.edge.controller.ess.fastfrequencyreserve/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.controller.ess.fastfrequencyreserve/bnd.bnd
  io.openems.edge.controller.ess.fastfrequencyreserve/doc/statemachine.md
  io.openems.edge.controller.ess.fastfrequencyreserve/readme.adoc
  io.openems.edge.controller.ess.fastfrequencyreserve/src/io/openems/edge/controller/ess/fastfrequencyreserve/Config.java
  io.openems.edge.controller.ess.fastfrequencyreserve/src/io/openems/edge/controller/ess/fastfrequencyreserve/ControllerFastFrequencyReserve.java
  io.openems.edge.controller.ess.fastfrequencyreserve/src/io/openems/edge/controller/ess/fastfrequencyreserve/ControllerFastFrequencyReserveImpl.java
  io.openems.edge.controller.ess.fastfrequencyreserve/src/io/openems/edge/controller/ess/fastfrequencyreserve/enums/ActivationTime.java
  io.openems.edge.controller.ess.fastfrequencyreserve/src/io/openems/edge/controller/ess/fastfrequencyreserve/enums/ControlMode.java
  io.openems.edge.controller.ess.fastfrequencyreserve/src/io/openems/edge/controller/ess/fastfrequencyreserve/enums/SupportDuration.java
  io.openems.edge.controller.ess.fastfrequencyreserve/src/io/openems/edge/controller/ess/fastfrequencyreserve/jsonrpc/SetActivateFastFreqReserveRequest.java
  io.openems.edge.controller.ess.fastfrequencyreserve/src/io/openems/edge/controller/ess/fastfrequencyreserve/statemachine/ActivationTimeHandler.java
  io.openems.edge.controller.ess.fastfrequencyreserve/src/io/openems/edge/controller/ess/fastfrequencyreserve/statemachine/BufferedTimeBeforeRecoveryHandler.java
  io.openems.edge.controller.ess.fastfrequencyreserve/src/io/openems/edge/controller/ess/fastfrequencyreserve/statemachine/Context.java
  io.openems.edge.controller.ess.fastfrequencyreserve/src/io/openems/edge/controller/ess/fastfrequencyreserve/statemachine/DeactivationTimeHandler.java
  io.openems.edge.controller.ess.fastfrequencyreserve/src/io/openems/edge/controller/ess/fastfrequencyreserve/statemachine/PreActivationHandler.java
  io.openems.edge.controller.ess.fastfrequencyreserve/src/io/openems/edge/controller/ess/fastfrequencyreserve/statemachine/RecoveryTimeHandler.java
  io.openems.edge.controller.ess.fastfrequencyreserve/src/io/openems/edge/controller/ess/fastfrequencyreserve/statemachine/StateMachine.java
  io.openems.edge.controller.ess.fastfrequencyreserve/src/io/openems/edge/controller/ess/fastfrequencyreserve/statemachine/SupportDurationTimeHandler.java
  io.openems.edge.controller.ess.fastfrequencyreserve/src/io/openems/edge/controller/ess/fastfrequencyreserve/statemachine/UndefinedHandler.java
  io.openems.edge.controller.ess.fastfrequencyreserve/test/.gitignore
  io.openems.edge.controller.ess.fastfrequencyreserve/test/io/openems/edge/controller/ess/fastfrequencyreserve/JsonRpcTest.java
  io.openems.edge.controller.ess.fastfrequencyreserve/test/io/openems/edge/controller/ess/fastfrequencyreserve/MyConfig.java
  io.openems.edge.controller.ess.fastfrequencyreserve/test/io/openems/edge/controller/ess/fastfrequencyreserve/MyControllerTest.java
  io.openems.edge.controller.ess.fastfrequencyreserve/test/io/openems/edge/controller/ess/fastfrequencyreserve/MyControllerTest2.java
  io.openems.edge.controller.ess.fastfrequencyreserve/test/io/openems/edge/controller/ess/fastfrequencyreserve/TestClient.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/meter/grid/acting/Config.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/meter/grid/acting/SimulatorGridMeterActing.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/meter/grid/acting/SimulatorGridMeterActingImpl.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/meter/grid/acting/State.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/meter/grid/acting/StepResponseHandler.java
  io.openems.edge.simulator/test/io/openems/edge/simulator/meter/grid/acting/MyConfig.java
  io.openems.edge.simulator/test/io/openems/edge/simulator/meter/grid/acting/SimulatorGridMeterActingImplTest.java
Due: build-java, restore-cache, rebuild-cache

HardyBarth: set "No meter values available" as WARN + translate
  io.openems.edge.evcs.hardybarth/src/io/openems/edge/evcs/hardybarth/EvcsHardyBarth.java
  io.openems.edge.evcs.hardybarth/src/io/openems/edge/evcs/hardybarth/translation_de.properties
  io.openems.edge.evcs.hardybarth/src/io/openems/edge/evcs/hardybarth/translation_en.properties
Due: build-java, restore-cache, rebuild-cache

Batteries/Battery-Inverters: downgrade FAULT states to WARNING
  io.openems.edge.battery.bydcommercial/src/io/openems/edge/battery/bydcommercial/BydBatteryBoxCommercialC130.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHome.java
  io.openems.edge.battery.soltaro/src/io/openems/edge/battery/soltaro/cluster/versionb/BatterySoltaroClusterVersionB.java
  io.openems.edge.battery.soltaro/src/io/openems/edge/battery/soltaro/cluster/versionb/SingleRack.java
  io.openems.edge.battery.soltaro/src/io/openems/edge/battery/soltaro/cluster/versionc/BatterySoltaroClusterVersionC.java
  io.openems.edge.battery.soltaro/src/io/openems/edge/battery/soltaro/cluster/versionc/RackChannel.java
  io.openems.edge.battery.soltaro/src/io/openems/edge/battery/soltaro/single/versiona/BatterySoltaroSingleRackVersionA.java
  io.openems.edge.battery.soltaro/src/io/openems/edge/battery/soltaro/single/versionb/BatterySoltaroSingleRackVersionB.java
  io.openems.edge.battery.soltaro/src/io/openems/edge/battery/soltaro/single/versionc/BatterySoltaroSingleRackVersionC.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/BatteryInverterKacoBlueplanetGridsave.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/KacoSunSpecModel.java
  io.openems.edge.batteryinverter.refu88k/src/io/openems/edge/batteryinverter/refu88k/BatteryInverterRefuStore88k.java
  io.openems.edge.batteryinverter.sinexcel/src/io/openems/edge/batteryinverter/sinexcel/BatteryInverterSinexcel.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/ManagedSymmetricEss.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/common/GenericManagedEss.java
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/offgrid/EssGenericOffGrid.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverter.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/GoodWe.java
Due: build-java, restore-cache, rebuild-cache

UI: fix non refactored charts
  ui/src/app/edge/history/abstracthistorychart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

KEBA: change DipSwitch2.6 to boolean (from fault)
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/kecontact/EvcsKebaKeContact.java
Due: build-java, restore-cache, rebuild-cache

ModbusBridge: invalidate Elements on `removeProtocol()`
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/ModbusWorker.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/TasksSupplierImpl.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/BridgeModbusTcpImplTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/TasksSupplierImplTest.java
Due: build-java, restore-cache, rebuild-cache

ModbusTcpApi: improvements
  io.openems.edge.common/src/io/openems/edge/common/meta/Meta.java
  io.openems.edge.controller.api.modbus/bnd.bnd
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/AbstractModbusTcpApi.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/readwrite/ControllerApiModbusTcpReadWriteImpl.java
  io.openems.edge.controller.api.modbus/test/io/openems/edge/controller/api/modbus/readwrite/ControllerApiModbusTcpReadWriteImplTest.java
Due: build-java, restore-cache, rebuild-cache

KACO Battery Inverter: fix state transition ERROR to UNDEFINED, Frequency channel
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/KacoSunSpecModel.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/ErrorHandler.java
Due: build-java, restore-cache, rebuild-cache

Commercial 92: updates for FENECON Home battery
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImpl.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/ModbusHelper.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/statemachine/Context.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/statemachine/GoStoppedHandler.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/ModbusWorker.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/TasksSupplierImpl.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/TasksSupplierImplTest.java
Due: build-java, restore-cache, rebuild-cache

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
