Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

Sungrow String and ESS Implementation
  RemoteSystemsTempFiles/.project
  io.openems.edge.ess.sungrow/.gitignore
  io.openems.edge.ess.sungrow/.project
  io.openems.edge.ess.sungrow/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.ess.sungrow/bnd.bnd
  io.openems.edge.ess.sungrow/readme.adoc
  io.openems.edge.ess.sungrow/src/io/openems/edge/ess/sungrow/Config.java
  io.openems.edge.ess.sungrow/src/io/openems/edge/ess/sungrow/SungrowEss.java
  io.openems.edge.ess.sungrow/src/io/openems/edge/ess/sungrow/SungrowEssImpl.java
  io.openems.edge.ess.sungrow/src/io/openems/edge/ess/sungrow/dccharger/Config.java
  io.openems.edge.ess.sungrow/src/io/openems/edge/ess/sungrow/dccharger/SungrowVirtualDcCharger.java
  io.openems.edge.ess.sungrow/src/io/openems/edge/ess/sungrow/enums/ChargeDischargeCommand.java
  io.openems.edge.ess.sungrow/src/io/openems/edge/ess/sungrow/enums/EmsMode.java
  io.openems.edge.ess.sungrow/src/io/openems/edge/ess/sungrow/enums/EnableDisable.java
  io.openems.edge.ess.sungrow/src/io/openems/edge/ess/sungrow/enums/SystemState.java
  io.openems.edge.ess.sungrow/src/io/openems/edge/ess/sungrow/gridmeter/Config.java
  io.openems.edge.ess.sungrow/src/io/openems/edge/ess/sungrow/gridmeter/SungrowVirtualGridMeter.java
  io.openems.edge.ess.sungrow/test/.gitignore
  io.openems.edge.ess.sungrow/test/io/openems/edge/ess/sungrow/MyConfig.java
  io.openems.edge.ess.sungrow/test/io/openems/edge/ess/sungrow/MyModbusDeviceTest.java
  io.openems.edge.pvinverter.sungrow/.gitignore
  io.openems.edge.pvinverter.sungrow/.project
  io.openems.edge.pvinverter.sungrow/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.pvinverter.sungrow/bnd.bnd
  io.openems.edge.pvinverter.sungrow/readme.adoc
  io.openems.edge.pvinverter.sungrow/src/io/openems/edge/pvinverter/sungrow/Config.java
  io.openems.edge.pvinverter.sungrow/src/io/openems/edge/pvinverter/sungrow/PvInverterSungrow.java
  io.openems.edge.pvinverter.sungrow/src/io/openems/edge/pvinverter/sungrow/PvInverterSungrowImpl.java
  io.openems.edge.pvinverter.sungrow/src/io/openems/edge/pvinverter/sungrow/WorkState.java
  io.openems.edge.pvinverter.sungrow/src/io/openems/edge/pvinverter/sungrow/string/Config.java
  io.openems.edge.pvinverter.sungrow/src/io/openems/edge/pvinverter/sungrow/string/OutputType.java
  io.openems.edge.pvinverter.sungrow/src/io/openems/edge/pvinverter/sungrow/string/SungrowStringInverter.java
  io.openems.edge.pvinverter.sungrow/src/io/openems/edge/pvinverter/sungrow/string/SungrowStringInverterImpl.java
  io.openems.edge.pvinverter.sungrow/test/.gitignore
  io.openems.edge.pvinverter.sungrow/test/io/openems/edge/pvinverter/sungrow/MyConfig.java
  io.openems.edge.pvinverter.sungrow/test/io/openems/edge/pvinverter/sungrow/PvInverterSungrowImplTest.java
Due: build-java, restore-cache, rebuild-cache

Delete RemoteSystemsTempFiles directory
  RemoteSystemsTempFiles/.project
Due: none

Update ElectricityMeter to use PhasesWithVoltAndAmpere
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/ElectricityMeter.java
Due: build-java, restore-cache, rebuild-cache

Implement System FENECON Industrial S (#799)
  io.openems.edge.battery.fenecon.f2b/test/io/openems/edge/battery/fenecon/f2b/dummy/package-info.java
  io.openems.edge.system.fenecon/bnd.bnd
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/industrial/s/Config.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/industrial/s/SystemFeneconIndustrialS.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/industrial/s/SystemFeneconIndustrialSImpl.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/industrial/s/coolingunit/statemachine/CoolingUnitContext.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/industrial/s/coolingunit/statemachine/CoolingUnitStateMachine.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/industrial/s/coolingunit/statemachine/StartCoolingHandler.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/industrial/s/coolingunit/statemachine/StopCoolingHandler.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/industrial/s/coolingunit/statemachine/UndefinedHandler.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/industrial/s/coolingunit/statemachine/WaitForStartRequestHandler.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/industrial/s/coolingunit/statemachine/WaitForStopRequestHandler.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/industrial/s/enums/CoolingUnitMode.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/industrial/s/jsonrpc/EmergencyStopAcknowledgeRequest.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/industrial/s/statemachine/Context.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/industrial/s/statemachine/ErrorHandler.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/industrial/s/statemachine/GoRunningHandler.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/industrial/s/statemachine/GoStoppedHandler.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/industrial/s/statemachine/RunningHandler.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/industrial/s/statemachine/StateMachine.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/industrial/s/statemachine/StoppedHandler.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/industrial/s/statemachine/UndefinedHandler.java
  io.openems.edge.system.fenecon/test/io/openems/edge/system/fenecon/industrial/s/MyConfig.java
  io.openems.edge.system.fenecon/test/io/openems/edge/system/fenecon/industrial/s/SystemFeneconIndustrialSImplTest.java
Due: build-java, restore-cache, rebuild-cache

Formatting
  io.openems.edge.ess.sungrow/src/io/openems/edge/ess/sungrow/SungrowEssImpl.java
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/ElectricityMeter.java
  io.openems.edge.pvinverter.sungrow/src/io/openems/edge/pvinverter/sungrow/Config.java
  io.openems.edge.pvinverter.sungrow/src/io/openems/edge/pvinverter/sungrow/PvInverterSungrow.java
  io.openems.edge.pvinverter.sungrow/src/io/openems/edge/pvinverter/sungrow/PvInverterSungrowImpl.java
  io.openems.edge.pvinverter.sungrow/src/io/openems/edge/pvinverter/sungrow/WorkState.java
  io.openems.edge.pvinverter.sungrow/src/io/openems/edge/pvinverter/sungrow/string/Config.java
  io.openems.edge.pvinverter.sungrow/src/io/openems/edge/pvinverter/sungrow/string/OutputType.java
  io.openems.edge.pvinverter.sungrow/src/io/openems/edge/pvinverter/sungrow/string/SungrowStringInverter.java
  io.openems.edge.pvinverter.sungrow/src/io/openems/edge/pvinverter/sungrow/string/SungrowStringInverterImpl.java
Due: build-java, restore-cache, rebuild-cache

Include it to Edge App
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update Gitea PR Template (UI-Dev paths & Customer Changelog) (#1038)
  .gitea/PULL_REQUEST_TEMPLATE.md
  .woodpecker/ci-build.yml
Due: none

Update IoShellyPlus3emImpl.java to use JsonUtils
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplus3em/IoShellyPlus3emImpl.java
Due: build-java, restore-cache, rebuild-cache

Formatting
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplus3em/IoShellyPlus3emImpl.java
Due: build-java, restore-cache, rebuild-cache

Update IoShellyPlus1PMImpl.java to use JsonUtils
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplus1pm/IoShellyPlus1PMImpl.java
Due: build-java, restore-cache, rebuild-cache

Update IoShellyPlugImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImpl.java
Due: build-java, restore-cache, rebuild-cache

Formatting
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly25/IoShelly25Impl.java
Due: build-java, restore-cache, rebuild-cache

Implement new Shelly Plus Plug S
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplusplugs/Config.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplusplugs/IoShellyPlusPlugs.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplusplugs/IoShellyPlusPlugsImpl.java
Due: build-java, restore-cache, rebuild-cache

Setting other Values to 0 on Phases if not used
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplusplugs/IoShellyPlusPlugsImpl.java
Due: build-java, restore-cache, rebuild-cache

Fix Current Measuring
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplus1pm/IoShellyPlus1PMImpl.java
Due: build-java, restore-cache, rebuild-cache

Fix Current Measuring
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplusplugs/IoShellyPlusPlugsImpl.java
Due: build-java, restore-cache, rebuild-cache

Updating MQTT Controller
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/ControllerApiMqttImpl.java
Due: build-java, restore-cache, rebuild-cache

Sum: improvements to max-ever-values (#1041)
  io.openems.edge.common/src/io/openems/edge/common/sum/Sum.java
  io.openems.edge.core/src/io/openems/edge/core/predictormanager/PredictorManagerImpl.java
  io.openems.edge.core/src/io/openems/edge/core/sum/Config.java
  io.openems.edge.core/src/io/openems/edge/core/sum/ExtremeEverValues.java
  io.openems.edge.core/src/io/openems/edge/core/sum/SumImpl.java
  io.openems.edge.core/test/io/openems/edge/core/sum/MyConfig.java
  io.openems.edge.predictor.api/src/io/openems/edge/predictor/api/prediction/Prediction.java
Due: build-java, restore-cache, rebuild-cache

Update Config.java for the Reconnection Interval
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/Config.java
Due: build-java, restore-cache, rebuild-cache

Update Config.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/Config.java
Due: build-java, restore-cache, rebuild-cache

Update MyConfig.java for the Test of reconnectionAttemptInterval
  io.openems.edge.controller.api.mqtt/test/io/openems/edge/controller/api/mqtt/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Update ControllerApiMqttImpl.java as requested
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/ControllerApiMqttImpl.java
Due: build-java, restore-cache, rebuild-cache

Update MyConfig.java
  io.openems.edge.controller.api.mqtt/test/io/openems/edge/controller/api/mqtt/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Update ControllerApiMqttImpl.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/ControllerApiMqttImpl.java
Due: build-java, restore-cache, rebuild-cache

"fix" bug for exception during deactivate
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/api/BridgeHttpFactory.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImpl.java
Due: build-java, restore-cache, rebuild-cache

Update CycleSubscriber.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/CycleSubscriber.java
Due: build-java, restore-cache, rebuild-cache

Refresh Index after install/delete
  ui/src/app/edge/settings/app/index.component.ts
  ui/src/app/edge/settings/app/install.component.ts
  ui/src/app/edge/settings/app/update.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update of the SelectField
  ui/src/app/shared/formly/formly-select-field.extended.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI Install/Update Component filter to lower case
  ui/src/app/edge/settings/component/install/index.component.ts
  ui/src/app/edge/settings/component/update/index.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Refactored
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/DeletModels.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/GetObject.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/HyperParameters.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/Saveobject.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/multithread/TrainInBatch.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/predictor/Config.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/predictor/LstmModelPredictorImpl.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/train/Config.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/train/LstmModelTrainImpl.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/train/LstmTrain.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/train/MakeModel.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/validator/Validation.java
  io.openems.edge.predictor.lstm/test/DeletModelTest.java
  io.openems.edge.predictor.lstm/test/HyperParametersTest.java
  io.openems.edge.predictor.lstm/test/MultiThreadTest.java
  io.openems.edge.predictor.lstm/test/StandAlonePrediction.java
  io.openems.edge.predictor.lstm/test/TrainInBatchTest.java
Due: build-java, restore-cache, rebuild-cache

Time-of-Use: fix calculation of DELAY_DISCHARGE with DC-PV (#1044)
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Utils.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/optimizer/UtilsTest.java
Due: build-java, restore-cache, rebuild-cache

feat: add japanese language support to ui
  ui/src/app/shared/type/language.ts
  ui/src/assets/i18n/ja.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

added time base requests to http bridge
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/BridgeHttpImpl.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/UrlFetcher.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/UrlFetcherImpl.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/api/BridgeHttp.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/api/BridgeHttpCycle.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/api/BridgeHttpTime.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/api/HttpMethod.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/dummy/DummyBridgeHttp.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/time/DefaultDelayTimeProvider.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/time/Delay.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/time/DelayTimeProvider.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/time/DelayTimeProviderChain.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/time/package-info.java
  io.openems.edge.bridge.http/test/io/openems/edge/bridge/http/DummyUrlFetcher.java
  io.openems.edge.bridge.http/test/io/openems/edge/bridge/http/api/BridgeHttpCycleTest.java
  io.openems.edge.bridge.http/test/io/openems/edge/bridge/http/api/BridgeHttpTest.java
  io.openems.edge.bridge.http/test/io/openems/edge/bridge/http/api/BridgeHttpTimeTest.java
  io.openems.edge.bridge.http/test/io/openems/edge/bridge/http/time/DelayTimeProviderChainTest.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImpl.java
Due: build-java, restore-cache, rebuild-cache

Update user.component.html to translate the Note
  ui/src/app/user/user.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update cz.json
  ui/src/assets/i18n/cz.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update de.json
  ui/src/assets/i18n/de.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update en.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location
