Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

[Common] Remove HiveMQ MQTT client dependency
  cnf/pom.xml
Due: none

Refactoring Tests, Only calling Register function 3 times
  io.openems.edge.meter.janitza/test/io/openems/edge/meter/janitza/umg806/MeterJanitzaUmg806ImplTest.java
Due: build-java, restore-cache, rebuild-cache

PLC-3: fetch access token successfully
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/PlcNextDeviceImpl.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/auth/PlcNextAuthClient.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/auth/PlcNextAuthClientConfig.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/auth/PlcNextTokenManager.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/gds/PlcNextApiCommand.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/gds/PlcNextGdsDataClient.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/gds/PlcNextGdsDataClientConfig.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/gds/PlcNextGdsProvider.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/gds/PlcNextReadFromApiResourceCommand.java
  io.openems.edge.io.phoenixcontact/test/io/openems/edge/io/phoenixcontact/PlcNextDeviceImplTest.java
  io.openems.edge.io.phoenixcontact/test/io/openems/edge/io/phoenixcontact/auth/PlcNextAuthClientTest.java
Due: build-java, restore-cache, rebuild-cache

PLC-3: WIP: start script to be used with custom truststore
  tools/phoenix/opt/openems/bin/PxC-PLCnext-Start-OpenEMS-Edge.sh
Due: none

PLC-3: auth log level to debug, do not query data
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/PlcNextDeviceImpl.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/auth/PlcNextAuthClient.java
Due: build-java, restore-cache, rebuild-cache

PLC-3: Install TLS certificate in JVM truststore
  tools/phoenix/opt/openems/bin/PLCnext-Install-TLS-Cert.sh
  tools/phoenix/opt/openems/bin/PLCnext-Start-OpenEMS-Edge.sh
Due: none

PLC-3: minor adjustment
  io.openems.edge.io.phoenixcontact/test/io/openems/edge/io/phoenixcontact/utils/PlcNextUrlStringHelperTest.java
Due: build-java, restore-cache, rebuild-cache

PLC-3: tests added and error handling improved
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/auth/PlcNextAuthClient.java
  io.openems.edge.io.phoenixcontact/test/io/openems/edge/io/phoenixcontact/auth/PlcNextAuthClientTest.java
Due: build-java, restore-cache, rebuild-cache

PLC-3: removed old clients, got in by merging
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/PlcNextAuthClient.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/PlcNextDataClient.java
Due: build-java, restore-cache, rebuild-cache

PLC-3: pipeline modification
  .gitlab-ci.yml
Due: none

PLC-3: PxC replaced by Phoenix Contact, introducing auth token refresh every five minutes only, call token manager only when there are commands to be executed
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/Config.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/PlcNextDeviceImpl.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/auth/PlcNextTokenManager.java
Due: build-java, restore-cache, rebuild-cache

Added EnergyScheduler to ChargeDischargeLimiter
  io.openems.edge.controller.ess.chargedischargelimiter/bnd.bnd
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerEssChargeDischargeLimiter.java
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerEssChargeDischargeLimiterImpl.java
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/EnergyScheduler.java
  io.openems.edge.controller.ess.setuseablevalues/.classpath
  io.openems.edge.controller.ess.setuseablevalues/.project
  io.openems.edge.controller.ess.setuseablevalues/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.controller.ess.setuseablevalues/.settings/org.eclipse.jdt.core.prefs
  io.openems.edge.controller.ess.setuseablevalues/bnd.bnd
  io.openems.edge.controller.ess.setuseablevalues/readme.adoc
  io.openems.edge.controller.ess.setuseablevalues/src/io/openems/edge/controller/ess/setuseablevalues/Config.java
  io.openems.edge.controller.ess.setuseablevalues/src/io/openems/edge/controller/ess/setuseablevalues/ControllerEssSetUseableValues.java
  io.openems.edge.controller.ess.setuseablevalues/src/io/openems/edge/controller/ess/setuseablevalues/ControllerEssSetUseableValuesImpl.java
  io.openems.edge.controller.ess.setuseablevalues/test/io/openems/edge/controller/ess/setuseablevalues/MyConfig.java
  io.openems.edge.controller.ess.setuseablevalues/test/io/openems/edge/controller/ess/setuseablevalues/MyControllerTest.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/SolarEdgeHybridEssImpl.java
Due: build-java, restore-cache, rebuild-cache

Conversion added to fix HTML parsing bug: kWh for Total Energy in HTML written without conversion into ActiveProductionEnergy that expects Wh
  io.openems.edge.pvinverter.kostal/src/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPikoImpl.java
Due: build-java, restore-cache, rebuild-cache

Apply prepare-commit.sh
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.bridge.mqtt/.gitignore
  io.openems.edge.bridge.mqtt/test/.gitignore
  ui/package-lock.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Formatting
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/BridgeMqtt.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/MqttComponent.java
Due: build-java, restore-cache, rebuild-cache

Add Consolinno Energy as original author of #1408
  io.openems.edge.bridge.mqtt/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

Add simple README
  io.openems.edge.bridge.mqtt/readme.adoc
Due: build-java, restore-cache, rebuild-cache

[Edge] Bridge.Mqtt: add MQTT Bridge implementation for OpenEMS Edge (#3458)
  cnf/pom.xml
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.bridge.mqtt/.classpath
  io.openems.edge.bridge.mqtt/.gitignore
  io.openems.edge.bridge.mqtt/.project
  io.openems.edge.bridge.mqtt/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.bridge.mqtt/bnd.bnd
  io.openems.edge.bridge.mqtt/readme.adoc
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/BridgeMqttImpl.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/Config.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/Mqtt3ConnectionHandler.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/Mqtt5ConnectionHandler.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/MqttConnectionHandler.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/SubscriptionHolder.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/BridgeMqtt.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/MqttComponent.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/MqttMessage.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/MqttVersion.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/QoS.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/package-info.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/package-info.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/test/DummyBridgeMqtt.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/test/package-info.java
  io.openems.edge.bridge.mqtt/test/.gitignore
  io.openems.edge.bridge.mqtt/test/io/openems/edge/bridge/mqtt/BridgeMqttImplTest.java
  io.openems.edge.bridge.mqtt/test/io/openems/edge/bridge/mqtt/DummyBridgeMqtt.java
  io.openems.edge.bridge.mqtt/test/io/openems/edge/bridge/mqtt/Mqtt3ConnectionHandlerTest.java
  io.openems.edge.bridge.mqtt/test/io/openems/edge/bridge/mqtt/Mqtt5ConnectionHandlerTest.java
  io.openems.edge.bridge.mqtt/test/io/openems/edge/bridge/mqtt/MqttConnectionHandlerTest.java
  io.openems.edge.bridge.mqtt/test/io/openems/edge/bridge/mqtt/MyConfig.java
  ui/package-lock.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Controller.TimeslotPeakshaving: fix endless while loop (#3464)
  io.openems.edge.controller.symmetric.timeslotpeakshaving/src/io/openems/edge/controller/timeslotpeakshaving/ControllerEssTimeslotPeakshavingImpl.java
Due: build-java, restore-cache, rebuild-cache

[Edge] PV-Inverter.Kostal.Piko: pix parsing of Total Energy (#3465)
  io.openems.edge.pvinverter.kostal/src/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPikoImpl.java
Due: build-java, restore-cache, rebuild-cache

[Common] Remove MQTT Bridge implementation and tests
  io.openems.edge.bridge.mqtt/.classpath
  io.openems.edge.bridge.mqtt/.project
  io.openems.edge.bridge.mqtt/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.bridge.mqtt/bnd.bnd
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/BridgeMqttImpl.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/Config.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/Mqtt3ConnectionHandler.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/Mqtt5ConnectionHandler.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/MqttConnectionHandler.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/SubscriptionHolder.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/BridgeMqtt.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/MqttComponent.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/MqttMessage.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/MqttVersion.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/QoS.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/package-info.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/package-info.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/test/DummyBridgeMqtt.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/test/package-info.java
  io.openems.edge.bridge.mqtt/test/io/openems/edge/bridge/mqtt/BridgeMqttImplTest.java
  io.openems.edge.bridge.mqtt/test/io/openems/edge/bridge/mqtt/Mqtt3ConnectionHandlerTest.java
  io.openems.edge.bridge.mqtt/test/io/openems/edge/bridge/mqtt/Mqtt5ConnectionHandlerTest.java
  io.openems.edge.bridge.mqtt/test/io/openems/edge/bridge/mqtt/MqttConnectionHandlerTest.java
  io.openems.edge.bridge.mqtt/test/io/openems/edge/bridge/mqtt/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[Common] Remove redundant dependencies
  cnf/pom.xml
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

first draft
  doc/modules/ROOT/pages/gettingstarted-newbies.adoc
Due: none

deployment script for raspberry.pi from klinki (see https://community.openems.io/t/edge-ui-deployment-ein-grober-leitfaden-raspberry-pi/729/44)
  doc/modules/ROOT/pages/deployment-raspi.sh
Due: none

temporary step
  doc/modules/ROOT/pages/gettingstarted-newbies.adoc
Due: none

after first review
  doc/modules/ROOT/pages/gettingstarted-newbies.adoc
Due: none

fixing the header
  doc/modules/ROOT/pages/edge/device_service.adoc
Due: none

after testing it through
  doc/modules/ROOT/assets/images/newbie-guide-UI-live-view.png
  doc/modules/ROOT/pages/gettingstarted-newbies.adoc
Due: none

ChargeDischargeLimiter: Clean up / checkstyle
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/Config.java
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerEssChargeDischargeLimiter.java
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerEssChargeDischargeLimiterImpl.java
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/EnergyScheduler.java
Due: build-java, restore-cache, rebuild-cache

Supply allowed string values of @AttributeDefinition channels in GetChannelsOfComponent request
  io.openems.common/src/io/openems/common/jsonrpc/request/GetChannelsOfComponent.java
  io.openems.edge.common/src/io/openems/edge/common/channel/Doc.java
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractDoc.java
  io.openems.edge.common/src/io/openems/edge/common/component/AbstractOpenemsComponent.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/ComponentManagerImpl.java
Due: build-java, restore-cache, rebuild-cache

PLC-20: Implementation of GDS data read
  .gitlab-ci.yml
  io.openems.edge.io.phoenixcontact/.project
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/Config.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/PlcNextDevice.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/PlcNextDeviceImpl.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/auth/PlcNextAuthAndAccessTokenDTO.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/auth/PlcNextAuthClient.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/auth/PlcNextAuthClientConfig.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/auth/PlcNextTokenManager.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/auth/PlcNextTokenManagerConfig.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/gds/PlcNextApiCommand.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/gds/PlcNextGdsDataAspect.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/gds/PlcNextGdsDataAspectType.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/gds/PlcNextGdsDataClient.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/gds/PlcNextGdsDataClientConfig.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/gds/PlcNextGdsDataMappedValue.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/gds/PlcNextGdsDataMappingException.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/gds/PlcNextGdsDataProvider.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/gds/PlcNextGdsDataProviderConfig.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/gds/PlcNextGdsDataToChannelMapper.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/gds/PlcNextGdsProvider.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/gds/PlcNextReadFromApiResourceCommand.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/gds/enums/PlcNextGdsDataType.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/gds/enums/PlcNextGdsDataVariableDefinition.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/utils/PlcNextDelayTimeProvider.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/utils/PlcNextJsonElementHelper.java
  io.openems.edge.io.phoenixcontact/test/io/openems/edge/io/phoenixcontact/PlcNextDeviceImplTest.java
  io.openems.edge.io.phoenixcontact/test/io/openems/edge/io/phoenixcontact/TestConfig.java
  io.openems.edge.io.phoenixcontact/test/io/openems/edge/io/phoenixcontact/auth/PlcNextTokenManagerTest.java
  io.openems.edge.io.phoenixcontact/test/io/openems/edge/io/phoenixcontact/gds/PlcNextGdsDataProviderTest.java
  io.openems.edge.io.phoenixcontact/test/io/openems/edge/io/phoenixcontact/gds/PlcNextGdsDataToChannelMapperTest.java
  tools/phoenix/etc/systemd/system/openems.service
  tools/phoenix/opt/plcnext/openems/bin/PLCnext-Install-TLS-Cert.sh
  tools/phoenix/opt/plcnext/openems/bin/PLCnext-Start-OpenEMS-Edge.sh
  tools/phoenix/opt/plcnext/openems/conf/README.md
  tools/phoenix/opt/plcnext/openems/data/README.md
Due: build-java, restore-cache, rebuild-cache

PLC-20: session management integrated
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/Config.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/PlcNextDeviceImpl.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/auth/PlcNextTokenManager.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/gds/PlcNextGdsDataMappedValue.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/gds/PlcNextGdsDataProvider.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/gds/PlcNextGdsDataToChannelMapper.java
  io.openems.edge.io.phoenixcontact/src/io/openems/edge/io/phoenixcontact/gds/enums/PlcNextGdsDataVariableDefinition.java
  io.openems.edge.io.phoenixcontact/test/io/openems/edge/io/phoenixcontact/PlcNextDeviceImplTest.java
  io.openems.edge.io.phoenixcontact/test/io/openems/edge/io/phoenixcontact/TestConfig.java
  io.openems.edge.io.phoenixcontact/test/io/openems/edge/io/phoenixcontact/gds/PlcNextGdsDataProviderTest.java
  io.openems.edge.io.phoenixcontact/test/io/openems/edge/io/phoenixcontact/gds/PlcNextGdsDataToChannelMapperTest.java
Due: build-java, restore-cache, rebuild-cache

PLC-20: correct merge to wrong branch
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

PLC-20: optimize memory consumption on result mapping
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/PlcNextDeviceImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/gds/PlcNextGdsDataProvider.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/gds/PlcNextGdsDataProviderConfig.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/gds/PlcNextGdsDataToChannelMapper.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/gds/enums/PlcNextGdsDataVariableDefinition.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/PlcNextDeviceImplTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/TestConfig.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/auth/PlcNextTokenManagerTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/gds/PlcNextGdsDataProviderTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/gds/PlcNextGdsDataToChannelMapperTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/utils/PlcNextUrlStringHelperTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] Enhance breadcrumbs with pointer cursor style (#3413)
  ui/src/app/shared/components/navigation/bread-crumbs/breadcrumbs.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Simulator.Datasource.Single.Channel: add datasource for dynamic simulation input (#3448)
  io.openems.edge.simulator/readme.adoc
  io.openems.edge.simulator/src/io/openems/edge/simulator/datasource/api/AbstractDatasource.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/datasource/csv/predefined/SimulatorDatasourceCsvPredefinedImpl.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/datasource/single/channel/Config.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/datasource/single/channel/SimulatorDatasourceSingleChannel.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/datasource/single/channel/SimulatorDatasourceSingleChannelImpl.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/datasource/single/direct/SimulatorDatasourceSingleDirectImpl.java
  io.openems.edge.simulator/test/io/openems/edge/simulator/datasource/single/channel/MyConfig.java
  io.openems.edge.simulator/test/io/openems/edge/simulator/datasource/single/channel/SimulatorDatasourceSingleChannelImplTest.java
  io.openems.edge.simulator/test/io/openems/edge/simulator/datasource/single/direct/SimulatorDatasourceSingleDirectImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Docs] Move development environment setup from getting started to a separate page (#3268)
  doc/modules/ROOT/assets/images/sourcetree.png
  doc/modules/ROOT/nav.adoc
  doc/modules/ROOT/pages/development/coding-guidelines.adoc
  doc/modules/ROOT/pages/development/documentation.adoc
  doc/modules/ROOT/pages/development/ide/eclipse.adoc
  doc/modules/ROOT/pages/development/ide/intellij.adoc
  doc/modules/ROOT/pages/development/overview.adoc
  doc/modules/ROOT/pages/gettingstarted.adoc
Due: none

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
