Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  volumes:
  - cache:/cache
  group: restore

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  volumes:
  - cache:/cache
  group: refresh

UI: Production/Grid Modal improvements (#464)
  ui/src/app/edge/live/Controller/Ess/FixActivePower/modal/modal.html
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/modal/modal.html
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/modal/modal.html
  ui/src/app/edge/live/Controller/Io/HeatingElement/modal/modal.html
  ui/src/app/edge/live/common/consumption/modal/modal.html
  ui/src/app/edge/live/common/grid/modal/modal.html
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/edge/live/common/production/modal/modal.html
  ui/src/app/edge/live/common/production/modal/modal.ts
  ui/src/app/shared/edge/meter/asymmetric/modal.component.html
  ui/src/app/shared/edge/meter/asymmetric/modal.component.ts
  ui/src/app/shared/edge/meter/esscharger/modal.component.html
  ui/src/app/shared/edge/meter/esscharger/modal.component.ts
  ui/src/app/shared/edge/meter/symmetric/modal.component.html
  ui/src/app/shared/edge/meter/symmetric/modal.component.ts
  ui/src/app/shared/genericComponents/genericComponents.ts
  ui/src/app/shared/genericComponents/modal/abstract-modal-line.ts
  ui/src/app/shared/genericComponents/modal/modal-line/modal-line-item/modal-line-item.html
  ui/src/app/shared/genericComponents/modal/modal-line/modal-line-item/modal-line-item.ts
  ui/src/app/shared/genericComponents/modal/modal-line/modal-line.html
  ui/src/app/shared/genericComponents/modal/modal-line/modal-line.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev

Update Changelog for 2022.11.5
  ui/src/app/changelog/changelog.component.ts
Due: build-ui, refresh-dev

Push version to 2022.11.5
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Start development of version 2022.11.6-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

FENECON Commercial Battery: Soltaro Battery Protection Update (#413)
  io.openems.edge.battery.soltaro/src/io/openems/edge/battery/soltaro/common/batteryprotection/AbstractBatteryProtectionDefinitionSoltaro.java
  io.openems.edge.battery.soltaro/src/io/openems/edge/battery/soltaro/common/batteryprotection/BatteryProtectionDefinitionSoltaro3500Wh.java
Due: build-java, restore-cache, rebuild-cache

UI: Injection for Translatemodule + extract oe-modal-meter-phases (#465)
  ui/src/app/edge/live/common/grid/modal/modal.html
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/shared/genericComponents/genericComponents.ts
  ui/src/app/shared/genericComponents/modal/abstract-modal-line.ts
  ui/src/app/shared/genericComponents/modal/modal-line/modal-line-item/modal-line-item.html
  ui/src/app/shared/genericComponents/modal/modal-line/modal-line.html
  ui/src/app/shared/genericComponents/modal/modal-phases/modal-phases.html
  ui/src/app/shared/genericComponents/modal/modal-phases/modal-phases.ts
Due: build-ui, refresh-dev

Update FENECON Backend websocket URL (#466)
  ui/src/themes/fenecon/environments/backend-prod.ts
Due: build-ui, refresh-dev

Update Changelog for 2022.11.6
  ui/src/app/changelog/changelog.component.ts
Due: build-ui, refresh-dev

Push version to 2022.11.6
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Start development of version 2022.11.7-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

> test
  io.openems.backend.alerting/.classpath
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/postgres/InitializeEdgesWorker.java
  ui/src/app/edge/history/common/autarchy/chart/chart.ts
  ui/src/app/edge/history/common/production/chart/chargerChart.ts
  ui/src/app/edge/history/common/production/chart/productionMeterChart.ts
  ui/src/app/edge/history/common/production/chart/totalAcChart.ts
  ui/src/app/edge/history/common/production/chart/totalChart.ts
  ui/src/app/edge/history/common/production/chart/totalDcChart.ts
  ui/src/app/edge/history/common/production/overview/overview.html
  ui/src/app/edge/history/common/production/overview/overview.ts
  ui/src/app/edge/history/shared.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/modal/modal.ts
  ui/src/app/shared/genericComponents/chart/abstractHistoryChartOverView.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/chart/chart.html
  ui/src/app/shared/genericComponents/chart/chart.ts
  ui/src/app/shared/service/utils.ts
  ui/src/themes/fenecon/environments/backend-dev.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

UI: Use `oe-modal-meter-phases` in more places (#468)
  ui/src/app/shared/edge/meter/asymmetric/modal.component.html
Due: build-ui, refresh-dev

Update Changelog for 2022.11.7
  ui/src/app/changelog/changelog.component.ts
Due: build-ui, refresh-dev

Push version to 2022.11.7
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Start development of version 2022.11.8-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

AppCenter: Backend changes for Keys (#368)
  io.openems.backend.common/src/io/openems/backend/common/metadata/AppCenterHandler.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/AppCenterMetadata.java
  io.openems.backend.core/src/io/openems/backend/core/jsonrpcrequesthandler/EdgeRpcRequestHandler.java
  io.openems.backend.core/src/io/openems/backend/core/jsonrpcrequesthandler/JsonRpcRequestHandlerImpl.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/EdgeWebsocketImpl.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/OnRequest.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/OdooMetadata.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooHandler.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooUtils.java
  io.openems.common/src/io/openems/common/jsonrpc/request/AppCenterAddDeinstallInstanceHistoryRequest.java
  io.openems.common/src/io/openems/common/jsonrpc/request/AppCenterAddInstallInstanceHistoryRequest.java
  io.openems.common/src/io/openems/common/jsonrpc/request/AppCenterAddRegisterKeyHistoryRequest.java
  io.openems.common/src/io/openems/common/jsonrpc/request/AppCenterAddUnregisterKeyHistoryRequest.java
  io.openems.common/src/io/openems/common/jsonrpc/request/AppCenterGetInstalledAppsRequest.java
  io.openems.common/src/io/openems/common/jsonrpc/request/AppCenterGetPossibleAppsRequest.java
  io.openems.common/src/io/openems/common/jsonrpc/request/AppCenterGetRegisteredKeysRequest.java
  io.openems.common/src/io/openems/common/jsonrpc/request/AppCenterIsKeyApplicableRequest.java
  io.openems.common/src/io/openems/common/jsonrpc/request/AppCenterRequest.java
  io.openems.common/src/io/openems/common/jsonrpc/response/AppCenterGetInstalledAppsResponse.java
  io.openems.common/src/io/openems/common/jsonrpc/response/AppCenterGetPossibleAppsResponse.java
  io.openems.common/src/io/openems/common/jsonrpc/response/AppCenterGetRegisteredKeysResponse.java
  io.openems.common/src/io/openems/common/jsonrpc/response/AppCenterIsKeyApplicableResponse.java
Due: build-java, restore-cache, rebuild-cache

> update production
  ui/src/app/edge/history/common/production/chart/totalChart.ts
  ui/src/app/edge/history/common/production/overview/overview.html
  ui/src/app/edge/history/common/production/overview/overview.ts
  ui/src/app/shared/genericComponents/chart/abstractHistoryChartOverView.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/chart/chart.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev

UI: Fix imports
  ui/src/app/edge/history/energy/energy.component.ts
Due: build-ui, refresh-dev

Fix UI
  ui/package-lock.json
  ui/src/app/edge/live/live.component.ts
Due: build-ui, refresh-dev

UI: Login improvements (#471)
  ui/src/app/edge/live/live.component.ts
  ui/src/app/index/index.component.html
  ui/src/app/index/index.component.ts
  ui/src/app/shared/service/websocket.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev

> finalize to be tested
  ui/src/app/edge/history/common/production/chart/totalAcChart.ts
  ui/src/app/edge/history/common/production/chart/totalChart.ts
  ui/src/app/edge/history/common/production/overview/overview.html
  ui/src/app/shared/genericComponents/chart/abstractHistoryChartOverView.ts
  ui/src/app/shared/genericComponents/chart/chart.html
  ui/src/app/shared/genericComponents/chart/chart.ts
Due: build-ui, refresh-dev

> clean PR
  io.openems.backend.alerting/.classpath
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/postgres/InitializeEdgesWorker.java
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/modal/modal.html
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/modal/modal.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

> test
  ui/.gitignore
Due: build-ui, refresh-dev

# fix gradle settings.gradle: include directories with build.gradle build.gradle: modified to work also for non bnd projects
  build.gradle
  settings.gradle
Due: build-java, restore-cache, rebuild-cache

UI: Login improvements
  ui/src/app/edge/live/live.component.ts
  ui/src/app/index/index.component.html
  ui/src/app/index/index.component.ts
  ui/src/app/shared/service/websocket.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev

UI: Login improvements (#2007)
  ui/src/app/edge/live/live.component.ts
  ui/src/app/index/index.component.html
  ui/src/app/index/index.component.ts
  ui/src/app/shared/service/websocket.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev

Fix Gradle buildAntoraDocs (#2006)
  build.gradle
  settings.gradle
Due: build-java, restore-cache, rebuild-cache

ESS Cluster Start Stop Implementation (#439)
  io.openems.edge.ess.cluster/bnd.bnd
  io.openems.edge.ess.cluster/src/io/openems/edge/ess/cluster/ChannelManager.java
  io.openems.edge.ess.cluster/src/io/openems/edge/ess/cluster/Config.java
  io.openems.edge.ess.cluster/src/io/openems/edge/ess/cluster/EssCluster.java
  io.openems.edge.ess.cluster/src/io/openems/edge/ess/cluster/EssClusterImpl.java
  io.openems.edge.ess.cluster/test/io/openems/edge/ess/cluster/EssClusterTest.java
  io.openems.edge.ess.cluster/test/io/openems/edge/ess/cluster/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

UI: Removed static edge name from strings. (#473)
  ui/src/app/edge/installation/shared/category.ts
  ui/src/app/edge/installation/views/configuration-summary/configuration-summary.component.ts
  ui/src/assets/i18n/cz.json
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/es.json
  ui/src/assets/i18n/fr.json
  ui/src/assets/i18n/nl.json
Due: build-ui, refresh-dev

Push version to 2022.12.0
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Start development of version 2023.1.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

UI: IBN-Commercial translation (#432)
  ui/src/app/edge/installation/installation-systems/abstract-ibn.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-30/abstract-commercial-30.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-30/commercial30-anschluss.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-30/commercial30-netztrenn.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-50/abstract-commercial-50.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-50/commercial50-eigenverbrauchsoptimierung.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-50/commercial50-lastspitzenkappung.ts
  ui/src/app/edge/installation/shared/category.ts
  ui/src/app/edge/installation/views/configuration-features-storage-system/configuration-features-storage-system.component.html
  ui/src/app/edge/installation/views/configuration-features-storage-system/configuration-features-storage-system.component.ts
  ui/src/app/edge/installation/views/configuration-peak-shaving/configuration-peak-shaving.component.html
  ui/src/app/edge/installation/views/configuration-peak-shaving/configuration-peak-shaving.component.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev

GoodWe Grid-Meter: fix unit of Frequency
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/gridmeter/GoodWeGridMeterImpl.java
Due: build-java, restore-cache, rebuild-cache

GoodWe Grid-Meter: fix unit of Frequency (#2008)
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/gridmeter/GoodWeGridMeterImpl.java
Due: build-java, restore-cache, rebuild-cache

Fix woodpecker (again) (#476)
  .woodpecker/.java-build-master-develop.yml
  .woodpecker/.java-build.yml
Due: build-java, restore-cache, rebuild-cache

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml, .woodpecker/**)
  build-ui: any of: ui/**, **/.woodpecker.yml
  refresh-dev: any of: ui/**, **/.woodpecker.yml
  restore-cache: any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml, .woodpecker/**
  rebuild-cache: any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml, .woodpecker/**
