Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

Hardy Barth: read-only app
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/EvcsProps.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/HardyBarthEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/KebaEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/readonly/AppHardyBarthReadOnly.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/api/WriteHandler.java
  io.openems.edge.evcs.hardybarth/src/io/openems/edge/evcs/hardybarth/Config.java
  io.openems.edge.evcs.hardybarth/src/io/openems/edge/evcs/hardybarth/EvcsHardyBarthImpl.java
  io.openems.edge.evcs.hardybarth/test/io/openems/edge/evcs/hardybarth/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

CM4 GPIO compatibility
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHomeComponents.java
  io.openems.edge.core/src/io/openems/edge/app/openemshardware/TechbaseCm4.java
Due: build-java, restore-cache, rebuild-cache

Prometheus: add endpoint for OpenEMS Backend
  cnf/pom.xml
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.common/src/io/openems/backend/common/debugcycle/MetricsConsumer.java
  io.openems.backend.core/src/io/openems/backend/core/debugcycle/DebugCycleExecutor.java
  io.openems.backend.core/src/io/openems/backend/core/timedatamanager/TimedataManagerImpl.java
  io.openems.backend.metrics.prometheus/.classpath
  io.openems.backend.metrics.prometheus/.gitignore
  io.openems.backend.metrics.prometheus/.project
  io.openems.backend.metrics.prometheus/.settings/org.eclipse.core.resources.prefs
  io.openems.backend.metrics.prometheus/bnd.bnd
  io.openems.backend.metrics.prometheus/readme.adoc
  io.openems.backend.metrics.prometheus/src/io/openems/backend/metrics/prometheus/Config.java
  io.openems.backend.metrics.prometheus/src/io/openems/backend/metrics/prometheus/PrometheusClient.java
  io.openems.backend.metrics.prometheus/src/io/openems/backend/metrics/prometheus/PrometheusMetrics.java
  io.openems.backend.metrics.prometheus/src/io/openems/backend/metrics/prometheus/package-info.java
  io.openems.backend.metrics.prometheus/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

GoodWe: improvements
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/GoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/enums/DredCmd.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImplTest.java
Due: build-java, restore-cache, rebuild-cache

UI: fix width of custom period on ios res
  ui/src/app/shared/components/pickdate/popover/popover.component.ts
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Common: add CollectorUtils
  io.openems.common/src/io/openems/common/utils/CollectorUtils.java
  io.openems.common/test/io/openems/common/utils/CollectorUtilsTest.java
Due: build-java, restore-cache, rebuild-cache

GPIO: add Modberry CM4s
  io.openems.edge.io.gpio/src/io/openems/edge/io/gpio/hardware/HardwareType.java
  io.openems.edge.io.gpio/src/io/openems/edge/io/gpio/hardware/ModBerryX500.java
  io.openems.edge.io.gpio/src/io/openems/edge/io/gpio/hardware/ModberryX500M40804Max.java
  io.openems.edge.io.gpio/src/io/openems/edge/io/gpio/hardware/ModberryX500M40804Wb.java
  io.openems.edge.io.gpio/src/io/openems/edge/io/gpio/hardware/ModberryX500M4S.java
  io.openems.edge.io.gpio/test/io/openems/edge/io/gpio/ModberryCM4Test.java
Due: build-java, restore-cache, rebuild-cache

AppCenter: update hardware gpio config
  io.openems.edge.core/src/io/openems/edge/app/hardware/GpioHardwareType.java
  io.openems.edge.core/src/io/openems/edge/app/hardware/IoGpio.java
  io.openems.edge.core/src/io/openems/edge/app/openemshardware/TechbaseCm3.java
  io.openems.edge.core/src/io/openems/edge/app/openemshardware/TechbaseCm4.java
  io.openems.edge.core/src/io/openems/edge/app/openemshardware/TechbaseCm4s.java
  io.openems.edge.core/src/io/openems/edge/app/openemshardware/TechbaseCm4sGen2.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/AppManagerAppHelperImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerTestBundle.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/validator/relaycount/DeviceHardwareFilterTest.java
Due: build-java, restore-cache, rebuild-cache

Backend: Alerting metrics
  io.openems.backend.alerting/src/io/openems/backend/alerting/Alerting.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/Handler.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/HandlerMetrics.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/handler/OfflineEdgeHandler.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/handler/SumStateHandler.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/message/SumStateMessage.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/SumStateAlertingTest.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/scheduler/SchedulerTest.java
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/MetadataDummy.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooHandler.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooUtils.java
  io.openems.backend.metrics.prometheus/src/io/openems/backend/metrics/prometheus/PrometheusClient.java
  io.openems.backend.metrics.prometheus/src/io/openems/backend/metrics/prometheus/PrometheusMetrics.java
  io.openems.backend.simulator/.classpath
  io.openems.backend.simulator/.gitignore
  io.openems.backend.simulator/.project
  io.openems.backend.simulator/.settings/org.eclipse.core.resources.prefs
  io.openems.backend.simulator/bnd.bnd
  io.openems.backend.simulator/src/io/openems/backend/simulator/mailer/Config.java
  io.openems.backend.simulator/src/io/openems/backend/simulator/mailer/SimulatorMailer.java
Due: build-java, restore-cache, rebuild-cache

UI: apply dynamicscaling to voltage y axis, remove phase-accurate from page title
  ui/src/app/edge/history/common/production/details/details.overview.html
  ui/src/app/shared/components/edge/meter/currentVoltage/chart/asymmetricMeter.ts
  ui/src/app/shared/components/edge/meter/currentVoltage/chart/symmetricMeter.ts
  ui/src/app/shared/components/edge/meter/currentVoltage/currentVoltage.overview.html
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix websocket reconnect subscribe duplicates
  ui/src/app/edge/edge.component.ts
  ui/src/app/shared/service/pagination.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Pull to refresh dark mode adjustment
  ui/src/app/shared/components/pull-to-refresh/pull-to-refresh.ts
  ui/src/environments/index.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: chartjs box to circle
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/common/energy/chart/channels.spec.ts
  ui/src/app/edge/history/shared.ts
  ui/src/app/edge/live/common/storage/modal/modal.component.html
  ui/src/app/edge/live/live.component.html
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/components/chart/chart.constants.ts
  ui/src/app/shared/components/modal/modal.module.ts
  ui/src/app/shared/components/pickdate/popover/popover.component.ts
  ui/src/app/shared/components/shared/testing/common.ts
  ui/src/app/shared/components/shared/testing/tester.ts
  ui/src/app/shared/type/utility.ts
  ui/src/app/shared/utils/object/object.utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: formatting Dyn-Tarif Y-axis for Percentage
  ui/src/app/edge/history/Controller/Ess/TimeOfUseTariff/chart/chart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

GoodWe: cleanup
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImplTest.java
Due: build-java, restore-cache, rebuild-cache

ToU: Rename rabot.charge to rabot.energy
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/RabotCharge.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.timeofusetariff.rabotcharge/src/io/openems/edge/timeofusetariff/rabotcharge/Config.java
Due: build-java, restore-cache, rebuild-cache

UI: cleanup alerting
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/live/live.module.ts
  ui/src/app/edge/settings/alerting/alerting.component.html
  ui/src/app/edge/settings/alerting/alerting.component.ts
  ui/src/app/edge/settings/alerting/alerting.module.ts
  ui/src/app/edge/settings/alerting/formly/alerting.scss
  ui/src/app/edge/settings/alerting/formly/formly-alerting-configs.ts
  ui/src/app/edge/settings/alerting/formly/formly-current-user-alerting.html
  ui/src/app/edge/settings/alerting/formly/formly-current-user-alerting.ts
  ui/src/app/edge/settings/alerting/formly/formly-other-users-alerting.html
  ui/src/app/edge/settings/alerting/formly/formly-other-users-alerting.ts
  ui/src/app/edge/settings/alerting/shared/translation.json
  ui/src/app/edge/settings/settings.module.ts
  ui/src/app/shared/components/components.module.ts
  ui/src/app/shared/components/modal/help-button/help-button.ts
  ui/src/app/shared/components/modal/modal-button/modal-button.html
  ui/src/app/shared/components/modal/modal.module.ts
  ui/src/app/shared/components/shared/view-component/help-popover/help-popover.html
  ui/src/app/shared/components/shared/view-component/help-popover/help-popover.ts
  ui/src/app/shared/shared.module.ts
  ui/src/app/shared/utils/form/form.utils.spec.ts
  ui/src/app/shared/utils/form/form.utils.ts
  ui/src/app/shared/utils/time/timeutils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Edge: Added ranking of predictors in PredictorManager
  io.openems.edge.core/src/io/openems/edge/core/predictormanager/Config.java
  io.openems.edge.core/src/io/openems/edge/core/predictormanager/PredictorManagerImpl.java
  io.openems.edge.core/test/io/openems/edge/core/predictormanager/MyConfig.java
  io.openems.edge.core/test/io/openems/edge/core/predictormanager/PredictorManagerImplTest.java
Due: build-java, restore-cache, rebuild-cache

AppCenter add default value of gpio
  ui/src/app/edge/edge.component.ts
  ui/src/app/shared/service/pagination.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: improve error logging to backend
  ui/src/app/shared/service/logger.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix build
  io.openems.backend.timedata.influx/src/io/openems/backend/timedata/influx/TimedataInfluxDb.java
  io.openems.edge.evse.chargepoint.heidelberg/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

Fix build
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/OnRequest.java
  io.openems.edge.core/src/io/openems/edge/app/hardware/IoGpio.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial92.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercialComponents.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercialProps.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/AwattarHourly.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/EntsoE.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/GroupeE.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/RabotCharge.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/StadtwerkHassfurt.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/StromdaoCorrently.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/Tibber.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/Checkables.java
  io.openems.edge.core/test/io/openems/edge/app/evcs/TestEvcsCluster.java
Due: build-java, restore-cache, rebuild-cache

Organize imports
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/AwattarHourly.java
Due: build-java, restore-cache, rebuild-cache

App Center ModbusApiProps: fix translation key of changeComponentHint (#3128)
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
Due: build-java, restore-cache, rebuild-cache

Fix JUnit test to detect missing english translation key
  io.openems.edge.core/test/io/openems/edge/core/appmanager/GetAppAssistantTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
Due: build-java, restore-cache, rebuild-cache

Show all gradle errors
  .github/workflows/build.yml
Due: none

Fix JsonNull
  io.openems.edge.core/src/io/openems/edge/app/api/ModbusRtuApiReadOnly.java
  io.openems.edge.core/src/io/openems/edge/app/ess/Limiter14a.java
  io.openems.edge.core/src/io/openems/edge/app/hardware/IoGpio.java
Due: build-java, restore-cache, rebuild-cache

add missing configuration parameters for test
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
Due: build-java, restore-cache, rebuild-cache

prepare-commit
  .github/workflows/build.yml
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Disable UiWebsocketValidator
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/UiWebsocketValidator.java
Due: build-java, restore-cache, rebuild-cache

App Center: fix JUnit test to detect missing english translation keys (#3145)
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/UiWebsocketValidator.java
  io.openems.edge.core/src/io/openems/edge/app/api/ModbusRtuApiReadOnly.java
  io.openems.edge.core/src/io/openems/edge/app/ess/Limiter14a.java
  io.openems.edge.core/src/io/openems/edge/app/hardware/IoGpio.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/GetAppAssistantTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
Due: build-java, restore-cache, rebuild-cache

renaming package
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.evcc.api/readme.adoc
  io.openems.edge.evcc/.classpath
  io.openems.edge.evcc/.gitignore
  io.openems.edge.evcc/.project
  io.openems.edge.evcc/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.evcc/bnd.bnd
  io.openems.edge.evcc/readme.adoc
  io.openems.edge.evcc/src/io/openems/edge/evcc/gridtariff/Config.java
  io.openems.edge.evcc/src/io/openems/edge/evcc/gridtariff/TimeOfUseGridTariffEvcc.java
  io.openems.edge.evcc/src/io/openems/edge/evcc/gridtariff/TimeOfUseGridTariffEvccApi.java
  io.openems.edge.evcc/src/io/openems/edge/evcc/gridtariff/TimeOfUseGridTariffEvccImpl.java
  io.openems.edge.evcc/src/io/openems/edge/evcc/solartariff/Config.java
  io.openems.edge.evcc/src/io/openems/edge/evcc/solartariff/PredictorSolarTariffEvcc.java
  io.openems.edge.evcc/src/io/openems/edge/evcc/solartariff/PredictorSolarTariffEvccApi.java
  io.openems.edge.evcc/src/io/openems/edge/evcc/solartariff/PredictorSolarTariffEvccImpl.java
  io.openems.edge.evcc/test/.gitignore
  io.openems.edge.evcc/test/io/openems/edge/evcc/gridtariff/MyConfig.java
  io.openems.edge.evcc/test/io/openems/edge/evcc/gridtariff/TimeOfUseGridTariffEvccImplTest.java
  io.openems.edge.evcc/test/io/openems/edge/evcc/solartariff/MyConfig.java
  io.openems.edge.evcc/test/io/openems/edge/evcc/solartariff/PredictorSolarTariffEvccImplTest.java
Due: build-java, restore-cache, rebuild-cache

Update bnd.bnd
  io.openems.edge.evcc/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update dependabot
  .github/dependabot.yml
Due: none
