Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

SH Netz (Schleswig-Holstein Netz)
  io.openems.edge.timeofusetariff.api/src/io/openems/edge/timeofusetariff/api/GermanDSO.java
Due: build-java, restore-cache, rebuild-cache

westnetz
  io.openems.edge.timeofusetariff.api/src/io/openems/edge/timeofusetariff/api/GermanDSO.java
Due: build-java, restore-cache, rebuild-cache

E.DIS Netz
  io.openems.edge.timeofusetariff.api/src/io/openems/edge/timeofusetariff/api/GermanDSO.java
Due: build-java, restore-cache, rebuild-cache

Avacon Netz
  io.openems.edge.timeofusetariff.api/src/io/openems/edge/timeofusetariff/api/GermanDSO.java
Due: build-java, restore-cache, rebuild-cache

LEW Verteilnetz
  io.openems.edge.timeofusetariff.api/src/io/openems/edge/timeofusetariff/api/GermanDSO.java
Due: build-java, restore-cache, rebuild-cache

Thüringer Energienetze (TE Netze)
  io.openems.edge.timeofusetariff.api/src/io/openems/edge/timeofusetariff/api/GermanDSO.java
Due: build-java, restore-cache, rebuild-cache

Netze ODR
  io.openems.edge.timeofusetariff.api/src/io/openems/edge/timeofusetariff/api/GermanDSO.java
Due: build-java, restore-cache, rebuild-cache

Simplify definition of Quarters
  io.openems.edge.timeofusetariff.api/src/io/openems/edge/timeofusetariff/api/AncillaryCosts.java
  io.openems.edge.timeofusetariff.api/src/io/openems/edge/timeofusetariff/api/GermanDSO.java
  io.openems.edge.timeofusetariff.api/test/io/openems/edge/timeofusetariff/api/GermanDSOTest.java
Due: build-java, restore-cache, rebuild-cache

Fix JUnit tests
  io.openems.edge.timeofusetariff.ancillarycosts/test/io/openems/edge/timeofusetariff/ancillarycosts/TouAncillaryCostsTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/TouEntsoeTest.java
Due: build-java, restore-cache, rebuild-cache

Review fixes
  io.openems.edge.timeofusetariff.api/test/io/openems/edge/timeofusetariff/api/GermanDSOTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/TouEntsoeTest.java
Due: build-java, restore-cache, rebuild-cache

Review fixes
  io.openems.edge.timeofusetariff.ancillarycosts/test/io/openems/edge/timeofusetariff/ancillarycosts/TouAncillaryCostsTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Update GermanDSO: zeitvariable Netzentgelte §14a Modul 3 for 2026 (#3473)
  io.openems.edge.timeofusetariff.ancillarycosts/test/io/openems/edge/timeofusetariff/ancillarycosts/TouAncillaryCostsTest.java
  io.openems.edge.timeofusetariff.api/src/io/openems/edge/timeofusetariff/api/AncillaryCosts.java
  io.openems.edge.timeofusetariff.api/src/io/openems/edge/timeofusetariff/api/GermanDSO.java
  io.openems.edge.timeofusetariff.api/test/io/openems/edge/timeofusetariff/api/GermanDSOTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/TouEntsoeTest.java
Due: build-java, restore-cache, rebuild-cache

UI patch and minor updates
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Downgrade zone.js
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

PLC-28: install OpenEMS-UI on device
  .gitignore
  tools/phoenix/deploy/openems-edge/etc/systemd/system/openems.service
  tools/phoenix/deploy/openems-edge/opt/plcnext/apps/openems-edge/bin/PLCnext-Install-TLS-Cert.sh
  tools/phoenix/deploy/openems-edge/opt/plcnext/apps/openems-edge/bin/PLCnext-Start-OpenEMS-Edge.sh
  tools/phoenix/deploy/openems-edge/opt/plcnext/apps/openems-edge/bin/README.md
  tools/phoenix/deploy/openems-edge/opt/plcnext/apps/openems-edge/conf/README.md
  tools/phoenix/deploy/openems-edge/opt/plcnext/apps/openems-edge/data/README.md
  tools/phoenix/deploy/openems-edge/opt/plcnext/apps/openems-edge/lib/README.md
  tools/phoenix/deploy/openems-ui/README.md
  tools/phoenix/deploy/openems-ui/etc/nginx/sites-available/openems-ui.conf
  tools/phoenix/deploy/openems-ui/opt/plcnext/apps/openems-ui/html/README.md
  tools/phoenix/deploy/openems-ui/opt/plcnext/apps/openems-ui/nginx/openems-edge-proxy.location.conf
  tools/phoenix/deploy/openems-ui/opt/plcnext/apps/openems-ui/nginx/openems-rest-proxy.location.conf
  tools/phoenix/deploy/openems-ui/opt/plcnext/apps/openems-ui/nginx/openems-ui.location.conf
  tools/phoenix/local/README.md
  tools/phoenix/local/openems-ui/etc/nginx/conf.d/openems-ui.conf
  tools/phoenix/local/run-openems-ui-on-docker.sh
  tools/phoenix/opt/plcnext/openems/conf/README.md
  tools/phoenix/opt/plcnext/openems/data/README.md
Due: none

Deye Improvements
  io.openems.edge.deye/src/io/openems/edge/deye/battery/DeyeSunBattery.java
  io.openems.edge.deye/src/io/openems/edge/deye/battery/DeyeSunBatteryImpl.java
  io.openems.edge.deye/src/io/openems/edge/deye/ess/AllowedChargeDischargeHandler.java
  io.openems.edge.deye/src/io/openems/edge/deye/ess/ApplyPowerHandler.java
Due: build-java, restore-cache, rebuild-cache

reduce load
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/Simulator.java
Due: build-java, restore-cache, rebuild-cache

Merged MrDomeks Code to hybrid component
  io.openems.edge.deye/src/io/openems/edge/deye/dccharger/DeyeDcChargerImpl.java
  io.openems.edge.deye/src/io/openems/edge/deye/ess/ApplyPowerHandler.java
  io.openems.edge.deye/src/io/openems/edge/deye/ess/DeyeSunHybrid.java
  io.openems.edge.deye/src/io/openems/edge/deye/ess/DeyeSunHybridImpl.java
Due: build-java, restore-cache, rebuild-cache

Edge2Edge: filter undefined integer modbus values
  io.openems.edge.edge2edge/src/io/openems/edge/edge2edge/common/AbstractEdge2Edge.java
Due: build-java, restore-cache, rebuild-cache

Deye: minor corrections; UI: Key definitions for charge discharge limiter
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerEssChargeDischargeLimiterImpl.java
  io.openems.edge.deye/src/io/openems/edge/deye/enums/RemoteMode.java
  io.openems.edge.deye/src/io/openems/edge/deye/ess/ApplyPowerHandler.java
  io.openems.edge.deye/src/io/openems/edge/deye/ess/DeyeSunHybrid.java
  io.openems.edge.deye/src/io/openems/edge/deye/ess/DeyeSunHybridImpl.java
  ui/src/app/edge/live/common/storage/admin-modal/admin-modal.component.html
  ui/src/app/edge/live/common/storage/admin-modal/admin-modal.component.ts
  ui/src/app/edge/live/common/storage/installer-owner-guest-modal/installer-owner-guest-modal.component.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

PLC-39: fixed malfunction in value conversion
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/PlcNextDeviceImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/gds/PlcNextGdsDataProvider.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/gds/PlcNextGdsDataToChannelMapper.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/gds/PlcNextGdsDataToChannelMapperTest.java
Due: build-java, restore-cache, rebuild-cache

[Backend] Add settings to GetEdges
  io.openems.backend.common/src/io/openems/backend/common/metadata/Edge.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/MetadataUtils.java
  io.openems.backend.common/test/io/openems/backend/common/metadata/MetadataUtilsTest.java
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/MetadataDummy.java
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/MetadataFile.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
  io.openems.common/src/io/openems/common/jsonrpc/response/GetEdgesResponse.java
  io.openems.common/src/io/openems/common/utils/JsonUtils.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractWriteTask.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/Utils.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Energy Scheduler v2 with EVSE
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/ControllerEvseClusterImpl.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/EshUtils.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/jsonrpc/GetSchedule.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/Params.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/cluster/EshUtilsTest.java
  io.openems.edge.core/bnd.bnd
  io.openems.edge.core/src/io/openems/edge/app/evcs/SwitchArchitecture.java
  io.openems.edge.core/test/io/openems/edge/app/evcs/TestEvcsCluster.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/SwitchEvcsEvseTest.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulation/GlobalOptimizationContext.java
  io.openems.edge.energy/src/io/openems/edge/energy/EnergySchedulerImpl.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/Optimizer.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/Simulator.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/Utils.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Battery.BMW: Improvements to go-stopped-handler
  io.openems.edge.battery.bmw/src/io/openems/edge/battery/bmw/BatteryBmw.java
  io.openems.edge.battery.bmw/src/io/openems/edge/battery/bmw/BatteryBmwImpl.java
  io.openems.edge.battery.bmw/src/io/openems/edge/battery/bmw/BmwToken.java
  io.openems.edge.battery.bmw/src/io/openems/edge/battery/bmw/Constants.java
  io.openems.edge.battery.bmw/src/io/openems/edge/battery/bmw/statemachine/Context.java
  io.openems.edge.battery.bmw/src/io/openems/edge/battery/bmw/statemachine/GoRunningHandler.java
  io.openems.edge.battery.bmw/src/io/openems/edge/battery/bmw/statemachine/GoStoppedHandler.java
  io.openems.edge.battery.bmw/src/io/openems/edge/battery/bmw/statemachine/GoStoppingSubState.java
  io.openems.edge.battery.bmw/test/io/openems/edge/battery/bmw/BmwBatteryImplTest.java
  io.openems.edge.battery.bmw/test/io/openems/edge/battery/bmw/BmwTokenTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Evse.Controller.Single: implement `getTask` and `getOneTasks`
  io.openems.common/src/io/openems/common/jscalendar/DeleteTask.java
  io.openems.common/src/io/openems/common/jscalendar/GetTask.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/ControllerEvseSingleImpl.java
Due: build-java, restore-cache, rebuild-cache

added testing page (with subpages) to Edge documentation
  doc/modules/ROOT/pages/edge/test.adoc
  doc/modules/ROOT/pages/edge/test.adoc.d/ComponentTest.adoc
  doc/modules/ROOT/pages/edge/test.adoc.d/MyConfig.adoc
  doc/modules/ROOT/pages/edge/test.adoc.d/troubleshooting.adoc
Due: none

extended the skill manually expanding on Updating, Knowledge, the Task, and requirement collection.
  .claude/skills/edge-component.md
Due: none

adjusted to handle also development in WSL2, incl. update of Readme.md
  tools/docker/ui/README.md
  tools/docker/ui/docker-compose.yml
  tools/docker/ui/start-dev-ui.sh
Due: none

test-modbus-communication.py script to test the specified modbus communication with a physical ABL-eMH1 device
  io.openems.edge.evse.chargepoint.abl/tools/ModbusCommunicationTester/readme.md
  io.openems.edge.evse.chargepoint.abl/tools/ModbusCommunicationTester/test-modbus-communication.py
Due: build-java, restore-cache, rebuild-cache

reorganized the UI-Docker-Deployment stuff to fit into the project structure, did some minor fixes
  doc/modules/ROOT/nav.adoc
  doc/modules/ROOT/pages/edge/deploy/docker.adoc
  doc/modules/ROOT/pages/gettingstarted.adoc
  doc/modules/ROOT/pages/ui/deploy.adoc
  tools/docker/ui/docker-compose.yml
Due: none

test-modbus-communication.py enhanced, tested and partially verified (only reading)
  io.openems.edge.evse.chargepoint.abl/tools/ModbusCommunicationTester/test-modbus-communication.py
Due: build-java, restore-cache, rebuild-cache

Added docker-compose.yml and enhanced documentation to get a docker with just the UI for edge development up and running
  doc/modules/ROOT/pages/edge/deploy/docker.adoc
  ui/docker-compose.yml
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Added cleanup to the prepare-commit.sh, to avoid accidentally changing the default setting of the tools/docker/ui/docker-compose.yml after running the start-dev-ui.sh under WSL2
  tools/prepare-commit.sh
Due: none

enhanced the simulator capabilities with serial Modbus/ASCII to allow testing of the whole communication path incl. Modbus/ASCII->Modbus/TCP-Gateway
  io.openems.edge.evse.chargepoint.abl/test/io/openems/edge/evse/chargepoint/abl/simulator/AblModbusSimulator.java
  io.openems.edge.evse.chargepoint.abl/test/io/openems/edge/evse/chargepoint/abl/simulator/ModbusSerialServer.java
  io.openems.edge.evse.chargepoint.abl/tools/ABL-eMH1-simulator/readme.md
  io.openems.edge.evse.chargepoint.abl/tools/ABL-eMH1-simulator/run-simulator.bat
  io.openems.edge.evse.chargepoint.abl/tools/ABL-eMH1-simulator/run-simulator.sh
  io.openems.edge.evse.chargepoint.abl/tools/ABL-eMH1-simulator/serial-gateway-setup.md
  io.openems.edge.evse.chargepoint.abl/tools/readme.md
Due: build-java, restore-cache, rebuild-cache

setting missing executable rights (chmod +x), that went lost on the way to Windows...
  tools/docker/ui/start-dev-ui.sh
Due: none

fixed link in gettingstarted.adoc
  doc/modules/ROOT/pages/gettingstarted.adoc
Due: none

Added Troubleshooting section for UI Docker setup and fixed related `docker ps`
  doc/modules/ROOT/pages/edge/deploy/docker.adoc
Due: none
