Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

Implementation of Hyperparameters Implementation of Long and short term load forcasting.
  io.openems.edge.predictor.lstm/.classpath
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/DataModification.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/DataStatistics.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/HyperParameters.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/ReadCsv.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/ReadModels.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/interpolation/InterpolationManager.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/predictor/LstmModelPredictorImpl.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/predictor/Prediction.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/predictor/Predictor.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/preprocessing/GroupBy.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/preprocessing/PreProcessingImpl.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/preprocessing/TrainTestSplit.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/train/LstmModelTrainImpl.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/train/MakeModel.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/util/AdaptiveLearningRate.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/util/Cell.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/util/Engine.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/util/Lstm.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/util/MatrixWeight.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/validator/LstmModelValidatorImpl.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/validator/Validation.java
  io.openems.edge.predictor.lstm/test/RearrangingDataForTrend.java
  io.openems.edge.predictor.lstm/test/RearrangingDataForValidation.java
  io.openems.edge.predictor.lstm/test/StandAloneMakeModel.java
  io.openems.edge.predictor.lstm/test/StandAlonePrediction.java
  io.openems.edge.predictor.lstm/test/TestingSequenceGenerator.java
Due: build-java, restore-cache, rebuild-cache

Push version to 2023.12.1
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2023.12.2-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Revert "FENECON Home Battery: Update number of tower check (#971)" (#980)
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHome.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImpl.java
  io.openems.edge.battery.fenecon.home/test/io/openems/edge/battery/fenecon/home/TowersAndModulesTest.java
Due: build-java, restore-cache, rebuild-cache

GoodWe BatteryInverter: write certain Channels only on activate/modified (#981)
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
Due: build-java, restore-cache, rebuild-cache

clean PR
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/chpsoc/chart.component.ts
  ui/src/app/edge/history/common/autarchy/chart/chart.ts
  ui/src/app/edge/history/common/grid/chart/chart.spec.ts
  ui/src/app/edge/history/delayedselltogrid/chart.component.ts
  ui/src/app/edge/history/fixdigitaloutput/singlechart.component.ts
  ui/src/app/edge/history/fixdigitaloutput/totalchart.component.ts
  ui/src/app/edge/history/gridoptimizedcharge/chart.component.ts
  ui/src/app/edge/history/gridoptimizedcharge/sellToGridLimitChart.component.ts
  ui/src/app/edge/history/heatingelement/chart.component.ts
  ui/src/app/edge/history/heatpump/chart.component.ts
  ui/src/app/edge/history/peakshaving/asymmetric/chart.component.ts
  ui/src/app/edge/history/peakshaving/symmetric/chart.component.ts
  ui/src/app/edge/history/peakshaving/timeslot/chart.component.ts
  ui/src/app/edge/history/shared.ts
  ui/src/app/edge/history/singlethreshold/chart.component.ts
  ui/src/app/edge/history/storage/chargerchart.component.ts
  ui/src/app/edge/history/storage/singlechart.component.ts
  ui/src/app/edge/history/storage/socchart.component.ts
  ui/src/app/edge/history/storage/totalchart.component.ts
  ui/src/app/index/overview/overview.component.html
  ui/src/app/shared/edge/edgeconfig.spec.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

linting
  ui/src/app/edge/history/fixdigitaloutput/singlechart.component.ts
  ui/src/app/edge/history/peakshaving/asymmetric/chart.component.ts
  ui/src/app/edge/history/peakshaving/symmetric/chart.component.ts
  ui/src/app/edge/history/peakshaving/timeslot/chart.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Push version to 2023.12.2
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2023.12.3-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

downgrading ng2-charts to 4.1.1
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: specify eslint as vscode workspace default formatter
  ui/.vscode/extensions.json
  ui/.vscode/settings.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

load certificates and keys to establish an STL connection IOT-49
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttConnector.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttUtils.java
  io.openems.edge.controller.api.mqtt/test/io/openems/edge/controller/api/mqtt/ControllerApiMqttImplTest.java
Due: build-java, restore-cache, rebuild-cache

Update Bundle-Vendor
  io.openems.edge.meter.siemens/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

fix: reproduce single_document.adoc from nav.adoc and sed script
  doc/tools/create_single_page_html.sh
  doc/tools/create_single_page_pdf.sh
Due: none

little clean up and commenting stuff - IOT-49
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttConnector.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttUtils.java
Due: build-java, restore-cache, rebuild-cache

add entries for TLS MQTT connection to the apache felix web console configurator - IOT-49
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/Config.java
Due: build-java, restore-cache, rebuild-cache

implement getters and setters for certPath, privateKeyPath, trusStorePath and trustStorePassword, cleanup and formatting
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/ControllerApiMqttImpl.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttConnector.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttUtils.java
  io.openems.edge.controller.api.mqtt/test/io/openems/edge/controller/api/mqtt/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

delete unnecessary comments
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttUtils.java
Due: build-java, restore-cache, rebuild-cache

fix typos in comments
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttUtils.java
Due: build-java, restore-cache, rebuild-cache

Update bnd
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/influxdb-client-core.bnd
  io.openems.wrapper/influxdb-client-java.bnd
  io.openems.wrapper/influxdb-client-utils.bnd
  io.openems.wrapper/influxdb-flux-dsl.bnd
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bnd + bndrun
  cnf/build.bnd
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

begin with implementation of Entes MPR-15S-22 meter
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.meter.entes.mpr15s22/.classpath
  io.openems.edge.meter.entes.mpr15s22/.gitignore
  io.openems.edge.meter.entes.mpr15s22/.project
  io.openems.edge.meter.entes.mpr15s22/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.meter.entes.mpr15s22/.settings/org.eclipse.jdt.core.prefs
  io.openems.edge.meter.entes.mpr15s22/bnd.bnd
  io.openems.edge.meter.entes.mpr15s22/generated/buildfiles
  io.openems.edge.meter.entes.mpr15s22/readme.adoc
  io.openems.edge.meter.entes.mpr15s22/src/io/openems/edge/meter/entes/mpr15s22/Config.java
  io.openems.edge.meter.entes.mpr15s22/src/io/openems/edge/meter/entes/mpr15s22/EntesMpr15S22.java
  io.openems.edge.meter.entes.mpr15s22/src/io/openems/edge/meter/entes/mpr15s22/EntesMpr15S22Impl.java
  io.openems.edge.meter.entes.mpr15s22/test/io/openems/edge/meter/entes/mpr15s22/MyConfig.java
  io.openems.edge.meter.entes.mpr15s22/test/io/openems/edge/meter/entes/mpr15s22/MyModbusDeviceTest.java
Due: build-java, restore-cache, rebuild-cache

update the mqtt config to inform the user to enter the certificate, private key and trust store in PEM format
  cnf/pom.xml
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/Config.java
Due: build-java, restore-cache, rebuild-cache

update ControllerApiMqttImpl.java and MyConfig.java to match Config.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/ControllerApiMqttImpl.java
  io.openems.edge.controller.api.mqtt/test/io/openems/edge/controller/api/mqtt/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

update parameter names of MqttConnector methods
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttConnector.java
Due: build-java, restore-cache, rebuild-cache

reimplement MqttUtils class in order to process certificates and private key as strings
  cnf/pom.xml
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.api.mqtt/bnd.bnd
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttUtils.java
Due: build-java, restore-cache, rebuild-cache

UI: add notifcation component (#985)
  ui/src/app/shared/genericComponents/genericComponents.ts
  ui/src/app/shared/genericComponents/shared/notification/notification.ts
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Odoo: adjust endpoint for user settings (#987)
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooHandler.java
Due: build-java, restore-cache, rebuild-cache

fix: upgrade gradle version 8.4 to 8.5
  .gradle-wrapper/gradle-wrapper.jar
  .gradle-wrapper/gradle-wrapper.properties
  gradlew
Due: build-java, restore-cache, rebuild-cache

requested changes
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/shared.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/themes/openems/scss/variables.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Upgrade Gradle version 8.4 to 8.5 (#2471)
  .gradle-wrapper/gradle-wrapper.jar
  .gradle-wrapper/gradle-wrapper.properties
  gradlew
Due: build-java, restore-cache, rebuild-cache

apply prepare-commit.sh
  io.openems.oem.openems/.settings/org.eclipse.core.resources.prefs
  io.openems.oem.openems/.settings/org.eclipse.jdt.core.prefs
  io.openems.oem.openems/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

Fix JUnit tests
  io.openems.edge.controller.api.backend/test/io/openems/edge/controller/api/backend/ControllerApiBackendImplTest.java
  io.openems.edge.core/test/io/openems/edge/core/meta/MetaImplTest.java
  io.openems.edge.core/test/io/openems/edge/core/meta/MyConfig.java
  io.openems.edge.timedata.influxdb/test/io/openems/edge/timedata/influxdb/TimedataInfluxDbImplTest.java
Due: build-java, restore-cache, rebuild-cache

OEM cleanup
  io.openems.backend.timedata.timescaledb/test/io/openems/backend/timedata/timescaledb/TimescaledbImplTest.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/EntsoE.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/ImageBuilder.java
Due: build-java, restore-cache, rebuild-cache

Remove comments
  io.openems.edge.core/src/io/openems/edge/app/common/props/CommonProps.java
Due: build-java, restore-cache, rebuild-cache

Merge from OpenEMS (#991)
  .gradle-wrapper/gradle-wrapper.jar
  cnf/build.bnd
  cnf/pom.xml
  io.openems.backend.alerting/src/io/openems/backend/alerting/handler/OfflineEdgeHandler.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/message/OfflineEdgeMessage.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/Dummy.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/OfflineEdgeAlertingTest.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/handler/TestOfflineEdgeHandler.java
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.common/src/io/openems/backend/common/jsonrpc/request/SetUserAlertingConfigsRequest.java
  io.openems.backend.common/src/io/openems/backend/common/jsonrpc/response/GetUserAlertingConfigsResponse.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/Metadata.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/UserAlertingSettings.java
  io.openems.backend.common/src/io/openems/backend/common/test/DummyMetadata.java
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/MetadataDummy.java
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/MetadataFile.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooHandler.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/OnRequest.java
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.heating.room/generated/buildfiles
  io.openems.edge.controller.heating.room/generated/jacoco/test.exec
  io.openems.edge.controller.heating.room/generated/test-reports/test/binary/output.bin
  io.openems.edge.controller.heating.room/generated/test-reports/test/binary/output.bin.idx
  io.openems.edge.controller.heating.room/generated/test-reports/test/binary/results.bin
  io.openems.edge.energy.api/generated/buildfiles
  io.openems.edge.energy.api/generated/jacoco/test.exec
  io.openems.edge.energy.api/generated/test-reports/test/binary/output.bin
  io.openems.edge.energy.api/generated/test-reports/test/binary/output.bin.idx
  io.openems.edge.energy.api/generated/test-reports/test/binary/results.bin
  io.openems.edge.energy/generated/buildfiles
  io.openems.edge.predictor.forecastsolar/generated/buildfiles
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/influxdb-client-core.bnd
  io.openems.wrapper/influxdb-client-java.bnd
  io.openems.wrapper/influxdb-client-utils.bnd
  io.openems.wrapper/influxdb-flux-dsl.bnd
Due: build-java, restore-cache, rebuild-cache

Update bnd files
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/io.reactivex.rxjava3.rxjava.bnd
Due: build-java, restore-cache, rebuild-cache

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
