Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

Try to fix docker build
  .github/workflows/docker.yml
Due: none

Manually trigger workflow
  .github/workflows/docker.yml
Due: none

fix workflow
  .github/workflows/docker.yml
Due: none

imrpove docker build
  tools/docker/backend/Dockerfile
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/init-openems-config/dependencies.d/init-os-end
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/init-openems-config/run
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/init-openems-config/type
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/init-openems-config/up
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/init-permissions/up
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/svc-openems-backend/dependencies.d/init-openems-config
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/svc-openems-backend/notification-fd
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/svc-openems-backend/type
  tools/docker/backend/root/var/lib/openems-default-config/Edge/Websocket.config
  tools/docker/backend/root/var/lib/openems-default-config/Metadata/File.config
  tools/docker/backend/root/var/lib/openems-default-config/Timedata/Dummy.config
  tools/docker/backend/root/var/lib/openems-default-config/Ui/Websocket.config
  tools/docker/backend/root/var/lib/openems-default-metadata/metadata.json
  tools/docker/edge/Dockerfile
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/init-openems-config/dependencies.d/init-os-end
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/init-openems-config/run
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/init-openems-config/type
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/init-openems-config/up
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/init-permissions/type
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/init-permissions/up
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/svc-openems-edge/dependencies.d/init-openems-config
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/svc-openems-edge/notification-fd
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/svc-openems-edge/type
  tools/docker/edge/root/var/lib/openems-default-config/Controller/Api/Websocket/default.config
  tools/docker/edge/root/var/lib/openems-default-config/Scheduler/AllAlphabetically/default.config
  tools/docker/ui/Dockerfile
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-folders/type
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-folders/up
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-keygen/type
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-keygen/up
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-nginx-end/type
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-nginx-end/up
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-nginx/type
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-permissions/type
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-permissions/up
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/svc-openems-ui/notification-fd
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/svc-openems-ui/type
  ui/src/index.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update docker build (#3114)
  .github/workflows/docker.yml
  tools/docker/backend/Dockerfile
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/init-openems-config/dependencies.d/init-os-end
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/init-openems-config/run
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/init-openems-config/type
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/init-openems-config/up
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/init-permissions/up
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/svc-openems-backend/dependencies.d/init-openems-config
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/svc-openems-backend/notification-fd
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/svc-openems-backend/type
  tools/docker/backend/root/var/lib/openems-default-config/Edge/Websocket.config
  tools/docker/backend/root/var/lib/openems-default-config/Metadata/File.config
  tools/docker/backend/root/var/lib/openems-default-config/Timedata/Dummy.config
  tools/docker/backend/root/var/lib/openems-default-config/Ui/Websocket.config
  tools/docker/backend/root/var/lib/openems-default-metadata/metadata.json
  tools/docker/edge/Dockerfile
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/init-openems-config/dependencies.d/init-os-end
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/init-openems-config/run
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/init-openems-config/type
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/init-openems-config/up
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/init-permissions/type
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/init-permissions/up
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/svc-openems-edge/dependencies.d/init-openems-config
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/svc-openems-edge/notification-fd
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/svc-openems-edge/type
  tools/docker/edge/root/var/lib/openems-default-config/Controller/Api/Websocket/default.config
  tools/docker/edge/root/var/lib/openems-default-config/Scheduler/AllAlphabetically/default.config
  tools/docker/ui/Dockerfile
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-folders/type
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-folders/up
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-keygen/type
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-keygen/up
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-nginx-end/type
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-nginx-end/up
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-nginx/type
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-permissions/type
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-permissions/up
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/svc-openems-ui/notification-fd
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/svc-openems-ui/type
  ui/src/index.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update deploy.adoc: typo
  doc/modules/ROOT/pages/backend/deploy.adoc
Due: none

Create build_testing.yml
  .github/workflows/build_testing.yml
Due: none

Docs: Update deploy.adoc: typo (#3115)
  doc/modules/ROOT/pages/backend/deploy.adoc
Due: none

implements API usage for evcc tariffs (solar/grid)
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.evcc.api/.classpath
  io.openems.edge.evcc.api/.gitignore
  io.openems.edge.evcc.api/.project
  io.openems.edge.evcc.api/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.evcc.api/bnd.bnd
  io.openems.edge.evcc.api/readme.adoc
  io.openems.edge.evcc.api/src/io/openems/edge/evcc/api/gridtariff/Config.java
  io.openems.edge.evcc.api/src/io/openems/edge/evcc/api/gridtariff/TimeOfUseGridTariffEvcc.java
  io.openems.edge.evcc.api/src/io/openems/edge/evcc/api/gridtariff/TimeOfUseGridTariffEvccApi.java
  io.openems.edge.evcc.api/src/io/openems/edge/evcc/api/gridtariff/TimeOfUseGridTariffEvccImpl.java
  io.openems.edge.evcc.api/src/io/openems/edge/evcc/api/solartariff/Config.java
  io.openems.edge.evcc.api/src/io/openems/edge/evcc/api/solartariff/PredictorSolarTariffEvcc.java
  io.openems.edge.evcc.api/src/io/openems/edge/evcc/api/solartariff/PredictorSolarTariffEvccApi.java
  io.openems.edge.evcc.api/src/io/openems/edge/evcc/api/solartariff/PredictorSolarTariffEvccImpl.java
  io.openems.edge.evcc.api/test/.gitignore
  io.openems.edge.evcc.api/test/io/openems/edge/evcc/api/gridtariff/MyConfig.java
  io.openems.edge.evcc.api/test/io/openems/edge/evcc/api/gridtariff/TimeOfUseGridTariffEvccImplTest.java
  io.openems.edge.evcc.api/test/io/openems/edge/evcc/api/solartariff/MyConfig.java
  io.openems.edge.evcc.api/test/io/openems/edge/evcc/api/solartariff/PredictorSolarTariffEvccImplTest.java
Due: build-java, restore-cache, rebuild-cache

initial
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.kostal.plenticore/.classpath
  io.openems.edge.kostal.plenticore/.gitignore
  io.openems.edge.kostal.plenticore/.project
  io.openems.edge.kostal.plenticore/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.kostal.plenticore/.settings/org.eclipse.jdt.core.prefs
  io.openems.edge.kostal.plenticore/bnd.bnd
  io.openems.edge.kostal.plenticore/readme.adoc
  io.openems.edge.kostal.plenticore/src/io/openems/edge/kostal/plenticore/enums/BatteryManagementMode.java
  io.openems.edge.kostal.plenticore/src/io/openems/edge/kostal/plenticore/enums/BatteryType.java
  io.openems.edge.kostal.plenticore/src/io/openems/edge/kostal/plenticore/enums/ControlMode.java
  io.openems.edge.kostal.plenticore/src/io/openems/edge/kostal/plenticore/enums/EnergyManagerMode.java
  io.openems.edge.kostal.plenticore/src/io/openems/edge/kostal/plenticore/enums/FuseState.java
  io.openems.edge.kostal.plenticore/src/io/openems/edge/kostal/plenticore/enums/InverterState.java
  io.openems.edge.kostal.plenticore/src/io/openems/edge/kostal/plenticore/enums/SensorType.java
  io.openems.edge.kostal.plenticore/src/io/openems/edge/kostal/plenticore/ess/Config.java
  io.openems.edge.kostal.plenticore/src/io/openems/edge/kostal/plenticore/ess/KostalManagedEss.java
  io.openems.edge.kostal.plenticore/src/io/openems/edge/kostal/plenticore/ess/KostalManagedEssImpl.java
  io.openems.edge.kostal.plenticore/src/io/openems/edge/kostal/plenticore/gridmeter/Config.java
  io.openems.edge.kostal.plenticore/src/io/openems/edge/kostal/plenticore/gridmeter/KostalGridMeter.java
  io.openems.edge.kostal.plenticore/src/io/openems/edge/kostal/plenticore/gridmeter/KostalGridMeterImpl.java
  io.openems.edge.kostal.plenticore/src/io/openems/edge/kostal/plenticore/pvinverter/Config.java
  io.openems.edge.kostal.plenticore/src/io/openems/edge/kostal/plenticore/pvinverter/KostalPvInverter.java
  io.openems.edge.kostal.plenticore/src/io/openems/edge/kostal/plenticore/pvinverter/KostalPvInverterImpl.java
  io.openems.edge.kostal.plenticore/test/.gitignore
  io.openems.edge.kostal.plenticore/test/io/openems/edge/kostal/plenticore/ess/KostalManagedEssImplTest.java
  io.openems.edge.kostal.plenticore/test/io/openems/edge/kostal/plenticore/ess/MyConfig.java
  io.openems.edge.kostal.plenticore/test/io/openems/edge/kostal/plenticore/gridmeter/KostalGridMeterImplTest.java
  io.openems.edge.kostal.plenticore/test/io/openems/edge/kostal/plenticore/gridmeter/MyConfig.java
  io.openems.edge.kostal.plenticore/test/io/openems/edge/kostal/plenticore/pvinverter/KostalPvInverterImplTest.java
  io.openems.edge.kostal.plenticore/test/io/openems/edge/kostal/plenticore/pvinverter/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

fixes from prepare-commit
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.kostal.plenticore/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

Delete .github/workflows/build_testing.yml
  .github/workflows/build_testing.yml
Due: none

fixes from prepare-commit
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.evcc.api/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

Add docker os impl
  io.openems.edge.core/src/io/openems/edge/core/host/HostImpl.java
  io.openems.edge.core/src/io/openems/edge/core/host/OperatingSystemDocker.java
Due: build-java, restore-cache, rebuild-cache

improve container creation
  tools/docker/backend/Dockerfile
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/svc-openems-backend/run
  tools/docker/backend/root/var/lib/openems-default-config/Core/Cycle.config
  tools/docker/backend/root/var/lib/openems-default-config/Core/Energy.config
  tools/docker/backend/root/var/lib/openems-default-config/Core/Meta.config
  tools/docker/backend/root/var/lib/openems-default-config/Core/Sum.config
  tools/docker/edge/Dockerfile
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/svc-openems-edge/run
  tools/docker/edge/root/var/lib/openems-default-config/Core/AppManager.config
  tools/docker/edge/root/var/lib/openems-default-config/Core/ComponentManager.config
  tools/docker/edge/root/var/lib/openems-default-config/Core/Cycle.config
  tools/docker/edge/root/var/lib/openems-default-config/Core/Energy.config
  tools/docker/edge/root/var/lib/openems-default-config/Core/Meta.config
  tools/docker/edge/root/var/lib/openems-default-config/Core/PredictorManager.config
  tools/docker/edge/root/var/lib/openems-default-config/Core/SerialNumber.config
  tools/docker/edge/root/var/lib/openems-default-config/Core/Sum.config
  tools/docker/ui/Dockerfile
  tools/docker/ui/root/defaults/nginx/openems-nginx.conf
Due: none

requested adaptions
  io.openems.edge.evcc.api/bnd.bnd
  io.openems.edge.evcc.api/src/io/openems/edge/evcc/api/gridtariff/TimeOfUseGridTariffEvcc.java
  io.openems.edge.evcc.api/src/io/openems/edge/evcc/api/gridtariff/TimeOfUseGridTariffEvccApi.java
  io.openems.edge.evcc.api/src/io/openems/edge/evcc/api/gridtariff/TimeOfUseGridTariffEvccImpl.java
  io.openems.edge.evcc.api/src/io/openems/edge/evcc/api/solartariff/Config.java
  io.openems.edge.evcc.api/src/io/openems/edge/evcc/api/solartariff/PredictorSolarTariffEvcc.java
  io.openems.edge.evcc.api/src/io/openems/edge/evcc/api/solartariff/PredictorSolarTariffEvccApi.java
  io.openems.edge.evcc.api/src/io/openems/edge/evcc/api/solartariff/PredictorSolarTariffEvccImpl.java
  io.openems.edge.evcc.api/test/io/openems/edge/evcc/api/gridtariff/MyConfig.java
  io.openems.edge.evcc.api/test/io/openems/edge/evcc/api/gridtariff/TimeOfUseGridTariffEvccImplTest.java
  io.openems.edge.evcc.api/test/io/openems/edge/evcc/api/solartariff/PredictorSolarTariffEvccImplTest.java
Due: build-java, restore-cache, rebuild-cache

changed sequence
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

adapted buildpath
  io.openems.edge.kostal.plenticore/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

updated buildpath
  io.openems.edge.kostal.plenticore/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

failed test correction
  io.openems.edge.kostal.plenticore/test/io/openems/edge/kostal/plenticore/pvinverter/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

added sum of channels and option to select which one should be measured
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyem/Config.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyem/IoShellyEmImpl.java
Due: build-java, restore-cache, rebuild-cache

more adaptions
  io.openems.edge.evcc.api/src/io/openems/edge/evcc/api/gridtariff/TimeOfUseGridTariffEvccApi.java
  io.openems.edge.evcc.api/src/io/openems/edge/evcc/api/solartariff/Config.java
  io.openems.edge.evcc.api/src/io/openems/edge/evcc/api/solartariff/PredictorSolarTariffEvccApi.java
  io.openems.edge.evcc.api/src/io/openems/edge/evcc/api/solartariff/PredictorSolarTariffEvccImpl.java
  io.openems.edge.evcc.api/test/io/openems/edge/evcc/api/solartariff/MyConfig.java
  io.openems.edge.evcc.api/test/io/openems/edge/evcc/api/solartariff/PredictorSolarTariffEvccImplTest.java
Due: build-java, restore-cache, rebuild-cache

rename
  io.openems.edge.evcc.api/src/io/openems/edge/evcc/api/gridtariff/Config.java
  io.openems.edge.evcc.api/src/io/openems/edge/evcc/api/solartariff/Config.java
Due: build-java, restore-cache, rebuild-cache

added Shelly EM Gen 1
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyem/Config.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyem/IoShellyEm.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyem/IoShellyEmImpl.java
Due: build-java, restore-cache, rebuild-cache

Docker: improve container (#3122)
  io.openems.edge.core/src/io/openems/edge/core/host/HostImpl.java
  io.openems.edge.core/src/io/openems/edge/core/host/OperatingSystemDocker.java
  tools/docker/backend/Dockerfile
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/svc-openems-backend/run
  tools/docker/backend/root/var/lib/openems-default-config/Core/Cycle.config
  tools/docker/backend/root/var/lib/openems-default-config/Core/Energy.config
  tools/docker/backend/root/var/lib/openems-default-config/Core/Meta.config
  tools/docker/backend/root/var/lib/openems-default-config/Core/Sum.config
  tools/docker/edge/Dockerfile
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/svc-openems-edge/run
  tools/docker/edge/root/var/lib/openems-default-config/Core/AppManager.config
  tools/docker/edge/root/var/lib/openems-default-config/Core/ComponentManager.config
  tools/docker/edge/root/var/lib/openems-default-config/Core/Cycle.config
  tools/docker/edge/root/var/lib/openems-default-config/Core/Energy.config
  tools/docker/edge/root/var/lib/openems-default-config/Core/Meta.config
  tools/docker/edge/root/var/lib/openems-default-config/Core/PredictorManager.config
  tools/docker/edge/root/var/lib/openems-default-config/Core/SerialNumber.config
  tools/docker/edge/root/var/lib/openems-default-config/Core/Sum.config
  tools/docker/ui/Dockerfile
  tools/docker/ui/root/defaults/nginx/openems-nginx.conf
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update package.json
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Review
  io.openems.edge.kostal/src/io/openems/edge/kostal/plenticore/enums/BatteryManagementMode.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/plenticore/enums/BatteryType.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/plenticore/enums/ControlMode.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/plenticore/enums/EnergyManagerMode.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/plenticore/enums/FuseState.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/plenticore/enums/InverterState.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/plenticore/enums/SensorType.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/plenticore/ess/Config.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/plenticore/ess/KostalManagedEss.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/plenticore/ess/KostalManagedEssImpl.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/plenticore/gridmeter/Config.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/plenticore/gridmeter/KostalGridMeter.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/plenticore/gridmeter/KostalGridMeterImpl.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/plenticore/pvinverter/Config.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/plenticore/pvinverter/KostalPvInverter.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/plenticore/pvinverter/KostalPvInverterImpl.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/plenticore/ess/KostalManagedEssImplTest.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/plenticore/ess/MyConfig.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/plenticore/gridmeter/KostalGridMeterImplTest.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/plenticore/gridmeter/MyConfig.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/plenticore/pvinverter/KostalPvInverterImplTest.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/plenticore/pvinverter/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Fix Checkstyle
  io.openems.edge.kostal/src/io/openems/edge/kostal/plenticore/ess/KostalManagedEssImpl.java
Due: build-java, restore-cache, rebuild-cache

Apply prepare-commit script
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.kostal.plenticore/.classpath
  io.openems.edge.kostal.plenticore/.gitignore
  io.openems.edge.kostal.plenticore/.project
  io.openems.edge.kostal.plenticore/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.kostal.plenticore/.settings/org.eclipse.jdt.core.prefs
  io.openems.edge.kostal.plenticore/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

enhancements
  io.openems.edge.kostal/src/io/openems/edge/kostal/ess/Config.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/ess/KostalManagedESS.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/ess/KostalManagedESSImpl.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/pvinverter/KostalPvInverter.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/pvinverter/KostalPvInverterImpl.java
Due: build-java, restore-cache, rebuild-cache

initial
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.kostal/.classpath
  io.openems.edge.kostal/.gitignore
  io.openems.edge.kostal/.project
  io.openems.edge.kostal/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.kostal/.settings/org.eclipse.jdt.core.prefs
  io.openems.edge.kostal/bnd.bnd
  io.openems.edge.kostal/generated/buildfiles
  io.openems.edge.kostal/readme.adoc
  io.openems.edge.kostal/src/io/openems/edge/kostal/enums/BatteryManagementMode.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/enums/BatteryType.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/enums/EnergyManagerMode.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/enums/FuseState.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/enums/InverterState.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/enums/SensorType.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/ess/Config.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/ess/KostalManagedESS.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/ess/KostalManagedESSImpl.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/gridmeter/Config.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/gridmeter/KostalGridMeter.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/gridmeter/KostalGridMeterImpl.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/pvinverter/Config.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/pvinverter/KostalPvInverter.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/pvinverter/KostalPvInverterImpl.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/ess/KostalManagedESSImplTest.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/gridmeter/KostalGridMeterImplTest.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/gridmeter/MyConfig.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/pvinverter/KostalPvInverterImplTest.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/pvinverter/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

extends ManagedSymmetricPvInverter
  io.openems.edge.kostal/src/io/openems/edge/kostal/pvinverter/KostalPvInverterImpl.java
Due: build-java, restore-cache, rebuild-cache

corrections
  io.openems.edge.kostal/src/io/openems/edge/kostal/ess/KostalManagedESSImpl.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/pvinverter/KostalPvInverterImpl.java
Due: build-java, restore-cache, rebuild-cache

pretty print
  io.openems.edge.kostal/src/io/openems/edge/kostal/enums/BatteryManagementMode.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/enums/BatteryType.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/enums/EnergyManagerMode.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/enums/FuseState.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/enums/InverterState.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/enums/SensorType.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/ess/Config.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/ess/KostalManagedESS.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/ess/KostalManagedESSImpl.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/gridmeter/Config.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/gridmeter/KostalGridMeter.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/gridmeter/KostalGridMeterImpl.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/pvinverter/Config.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/pvinverter/KostalPvInverter.java
  io.openems.edge.kostal/src/io/openems/edge/kostal/pvinverter/KostalPvInverterImpl.java
Due: build-java, restore-cache, rebuild-cache

pretty print
  io.openems.edge.kostal/bnd.bnd
  io.openems.edge.kostal/test/io/openems/edge/kostal/ess/KostalManagedESSImplTest.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/gridmeter/KostalGridMeterImplTest.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/gridmeter/MyConfig.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/pvinverter/KostalPvInverterImplTest.java
  io.openems.edge.kostal/test/io/openems/edge/kostal/pvinverter/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
