Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

[Common] Update deploy.adoc: corrected ul formatting (#3543)
  doc/modules/ROOT/pages/ui/deploy.adoc
Due: none

PLC-30: Asynchronous HTTP communication with PLCnext controller
  io.openems.edge.phoenixcontact.plcnext/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/auth/PlcNextAuthAndAccessTokenDTO.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/auth/PlcNextTokenManager.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/auth/PlcNextTokenManagerImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/data/PlcNextGdsDataProvider.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/data/PlcNextGdsDataProviderImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/ess/PlcNextEssImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/loadcircuit/PlcNextLoadCircuitImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/meter/PlcNextMeterImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/pvinverter/PlcNextPvInverterImpl.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/common/auth/PlcNextTokenManagerTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/common/data/PlcNextGdsDataProviderReadTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/ess/PlcNextEssImplTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/loadcircuit/PlcNextLoadCircuitImplTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/meter/PlcNextMeterImplTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/pvinverter/PlcNextPvInverterImplTest.java
Due: build-java, restore-cache, rebuild-cache

asynchronous communication with PLCnext controller
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/auth/PlcNextTokenManager.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/auth/PlcNextTokenManagerImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/data/PlcNextGdsDataProvider.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/data/PlcNextGdsDataProviderImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/ess/PlcNextEssImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/loadcircuit/PlcNextLoadCircuitImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/meter/PlcNextMeterImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/pvinverter/PlcNextPvInverterGdsDataWriteMappingDefinition.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/pvinverter/PlcNextPvInverterImpl.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/common/auth/PlcNextTokenManagerTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/common/data/PlcNextGdsDataProviderReadTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/ess/PlcNextEssImplTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/loadcircuit/PlcNextLoadCircuitImplTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/meter/PlcNextMeterImplTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/pvinverter/PlcNextPvInverterImplTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] Pickdate: fix subMonths/subYears (#3541)
  ui/src/app/shared/components/pickdate/pickdate.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Added Huawei Smart Logger and PV Inverter support
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.huawei/.classpath
  io.openems.edge.huawei/.gitignore
  io.openems.edge.huawei/.project
  io.openems.edge.huawei/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.huawei/bnd.bnd
  io.openems.edge.huawei/doc/modbus.pdf
  io.openems.edge.huawei/readme.adoc
  io.openems.edge.huawei/src/io/openems/edge/huawei/pvinverter/Config.java
  io.openems.edge.huawei/src/io/openems/edge/huawei/pvinverter/HuaweiPvInverter.java
  io.openems.edge.huawei/src/io/openems/edge/huawei/pvinverter/HuaweiPvInverterImpl.java
  io.openems.edge.huawei/src/io/openems/edge/huawei/pvinverter/smartlogger/Config.java
  io.openems.edge.huawei/src/io/openems/edge/huawei/pvinverter/smartlogger/HuaweiSmartLoggerPvInverterImpl.java
  io.openems.edge.huawei/src/io/openems/edge/huawei/pvinverter/smartlogger/HuaweiSmartloggerPvInverter.java
  io.openems.edge.huawei/test/.gitignore
  io.openems.edge.huawei/test/io/openems/edge/huawei/pvinverter/HuaweiPvInverterImplTest.java
  io.openems.edge.huawei/test/io/openems/edge/huawei/pvinverter/MyConfig.java
  io.openems.edge.huawei/test/io/openems/edge/huawei/pvinverter/smartlogger/HuaweiSmartLoggerPvInverterImplTest.java
  io.openems.edge.huawei/test/io/openems/edge/huawei/pvinverter/smartlogger/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

PLC-30: Modbus characteristic removed from PlcNextLoadCircuit component
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/auth/PlcNextAuthAndAccessTokenDTO.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/auth/PlcNextAuthConfig.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/auth/PlcNextTokenManager.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/auth/PlcNextTokenManagerImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/data/PlcNextGdsDataAccessConfig.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/data/PlcNextGdsDataProvider.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/data/PlcNextGdsDataProviderImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/mapper/PlcNextChannelToGdsDataMapper.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/mapper/PlcNextChannelToGdsDataMapperImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/mapper/PlcNextGdsDataMappedValue.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/mapper/PlcNextGdsDataMappingException.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/mapper/PlcNextGdsDataToChannelMapperImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/utils/PlcNextChannelValueTypeHelper.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/utils/PlcNextMappingDefinitionHelper.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/utils/PlcNextUrlStringHelper.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/ess/PlcNextEssImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/loadcircuit/Config.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/loadcircuit/PlcNextLoadCircuit.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/loadcircuit/PlcNextLoadCircuitImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/meter/PlcNextMeterImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/pvinverter/PlcNextPvInverterImpl.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/ess/PlcNextEssImplTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/loadcircuit/PlcNextLoadCircuitImplTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/loadcircuit/TestConfig.java
Due: build-java, restore-cache, rebuild-cache

modbus characteristic removed from PCU component
  io.openems.edge.phoenixcontact.plcnext/.classpath
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/auth/PlcNextAuthAndAccessTokenDTO.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/auth/PlcNextAuthConfig.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/auth/PlcNextTokenManager.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/auth/PlcNextTokenManagerImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/data/PlcNextGdsDataAccessConfig.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/data/PlcNextGdsDataProvider.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/data/PlcNextGdsDataProviderImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/mapper/PlcNextChannelToGdsDataMapper.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/mapper/PlcNextChannelToGdsDataMapperImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/mapper/PlcNextGdsDataMappedValue.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/mapper/PlcNextGdsDataMappingException.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/mapper/PlcNextGdsDataToChannelMapperImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/utils/PlcNextChannelValueTypeHelper.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/utils/PlcNextMappingDefinitionHelper.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/common/utils/PlcNextUrlStringHelper.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/ess/PlcNextEssImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/loadcircuit/Config.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/loadcircuit/PlcNextLoadCircuit.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/loadcircuit/PlcNextLoadCircuitImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/meter/PlcNextMeterImpl.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/pvinverter/PlcNextPvInverterImpl.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/ess/PlcNextEssImplTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/loadcircuit/PlcNextLoadCircuitImplTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/loadcircuit/TestConfig.java
Due: build-java, restore-cache, rebuild-cache

Fix Modbus task scheduling and simplify task handling
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksManager.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksManagerTest.java
Due: build-java, restore-cache, rebuild-cache

Update hosted version link for OpenEMS UI
  doc/modules/ROOT/pages/ui/setup-ide.adoc
Due: none

Add edge-dev-localhost environment configuration
  ui/src/themes/openems/environments/edge-dev-localhost.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Add file replacements for openems-edge-dev-localhost
  ui/angular.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update edge-dev-localhost.ts
  ui/src/themes/openems/environments/edge-dev-localhost.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

PLC-30: data mapping fixed: ESS, Meter
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/ess/PlcNextEssGdsDataReadMappingDefinition.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/meter/PlcNextMeterGdsDataReadMappingDefinition.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/common/utils/PlcNextMappingDefinitionHelperTest.java
Due: build-java, restore-cache, rebuild-cache

bugfixes
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/ess/PlcNextEssGdsDataReadMappingDefinition.java
  io.openems.edge.phoenixcontact.plcnext/src/io/openems/edge/phoenixcontact/plcnext/meter/PlcNextMeterGdsDataReadMappingDefinition.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/common/utils/PlcNextMappingDefinitionHelperTest.java
Due: build-java, restore-cache, rebuild-cache

Updated statemachine documentation and added Sn0w3y as contributor
  io.openems.edge.bridge.modbus/doc/statemachine.md
Due: build-java, restore-cache, rebuild-cache

Remove logging from JUnit tests
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksManagerTest.java
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.edge.application/BackendEdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Apply prepare-commit.sh
  ui/package-lock.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Push version to 2026.2.0
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2026.3.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

initial
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.evcc/.classpath
  io.openems.edge.evcc/.gitignore
  io.openems.edge.evcc/.project
  io.openems.edge.evcc/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.evcc/bnd.bnd
  io.openems.edge.evcc/readme.adoc
  io.openems.edge.evcc/src/io/openems/edge/evcc/loadpoint/AbstractLoadpointMeterEvcc.java
  io.openems.edge.evcc/src/io/openems/edge/evcc/loadpoint/Config.java
  io.openems.edge.evcc/src/io/openems/edge/evcc/loadpoint/LoadpointConsumptionMeterEvcc.java
  io.openems.edge.evcc/src/io/openems/edge/evcc/loadpoint/LoadpointConsumptionMeterEvccImpl.java
  io.openems.edge.evcc/src/io/openems/edge/evcc/loadpoint/PlugState.java
  io.openems.edge.evcc/src/io/openems/edge/evcc/loadpoint/single/Config.java
  io.openems.edge.evcc/src/io/openems/edge/evcc/loadpoint/single/LoadpointConsumptionSinglePhaseMeterEvcc.java
  io.openems.edge.evcc/src/io/openems/edge/evcc/loadpoint/single/LoadpointConsumptionSinglePhaseMeterEvccImpl.java
  io.openems.edge.evcc/test-fixtures/evcc-api-state-charging-1phase.json
  io.openems.edge.evcc/test-fixtures/evcc-api-state-charging-3phase.json
  io.openems.edge.evcc/test-fixtures/evcc-api-state-idle.json
  io.openems.edge.evcc/test-fixtures/evcc-api-state-no-voltage-data.json
  io.openems.edge.evcc/test/.gitignore
  io.openems.edge.evcc/test/io/openems/edge/evcc/loadpoint/LoadpointConsumptionMeterEvccImplTest.java
  io.openems.edge.evcc/test/io/openems/edge/evcc/loadpoint/MyConfig.java
  ui/package-lock.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

readme updated
  io.openems.edge.phoenixcontact.plcnext/readme.adoc
Due: build-java, restore-cache, rebuild-cache

doc: new manuel for intelliJ setup
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-10.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-11.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-12.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-13.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-2.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-3.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-4.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-5.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-6.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-7.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-8.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-9.png
  doc/modules/ROOT/assets/images/intellij-import-as-gradle.png
  doc/modules/ROOT/pages/development/ide/intellij-gradle.adoc
Due: build-java, restore-cache, rebuild-cache

doc: add IntelliJ commit settings for code formatting and quality checks
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-14.png
  doc/modules/ROOT/pages/development/ide/intellij-gradle.adoc
Due: build-java, restore-cache, rebuild-cache

chore: remove text.
  doc/modules/ROOT/pages/development/ide/intellij-gradle.adoc
Due: build-java, restore-cache, rebuild-cache

[Edge] Bridge.Modbus: fix task scheduling and simplify task handling (#3547)
  io.openems.edge.bridge.modbus/doc/statemachine.md
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksManager.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksManagerTest.java
Due: build-java, restore-cache, rebuild-cache

Deye: Added Read-Only Mode, GridMeter corrections
  io.openems.edge.deye/src/io/openems/edge/deye/battery/DeyeSunBattery.java
  io.openems.edge.deye/src/io/openems/edge/deye/battery/DeyeSunBatteryImpl.java
  io.openems.edge.deye/src/io/openems/edge/deye/ess/ApplyPowerHandler.java
  io.openems.edge.deye/src/io/openems/edge/deye/ess/DeyeSunHybridImpl.java
  io.openems.edge.deye/src/io/openems/edge/deye/meter/DeyeMeterImpl.java
  io.openems.edge.deye/src/io/openems/edge/deye/meter/DeyeMeterInternal.java
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/history.module.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Update Live EnergyMonitor arrows (#3375)
  ui/src/app/edge/live/energymonitor/chart/animation.scss
  ui/src/app/edge/live/energymonitor/chart/section/abstractsection.component.ts
  ui/src/app/edge/live/energymonitor/chart/section/animation.service.ts
  ui/src/app/edge/live/energymonitor/chart/section/consumption.component.html
  ui/src/app/edge/live/energymonitor/chart/section/consumption.component.ts
  ui/src/app/edge/live/energymonitor/chart/section/grid.component.html
  ui/src/app/edge/live/energymonitor/chart/section/grid.component.ts
  ui/src/app/edge/live/energymonitor/chart/section/production.component.html
  ui/src/app/edge/live/energymonitor/chart/section/production.component.ts
  ui/src/app/edge/live/energymonitor/chart/section/storage.component.html
  ui/src/app/edge/live/energymonitor/chart/section/storage.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Controller_Io_ChannelSingleThreshold: dynamic unit labels (#3515)
  io.openems.common/src/io/openems/common/channel/Unit.java
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/modal/modal.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update wrapper
  io.openems.wrapper/auth0-auth0.bnd
Due: build-java, restore-cache, rebuild-cache

Sort pom.xml
  cnf/pom.xml
Due: none

gitignore
  .gitignore
Due: none

Remove comment
  io.openems.edge.meter.opendtu/src/io/openems/edge/meter/opendtu/MeterOpenDtuImpl.java
Due: build-java, restore-cache, rebuild-cache

config typos, fix meter type
  io.openems.edge.meter.opendtu/src/io/openems/edge/meter/opendtu/Config.java
Due: build-java, restore-cache, rebuild-cache
