Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

Add 'CumulatedActiveTime' Channel for Controllers with Relay (#677)
  io.openems.edge.controller.channelthreshold/bnd.bnd
  io.openems.edge.controller.channelthreshold/src/io/openems/edge/controller/channelthreshold/ControllerChannelThreshold.java
  io.openems.edge.controller.channelthreshold/src/io/openems/edge/controller/channelthreshold/ControllerChannelThresholdImpl.java
  io.openems.edge.controller.chp.soc/bnd.bnd
  io.openems.edge.controller.chp.soc/src/io/openems/edge/controller/chp/soc/ControllerChpSoc.java
  io.openems.edge.controller.chp.soc/src/io/openems/edge/controller/chp/soc/ControllerChpSocImpl.java
  io.openems.edge.controller.ess.fixactivepower/bnd.bnd
  io.openems.edge.controller.ess.fixactivepower/src/io/openems/edge/controller/ess/fixactivepower/ControllerEssFixActivePower.java
  io.openems.edge.controller.ess.fixactivepower/src/io/openems/edge/controller/ess/fixactivepower/ControllerEssFixActivePowerImpl.java
  io.openems.edge.controller.io.channelsinglethreshold/bnd.bnd
  io.openems.edge.controller.io.channelsinglethreshold/src/io/openems/edge/controller/io/channelsinglethreshold/ControllerIoChannelSingleThreshold.java
  io.openems.edge.controller.io.channelsinglethreshold/src/io/openems/edge/controller/io/channelsinglethreshold/ControllerIoChannelSingleThresholdImpl.java
  io.openems.edge.controller.io.fixdigitaloutput/bnd.bnd
  io.openems.edge.controller.io.fixdigitaloutput/src/io/openems/edge/controller/io/fixdigitaloutput/ControllerIoFixDigitalOutput.java
  io.openems.edge.controller.io.fixdigitaloutput/src/io/openems/edge/controller/io/fixdigitaloutput/ControllerIoFixDigitalOutputImpl.java
Due: build-java, restore-cache, rebuild-cache

Add 'CumulatedActiveTime' Channel for Controllers with Relay (#677) (#2230)
  io.openems.edge.controller.channelthreshold/bnd.bnd
  io.openems.edge.controller.channelthreshold/src/io/openems/edge/controller/channelthreshold/ControllerChannelThreshold.java
  io.openems.edge.controller.channelthreshold/src/io/openems/edge/controller/channelthreshold/ControllerChannelThresholdImpl.java
  io.openems.edge.controller.chp.soc/bnd.bnd
  io.openems.edge.controller.chp.soc/src/io/openems/edge/controller/chp/soc/ControllerChpSoc.java
  io.openems.edge.controller.chp.soc/src/io/openems/edge/controller/chp/soc/ControllerChpSocImpl.java
  io.openems.edge.controller.ess.fixactivepower/bnd.bnd
  io.openems.edge.controller.ess.fixactivepower/src/io/openems/edge/controller/ess/fixactivepower/ControllerEssFixActivePower.java
  io.openems.edge.controller.ess.fixactivepower/src/io/openems/edge/controller/ess/fixactivepower/ControllerEssFixActivePowerImpl.java
  io.openems.edge.controller.io.channelsinglethreshold/bnd.bnd
  io.openems.edge.controller.io.channelsinglethreshold/src/io/openems/edge/controller/io/channelsinglethreshold/ControllerIoChannelSingleThreshold.java
  io.openems.edge.controller.io.channelsinglethreshold/src/io/openems/edge/controller/io/channelsinglethreshold/ControllerIoChannelSingleThresholdImpl.java
  io.openems.edge.controller.io.fixdigitaloutput/bnd.bnd
  io.openems.edge.controller.io.fixdigitaloutput/src/io/openems/edge/controller/io/fixdigitaloutput/ControllerIoFixDigitalOutput.java
  io.openems.edge.controller.io.fixdigitaloutput/src/io/openems/edge/controller/io/fixdigitaloutput/ControllerIoFixDigitalOutputImpl.java
Due: build-java, restore-cache, rebuild-cache

PV-Inverter:
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/SinglePhaseMeter.java
  io.openems.edge.pvinverter.sunspec/src/io/openems/edge/pvinverter/sunspec/AbstractSunSpecPvInverter.java
Due: build-java, restore-cache, rebuild-cache

Meter: Use only sum-voltage for 'Voltage'
  io.openems.edge.meter.sunspec/src/io/openems/edge/meter/sunspec/AbstractSunSpecMeter.java
Due: build-java, restore-cache, rebuild-cache

Fix Checkstyle
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/SinglePhaseMeter.java
Due: build-java, restore-cache, rebuild-cache

KACO10 PV-Inverter: add phase values
  io.openems.edge.kaco.blueplanet.hybrid10/src/io/openems/edge/kaco/blueplanet/hybrid10/pvinverter/KacoBlueplanetHybrid10PvInverterImpl.java
Due: build-java, restore-cache, rebuild-cache

Checkstyle: disable MultipleVariableDeclarationsCheck
  cnf/checkstyle.xml
Due: none

Fix scale factors
  io.openems.edge.pvinverter.sunspec/src/io/openems/edge/pvinverter/sunspec/AbstractSunSpecPvInverter.java
Due: build-java, restore-cache, rebuild-cache

Kaco.BlueplanetHybrid10.PvInverter: add phase values (#2232)
  cnf/checkstyle.xml
  io.openems.edge.kaco.blueplanet.hybrid10/src/io/openems/edge/kaco/blueplanet/hybrid10/pvinverter/KacoBlueplanetHybrid10PvInverterImpl.java
Due: build-java, restore-cache, rebuild-cache

SunSpec PV-Inverters + Meters: improve implementation (#2231)
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/SinglePhaseMeter.java
  io.openems.edge.meter.sunspec/src/io/openems/edge/meter/sunspec/AbstractSunSpecMeter.java
  io.openems.edge.pvinverter.sunspec/src/io/openems/edge/pvinverter/sunspec/AbstractSunSpecPvInverter.java
Due: build-java, restore-cache, rebuild-cache

Review
  ui/.vscode/settings.json
  ui/karma.conf.js
  ui/src/app/edge/live/common/grid/modal/constants.spec.ts
  ui/src/app/edge/live/common/grid/modal/modal.spec.ts
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/shared/genericComponents/shared/converter.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

GoodWe.BatteryInverter: use data from battery directly (#689)
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/batteryinverter/TestStatic.java
Due: build-java, restore-cache, rebuild-cache

Adds new http bridge and shelly implementation.
  cnf/pom.xml
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.bridge.http/.classpath
  io.openems.edge.bridge.http/.gitignore
  io.openems.edge.bridge.http/.project
  io.openems.edge.bridge.http/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.bridge.http/bnd.bnd
  io.openems.edge.bridge.http/readme.adoc
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/Config.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/HttpBridge.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/HttpBridgeImpl.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/HttpResponse.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/IllegalPlattformException.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/OsDetector.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/package-info.java
  io.openems.edge.bridge.http/test/io/openems/edge/bridge/http/MyConfig.java
  io.openems.edge.bridge.http/test/io/openems/edge/bridge/http/MyControllerTest.java
  io.openems.edge.io.shelly/bnd.bnd
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/common/ShellyApi.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly25/IoShelly25Impl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImpl.java
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/reqwest4j.bnd
Due: build-java, restore-cache, rebuild-cache

Cleanup
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.ts
  ui/src/app/shared/formly/formly-field-modal/template.html
  ui/src/app/shared/genericComponents/modal/abstract-modal-line.ts
  ui/src/app/shared/genericComponents/shared/converter.ts
  ui/src/app/shared/genericComponents/shared/filter.ts
  ui/src/app/shared/genericComponents/shared/name.ts
  ui/src/app/shared/genericComponents/shared/oe-formly-component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Cleanup
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.html
  ui/src/app/shared/genericComponents/shared/converter.ts
  ui/src/app/shared/genericComponents/shared/name.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Review
  ui/src/app/edge/live/common/grid/modal/constants.spec.ts
  ui/src/app/edge/live/common/grid/modal/modal.spec.ts
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.html
  ui/src/app/shared/genericComponents/shared/converter.ts
  ui/src/app/shared/genericComponents/shared/filter.ts
  ui/src/app/shared/genericComponents/shared/name.ts
  ui/src/app/shared/genericComponents/shared/oe-formly-component.ts
  ui/src/app/shared/genericComponents/shared/tester.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/test/testSystem.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

WIP
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/AbstractModbusBridge.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/AbstractOpenemsModbusComponent.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/ModbusComponent.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/ModbusWorker.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/WaitHandler.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksManager.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksSupplier.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/WaitDelayHandler.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/AbstractOpenemsSunSpecComponent.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksSupplierTest.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/WaitDelayHandlerTest.java
  io.openems.edge.meter.sunspec/src/io/openems/edge/meter/sunspec/AbstractSunSpecMeter.java
  io.openems.edge.pvinverter.sunspec/src/io/openems/edge/pvinverter/sunspec/AbstractSunSpecPvInverter.java
Due: build-java, restore-cache, rebuild-cache

Cleanup tests; simplify creation of dummy EdgeConfig
  ui/src/app/edge/live/common/grid/modal/constants.spec.ts
  ui/src/app/edge/live/common/grid/modal/modal.spec.ts
  ui/src/app/shared/edge/edgeconfig.spec.ts
  ui/src/app/shared/genericComponents/shared/tester.ts
  ui/src/app/shared/test/testSystem.spec.ts
  ui/src/app/shared/test/types.spec.ts
  ui/src/app/shared/test/utils.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Final touches
  ui/src/app/shared/edge/edgeconfig.spec.ts
  ui/src/app/shared/genericComponents/shared/tester.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix build
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHome.java
  io.openems.edge.bridge.modbus/doc/.$modbus-bridge.svg.bkp
  io.openems.edge.meter.sunspec/src/io/openems/edge/meter/sunspec/AbstractSunSpecMeter.java
  io.openems.edge.pvinverter.sunspec/src/io/openems/edge/pvinverter/sunspec/AbstractSunSpecPvInverter.java
Due: build-java, restore-cache, rebuild-cache

prevent parsing undefined to string and displaying it
  ui/src/app/shared/genericComponents/shared/converter.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Adapt FEMS for SVG-Icons (#685)
  ui/src/app/edge/history/common/selfconsumption/flat/flat.html
  ui/src/themes/fenecon/scss/variables.scss
  ui/src/themes/heckert/scss/variables.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

prevent undefined values
  ui/src/app/shared/genericComponents/modal/abstract-modal-line.ts
  ui/src/app/shared/genericComponents/shared/converter.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

AppCenter: add message expression (#686)
  ui/src/app/edge/settings/app/install.component.ts
  ui/src/app/edge/settings/app/jsonrpc/getAppAssistant.spec.ts
  ui/src/app/edge/settings/app/jsonrpc/getAppAssistant.ts
  ui/src/app/edge/settings/app/update.component.html
  ui/src/app/edge/settings/app/update.component.ts
  ui/src/app/shared/formly/form-field-default-cases.wrapper.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix bugs for release (#690)
  ui/src/app/edge/history/storage/widget.component.html
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/modal/modal.html
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/modal/modal.ts
  ui/src/app/edge/live/Controller/Evcs/modal/modal.page.html
  ui/src/app/edge/live/Multiple/Evcs_Api_Cluster/modal/evcsCluster-modal.page.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: introduce type-safe and testable Views (#2123)
  .github/workflows/build.yml
  ui/karma.conf.js
  ui/src/app/edge/live/common/grid/modal/constants.spec.ts
  ui/src/app/edge/live/common/grid/modal/modal.html
  ui/src/app/edge/live/common/grid/modal/modal.spec.ts
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/shared/edge/currentdata.ts
  ui/src/app/shared/edge/edgeconfig.spec.ts
  ui/src/app/shared/edge/edgeconfig.ts
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.html
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.ts
  ui/src/app/shared/formly/formly-field-modal/template.html
  ui/src/app/shared/genericComponents/modal/abstract-modal-line.ts
  ui/src/app/shared/genericComponents/modal/modal-line/modal-line-item/modal-line-item.html
  ui/src/app/shared/genericComponents/modal/modal-line/modal-line.html
  ui/src/app/shared/genericComponents/modal/modal-line/modal-line.ts
  ui/src/app/shared/genericComponents/modal/modal-phases/modal-phases.html
  ui/src/app/shared/genericComponents/shared/converter.ts
  ui/src/app/shared/genericComponents/shared/filter.ts
  ui/src/app/shared/genericComponents/shared/name.ts
  ui/src/app/shared/genericComponents/shared/oe-formly-component.ts
  ui/src/app/shared/genericComponents/shared/tester.ts
  ui/src/app/shared/service/test/dummyservice.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/shared.module.ts
  ui/src/app/shared/test/utils.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Add Locales to Language (#688)
  ui/src/app/shared/pipe/unitvalue/unitvalue.pipe.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/type/language.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Push version to 2023.6.1
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update Changelog for 2023.6.1
  ui/src/app/changelog/view/component/changelog.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2023.6.2-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI production fix
  ui/package-lock.json
  ui/src/app/edge/history/common/production/overview/overview.ts
  ui/src/app/edge/live/common/consumption/modal/modal.html
  ui/src/app/edge/live/common/production/modal/modal.html
  ui/src/app/edge/live/common/storage/modal/modal.component.ts
  ui/src/app/edge/live/common/storage/storage.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

ElectricityMeter: use cumulated Units for Energy channels (#693)
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/ElectricityMeter.java
Due: build-java, restore-cache, rebuild-cache

UI: Fix Develop Build (#694)
  ui/src/app/shared/service/test/dummyservice.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update Changelog for 2023.6.2
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Push version to 2023.6.2
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2023.6.3-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

refactor renamed converters; change electricityMeter and essCharger to use new Converter
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/shared/edge/meter/esscharger/modal.component.html
  ui/src/app/shared/edge/meter/esscharger/modal.component.ts
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.ts
  ui/src/app/shared/genericComponents/modal/abstract-modal-line.ts
  ui/src/app/shared/genericComponents/modal/modal-phases/modal-phases.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

split Clusterable interface to; -Balancable, coolable, inhibitable and heatable interfaces
  io.openems.edge.battery.api/src/io/openems/edge/battery/api/BatteryBalancable.java
  io.openems.edge.battery.api/src/io/openems/edge/battery/api/BatteryCoolable.java
  io.openems.edge.battery.api/src/io/openems/edge/battery/api/BatteryHeatable.java
  io.openems.edge.battery.api/src/io/openems/edge/battery/api/BatteryInhibitable.java
  io.openems.edge.battery.api/src/io/openems/edge/battery/dummy/DummyBattery.java
  io.openems.edge.battery.api/src/io/openems/edge/battery/dummy/DummyBatteryImpl.java
  io.openems.edge.battery.api/test/io/openems/edge/battery/dummy/StateMachineTest.java
Due: build-java, restore-cache, rebuild-cache
