Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

Fix GoodWeGridMeterImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/gridmeter/GoodWeGridMeterImpl.java
Due: build-java, restore-cache, rebuild-cache

Update GoodWeGridMeterImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/gridmeter/GoodWeGridMeterImpl.java
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update EvcsOcppServer.java
  io.openems.edge.evcs.ocpp.server/src/io/openems/edge/evcs/ocpp/server/EvcsOcppServer.java
Due: build-java, restore-cache, rebuild-cache

Update MyJsonServer.java
  io.openems.edge.evcs.ocpp.server/src/io/openems/edge/evcs/ocpp/server/MyJsonServer.java
Due: build-java, restore-cache, rebuild-cache

Checkstyle Fix
  io.openems.edge.evcs.ocpp.server/src/io/openems/edge/evcs/ocpp/server/MyJsonServer.java
Due: build-java, restore-cache, rebuild-cache

Fix super class missing
  io.openems.edge.evcs.ocpp.server/src/io/openems/edge/evcs/ocpp/server/EvcsOcppServer.java
Due: build-java, restore-cache, rebuild-cache

Update gradle.properties
  gradle.properties
Due: build-java, restore-cache, rebuild-cache

Update chart.adoc Link for GitHub Code
  doc/modules/ROOT/pages/ui/implementing-a-widget/components/chart.adoc
Due: none

Start migration to Jetty12
  cnf/pom.xml
  io.openems.backend.b2brest/bnd.bnd
  io.openems.backend.b2brest/src/io/openems/backend/b2brest/RestHandler.java
Due: build-java, restore-cache, rebuild-cache

Fix checkstyle
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/common/DataStatistics.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/Lstm.java
Due: build-java, restore-cache, rebuild-cache

Ignore test to avoid writing CSVs
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/train/BatchImplementationTest.java
Due: build-java, restore-cache, rebuild-cache

Checkstyle fix
  io.openems.edge.evcs.ocpp.server/src/io/openems/edge/evcs/ocpp/server/MyJsonServer.java
Due: build-java, restore-cache, rebuild-cache

Update to Prediction changes; fix possible JUnit timing issue
  io.openems.edge.evcs.api/test/io/openems/edge/evcs/api/AbstractManagedEvcsTest.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/LstmModelImpl.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/jsonrpc/GetPredictionResponse.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/jsonrpc/PredictionRequestHandler.java
Due: build-java, restore-cache, rebuild-cache

Review
  io.openems.edge.predictor.lstmmodel/bnd.bnd
  io.openems.edge.predictor.lstmmodel/readme.adoc
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/Config.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/LstmModel.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/LstmModelImpl.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/common/ReadAndSaveModels.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/train/LstmTrain.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/common/ReadAndSaveObjectTest.java
Due: build-java, restore-cache, rebuild-cache

Rename files to common standard
  io.openems.edge.predictor.lstm/bnd.bnd
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/Config.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/PredictorLstm.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/PredictorLstmImpl.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/LstmPredictor.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/train/LstmTrain.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/validator/ValidationSeasonalityModel.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/validator/ValidationTrendModel.java
  io.openems.edge.predictor.lstm/test/io/openems/edge/predictor/lstm/LstmModelImplTest.java
  io.openems.edge.predictor.lstm/test/io/openems/edge/predictor/lstm/LstmPredictorTest.java
  io.openems.edge.predictor.lstm/test/io/openems/edge/predictor/lstm/StandAlonePredictorTest.java
Due: build-java, restore-cache, rebuild-cache

Update link in readme
  io.openems.edge.predictor.lstm/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Small fix for creating the "lstm" Folder
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/ReadAndSaveModels.java
Due: build-java, restore-cache, rebuild-cache

Update ReadAndSaveModels.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/ReadAndSaveModels.java
Due: build-java, restore-cache, rebuild-cache

ENTSO-E: added preferred resolution config
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Config.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Resolution.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoeImpl.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Utils.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/MyConfig.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/ParserTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/TouEntsoeTest.java
Due: build-java, restore-cache, rebuild-cache

ModbusTcpApi: fix updating ModbusRecordTable
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/AbstractModbusTcpApi.java
Due: build-java, restore-cache, rebuild-cache

UI: dynamic scaling for charts and start scales at least at 0
  ui/src/app/edge/history/Controller/Ess/TimeOfUseTariff/chart/chart.ts
  ui/src/app/shared/components/chart/chart.constants.spec.ts
  ui/src/app/shared/components/chart/chart.constants.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: adjust server not accessible page for local monitoring
  ui/src/app/index/shared/loading-screen.html
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: update last updated timestamp for empty edge
  ui/src/app/edge/live/live.component.html
  ui/src/app/edge/live/live.component.ts
  ui/src/app/edge/live/livedataservice.ts
  ui/src/app/shared/components/shared/dataservice.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

ToU: resolution property addition in ENTSO-E App + fix ENTSO-E timing
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/EntsoE.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.timeofusetariff.api/src/io/openems/edge/timeofusetariff/api/TimeOfUsePrices.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/ParserTest.java
Due: build-java, restore-cache, rebuild-cache

UI: show absolute value for grid current value in modal
  ui/src/app/edge/live/common/grid/modal/modal.ts
  ui/src/app/shared/components/shared/converter.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Offline-Page Translations
  ui/package-lock.json
  ui/src/app/edge/live/live.component.html
  ui/src/app/shared/components/edge/offline/offline.component.ts
  ui/src/app/shared/components/edge/offline/offline.module.ts
  ui/src/app/shared/components/edge/offline/offline.spec.ts
  ui/src/app/shared/utils/time/timeutils.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Prediction ValueRange: fix possible NPE if value is null
  io.openems.edge.predictor.api/src/io/openems/edge/predictor/api/prediction/Prediction.java
  io.openems.edge.predictor.api/test/io/openems/edge/predictor/api/oneday/PredictionTest.java
  io.openems.edge.predictor.api/test/io/openems/edge/predictor/api/prediction/PredictionTest.java
Due: build-java, restore-cache, rebuild-cache

UI: ToU chart bugfix regarding dynamic scaling
  ui/src/app/edge/history/Controller/Ess/TimeOfUseTariff/chart/chart.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/statePriceChart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Time-of-Use-Tariff: apply ESS_MAX_SOC in Run-State
  io.openems.backend.alerting/src/io/openems/backend/alerting/scheduler/MessageScheduler.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/Dummy.java
  io.openems.common/src/io/openems/common/jsonrpc/response/QueryHistoricTimeseriesExportXlsxResponse.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/element/WordOrder.java
  io.openems.edge.bridge.onewire/src/io/openems/edge/bridge/onewire/jsonrpc/GetDeviceResponse.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/AbstractModbusTcpApi.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/jsonrpc/GetModbusProtocolExportXlsxResponse.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/jsonrpc/GetModbusProtocolResponse.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/Utils.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/v1/UtilsV1.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/UtilsTest.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/v1/UtilsV1Test.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/formly/builder/InputBuilder.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/jsonrpc/ChannelExportXlsxResponse.java
  io.openems.edge.core/src/io/openems/edge/core/host/NetworkConfiguration.java
  io.openems.edge.core/src/io/openems/edge/core/host/jsonrpc/ExecuteSystemCommandResponse.java
  io.openems.edge.core/src/io/openems/edge/core/host/jsonrpc/ExecuteSystemRestartResponse.java
  io.openems.edge.core/src/io/openems/edge/core/host/jsonrpc/GetNetworkConfigResponse.java
  io.openems.edge.core/src/io/openems/edge/core/host/jsonrpc/GetSystemUpdateStateResponse.java
  io.openems.edge.energy/src/io/openems/edge/energy/v1/optimizer/UtilsV1.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/SimulationResultTest.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/power/api/Constraint.java
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/api/ManagedEvcs.java
  io.openems.edge.evcs.hardybarth/src/io/openems/edge/evcs/hardybarth/EvcsHardyBarth.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/meter/grid/acting/SimulatorGridMeterActingImpl.java
  io.openems.wrapper/fastexcel.bnd
Due: build-java, restore-cache, rebuild-cache

EVCS Mennekes Read Only implementation
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.evcs/src/io/openems/edge/controller/evcs/ControllerEvcs.java
  io.openems.edge.controller.evcs/src/io/openems/edge/controller/evcs/ControllerEvcsImpl.java
  io.openems.edge.controller.evcs/src/io/openems/edge/controller/evcs/translation_de.properties
  io.openems.edge.controller.evcs/src/io/openems/edge/controller/evcs/translation_en.properties
  io.openems.edge.core/src/io/openems/edge/app/evcs/readonly/MennekesEvcsReadOnly.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/OpenemsAppCategory.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/api/Evcs.java
  io.openems.edge.evcs.mennekes/.classpath
  io.openems.edge.evcs.mennekes/.gitignore
  io.openems.edge.evcs.mennekes/.project
  io.openems.edge.evcs.mennekes/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.evcs.mennekes/bnd.bnd
  io.openems.edge.evcs.mennekes/readme.adoc
  io.openems.edge.evcs.mennekes/src/io/openems/edge/evcs/mennekes/AvailableState.java
  io.openems.edge.evcs.mennekes/src/io/openems/edge/evcs/mennekes/Config.java
  io.openems.edge.evcs.mennekes/src/io/openems/edge/evcs/mennekes/EvcsMennekes.java
  io.openems.edge.evcs.mennekes/src/io/openems/edge/evcs/mennekes/EvcsMennekesImpl.java
  io.openems.edge.evcs.mennekes/src/io/openems/edge/evcs/mennekes/MennekesErrorStates.java
  io.openems.edge.evcs.mennekes/src/io/openems/edge/evcs/mennekes/MennekesOcppState.java
  io.openems.edge.evcs.mennekes/src/io/openems/edge/evcs/mennekes/VehicleState.java
  io.openems.edge.evcs.mennekes/src/io/openems/edge/evcs/mennekes/translation_de.properties
  io.openems.edge.evcs.mennekes/src/io/openems/edge/evcs/mennekes/translation_en.properties
  io.openems.edge.evcs.mennekes/test/.gitignore
  io.openems.edge.evcs.mennekes/test/io/openems/edge/evcs/mennekes/MennekesTest.java
  io.openems.edge.evcs.mennekes/test/io/openems/edge/evcs/mennekes/MyConfig.java
  ui/src/app/edge/live/Controller/Evcs/flat/flat.html
  ui/src/app/edge/live/Controller/Evcs/flat/flat.ts
  ui/src/app/edge/live/Controller/Evcs/modal/modal.html
  ui/src/app/edge/live/Controller/Evcs/modal/modal.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
