Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

Fix UI linting errors
  ui/src/app/edge/installation/installation-view/installation-view.component.ts
  ui/src/app/edge/installation/keymask.ts
  ui/src/app/edge/installation/shared/ibnutils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

WIP
  io.openems.edge.io.revpi/src/io/openems/edge/io/revpi/RevPiDigitalIoDevice.java
  io.openems.edge.io.revpi/src/io/openems/edge/io/revpi/RevPiDigitalIoDeviceImpl.java
  io.openems.edge.io.revpi/src/io/openems/edge/io/revpi/RevPiDioChannelId.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly25/Shelly25Impl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/ShellyPlugImpl.java
  io.openems.edge.io.wago/src/io/openems/edge/wago/Fieldbus4xxDI.java
  io.openems.edge.io.wago/src/io/openems/edge/wago/Fieldbus523RO1Ch.java
  io.openems.edge.io.wago/src/io/openems/edge/wago/Fieldbus5xxDO.java
  io.openems.edge.io.wago/src/io/openems/edge/wago/FieldbusModuleFactory.java
  io.openems.edge.io.wago/src/io/openems/edge/wago/Wago.java
  io.openems.edge.io.wago/src/io/openems/edge/wago/WagoImpl.java
  io.openems.edge.io.wago/test/io/openems/edge/wago/WagoTest.java
  io.openems.edge.io.weidmueller/src/io/openems/edge/io/weidmueller/WeidmuellerUR20Impl.java
  io.openems.edge.kaco.blueplanet.hybrid10/src/io/openems/edge/kaco/blueplanet/hybrid10/core/BpCoreImpl.java
  io.openems.edge.kaco.blueplanet.hybrid10/src/io/openems/edge/kaco/blueplanet/hybrid10/ess/BpEssImpl.java
  io.openems.edge.kaco.blueplanet.hybrid10/src/io/openems/edge/kaco/blueplanet/hybrid10/pvinverter/BpPvInverterImpl.java
  io.openems.edge.kaco.blueplanet.hybrid10/src/io/openems/edge/kaco/blueplanet/hybrid10/vectis/VectisImpl.java
  io.openems.edge.kostal.piko/src/io/openems/edge/kostal/piko/charger/KostalPikoCharger.java
  io.openems.edge.kostal.piko/src/io/openems/edge/kostal/piko/charger/KostalPikoChargerImpl.java
  io.openems.edge.kostal.piko/src/io/openems/edge/kostal/piko/core/impl/KostalPikoCoreImpl.java
  io.openems.edge.kostal.piko/src/io/openems/edge/kostal/piko/ess/KostalPikoEss.java
  io.openems.edge.kostal.piko/src/io/openems/edge/kostal/piko/ess/KostalPikoEssImpl.java
  io.openems.edge.kostal.piko/src/io/openems/edge/kostal/piko/gridmeter/KostalPikoGridMeter.java
  io.openems.edge.kostal.piko/src/io/openems/edge/kostal/piko/gridmeter/KostalPikoGridMeterImpl.java
  io.openems.edge.meter.abb/src/io/openems/edge/meter/abb/b32/MeterAbbB23Mbus.java
  io.openems.edge.meter.abb/src/io/openems/edge/meter/abb/b32/MeterAbbB23MbusImpl.java
  io.openems.edge.meter.artemes.am2/src/io/openems/edge/meter/artemes/am2/MeterArtemesAM2.java
  io.openems.edge.meter.artemes.am2/src/io/openems/edge/meter/artemes/am2/MeterArtemesAM2Impl.java
  io.openems.edge.meter.artemes.am2/test/io/openems/edge/meter/artemes/am2/MeterArtemesAM2Test.java
  io.openems.edge.meter.bcontrol.em300/src/io/openems/edge/meter/bcontrol/em300/MeterBControlEM300Impl.java
  io.openems.edge.meter.bgetech/src/io/openems/edge/meter/bgetech/MeterBgeTechDrt428M2Impl.java
  io.openems.edge.meter.carlo.gavazzi.em300/src/io/openems/edge/meter/carlo/gavazzi/em300/MeterCarloGavazziEm300Impl.java
  io.openems.edge.meter.discovergy/src/io/openems/edge/meter/discovergy/DiscovergyWorker.java
  io.openems.edge.meter.discovergy/src/io/openems/edge/meter/discovergy/MeterDiscovergy.java
  io.openems.edge.meter.discovergy/src/io/openems/edge/meter/discovergy/MeterDiscovergyImpl.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg604/MeterJanitzaUmg604Impl.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg96rme/MeterJanitzaUmg96rme.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg96rme/MeterJanitzaUmg96rmeImpl.java
  io.openems.edge.meter.janitza/test/io/openems/edge/meter/janitza/umg96rme/MeterJanitzaUmg96rmeTest.java
Due: build-java, restore-cache, rebuild-cache

improve readme images
  README.md
Due: none

improve readme images
  doc/modules/ROOT/assets/images/areal-energy-management.jpg
  doc/modules/ROOT/assets/images/areal-energy-management.png
  doc/modules/ROOT/assets/images/local-energy-management.jpg
  doc/modules/ROOT/assets/images/local-energy-management.png
  doc/modules/ROOT/assets/images/ui-history.png
  doc/modules/ROOT/assets/images/ui-live.png
Due: none

WIP
  io.openems.backend.timedata.dummy/src/io/openems/backend/timedata/dummy/TimedataDummy.java
  io.openems.edge.bridge.mbus/src/io/openems/edge/bridge/mbus/BridgeMbusImpl.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/BridgeModbusSerialImpl.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/BridgeModbusTcpImpl.java
  io.openems.edge.bridge.onewire/src/io/openems/edge/bridge/onewire/impl/BridgeOnewireImpl.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/BackendApiImpl.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttApiControllerImpl.java
  io.openems.edge.controller.asymmetric.phaserectification/src/io/openems/edge/controller/asymmetric/phaserectification/PhaseRectification.java
  io.openems.edge.controller.io.heatingelement/src/io/openems/edge/controller/io/heatingelement/ControllerHeatingElementImpl.java
  io.openems.edge.evcs.goe.chargerhome/src/io/openems/edge/evcs/goe/chargerhome/GoeChargerHomeImpl.java
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/kecontact/KebaKeContactImpl.java
  io.openems.edge.meter.abb/src/io/openems/edge/meter/abb/b32/MeterAbbB23MbusImpl.java
  io.openems.edge.meter.virtual/src/io/openems/edge/meter/virtual/symmetric/subtract/VirtualSubtractMeterImpl.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/datasource/csv/direct/SimulatorDatasourceCsvDirectImpl.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/datasource/single/direct/SimulatorDatasourceSingleDirect.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/datasource/single/direct/SimulatorDatasourceSingleDirectImpl.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/ess/singlephase/reacting/SimulatorEssSinglePhaseReacting.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/ess/singlephase/reacting/SimulatorEssSinglePhaseReactingImpl.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/ess/symmetric/reacting/SimulatorEssSymmetricReacting.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/ess/symmetric/reacting/SimulatorEssSymmetricReactingImpl.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/evcs/AsymmetricMeterEvcs.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/evcs/SimulatorEvcs.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/evcs/SimulatorEvcsImpl.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/io/SimulatorIoDigitalInputOutput.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/io/SimulatorIoDigitalInputOutputImpl.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/meter/grid/acting/SimulatorGridMeterActing.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/meter/grid/acting/SimulatorGridMeterActingImpl.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/meter/grid/reacting/SimulatorGridMeterReacting.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/meter/grid/reacting/SimulatorGridMeterReactingImpl.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/meter/nrc/acting/NrcMeter.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/meter/production/acting/ProductionMeter.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/pvinverter/PvInverter.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/timedata/SimulatorTimedata.java
  io.openems.edge.simulator/test/io/openems/edge/simulator/ess/symmetric/reacting/EssSymmetricTest.java
  io.openems.edge.timedata.influxdb/src/io/openems/edge/timedata/influxdb/InfluxTimedataImpl.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/Rrd4jTimedataImpl.java
Due: build-java, restore-cache, rebuild-cache

replace deprecated 'xlink:href' with 'href'
  ui/src/app/edge/live/energymonitor/chart/section/consumption.component.html
  ui/src/app/edge/live/energymonitor/chart/section/grid.component.html
  ui/src/app/edge/live/energymonitor/chart/section/production.component.html
  ui/src/app/edge/live/energymonitor/chart/section/storage.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bnd + bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/influxdb-client-core.bnd
  io.openems.wrapper/influxdb-client-java.bnd
  io.openems.wrapper/influxdb-client-utils.bnd
  io.openems.wrapper/influxdb-flux-dsl.bnd
Due: build-java, restore-cache, rebuild-cache

Update bnd
  io.openems.wrapper/fastexcel.bnd
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Re-add missing export
  io.openems.edge.ess.generic/src/io/openems/edge/ess/generic/common/package-info.java
Due: build-java, restore-cache, rebuild-cache

Fix JUnit test
  io.openems.edge.battery.bmw/test/io/openems/edge/battery/bmw/BmwBatteryImplTest.java
Due: build-java, restore-cache, rebuild-cache

Fix JUnit test
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/test/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/BatteryInverterKacoBlueplanetGridsaveImplTest.java
Due: build-java, restore-cache, rebuild-cache

Fix JUnit test
  io.openems.edge.batteryinverter.refu88k/test/io/openems/edge/batteryinverter/refu88k/RefuStore88kImplTest.java
Due: build-java, restore-cache, rebuild-cache

Fix JUnit test
  io.openems.edge.batteryinverter.sinexcel/test/io/openems/edge/batteryinverter/sinexcel/BatteryInverterSinexcelImplTest.java
Due: build-java, restore-cache, rebuild-cache

Fix JUnit test
  io.openems.edge.controller.ess.delayedselltogrid/test/io/openems/edge/controller/ess/delayedselltogrid/ControllerEssDelayedSellToGridImplTest.java
Due: build-java, restore-cache, rebuild-cache

Changes on saving n reading the model
  .gitignore
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/LstmPredictorImpl.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/interpolation/InterpolationManager.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/model/ReadModel.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/model/SaveModel.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/model/savedmodel
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/LstmModelPredictorTest.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/LstmModelPredictorTestReadCsv.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/interpolation/CubicalInterpolationTest.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/interpolation/InterpolationManagerTest.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/model/ReadModelTest.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/model/SaveModelTest.java
  io.openems.edge.predictor.lstmmodel/testResults/modelFromTest.txt
Due: build-java, restore-cache, rebuild-cache

merging
  io.openems.edge.controller.predictiontester/generated/buildfiles
  io.openems.edge.predictor.lstmmodel/generated/buildfiles
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/LstmPredictorImpl.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/interpolation/InterpolationManager.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/preprocessing/PreprocessingImpl.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/Engine.java
  io.openems.edge.predictor.lstmmodel/src/io/openems/edge/predictor/lstmmodel/util/Lstm.java
  io.openems.edge.predictor.lstmmodel/test/io/openems/edge/predictor/lstmmodel/Data.java
Due: build-java, restore-cache, rebuild-cache

UI: IBN: Prefix removal in Home battery module serial number fields. (#670)
  ui/src/app/edge/installation/installation-systems/home/abstract-home.ts
  ui/src/app/edge/installation/installation.module.ts
  ui/src/app/shared/translate.extension.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

optimize dummy battery start with main contactor target
  io.openems.edge.battery.api/src/io/openems/edge/battery/dummy/DummyBattery.java
  io.openems.edge.battery.api/src/io/openems/edge/battery/dummy/DummyBatteryImpl.java
  io.openems.edge.battery.api/src/io/openems/edge/battery/dummy/MyConfig.java
  io.openems.edge.battery.api/src/io/openems/edge/battery/statemachine/GoRunningHandler.java
  io.openems.edge.battery.api/test/io/openems/edge/battery/dummy/StateMachineTest.java
Due: build-java, restore-cache, rebuild-cache

UI: Refactor Selfconsumption widget in history (#678)
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/common/autarchy/Autarchy.ts
  ui/src/app/edge/history/common/autarchy/flat/flat.ts
  ui/src/app/edge/history/common/production/Production.ts
  ui/src/app/edge/history/common/production/overview/overview.ts
  ui/src/app/edge/history/common/selfconsumption/SelfConsumption.ts
  ui/src/app/edge/history/common/selfconsumption/chart/chart.component.ts
  ui/src/app/edge/history/common/selfconsumption/flat/flat.html
  ui/src/app/edge/history/common/selfconsumption/flat/flat.ts
  ui/src/app/edge/history/common/selfconsumption/overview/overview.html
  ui/src/app/edge/history/common/selfconsumption/overview/overview.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/history.module.ts
  ui/src/app/edge/history/selfconsumption/chart.component.ts
  ui/src/app/edge/history/selfconsumption/selfconsumptionchartoverview/selfconsumptionchartoverview.component.html
  ui/src/app/edge/history/selfconsumption/selfconsumptionchartoverview/selfconsumptionchartoverview.component.ts
  ui/src/app/edge/history/selfconsumption/widget.component.html
  ui/src/app/edge/history/selfconsumption/widget.component.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Cleanup JUnit tests
  io.openems.backend.core/src/io/openems/backend/core/jsonrpcrequesthandler/CoreJsonRpcRequestHandlerImpl.java
  io.openems.backend.core/src/io/openems/backend/core/jsonrpcrequesthandler/EdgeRpcRequestHandler.java
  io.openems.edge.controller.ess.cycle/test/io/openems/edge/controller/ess/cycle/ControllerEssCycleImplTest.java
  io.openems.edge.controller.ess.delaycharge/test/io/openems/edge/controller/ess/delaycharge/ControllerEssDelayChargeImplTest.java
  io.openems.edge.controller.ess.emergencycapacityreserve/test/io/openems/edge/controller/ess/emergencycapacityreserve/ControllerEssEmergencyCapacityReserveImplTest.java
  io.openems.edge.controller.ess.fixactivepower/test/io/openems/edge/controller/ess/fixactivepower/ControllerEssFixActivePowerImplTest.java
  io.openems.edge.controller.ess.fixstateofcharge/test/io/openems/edge/controller/ess/fixstateofcharge/ControllerEssFixStateOfChargeImplTest.java
  io.openems.edge.controller.ess.gridoptimizedcharge/test/io/openems/edge/controller/ess/gridoptimizedcharge/ControllerEssGridOptimizedChargeImplTest.java
  io.openems.edge.controller.ess.hybrid.surplusfeedtogrid/test/io/openems/edge/controller/ess/hybrid/surplusfeedtogrid/ControllerEssHybridSurplusFeedToGridImplTest.java
  io.openems.edge.controller.ess.limittotaldischarge/test/io/openems/edge/controller/ess/limittotaldischarge/ControllerEssLimitTotalDischargeImplTest.java
  io.openems.edge.controller.ess.linearpowerband/test/io/openems/edge/controller/ess/linearpowerband/ControllerEssLinearPowerBandImplTest.java
Due: build-java, restore-cache, rebuild-cache

refactor consumption history
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/common/consumption/Consumption.ts
  ui/src/app/edge/history/common/consumption/chart/chart.ts
  ui/src/app/edge/history/common/consumption/flat/flat.html
  ui/src/app/edge/history/common/consumption/flat/flat.ts
  ui/src/app/edge/history/common/consumption/overview/overview.html
  ui/src/app/edge/history/common/consumption/overview/overview.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/history.module.ts
  ui/src/app/edge/history/shared.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/chart/chart.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

extend workflow trigger to be triggered on pull_request and on push
  .github/workflows/build.yml
Due: none

clean PR
  .github/workflows/build.yml
  ui/src/app/edge/history/abstracthistorychart.html
  ui/src/app/edge/history/common/consumption/flat/flat.html
  ui/src/app/edge/history/consumption/consumptionchartoverview/consumptionchartoverview.component.html
  ui/src/app/edge/history/consumption/consumptionchartoverview/consumptionchartoverview.component.ts
  ui/src/app/edge/history/consumption/evcschart.component.ts
  ui/src/app/edge/history/consumption/meterchart.component.ts
  ui/src/app/edge/history/consumption/otherchart.component.ts
  ui/src/app/edge/history/consumption/singlechart.component.ts
  ui/src/app/edge/history/consumption/totalchart.component.ts
  ui/src/app/edge/history/consumption/widget.component.html
  ui/src/app/edge/history/consumption/widget.component.ts
  ui/src/app/edge/history/history.module.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

remove unused trigger
  .github/workflows/build.yml
Due: none

git update workflow
  .github/workflows/build.yml
Due: none

test
  .github/workflows/build.yml
Due: none

test github action
  .github/workflows/build.yml
Due: none

github workflow test 2
  .github/workflows/build.yml
Due: none

Update bnd templates
  io.openems.common/resources/templates/controller/$srcDir$/$basePackageDir$/MyController.java
  io.openems.common/resources/templates/controller/$srcDir$/$basePackageDir$/MyControllerImpl.java
  io.openems.common/resources/templates/controller/$testSrcDir$/$basePackageDir$/MyConfig.java
  io.openems.common/resources/templates/device-modbus/$srcDir$/$basePackageDir$/MyModbusDevice.java
  io.openems.common/resources/templates/device-modbus/$testSrcDir$/$basePackageDir$/MyConfig.java
  io.openems.common/resources/templates/device/$srcDir$/$basePackageDir$/MyDevice.java
  io.openems.common/resources/templates/device/$srcDir$/$basePackageDir$/MyDeviceImpl.java
  io.openems.common/resources/templates/device/$testSrcDir$/$basePackageDir$/MyConfig.java
Due: build-java, restore-cache, rebuild-cache
