Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

Start development of version 2023.8.1-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  tools/fems-release.sh
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

AbstractChannelListenerManager: clean up unused listeners after deactivate()
  io.openems.edge.common/src/io/openems/edge/common/channel/AbstractChannelListenerManager.java
Due: build-java, restore-cache, rebuild-cache

Removed Currency Provider. Added Dummy Component. Added Currency config.
  io.openems.edge.common/src/io/openems/edge/common/currency/Currency.java
  io.openems.edge.common/src/io/openems/edge/common/currency/CurrencyConfig.java
  io.openems.edge.common/src/io/openems/edge/common/test/DummyMeta.java
  io.openems.edge.core/src/io/openems/edge/core/meta/Config.java
  io.openems.edge.core/src/io/openems/edge/core/meta/MetaImpl.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/CurrencyProvider.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/ExchangeRateApi.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoeImpl.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/CurrencyProviderTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/ExchangeRateApiTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/MyConfig.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/TouEntsoeTest.java
Due: build-java, restore-cache, rebuild-cache

AbstractChannelListenerManager: clean up unused listeners after deactivate() (#2303)
  io.openems.edge.common/src/io/openems/edge/common/channel/AbstractChannelListenerManager.java
Due: build-java, restore-cache, rebuild-cache

add name const to set alias or if not id adjust formlyfieldModal to be working with and without formGroups move expectView to tester.ts move customLineComponents to tester.ts
  ui/src/app/edge/live/Controller/Io/FixDigitalOutput/modal/constants.spec.ts
  ui/src/app/edge/live/Controller/Io/FixDigitalOutput/modal/modal.component.html
  ui/src/app/edge/live/Controller/Io/FixDigitalOutput/modal/modal.component.ts
  ui/src/app/edge/live/Controller/Io/FixDigitalOutput/modal/modal.spec.ts
  ui/src/app/edge/live/common/grid/modal/constants.spec.ts
  ui/src/app/edge/live/common/grid/modal/modal.spec.ts
  ui/src/app/edge/live/livedataservice.ts
  ui/src/app/shared/edge/edgeconfig.spec.ts
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.html
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.ts
  ui/src/app/shared/genericComponents/shared/converter.ts
  ui/src/app/shared/genericComponents/shared/name.ts
  ui/src/app/shared/genericComponents/shared/oe-formly-component.ts
  ui/src/app/shared/genericComponents/shared/tester.ts
  ui/src/app/shared/type/widget.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

finalize PR
  ui/src/app/shared/edge/edgeconfig.spec.ts
  ui/src/app/shared/genericComponents/shared/oe-formly-component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

refactor ONLY_NAME_LINE to NAME_LINE
  ui/src/app/edge/live/Controller/Io/FixDigitalOutput/modal/modal.component.ts
  ui/src/app/edge/live/Controller/Io/FixDigitalOutput/modal/modal.spec.ts
  ui/src/app/shared/genericComponents/shared/oe-formly-component.ts
  ui/src/app/shared/genericComponents/shared/tester.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

update comment due to refactoring
  ui/src/app/shared/genericComponents/shared/tester.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

feat(sunspec): Use json sunspec model for updated list
  io.openems.edge.bridge.modbus/bnd.bnd
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/DefaultSunSpecModel.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/SunSpecCodeGenerator.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/SunSpecPoint.java
Due: build-java, restore-cache, rebuild-cache

fix: add org.json:json as dependency
  cnf/pom.xml
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Add FEMS Release Script
  tools/release_fems_package.sh
Due: none

Fix community issue for openems Edge as backend
  ui/src/app/index/index.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

reduce RAM usage in VSC with filewatcher
  ui/.vscode/settings.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

update chart to new genericChart standard phases and total popover, refactor to use two way binding
  ui/src/app/edge/history/common/consumption/chart/chart.ts
  ui/src/app/edge/history/common/consumption/overview/overview.html
  ui/src/app/edge/history/history.module.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/chart/chart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Add missing files for Debian package
  tools/debian/etc/apt/apt.conf.d/99jessiebackports
  tools/debian/etc/apt/apt.conf.d/99translations
  tools/debian/etc/apt/sources.list.d/fems.list
  tools/debian/etc/cron.daily/fems-autoupdate
  tools/debian/etc/cron.hourly/fems-verify
  tools/debian/etc/nginx/conf.d/80.conf
  tools/debian/etc/ntp.conf
  tools/debian/etc/sysctl.d/01-disable-ipv6.conf
  tools/debian/etc/systemd/system/fems-pagekite.service
  tools/debian/etc/systemd/system/openems.service
  tools/debian/etc/systemd/system/ufw.service
  tools/debian/etc/udev/rules.d/98-fems-default.rules
  tools/debian/etc/vim/vimrc.local
Due: none

Review
  io.openems.edge.common/src/io/openems/edge/common/currency/CurrencyConfig.java
  io.openems.edge.common/src/io/openems/edge/common/meta/Meta.java
  io.openems.edge.timeofusetariff.entsoe/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.timeofusetariff.entsoe/generated/buildfiles
  io.openems.edge.timeofusetariff.entsoe/readme.adoc
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/BiddingZone.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/ExchangeRateApi.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoeImpl.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/EntsoeApiTest.java
Due: build-java, restore-cache, rebuild-cache

UI: Add redirection for 'OpenEMS Edge' as backend (#2305)
  ui/src/app/index/index.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Backend Timedata: prepare new data notification types and utilities (#2298)
  io.openems.backend.common/src/io/openems/backend/common/edgewebsocket/EdgeCache.java
  io.openems.backend.common/src/io/openems/backend/common/edgewebsocket/EdgeWebsocket.java
  io.openems.backend.common/src/io/openems/backend/common/timedata/BackendTimedata.java
  io.openems.backend.common/src/io/openems/backend/common/timedata/InternalTimedataException.java
  io.openems.backend.common/src/io/openems/backend/common/timedata/Timedata.java
  io.openems.backend.common/src/io/openems/backend/common/timedata/TimedataManager.java
  io.openems.backend.common/test/io/openems/backend/common/edgewebsocket/EdgeCacheTest.java
  io.openems.backend.core/src/io/openems/backend/core/timedatamanager/TimedataManagerImpl.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/EdgeWebsocketImpl.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/OnNotification.java
  io.openems.backend.timedata.dummy/src/io/openems/backend/timedata/dummy/TimedataDummy.java
  io.openems.backend.timedata.influx/src/io/openems/backend/timedata/influx/Function.java
  io.openems.backend.timedata.influx/src/io/openems/backend/timedata/influx/TimedataInfluxDb.java
  io.openems.backend.timedata.timescaledb/src/io/openems/backend/timedata/timescaledb/TimedataTimescaleDb.java
  io.openems.edge.timedata.influxdb/bnd.bnd
  io.openems.edge.timedata.influxdb/src/io/openems/edge/timedata/influxdb/Config.java
  io.openems.edge.timedata.influxdb/src/io/openems/edge/timedata/influxdb/TimedataInfluxDbImpl.java
  io.openems.edge.timedata.influxdb/test/io/openems/edge/timedata/influxdb/MyConfig.java
  io.openems.edge.timedata.influxdb/test/io/openems/edge/timedata/influxdb/TimedataInfluxDbImplTest.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/AbstractMergePointsWorker.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/DbDataUtils.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/ForceMergePointsWorker.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/InfluxConnector.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/MergePointsWorker.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/SafeMergePointsWorker.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/FluxProxy.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/InfluxQlProxy.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/QueryProxy.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/package-info.java
  io.openems.shared.influxdb/test/io/openems/shared/influxdb/proxy/QueryBuilderTest.java
Due: build-java, restore-cache, rebuild-cache

Refactoring the implementation based on review.
  io.openems.edge.controller.ess.timeofusetariff/readme.adoc
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/Config.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/ControlMode.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/Schedule.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffController.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

change color of evcs modal priorization storage icon
  ui/src/app/edge/live/Controller/Evcs/modal/modal.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update EdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update GenericHttpWorker.java
  io.openems.common/src/io/openems/common/worker/GenericHttpWorker.java
Due: build-java, restore-cache, rebuild-cache

Update BackendApp.bndrun
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update EssFeneconCommercial40Pv2Impl
  io.openems.edge.ess.fenecon.commercial40/src/io/openems/edge/ess/fenecon/commercial40/charger/EssFeneconCommercial40Pv2Impl.java
Due: build-java, restore-cache, rebuild-cache

Review
  io.openems.edge.common/src/io/openems/edge/common/currency/CurrencyConfig.java
  io.openems.edge.core/src/io/openems/edge/core/meta/Config.java
  io.openems.edge.core/src/io/openems/edge/core/meta/MetaImpl.java
  io.openems.edge.timeofusetariff.entsoe/bnd.bnd
  io.openems.edge.timeofusetariff.entsoe/readme.adoc
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/BiddingZone.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Config.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/EntsoeApi.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoe.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoeImpl.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Utils.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/EntsoeApiTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/ExchangeRateApiTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/ParserTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/TouEntsoeTest.java
Due: build-java, restore-cache, rebuild-cache

fix bug of showing infinity sign in production history due to undefined values
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Made safe mode checking.
  ui/src/app/edge/history/timeofusetariff/widget.component.html
  ui/src/app/edge/history/timeofusetariff/widget.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Validate, that fix actually works, via JUnit test
  io.openems.edge.ess.fenecon.commercial40/test/io/openems/edge/ess/fenecon/commercial40/charger/EssFeneconCommercial40Pv2ImplTest.java
  io.openems.edge.ess.fenecon.commercial40/test/io/openems/edge/ess/fenecon/commercial40/charger/MyConfigPv1.java
  io.openems.edge.ess.fenecon.commercial40/test/io/openems/edge/ess/fenecon/commercial40/charger/MyConfigPv2.java
Due: build-java, restore-cache, rebuild-cache

Fix typo
  io.openems.edge.ess.fenecon.commercial40/test/io/openems/edge/ess/fenecon/commercial40/charger/MyConfigPv2.java
Due: build-java, restore-cache, rebuild-cache

Edge: Fix typo in EssFeneconCommercial40Pv2Impl (#2310)
  io.openems.edge.ess.fenecon.commercial40/src/io/openems/edge/ess/fenecon/commercial40/charger/EssFeneconCommercial40Pv2Impl.java
  io.openems.edge.ess.fenecon.commercial40/test/io/openems/edge/ess/fenecon/commercial40/charger/EssFeneconCommercial40Pv2ImplTest.java
  io.openems.edge.ess.fenecon.commercial40/test/io/openems/edge/ess/fenecon/commercial40/charger/MyConfigPv1.java
  io.openems.edge.ess.fenecon.commercial40/test/io/openems/edge/ess/fenecon/commercial40/charger/MyConfigPv2.java
Due: build-java, restore-cache, rebuild-cache

Added comments and a new condition to return on empty.
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/AwattarHourly.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/StromdaoCorrently.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/Tibber.java
  io.openems.edge.timeofusetariff.awattar/src/io/openems/edge/timeofusetariff/awattar/TimeOfUseTariffAwattarImpl.java
Due: build-java, restore-cache, rebuild-cache

Add missing bin folder and files (#759)
  tools/debian/.gitignore
  tools/debian/usr/bin/fems-autoupdate
  tools/debian/usr/bin/fems-modbustest
  tools/debian/usr/bin/fems-sendmessage
  tools/debian/usr/bin/fems-set-devicekey
  tools/debian/usr/bin/fems-verify
  tools/debian/usr/bin/fems-yalertunnel
  tools/debian/usr/bin/mbusd
  tools/debian/usr/bin/pagekite.py
Due: none

initially added bundle timedata aggregatedinflux
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.timedata.aggregatedinflux/.classpath
  io.openems.backend.timedata.aggregatedinflux/.gitignore
  io.openems.backend.timedata.aggregatedinflux/.project
  io.openems.backend.timedata.aggregatedinflux/.settings/org.eclipse.core.resources.prefs
  io.openems.backend.timedata.aggregatedinflux/bnd.bnd
  io.openems.backend.timedata.aggregatedinflux/readme.adoc
  io.openems.backend.timedata.aggregatedinflux/src/io/openems/backend/timedata/aggregatedinflux/AggregatedInflux.java
  io.openems.backend.timedata.aggregatedinflux/src/io/openems/backend/timedata/aggregatedinflux/AllowedChannels.java
  io.openems.backend.timedata.aggregatedinflux/src/io/openems/backend/timedata/aggregatedinflux/Config.java
  io.openems.backend.timedata.aggregatedinflux/src/io/openems/backend/timedata/aggregatedinflux/QueryWithCurrentData.java
  io.openems.backend.timedata.aggregatedinflux/test/.gitignore
  io.openems.backend.timedata.aggregatedinflux/test/io/openems/backend/timedata/aggregatedinflux/AllowedChannelsTest.java
Due: build-java, restore-cache, rebuild-cache

removed documentation
  io.openems.backend.timedata.aggregatedinflux/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Added basic backend documentation for timedata and metadata
  build.gradle
  doc/modules/ROOT/nav.adoc
  doc/modules/ROOT/pages/backend/metadata.adoc
  doc/modules/ROOT/pages/backend/service.adoc
  doc/modules/ROOT/pages/backend/service.adoc.d/.gitignore
  doc/modules/ROOT/pages/backend/timedata.adoc
  io.openems.backend.metadata.odoo/readme.adoc
  io.openems.backend.timedata.aggregatedinflux/readme.adoc
  io.openems.backend.timedata.dummy/readme.adoc
  io.openems.backend.timedata.influx/readme.adoc
Due: build-java, restore-cache, rebuild-cache

fixed typo in metadata, updated .gitignore
  doc/modules/ROOT/pages/backend/metadata.adoc
  doc/modules/ROOT/pages/backend/service.adoc.d/.gitignore
Due: none

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
