Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

Start development of version 2023.8.2-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

IBN: Anpassung IBN-Assistent Netztrennstelle (#763)
  ui/src/app/edge/installation/installation-systems/commercial/commercial-30/abstract-commercial-30.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-30/commercial30-anschluss.ts
  ui/src/app/edge/installation/installation-systems/commercial/commercial-30/commercial30-netztrenn.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update package-lock
  ui/package-lock.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Always show Overview page for multiple Edges (#599)
  io.openems.backend.common/src/io/openems/backend/common/metadata/User.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/SystemLogHandler.java
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/MetadataDummy.java
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/MetadataFile.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MyUser.java
  io.openems.common/src/io/openems/common/jsonrpc/response/AuthenticateResponse.java
  io.openems.common/src/io/openems/common/session/AbstractUser.java
  io.openems.edge.common/src/io/openems/edge/common/user/User.java
Due: build-java, restore-cache, rebuild-cache

UI: Refactor History EnergyMonitor (#691)
  ui/src/app/edge/history/common/energy/chart/channels.spec.ts
  ui/src/app/edge/history/common/energy/chart/chart.spec.ts
  ui/src/app/edge/history/common/energy/chart/chart.ts
  ui/src/app/edge/history/common/energy/flat/flat.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

AppCenter: add shortName for App title (#698)
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AbstractOpenemsApp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/OpenemsApp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/TranslationUtil.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/jsonrpc/GetApp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
Due: build-java, restore-cache, rebuild-cache

UI: add noImplicitOverride to tsconfig
  ui/src/app/edge/live/Controller/Evcs/Evcs.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

AppCenter: Enable keys for admins with master key (#721)
  ui/src/app/edge/settings/app/index.component.html
  ui/src/app/edge/settings/app/index.component.ts
  ui/src/app/edge/settings/app/install.component.ts
  ui/src/app/edge/settings/app/keypopup/modal.component.ts
  ui/src/app/edge/settings/app/permissions.ts
  ui/src/app/edge/settings/app/single.component.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

App Center: FENECON Home. Add validation for feed-in-limit
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome.java
Due: build-java, restore-cache, rebuild-cache

format + checkstyle
  io.openems.backend.alerting/src/io/openems/backend/alerting/scheduler/MessageScheduler.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/scheduler/MinuteTimer.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/scheduler/SchedulerTest.java
  io.openems.backend.common/test/io/openems/backend/common/jsonrpc/UserAlertingSettingsJsonRpc.java
  io.openems.common/src/io/openems/common/test/TimeLeapClock.java
  io.openems.common/test/io/openems/common/test/TimeLeapClockTest.java
Due: build-java, restore-cache, rebuild-cache

checkstyle;
  io.openems.common/test/io/openems/common/test/TimeLeapClockTest.java
Due: build-java, restore-cache, rebuild-cache

App Center: add Janitza TCP + RTU meter
  io.openems.edge.core/src/io/openems/edge/app/common/props/CommonProps.java
  io.openems.edge.core/src/io/openems/edge/app/common/props/CommunicationProps.java
  io.openems.edge.core/src/io/openems/edge/app/enums/ModbusType.java
  io.openems.edge.core/src/io/openems/edge/app/enums/OptionsFactory.java
  io.openems.edge.core/src/io/openems/edge/app/enums/TranslatableEnum.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/HardyBarthEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/meter/AbstractMeterApp.java
  io.openems.edge.core/src/io/openems/edge/app/meter/CarloGavazziMeter.java
  io.openems.edge.core/src/io/openems/edge/app/meter/JanitzaMeter.java
  io.openems.edge.core/src/io/openems/edge/app/meter/KdkMeter.java
  io.openems.edge.core/src/io/openems/edge/app/meter/SocomecMeter.java
  io.openems.edge.core/src/io/openems/edge/app/pvinverter/AbstractPvInverter.java
  io.openems.edge.core/src/io/openems/edge/app/pvinverter/CommonPvInverterConfiguration.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppDef.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  ui/src/app/shared/formly/form-field-default-cases.wrapper.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix modal-line filter
  ui/src/app/shared/genericComponents/modal/modal-line/modal-line.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

GoodWe: Fix mapping of diagnostic status register
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/GoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/enums/DiagnosticStatusHigh.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/enums/DiagnosticStatusLow.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/common/TestStatic.java
Due: build-java, restore-cache, rebuild-cache

UI: Set Language for Demo Access
  ui/src/app/index/index.component.ts
  ui/src/app/shared/service/websocket.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix selecting booleans in formly-safe-input.extended
  ui/src/app/edge/settings/app/formly/safe-input/formly-safe-input.extended.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: IBN: Fix maximale Einspeisungsleistung
  ui/package-lock.json
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Resend historic data from local rrd4j
  io.openems.common/src/io/openems/common/jsonrpc/notification/CurrentDataNotification.java
  io.openems.common/src/io/openems/common/jsonrpc/notification/ResendDataNotification.java
  io.openems.common/src/io/openems/common/utils/CollectorUtils.java
  io.openems.common/src/io/openems/common/worker/AbstractWorker.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/Config.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/ControllerApiBackend.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/ControllerApiBackendImpl.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/OnOpen.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/ResendHistoricDataWorker.java
  io.openems.edge.controller.api.backend/test/io/openems/edge/controller/api/backend/ControllerApiBackendImplTest.java
  io.openems.edge.controller.api.backend/test/io/openems/edge/controller/api/backend/MyConfig.java
  io.openems.edge.controller.api.backend/test/io/openems/edge/controller/api/backend/ResendHistoricDataWorkerTest.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/app/SimulatorAppImpl.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/timedata/SimulatorTimedataImpl.java
  io.openems.edge.timedata.api/src/io/openems/edge/timedata/api/Timedata.java
  io.openems.edge.timedata.api/src/io/openems/edge/timedata/api/Timeranges.java
  io.openems.edge.timedata.api/src/io/openems/edge/timedata/test/DummyTimedata.java
  io.openems.edge.timedata.api/test/io/openems/edge/timedata/api/TimerangesTest.java
  io.openems.edge.timedata.influxdb/src/io/openems/edge/timedata/influxdb/TimedataInfluxDbImpl.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/ChannelDef.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/Config.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/RecordWorker.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/Rrd4jConstants.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/Rrd4jReadHandler.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/Rrd4jSupplier.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/TimedataRrd4jImpl.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/version/AbstractVersion.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/version/Version.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/version/Version1.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/version/Version2.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/version/Version3.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/version/VersionHandler.java
  io.openems.edge.timedata.rrd4j/test/io/openems/edge/timedata/rrd4j/MyConfig.java
  io.openems.edge.timedata.rrd4j/test/io/openems/edge/timedata/rrd4j/Rrd4jReadHandlerTest.java
  io.openems.edge.timedata.rrd4j/test/io/openems/edge/timedata/rrd4j/Rrd4jSupplierTest.java
  io.openems.edge.timedata.rrd4j/test/io/openems/edge/timedata/rrd4j/TimedataRrd4jImplTest.java
  io.openems.edge.timedata.rrd4j/test/io/openems/edge/timedata/rrd4j/version/Version3Test.java
  io.openems.edge.timedata.rrd4j/test/io/openems/edge/timedata/rrd4j/version/VersionHandlerTest.java
  io.openems.edge.timedata.rrd4j/test/io/openems/edge/timedata/rrd4j/version/VersionTest.java
Due: build-java, restore-cache, rebuild-cache

CI: automatically build Debian package
  .gitignore
  .woodpecker/debian-package.yml
  gradle.properties
  tools/build-debian-package.sh
  tools/debian/DEBIAN/control
  tools/debian/DEBIAN/postinst
  tools/debian/etc/apt/apt.conf.d/99jessiebackports
  tools/debian/etc/apt/apt.conf.d/99translations
  tools/debian/etc/apt/sources.list.d/fems.list
  tools/debian/etc/cron.daily/fems-autoupdate
  tools/debian/etc/cron.hourly/fems-verify
  tools/debian/etc/nginx/conf.d/80.conf
  tools/debian/etc/ntp.conf
  tools/debian/etc/sysctl.d/01-disable-ipv6.conf
  tools/debian/etc/systemd/system/fems-pagekite.service
  tools/debian/etc/systemd/system/openems.service
  tools/debian/etc/systemd/system/ufw.service
  tools/debian/etc/udev/rules.d/98-fems-default.rules
  tools/debian/etc/vim/vimrc.local
  tools/debian/usr/lib/systemd/journald.conf.d/10-fems.conf
  tools/debian/usr/lib/systemd/resolved.conf.d/10-fems.conf
  tools/debian/usr/lib/systemd/system.conf.d/10-fems.conf
  tools/debian/usr/lib/systemd/timesyncd.conf.d/fems.conf
  tools/debian/usr/share/keyrings/fenecon.gpg
  tools/debian/usr/share/openems-fems/templates/interfaces.d/fems-static
  tools/prepare-next-snapshot.sh
  tools/prepare-release.sh
  ui/src/app/changelog/view/component/changelog.constants.ts
  ui/src/app/edge/settings/profile/profile.component.html
  ui/src/app/shared/edge/edge.ts
  ui/src/app/shared/pipe/pipe.ts
  ui/src/app/shared/pipe/version/version.pipe.spec.ts
  ui/src/app/shared/pipe/version/version.pipe.ts
  ui/src/app/user/user.component.html
  ui/src/app/user/user.component.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

DEBIAN Package: fix ZST compression
  .woodpecker/debian-package.yml
  tools/build-debian-package.sh
  tools/debian/DEBIAN/control
  tools/debian/DEBIAN/postinst
  tools/debian/etc/apt/apt.conf.d/99jessiebackports
  tools/debian/etc/apt/apt.conf.d/99translations
  tools/debian/etc/apt/sources.list.d/fems.list
  tools/debian/etc/cron.daily/fems-autoupdate
  tools/debian/etc/cron.hourly/fems-verify
  tools/debian/etc/ntp.conf
  tools/debian/etc/sysctl.d/01-disable-ipv6.conf
  tools/debian/etc/systemd/system/fems-pagekite.service
  tools/debian/etc/systemd/system/ufw.service
  tools/debian/etc/udev/rules.d/98-fems-default.rules
  tools/debian/etc/vim/vimrc.local
  tools/debian/usr/lib/systemd/journald.conf.d/10-fems.conf
  tools/debian/usr/lib/systemd/resolved.conf.d/10-fems.conf
  tools/debian/usr/lib/systemd/system.conf.d/10-fems.conf
  tools/debian/usr/lib/systemd/timesyncd.conf.d/fems.conf
  tools/debian/usr/share/keyrings/fenecon.gpg
  tools/debian/usr/share/openems-fems/templates/interfaces.d/fems-static
  ui/src/app/changelog/view/component/changelog.component.html
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/shared/pipe/version/version.pipe.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

RRD4j: Set datasource state to previous state for last value
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/version/Version3.java
Due: build-java, restore-cache, rebuild-cache

RRD4j: take last value from robin
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/Rrd4jReadHandler.java
Due: build-java, restore-cache, rebuild-cache

Rrd4j: set initial last value; parallel locking
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/Rrd4jSupplier.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/version/Version3.java
  io.openems.edge.timedata.rrd4j/test/io/openems/edge/timedata/rrd4j/version/Version3Test.java
Due: build-java, restore-cache, rebuild-cache

RRD4j: resend priority + set unable to send channel
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/Config.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/SendChannelValuesWorker.java
Due: build-java, restore-cache, rebuild-cache

UI: Fix EVCS minGuarantee, defaultMinCharge, Unit and sliders
  ui/src/app/edge/live/Controller/Evcs/modal/modal.html
  ui/src/app/edge/live/Controller/Evcs/modal/modal.ts
  ui/src/app/shared/genericComponents/modal/abstractModal.ts
  ui/src/app/shared/genericComponents/modal/modal-line/modal-line.html
  ui/src/app/shared/genericComponents/modal/modal-line/modal-line.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update release scripts
  tools/build-debian-package.sh
  tools/common.sh
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Add missing files for Debian package
  tools/debian/etc/nginx/conf.d/80.conf
  tools/debian/etc/systemd/system/openems.service
Due: none

AppCenter: rework relay default values
  io.openems.edge.core/src/io/openems/edge/app/heat/HeatProps.java
Due: build-java, restore-cache, rebuild-cache

Debian: move gitignore rule to root .gitignore
  .gitignore
  tools/debian/.gitignore
  tools/debian/usr/bin/fems-autoupdate
  tools/debian/usr/bin/fems-modbustest
  tools/debian/usr/bin/fems-sendmessage
  tools/debian/usr/bin/fems-set-devicekey
  tools/debian/usr/bin/fems-verify
  tools/debian/usr/bin/fems-yalertunnel
  tools/debian/usr/bin/mbusd
  tools/debian/usr/bin/pagekite.py
Due: none

OpenEMS: update to version 2023.8.0
  ui/src/app/edge/live/Controller/Evcs/modal/modal.html
  ui/src/app/edge/live/Controller/Evcs/modal/modal.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

OpenEMS: cherry-pick features from upcoming version 2023.9.0
  io.openems.edge.common/src/io/openems/edge/common/meta/Meta.java
Due: build-java, restore-cache, rebuild-cache

Backend-Api: send all aggregated channels (even 'null') once
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/SendChannelValuesWorker.java
Due: build-java, restore-cache, rebuild-cache

WebsocketClient: enable lost connection detection
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketClient.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/WebsocketClient.java
Due: build-java, restore-cache, rebuild-cache

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
