Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

Revert "Apply prepare-commit.sh"
  io.openems.edge.meter.tibber/.classpath
  io.openems.edge.meter.tibber/bnd.bnd
  io.openems.edge.meter.tibber/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

Reapply "Apply prepare-commit.sh"
  io.openems.edge.meter.tibber/.classpath
  io.openems.edge.meter.tibber/bnd.bnd
  io.openems.edge.meter.tibber/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

Reapply "Fix"
  io.openems.edge.meter.tibber/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

General cleanup
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/ControllerApiMqttImpl.java
Due: build-java, restore-cache, rebuild-cache

Controller.Api.MQTT: reconnect on connection failure (#2602)
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/ControllerApiMqttImpl.java
Due: build-java, restore-cache, rebuild-cache

Code improvements
  io.openems.edge.ess.samsung/readme.adoc
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/charger/Config.java
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/charger/SamsungEssChargerImpl.java
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/ess/Config.java
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/ess/SamsungEssImpl.java
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/gridmeter/Config.java
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/gridmeter/SamsungEssGridMeter.java
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/gridmeter/SamsungEssGridMeterImpl.java
  io.openems.edge.ess.samsung/test/io/openems/edge/ess/samsung/ess/MyConfig.java
  io.openems.edge.ess.samsung/test/io/openems/edge/ess/samsung/ess/SamsungEssImplTest.java
  io.openems.edge.ess.samsung/test/io/openems/edge/ess/samsung/gridmeter/MyConfig.java
  io.openems.edge.ess.samsung/test/io/openems/edge/ess/samsung/gridmeter/SamsungEssGridMeterImplTest.java
Due: build-java, restore-cache, rebuild-cache

Fix build
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/charger/Config.java
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/ess/Config.java
  io.openems.edge.ess.samsung/test/io/openems/edge/ess/samsung/ess/MyConfig.java
  io.openems.edge.ess.samsung/test/io/openems/edge/ess/samsung/gridmeter/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

prepare-commit
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.ess.samsung/.settings/org.eclipse.core.resources.prefs
Due: build-java, restore-cache, rebuild-cache

sort
  io.openems.edge.ess.samsung/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

Implement Samsung SDI ESS System (legacy) (#2638)
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.ess.samsung/.classpath
  io.openems.edge.ess.samsung/.gitignore
  io.openems.edge.ess.samsung/.project
  io.openems.edge.ess.samsung/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.ess.samsung/bnd.bnd
  io.openems.edge.ess.samsung/readme.adoc
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/charger/Config.java
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/charger/SamsungEssCharger.java
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/charger/SamsungEssChargerImpl.java
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/ess/Config.java
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/ess/SamsungEss.java
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/ess/SamsungEssImpl.java
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/gridmeter/Config.java
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/gridmeter/SamsungEssGridMeter.java
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/gridmeter/SamsungEssGridMeterImpl.java
  io.openems.edge.ess.samsung/test/.gitignore
  io.openems.edge.ess.samsung/test/io/openems/edge/ess/samsung/charger/MyConfig.java
  io.openems.edge.ess.samsung/test/io/openems/edge/ess/samsung/charger/SamsungEssChargerImplTest.java
  io.openems.edge.ess.samsung/test/io/openems/edge/ess/samsung/ess/MyConfig.java
  io.openems.edge.ess.samsung/test/io/openems/edge/ess/samsung/ess/SamsungEssImplTest.java
  io.openems.edge.ess.samsung/test/io/openems/edge/ess/samsung/gridmeter/MyConfig.java
  io.openems.edge.ess.samsung/test/io/openems/edge/ess/samsung/gridmeter/SamsungEssGridMeterImplTest.java
Due: build-java, restore-cache, rebuild-cache

Fixes
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly25/IoShelly25Impl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly3em/IoShelly3EmImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplusplugs/IoShellyPlusPlugsImpl.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shelly25/IoShelly25ImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shelly3em/IoShelly3EmImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplusplugs/IoShellyPlusPlugImplTest.java
Due: build-java, restore-cache, rebuild-cache

Restart Test
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplusplugs/Config.java
Due: build-java, restore-cache, rebuild-cache

UI: fix ion-row css-syntax-error (#2628)
  ui/src/app/shared/footer/footer.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Fixes
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3em/IoShellyPro3EmImpl.java
Due: build-java, restore-cache, rebuild-cache

Fixes
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplus1pm/IoShellyPlus1PmImpl.java
Due: build-java, restore-cache, rebuild-cache

Fix Test
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplus1pm/IoShellyPlus1PmImplTest.java
Due: build-java, restore-cache, rebuild-cache

Fix Test
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypro3em/IoShelly3EmImplTest.java
Due: build-java, restore-cache, rebuild-cache

Review
  io.openems.edge.io.shelly/readme.adoc
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3em/Config.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3em/IoShellyPro3EmImpl.java
Due: build-java, restore-cache, rebuild-cache

EdgeConfig: fix parsing of service components
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/EdgeConfigWorker.java
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/ess/SamsungEssImpl.java
Due: build-java, restore-cache, rebuild-cache

Samsung ESS: fix typo in config
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/ess/Config.java
Due: build-java, restore-cache, rebuild-cache

Implement ShellyPro3Em + fix issue in EdgeConfig (#2567)
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/EdgeConfigWorker.java
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/ess/Config.java
  io.openems.edge.ess.samsung/src/io/openems/edge/ess/samsung/ess/SamsungEssImpl.java
  io.openems.edge.io.shelly/readme.adoc
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3em/Config.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3em/IoShellyPro3Em.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3em/IoShellyPro3EmImpl.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypro3em/IoShelly3EmImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypro3em/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Review + fixes
  io.openems.edge.io.shelly/readme.adoc
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplus1pm/Config.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplus1pm/IoShellyPlus1PmImpl.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplus1pm/IoShellyPlus1PmImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplusplugs/IoShellyPlugImplTest.java
Due: build-java, restore-cache, rebuild-cache

Implement ShellyPlus1PM (#2571)
  io.openems.edge.io.shelly/readme.adoc
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplus1pm/Config.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplus1pm/IoShellyPlus1Pm.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplus1pm/IoShellyPlus1PmImpl.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplus1pm/IoShellyPlus1PmImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplus1pm/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Review + fix code
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/common/Utils.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly25/IoShelly25Impl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3/Config.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3/IoShellyPro3Impl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3em/IoShellyPro3EmImpl.java
Due: build-java, restore-cache, rebuild-cache

Update readme.adoc
  io.openems.edge.io.shelly/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Implement Shelly Pro 3 (#2572)
  io.openems.edge.io.shelly/readme.adoc
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/common/Utils.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3/Config.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3/IoShellyPro3.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3/IoShellyPro3Impl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3em/IoShellyPro3EmImpl.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypro3/IoShellyPro3ImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypro3/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Implement Tests for Shellys and fix for new Style of Shellys
  io.openems.edge.io.api/src/io/openems/edge/io/api/ShellyUtils.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly25/IoShelly25Impl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplus1pm/IoShellyPlus1PmImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplusplugs/IoShellyPlusPlugsImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3/IoShellyPro3Impl.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shelly25/IoShelly25ImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplus1pm/IoShellyPlus1PmImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypro3/IoShellyPro3ImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypro3em/IoShelly3EmImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypro3em/IoShellyPro3EmImplTest.java
Due: build-java, restore-cache, rebuild-cache

Revert Changes in old API Versions of Plug
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImpl.java
Due: build-java, restore-cache, rebuild-cache

Fix Test for ShellyPlug Relay
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImplTest.java
Due: build-java, restore-cache, rebuild-cache

feat: migration .eslintrc.json to eslint.config.mjs
  ui/eslint.config.mjs
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: npm i -D globals to use globals
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: ban Object, Function types
  ui/.eslintrc.json
  ui/src/app/edge/settings/system/maintenance/maintenance.ts
  ui/src/app/edge/settings/system/oe-system-update.component.ts
  ui/src/app/shared/genericComponents/modal/modal-button/modal-button.ts
  ui/src/app/shared/genericComponents/shared/oe-formly-component.ts
  ui/src/app/shared/service/service.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: snip always option in eol-last. because this is default.
  ui/.eslintrc.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: snip always option in semi. because this is default.
  ui/.eslintrc.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: reorder eslint rules to clear rule category
  ui/.eslintrc.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: improve select channels view (#2599)
  ui/src/app/edge/settings/channels/channels.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix root path not handled correctly
  tools/docker/ui/root/defaults/nginx/site-confs/openems.conf
Due: none

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
