Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

prepare commit
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.ess.sungrow/.classpath
  io.openems.edge.pvinverter.sungrow/.classpath
Due: build-java, restore-cache, rebuild-cache

Added tests and fixed EdgeApp
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.ess.sungrow/test/io/openems/edge/ess/sungrow/dccharger/MyConfig.java
  io.openems.edge.ess.sungrow/test/io/openems/edge/ess/sungrow/dccharger/MyModbusDeviceTest.java
Due: build-java, restore-cache, rebuild-cache

Refactoring and Implement tests
  io.openems.edge.ess.sungrow/test/io/openems/edge/ess/sungrow/dccharger/MyConfig.java
  io.openems.edge.ess.sungrow/test/io/openems/edge/ess/sungrow/dccharger/SungrowVirtualDcChargerTest.java
  io.openems.edge.pvinverter.sungrow/src/io/openems/edge/pvinverter/sungrow/Config.java
  io.openems.edge.pvinverter.sungrow/src/io/openems/edge/pvinverter/sungrow/PvInverterSungrow.java
  io.openems.edge.pvinverter.sungrow/src/io/openems/edge/pvinverter/sungrow/PvInverterSungrowImpl.java
  io.openems.edge.pvinverter.sungrow/src/io/openems/edge/pvinverter/sungrow/string/SungrowStringInverter.java
  io.openems.edge.pvinverter.sungrow/src/io/openems/edge/pvinverter/sungrow/string/WorkState.java
  io.openems.edge.pvinverter.sungrow/test/io/openems/edge/pvinverter/sungrow/string/MyConfig.java
  io.openems.edge.pvinverter.sungrow/test/io/openems/edge/pvinverter/sungrow/string/PvInverterSungrowImplTest.java
Due: build-java, restore-cache, rebuild-cache

Update coding-guidelines.adoc
  doc/modules/ROOT/pages/contribute/coding-guidelines.adoc
Due: none

Update SungrowVirtualDcChargerTest.java
  io.openems.edge.ess.sungrow/test/io/openems/edge/ess/sungrow/dccharger/SungrowVirtualDcChargerTest.java
Due: build-java, restore-cache, rebuild-cache

Refactor for test
  io.openems.edge.ess.sungrow/test/io/openems/edge/ess/sungrow/dccharger/MyConfig.java
  io.openems.edge.ess.sungrow/test/io/openems/edge/ess/sungrow/dccharger/SungrowVirtualDcChargerTest.java
Due: build-java, restore-cache, rebuild-cache

Removed Invert function (not needed on Inverter)
  io.openems.edge.pvinverter.sungrow/src/io/openems/edge/pvinverter/sungrow/string/Config.java
  io.openems.edge.pvinverter.sungrow/src/io/openems/edge/pvinverter/sungrow/string/SungrowStringInverterImpl.java
  io.openems.edge.pvinverter.sungrow/test/io/openems/edge/pvinverter/sungrow/string/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Delete .github/workflows/docker.yml
  .github/workflows/docker.yml
Due: none

Update IoShellyPlugImpl.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImpl.java
Due: build-java, restore-cache, rebuild-cache

Update from Upstream && Re-Implement schedule
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/ControllerApiMqttImpl.java
Due: build-java, restore-cache, rebuild-cache

Formatting
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/ControllerApiMqttImpl.java
Due: build-java, restore-cache, rebuild-cache

Formatting
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/Config.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/SendChannelValuesWorker.java
  io.openems.edge.controller.api.mqtt/test/io/openems/edge/controller/api/mqtt/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Update channels.component.html
  ui/src/app/edge/settings/channels/channels.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Improvements
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/postgres/InitializeEdgesWorker.java
Due: build-java, restore-cache, rebuild-cache

Applied Checkstyles
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/postgres/InitializeEdgesWorker.java
Due: build-java, restore-cache, rebuild-cache

Update build.yml
  .github/workflows/build.yml
Due: none

Removed componentSelected
  ui/src/app/edge/settings/channels/channels.component.html
  ui/src/app/edge/settings/channels/channels.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Formatting
  ui/src/app/edge/settings/channels/channels.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Reformat html part
  ui/src/app/edge/settings/channels/channels.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Reformat again
  ui/src/app/edge/settings/channels/channels.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bnd
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/retrofit-adapter-rxjava3.bnd
  io.openems.wrapper/retrofit-converter-gson.bnd
  io.openems.wrapper/retrofit-converter-scalars.bnd
  io.openems.wrapper/retrofit2.bnd
Due: build-java, restore-cache, rebuild-cache

Initial Commit
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/kecontact/Config.java
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/kecontact/EvcsKebaKeContact.java
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/kecontact/EvcsKebaKeContactImpl.java
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/kecontact/ReadHandler.java
Due: build-java, restore-cache, rebuild-cache

Test
  io.openems.edge.evcs.keba.kecontact/test/io/openems/edge/evcs/keba/kecontact/EvcsKebaKeContactImplTest.java
  io.openems.edge.evcs.keba.kecontact/test/io/openems/edge/evcs/keba/kecontact/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Fixed Styles
  ui/src/app/shared/footer/footer.html
  ui/src/app/shared/footer/footer.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

onUpdate() replaced by onSetNextValue() in mapFirstPointToChannel()
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/AbstractOpenemsSunSpecComponent.java
Due: build-java, restore-cache, rebuild-cache

UI: Fix CSS in footer (#2594)
  ui/src/app/shared/footer/footer.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: revert calculating stepSize for charts (#1154)
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/common/consumption/chart/chart.spec.ts
  ui/src/app/edge/history/common/energy/chart/channels.spec.ts
  ui/src/app/edge/history/common/energy/chart/chart.spec.ts
  ui/src/app/edge/history/common/grid/chart/chart.spec.ts
  ui/src/app/edge/history/gridoptimizedcharge/chart.component.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/powerSocChart.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/shared/testing/common.ts
  ui/src/app/shared/genericComponents/shared/testing/tester.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: remove dead link (#1153)
  ui/src/app/edge/history/chpsoc/widget.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

KACO Blueplanet Gridsave BatteryInverter: state-machine improvement (#825)
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/doc/statemachine.md
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/BatteryInverterKacoBlueplanetGridsave.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/BatteryInverterKacoBlueplanetGridsaveImpl.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/KacoSunSpecModel.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/Context.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/ErrorHandler.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/GoRunningHandler.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/GoStoppedHandler.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/RunningHandler.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/StateMachine.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/StoppedHandler.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/UndefinedHandler.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/test/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/BatteryInverterKacoBlueplanetGridsaveImplTest.java
Due: build-java, restore-cache, rebuild-cache

UI: migration of ion-slides (#1097)
  ui/package-lock.json
  ui/package.json
  ui/src/app/edge/live/advertisement/advertisement.component.html
  ui/src/app/edge/live/advertisement/advertisement.component.ts
  ui/src/app/edge/live/advertisement/advertisement.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update implement.adoc
  doc/modules/ROOT/pages/edge/implement.adoc
Due: none
