Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

AppCenter: Home 20 & 30 (#754)
  io.openems.edge.core/src/io/openems/edge/app/enums/FeedInType.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/AcMeterType.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome20.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome30.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHomeComponents.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/IntegratedSystemProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/ComponentUtilImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/SchedulerAggregateTaskImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome20.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome30.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerImplTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerTestBundle.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
Due: build-java, restore-cache, rebuild-cache

ControllerSyncActivePower merged.
  io.openems.edge.controller.ess.syncactivepower/.classpath
  io.openems.edge.controller.ess.syncactivepower/.gitignore
  io.openems.edge.controller.ess.syncactivepower/.project
  io.openems.edge.controller.ess.syncactivepower/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.controller.ess.syncactivepower/.settings/org.eclipse.jdt.ui.prefs
  io.openems.edge.controller.ess.syncactivepower/bnd.bnd
  io.openems.edge.controller.ess.syncactivepower/readme.adoc
  io.openems.edge.controller.ess.syncactivepower/src/io/openems/edge/controller/ess/syncactivepower/Config.java
  io.openems.edge.controller.ess.syncactivepower/src/io/openems/edge/controller/ess/syncactivepower/ControllerSyncActivePower.java
  io.openems.edge.controller.ess.syncactivepower/src/io/openems/edge/controller/ess/syncactivepower/ControllerSyncActivePowerImpl.java
  io.openems.edge.controller.ess.syncactivepower/test/.gitignore
  io.openems.edge.controller.evcs.vehiclebatterysymmetric/.project
  io.openems.edge.controller.evcs.vehiclebatterysymmetric/bin_test/.gitignore
  io.openems.edge.controller.evcs.vehiclebatterysymmetric/generated/buildfiles
  io.openems.edge.evcs.evtec/.project
  io.openems.edge.evcs.evtec/generated/buildfiles
Due: build-java, restore-cache, rebuild-cache

Add docs
  io.openems.edge.energy.api/readme.adoc
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/schedulable/Schedule.java
  io.openems.edge.energy/readme.adoc
Due: build-java, restore-cache, rebuild-cache

WIP: smart task
  io.openems.edge.common/src/io/openems/edge/common/component/ComponentManager.java
  io.openems.edge.common/src/io/openems/edge/common/type/TypeUtils.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/ComponentManagerImpl.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/Utils.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulatable/ExecutionPlan.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulatable/Forecast.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulatable/PresetSimulator.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulatable/Simulatable.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulatable/Simulator.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulatable/package-info.java
  io.openems.edge.energy/bnd.bnd
  io.openems.edge.energy/src/io/openems/edge/energy/EnergyImpl.java
  io.openems.edge.energy/src/io/openems/edge/energy/task/SmartTask.java
  io.openems.edge.energy/src/io/openems/edge/energy/task/manual/ManualTask.java
  io.openems.edge.energy/src/io/openems/edge/energy/task/smart/ExecutionPlan.java
  io.openems.edge.energy/src/io/openems/edge/energy/task/smart/Optimizer.java
  io.openems.edge.energy/src/io/openems/edge/energy/task/smart/SmartTask.java
  io.openems.edge.energy/src/io/openems/edge/energy/task/smart/Utils.java
  io.openems.edge.energy/test/io/openems/edge/energy/task/manual/ManualTaskTest.java
Due: build-java, restore-cache, rebuild-cache

GoodWe BatteryInverter: improve Warning/Error State descriptions (#791)
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/GoodWe.java
Due: build-java, restore-cache, rebuild-cache

KACO: fit ActivePower set point percentage 0 to 100 (#795)
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/RunningHandler.java
  io.openems.edge.common/src/io/openems/edge/common/type/TypeUtils.java
  io.openems.edge.common/test/io/openems/edge/common/type/TypeUtilsTest.java
Due: build-java, restore-cache, rebuild-cache

add missing types, final review changes
  ui/src/app/edge/live/common/grid/modal/modal.spec.ts
  ui/src/app/shared/genericComponents/shared/converter.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

KACO: fit ActivePower set point percentage -100 to 100 (#798)
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/RunningHandler.java
Due: build-java, restore-cache, rebuild-cache

FENECON Home: fix switching Battery Start Up Relay ON (#713)
  cnf/pom.xml
  io.openems.common/src/io/openems/common/function/BooleanConsumer.java
  io.openems.edge.battery.fenecon.home/doc/statemachine.md
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHome.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImpl.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/statemachine/Context.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/statemachine/GoRunningHandler.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/statemachine/RunningHandler.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/statemachine/UndefinedHandler.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/statemachine/package-info.java
  io.openems.edge.battery.fenecon.home/test/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImplTest.java
  io.openems.edge.battery.fenecon.home/test/io/openems/edge/battery/fenecon/home/statemachine/GoRunningHandlerTest.java
  io.openems.edge.common/src/io/openems/edge/common/test/AbstractComponentTest.java
Due: build-java, restore-cache, rebuild-cache

Modbus Bridge: hide error logs on first try (on configured low LogVerbosity) (#797)
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractTask.java
Due: build-java, restore-cache, rebuild-cache

InfluxDB Backend: fix actually writing data
  io.openems.backend.timedata.influx/src/io/openems/backend/timedata/influx/TimedataInfluxDb.java
Due: build-java, restore-cache, rebuild-cache

InfluxDB Backend: fix actually writing data (#2365)
  io.openems.backend.timedata.influx/src/io/openems/backend/timedata/influx/TimedataInfluxDb.java
Due: build-java, restore-cache, rebuild-cache

UI: Fix notch color for all OEM's (#762)
  ui/src/app/app.component.ts
  ui/src/themes/fenecon/scss/variables.scss
  ui/src/themes/heckert/scss/variables.scss
  ui/src/themes/openems/scss/variables.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update MeterJanitzaUmg511Impl.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg511/MeterJanitzaUmg511Impl.java
Due: build-java, restore-cache, rebuild-cache

Update MeterJanitzaUmg511Impl.java (#2366)
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg511/MeterJanitzaUmg511Impl.java
Due: build-java, restore-cache, rebuild-cache

App Center: return created dependencies (#803)
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerImpl.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome30.java
Due: build-java, restore-cache, rebuild-cache

Meter SDM630: calculate active production/consumption energy manually (#796)
  io.openems.edge.meter.microcare.sdm630/bnd.bnd
  io.openems.edge.meter.microcare.sdm630/src/io/openems/edge/meter/microcare/sdm630/MeterMicrocareSdm630Impl.java
Due: build-java, restore-cache, rebuild-cache

WIP
  io.openems.edge.common/src/io/openems/edge/common/test/DummyComponentManager.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/DummyPseudoComponentManager.java
  io.openems.edge.energy.api/test/io/openems/edge/energy/api/ForecastTest.java
  io.openems.edge.energy.api/test/io/openems/edge/energy/api/controller/DummyEvcsController.java
  io.openems.edge.energy.api/test/io/openems/edge/energy/api/device/MyDummyEvcs.java
  io.openems.edge.energy/src/io/openems/edge/energy/task/smart/Optimizer.java
  io.openems.edge.energy/src/io/openems/edge/energy/task/smart/SmartTask.java
  io.openems.edge.energy/test/io/openems/edge/energy/dummy/controller/DummyEvcsController.java
  io.openems.edge.energy/test/io/openems/edge/energy/dummy/device/DummyEvcs.java
  io.openems.edge.energy/test/io/openems/edge/energy/dummy/forecast/DummyForecast.java
  io.openems.edge.energy/test/io/openems/edge/energy/task/smart/OptimizerTest.java
Due: build-java, restore-cache, rebuild-cache

Added test cases
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/Schedule.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/ScheduleUtils.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerTest.java
Due: build-java, restore-cache, rebuild-cache

checkstyle
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerTest.java
Due: build-java, restore-cache, rebuild-cache

UI: Splitting index into login and overview (#764)
  ui/package-lock.json
  ui/src/app/app-routing.module.ts
  ui/src/app/app.component.html
  ui/src/app/edge/installation/views/heckert-app-installer/heckert-app-installer.scss
  ui/src/app/edge/live/Controller/Evcs/modal/modal.html
  ui/src/app/index/index.component.html
  ui/src/app/index/index.component.ts
  ui/src/app/index/index.module.ts
  ui/src/app/index/login.component.html
  ui/src/app/index/login.component.ts
  ui/src/app/index/overview/overview.component.html
  ui/src/app/index/overview/overview.component.ts
  ui/src/app/shared/header/header.component.ts
  ui/src/app/shared/service/pagination.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/service/websocket.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/themes/fenecon/environments/edge-prod.ts
  ui/src/themes/fenecon/environments/theme.ts
  ui/src/themes/heckert/environments/theme.ts
  ui/src/themes/openems/environments/theme.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

WIP
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/element/ModbusElement.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/Task.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/Utils.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/schedulable/Schedule.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulatable/ExecutionPlan.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulatable/Forecast.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulatable/Simulator.java
  io.openems.edge.energy.api/test/io/openems/edge/energy/api/controller/DummyFixActivePowerController.java
  io.openems.edge.energy.api/test/io/openems/edge/energy/api/device/MyDummyEss.java
  io.openems.edge.energy/bnd.bnd
  io.openems.edge.energy/src/io/openems/edge/energy/task/smart/ExecutionPlan.java
  io.openems.edge.energy/src/io/openems/edge/energy/task/smart/Optimizer.java
  io.openems.edge.energy/src/io/openems/edge/energy/task/smart/SmartTask.java
  io.openems.edge.energy/src/io/openems/edge/energy/task/smart/Utils.java
  io.openems.edge.energy/test/io/openems/edge/energy/dummy/controller/DummyFixActivePowerController.java
  io.openems.edge.energy/test/io/openems/edge/energy/dummy/device/DummyEss.java
  io.openems.edge.energy/test/io/openems/edge/energy/task/smart/OptimizerTest.java
Due: build-java, restore-cache, rebuild-cache

WIP
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/schedulable/Schedule.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulatable/PresetSimulator.java
  io.openems.edge.energy/src/io/openems/edge/energy/task/smart/Optimizer.java
  io.openems.edge.energy/test/io/openems/edge/energy/dummy/controller/DummyEvcsController.java
  io.openems.edge.energy/test/io/openems/edge/energy/dummy/controller/DummyFixActivePowerController.java
  io.openems.edge.energy/test/io/openems/edge/energy/task/smart/OptimizerTest.java
Due: build-java, restore-cache, rebuild-cache

UI: Unit tests for autarchy, selfconsumption and consumption (#2241)
  ui/src/app/edge/live/common/autarchy/modal/modal.html
  ui/src/app/edge/live/common/autarchy/modal/modal.spec.ts
  ui/src/app/edge/live/common/autarchy/modal/modal.ts
  ui/src/app/edge/live/common/consumption/modal/modal.constants.spec.ts
  ui/src/app/edge/live/common/consumption/modal/modal.html
  ui/src/app/edge/live/common/consumption/modal/modal.spec.ts
  ui/src/app/edge/live/common/consumption/modal/modal.ts
  ui/src/app/edge/live/common/grid/modal/modal.spec.ts
  ui/src/app/edge/live/common/selfconsumption/modal/modal.html
  ui/src/app/edge/live/common/selfconsumption/modal/modal.spec.ts
  ui/src/app/edge/live/common/selfconsumption/modal/modal.ts
  ui/src/app/shared/edge/edgeconfig.spec.ts
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.html
  ui/src/app/shared/genericComponents/genericComponents.ts
  ui/src/app/shared/genericComponents/modal/modal-value-line/modal-value-line.html
  ui/src/app/shared/genericComponents/modal/modal-value-line/modal-value-line.ts
  ui/src/app/shared/genericComponents/shared/converter.ts
  ui/src/app/shared/genericComponents/shared/filter.ts
  ui/src/app/shared/genericComponents/shared/formatter.ts
  ui/src/app/shared/genericComponents/shared/name.ts
  ui/src/app/shared/genericComponents/shared/oe-formly-component.ts
  ui/src/app/shared/genericComponents/shared/phase.ts
  ui/src/app/shared/genericComponents/shared/tester.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

SolarLog: fix setting/calculation of active production energy (#793)
  io.openems.edge.pvinverter.solarlog/src/io/openems/edge/pvinverter/solarlog/PvInverterSolarlogImpl.java
Due: build-java, restore-cache, rebuild-cache

App Center: Refactor App.Api.ModbusTcp (#758)
  io.openems.edge.core/src/io/openems/edge/app/api/ModbusTcpApiProps.java
  io.openems.edge.core/src/io/openems/edge/app/api/ModbusTcpApiReadOnly.java
  io.openems.edge.core/src/io/openems/edge/app/api/ModbusTcpApiReadWrite.java
  io.openems.edge.core/src/io/openems/edge/app/common/props/ComponentProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/formly/builder/ReorderArrayBuilder.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/formly/expression/ArrayExpression.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/formly/expression/Variable.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  ui/src/app/edge/settings/app/app.module.ts
  ui/src/app/edge/settings/app/formly/reorder-select/formly-reorder-array.component.html
  ui/src/app/edge/settings/app/formly/reorder-select/formly-reorder-array.component.ts
  ui/src/app/edge/settings/app/formly/safe-input/formly-safe-input.extended.ts
  ui/src/app/edge/settings/app/jsonrpc/getAppAssistant.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

ElementToChannelConverter: Add SET_NULL_FOR_DEFAULT (#788)
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/ElementToChannelConverter.java
Due: build-java, restore-cache, rebuild-cache

GoodWe BatteryInverter: validate compatible FENECON Home Battery (#789)
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHome.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/package-info.java
  io.openems.edge.goodwe/bnd.bnd
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/GoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/enums/GoodWeHardwareType.java
Due: build-java, restore-cache, rebuild-cache

KACO: fit ActivePower set point percentage -100 to 100
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/RunningHandler.java
  io.openems.edge.common/src/io/openems/edge/common/type/TypeUtils.java
  io.openems.edge.common/test/io/openems/edge/common/type/TypeUtilsTest.java
Due: build-java, restore-cache, rebuild-cache

FENECON Home: fix switching Battery Start Up Relay ON
  cnf/pom.xml
  io.openems.common/src/io/openems/common/function/BooleanConsumer.java
  io.openems.edge.battery.fenecon.home/doc/statemachine.md
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHome.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImpl.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/statemachine/Context.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/statemachine/GoRunningHandler.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/statemachine/RunningHandler.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/statemachine/UndefinedHandler.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/statemachine/package-info.java
  io.openems.edge.battery.fenecon.home/test/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImplTest.java
  io.openems.edge.battery.fenecon.home/test/io/openems/edge/battery/fenecon/home/statemachine/GoRunningHandlerTest.java
  io.openems.edge.common/src/io/openems/edge/common/test/AbstractComponentTest.java
Due: build-java, restore-cache, rebuild-cache

Modbus Bridge: hide error logs on first try (on configured low LogVerbosity)
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractTask.java
Due: build-java, restore-cache, rebuild-cache

UI: Fix notch color for all OEM's
  ui/src/app/app.component.ts
  ui/src/themes/openems/scss/variables.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

App Center: return created dependencies
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerImpl.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome30.java
Due: build-java, restore-cache, rebuild-cache

Meter SDM630: calculate active production/consumption energy manually
  io.openems.edge.meter.microcare.sdm630/bnd.bnd
  io.openems.edge.meter.microcare.sdm630/src/io/openems/edge/meter/microcare/sdm630/MeterMicrocareSdm630Impl.java
Due: build-java, restore-cache, rebuild-cache

Battery: standardize debugLog
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/OnRequest.java
  io.openems.edge.battery.api/src/io/openems/edge/battery/api/Battery.java
  io.openems.edge.battery.bydcommercial/src/io/openems/edge/battery/bydcommercial/BydBatteryBoxCommercialC130Impl.java
  io.openems.edge.battery.fenecon.commercial/src/io/openems/edge/battery/fenecon/commercial/BatteryFeneconCommercialImpl.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImpl.java
  io.openems.edge.battery.soltaro/src/io/openems/edge/battery/soltaro/cluster/versionc/BatterySoltaroClusterVersionCImpl.java
  io.openems.edge.battery.soltaro/src/io/openems/edge/battery/soltaro/single/versionb/BatterySoltaroSingleRackVersionBImpl.java
  io.openems.edge.battery.soltaro/src/io/openems/edge/battery/soltaro/single/versionc/BatterySoltaroSingleRackVersionCImpl.java
  io.openems.edge.common/src/io/openems/edge/common/channel/ChannelUtils.java
  io.openems.edge.common/src/io/openems/edge/common/filter/Pt1filter.java
  io.openems.edge.common/src/io/openems/edge/common/type/TypeUtils.java
  io.openems.edge.common/test/io/openems/edge/common/type/TypeUtilsTest.java
Due: build-java, restore-cache, rebuild-cache

UI: Splitting index into login and overview
  ui/package-lock.json
  ui/src/app/app-routing.module.ts
  ui/src/app/app.component.html
  ui/src/app/index/index.module.ts
  ui/src/app/index/login.component.html
  ui/src/app/index/login.component.ts
  ui/src/app/index/overview/overview.component.html
  ui/src/app/index/overview/overview.component.ts
  ui/src/app/shared/header/header.component.ts
  ui/src/app/shared/service/pagination.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/service/websocket.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/themes/openems/environments/theme.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix build
  cnf/pom.xml
  ui/package-lock.json
  ui/src/app/app-routing.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location
