Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

Fix TypeError: ctx_r1.subscribeChannels is not a function
  ui/src/app/edge/settings/channels/channels.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

feat(ui): Convert translation keys to UPPER_SNAKE_CASE
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix okhttp...
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

CI: ignore non-working test; cleanup imports
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/BridgeModbusTcpImplTest.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/manual/OctopusGo.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/manual/OctopusHeat.java
Due: build-java, restore-cache, rebuild-cache

Update PvInverterKostalPikoImpl.java
  io.openems.edge.pvinverter.kostal.piko/src/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPikoImpl.java
Due: build-java, restore-cache, rebuild-cache

Fix high and low Price description
  io.openems.edge.timeofusetariff.manual/src/io/openems/edge/timeofusetariff/manual/octopus/heat/Config.java
Due: build-java, restore-cache, rebuild-cache

[Common] Update Gradle + Plugins (#3337)
  build.gradle
  gradlew
  gradlew.bat
  settings.gradle
Due: build-java, restore-cache, rebuild-cache

[Edge] TimeOfUseTariff.OctopusHeat: fix high and low price description (#3344)
  io.openems.edge.timeofusetariff.manual/src/io/openems/edge/timeofusetariff/manual/octopus/heat/Config.java
Due: build-java, restore-cache, rebuild-cache

gitignore
  .gitignore
Due: none

extend messages
  .github/workflows/stale.yml
Due: none

[Common] Extend PR stale messages (#3345)
  .github/workflows/stale.yml
Due: none

Update timeofusetariff octopus heat Config.java: typo
  io.openems.edge.timeofusetariff.manual/src/io/openems/edge/timeofusetariff/manual/octopus/heat/Config.java
Due: build-java, restore-cache, rebuild-cache

[Edge] TimeOfUseTariff.OctopusHeat: fix typo (#3346)
  io.openems.edge.timeofusetariff.manual/src/io/openems/edge/timeofusetariff/manual/octopus/heat/Config.java
Due: build-java, restore-cache, rebuild-cache

update node.
  .github/workflows/build.yml
  tools/docker/ui/Dockerfile
Due: none

update more files
  .github/workflows/release.yml
  tools/drone/openems-android.sh
  tools/drone/openems-build.sh
Due: none

Update package-lock.json
  ui/package-lock.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] App.Meter.PqPlus available for OWNER
  io.openems.edge.core/src/io/openems/edge/app/meter/PqPlusMeter.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Weather.OpenMeteo: add random jitter to API calls to reduce simultaneous load
  io.openems.edge.weather.openmeteo/src/io/openems/edge/weather/openmeteo/OpenMeteoDelayTimeProvider.java
Due: build-java, restore-cache, rebuild-cache

[UI] TimeOfUseTariff: display only two decimals on history chart
  ui/src/app/edge/history/Controller/Ess/TimeOfUseTariff/chart/chart.ts
  ui/src/app/shared/components/chart/chart.constants.ts
  ui/src/app/shared/utils/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] General improvements
  ui/src/app/edge/live/live.component.html
  ui/src/app/edge/settings/profile/profile.component.ts
  ui/src/app/shared/jsonrpc/request/getSetupProtocolRequest.ts
  ui/src/app/shared/jsonrpc/response/getLatestSetupProtocolCoreInfoResponse.ts
  ui/src/app/shared/service/test/dummyservice.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Improve performance
  ui/src/app/edge/live/Controller/ChpSoc/ChpSoc.ts
  ui/src/app/edge/live/Controller/EnerixControl/flat/flat.ts
  ui/src/app/edge/live/Controller/Ess/FixActivePower/flat/flat.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/flat/flat.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/flat/flat.ts
  ui/src/app/edge/live/Controller/Evcs/flat/flat.ts
  ui/src/app/edge/live/Controller/Heat/flat/flat.ts
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/flat/flat.ts
  ui/src/app/edge/live/Controller/Io/FixDigitalOutput/flat/flat.ts
  ui/src/app/edge/live/Controller/Io/HeatingElement/flat/flat.ts
  ui/src/app/edge/live/Controller/Io/HeatingRoom/flat/flat.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/Io_Heatpump.ts
  ui/src/app/edge/live/Controller/ModbusTcpApi/flat/flat.ts
  ui/src/app/edge/live/Controller/PeakShaving/Asymmetric/Asymmetric.ts
  ui/src/app/edge/live/Controller/PeakShaving/Symmetric/Symmetric.ts
  ui/src/app/edge/live/Controller/PeakShaving/Symmetric_TimeSlot/Symmetric_TimeSlot.ts
  ui/src/app/edge/live/Io/Api_DigitalInput/Io_Api_DigitalInput.ts
  ui/src/app/edge/live/common/autarchy/flat/flat.ts
  ui/src/app/edge/live/common/consumption/flat/flat.ts
  ui/src/app/edge/live/common/grid/flat/flat.ts
  ui/src/app/edge/live/common/production/flat/flat.ts
  ui/src/app/edge/live/common/selfconsumption/flat/flat.ts
  ui/src/app/edge/live/common/storage/storage.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] App.PvInverter.SolarEdge: make Modbus Unit ID configurable
  io.openems.edge.core/src/io/openems/edge/app/pvinverter/SolarEdgePvInverter.java
Due: build-java, restore-cache, rebuild-cache

[UI] Angular 20 Update: additional visual changes
  ui/src/app/edge/history/common/energy/flat/flat.html
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/modal/modal.html
  ui/src/app/edge/live/Controller/Io/Heatpump/modal/modal.component.html
  ui/src/app/edge/live/common/storage/modal/modal.component.html
  ui/src/app/edge/settings/app/index.component.html
  ui/src/app/edge/settings/network/network.component.html
  ui/src/app/edge/settings/settings.component.html
  ui/src/app/edge/settings/settings.component.ts
  ui/src/app/edge/settings/settings.module.ts
  ui/src/app/index/index.module.ts
  ui/src/app/index/overview/overview.component.html
  ui/src/app/index/overview/overview.component.spec.ts
  ui/src/app/index/overview/overview.component.ts
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/components/chart/chart.module.ts
  ui/src/app/shared/components/flat/flat-widget-button/flat-widget-button.html
  ui/src/app/shared/components/flat/flat-widget-button/flat-widget-button.ts
  ui/src/app/shared/components/formly/formly-radio/formly-radio.ts
  ui/src/app/shared/components/pickdate/pickdate.component.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/service/user.service.ts
  ui/src/app/shared/shared.module.ts
  ui/src/global-ion-custom.scss
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

feat(simulation): Allow to set simulation data via channel
  io.openems.edge.simulator/src/io/openems/edge/simulator/datasource/single/channel/Config.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/datasource/single/channel/SimulatorDatasourceSingleChannel.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/datasource/single/channel/SimulatorDatasourceSingleChannelImpl.java
  io.openems.edge.simulator/test/io/openems/edge/simulator/datasource/single/direct/MyConfig.java
  io.openems.edge.simulator/test/io/openems/edge/simulator/datasource/single/direct/SimulatorDatasourceSingleDirectImplTest.java
Due: build-java, restore-cache, rebuild-cache

fix package-lock
  ui/package-lock.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Common] Update Node.Js to 22 (#3347)
  .github/workflows/build.yml
  .github/workflows/release.yml
  tools/docker/ui/Dockerfile
  tools/drone/openems-android.sh
  tools/drone/openems-build.sh
  ui/package-lock.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Victron ESS: improvement of Active/ApparentPower calculation
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/batteryinverter/victron/ess/symmetric/VictronEss.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/batteryinverter/victron/ess/symmetric/VictronEssImpl.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/meter/victron/acout/VictronAcOutPowerMeterImpl.java
  io.openems.edge.controller.pvinverter.reversepowerrelay/src/io/openems/edge/controller/pvinverter/reversepowerrelay/ReversePowerRelayImpl.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/pvinverter/PvInverterFroniusImpl.java
  io.openems.edge.sma/src/io/openems/edge/sma/pvinverter/PvInverterSmaSunnyTripower.java
  io.openems.edge.sma/src/io/openems/edge/sma/pvinverter/PvInverterSmaSunnyTripowerImpl.java
Due: build-java, restore-cache, rebuild-cache

Add Timedata API support to Kostal Piko Inverter
  io.openems.edge.pvinverter.kostal.piko/bnd.bnd
  io.openems.edge.pvinverter.kostal.piko/src/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPikoImpl.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Update MyModbusDeviceImpl.java template (#3315)
  doc/modules/ROOT/pages/edge/implement.adoc
  io.openems.common/resources/templates/device-modbus/$srcDir$/$basePackageDir$/MyModbusDeviceImpl.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Update MyConfig.java template (#3318)
  io.openems.common/resources/templates/controller/$testSrcDir$/$basePackageDir$/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[UI] Fix unsubscribe of channels
  ui/src/app/edge/live/livedataservice.ts
  ui/src/app/shared/components/edge/edge.ts
  ui/src/app/shared/components/modal/abstractModal.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Adjust large screen widget size based on nav position
  ui/src/app/edge/live/live.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

CHP: Corrections in Modbus WordOrder and scaling. Victron: corrected clamping in ApplyPower for asymmetric power
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/batteryinverter/victron/ess/symmetric/VictronEssImpl.java
  io.openems.edge.chp.ecpower/src/io/openems/edge/chp/ecpower/control/Config.java
  io.openems.edge.chp.ecpower/src/io/openems/edge/chp/ecpower/manager/Config.java
  io.openems.edge.chp.ecpower/src/io/openems/edge/chp/ecpower/ro/Config.java
  io.openems.edge.chp.ecpower/src/io/openems/edge/chp/ecpower/ro/XrgiRo.java
  io.openems.edge.chp.ecpower/src/io/openems/edge/chp/ecpower/ro/XrgiRoImpl.java
  io.openems.edge.sma/src/io/openems/edge/sma/pvinverter/PvInverterSmaSunnyTripower.java
  io.openems.edge.sma/src/io/openems/edge/sma/pvinverter/PvInverterSmaSunnyTripowerImpl.java
Due: build-java, restore-cache, rebuild-cache

io.openems.edge.evcs.api.PhaseRotation -> io.openems.edge.meter.api.PhaseRotation
  io.openems.edge.evcs.openwb/src/io/openems/edge/evcs/openwb/EvcsOpenWbImpl.java
Due: build-java, restore-cache, rebuild-cache

Remove meter.openwb
  io.openems.edge.meter.openwb/.classpath
  io.openems.edge.meter.openwb/.project
  io.openems.edge.meter.openwb/bnd.bnd
  io.openems.edge.meter.openwb/doc/HTTP-API-fuer-openWB-series1-und-series2.pdf
  io.openems.edge.meter.openwb/readme.adoc
  io.openems.edge.meter.openwb/src/io/openems/edge/meter/openwb/Config.java
  io.openems.edge.meter.openwb/src/io/openems/edge/meter/openwb/MeterOpenWb.java
  io.openems.edge.meter.openwb/src/io/openems/edge/meter/openwb/MeterOpenWbImpl.java
  io.openems.edge.meter.openwb/src/io/openems/edge/meter/openwb/ReadWorker.java
  io.openems.edge.meter.openwb/test/io/openems/edge/meter/openwb/MeterOpenWbImplTest.java
  io.openems.edge.meter.openwb/test/io/openems/edge/meter/openwb/MyConfig.java
Due: build-java, restore-cache, rebuild-cache
