Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

Update MeterJanitzaUmg511Impl.java
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg511/MeterJanitzaUmg511Impl.java
Due: build-java, restore-cache, rebuild-cache

UI: Unit tests for autarchy, selfconsumption and consumption (#2241)
  ui/src/app/edge/live/common/autarchy/modal/modal.html
  ui/src/app/edge/live/common/autarchy/modal/modal.spec.ts
  ui/src/app/edge/live/common/autarchy/modal/modal.ts
  ui/src/app/edge/live/common/consumption/modal/modal.constants.spec.ts
  ui/src/app/edge/live/common/consumption/modal/modal.html
  ui/src/app/edge/live/common/consumption/modal/modal.spec.ts
  ui/src/app/edge/live/common/consumption/modal/modal.ts
  ui/src/app/edge/live/common/grid/modal/modal.spec.ts
  ui/src/app/edge/live/common/selfconsumption/modal/modal.html
  ui/src/app/edge/live/common/selfconsumption/modal/modal.spec.ts
  ui/src/app/edge/live/common/selfconsumption/modal/modal.ts
  ui/src/app/shared/edge/edgeconfig.spec.ts
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.html
  ui/src/app/shared/genericComponents/genericComponents.ts
  ui/src/app/shared/genericComponents/modal/modal-value-line/modal-value-line.html
  ui/src/app/shared/genericComponents/modal/modal-value-line/modal-value-line.ts
  ui/src/app/shared/genericComponents/shared/converter.ts
  ui/src/app/shared/genericComponents/shared/filter.ts
  ui/src/app/shared/genericComponents/shared/formatter.ts
  ui/src/app/shared/genericComponents/shared/name.ts
  ui/src/app/shared/genericComponents/shared/oe-formly-component.ts
  ui/src/app/shared/genericComponents/shared/phase.ts
  ui/src/app/shared/genericComponents/shared/tester.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: redo changes from #764 (#810)
  ui/src/app/index/overview/overview.component.html
  ui/src/app/index/overview/overview.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Merge remote-tracking branch 'intern/feature/ui-dev/nativeApp' into develop
  ui/angular.json
  ui/capacitor.config.ts
  ui/ionic.config.json
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add check for isProducer with pvInverter nature
  ui/src/app/shared/edge/edgeconfig.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

added capacitor dependencies
  ui/capacitor.config.ts
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

ignore legacy peer deps for npm
  ui/.npmrc
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

added readme for iOS and Android project generation
  ui/README.md
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

added app icon
  ui/resources/icon.png
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

added commands to readme
  ui/README.md
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

added splash screen
  ui/resources/splash-dark.png
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

remove theme specific configuration
  ui/angular.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

remove pvInverters implementing nature ManagedSymmetricPvInverter
  ui/src/app/shared/edge/edgeconfig.ts
  ui/src/app/shared/type/widget.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Implement F&F Filipowski MR-AO-1 + Analog Output Controller (#761)
  io.openems.common/src/io/openems/common/utils/IntUtils.java
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.io.analog/.classpath
  io.openems.edge.controller.io.analog/.gitignore
  io.openems.edge.controller.io.analog/.project
  io.openems.edge.controller.io.analog/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.controller.io.analog/bnd.bnd
  io.openems.edge.controller.io.analog/readme.adoc
  io.openems.edge.controller.io.analog/src/io/openems/edge/controller/io/analog/Config.java
  io.openems.edge.controller.io.analog/src/io/openems/edge/controller/io/analog/ControllerIoAnalog.java
  io.openems.edge.controller.io.analog/src/io/openems/edge/controller/io/analog/ControllerIoAnalogImpl.java
  io.openems.edge.controller.io.analog/src/io/openems/edge/controller/io/analog/Mode.java
  io.openems.edge.controller.io.analog/src/io/openems/edge/controller/io/analog/PowerBehavior.java
  io.openems.edge.controller.io.analog/test/.gitignore
  io.openems.edge.controller.io.analog/test/io/openems/edge/controller/io/analog/MyConfig.java
  io.openems.edge.controller.io.analog/test/io/openems/edge/controller/io/analog/MyControllerTest.java
  io.openems.edge.controller.io.analog/test/io/openems/edge/controller/io/analog/TestStatic.java
  io.openems.edge.io.api/src/io/openems/edge/io/api/AnalogOutput.java
  io.openems.edge.io.api/src/io/openems/edge/io/api/AnalogVoltageOutput.java
  io.openems.edge.io.api/src/io/openems/edge/io/test/DummyAnalogVoltageOutput.java
  io.openems.edge.io.filipowski/.classpath
  io.openems.edge.io.filipowski/.gitignore
  io.openems.edge.io.filipowski/.project
  io.openems.edge.io.filipowski/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.io.filipowski/bnd.bnd
  io.openems.edge.io.filipowski/readme.adoc
  io.openems.edge.io.filipowski/src/io/openems/edge/io/filipowski/analog/mr/AnalogOutput.java
  io.openems.edge.io.filipowski/src/io/openems/edge/io/filipowski/analog/mr/Config.java
  io.openems.edge.io.filipowski/src/io/openems/edge/io/filipowski/analog/mr/IoFilipowskiMrAo1.java
  io.openems.edge.io.filipowski/src/io/openems/edge/io/filipowski/analog/mr/IoFilipowskiMrAo1Impl.java
  io.openems.edge.io.filipowski/test/.gitignore
  io.openems.edge.io.filipowski/test/io/openems/edge/io/filipowski/analog/mr/IoFilipowskiMrAo1ImplTest.java
  io.openems.edge.io.filipowski/test/io/openems/edge/io/filipowski/analog/mr/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

UI: Fix routing after authentication (#812)
  ui/src/app/index/login.component.ts
  ui/src/app/shared/service/websocket.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

AppCenter: Webasto Next/Unite as OpenemsApps (#809)
  io.openems.edge.core/src/io/openems/edge/app/evcs/WebastoNextEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/WebastoUniteEvcs.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/TranslationUtil.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
Due: build-java, restore-cache, rebuild-cache

UI: Add Service-Dashboard for FENECON Home (admins only) (#805)
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/common/production/chart/totalChart.ts
  ui/src/app/edge/history/shared.ts
  ui/src/app/edge/settings/app/app.module.ts
  ui/src/app/edge/settings/homeassistent/chart/chart.ts
  ui/src/app/edge/settings/homeassistent/homeassistent.html
  ui/src/app/edge/settings/homeassistent/homeassistent.ts
  ui/src/app/edge/settings/settings.component.html
  ui/src/app/edge/settings/settings.component.ts
  ui/src/app/edge/settings/settings.module.ts
  ui/src/app/index/overview/overview.component.html
  ui/src/app/index/overview/overview.component.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/flat/abstract-flat-widget.ts
  ui/src/app/shared/genericComponents/flat/flat-widget-line/flat-widget-line-item/flat-widget-line-item.html
  ui/src/app/shared/genericComponents/flat/flat-widget-line/flat-widget-line-item/flat-widget-line-item.ts
  ui/src/app/shared/genericComponents/flat/flat-widget-line/flat-widget-line.html
  ui/src/app/shared/genericComponents/genericComponents.ts
  ui/src/app/shared/genericComponents/shared/converter.ts
  ui/src/app/shared/genericComponents/shared/formatter.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/shared.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Fixing the wrong displayed strokes color in Energymonitor (#808)
  ui/src/app/edge/installation/installation-systems/home/abstract-home.ts
  ui/src/app/edge/installation/views/configuration-summary/configuration-summary.component.ts
  ui/src/app/edge/live/energymonitor/chart/section/consumption.component.html
  ui/src/app/edge/live/energymonitor/chart/section/grid.component.html
  ui/src/app/edge/live/energymonitor/chart/section/production.component.html
  ui/src/app/edge/live/energymonitor/chart/section/storage.component.html
  ui/src/app/index/overview/overview.component.html
  ui/src/app/shared/genericComponents/flat/flat-widget-line/flat-widget-line.html
  ui/src/assets/i18n/cz.json
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/es.json
  ui/src/assets/i18n/fr.json
  ui/src/assets/i18n/nl.json
  ui/src/themes/fenecon/environments/theme.ts
  ui/src/themes/fenecon/scss/variables.scss
  ui/src/themes/heckert/environments/theme.ts
  ui/src/themes/heckert/scss/variables.scss
  ui/src/themes/openems/environments/theme.ts
  ui/src/themes/openems/scss/variables.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Updated asciidoc and added final to variables
  io.openems.edge.controller.ess.timeofusetariff/readme.adoc
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerTest.java
Due: build-java, restore-cache, rebuild-cache

UI: fixing content-projection bug (#813)
  ui/src/app/shared/genericComponents/flat/flat-widget-line/flat-widget-line.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Trend Added Rolling prediction added
  .gitignore
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.predictiontester/generated/buildfiles
  io.openems.edge.predictor.lstm/.settings/bndtools.core.prefs
  io.openems.edge.predictor.lstm/TestFolder/SavedModel.txt
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/adddata/AddHourData.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/adddata/package-info.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/DataModification.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/DataStatistics.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/ReadCsv.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/ReadModels.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/SaveModel.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/interpolation/CubicalInterpolation.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/interpolation/InterpolationManager.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/model/ReadModel.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/performance/PerformanceMatrix.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/performance/package-info.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/predictor/LstmModelPredictorImpl.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/predictor/Prediction.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/predictor/Predictor.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/predictor/Preprocessing.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/predictor/ScaleBack.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/preprocessing/Normalize.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/preprocessing/PreProcessingImpl.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/preprocessing/ReverseNormalize.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/train/LstmModelTrainImpl.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/train/MakeModel.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/util/AdaptiveLearningRate.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/util/MakeModel.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/utilities/UtilityConversion.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/validator/LstmModelValidatorImpl.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/validator/ReadModels.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/validator/Validation.java
  io.openems.edge.predictor.lstm/test/io/openems/edge/predictor/lstm/AddHourDataTest.java
  io.openems.edge.predictor.lstm/test/io/openems/edge/predictor/lstm/StandALoneMakeModel.java
  io.openems.edge.predictor.lstm/test/io/openems/edge/predictor/lstm/StandaloneValidation.java
  io.openems.edge.predictor.lstm/test/io/openems/edge/predictor/lstm/performanceMatrixTest.java
  io.openems.edge.predictor.similardaymodel/src/io/openems/edge/predictor/similardaymodel/PredictorSimilardayModelImpl.java
Due: build-java, restore-cache, rebuild-cache

Push version to 2023.9.1
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2023.9.1-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2023.9.2-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update AbstractSiemensLogoRelay.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/AbstractSiemensLogoRelay.java
Due: build-java, restore-cache, rebuild-cache

Update Config.java. Only addresses for read/write
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/Config.java
Due: build-java, restore-cache, rebuild-cache

Update SiemensLogoRelayImpl.java
  io.openems.edge.io.siemenslogo/src/io/openems/edge/io/siemenslogo/SiemensLogoRelayImpl.java
Due: build-java, restore-cache, rebuild-cache

Update readme.adoc
  io.openems.edge.io.siemenslogo/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Update Config.java
  io.openems.edge.meter.emh/src/io/openems/edge/meter/emh/Config.java
Due: build-java, restore-cache, rebuild-cache

Update MeterEmhImpl.java
  io.openems.edge.meter.emh/src/io/openems/edge/meter/emh/MeterEmhImpl.java
Due: build-java, restore-cache, rebuild-cache

UI: Fix Query Overwriting filters (#814)
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/index/overview/overview.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Style Correction
  io.openems.edge.meter.emh/src/io/openems/edge/meter/emh/MeterEmhImpl.java
Due: build-java, restore-cache, rebuild-cache

Reverted Changes to Unit -> is not needed here
  io.openems.common/src/io/openems/common/channel/Unit.java
Due: build-java, restore-cache, rebuild-cache

Missing beautifications I couldn't do at the Hackathon Q3/23
  cnf/pom.xml
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/AbstractOpenEmsMqttComponent.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/BridgeMqtt.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/LogVerbosity.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/MqttComponent.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/MqttConnectionImpl.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/MqttProtocol.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/Topic.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/payloads/AbstractPayload.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/payloads/GenericPayloadImpl.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/task/AbstractMqttTask.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/task/MqttFlexaSubscribeTaskImpl.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/task/MqttPublishTaskFixedMinuteTimeImpl.java
  io.openems.edge.bridge.mqtt/src/io/openems/edge/bridge/mqtt/api/worker/MqttWorker.java
Due: build-java, restore-cache, rebuild-cache

Add Shelly 3 Pro
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly3/Config.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly3/IoShelly3.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly3/IoShelly3Impl.java
Due: build-java, restore-cache, rebuild-cache

Fixing Infinity sign shown in charts & the wrong date formating of IBN
  ui/src/app/edge/history/common/energy/chart/chart.ts
  ui/src/app/edge/settings/profile/profile.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: add redirect from index to login (#816)
  ui/src/app/app-routing.module.ts
  ui/src/app/index/overview/overview.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
