Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

Start development of version 2023.11.2-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix UI build
  ui/src/app/shared/edge/edgeconfig.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

spinner fix
  ui/src/app/edge/settings/alerting/alerting.component.html
  ui/src/app/edge/settings/alerting/alerting.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: remove advertWidget for new customers, adjust it for existing (#931)
  ui/src/app/edge/live/advertisement/advertisement.component.html
  ui/src/app/edge/live/advertisement/advertisement.module.ts
  ui/src/app/edge/live/advertisement/dynamic-electricity-tariff/dynamic-electricity-tariff-existing-customer.ts
  ui/src/app/edge/live/advertisement/dynamic-electricity-tariff/dynamic-electricity-tariff-new-customer.ts
  ui/src/app/shared/type/widget.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

WIP
  ui/.npmrc
  ui/package-lock.json
  ui/package.json
  ui/src/app/edge/history/abstracthistorychart.ts
  ui/src/app/edge/history/channelthreshold/singlechart.component.ts
  ui/src/app/edge/history/channelthreshold/totalchart.component.ts
  ui/src/app/edge/history/chpsoc/chart.component.ts
  ui/src/app/edge/history/common/autarchy/chart/chart.ts
  ui/src/app/edge/history/shared.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

redo merge changes
  ui/src/app/edge/history/common/consumption/chart/channels.spec.ts
  ui/src/app/edge/history/common/consumption/chart/chart.constants.spec.ts
  ui/src/app/edge/history/common/consumption/chart/chart.spec.ts
  ui/src/app/edge/history/common/energy/chart/chart.spec.ts
  ui/src/app/edge/history/common/grid/chart/chart.spec.ts
  ui/src/app/shared/edge/edgeconfig.spec.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: EvcsModal - Fix uncaught (in promise): TypeError: this.controller is undefined (#2426)
  ui/src/app/edge/live/Controller/Evcs/modal/modal.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

AppCenter: fix not automatically installing missing dependencies (#929)
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerImpl.java
Due: build-java, restore-cache, rebuild-cache

Added GetLatestValue from Influx
  io.openems.edge.timedata.influxdb/src/io/openems/edge/timedata/influxdb/TimedataInfluxDbImpl.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/InfluxConnector.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/FluxProxy.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/InfluxQlProxy.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/QueryProxy.java
Due: build-java, restore-cache, rebuild-cache

fix imports
  ui/src/app/edge/history/common/consumption/chart/chart.ts
  ui/src/app/edge/live/common/consumption/modal/modal.spec.ts
  ui/src/app/edge/live/common/grid/modal/modal.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add missing configuration for unittesting locally
  ui/angular.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update InfluxConnector.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/InfluxConnector.java
Due: build-java, restore-cache, rebuild-cache

AppCenter: Industrial S (#783)
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/industrial/s/FeneconIndustrialSComponents.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/industrial/s/FeneconIndustrialSProps.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/industrial/s/Isk010.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/industrial/s/Isk011.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/industrial/s/Isk110.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/TranslationUtil.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconIndustrial.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
Due: build-java, restore-cache, rebuild-cache

remove unused Role
  ui/src/app/edge/live/common/consumption/modal/modal.constants.spec.ts
  ui/src/app/edge/live/common/consumption/modal/modal.spec.ts
  ui/src/app/edge/live/common/consumption/modal/modal.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Adds binary into git.
  io.openems.edge.bridge.can.linux/lib/libsocket-can-java.jar
Due: build-java, restore-cache, rebuild-cache

redo eslint changes
  ui/.eslintrc.json
  ui/src/themes/openems/environments/backend-dev.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Style fix.
  io.openems.edge.bridge.can.common/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

fix last linting error
  ui/src/app/edge/live/common/consumption/modal/modal.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Edge: Check Battery Combination only if the battery is started (#940)
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

UI Time-Of-Use: refactor chart in Live modal (#939)
  ui/src/app/edge/history/timeofusetariffdischarge/chart.component.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariffDischarge/modal/scheduleChart.ts
  ui/src/app/shared/service/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bnd
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/fastexcel.bnd
Due: build-java, restore-cache, rebuild-cache

Push version to 2023.11.2
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2023.11.3-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Time-of-Use Controller: improvements for BETA test (#928)
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/SendChannelValuesWorker.java
  io.openems.edge.controller.api.backend/test/io/openems/edge/controller/api/backend/SendChannelValuesWorkerTest.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffController.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Context.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Optimizer.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Params.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Simulator.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Utils.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImplTest.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/optimizer/SimulatorTest.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/optimizer/UtilsTest.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/EntsoE.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/StromdaoCorrently.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/Tibber.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/RecordWorker.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/BiddingZone.java
Due: build-java, restore-cache, rebuild-cache

Delete io.openems.edge.meter.siemens.pac1600/generated directory
  io.openems.edge.meter.siemens.pac1600/generated/buildfiles
Due: build-java, restore-cache, rebuild-cache

Update .gitignore
  io.openems.edge.meter.siemens.pac1600/.gitignore
Due: build-java, restore-cache, rebuild-cache

fix: convert new line code CRLF -> LF in ui/ files.
  ui/.vscode/launch.json
  ui/.vscode/settings.json
  ui/src/app/edge/edge.module.ts
  ui/src/app/edge/history/history.component.ts
  ui/src/app/edge/history/history.module.ts
  ui/src/app/edge/settings/alerting/alerting.component.ts
  ui/src/app/shared/edge/currentdata.ts
  ui/src/app/shared/pipe/classname/classname.pipe.ts
  ui/src/app/shared/pipe/isclass/isclass.pipe.ts
  ui/src/app/shared/pipe/keys/keys.pipe.ts
  ui/src/app/shared/pipe/sign/sign.pipe.ts
  ui/src/app/shared/service/defaulttypes.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/service/websocket.ts
  ui/src/app/shared/type/role.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: insert new entry of gitattribute for web-dev related files suffixes
  .gitattributes
Due: none

UI: Extending Systemexecute (#819)
  ui/src/app/edge/settings/systemexecute/systemexecute.component.html
  ui/src/app/edge/settings/systemexecute/systemexecute.component.ts
  ui/src/global.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: refactor channelthreshold history (#881)
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/Controller/ChannelThreshold/channelThreshold.module.ts
  ui/src/app/edge/history/Controller/ChannelThreshold/chart/totalchart.component.ts
  ui/src/app/edge/history/Controller/ChannelThreshold/flat/flat.html
  ui/src/app/edge/history/Controller/ChannelThreshold/flat/flat.ts
  ui/src/app/edge/history/Controller/ChannelThreshold/overview/overview.html
  ui/src/app/edge/history/Controller/ChannelThreshold/overview/overview.ts
  ui/src/app/edge/history/Controller/controller.module.ts
  ui/src/app/edge/history/channelthreshold/channelthresholdchartoverview/channelthresholdchartoverview.component.html
  ui/src/app/edge/history/channelthreshold/channelthresholdchartoverview/channelthresholdchartoverview.component.ts
  ui/src/app/edge/history/channelthreshold/singlechart.component.ts
  ui/src/app/edge/history/channelthreshold/totalchart.component.ts
  ui/src/app/edge/history/channelthreshold/widget.component.html
  ui/src/app/edge/history/channelthreshold/widget.component.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/history.module.ts
  ui/src/app/edge/history/historydataservice.ts
  ui/src/app/shared/genericComponents/chart/abstractHistoryChartOverview.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/flat/abstract-flat-widget.ts
  ui/src/app/shared/genericComponents/shared/converter.ts
  ui/src/app/shared/genericComponents/shared/dataservice.ts
  ui/src/app/shared/genericComponents/shared/testing/tester.ts
  ui/src/app/shared/jsonrpc/jsonrpcutils.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/shared.module.ts
  ui/src/app/shared/type/widget.ts
  ui/src/app/shared/utils/dateutils/dateutils.ts
  ui/src/app/shared/utils/timeutils/timeutils.spec.ts
  ui/src/app/shared/utils/timeutils/timeutils.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Allow unauthenticated access to /live on Backend2Backend REST API
  cnf/pom.xml
  io.openems.backend.b2brest/bnd.bnd
  io.openems.backend.b2brest/src/io/openems/backend/b2brest/RestHandler.java
  io.openems.backend.b2brest/test/io/openems/backend/b2brest/RestHandlerTest.java
Due: build-java, restore-cache, rebuild-cache

add debug cycle for edge/ui websockets
  io.openems.backend.common/src/io/openems/backend/common/debugcycle/DebugCycle.java
  io.openems.backend.common/src/io/openems/backend/common/debugcycle/package-info.java
  io.openems.backend.core/src/io/openems/backend/core/debugcycle/DebugCycleExecutor.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/EdgeWebsocketImpl.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/UiWebsocketImpl.java
Due: build-java, restore-cache, rebuild-cache

Update DebugCycleExecutor.java
  io.openems.backend.core/src/io/openems/backend/core/debugcycle/DebugCycleExecutor.java
Due: build-java, restore-cache, rebuild-cache

added separate method for debugMetrics
  io.openems.backend.common/src/io/openems/backend/common/debugcycle/DebugCycle.java
  io.openems.backend.common/src/io/openems/backend/common/debugcycle/DebugLoggable.java
  io.openems.backend.core/src/io/openems/backend/core/debugcycle/DebugCycleExecutor.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/EdgeWebsocketImpl.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/WebsocketServer.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/UiWebsocketImpl.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/WebsocketServer.java
Due: build-java, restore-cache, rebuild-cache

also removed other debugThreads
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/Backend2BackendWebsocket.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/WebsocketServer.java
  io.openems.backend.common/src/io/openems/backend/common/debugcycle/DebugLoggable.java
  io.openems.backend.core/src/io/openems/backend/core/debugcycle/DebugCycleExecutor.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/EdgeWebsocketImpl.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/WebsocketServer.java
  io.openems.backend.timedata.aggregatedinflux/src/io/openems/backend/timedata/aggregatedinflux/AggregatedInflux.java
  io.openems.backend.timedata.influx/src/io/openems/backend/timedata/influx/TimedataInfluxDb.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/UiWebsocketImpl.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/WebsocketServer.java
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketServer.java
  io.openems.common/src/io/openems/common/websocket/DummyWebsocketServer.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/WebsocketServer.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/InfluxConnector.java
Due: build-java, restore-cache, rebuild-cache

checkstyle
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketServer.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/InfluxConnector.java
Due: build-java, restore-cache, rebuild-cache
