Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

Docs: fix `./gradlew :io.openems.edge.io.shelly:test` (#2752)
  doc/modules/ROOT/pages/edge/implement.adoc
Due: none

Update to Gradle 8.10
  .gradle-wrapper/gradle-wrapper.jar
  .gradle-wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: build-java, restore-cache, rebuild-cache

Push version to 2024.9.0
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  tools/common.sh
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2024.10.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add @stylistic to style rules
  ui/.eslintrc.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: modularize translation files & pageTitle fallback
  ui/src/app/edge/edge.component.ts
  ui/src/app/shared/service/globalRouteChangeHandler.ts
  ui/src/app/shared/type/language.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Implements authentication and authorization through a LDAP server in the edge.
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/handler/AuthenticationRequestHandler.java
  io.openems.edge.core.ldap/.gitignore
  io.openems.edge.core.ldap/bnd.bnd
  io.openems.edge.core.ldap/readme.adoc
  io.openems.edge.core.ldap/src/io/openems/edge/core/ldap/Config.java
  io.openems.edge.core.ldap/src/io/openems/edge/core/ldap/LdapContextManager.java
  io.openems.edge.core.ldap/src/io/openems/edge/core/ldap/LdapUser.java
  io.openems.edge.core.ldap/src/io/openems/edge/core/ldap/LdapUtils.java
  io.openems.edge.core.ldap/src/io/openems/edge/core/ldap/UserServiceImpl.java
  io.openems.edge.core.ldap/test/io/openems/edge/core/ldap/LdapUtilsTest.java
  io.openems.edge.core/src/io/openems/edge/core/user/UserServiceImpl.java
  ui/src/app/index/login.component.html
  ui/src/environments/index.ts
  ui/src/themes/openems/environments/backend-dev.ts
  ui/src/themes/openems/environments/backend-docker.ts
  ui/src/themes/openems/environments/backend-prod.ts
  ui/src/themes/openems/environments/edge-dev.ts
  ui/src/themes/openems/environments/edge-docker.ts
  ui/src/themes/openems/environments/edge-prod.ts
  ui/src/themes/openems/environments/gitpod.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Due: none

First draft of the contribution guidelines
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  README.md
Due: none

Add hacktoberfest issue template
  .github/ISSUE_TEMPLATE/hacktober.yml
Due: none

quickfix
  .github/ISSUE_TEMPLATE/hacktober.yml
Due: none

review
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/hacktober.yml
  README.md
Due: none

Update bndrun + dependabot.yml
  .github/dependabot.yml
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/fastexcel.bnd
Due: build-java, restore-cache, rebuild-cache

Contribution Guidelines & Code of Conduct (#2780)
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/hacktober.yml
  README.md
Due: none

Fix translation_en
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
Due: build-java, restore-cache, rebuild-cache

Fix various typos (#2730)
  doc/modules/ROOT/pages/gettingstarted.adoc
  doc/modules/ROOT/pages/intellij.adoc
  io.openems.backend.timedata.aggregatedinflux/readme.adoc
  io.openems.common/src/io/openems/common/websocket/MyDraft6455.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImpl.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/adapter/MulticastListener.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/adapter/RawSendPacket.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/adapter/UAdapterState.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/adapter/USerialAdapter.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/application/file/OWFile.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/application/file/OWFileInputStream.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/application/file/OWFileOutputStream.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/container/MemoryBankEEPROMstatus.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/container/MemoryBankScratchSHAEE.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/container/OneWireContainer33.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/container/OneWireContainer37.java
  io.openems.edge.bridge.onewire/src/com/dalsemi/onewire/container/OneWireContainer41.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/ConfigFixStateOfCharge.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/ConfigPrepareBatteryExtension.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/api/ConfigProperties.java
  io.openems.edge.controller.ess.limiter14a/src/io/openems/edge/controller/ess/limiter14a/Config.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppDef.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/Params.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/ParamsUtils.java
  io.openems.edge.ess.core/src/io/openems/edge/ess/core/power/solver/nearequal/SolveNearEqual.java
  io.openems.edge.evcs.alpitronic.hypercharger/src/io/openems/edge/evcs/hypercharger/AvailableState.java
  io.openems.edge.evcs.cluster/readme.adoc
  io.openems.edge.evcs.webasto.next/src/io/openems/edge/evcs/webasto/next/enums/EvseErrorCode.java
  io.openems.edge.io.gpio/src/io/openems/edge/io/gpio/linuxfs/Gpio.java
  io.openems.edge.katek.edcom/src/com/ed/data/BatteryData.java
  io.openems.edge.katek.edcom/src/com/ed/data/History.java
  io.openems.edge.katek.edcom/src/com/ed/edcom/Client.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/Rrd4jReadHandler.java
  ui/src/app/edge/history/history.component.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Display state of charge in kWh for storage devices in flat- and modal-widgets
  ui/src/app/edge/live/common/storage/modal/modal.component.html
  ui/src/app/edge/live/common/storage/modal/modal.component.ts
  ui/src/app/edge/live/common/storage/storage.component.html
  ui/src/app/edge/live/common/storage/storage.component.ts
  ui/src/app/shared/components/flat/flat-widget-percentagebar/flat-widget-percentagebar.html
  ui/src/app/shared/components/flat/flat-widget-percentagebar/flat-widget-percentagebar.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Add Widget and History for ModbusTcpApi (UI part)
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/Controller/ModbusTcpApi/chart/channels.spec.ts
  ui/src/app/edge/history/Controller/ModbusTcpApi/chart/chart.ts
  ui/src/app/edge/history/Controller/ModbusTcpApi/flat/flat.html
  ui/src/app/edge/history/Controller/ModbusTcpApi/flat/flat.ts
  ui/src/app/edge/history/Controller/ModbusTcpApi/modbusTcpApi.module.ts
  ui/src/app/edge/history/Controller/ModbusTcpApi/overview/overview.html
  ui/src/app/edge/history/Controller/ModbusTcpApi/overview/overview.ts
  ui/src/app/edge/history/Controller/controller.module.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/live/Controller/ModbusTcpApi/flat/flat.html
  ui/src/app/edge/live/Controller/ModbusTcpApi/flat/flat.ts
  ui/src/app/edge/live/Controller/ModbusTcpApi/modal/modal.html
  ui/src/app/edge/live/Controller/ModbusTcpApi/modal/modal.ts
  ui/src/app/edge/live/Controller/ModbusTcpApi/modbusTcpApi.module.ts
  ui/src/app/edge/live/live.component.html
  ui/src/app/edge/live/live.module.ts
  ui/src/app/shared/components/chart/abstracthistorychart.html
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/components/edge/edgeconfig.spec.ts
  ui/src/app/shared/components/modal/modal.module.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/shared.ts
  ui/src/app/shared/type/widget.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: update version string for modbusTcpApiWidget
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/live/live.component.html
  ui/src/app/shared/shared.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: helpers (#1418)
  ui/src/app/shared/components/shared/converter.ts
  ui/src/app/shared/components/shared/formatter.ts
  ui/src/app/shared/pipe/converter/converter.ts
  ui/src/app/shared/pipe/pipe.ts
  ui/src/themes/openems/scss/variables.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Controller.Api.ModbusTcp.ReadWrite: add Channels for new UI features
  io.openems.edge.controller.api.common/src/io/openems/edge/controller/api/common/ApiWorker.java
  io.openems.edge.controller.api.common/src/io/openems/edge/controller/api/common/Status.java
  io.openems.edge.controller.api.common/src/io/openems/edge/controller/api/common/WriteObject.java
  io.openems.edge.controller.api.common/src/io/openems/edge/controller/api/common/WritePojo.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/AbstractModbusTcpApi.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/ModbusTcpApi.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/readonly/ControllerApiModbusTcpReadOnlyImpl.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/readwrite/Config.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/readwrite/ControllerApiModbusTcpReadWrite.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/readwrite/ControllerApiModbusTcpReadWriteImpl.java
  io.openems.edge.controller.api.modbus/test/io/openems/edge/controller/api/modbus/readwrite/ControllerApiModbusTcpReadWriteImplTest.java
  io.openems.edge.controller.api.modbus/test/io/openems/edge/controller/api/modbus/readwrite/MyConfig.java
  io.openems.edge.ess.api/src/io/openems/edge/ess/api/ManagedSymmetricEss.java
Due: build-java, restore-cache, rebuild-cache

AppCenter: improvements
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial92.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercialComponents.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/AwattarHourly.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/EntsoE.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/GroupeE.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/RabotCharge.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/StadtwerkHassfurt.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/StromdaoCorrently.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/Tibber.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckCommercial92.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckOr.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckableFactory.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/Checkables.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/ValidatorConfig.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/ValidatorImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/app/timeofusetariff/TestTibber.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerImpSynchronizationTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerImplSynchronizationTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerImplTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerTestBundle.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/DummyValidator.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/validator/CheckHomeTest.java
Due: build-java, restore-cache, rebuild-cache

i18n channel translations
  io.openems.edge.common/src/io/openems/edge/common/channel/Doc.java
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractDoc.java
  io.openems.edge.common/test/io/openems/edge/common/channel/ChannelTranslationTest.java
  io.openems.edge.common/test/io/openems/edge/common/channel/translation_de.properties
  io.openems.edge.common/test/io/openems/edge/common/channel/translation_en.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManager.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/ComponentManagerImpl.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerImplTest.java
Due: build-java, restore-cache, rebuild-cache

AppCenter: App for PqPlus Meter UMD96 & UMD97
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
  io.openems.edge.core/src/io/openems/edge/app/meter/PqPlusMeter.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
Due: build-java, restore-cache, rebuild-cache

GoodWe: fix StateRegister
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/GoodWe.java
Due: build-java, restore-cache, rebuild-cache

AppCenter: App for Phoenix Contact Meter EEM-MB370-24DC
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
  io.openems.edge.core/src/io/openems/edge/app/meter/PhoenixContactMeter.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
Due: build-java, restore-cache, rebuild-cache

UI: Fix no translation lang set bug
  ui/src/app/shared/type/language.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: track connection State & add backend not accessible info
  ui/src/app/app.component.ts
  ui/src/app/app.module.ts
  ui/src/app/index/login.component.ts
  ui/src/app/index/shared/loading-screen.html
  ui/src/app/index/shared/loading-screen.ts
  ui/src/app/shared/components/header/header.component.ts
  ui/src/app/shared/ngrx-store/states.ts
  ui/src/app/shared/service/pagination.ts
  ui/src/app/shared/service/previousRouteService.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/service/websocket.ts
  ui/src/app/shared/shared.module.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Revert changes to fix ModbusTcpApi widget
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/live/live.component.html
  ui/src/app/index/shared/loading-screen.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: hide modbusTcpWidget for edge version less than `2024.9.1`
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/history.component.ts
  ui/src/app/edge/live/live.component.html
  ui/src/app/edge/live/live.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

AppCenter: handle Hardware specifics
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
  io.openems.edge.common/src/io/openems/edge/common/test/DummyComponentContext.java
  io.openems.edge.common/src/io/openems/edge/common/test/DummyComponentInstance.java
  io.openems.edge.core/src/io/openems/edge/app/common/props/RelayProps.java
  io.openems.edge.core/src/io/openems/edge/app/ess/Limiter14a.java
  io.openems.edge.core/src/io/openems/edge/app/hardware/IoGpio.java
  io.openems.edge.core/src/io/openems/edge/app/heat/CombinedHeatAndPower.java
  io.openems.edge.core/src/io/openems/edge/app/heat/HeatPump.java
  io.openems.edge.core/src/io/openems/edge/app/heat/HeatingElement.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome20.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome30.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHomeComponents.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/IntegratedSystemProps.java
  io.openems.edge.core/src/io/openems/edge/app/loadcontrol/ManualRelayControl.java
  io.openems.edge.core/src/io/openems/edge/app/loadcontrol/ThresholdControl.java
  io.openems.edge.core/src/io/openems/edge/app/openemshardware/BeagleBoneBlack.java
  io.openems.edge.core/src/io/openems/edge/app/openemshardware/Compulab.java
  io.openems.edge.core/src/io/openems/edge/app/openemshardware/TechbaseCm3.java
  io.openems.edge.core/src/io/openems/edge/app/openemshardware/TechbaseCm4.java
  io.openems.edge.core/src/io/openems/edge/app/openemshardware/TechbaseCm4Max.java
  io.openems.edge.core/src/io/openems/edge/app/openemshardware/TechbaseCm4s.java
  io.openems.edge.core/src/io/openems/edge/app/openemshardware/TechbaseCm4sGen2.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManager.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerUtil.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerUtilImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/OpenemsAppCategory.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/ResolveOpenemsHardware.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/AppManagerAppHelperImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/aggregatetask/SchedulerByCentralOrderAggregateTaskImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/ResolveOpenemsHardwareTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
Due: build-java, restore-cache, rebuild-cache

Implement simulated Predictor
  io.openems.edge.simulator/bnd.bnd
  io.openems.edge.simulator/src/io/openems/edge/simulator/DataContainer.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/app/SimulatorAppImpl.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/datasource/api/AbstractCsvDatasource.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/datasource/api/SimulatorDatasource.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/predictor/Config.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/predictor/SimulatorPredictor.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/predictor/SimulatorPredictorImpl.java
  io.openems.edge.simulator/test/io/openems/edge/simulator/datasource/csv/direct/SimulatorDatasourceCsvDirectImplTest.java
  io.openems.edge.simulator/test/io/openems/edge/simulator/predictor/MyConfig.java
  io.openems.edge.simulator/test/io/openems/edge/simulator/predictor/SimulatorPredictorImplTest.java
Due: build-java, restore-cache, rebuild-cache

Fix build
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
Due: build-java, restore-cache, rebuild-cache

Add OverrideStatus
  ui/src/app/shared/type/general.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix build
  ui/src/app/index/shared/loading-screen.html
  ui/src/app/shared/pipe/converter/converter.ts
  ui/src/app/shared/type/general.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update Gradle to 8.10.1
  .gradle-wrapper/gradle-wrapper.jar
  .gradle-wrapper/gradle-wrapper.properties
Due: build-java, restore-cache, rebuild-cache

Fix build
  io.openems.edge.common/src/io/openems/edge/common/sum/DummySum.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/Utils.java
  io.openems.edge.energy/test/io/openems/edge/energy/manual/CalendarEventTest.java
  io.openems.edge.scheduler.api/src/io/openems/edge/scheduler/api/test/AbstractDummyScheduler.java
  io.openems.edge.scheduler.api/src/io/openems/edge/scheduler/api/test/DummyScheduler.java
  io.openems.edge.scheduler.api/src/io/openems/edge/scheduler/api/test/package-info.java
Due: build-java, restore-cache, rebuild-cache

Fix: Cycle time change from wait for trigger to actual time
  io.openems.common/src/io/openems/common/worker/AbstractWorker.java
  io.openems.edge.common/src/io/openems/edge/common/test/AbstractComponentTest.java
  io.openems.edge.core/src/io/openems/edge/core/cycle/CycleImpl.java
  io.openems.edge.core/test/io/openems/edge/core/cycle/CycleImplTest.java
  io.openems.edge.core/test/io/openems/edge/core/cycle/MyConfig.java
Due: build-java, restore-cache, rebuild-cache
