Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

[UI] Helper methods
  ui/src/app/shared/components/formly/input-serial-number-wrapper.html
  ui/src/app/shared/components/formly/input-serial-number-wrapper.ts
  ui/src/app/shared/utils/array/array.utils.spec.ts
  ui/src/app/shared/utils/array/array.utils.ts
  ui/src/app/shared/utils/object/object.utils.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/global-ion-custom.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Controller.Io.ChannelSingleThreshold: improve flat widget
  io.openems.edge.simulator/src/io/openems/edge/simulator/io/MyChannelId.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/io/SimulatorIoDigitalInputOutputImpl.java
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/Io_ChannelSingleThreshold.ts
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/flat/flat.html
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/flat/flat.ts
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/modal/modal.component.html
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/modal/modal.component.ts
  ui/src/app/edge/live/Controller/Io/HeatingElement/modal/modal.ts
  ui/src/app/edge/live/live.component.html
  ui/src/app/edge/live/live.module.ts
  ui/src/app/shared/components/shared/formatter.ts
  ui/src/app/shared/type/channeladdress.ts
  ui/src/app/shared/type/currentdata.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] JUnit Test: add StrictMode + apply for KEBA
  io.openems.edge.common/src/io/openems/edge/common/test/AbstractComponentTest.java
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evcs/keba/modbus/EvcsKebaModbusImpl.java
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evse/chargepoint/keba/udp/EvseKebaUdpImpl.java
  io.openems.edge.evse.chargepoint.keba/test/io/openems/edge/evcs/keba/modbus/EvcsKebaModbusImplTest.java
  io.openems.edge.evse.chargepoint.keba/test/io/openems/edge/evcs/keba/udp/EvcsKebaUdpImplTest.java
  io.openems.edge.evse.chargepoint.keba/test/io/openems/edge/evse/chargepoint/keba/common/CommonNaturesTest.java
  io.openems.edge.evse.chargepoint.keba/test/io/openems/edge/evse/chargepoint/keba/common/EvseKebaTest.java
  io.openems.edge.evse.chargepoint.keba/test/io/openems/edge/evse/chargepoint/keba/common/KebaModbusTest.java
  io.openems.edge.evse.chargepoint.keba/test/io/openems/edge/evse/chargepoint/keba/common/KebaTest.java
  io.openems.edge.evse.chargepoint.keba/test/io/openems/edge/evse/chargepoint/keba/modbus/EvseChargePointKebaModbusImplTest.java
  io.openems.edge.evse.chargepoint.keba/test/io/openems/edge/evse/chargepoint/keba/udp/EvseChargePointKebaUdpImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] App Center Modbus-Write-APIs: add essX by default
  io.openems.edge.core/src/io/openems/edge/app/api/ModbusApiProps.java
  io.openems.edge.core/src/io/openems/edge/app/api/ModbusRtuApiReadOnly.java
  io.openems.edge.core/src/io/openems/edge/app/api/ModbusRtuApiReadWrite.java
  io.openems.edge.core/src/io/openems/edge/app/api/ModbusTcpApiReadOnly.java
  io.openems.edge.core/src/io/openems/edge/app/api/ModbusTcpApiReadWrite.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Go-e Gemini Wallbox read-only
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.core/src/io/openems/edge/app/evcs/readonly/AppGoeEvcsReadOnly.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
  io.openems.edge.evcs.goe/.classpath
  io.openems.edge.evcs.goe/.gitignore
  io.openems.edge.evcs.goe/.project
  io.openems.edge.evcs.goe/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.evcs.goe/bnd.bnd
  io.openems.edge.evcs.goe/readme.adoc
  io.openems.edge.evcs.goe/src/io/openems/edge/evcs/goe/api/EvcsGoe.java
  io.openems.edge.evcs.goe/src/io/openems/edge/evcs/goe/api/StatusConverter.java
  io.openems.edge.evcs.goe/src/io/openems/edge/evcs/goe/http/Config.java
  io.openems.edge.evcs.goe/src/io/openems/edge/evcs/goe/http/EvcsGoeHttp.java
  io.openems.edge.evcs.goe/src/io/openems/edge/evcs/goe/http/EvcsGoeHttpImpl.java
  io.openems.edge.evcs.goe/src/io/openems/edge/evcs/goe/http/GoeApiV2.java
  io.openems.edge.evcs.goe/src/io/openems/edge/evcs/goe/modbus/Config.java
  io.openems.edge.evcs.goe/src/io/openems/edge/evcs/goe/modbus/EvcsGoeModbus.java
  io.openems.edge.evcs.goe/src/io/openems/edge/evcs/goe/modbus/EvcsGoeModbusImpl.java
  io.openems.edge.evcs.goe/src/io/openems/edge/evcs/goe/translation_de.properties
  io.openems.edge.evcs.goe/src/io/openems/edge/evcs/goe/translation_en.properties
  io.openems.edge.evcs.goe/test/.gitignore
  io.openems.edge.evcs.goe/test/io/openems/edge/evcs/goe/http/EvcsGoeHttpImplTest.java
  io.openems.edge.evcs.goe/test/io/openems/edge/evcs/goe/http/MyConfig.java
  io.openems.edge.evcs.goe/test/io/openems/edge/evcs/goe/modbus/EvcsGoeModbusImplTest.java
  io.openems.edge.evcs.goe/test/io/openems/edge/evcs/goe/modbus/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[Edge] KEBA: add Firmware version handling
  io.openems.common/src/io/openems/common/types/SemanticVersion.java
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evcs/keba/modbus/EvcsKebaModbusImpl.java
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evcs/keba/modbus/translation_de.properties
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evcs/keba/modbus/translation_en.properties
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evse/chargepoint/keba/common/KebaModbus.java
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evse/chargepoint/keba/modbus/EvseKebaModbusImpl.java
  io.openems.edge.evse.chargepoint.keba/test/io/openems/edge/evcs/keba/modbus/EvcsKebaModbusImplTest.java
  io.openems.edge.evse.chargepoint.keba/test/io/openems/edge/evse/chargepoint/keba/common/KebaModbusTest.java
  io.openems.edge.evse.chargepoint.keba/test/io/openems/edge/evse/chargepoint/keba/modbus/EvseChargePointKebaModbusImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] EVSE: always set minimum set-point
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/Utils.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/cluster/UtilsTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] EVSE: no hysteresis on plugging
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/ControllerEvseSingleImpl.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/Types.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/single/TypesTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] New Navigation improvements
  io.openems.edge.application/EdgeApp.bndrun
  ui/eslint.config.mjs
  ui/src/app/app-routing.module.ts
  ui/src/app/app.component.html
  ui/src/app/app.component.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/live/Controller/Evse/pages/home.ts
  ui/src/app/edge/live/live.component.html
  ui/src/app/edge/live/live.component.ts
  ui/src/app/shared/components/components.module.ts
  ui/src/app/shared/components/edge/edge.ts
  ui/src/app/shared/components/footer/subnavigation/footerNavigation.html
  ui/src/app/shared/components/header/app-header.ts
  ui/src/app/shared/components/header/header.component.html
  ui/src/app/shared/components/header/header.component.ts
  ui/src/app/shared/components/navigation/navigation.component.html
  ui/src/app/shared/components/navigation/navigation.component.ts
  ui/src/app/shared/components/navigation/service/navigation.service.ts
  ui/src/app/shared/components/navigation/view/shared/shared.ts
  ui/src/app/shared/components/navigation/view/view.html
  ui/src/app/shared/components/navigation/view/view.ts
  ui/src/app/shared/directive/oe-dom-change.ts
  ui/src/app/shared/service/globalRouteChangeHandler.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/type/channeladdress.ts
  ui/src/app/shared/type/utility.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI regarding threshold peckshaver
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.chp.costoptimization/src/io/openems/edge/controller/chp/costoptimization/ControllerChpCostOptimizationImpl.java
  ui/src/app/app-routing.module.ts
  ui/src/app/edge/history/Controller/peak-shaving/threshold/chart.component.ts
  ui/src/app/edge/history/Controller/peak-shaving/threshold/chart/chart.ts
  ui/src/app/edge/history/Controller/peak-shaving/threshold/overview/overview.html
  ui/src/app/edge/history/Controller/peak-shaving/threshold/overview/overview.ts
  ui/src/app/edge/history/Controller/peak-shaving/threshold/threshold-peak-shaving.module.ts
  ui/src/app/edge/history/Controller/peak-shaving/threshold/thresholdpeakshavingchartoverview/thresholdpeakshavingchartoverview.component.html
  ui/src/app/edge/history/Controller/peak-shaving/threshold/thresholdpeakshavingchartoverview/thresholdpeakshavingchartoverview.component.ts
  ui/src/app/edge/history/Controller/peak-shaving/threshold/widget.component.html
  ui/src/app/edge/history/Controller/peak-shaving/threshold/widget.component.ts
  ui/src/app/edge/history/Controller/peak-shaving/timeslot/chart/chart.ts
  ui/src/app/edge/history/history.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Manual backport
  io.openems.backend.common/src/io/openems/backend/common/metadata/Metadata.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/SimpleEdgeHandler.java
  io.openems.backend.common/src/io/openems/backend/common/test/DummyMetadata.java
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/MetadataDummy.java
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/MetadataFile.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/Field.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooHandler.java
  io.openems.common/src/io/openems/common/channel/Unit.java
  io.openems.common/src/io/openems/common/timedata/Timeout.java
  io.openems.common/test/io/openems/common/utils/InetAddressUtilsTest.java
  io.openems.edge.battery.bmw/src/io/openems/edge/battery/bmw/BatteryBmw.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/sunspec/battery/package-info.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.evcs.api/test/io/openems/edge/evcs/api/AbstractManagedEvcsTest.java
  io.openems.edge.evcs.goe/bnd.bnd
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/Rrd4jSupplier.java
Due: build-java, restore-cache, rebuild-cache

[Edge] EVCS: improve CalculateEnergySession
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/api/CalculateEnergySession.java
  io.openems.edge.evcs.api/src/io/openems/edge/evcs/test/DummyManagedEvcs.java
  io.openems.edge.evcs.api/test/io/openems/edge/evcs/api/CalculateEnergySessionTest.java
Due: build-java, restore-cache, rebuild-cache

Fix CI build
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Layout update on chart
  ui/src/app/edge/history/Controller/peak-shaving/threshold/chart/chart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Move dezony IQ Charging Station to archive
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.evcs.dezony/.classpath
  io.openems.edge.evcs.dezony/.gitignore
  io.openems.edge.evcs.dezony/.project
  io.openems.edge.evcs.dezony/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.evcs.dezony/bnd.bnd
  io.openems.edge.evcs.dezony/readme.adoc
  io.openems.edge.evcs.dezony/src/io/openems/edge/evcs/dezony/Config.java
  io.openems.edge.evcs.dezony/src/io/openems/edge/evcs/dezony/DezonyApi.java
  io.openems.edge.evcs.dezony/src/io/openems/edge/evcs/dezony/DezonyReadWorker.java
  io.openems.edge.evcs.dezony/src/io/openems/edge/evcs/dezony/EvcsDezony.java
  io.openems.edge.evcs.dezony/src/io/openems/edge/evcs/dezony/EvcsDezonyImpl.java
  io.openems.edge.evcs.dezony/test/.gitignore
  io.openems.edge.evcs.dezony/test/io/openems/edge/evcs/dezony/EvcsDezonyImplTest.java
  io.openems.edge.evcs.dezony/test/io/openems/edge/evcs/dezony/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Replace task in INITIAL_WAIT
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksManager.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Move dezony IQ Charging Station to archive (#3259)
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.evcs.dezony/.classpath
  io.openems.edge.evcs.dezony/.gitignore
  io.openems.edge.evcs.dezony/.project
  io.openems.edge.evcs.dezony/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.evcs.dezony/bnd.bnd
  io.openems.edge.evcs.dezony/readme.adoc
  io.openems.edge.evcs.dezony/src/io/openems/edge/evcs/dezony/Config.java
  io.openems.edge.evcs.dezony/src/io/openems/edge/evcs/dezony/DezonyApi.java
  io.openems.edge.evcs.dezony/src/io/openems/edge/evcs/dezony/DezonyReadWorker.java
  io.openems.edge.evcs.dezony/src/io/openems/edge/evcs/dezony/EvcsDezony.java
  io.openems.edge.evcs.dezony/src/io/openems/edge/evcs/dezony/EvcsDezonyImpl.java
  io.openems.edge.evcs.dezony/test/.gitignore
  io.openems.edge.evcs.dezony/test/io/openems/edge/evcs/dezony/EvcsDezonyImplTest.java
  io.openems.edge.evcs.dezony/test/io/openems/edge/evcs/dezony/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Implement interruptible wait in Modbus tasks
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/WaitTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksManager.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksManagerTest.java
Due: build-java, restore-cache, rebuild-cache

Removed Comments used in dev Stage
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/worker/internal/CycleTasksManagerTest.java
Due: build-java, restore-cache, rebuild-cache

Update docker; again
  tools/docker/backend/Dockerfile
  tools/docker/backend/docker-compose.yml
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/svc-openems-backend/run
  tools/docker/edge/Dockerfile
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/svc-openems-edge/run
  tools/docker/ui/Dockerfile
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/svc-openems-ui/run
Due: none

[Edge] Move BYD Container to archive
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.ess.byd.container/.classpath
  io.openems.edge.ess.byd.container/.gitignore
  io.openems.edge.ess.byd.container/.project
  io.openems.edge.ess.byd.container/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.ess.byd.container/bnd.bnd
  io.openems.edge.ess.byd.container/doc/Standard MODBUS TCP protocol（RTU） register list.doc
  io.openems.edge.ess.byd.container/readme.adoc
  io.openems.edge.ess.byd.container/src/io/openems/edge/ess/byd/container/BatteryStringWorkState.java
  io.openems.edge.ess.byd.container/src/io/openems/edge/ess/byd/container/Config.java
  io.openems.edge.ess.byd.container/src/io/openems/edge/ess/byd/container/EssFeneconBydContainer.java
  io.openems.edge.ess.byd.container/src/io/openems/edge/ess/byd/container/EssFeneconBydContainerImpl.java
  io.openems.edge.ess.byd.container/src/io/openems/edge/ess/byd/container/SetSystemWorkstate.java
  io.openems.edge.ess.byd.container/src/io/openems/edge/ess/byd/container/SystemWorkmode.java
  io.openems.edge.ess.byd.container/src/io/openems/edge/ess/byd/container/SystemWorkstate.java
  io.openems.edge.ess.byd.container/src/io/openems/edge/ess/byd/container/watchdog/Config.java
  io.openems.edge.ess.byd.container/src/io/openems/edge/ess/byd/container/watchdog/EssFeneconBydContainerWatchdogController.java
  io.openems.edge.ess.byd.container/src/io/openems/edge/ess/byd/container/watchdog/EssFeneconBydContainerWatchdogControllerImpl.java
  io.openems.edge.ess.byd.container/test/.gitignore
  io.openems.edge.ess.byd.container/test/io/openems/edge/ess/byd/container/EssFeneconBydContainerImplTest.java
  io.openems.edge.ess.byd.container/test/io/openems/edge/ess/byd/container/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Fix local resolve
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

[Edge] Move BYD Container to archive (#3263)
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.ess.byd.container/.classpath
  io.openems.edge.ess.byd.container/.gitignore
  io.openems.edge.ess.byd.container/.project
  io.openems.edge.ess.byd.container/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.ess.byd.container/bnd.bnd
  io.openems.edge.ess.byd.container/doc/Standard MODBUS TCP protocol（RTU） register list.doc
  io.openems.edge.ess.byd.container/readme.adoc
  io.openems.edge.ess.byd.container/src/io/openems/edge/ess/byd/container/BatteryStringWorkState.java
  io.openems.edge.ess.byd.container/src/io/openems/edge/ess/byd/container/Config.java
  io.openems.edge.ess.byd.container/src/io/openems/edge/ess/byd/container/EssFeneconBydContainer.java
  io.openems.edge.ess.byd.container/src/io/openems/edge/ess/byd/container/EssFeneconBydContainerImpl.java
  io.openems.edge.ess.byd.container/src/io/openems/edge/ess/byd/container/SetSystemWorkstate.java
  io.openems.edge.ess.byd.container/src/io/openems/edge/ess/byd/container/SystemWorkmode.java
  io.openems.edge.ess.byd.container/src/io/openems/edge/ess/byd/container/SystemWorkstate.java
  io.openems.edge.ess.byd.container/src/io/openems/edge/ess/byd/container/watchdog/Config.java
  io.openems.edge.ess.byd.container/src/io/openems/edge/ess/byd/container/watchdog/EssFeneconBydContainerWatchdogController.java
  io.openems.edge.ess.byd.container/src/io/openems/edge/ess/byd/container/watchdog/EssFeneconBydContainerWatchdogControllerImpl.java
  io.openems.edge.ess.byd.container/test/.gitignore
  io.openems.edge.ess.byd.container/test/io/openems/edge/ess/byd/container/EssFeneconBydContainerImplTest.java
  io.openems.edge.ess.byd.container/test/io/openems/edge/ess/byd/container/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[Common] Update docker (#3262)
  tools/docker/backend/Dockerfile
  tools/docker/backend/docker-compose.yml
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/svc-openems-backend/run
  tools/docker/edge/Dockerfile
  tools/docker/edge/root/etc/s6-overlay/s6-rc.d/svc-openems-edge/run
  tools/docker/ui/Dockerfile
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/svc-openems-ui/run
Due: none

Apply prepare-commit.sh
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update to Gradle 9.0.0
  .gradle-wrapper/gradle-wrapper.jar
  .gradle-wrapper/gradle-wrapper.properties
  gradlew
Due: build-java, restore-cache, rebuild-cache

Update build.gradle
  build.gradle
Due: build-java, restore-cache, rebuild-cache

[UI] Fix new navigation chip shown in side-bar
  ui/src/app/app.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] KEBA Improvements
  io.openems.common/src/io/openems/common/types/SemanticVersion.java
  io.openems.common/test/io/openems/common/types/SemanticVersionTest.java
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evcs/keba/modbus/EvcsKebaModbusImpl.java
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evse/chargepoint/keba/common/EvseKebaUtils.java
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evse/chargepoint/keba/common/KebaModbus.java
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evse/chargepoint/keba/modbus/EvseKebaModbusImpl.java
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evse/chargepoint/keba/modbus/KebaModbusUtils.java
  io.openems.edge.evse.chargepoint.keba/test/io/openems/edge/evse/chargepoint/keba/modbus/KebaModbusUtilsTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Add ApparentPower to SymmetricBatteryInverter
  io.openems.edge.batteryinverter.api/src/io/openems/edge/batteryinverter/api/HybridManagedSymmetricBatteryInverter.java
  io.openems.edge.batteryinverter.api/src/io/openems/edge/batteryinverter/api/SymmetricBatteryInverter.java
  io.openems.edge.batteryinverter.api/src/io/openems/edge/batteryinverter/api/translation_de.properties
  io.openems.edge.batteryinverter.api/src/io/openems/edge/batteryinverter/api/translation_en.properties
  io.openems.edge.batteryinverter.api/src/io/openems/edge/batteryinverter/test/DummyManagedSymmetricBatteryInverter.java
  io.openems.edge.batteryinverter.api/test/io/openems/edge/batteryinverter/test/DummyManagedSymmetricBatteryInverterTest.java
  io.openems.edge.batteryinverter.refu88k/src/io/openems/edge/batteryinverter/refu88k/BatteryInverterRefuStore88k.java
  io.openems.edge.batteryinverter.refu88k/src/io/openems/edge/batteryinverter/refu88k/BatteryInverterRefuStore88kImpl.java
  io.openems.edge.batteryinverter.sinexcel/src/io/openems/edge/batteryinverter/sinexcel/BatteryInverterSinexcel.java
  io.openems.edge.batteryinverter.sinexcel/src/io/openems/edge/batteryinverter/sinexcel/BatteryInverterSinexcelImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
  ui/src/app/edge/settings/permission.ts
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/components/shared/converter.ts
  ui/src/app/shared/components/shared/formatter.ts
  ui/src/app/shared/utils/utils.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] New-UI: hide Card for Live Energy-Monitor
  ui/src/app/edge/live/energymonitor/energymonitor.component.html
  ui/src/app/edge/live/energymonitor/energymonitor.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[CI] Update to Gradle 9.0.0 (#3264)
  .gradle-wrapper/gradle-wrapper.jar
  .gradle-wrapper/gradle-wrapper.properties
  build.gradle
  gradlew
Due: build-java, restore-cache, rebuild-cache

[Edge] App.PeakShaving.TimeSlotPeakShaving for Industrial Systems
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
  io.openems.edge.core/src/io/openems/edge/app/api/MqttApi.java
  io.openems.edge.core/src/io/openems/edge/app/common/props/CommonProps.java
  io.openems.edge.core/src/io/openems/edge/app/common/props/PropsUtil.java
  io.openems.edge.core/src/io/openems/edge/app/peakshaving/PeakShaving.java
  io.openems.edge.core/src/io/openems/edge/app/peakshaving/TimeSlotPeakShaving.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppDef.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/aggregatetask/SchedulerByCentralOrderAggregateTaskImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/formly/builder/InputBuilder.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckIndustrial.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/Checkables.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/validator/CheckIndustrialTest.java
  ui/src/app/edge/live/Controller/PeakShaving/Symmetric_TimeSlot/modal/modal.component.html
  ui/src/app/edge/live/Controller/PeakShaving/Symmetric_TimeSlot/modal/modal.component.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] AppCenter: translations for feed in setting
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/IntegratedSystemProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/formly/builder/SelectBuilder.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
Due: build-java, restore-cache, rebuild-cache

[Edge] KEBA: change firmware handling
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evse/chargepoint/keba/common/KebaModbus.java
  io.openems.edge.evse.chargepoint.keba/test/io/openems/edge/evse/chargepoint/keba/modbus/EvseChargePointKebaModbusImplTest.java
  io.openems.edge.evse.chargepoint.keba/test/io/openems/edge/evse/chargepoint/keba/modbus/KebaModbusUtilsTest.java
Due: build-java, restore-cache, rebuild-cache
