Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

[Edge] PV-Inverter.Kostal.Piko: fix yield in [Wh] (#3538)
  io.openems.edge.pvinverter.kostal/src/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPiko.java
  io.openems.edge.pvinverter.kostal/src/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPikoImpl.java
  io.openems.edge.pvinverter.kostal/test/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPikoImplTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] Fix Pull-to-Refresh (#3531)
  ui/src/app/edge/live/live.component.html
  ui/src/app/shared/components/pull-to-refresh/pull-to-refresh.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix list + use native 'NOTE'
  io.openems.edge.io.shelly/readme.adoc
Due: build-java, restore-cache, rebuild-cache

[Edge] IO.Shelly.*: update readme.adoc: add limitation regarding UI pwd (#3204)
  io.openems.edge.io.shelly/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Apply prepare-commit.sh
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.edge.application/BackendEdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Apply prepare-commit.sh
  ui/package-lock.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] TimeOfUseTariff.ENTSO-E: added docs for ancillary costs (#3225)
  io.openems.edge.timeofusetariff.entsoe/readme.adoc
Due: build-java, restore-cache, rebuild-cache

[UI] /overview: release sort order for owner
  ui/src/app/index/overview/overview.component.html
  ui/src/app/index/overview/overview.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Battery.Fenecon.Home: fix register names
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImpl.java
  io.openems.edge.battery.fenecon.home/test/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Backend] add tags to odoo user
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooHandler.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooUtils.java
  ui/package-lock.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Backend] Metadata.Odoo: reuse session token
  io.openems.backend.common/src/io/openems/backend/common/metadata/Metadata.java
  io.openems.backend.common/src/io/openems/backend/common/test/DummyMetadata.java
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/MetadataDummy.java
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/MetadataFile.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooHandler.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooUtils.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/SessionExpiredException.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/OnRequest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] FENECON 100 battery inverter: add type
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/charger/AbstractGoodWeEtCharger.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/ApplyPowerHandler.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/GoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/enums/GoodWeType.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImplTest.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/common/AbstractGoodWeTest.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/common/ApplyPowerHandlerTest.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/common/TestStatic.java
Due: build-java, restore-cache, rebuild-cache

[Backend] update odoo refresh admin token
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooHandler.java
Due: build-java, restore-cache, rebuild-cache

[UI] Update to latest LTS: Node 24, NPM 11
  tools/docker/ui/Dockerfile.backend
  tools/docker/ui/Dockerfile.edge
  tools/drone/openems-android.sh
  tools/drone/openems-build.sh
Due: none

[Edge] JSCalendar: Add Api-Routes to existing Components
  io.openems.common/src/io/openems/common/jscalendar/JSCalendar.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/ControllerEvseSingleImpl.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/Utils.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/single/ControllerEvseSingleImplTest.java
  io.openems.edge.controller.io.heating.room/src/io/openems/edge/controller/io/heating/room/ControllerIoRoomHeatingImpl.java
  io.openems.edge.scheduler.jscalendar/src/io/openems/edge/scheduler/jscalendar/SchedulerJSCalendarImpl.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Implement Grid-Buy-Soft-Limit in `_meta`
  io.openems.edge.common/src/io/openems/edge/common/meta/GridBuySoftLimit.java
  io.openems.edge.common/src/io/openems/edge/common/meta/Meta.java
  io.openems.edge.common/src/io/openems/edge/common/test/DummyMeta.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/Config.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/EnergyScheduler.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/Utils.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImplTest.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/UtilsTest.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/cluster/EshUtilsTest.java
  io.openems.edge.core/src/io/openems/edge/core/meta/Config.java
  io.openems.edge.core/src/io/openems/edge/core/meta/MetaImpl.java
  io.openems.edge.core/test/io/openems/edge/core/meta/GeocodingTest.java
  io.openems.edge.core/test/io/openems/edge/core/meta/MetaImplTest.java
  io.openems.edge.core/test/io/openems/edge/core/meta/MyConfig.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulation/GlobalOptimizationContext.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/test/DummyGlobalOptimizationContext.java
  io.openems.edge.energy.api/test/io/openems/edge/energy/api/simulation/GlobalOptimizationContextTest.java
  io.openems.edge.energy/src/io/openems/edge/energy/EnergySchedulerImpl.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/SimulationResult.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/Simulator.java
  io.openems.edge.energy/test/io/openems/edge/energy/EnergySchedulerImplTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/api/simulation/EnergyFlowTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/AppUtils.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/RunOptimizerApp.java
Due: build-java, restore-cache, rebuild-cache

[UI] fix for missing sum state on live page
  ui/src/app/app.module.ts
  ui/src/app/edge/live/Controller/Evse/shared/evse-chargepoint.ts
  ui/src/app/index/shared/sumState.ts
  ui/src/app/shared/components/edge/edgeconfig.spec.ts
  ui/src/app/shared/components/edge/edgeconfig.ts
  ui/src/app/shared/components/header/header.component.html
  ui/src/app/shared/components/header/header.component.ts
  ui/src/app/shared/components/status/single/status.component.html
  ui/src/app/shared/components/status/single/status.component.spec.ts
  ui/src/app/shared/components/status/single/status.component.ts
  ui/src/app/shared/components/status/system/system-status.component.html
  ui/src/app/shared/components/status/system/system-status.component.ts
  ui/src/app/shared/service/pagination.ts
  ui/src/app/shared/shared.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Fixes for mobile UI
  ui/src/app/app.component.ts
  ui/src/app/edge/live/energymonitor/energymonitor.component.html
  ui/src/app/platform.service.ts
  ui/src/app/shared/service/globalRouteChangeHandler.ts
  ui/src/environments/index.ts
  ui/src/themes/openems/environments/theme.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge/Backend] Various Cleanups
  io.openems.backend.authentication.api/src/io/openems/backend/authentication/api/model/request/RegisterUserRequest.java
  io.openems.backend.authentication.oauth2/src/io/openems/backend/authentication/oauth2/KeycloakApi.java
  io.openems.backend.authentication.oauth2/src/io/openems/backend/authentication/oauth2/OAuthUserAuthenticationServiceImpl.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/OnOpen.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/SubscribedEdgesChannelsWorker.java
  io.openems.backend.b2bwebsocket/test/io/openems/backend/b2bwebsocket/TestClient.java
  io.openems.backend.common/src/io/openems/backend/common/component/AbstractOpenemsBackendComponent.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/AppCenterHandler.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/Edge.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/Metadata.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/MetadataUtils.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/SimpleEdgeHandler.java
  io.openems.backend.common/test/io/openems/backend/common/jsonrpc/UserAlertingSettingsJsonRpcTest.java
  io.openems.backend.edge.application/src/io/openems/backend/edge/application/BackendEdgeServerApp.java
  io.openems.backend.edge.application/src/io/openems/backend/edge/application/CyclicTask.java
  io.openems.backend.edge.application/src/io/openems/backend/edge/application/Utils.java
  io.openems.backend.edge.application/src/io/openems/backend/edge/client/OnError.java
  io.openems.backend.edge.manager/src/io/openems/backend/edge/manager/OnError.java
  io.openems.backend.edge.manager/src/io/openems/backend/edge/manager/OnNotification.java
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/MetadataDummy.java
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/MetadataFile.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/Credentials.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooHandler.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooUtils.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/SessionExpiredException.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/postgres/Credentials.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/postgres/InitializeEdgesWorker.java
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/time/DelayTimeProviderChain.java
  io.openems.common/src/io/openems/common/jsonrpc/base/JsonrpcResponseError.java
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketClient.java
  io.openems.common/src/io/openems/common/websocket/AbstractWebsocketServer.java
  io.openems.common/src/io/openems/common/websocket/ClientReconnectorWorker.java
  io.openems.common/test/io/openems/common/event/EventBuilderTest.java
  io.openems.common/test/io/openems/common/utils/DateUtilsTest.java
  io.openems.common/test/io/openems/common/utils/JsonUtilsTest.java
  io.openems.common/test/io/openems/common/websocket/DummyWebsocketServerTest.java
  io.openems.edge.core/src/io/openems/edge/core/sum/EnergyValuesHandler.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/ApplyPowerHandler.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/common/ApplyPowerHandlerTest.java
  io.openems.shared.influxdb/src/io/openems/shared/influxdb/proxy/QueryProxy.java
Due: build-java, restore-cache, rebuild-cache

[Edge] App.FENECON.Home*: Bugfix for LED
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome10Gen2.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome15.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome20.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome30.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome6.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHomeComponents.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Implement Grid-Buy-Soft-Limit in _meta (2)
  io.openems.common/src/io/openems/common/test/TimeLeapClock.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulation/GlobalOptimizationContext.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/Simulator.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/AppUtils.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/RunOptimizerApp.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
Due: build-java, restore-cache, rebuild-cache

[UI] fix channels subscribe
  ui/src/app/shared/components/edge/edge.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] JSCalendar: implement `nthOfPeriod` for monthly byDay
  io.openems.common/src/io/openems/common/jscalendar/JSCalendar.java
  io.openems.common/test/io/openems/common/jscalendar/JSCalendarTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Predictors: Implement better logging
  io.openems.edge.predictor.api/src/io/openems/edge/predictor/api/common/LogSeverity.java
  io.openems.edge.predictor.api/src/io/openems/edge/predictor/api/common/PredictionError.java
  io.openems.edge.predictor.api/src/io/openems/edge/predictor/api/common/TrainingError.java
  io.openems.edge.predictor.api/src/io/openems/edge/predictor/api/prediction/AbstractPredictor.java
  io.openems.edge.predictor.production.linearmodel/src/io/openems/edge/predictor/production/linearmodel/PredictionPersistenceService.java
  io.openems.edge.predictor.production.linearmodel/src/io/openems/edge/predictor/production/linearmodel/PredictorProductionLinearModelImpl.java
  io.openems.edge.predictor.production.linearmodel/src/io/openems/edge/predictor/production/linearmodel/prediction/PredictionError.java
  io.openems.edge.predictor.production.linearmodel/src/io/openems/edge/predictor/production/linearmodel/training/TrainingError.java
  io.openems.edge.predictor.profileclusteringmodel/src/io/openems/edge/predictor/profileclusteringmodel/PredictionPersistenceService.java
  io.openems.edge.predictor.profileclusteringmodel/src/io/openems/edge/predictor/profileclusteringmodel/PredictorProfileClusteringModelImpl.java
  io.openems.edge.predictor.profileclusteringmodel/src/io/openems/edge/predictor/profileclusteringmodel/prediction/PredictionError.java
  io.openems.edge.predictor.profileclusteringmodel/src/io/openems/edge/predictor/profileclusteringmodel/training/TrainingError.java
Due: build-java, restore-cache, rebuild-cache

[UI] EVSE: Only show Phase-Switch for KEBA P40
  ui/src/app/edge/live/Controller/Evse/pages/home.ts
  ui/src/app/edge/live/Controller/Evse/pages/phase-switching/phase-switching.ts
  ui/src/app/shared/components/edge/edge.ts
  ui/src/app/shared/shared.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] ESHv2 Time-of-Use-Tariff Ctrl DELAY_DISCHARGE fix charge from AC
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/Utils.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/UtilsTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] Fixed style issue with formly serial number fields.
  ui/src/app/shared/components/formly/formly-field-checkbox-image/formly-field-checkbox-with-image.ts
  ui/src/app/shared/components/formly/formly-utils.spec.ts
  ui/src/app/shared/components/formly/formly-utils.ts
  ui/src/app/shared/components/formly/input-serial-number-wrapper.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] ESHv2: fix possible NPE
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulation/GlobalOptimizationContext.java
Due: build-java, restore-cache, rebuild-cache

[Backend] add executor for refresh token
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooHandler.java
Due: build-java, restore-cache, rebuild-cache

Fix build
  ui/src/app/shared/shared.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fixed copy-paste bug - was subWeeks instead of subMonths/subYears
  ui/src/app/shared/components/pickdate/pickdate.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Use Angular property binding for SVG fill attribute (#3542)
  ui/src/app/edge/live/energymonitor/chart/section/abstractsection.component.ts
  ui/src/app/edge/live/energymonitor/chart/section/consumption.component.html
  ui/src/app/edge/live/energymonitor/chart/section/grid.component.html
  ui/src/app/edge/live/energymonitor/chart/section/production.component.html
  ui/src/app/edge/live/energymonitor/chart/section/storage.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Review
  io.openems.edge.meter.hager/.classpath
  io.openems.edge.meter.hager/src/io/openems/edge/meter/hager/ecr380d/HagerEcr380dMeter.java
  io.openems.edge.meter.hager/src/io/openems/edge/meter/hager/ecr380d/HagerEcr380dMeterImpl.java
  io.openems.edge.meter.hager/test/io/openems/edge/meter/hager/ecr380d/HagerEcr380dMeterTest.java
Due: build-java, restore-cache, rebuild-cache

Apply tools/prepare-commit.sh
  io.openems.edge.meter.hager/.gitignore
  io.openems.edge.meter.hager/bnd.bnd
  io.openems.edge.meter.hager/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

Reset non-related files
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/WebsocketClient.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Meter.Hager.ECR380D: implement energy meter (#3336)
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.meter.hager/.classpath
  io.openems.edge.meter.hager/.gitignore
  io.openems.edge.meter.hager/.project
  io.openems.edge.meter.hager/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.meter.hager/.settings/org.eclipse.jdt.core.prefs
  io.openems.edge.meter.hager/bnd.bnd
  io.openems.edge.meter.hager/src/io/openems/edge/meter/hager/ecr380d/Config.java
  io.openems.edge.meter.hager/src/io/openems/edge/meter/hager/ecr380d/HagerEcr380dMeter.java
  io.openems.edge.meter.hager/src/io/openems/edge/meter/hager/ecr380d/HagerEcr380dMeterImpl.java
  io.openems.edge.meter.hager/src/io/openems/edge/meter/hager/ecr380d/package-info.java
  io.openems.edge.meter.hager/test/.gitignore
  io.openems.edge.meter.hager/test/io/openems/edge/meter/hager/ecr380d/HagerEcr380dMeterTest.java
  io.openems.edge.meter.hager/test/io/openems/edge/meter/hager/ecr380d/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Update deploy.adoc: corrected ul formatting
  doc/modules/ROOT/pages/ui/deploy.adoc
Due: none
