Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

Move ess test to new ess package
  io.openems.edge.ess.saxpower/test/io/openems/edge/ess/saxpower/ess/MyConfig.java
  io.openems.edge.ess.saxpower/test/io/openems/edge/ess/saxpower/ess/SaxPowerImplTest.java
Due: build-java, restore-cache, rebuild-cache

Remove ip from Grid Config
  io.openems.edge.ess.saxpower/src/io/openems/edge/ess/saxpower/gridmeter/Config.java
Due: build-java, restore-cache, rebuild-cache

[Common] Github Actions: convert action versions to pinned hashes (#3852)
  .github/workflows/build.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
Due: none

Remove all errors from SaxPowerImpl
  io.openems.edge.ess.saxpower/src/io/openems/edge/ess/saxpower/ess/SaxPowerImpl.java
Due: build-java, restore-cache, rebuild-cache

Remove all warnings from SaxPowerEssGridMeter
  io.openems.edge.ess.saxpower/src/io/openems/edge/ess/saxpower/gridmeter/SaxPowerEssGridMeter.java
Due: build-java, restore-cache, rebuild-cache

Fix all warnings in SaxPower
  io.openems.edge.ess.saxpower/src/io/openems/edge/ess/saxpower/ess/SaxPower.java
Due: build-java, restore-cache, rebuild-cache

Add readme
  io.openems.edge.ess.saxpower/test/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Add remaining changes
  io.openems.edge.ess.saxpower/src/io/openems/edge/ess/saxpower/SaxPower.java
  io.openems.edge.ess.saxpower/src/io/openems/edge/ess/saxpower/ess/Config.java
  io.openems.edge.ess.saxpower/src/io/openems/edge/ess/saxpower/ess/SaxPowerImpl.java
  io.openems.edge.ess.saxpower/src/io/openems/edge/ess/saxpower/gridmeter/SaxPowerGridMeterImpl.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Fix: logger is not active
  io.openems.common/src/io/openems/common/utils/DictionaryUtils.java
  io.openems.common/test/io/openems/common/utils/DictionaryUtilsTest.java
  io.openems.core.logger/src/io/openems/core/logger/LoggerConfigurator.java
  io.openems.core.logger/test/io/openems/core/logger/LoggerConfiguratorTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] KACO Battery Inverter: remove CURRENT_STATE_FAULT channel
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/BatteryInverterKacoBlueplanetGridsave.java
  io.openems.edge.batteryinverter.kaco.blueplanetgridsave/src/io/openems/edge/batteryinverter/kaco/blueplanetgridsave/statemachine/GoStoppedHandler.java
Due: build-java, restore-cache, rebuild-cache

[UI] Angular 22 migration fixes
  ui/src/app/edge/live/Controller/Channelthreshold/history/flat/flat.html
  ui/src/app/edge/live/Controller/Channelthreshold/history/flat/flat.ts
  ui/src/app/edge/live/Controller/Ess/FixActivePower/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Heat/new-navigation/heat-home.ts
  ui/src/app/edge/live/Controller/Heat/settings/settings.ts
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/flat/flat.ts
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Io/HeatingElement/new-navigation/new-navigation.ts
  ui/src/app/edge/settings/app/index.component.html
  ui/src/app/edge/settings/app/index.component.ts
  ui/src/app/edge/settings/app/install.component.html
  ui/src/app/edge/settings/app/install.component.ts
  ui/src/app/edge/settings/app/keypopup/modal.component.ts
  ui/src/app/edge/settings/app/single.component.html
  ui/src/app/edge/settings/app/single.component.ts
  ui/src/app/edge/settings/app/update.component.html
  ui/src/app/edge/settings/app/update.component.ts
  ui/src/app/shared/components/chart/timeline-chart/timeline-chart.html
  ui/src/app/shared/components/chart/timeline-chart/timeline-chart.ts
  ui/src/app/shared/components/navigation/action-sheet-modal.html
  ui/src/app/shared/components/navigation/action-sheet-modal.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Formly and StringUtils improvements
  ui/package-lock.json
  ui/src/app/shared/components/formly/formly-field-range.ts
  ui/src/app/shared/components/formly/formly-select/formly-select.ts
  ui/src/app/shared/components/formly/formly-utils.ts
  ui/src/app/shared/utils/string/string.utils.spec.ts
  ui/src/app/shared/utils/string/string.utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Hardy Barth: fix long request
  io.openems.common/src/io/openems/common/utils/LatestWinsFutureExecutor.java
  io.openems.common/test/io/openems/common/utils/LatestWinsFutureExecutorTest.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/ControllerEvseSingleImpl.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/single/ControllerEvseSingleImplTest.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evcs/hardybarth/EvcsHardyBarthImpl.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/common/AbstractHardyBarthHandler.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/common/HardyBarth.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/common/translation_de.properties
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/common/translation_en.properties
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evcs/hardybarth/EvcsHardyBarthImplTest.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/EvseChargePointHardyImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] FENECON Home Masterbox: fix App reference for modbus0
  io.openems.edge.core/src/io/openems/edge/app/hardware/MasterBox2v0.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome10Gen2.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome15.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome20.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome30.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome6.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHomeComponents.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial100.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial50Gen3.java
Due: build-java, restore-cache, rebuild-cache

Remove unnecessary logic
  io.openems.edge.ess.saxpower/src/io/openems/edge/ess/saxpower/ess/SaxPowerImpl.java
Due: build-java, restore-cache, rebuild-cache

[UI] Generic Group component
  ui/package-lock.json
  ui/src/app/edge/live/Controller/Io/Braiins/pages/group/group.html
  ui/src/app/edge/live/Controller/Io/Braiins/pages/group/group.ts
  ui/src/app/edge/live/Controller/Io/Braiins/shared/shared.ts
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/pages/group/group.html
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/pages/group/group.ts
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/shared/shared.ts
  ui/src/app/edge/live/Controller/Io/FixDigitalOutput/pages/group/group.ts
  ui/src/app/edge/live/Controller/Io/FixDigitalOutput/shared/shared.ts
  ui/src/app/edge/live/Controller/Io/HeatingRoom/pages/group/group.html
  ui/src/app/edge/live/Controller/Io/HeatingRoom/pages/group/group.ts
  ui/src/app/edge/live/Controller/Io/HeatingRoom/shared/shared.ts
  ui/src/app/shared/components/navigation/groups/group.html
  ui/src/app/shared/components/navigation/groups/group.spec.ts
  ui/src/app/shared/components/navigation/groups/group.ts
  ui/src/app/shared/components/navigation/navigation-routing.module.ts
  ui/src/app/shared/components/navigation/shared.ts
  ui/src/app/shared/type/widgets.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] fix x axis align
  ui/src/app/shared/components/chart/chart.constants.ts
  ui/src/app/shared/components/chart/schedule-chart/schedule-chart.ts
  ui/src/app/shared/components/chart/timeline-chart/timeline-chart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Clever PV and Enerix Apps: URL validation
  io.openems.edge.controller.cleverpv/src/io/openems/edge/controller/cleverpv/Config.java
  io.openems.edge.controller.cleverpv/src/io/openems/edge/controller/cleverpv/ControllerCleverPvImpl.java
  io.openems.edge.controller.cleverpv/test/io/openems/edge/controller/cleverpv/ControllerCleverPvImplTest.java
  io.openems.edge.core/src/io/openems/edge/app/api/AppCleverPv.java
  io.openems.edge.core/src/io/openems/edge/app/api/AppEnerixControl.java
  io.openems.edge.core/src/io/openems/edge/app/api/CleverPvProps.java
  io.openems.edge.core/src/io/openems/edge/app/api/CleverPvUrl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/app/api/AppCleverPvTest.java
  io.openems.edge.core/test/io/openems/edge/app/api/AppEnerixControlTest.java
  io.openems.edge.core/test/io/openems/edge/app/api/CleverPvUrlTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
Due: build-java, restore-cache, rebuild-cache

[Common] CI: Update Jacoco report
  .github/workflows/build.yml
  build.gradle.kts
  gradle.lockfile
  settings.gradle.kts
Due: build-java, restore-cache, rebuild-cache

[Edge] Commerical 100: add missing components for 2 Batteries
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial100.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercialComponents.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
Due: build-java, restore-cache, rebuild-cache

[UI] Remove outdated isVersionAtLeast checks before 2025.2
  tools/common.sh
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/history.component.ts
  ui/src/app/edge/live/Controller/Io/HeatingElement/flat/flat.ts
  ui/src/app/edge/live/Io/Api_DigitalInput/modal/modal.component.ts
  ui/src/app/edge/live/common/consumption/history/phase-accurate/chart/channels.spec.ts
  ui/src/app/edge/live/common/consumption/history/phase-accurate/chart/evcs.spec.ts
  ui/src/app/edge/live/common/consumption/history/phase-accurate/chart/evcs.ts
  ui/src/app/edge/live/common/storage/admin-modal/admin-modal.component.html
  ui/src/app/edge/live/common/storage/admin-modal/admin-modal.component.ts
  ui/src/app/edge/live/common/storage/installer-owner-guest-modal/installer-owner-guest-modal.component.html
  ui/src/app/edge/live/common/storage/installer-owner-guest-modal/installer-owner-guest-modal.component.ts
  ui/src/app/edge/live/common/storage/settings/settings.ts
  ui/src/app/edge/live/energymonitor/chart/section/storage.component.ts
  ui/src/app/edge/live/energymonitor/energymonitor.component.ts
  ui/src/app/edge/live/live.component.html
  ui/src/app/edge/live/live.component.ts
  ui/src/app/edge/settings/app/index.component.html
  ui/src/app/edge/settings/app/permissions.ts
  ui/src/app/edge/settings/app/single.component.ts
  ui/src/app/edge/settings/channels/channels.component.ts
  ui/src/app/edge/settings/component/install/index.component.ts
  ui/src/app/edge/settings/jsonrpctest/jsonrpctest.permission.ts
  ui/src/app/edge/settings/profile/profile.component.html
  ui/src/app/edge/settings/settings.module.ts
  ui/src/app/shared/components/edge/config-components/evcs/evcsComponent.ts
  ui/src/app/shared/components/edge/currentdata.ts
  ui/src/app/shared/components/edge/edge.spec.ts
  ui/src/app/shared/components/edge/edge.ts
  ui/src/app/shared/components/status/single/status.component.spec.ts
  ui/src/app/shared/components/status/single/status.component.ts
  ui/src/app/shared/interface/websocketInterface.ts
  ui/src/app/shared/service/test/dummywebsocket.ts
  ui/src/app/shared/shared.ts
  ui/src/app/shared/type/widget.ts
  ui/src/app/shared/type/widgets.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Home MasterBox: fix relay validation and internal meter
  io.openems.edge.core/src/io/openems/edge/app/common/props/ComponentProps.java
  io.openems.edge.core/src/io/openems/edge/app/common/props/MeterIntegrationUtil.java
  io.openems.edge.core/src/io/openems/edge/app/common/props/PropsUtil.java
  io.openems.edge.core/src/io/openems/edge/app/common/props/RelayProps.java
  io.openems.edge.core/src/io/openems/edge/app/hardware/MasterBox2v0.java
  io.openems.edge.core/src/io/openems/edge/app/heat/CombinedHeatAndPower.java
  io.openems.edge.core/src/io/openems/edge/app/heat/HeatPump.java
  io.openems.edge.core/src/io/openems/edge/app/heat/HeatingElement.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome10Gen2.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome15.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome20.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome30.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome6.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHomeComponents.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial50Gen3.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial92.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial92ClusterSlave.java
  io.openems.edge.core/src/io/openems/edge/app/loadcontrol/ManualRelayControl.java
  io.openems.edge.core/src/io/openems/edge/app/loadcontrol/ThresholdControl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/aggregatetask/ComponentDef.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/relaycount/CheckRelayCountFilters.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/relaycount/DeviceHardwareFilter.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/relaycount/GpioFilter.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/relaycount/HomeFilter.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/relaycount/ShellyFilter.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/relaycount/TechbaseCm4sGen3Filter.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/validator/relaycount/DeviceHardwareFilterTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/validator/relaycount/TechbaseCm4sGen3FilterTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] FENECON Commercial: Implement Grid Codex Priority with register 45254
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/GoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/enums/WaveformDetection.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImplTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] NUI: fix wrong consumption channel
  ui/src/app/edge/live/common/consumption/new-navigation/new-navigation.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] CI: Improve OEM iOS release pipeline
  tools/common.sh
  tools/deploy/ios/create_release.rb
  tools/deploy/ios/shared.rb
  tools/deploy/ios/update_cf_bundle_version.rb
  tools/deploy/ios/update_marketing_version.rb
Due: none

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.edge.application/BackendEdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Join github-actions in one dependabot group
  .github/dependabot.yml
Due: none

splitted gen24 in separate components, added test
  io.openems.edge.fronius/bnd.bnd
  io.openems.edge.fronius/readme.adoc
  io.openems.edge.fronius/src/io/openems/edge/fronius/enums/BatteryPreset.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/enums/BatteryState.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/enums/OperatingModeForActivePowerLimitation.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/enums/OperationHealth.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/enums/PowerSupplyStatus.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/enums/SystemState.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/battery/Config.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/battery/FroniusGen24Battery.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/battery/FroniusGen24BatteryImpl.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/batteryinverter/ApplyPowerHandler.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/batteryinverter/BatteryInverterFroniusGen24.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/batteryinverter/BatteryInverterFroniusGen24Impl.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/batteryinverter/Config.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/batteryinverter/ControlMode.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/batteryinverter/S160SunSpecModel.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/dccharger/Config.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/dccharger/FroniusGen24DcCharger.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/gen24/dccharger/FroniusGen24DcChargerImpl.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/meter/Config.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/meter/MeterFroniusImpl.java
  io.openems.edge.fronius/src/io/openems/edge/fronius/pvinverter/PvInverterFroniusImpl.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/gen24/battery/FroniusGen24BatteryImplTest.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/gen24/battery/MyConfig.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/gen24/batteryinverter/BatteryInverterFroniusGen24ImplTest.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/gen24/batteryinverter/MyConfig.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/gen24/dccharger/FroniusGen24DcChargerImplTest.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/gen24/dccharger/MyConfig.java
  io.openems.edge.fronius/test/io/openems/edge/fronius/meter/MeterFroniusImplTest.java
Due: build-java, restore-cache, rebuild-cache

Push version to 2026.8.0
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2026.9.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

select explicit influxdb version
  doc/modules/ROOT/pages/backend/deploy/docker.adoc
  tools/docker/backend/README.md
  tools/docker/backend/docker-compose.yml
Due: none

also pin minor version
  doc/modules/ROOT/pages/backend/deploy/docker.adoc
  tools/docker/backend/docker-compose.yml
Due: none

Switch to single phase system
  io.openems.edge.ess.saxpower/src/io/openems/edge/ess/saxpower/ess/Config.java
  io.openems.edge.ess.saxpower/src/io/openems/edge/ess/saxpower/ess/SaxPower.java
  io.openems.edge.ess.saxpower/src/io/openems/edge/ess/saxpower/ess/SaxPowerImpl.java
Due: build-java, restore-cache, rebuild-cache

fix(evse.keba): apply SCALE_FACTOR_1 to Keba energy limit register
  io.openems.edge.evse.chargepoint.keba/src/io/openems/edge/evse/chargepoint/keba/modbus/EvseKebaModbusImpl.java
Due: build-java, restore-cache, rebuild-cache

[UI] Docs: Update docker.adoc list formating (#3846)
  doc/modules/ROOT/pages/ui/deploy/docker.adoc
Due: none

[Backend] Docker: select explicit influxdb version (BREAKING CHANGE) (#3862)
  doc/modules/ROOT/pages/backend/deploy/docker.adoc
  tools/docker/backend/README.md
  tools/docker/backend/docker-compose.yml
Due: none

Easy updates
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update eslint to v10 with flat config
  ui/eslint.config.mjs
  ui/package.json
  ui/src/app/shared/service/jsonrpc/jsonrpc-request-state-handler.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Final changes. Not updating typescript and @ngx-translate/core
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
