Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

WhitespaceAround: 'if' is not followed by whitespace.
  io.openems.edge.evcs.openwb/src/io/openems/edge/evcs/openwb/ReadWorker.java
Due: build-java, restore-cache, rebuild-cache

Comment has incorrect indentation level 0
  io.openems.edge.evcs.openwb/test/io/openems/edge/evcs/openwb/EvcsOpenWbImplTest.java
Due: build-java, restore-cache, rebuild-cache

Refactor firmware version handling to use SemanticVersion
  io.openems.edge.evcs.alpitronic.hypercharger/src/io/openems/edge/evcs/hypercharger/AlpitronicVersionUtils.java
  io.openems.edge.evcs.alpitronic.hypercharger/src/io/openems/edge/evcs/hypercharger/EvcsAlpitronicHyperchargerImpl.java
  io.openems.edge.evcs.alpitronic.hypercharger/src/io/openems/edge/evcs/hypercharger/FirmwareVersion.java
  io.openems.edge.evcs.alpitronic.hypercharger/src/io/openems/edge/evcs/hypercharger/SelectedConnector.java
  io.openems.edge.evcs.alpitronic.hypercharger/test/io/openems/edge/evcs/hypercharger/VersionCompatibilityTest.java
Due: build-java, restore-cache, rebuild-cache

Add Alpitronic Hypercharger firmware compatibility
  io.openems.edge.evcs.alpitronic.hypercharger/.project
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evcs/alpitronic/AlpitronicVersionUtils.java
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evcs/alpitronic/Config.java
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evcs/alpitronic/EvcsAlpitronic.java
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evcs/alpitronic/EvcsAlpitronicImpl.java
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evse/chargepoint/alpitronic/enums/SelectedConnector.java
  io.openems.edge.evse.chargepoint.alpitronic/test/io/openems/edge/evcs/alpitronic/ModbusRegisterMappingTest.java
  io.openems.edge.evse.chargepoint.alpitronic/test/io/openems/edge/evcs/alpitronic/MyConfig.java
  io.openems.edge.evse.chargepoint.alpitronic/test/io/openems/edge/evcs/alpitronic/VersionCompatibilityTest.java
Due: build-java, restore-cache, rebuild-cache

Add firmware version compatibility tests for Alpitronic
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evcs/alpitronic/EvcsAlpitronic.java
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evcs/alpitronic/EvcsAlpitronicImpl.java
  io.openems.edge.evse.chargepoint.alpitronic/test/io/openems/edge/evcs/alpitronic/ModbusRegisterMappingTest.java
  io.openems.edge.evse.chargepoint.alpitronic/test/io/openems/edge/evcs/alpitronic/VersionCompatibilityTest.java
Due: build-java, restore-cache, rebuild-cache

Refactor to use static imports for OpenemsType and ConfigUtils
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evcs/alpitronic/EvcsAlpitronic.java
  io.openems.edge.evse.chargepoint.alpitronic/test/io/openems/edge/evcs/alpitronic/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Add Checkstyle to Alpitronic EVSE project and clean up code
  io.openems.edge.evcs.alpitronic.hypercharger/.project
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evcs/alpitronic/EvcsAlpitronicImpl.java
  io.openems.edge.evse.chargepoint.alpitronic/test/io/openems/edge/evcs/alpitronic/VersionCompatibilityTest.java
Due: build-java, restore-cache, rebuild-cache

Add comprehensive tests for SelectedConnector enum
  io.openems.edge.evse.chargepoint.alpitronic/test/io/openems/edge/evcs/alpitronic/EvcsAlpitronicHyperchargerImplTest.java
  io.openems.edge.evse.chargepoint.alpitronic/test/io/openems/edge/evcs/alpitronic/ModbusRegisterMappingTest.java
  io.openems.edge.evse.chargepoint.alpitronic/test/io/openems/edge/evcs/alpitronic/MyConfig.java
  io.openems.edge.evse.chargepoint.alpitronic/test/io/openems/edge/evcs/alpitronic/SelectedConnectorTest.java
Due: build-java, restore-cache, rebuild-cache

Add serial, ChargepointId, VID, and idTag channels
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evcs/alpitronic/EvcsAlpitronic.java
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evcs/alpitronic/EvcsAlpitronicImpl.java
Due: build-java, restore-cache, rebuild-cache

Refactor Alpitronic register mapping and add v2.5 tests
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evcs/alpitronic/EvcsAlpitronicImpl.java
  io.openems.edge.evse.chargepoint.alpitronic/test/io/openems/edge/evcs/alpitronic/ModbusRegisterMappingTest.java
Due: build-java, restore-cache, rebuild-cache

Refactor unit imports in EvcsAlpitronic interface
  io.openems.edge.evse.chargepoint.alpitronic/src/io/openems/edge/evcs/alpitronic/EvcsAlpitronic.java
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

CHP: added preparation function
  io.openems.edge.chp.ecpower/src/io/openems/edge/chp/ecpower/control/XrgiControl.java
  io.openems.edge.chp.ecpower/src/io/openems/edge/chp/ecpower/control/XrgiControlImpl.java
  io.openems.edge.chp.ecpower/src/io/openems/edge/chp/ecpower/manager/XrgiManagerImpl.java
  io.openems.edge.chp.ecpower/src/io/openems/edge/chp/ecpower/ro/XrgiRo.java
  io.openems.edge.chp.ecpower/src/io/openems/edge/chp/ecpower/ro/XrgiRoImpl.java
  io.openems.edge.controller.chp.costoptimization/src/io/openems/edge/controller/chp/costoptimization/Config.java
  io.openems.edge.controller.chp.costoptimization/src/io/openems/edge/controller/chp/costoptimization/ControllerChpCostOptimization.java
  io.openems.edge.controller.chp.costoptimization/src/io/openems/edge/controller/chp/costoptimization/ControllerChpCostOptimizationImpl.java
  io.openems.edge.controller.chp.costoptimization/src/io/openems/edge/controller/chp/costoptimization/State.java
  io.openems.edge.controller.chp.costoptimization/test/io/openems/edge/controller/chp/costoptimization/MyConfig.java
  io.openems.edge.generator.api/src/io/openems/edge/generator/api/ManagedSymmetricGenerator.java
  io.openems.edge.sma/src/io/openems/edge/sma/pvinverter/PvInverterSmaSunnyTripowerImpl.java
  ui/src/app/edge/live/Controller/ChpCostOptimization/ChpCostOptimization.ts
  ui/src/app/edge/live/Controller/ChpCostOptimization/modal/modal.component.html
  ui/src/app/edge/live/Controller/ChpCostOptimization/modal/modal.component.ts
  ui/src/assets/i18n/de.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

change console output format from plan to colored in gradle build of ci
  .github/workflows/build.yml
Due: none

Fix: prevent energy flow arrow backgrounds from disappearing due to duplicate SVG gradient IDs.
  ui/src/app/edge/live/energymonitor/chart/section/abstractsection.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Energy Monitor: prevent energy flow arrow backgrounds from disappearing due to duplicate SVG gradient IDs (#3365)
  ui/src/app/edge/live/energymonitor/chart/section/abstractsection.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Refactor Kostal PIKO inverter integration
  io.openems.edge.pvinverter.kostal.piko/src/io/openems/edge/pvinverter/kostal/piko/Config.java
  io.openems.edge.pvinverter.kostal.piko/src/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPikoImpl.java
  io.openems.edge.pvinverter.kostal.piko/test/io/openems/edge/pvinverter/kostal/piko/MyConfig.java
  io.openems.edge.pvinverter.kostal.piko/test/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPikoImplTest.java
Due: build-java, restore-cache, rebuild-cache

split Dockerfiles
  .github/workflows/docker.yml
  tools/docker/backend/docker-compose.yml
  tools/docker/edge/docker-compose.yml
  tools/docker/ui/Dockerfile.backend
  tools/docker/ui/Dockerfile.edge
  tools/docker/ui/README.md
  tools/docker/ui/assets/env.template.js
  tools/docker/ui/index.patch
  tools/docker/ui/root-backend/defaults/sites-templates/443-openems.conf.tpl
  tools/docker/ui/root-backend/defaults/sites-templates/80-openems.conf.tpl
  tools/docker/ui/root-edge/defaults/sites-templates/443-openems.conf.tpl
  tools/docker/ui/root-edge/defaults/sites-templates/80-openems.conf.tpl
  tools/docker/ui/root/defaults/nginx/site-confs/openems.conf
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-nginx/run
  ui/src/app/shared/service/websocket.ts
  ui/src/environments/index.ts
  ui/src/index.html
  ui/src/themes/openems/environments/backend-dev.ts
  ui/src/themes/openems/environments/backend-docker.ts
  ui/src/themes/openems/environments/backend-prod.ts
  ui/src/themes/openems/environments/edge-dev.ts
  ui/src/themes/openems/environments/edge-docker.ts
  ui/src/themes/openems/environments/edge-prod.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Add back version args
  tools/docker/edge/docker-compose.yml
  tools/docker/ui/Dockerfile.backend
  tools/docker/ui/Dockerfile.edge
  ui/src/app/shared/service/websocket.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

seperate brandings
  tools/docker/ui/root-backend/etc/s6-overlay/s6-rc.d/init-adduser/branding
  tools/docker/ui/root-edge/init-adduser/branding
Due: none

move template to nginx folder
  tools/docker/ui/Dockerfile.backend
  tools/docker/ui/Dockerfile.edge
  tools/docker/ui/root-backend/defaults/nginx/site-confs/443-openems.conf.tpl
  tools/docker/ui/root-backend/defaults/nginx/site-confs/80-openems.conf.tpl
  tools/docker/ui/root-edge/defaults/nginx/site-confs/443-openems.conf.tpl
  tools/docker/ui/root-edge/defaults/nginx/site-confs/80-openems.conf.tpl
  tools/docker/ui/root-edge/etc/s6-overlay/s6-rc.d/init-adduser/branding
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-nginx/run
Due: none

revert debugMode
  ui/src/themes/openems/environments/edge-docker.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

quickfix
  tools/docker/backend/docker-compose.yml
Due: none

Apply prepare-commit.sh
  io.openems.edge.pvinverter.kostal.piko/.gitignore
  io.openems.edge.pvinverter.kostal.piko/.project
  io.openems.edge.pvinverter.kostal.piko/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.pvinverter.kostal.piko/bnd.bnd
  io.openems.edge.pvinverter.kostal.piko/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

Merge Kostal bundles
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.pvinverter.kostal/bnd.bnd
  io.openems.edge.pvinverter.kostal/readme.adoc
  io.openems.edge.pvinverter.kostal/src/io/openems/edge/pvinverter/kostal/piko/Config.java
  io.openems.edge.pvinverter.kostal/src/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPiko.java
  io.openems.edge.pvinverter.kostal/src/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPikoImpl.java
  io.openems.edge.pvinverter.kostal/test/io/openems/edge/pvinverter/kostal/piko/MyConfig.java
  io.openems.edge.pvinverter.kostal/test/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPikoImplTest.java
Due: build-java, restore-cache, rebuild-cache

Apply prepare-commit.sh
  io.openems.edge.pvinverter.kostal.piko/.classpath
  io.openems.edge.pvinverter.kostal.piko/.gitignore
  io.openems.edge.pvinverter.kostal.piko/.project
  io.openems.edge.pvinverter.kostal.piko/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.pvinverter.kostal.piko/bnd.bnd
  io.openems.edge.pvinverter.kostal.piko/readme.adoc
  io.openems.edge.pvinverter.kostal.piko/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

fix https
  tools/docker/ui/Dockerfile.backend
  tools/docker/ui/Dockerfile.edge
  tools/docker/ui/root-backend/defaults/nginx/site-confs/443-openems.conf.tpl
  tools/docker/ui/root-edge/defaults/nginx/site-confs/443-openems.conf.tpl
  tools/docker/ui/root/defaults/nginx/snippets/ssl-cert.conf
  tools/docker/ui/root/defaults/nginx/snippets/ssl.conf
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-keygen/run
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-nginx/run
  ui/src/environments/index.ts
  ui/src/themes/openems/environments/backend-dev.ts
  ui/src/themes/openems/environments/backend-docker.ts
  ui/src/themes/openems/environments/backend-prod.ts
  ui/src/themes/openems/environments/edge-dev.ts
  ui/src/themes/openems/environments/edge-docker.ts
  ui/src/themes/openems/environments/edge-prod.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Remove unused EventHandler implementation
  io.openems.edge.pvinverter.kostal/src/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPikoImpl.java
Due: build-java, restore-cache, rebuild-cache

replace eval with envsubst
  tools/docker/ui/Dockerfile.backend
  tools/docker/ui/Dockerfile.edge
  tools/docker/ui/root-backend/defaults/nginx/site-confs/443-openems.conf.tpl
  tools/docker/ui/root-backend/defaults/nginx/site-confs/80-openems.conf.tpl
  tools/docker/ui/root-edge/defaults/nginx/site-confs/443-openems.conf.tpl
  tools/docker/ui/root-edge/defaults/nginx/site-confs/80-openems.conf.tpl
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-nginx/run
Due: none

[Edge] PV-Inverter.Kostal.Piko: implement KOSTAL PIKO PV-Inverter via HTTP/HTML parsing (#3297)
  io.openems.edge.pvinverter.kostal/bnd.bnd
  io.openems.edge.pvinverter.kostal/readme.adoc
  io.openems.edge.pvinverter.kostal/src/io/openems/edge/pvinverter/kostal/piko/Config.java
  io.openems.edge.pvinverter.kostal/src/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPiko.java
  io.openems.edge.pvinverter.kostal/src/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPikoImpl.java
  io.openems.edge.pvinverter.kostal/test/io/openems/edge/pvinverter/kostal/piko/MyConfig.java
  io.openems.edge.pvinverter.kostal/test/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPikoImplTest.java
Due: build-java, restore-cache, rebuild-cache

Victron: improvements asymmetricMode, XRGI: added preparation Channels. Updates (incomplete)
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.batteryinverter.deye/test/io/openems/edge/deye/meter/DeyeGridMeterImplTest.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/batteryinverter/victron/ess/symmetric/Config.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/batteryinverter/victron/ess/symmetric/VictronEss.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/batteryinverter/victron/ess/symmetric/VictronEssImpl.java
  io.openems.edge.batteryinverter.victron/src/io/openems/edge/victron/enums/SymmetricAsymmetricMode.java
  io.openems.edge.chp.ecpower/src/io/openems/edge/chp/ecpower/control/XrgiControl.java
  io.openems.edge.chp.ecpower/src/io/openems/edge/chp/ecpower/control/XrgiControlImpl.java
  io.openems.edge.chp.ecpower/src/io/openems/edge/chp/ecpower/ro/XrgiRoImpl.java
  io.openems.edge.controller.chp.costoptimization/src/io/openems/edge/controller/chp/costoptimization/ControllerChpCostOptimizationImpl.java
  io.openems.edge.evcs.alpitronic.hypercharger/.project
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3em/IoShellyPro3EmImpl.java
  io.openems.edge.meter.eastron/src/io/openems/edge/meter/eastron/sdm630/Config.java
  io.openems.edge.meter.eastron/src/io/openems/edge/meter/eastron/sdm630/MeterEastronSdm630Impl.java
  io.openems.edge.meter.eastron/test/io/openems/edge/meter/eastron/sdm630/MeterEastronSdm630ImplTest.java
  io.openems.edge.meter.eastron/test/io/openems/edge/meter/eastron/sdm630/MyConfig.java
  io.openems.edge.solaredge.ess/test/io/openems/edge/solaredge/ess/SolarEdgeEssImplTest.java
  io.openems.edge.solaredge/test/io/openems/edge/solaredge/hybrid/ess/SolarEdgeHybridEssImplTest.java
  io.openems.edge.thermometer.esera.onewire/test/io/openems/edge/thermometer/esera/onewire/MyModbusDeviceTest.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Utils.java
  ui/package-lock.json
  ui/src/app/changelog/view/component/changelog.constants.ts
  ui/src/app/edge/live/common/storage/storage.component.html
  ui/src/app/edge/live/common/storage/storage.component.ts
  ui/src/app/edge/live/livedataservice.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Add i18n linting to build workflow
  .github/workflows/build.yml
Due: none

add unit test
  ui/src/environments/index.spec.ts
  ui/src/environments/index.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

linting
  ui/src/environments/index.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Run i18n lint before Angular build in CI
  .github/workflows/build.yml
Due: none

[Common] Docker: improve UI (#3366)
  .github/workflows/docker.yml
  tools/docker/backend/docker-compose.yml
  tools/docker/edge/docker-compose.yml
  tools/docker/ui/Dockerfile.backend
  tools/docker/ui/Dockerfile.edge
  tools/docker/ui/README.md
  tools/docker/ui/assets/env.template.js
  tools/docker/ui/index.patch
  tools/docker/ui/root-backend/defaults/nginx/site-confs/443-openems.conf.tpl
  tools/docker/ui/root-backend/defaults/nginx/site-confs/80-openems.conf.tpl
  tools/docker/ui/root-backend/etc/s6-overlay/s6-rc.d/init-adduser/branding
  tools/docker/ui/root-edge/defaults/nginx/site-confs/443-openems.conf.tpl
  tools/docker/ui/root-edge/defaults/nginx/site-confs/80-openems.conf.tpl
  tools/docker/ui/root-edge/etc/s6-overlay/s6-rc.d/init-adduser/branding
  tools/docker/ui/root/defaults/nginx/site-confs/openems.conf
  tools/docker/ui/root/defaults/nginx/snippets/ssl-cert.conf
  tools/docker/ui/root/defaults/nginx/snippets/ssl.conf
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-keygen/run
  tools/docker/ui/root/etc/s6-overlay/s6-rc.d/init-nginx/run
  ui/src/environments/index.spec.ts
  ui/src/environments/index.ts
  ui/src/index.html
  ui/src/themes/openems/environments/backend-dev.ts
  ui/src/themes/openems/environments/backend-docker.ts
  ui/src/themes/openems/environments/backend-prod.ts
  ui/src/themes/openems/environments/edge-dev.ts
  ui/src/themes/openems/environments/edge-docker.ts
  ui/src/themes/openems/environments/edge-prod.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

backend url
  ui/src/themes/openems/environments/backend-prod.ts
  ui/src/themes/openems/environments/backend-prod.ts.251020
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update package.json
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
