Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

Update native library.
  io.openems.edge.bridge.can.linux/lib/libsocket-can-java.jar
Due: build-java, restore-cache, rebuild-cache

Revert "Merge pull request #1 from inomotech-foss/feature/cert_as_text"
  io.openems.edge.controller.api.mqtt/bnd.bnd
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/Config.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/ControllerApiMqttImpl.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttConnector.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttUtils.java
  io.openems.edge.controller.api.mqtt/test/io/openems/edge/controller/api/mqtt/ControllerApiMqttImplTest.java
  io.openems.edge.controller.api.mqtt/test/io/openems/edge/controller/api/mqtt/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

revert lost changes
  io.openems.edge.controller.api.mqtt/bnd.bnd
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/Config.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/ControllerApiMqttImpl.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttConnector.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttUtils.java
  io.openems.edge.controller.api.mqtt/test/io/openems/edge/controller/api/mqtt/ControllerApiMqttImplTest.java
  io.openems.edge.controller.api.mqtt/test/io/openems/edge/controller/api/mqtt/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

refractore files
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/Config.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/MqttUtils.java
Due: build-java, restore-cache, rebuild-cache

remove entes meter files
  io.openems.edge.meter.entes.mpr15s22/.classpath
  io.openems.edge.meter.entes.mpr15s22/.gitignore
  io.openems.edge.meter.entes.mpr15s22/.project
  io.openems.edge.meter.entes.mpr15s22/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.meter.entes.mpr15s22/.settings/org.eclipse.jdt.core.prefs
  io.openems.edge.meter.entes.mpr15s22/bnd.bnd
  io.openems.edge.meter.entes.mpr15s22/generated/buildfiles
  io.openems.edge.meter.entes.mpr15s22/readme.adoc
  io.openems.edge.meter.entes.mpr15s22/src/io/openems/edge/meter/entes/mpr15s22/Config.java
  io.openems.edge.meter.entes.mpr15s22/src/io/openems/edge/meter/entes/mpr15s22/EntesMpr15S22.java
  io.openems.edge.meter.entes.mpr15s22/src/io/openems/edge/meter/entes/mpr15s22/EntesMpr15S22Impl.java
  io.openems.edge.meter.entes.mpr15s22/test/io/openems/edge/meter/entes/mpr15s22/MyConfig.java
  io.openems.edge.meter.entes.mpr15s22/test/io/openems/edge/meter/entes/mpr15s22/MyModbusDeviceTest.java
Due: build-java, restore-cache, rebuild-cache

iconoffline
  ui/src/app/shared/header/header.component.html
  ui/src/app/shared/header/header.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

EmergencyController & TimeslotPeakshaving: Set PersistencePriority to enable resending (#995)
  io.openems.edge.controller.ess.emergencycapacityreserve/src/io/openems/edge/controller/ess/emergencycapacityreserve/ControllerEssEmergencyCapacityReserve.java
  io.openems.edge.controller.symmetric.timeslotpeakshaving/src/io/openems/edge/controller/timeslotpeakshaving/ControllerEssTimeslotPeakshaving.java
Due: build-java, restore-cache, rebuild-cache

build
  .circleci/config.yml
  tools/docker/openems-backend/Dockerfile
Due: none

defaults
  .circleci/config.yml
Due: none

download latest release
  .circleci/config.yml
  tools/docker/openems-backend/download-release.sh
Due: none

update paths
  .circleci/config.yml
  tools/docker/openems-backend/download-release.sh
Due: none

move back dir
  .circleci/config.yml
Due: none

fix dockerfile path
  .circleci/config.yml
Due: none

Time-of-Use: reset efficiency factor to 1.2 (#1001)
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/optimizer/Simulator.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/optimizer/UtilsTest.java
Due: build-java, restore-cache, rebuild-cache

UI: update AppCenter image urls (#1000)
  ui/src/themes/fenecon/environments/theme.ts
  ui/src/themes/heckert/environments/theme.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: remove christmas advert (#1003)
  ui/src/app/edge/live/advertisement/advertisement.component.html
  ui/src/app/edge/live/advertisement/advertisement.module.ts
  ui/src/app/edge/live/advertisement/merry-christmas/merry-christmas.ts
  ui/src/app/shared/type/widget.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

test deploy
  .circleci/config.yml
Due: none

remove extra arg
  .circleci/config.yml
Due: none

UI: Update phone number in offline manual (#949)
  ui/src/app/edge/live/offline/offline.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Adjust UserInformation to show companyname (#982)
  ui/src/app/changelog/view/component/changelog.component.html
  ui/src/app/user/user.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Time-of-Use: set state machine BALANCING in OFF mode (#999)
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
Due: build-java, restore-cache, rebuild-cache

fix sumstate alerting sending mails cyclic
  io.openems.backend.alerting/src/io/openems/backend/alerting/Alerting.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/handler/SumStateHandler.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/message/SumStateMessage.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/scheduler/MessageScheduler.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/Dummy.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/OfflineEdgeAlertingTest.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/SumStateAlertingTest.java
  io.openems.backend.common/src/io/openems/backend/common/alerting/SumStateAlertingSetting.java
  io.openems.backend.common/src/io/openems/backend/common/alerting/UserAlertingSettings.java
  io.openems.backend.common/src/io/openems/backend/common/jsonrpc/request/SetUserAlertingConfigsRequest.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/Metadata.java
Due: build-java, restore-cache, rebuild-cache

checkstyle
  io.openems.backend.alerting/src/io/openems/backend/alerting/handler/SumStateHandler.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/message/SumStateMessage.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/scheduler/MessageScheduler.java
Due: build-java, restore-cache, rebuild-cache

Push version to 2024.1.1
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2024.1.2-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update pom + bndrun
  cnf/pom.xml
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

test
  tools/docker/openems-ui/Dockerfile
  tools/docker/openems-ui/nginx.conf
  ui/angular.json
  ui/src/themes/openems/environments/backend-prod-eks.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

update build pipeline
  .circleci/config.yml
Due: none

build with base href
  tools/docker/openems-ui/Dockerfile
Due: none

fix arg order
  tools/docker/openems-ui/Dockerfile
Due: none

update backend websocket
  ui/src/themes/openems/environments/backend-prod-eks.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add brief logging
  ui/src/app/shared/type/language.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

set english
  ui/src/app/shared/type/language.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

run in dev mode
  tools/docker/openems-ui/Dockerfile
  ui/src/app/shared/type/language.ts
  ui/src/themes/openems/environments/backend-dev-eks.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

add missing entry in angular
  ui/angular.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

test with dummy
  tools/docker/openems-backend/config.d/Metadata/Dummy.config
  tools/docker/openems-backend/config.d/Metadata/Odoo.config
Due: none

Update j2mod to latest snapshot
  cnf/pom.xml
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Add j2mod to wrapper
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/j2mod.bnd
Due: build-java, restore-cache, rebuild-cache

Implementing multi threading for training and validation
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.predictiontester/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.predictor.api/src/io/openems/edge/predictor/api/oneday/Prediction24Hours.java
  io.openems.edge.predictor.lstm/.project
  io.openems.edge.predictor.lstm/TestFolder/0trend.txt
  io.openems.edge.predictor.lstm/bnd.bnd
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/adddata/ConvertToRrd4j.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/HyperParameters.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/Model.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/ReadCsv.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/ReadModelsBin.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/common/SaveModelBin.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/interpolation/CubicalInterpolation.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/interpolation/InterpolationManager.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/muliithread/MulThrDef.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/muliithread/MulThrSeasonalityTrain.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/muliithread/MulThrSeasonalityValidate.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/muliithread/MulThrTrendTrain.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/muliithread/MulThrTrendValidate.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/muliithread/MultiThreadTrain.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/muliithread/package-info.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/performance/PerformanceMatrix.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/predictor/LstmModelPredictorImpl.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/predictor/Prediction.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/train/LstmModelTrainImpl.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/train/MakeModel.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/util/AdaptiveLearningRate.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/util/Engine.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/util/Lstm.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/utilities/UtilityConversion.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/validator/LstmModelValidatorImpl.java
  io.openems.edge.predictor.lstm/src/io/openems/edge/predictor/lstm/validator/Validation.java
  io.openems.edge.predictor.lstm/test/MultiThreadTest.java
  io.openems.edge.predictor.lstm/test/ReadandSaveModleBinTest.java
  io.openems.edge.predictor.lstm/test/RearrangingDataForTrend.java
  io.openems.edge.predictor.lstm/test/RearrangingDataForValidation.java
  io.openems.edge.predictor.lstm/test/StandAloneMakeModel.java
  io.openems.edge.predictor.lstm/test/StandAlonePrediction.java
Due: build-java, restore-cache, rebuild-cache

revert config
  tools/docker/openems-backend/config.d/Metadata/Dummy.config
  tools/docker/openems-backend/config.d/Metadata/Odoo.config
Due: none
