Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

levl-1290/1297: add comments
  io.openems.edge.levl.controller/src/io/openems/edge/levl/controller/ControllerEssBalancingImpl.java
Due: build-java, restore-cache, rebuild-cache

levl-1290/1316: fix int overflow by using long in calculation of essCapacity
  io.openems.edge.levl.controller/src/io/openems/edge/levl/controller/ControllerEssBalancingImpl.java
Due: build-java, restore-cache, rebuild-cache

levl-1290/1316: add channels for realized values of current request as well for realized battery value of last request
  io.openems.edge.levl.controller/src/io/openems/edge/levl/controller/ControllerEssBalancing.java
  io.openems.edge.levl.controller/src/io/openems/edge/levl/controller/ControllerEssBalancingImpl.java
  io.openems.edge.levl.controller/test/io/openems/edge/levl/controller/BalancingImplTest.java
  io.openems.edge.levl.controller/test/io/openems/edge/levl/controller/ControllerEssBalancingImplTest.java
Due: build-java, restore-cache, rebuild-cache

levl-1290/1297: add beta version hint to readme
  io.openems.edge.levl.controller/readme.adoc
Due: build-java, restore-cache, rebuild-cache

levl-1290/1302: fix checkstyle
  io.openems.edge.levl.controller/src/io/openems/edge/levl/controller/ControllerEssBalancingImpl.java
Due: build-java, restore-cache, rebuild-cache

levl-1290/1302: add tests for soc limit edge cases
  io.openems.edge.levl.controller/test/io/openems/edge/levl/controller/BalancingImplTest.java
Due: build-java, restore-cache, rebuild-cache

levl-1290/1297: add readme
  io.openems.edge.levl.controller/readme.adoc
Due: build-java, restore-cache, rebuild-cache

levl-1290/1316: fix int overflow in next levl soc calculation in handleRequest; add logging and set log-level to debug; auto-formatting
  io.openems.edge.levl.controller/src/io/openems/edge/levl/controller/ControllerEssBalancing.java
  io.openems.edge.levl.controller/src/io/openems/edge/levl/controller/ControllerEssBalancingImpl.java
  io.openems.edge.levl.controller/src/io/openems/edge/levl/controller/LevlControlRequest.java
  io.openems.edge.levl.controller/test/io/openems/edge/levl/controller/ControllerEssBalancingImplTest.java
Due: build-java, restore-cache, rebuild-cache

levl-1290/1302: cleanup; clarify comments and readme; fix nextPucSoc calculation; fix swinging of remaining energy around zero;
  io.openems.edge.levl.controller/readme.adoc
  io.openems.edge.levl.controller/src/io/openems/edge/levl/controller/Config.java
  io.openems.edge.levl.controller/src/io/openems/edge/levl/controller/ControllerEssBalancing.java
  io.openems.edge.levl.controller/src/io/openems/edge/levl/controller/ControllerEssBalancingImpl.java
  io.openems.edge.levl.controller/src/io/openems/edge/levl/controller/LevlControlRequest.java
  io.openems.edge.levl.controller/test/io/openems/edge/levl/controller/BalancingImplTest.java
  io.openems.edge.levl.controller/test/io/openems/edge/levl/controller/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

levl-1290/1302: change bundle properties
  io.openems.edge.levl.controller/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

levl-1290/1302: move edgeapp config lines to the right place
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

levl-1290/1302: clean up and sort bnd files
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.levl.controller/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

Update postinst (#2862)
  tools/debian/DEBIAN/postinst
Due: none

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
Due: build-java, restore-cache, rebuild-cache

levl-1329/1332: implement pull request review comments
  io.openems.edge.levl.controller/src/io/openems/edge/levl/controller/ControllerEssBalancing.java
  io.openems.edge.levl.controller/src/io/openems/edge/levl/controller/ControllerEssBalancingImpl.java
  io.openems.edge.levl.controller/src/io/openems/edge/levl/controller/LevlControlRequest.java
  io.openems.edge.levl.controller/src/io/openems/edge/levl/controller/common/Efficiency.java
  io.openems.edge.levl.controller/test/io/openems/edge/levl/controller/BalancingImplTest.java
  io.openems.edge.levl.controller/test/io/openems/edge/levl/controller/ControllerEssBalancingImplTest.java
Due: build-java, restore-cache, rebuild-cache

levl-1329/1332: fix checkstyle
  io.openems.edge.levl.controller/src/io/openems/edge/levl/controller/ControllerEssBalancingImpl.java
  io.openems.edge.levl.controller/test/io/openems/edge/levl/controller/BalancingImplTest.java
Due: build-java, restore-cache, rebuild-cache

Change send all channel values to 4 min
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/SendChannelValuesWorker.java
Due: build-java, restore-cache, rebuild-cache

Update UI dependencies
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update package-lock
  ui/package-lock.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: restructure test env
  ui/src/app/edge/history/common/consumption/chart/chart.constants.spec.ts
  ui/src/app/edge/history/common/consumption/chart/chart.spec.ts
  ui/src/app/edge/history/common/consumption/details/chart/consumptionMeter.spec.ts
  ui/src/app/edge/history/common/consumption/details/chart/evcs.spec.ts
  ui/src/app/edge/history/common/consumption/details/chart/sum.spec.ts
  ui/src/app/edge/history/common/energy/chart/chart.constants.spec.ts
  ui/src/app/edge/history/common/energy/chart/chart.spec.ts
  ui/src/app/edge/history/common/grid/chart/chart.constants.spec.ts
  ui/src/app/edge/history/common/grid/chart/chart.spec.ts
  ui/src/app/edge/history/common/grid/details/chart/chart.spec.ts
  ui/src/app/edge/history/common/production/details/chart/charger.spec.ts
  ui/src/app/edge/history/common/production/details/chart/productionMeter.spec.ts
  ui/src/app/edge/history/common/production/details/chart/sum.spec.ts
  ui/src/app/edge/live/common/autarchy/modal/modal.spec.ts
  ui/src/app/edge/live/common/consumption/modal/modal.spec.ts
  ui/src/app/edge/live/common/grid/modal/modal.spec.ts
  ui/src/app/edge/live/common/selfconsumption/modal/modal.spec.ts
  ui/src/app/shared/components/pickdate/pickdate.component.spec.ts
  ui/src/app/shared/components/shared/testing/utils.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Backend Api Controller: randomize sending aggregated data
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/SendChannelValuesWorker.java
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/service/utils.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Home 6, 10 & 15: Apps
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/ElementToChannelConverter.java
  io.openems.edge.common/src/io/openems/edge/common/test/AbstractComponentTest.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome10KW.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome15KW.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome20.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome30.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome6KW.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHomeComponents.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/GoodWeGridMeterCategory.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/IntegratedSystemProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckHome.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome10KW.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome15KW.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome6KW.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/charger/AbstractGoodWeEtCharger.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/charger/singlestring/ConfigPV3.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/charger/singlestring/GoodWeChargerPv3.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/GoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/enums/GoodWeType.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/gridmeter/GoodWeGridMeterCategory.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/gridmeter/GoodWeGridMeterImpl.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImplTest.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/common/TestStatic.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/gridmeter/GoodWeGridMeterImplTest.java
Due: build-java, restore-cache, rebuild-cache

RabotCharge: authenticate via OAuth credentials
  io.openems.common/src/io/openems/common/oem/OpenemsEdgeOem.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/RabotCharge.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/StromdaoCorrently.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/TimeOfUseProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
  io.openems.edge.timeofusetariff.rabotcharge/src/io/openems/edge/timeofusetariff/rabotcharge/Config.java
  io.openems.edge.timeofusetariff.rabotcharge/src/io/openems/edge/timeofusetariff/rabotcharge/TimeOfUseTariffRabotCharge.java
  io.openems.edge.timeofusetariff.rabotcharge/src/io/openems/edge/timeofusetariff/rabotcharge/TimeOfUseTariffRabotChargeImpl.java
  io.openems.edge.timeofusetariff.rabotcharge/src/io/openems/edge/timeofusetariff/rabotcharge/translation_en.properties
  io.openems.edge.timeofusetariff.rabotcharge/test/io/openems/edge/timeofusetariff/rabotcharge/MyConfig.java
  io.openems.edge.timeofusetariff.rabotcharge/test/io/openems/edge/timeofusetariff/rabotcharge/TimeOfUseTariffRabotChargeImplTest.java
Due: build-java, restore-cache, rebuild-cache

AppCenter: use new modbus portName for new hardware (Home 20 & 30 & Gen2 & Commercial 92)
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome10KW.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome15KW.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome20.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome30.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome6KW.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHomeComponents.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/IntegratedSystemProps.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial92.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerUtil.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome30.java
Due: build-java, restore-cache, rebuild-cache

UI: adjust app reload behaviour
  ui/src/app/app.service.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/statePriceChart.ts
  ui/src/app/shared/components/chart/chart.constants.ts
  ui/src/app/shared/service/previousRouteService.ts
  ui/src/app/shared/shared.ts
  ui/src/app/shared/utils/assertions/assertions-utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

AppCenter: add 14a for home gen2 (6 & 10 & 15 kw) and commercial
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome10KW.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome15KW.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome6KW.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial92.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/aggregatetask/SchedulerByCentralOrderAggregateTaskImpl.java
Due: build-java, restore-cache, rebuild-cache

GoodWe: add NA-protection property
  io.openems.edge.core/src/io/openems/edge/app/api/TimedataInfluxDb.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome10KW.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome15KW.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome20.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome30.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome6KW.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHomeComponents.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/IntegratedSystemProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/OpenemsAppCategory.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerImplTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/Config.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/GoodWe.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/batteryinverter/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

AppCenter: Renamed gen2 Home Apps
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
  io.openems.edge.core/src/io/openems/edge/app/common/props/PropsUtil.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome10.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome10Gen2.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome15.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome6.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckHome.java
  io.openems.edge.core/test/io/openems/edge/app/heat/TestHeatPump.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome10.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome10Gen2.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome15.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome20.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome30.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome6.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHomeDefaultRelays.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerAppHelperImplTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerImplTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/GetAppAssistantTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/ResolveDependenciesTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/validator/CheckHomeTest.java
Due: build-java, restore-cache, rebuild-cache

Edge: Websitelink for Home 6, 10 & 15
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
Due: build-java, restore-cache, rebuild-cache

AppCenter: disallow EMS IP in AppCenter IP-Address input
  io.openems.edge.common/src/io/openems/edge/common/host/DummyHost.java
  io.openems.edge.common/src/io/openems/edge/common/host/Host.java
  io.openems.edge.core/src/io/openems/edge/app/common/props/CommunicationProps.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/AlpitronicEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/DezonyEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/HardyBarthEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/KebaEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/WebastoNextEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/WebastoUniteEvcs.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/HostSupplier.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/formly/builder/InputBuilder.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/src/io/openems/edge/core/host/HostImpl.java
  io.openems.edge.core/src/io/openems/edge/core/host/OperatingSystem.java
  io.openems.edge.core/src/io/openems/edge/core/host/OperatingSystemDebianSystemd.java
  io.openems.edge.core/src/io/openems/edge/core/host/OperatingSystemWindows.java
  io.openems.edge.core/src/io/openems/edge/core/host/jsonrpc/GetIpAddresses.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerTestBundle.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/host/IpAddressTest.java
Due: build-java, restore-cache, rebuild-cache

UI: introduce first lazy loaded module "Changelog"
  ui/src/app/app-routing.module.ts
  ui/src/app/app.module.ts
  ui/src/app/changelog/changelog-routing.module.ts
  ui/src/app/changelog/changelog.module.ts
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/changelog/view/view.ts
  ui/src/app/edge/settings/settings.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Time-of-use-Tariff: integrate ESS-Limiter §14a EnWG Controller
  io.openems.edge.controller.ess.limiter14a/src/io/openems/edge/controller/ess/limiter14a/ControllerEssLimiter14a.java
  io.openems.edge.controller.ess.limiter14a/src/io/openems/edge/controller/ess/limiter14a/ControllerEssLimiter14aImpl.java
  io.openems.edge.controller.ess.limiter14a/src/io/openems/edge/controller/ess/limiter14a/RestrictionMode.java
  io.openems.edge.controller.ess.limiter14a/src/io/openems/edge/controller/ess/limiter14a/package-info.java
  io.openems.edge.controller.ess.limiter14a/test/io/openems/edge/controller/ess/limiter14a/ControllerEssLimiter14aTest.java
  io.openems.edge.controller.ess.timeofusetariff/bnd.bnd
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/Config.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/Utils.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/v1/EnergyScheduleHandlerV1.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/v1/UtilsV1.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/MyConfig.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImplTest.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/UtilsTest.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/v1/UtilsV1Test.java
  io.openems.edge.energy/bnd.bnd
  io.openems.edge.energy/src/io/openems/edge/energy/v1/optimizer/UtilsV1.java
  io.openems.edge.energy/test/io/openems/edge/energy/EnergySchedulerImplTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/SimulatorTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/RunOptimizerFromLogApp.java
  io.openems.edge.energy/test/io/openems/edge/energy/v1/EnergySchedulerImplTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/v1/optimizer/UtilsV1Test.java
Due: build-java, restore-cache, rebuild-cache

UI: Currency label based on "Core.Meta" instead of edge id
  ui/src/app/edge/history/Controller/Ess/TimeOfUseTariff/chart/chart.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/flat/flat.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/modal.ts
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/modal/statePriceChart.ts
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/components/edge/edgeconfig.ts
  ui/src/app/shared/service/utils.spec.ts
  ui/src/app/shared/shared.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update Gradle to 8.11
  .gradle-wrapper/gradle-wrapper.properties
Due: build-java, restore-cache, rebuild-cache

Time-of-Use-Tariff history: apply rounding to state
  ui/src/app/edge/history/Controller/Ess/TimeOfUseTariff/chart/chart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix duplicated appearance of apps when key is redeemed
  ui/src/app/edge/settings/app/index.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: evcs activePower is used if needed
  ui/src/app/edge/history/common/consumption/chart/chart.constants.spec.ts
  ui/src/app/edge/history/common/consumption/chart/chart.ts
  ui/src/app/edge/history/common/consumption/details/chart/evcs.spec.ts
  ui/src/app/edge/history/common/consumption/details/chart/evcs.ts
  ui/src/app/edge/live/Controller/Evcs/modal/modal.ts
  ui/src/app/shared/components/edge/edgeconfig.spec.ts
  ui/src/app/shared/components/edge/utils/evcs-utils.spec.ts
  ui/src/app/shared/components/edge/utils/evcs-utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix wrong display yAxis tick in heatingElement and changelog translation
  ui/src/app/changelog/view/component/changelog.component.ts
  ui/src/app/shared/components/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: make changelog scrollable again
  ui/src/app/changelog/changelog-routing.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location
