Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

Fix Emergency-Slider Translation
  ui/src/app/edge/live/common/storage/modal/modal.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix EMERGENCY_RESERVE Case Match
  ui/src/app/edge/live/common/storage/modal/modal.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update ja.json
  ui/src/assets/i18n/ja.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update nl.json (#8)
  ui/src/assets/i18n/nl.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update cz.json (#9)
  ui/src/assets/i18n/cz.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update es.json (#10)
  ui/src/assets/i18n/es.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update en.json (#11)
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update de.json (#12)
  ui/src/assets/i18n/de.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update fr.json (#13)
  ui/src/assets/i18n/fr.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update ja.json (#14)
  ui/src/assets/i18n/ja.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: add "eslint:recommended", "plugin:@typescript-eslint/recommended" to eslintrc
  ui/.eslintrc.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: modify codes to pass new eslint rules.
  ui/package-lock.json
  ui/src/app/appupdateservice.ts
  ui/src/app/edge/history/heatingelement/chart.component.ts
  ui/src/app/edge/live/Controller/Ess/GridOptimizedCharge/modal/modal.ts
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/modal/modal.component.ts
  ui/src/app/edge/live/Multiple/Evcs_Api_Cluster/modal/evcs-chart/evcs.chart.ts
  ui/src/app/edge/settings/app/jsonrpc/flag/flagType.ts
  ui/src/app/edge/settings/app/jsonrpc/flag/flags.ts
  ui/src/app/edge/settings/app/jsonrpc/getAppAssistant.ts
  ui/src/app/edge/settings/network/network.component.ts
  ui/src/app/shared/edge/edge.ts
  ui/src/app/shared/edge/edgeconfig.spec.ts
  ui/src/app/shared/edge/edgeconfig.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
  ui/src/app/shared/genericComponents/shared/converter.ts
  ui/src/app/shared/genericComponents/shared/testing/tester.ts
  ui/src/app/shared/header/header.component.ts
  ui/src/app/shared/pickdate/pickdate.component.ts
  ui/src/app/shared/service/service.ts
  ui/src/app/shared/service/utils.ts
  ui/src/app/shared/status/single/status.component.spec.ts
  ui/src/app/shared/utils/date/dateutils.ts
  ui/src/app/shared/utils/datetime/datetime-utils.ts
  ui/src/app/user/user.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Initial Commit
  cnf/pom.xml
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooHandler.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/BridgeHttpImpl.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/UrlFetcher.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/UrlFetcherImpl.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/api/BridgeHttp.java
  io.openems.edge.bridge.http/src/io/openems/edge/bridge/http/dummy/DummyBridgeHttp.java
  io.openems.edge.bridge.http/test/io/openems/edge/bridge/http/DummyUrlFetcher.java
  io.openems.edge.meter.tibber/.classpath
  io.openems.edge.meter.tibber/.gitignore
  io.openems.edge.meter.tibber/.project
  io.openems.edge.meter.tibber/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.meter.tibber/bnd.bnd
  io.openems.edge.meter.tibber/readme.adoc
  io.openems.edge.meter.tibber/src/io/openems/edge/meter/tibber/pulse/Config.java
  io.openems.edge.meter.tibber/src/io/openems/edge/meter/tibber/pulse/MeterTibberPulse.java
  io.openems.edge.meter.tibber/src/io/openems/edge/meter/tibber/pulse/MeterTibberPulseImpl.java
  io.openems.edge.meter.tibber/src/io/openems/edge/meter/tibber/pulse/decoder/ObisNameMap.java
  io.openems.edge.meter.tibber/src/io/openems/edge/meter/tibber/pulse/decoder/SmlDecoder.java
  io.openems.edge.meter.tibber/src/io/openems/edge/meter/tibber/pulse/decoder/SmlMeterData.java
  io.openems.edge.meter.tibber/src/io/openems/edge/meter/tibber/pulse/smlparser/AbstractSmlObject.java
  io.openems.edge.meter.tibber/src/io/openems/edge/meter/tibber/pulse/smlparser/ByteUtil.java
  io.openems.edge.meter.tibber/src/io/openems/edge/meter/tibber/pulse/smlparser/Crc16.java
  io.openems.edge.meter.tibber/src/io/openems/edge/meter/tibber/pulse/smlparser/SmlGetListResponse.java
  io.openems.edge.meter.tibber/src/io/openems/edge/meter/tibber/pulse/smlparser/SmlListEntry.java
  io.openems.edge.meter.tibber/src/io/openems/edge/meter/tibber/pulse/smlparser/SmlMessage.java
  io.openems.edge.meter.tibber/src/io/openems/edge/meter/tibber/pulse/smlparser/SmlMessageBody.java
  io.openems.edge.meter.tibber/src/io/openems/edge/meter/tibber/pulse/smlparser/SmlMessageParser.java
  io.openems.edge.meter.tibber/src/io/openems/edge/meter/tibber/pulse/smlparser/SmlPublicCloseResponse.java
  io.openems.edge.meter.tibber/src/io/openems/edge/meter/tibber/pulse/smlparser/SmlPublicOpenResponse.java
  io.openems.edge.meter.tibber/src/io/openems/edge/meter/tibber/pulse/smlparser/SmlTime.java
  io.openems.edge.meter.tibber/src/io/openems/edge/meter/tibber/pulse/smlparser/asn1/ASN1BERTokenizer.java
  io.openems.edge.meter.tibber/test/.gitignore
  io.openems.edge.meter.tibber/test/io/openems/edge/meter/tibber/pulse/MeterTibberPulseImplTest.java
  io.openems.edge.meter.tibber/test/io/openems/edge/meter/tibber/pulse/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Update EdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Delete io.openems.edge.meter.tibber/test/.gitignore
  io.openems.edge.meter.tibber/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

Create .gitignore
  io.openems.edge.meter.tibber/test/.gitignore
Due: build-java, restore-cache, rebuild-cache

Update alerting.component.html
  ui/src/app/edge/settings/alerting/alerting.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update alerting.component.ts
  ui/src/app/edge/settings/alerting/alerting.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Show Footer not in /history
  ui/src/app/shared/footer/footer.html
  ui/src/app/shared/footer/footer.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update socchart.component.ts
  ui/src/app/edge/history/storage/socchart.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update channels.component.html
  ui/src/app/edge/settings/channels/channels.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update channels.component.ts
  ui/src/app/edge/settings/channels/channels.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Gitpod: add names+descriptions to ports
  .gitpod.yml
  tools/gitpod/openems-backend/config.d/Edge/Websocket.config
  tools/gitpod/openems-backend/config.d/Metadata/Odoo.config
  tools/gitpod/openems-backend/config.d/Ui/Websocket.config
  tools/gitpod/openems-backend/config.d/org/ops4j/pax/logging.config
  tools/gitpod/openems-backend/config.d/org_apache_felix_cm_impl_DynamicBindings.config
  tools/gitpod/openems-edge/config.d/Controller/Api/ModbusTcp/ReadOnly/17b969c5-fd9f-4cc3-9fba-fe7f41ff7146.config
  tools/gitpod/openems-edge/config.d/Controller/Symmetric/Balancing/6e15c5d6-3005-49a4-9a96-68fa5f39740f.config
  tools/gitpod/openems-edge/config.d/org/ops4j/pax/logging.config
  tools/gitpod/openems-edge/config.d/org_apache_felix_cm_impl_DynamicBindings.config
Due: none

UI: fix & update translations (#2595)
  ui/src/app/edge/history/storage/socchart.component.ts
  ui/src/app/edge/live/common/storage/modal/modal.component.html
  ui/src/app/edge/settings/alerting/alerting.component.html
  ui/src/app/edge/settings/alerting/alerting.component.ts
  ui/src/assets/i18n/cz.json
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/es.json
  ui/src/assets/i18n/fr.json
  ui/src/assets/i18n/ja.json
  ui/src/assets/i18n/nl.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Gitpod: add names+descriptions to ports (#2600)
  .gitpod.yml
  tools/gitpod/openems-backend/config.d/Edge/Websocket.config
  tools/gitpod/openems-backend/config.d/Metadata/Odoo.config
  tools/gitpod/openems-backend/config.d/Ui/Websocket.config
  tools/gitpod/openems-backend/config.d/org/ops4j/pax/logging.config
  tools/gitpod/openems-backend/config.d/org_apache_felix_cm_impl_DynamicBindings.config
  tools/gitpod/openems-edge/config.d/Controller/Api/ModbusTcp/ReadOnly/17b969c5-fd9f-4cc3-9fba-fe7f41ff7146.config
  tools/gitpod/openems-edge/config.d/Controller/Symmetric/Balancing/6e15c5d6-3005-49a4-9a96-68fa5f39740f.config
  tools/gitpod/openems-edge/config.d/org/ops4j/pax/logging.config
  tools/gitpod/openems-edge/config.d/org_apache_felix_cm_impl_DynamicBindings.config
Due: none

Push version to 2024.4.0
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2024.5.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Review
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/SinglePhaseMeter.java
  io.openems.edge.meter.eastron/src/io/openems/edge/meter/eastron/sdm120/MeterEastronSdm120.java
  io.openems.edge.meter.eastron/src/io/openems/edge/meter/eastron/sdm120/MeterEastronSdm120Impl.java
  io.openems.edge.meter.eastron/test/io/openems/edge/meter/eastron/sdm120/MyConfig.java
  io.openems.edge.meter.eastron/test/io/openems/edge/meter/eastron/sdm630/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Review
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/Config.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/ControllerApiMqtt.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/ControllerApiMqttImpl.java
  io.openems.edge.controller.api.mqtt/test/io/openems/edge/controller/api/mqtt/ControllerApiMqttImplTest.java
  io.openems.edge.controller.api.mqtt/test/io/openems/edge/controller/api/mqtt/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Remove obsolete code
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/ControllerApiMqttImpl.java
Due: build-java, restore-cache, rebuild-cache

Fix Checkstyle
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/ControllerApiMqttImpl.java
Due: build-java, restore-cache, rebuild-cache

MQTT API Controller: add optional config parameter to specify a topic prefix (#2553)
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/Config.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/ControllerApiMqtt.java
  io.openems.edge.controller.api.mqtt/src/io/openems/edge/controller/api/mqtt/ControllerApiMqttImpl.java
  io.openems.edge.controller.api.mqtt/test/io/openems/edge/controller/api/mqtt/ControllerApiMqttImplTest.java
  io.openems.edge.controller.api.mqtt/test/io/openems/edge/controller/api/mqtt/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Refactoring
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly25/IoShelly25.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly25/IoShelly25Impl.java
Due: build-java, restore-cache, rebuild-cache

Refactoring
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shelly25/IoShelly25Impl.java
Due: build-java, restore-cache, rebuild-cache

Use HttpBridge instead of Modbus & fix bnd file
  io.openems.edge.io.shelly/bnd.bnd
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3em/Config.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3em/IoShellyPro3Em.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3em/IoShellyPro3EmImpl.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypro3em/IoShelly3EmImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypro3em/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Checkstyle
  io.openems.edge.io.shelly/bnd.bnd
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3em/IoShellyPro3Em.java
  io.openems.edge.io.shelly/src/io/openems/edge/io/shelly/shellypro3em/IoShellyPro3EmImpl.java
Due: build-java, restore-cache, rebuild-cache

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
