Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

Adds VirtualMeter to PvInverterCluster to avoid being included to the sum
  io.openems.edge.pvinverter.cluster/src/io/openems/edge/pvinverter/cluster/Config.java
  io.openems.edge.pvinverter.cluster/src/io/openems/edge/pvinverter/cluster/PvInverterClusterImpl.java
  io.openems.edge.pvinverter.cluster/test/io/openems/edge/pvinverter/cluster/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

Adds MAX_ACTIVE_POWER channel to ManagedSymmetricPvInverter for holding hardware max active power.
  io.openems.edge.pvinverter.api/src/io/openems/edge/pvinverter/api/ManagedSymmetricPvInverter.java
Due: build-java, restore-cache, rebuild-cache

Adds channel mapping for max (re)active power in sunspec inverters
  io.openems.edge.pvinverter.sunspec/src/io/openems/edge/pvinverter/sunspec/AbstractSunSpecPvInverter.java
Due: build-java, restore-cache, rebuild-cache

Sum max active and reactive power in pv inverter cluster.
  io.openems.edge.pvinverter.cluster/src/io/openems/edge/pvinverter/cluster/PvInverterClusterImpl.java
Due: build-java, restore-cache, rebuild-cache

Adds MAX_REACTIVE_POWER channel to ManagedSymmetricPvInverter for holding hardware max reactive power.
  io.openems.edge.pvinverter.api/src/io/openems/edge/pvinverter/api/ManagedSymmetricPvInverter.java
Due: build-java, restore-cache, rebuild-cache

Distribute pv limit based on max active power and not max apparent power.
  io.openems.edge.pvinverter.cluster/src/io/openems/edge/pvinverter/cluster/PvInverterClusterImpl.java
Due: build-java, restore-cache, rebuild-cache

Improve null-handling and move implementation to limitEvcss
  io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/EvcsClusterPeakShavingImpl.java
Due: build-java, restore-cache, rebuild-cache

Fix a checkstyle issue
  io.openems.edge.evcs.cluster/src/io/openems/edge/evcs/cluster/EvcsClusterPeakShavingImpl.java
Due: build-java, restore-cache, rebuild-cache

Fix a checkstyle issue
  io.openems.edge.pvinverter.cluster/src/io/openems/edge/pvinverter/cluster/PvInverterClusterImpl.java
Due: build-java, restore-cache, rebuild-cache

Update wrapper
  io.openems.wrapper/jenetics.bnd
Due: build-java, restore-cache, rebuild-cache

evcc adaption for solar tariff
  io.openems.edge.predictor.solartariff/src/io/openems/edge/predictor/solartariff/PredictorSolarTariffEvccImpl.java
Due: build-java, restore-cache, rebuild-cache

Update Android SDK
  ui/android/variables.gradle
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

GridOptimizedCharge: Avoid integer overflow
  io.openems.edge.controller.ess.gridoptimizedcharge/src/io/openems/edge/controller/ess/gridoptimizedcharge/DelayCharge.java
Due: build-java, restore-cache, rebuild-cache

UI: Meta App: add version check
  ui/src/app/edge/live/common/storage/modal/modal.component.ts
  ui/src/app/edge/settings/app/permissions.ts
  ui/src/app/shared/components/edge/edge.ts
  ui/src/app/shared/components/modal/modal.ts
  ui/src/app/shared/jsonrpc/request/updateAppConfigRequest.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

App definition improvements
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHomeComponents.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/InterfaceConfiguration.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
Due: build-java, restore-cache, rebuild-cache

UI: dark mode fixes
  ui/src/app/edge/settings/profile/profile.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

FEMS App Octopus Heat
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/TimeOfUseProps.java
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/manual/OctopusHeat.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
  io.openems.edge.timeofusetariff.manual/bnd.bnd
  io.openems.edge.timeofusetariff.manual/readme.adoc
  io.openems.edge.timeofusetariff.manual/src/io/openems/edge/timeofusetariff/manual/octopus/heat/Config.java
  io.openems.edge.timeofusetariff.manual/src/io/openems/edge/timeofusetariff/manual/octopus/heat/TouOctopusHeat.java
  io.openems.edge.timeofusetariff.manual/src/io/openems/edge/timeofusetariff/manual/octopus/heat/TouOctopusHeatImpl.java
  io.openems.edge.timeofusetariff.manual/test/io/openems/edge/timeofusetariff/manual/TouManualHelperTest.java
  io.openems.edge.timeofusetariff.manual/test/io/openems/edge/timeofusetariff/manual/octopus/heat/MyConfig.java
  io.openems.edge.timeofusetariff.manual/test/io/openems/edge/timeofusetariff/manual/octopus/heat/TouOctopusHeatImplTest.java
Due: build-java, restore-cache, rebuild-cache

AppCenter: Meta only for ADMIN
  io.openems.edge.core/src/io/openems/edge/app/core/AppMeta.java
Due: build-java, restore-cache, rebuild-cache

KEBA: add EVCS Modbus variant
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/KebaEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/readonly/KebaEvcsReadOnly.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
  io.openems.edge.evcs.keba.kecontact/bnd.bnd
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/common/R2Plug.java
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/kecontact/EvcsKebaKeContact.java
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/kecontact/ReadHandler.java
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/p40/Config.java
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/p40/EvcsKebaP40.java
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/p40/EvcsKebaP40Impl.java
  io.openems.edge.evcs.keba.kecontact/src/io/openems/edge/evcs/keba/p40/ProductTypeAndFeatures.java
  io.openems.edge.evcs.keba.kecontact/test/io/openems/edge/evcs/keba/kecontact/EvcsKebaKeContactImplTest.java
  io.openems.edge.evcs.keba.kecontact/test/io/openems/edge/evcs/keba/kecontact/ReadHandlerTest.java
  io.openems.edge.evcs.keba.kecontact/test/io/openems/edge/evcs/keba/p40/EvcsKebaP40ImplTest.java
  io.openems.edge.evcs.keba.kecontact/test/io/openems/edge/evcs/keba/p40/MyConfig.java
  ui/src/app/edge/live/Controller/Evcs/modal/modal.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

SaveSerialNumbers: Home Battery & GoodWe BatteryInverter
  io.openems.common/src/io/openems/common/utils/FunctionUtils.java
  io.openems.edge.battery.fenecon.home/src/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImpl.java
  io.openems.edge.battery.fenecon.home/test/io/openems/edge/battery/fenecon/home/BatteryFeneconHomeImplTest.java
  io.openems.edge.battery.fenecon.home/test/io/openems/edge/battery/fenecon/home/TowersAndModulesTest.java
  io.openems.edge.common/src/io/openems/edge/common/serialnumber/SerialNumberStorage.java
  io.openems.edge.common/src/io/openems/edge/common/serialnumber/package-info.java
  io.openems.edge.common/src/io/openems/edge/common/test/DummySerialNumberStorage.java
  io.openems.edge.core/src/io/openems/edge/core/serialnumber/Config.java
  io.openems.edge.core/src/io/openems/edge/core/serialnumber/SerialNumberStorageImpl.java
  io.openems.edge.core/test/io/openems/edge/core/serialnumber/SerialNumberSaverImplConfigDiffTest.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImpl.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImplTest.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/charger/mppt/twostring/GoodWeChargerMpptTwoStringImplTest.java
  ui/src/app/edge/settings/profile/profile.component.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Improve new navigation
  ui/src/app/edge/live/Controller/Evse/modal/modal.ts
  ui/src/app/edge/live/Controller/Io/HeatingRoom/modal/modal.html
  ui/src/app/edge/live/Controller/Io/HeatingRoom/modal/modal.ts
  ui/src/app/edge/settings/energy-journey/pages/battery-extension/chart/gridBuy.chart.ts
  ui/src/app/index/filter/filter.component.ts
  ui/src/app/shared/components/edge/edgeconfig.ts
  ui/src/app/shared/components/navigation/navigation.component.html
  ui/src/app/shared/components/navigation/navigation.component.ts
  ui/src/app/shared/components/navigation/shared.ts
  ui/src/app/shared/service/defaulttypes.ts
  ui/src/app/shared/type/utility.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Hardy Barth RFID Authorization
  io.openems.edge.evcs.hardybarth/src/io/openems/edge/evcs/hardybarth/EvcsHardyBarth.java
  io.openems.edge.evcs.hardybarth/src/io/openems/edge/evcs/hardybarth/EvcsHardyBarthImpl.java
Due: build-java, restore-cache, rebuild-cache

UI: fix directconsumption hide/show state
  ui/src/app/shared/components/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Improve register user
  ui/src/app/registration/modal/modal.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: increase footer height
  ui/src/app/shared/components/footer/footer.html
  ui/src/app/shared/components/footer/subnavigation/footerNavigation.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

EVCS Mennekes: fix no energy in history
  io.openems.edge.evcs.mennekes/src/io/openems/edge/evcs/mennekes/EvcsMennekesImpl.java
Due: build-java, restore-cache, rebuild-cache

ModbusApi: fix empty Modbus table randomly occuring
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/AbstractModbusApi.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/AbstractModbusConfig.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/AbstractModbusRtuApi.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/AbstractModbusTcpApi.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/MyIllegalAddressException.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/MyProcessImage.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/readonly/rtu/Config.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/readonly/rtu/ControllerApiModbusRtuReadOnlyImpl.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/readonly/tcp/ControllerApiModbusTcpReadOnlyImpl.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/readwrite/rtu/Config.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/readwrite/rtu/ControllerApiModbusRtuReadWriteImpl.java
  io.openems.edge.controller.api.modbus/src/io/openems/edge/controller/api/modbus/readwrite/tcp/ControllerApiModbusTcpReadWriteImpl.java
  io.openems.edge.controller.api.modbus/test/io/openems/edge/controller/api/modbus/readonly/rtu/ControllerApiModbusRtuReadOnlyImplTest.java
  io.openems.edge.controller.api.modbus/test/io/openems/edge/controller/api/modbus/readonly/tcp/ControllerApiModbusTcpReadOnlyImplTest.java
  io.openems.edge.controller.api.modbus/test/io/openems/edge/controller/api/modbus/readwrite/rtu/ControllerApiModbusRtuReadWriteImplTest.java
  io.openems.edge.controller.api.modbus/test/io/openems/edge/controller/api/modbus/readwrite/tcp/ControllerApiModbusTcpReadWriteImplTest.java
Due: build-java, restore-cache, rebuild-cache

UI: change currentprotocol view
  ui/src/app/edge/settings/profile/profile.component.html
  ui/src/environments/index.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: new navigation interacting with background improvements
  ui/src/app/shared/components/navigation/navigation.component.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix build
  ui/src/app/edge/settings/energy-journey/pages/battery-extension/chart/gridBuy.chart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update RunOptimizerFromLogApp.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/RunOptimizerFromLogApp.java
Due: build-java, restore-cache, rebuild-cache

Fix JUnit test for new registers
  io.openems.edge.meter.janitza/test/io/openems/edge/meter/janitza/umg96rme/MeterJanitzaUmg96rmeImplTest.java
Due: build-java, restore-cache, rebuild-cache

Janitza UMG96RM(E) meter: fix modbus addresses (#2930)
  io.openems.edge.meter.janitza/src/io/openems/edge/meter/janitza/umg96rme/MeterJanitzaUmg96rmeImpl.java
  io.openems.edge.meter.janitza/test/io/openems/edge/meter/janitza/umg96rme/MeterJanitzaUmg96rmeImplTest.java
Due: build-java, restore-cache, rebuild-cache

Update package.json
  .github/dependabot.yml
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

RunOptimizerFromLogApp: Update Documentation for Log Extraction Command (#3091)
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/RunOptimizerFromLogApp.java
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  cnf/build.bnd
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bnd
  io.openems.wrapper/kotlinx-coroutines-core-jvm.bnd
Due: build-java, restore-cache, rebuild-cache

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
