Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

Fix CI build
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/element/ModbusElement.java
Due: build-java, restore-cache, rebuild-cache

Update ModbusTest for this branch
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/element/ModbusTest.java
Due: build-java, restore-cache, rebuild-cache

App Center: FENECON Home. Add validation for feed-in-limit (#723)
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome.java
Due: build-java, restore-cache, rebuild-cache

Improve log message
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractReadTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractTask.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/task/AbstractWriteTask.java
Due: build-java, restore-cache, rebuild-cache

BitsWordElement must extend ModbusRegisterElement
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/element/AbstractMultipleWordsElement.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/element/AbstractSingleWordElement.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/element/BitsWordElement.java
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/element/ModbusRegisterElement.java
  io.openems.edge.bridge.modbus/test/io/openems/edge/bridge/modbus/api/element/BitsWordElementTest.java
Due: build-java, restore-cache, rebuild-cache

App Center: add Janitza TCP + RTU meter (#720)
  io.openems.edge.core/src/io/openems/edge/app/common/props/CommonProps.java
  io.openems.edge.core/src/io/openems/edge/app/common/props/CommunicationProps.java
  io.openems.edge.core/src/io/openems/edge/app/common/props/ComponentProps.java
  io.openems.edge.core/src/io/openems/edge/app/enums/ModbusType.java
  io.openems.edge.core/src/io/openems/edge/app/enums/OptionsFactory.java
  io.openems.edge.core/src/io/openems/edge/app/enums/TranslatableEnum.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/HardyBarthEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/meter/AbstractMeterApp.java
  io.openems.edge.core/src/io/openems/edge/app/meter/CarloGavazziMeter.java
  io.openems.edge.core/src/io/openems/edge/app/meter/JanitzaMeter.java
  io.openems.edge.core/src/io/openems/edge/app/meter/KdkMeter.java
  io.openems.edge.core/src/io/openems/edge/app/meter/MeterProps.java
  io.openems.edge.core/src/io/openems/edge/app/meter/MicrocareSdm630Meter.java
  io.openems.edge.core/src/io/openems/edge/app/meter/SocomecMeter.java
  io.openems.edge.core/src/io/openems/edge/app/pvinverter/AbstractPvInverter.java
  io.openems.edge.core/src/io/openems/edge/app/pvinverter/CommonPvInverterConfiguration.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppDef.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/formly/Exp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  ui/src/app/shared/formly/form-field-default-cases.wrapper.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Checkstyle
  io.openems.common/src/io/openems/common/utils/XmlUtils.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoeImpl.java
Due: build-java, restore-cache, rebuild-cache

Checkstyle errors
  io.openems.common/src/io/openems/common/utils/XmlUtils.java
  io.openems.edge.timeofusetariff.entsoe/.classpath
Due: build-java, restore-cache, rebuild-cache

UI: fix modal-line filter (#730)
  ui/src/app/shared/genericComponents/modal/modal-line/modal-line.html
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update @typescript-eslint/eslint-plugin
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Added Currency to Meta. Modifed the provider to activate when currency is updated.
  io.openems.edge.common/src/io/openems/edge/common/currency/CurrencyUtils.java
  io.openems.edge.common/src/io/openems/edge/common/meta/Meta.java
  io.openems.edge.core/src/io/openems/edge/core/meta/Config.java
  io.openems.edge.core/src/io/openems/edge/core/meta/MetaImpl.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/EntsoeApi.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/ExchangeRateApi.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoeImpl.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Utils.java
Due: build-java, restore-cache, rebuild-cache

GoodWe: Fix mapping of diagnostic status register (#709)
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/AbstractGoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/GoodWe.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/enums/DiagnosticStatusHigh.java
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/enums/DiagnosticStatusLow.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/batteryinverter/TestStatic.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/common/TestStatic.java
Due: build-java, restore-cache, rebuild-cache

redo removing globalRouteChangeHandler again
  ui/src/app/app.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

checkstyle
  io.openems.edge.common/src/io/openems/edge/common/currency/CurrencyUtils.java
Due: build-java, restore-cache, rebuild-cache

UI: IBN: Replace link for Home manual in English (#724)
  ui/src/app/edge/installation/installation-systems/abstract-ibn.ts
  ui/src/app/edge/installation/shared/enums.ts
  ui/src/app/edge/installation/views/configuration-system/configuration-system.component.ts
  ui/src/environments/index.ts
  ui/src/themes/fenecon/environments/theme.ts
  ui/src/themes/heckert/environments/theme.ts
  ui/src/themes/openems/environments/theme.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: Set Language for Demo Access (#728)
  ui/src/app/index/index.component.ts
  ui/src/app/shared/service/websocket.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Use correct channels and avoid null pointer.
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/ElectricityMeter.java
Due: build-java, restore-cache, rebuild-cache

ElectricityMeter: fix calculation of SumActiveProductionEnergyFromPhases (#2286)
  io.openems.edge.meter.api/src/io/openems/edge/meter/api/ElectricityMeter.java
Due: build-java, restore-cache, rebuild-cache

UI: re-add construction of globalRouteChangeHandler (#2285)
  ui/src/app/app.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

UI: fix selecting booleans in formly-safe-input.extended (#733)
  ui/src/app/edge/settings/app/formly/safe-input/formly-safe-input.extended.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Added Currency provider interface. Refactored code. Modified the test cases.
  io.openems.edge.common/src/io/openems/edge/common/currency/CurrencyUtils.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Config.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/CurrencyProvider.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoeImpl.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/CurrencyProviderTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/EntsoeApiTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/MyConfig.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/ParserTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/TouEntsoeTest.java
Due: build-java, restore-cache, rebuild-cache

UI: IBN: Fix maximale Einspeisungsleistung (#714)
  ui/package-lock.json
  ui/src/app/edge/installation/installation-systems/commercial/abstract-commercial.ts
  ui/src/app/edge/installation/installation-systems/home/abstract-home.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Refactored the code based on review.
  io.openems.edge.common/src/io/openems/edge/common/meta/Meta.java
  io.openems.edge.core/src/io/openems/edge/core/meta/MetaImpl.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/BiddingZone.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/CurrencyProvider.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoeImpl.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/CurrencyProviderTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/EntsoeApiTest.java
Due: build-java, restore-cache, rebuild-cache

Resend historic data from local rrd4j (#701)
  io.openems.common/src/io/openems/common/jsonrpc/notification/CurrentDataNotification.java
  io.openems.common/src/io/openems/common/jsonrpc/notification/ResendDataNotification.java
  io.openems.common/src/io/openems/common/utils/CollectorUtils.java
  io.openems.common/src/io/openems/common/worker/AbstractWorker.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/Config.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/ControllerApiBackend.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/ControllerApiBackendImpl.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/OnOpen.java
  io.openems.edge.controller.api.backend/src/io/openems/edge/controller/api/backend/ResendHistoricDataWorker.java
  io.openems.edge.controller.api.backend/test/io/openems/edge/controller/api/backend/ControllerApiBackendImplTest.java
  io.openems.edge.controller.api.backend/test/io/openems/edge/controller/api/backend/MyConfig.java
  io.openems.edge.controller.api.backend/test/io/openems/edge/controller/api/backend/ResendHistoricDataWorkerTest.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/app/SimulatorAppImpl.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/timedata/SimulatorTimedataImpl.java
  io.openems.edge.timedata.api/src/io/openems/edge/timedata/api/Timedata.java
  io.openems.edge.timedata.api/src/io/openems/edge/timedata/api/Timeranges.java
  io.openems.edge.timedata.api/src/io/openems/edge/timedata/test/DummyTimedata.java
  io.openems.edge.timedata.api/test/io/openems/edge/timedata/api/TimerangesTest.java
  io.openems.edge.timedata.influxdb/src/io/openems/edge/timedata/influxdb/TimedataInfluxDbImpl.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/ChannelDef.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/Config.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/RecordWorker.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/Rrd4jConstants.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/Rrd4jReadHandler.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/Rrd4jSupplier.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/TimedataRrd4jImpl.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/version/AbstractVersion.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/version/Version.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/version/Version1.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/version/Version2.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/version/Version3.java
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/version/VersionHandler.java
  io.openems.edge.timedata.rrd4j/test/io/openems/edge/timedata/rrd4j/MyConfig.java
  io.openems.edge.timedata.rrd4j/test/io/openems/edge/timedata/rrd4j/Rrd4jReadHandlerTest.java
  io.openems.edge.timedata.rrd4j/test/io/openems/edge/timedata/rrd4j/Rrd4jSupplierTest.java
  io.openems.edge.timedata.rrd4j/test/io/openems/edge/timedata/rrd4j/TimedataRrd4jImplTest.java
  io.openems.edge.timedata.rrd4j/test/io/openems/edge/timedata/rrd4j/version/Version3Test.java
  io.openems.edge.timedata.rrd4j/test/io/openems/edge/timedata/rrd4j/version/VersionHandlerTest.java
  io.openems.edge.timedata.rrd4j/test/io/openems/edge/timedata/rrd4j/version/VersionTest.java
Due: build-java, restore-cache, rebuild-cache

Woodpecker: update yml files for 1.0 release (#735)
  .woodpecker/.java-build-master-develop.yml
  .woodpecker/.java-build.yml
  .woodpecker/.ui-build-master-develop.yml
  .woodpecker/.ui-build.yml
  gradle.properties
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

CI: automatically build Debian package (#731)
  .gitignore
  .woodpecker/debian-package.yml
  gradle.properties
  tools/build-debian-package.sh
  tools/debian/DEBIAN/control
  tools/debian/DEBIAN/postinst
  tools/debian/etc/apt/apt.conf.d/99jessiebackports
  tools/debian/etc/apt/apt.conf.d/99translations
  tools/debian/etc/apt/sources.list.d/fems.list
  tools/debian/etc/cron.daily/fems-autoupdate
  tools/debian/etc/cron.hourly/fems-verify
  tools/debian/etc/nginx/conf.d/80.conf
  tools/debian/etc/ntp.conf
  tools/debian/etc/sysctl.d/01-disable-ipv6.conf
  tools/debian/etc/systemd/system/fems-pagekite.service
  tools/debian/etc/systemd/system/openems.service
  tools/debian/etc/systemd/system/ufw.service
  tools/debian/etc/udev/rules.d/98-fems-default.rules
  tools/debian/etc/vim/vimrc.local
  tools/debian/usr/lib/systemd/journald.conf.d/10-fems.conf
  tools/debian/usr/lib/systemd/resolved.conf.d/10-fems.conf
  tools/debian/usr/lib/systemd/system.conf.d/10-fems.conf
  tools/debian/usr/lib/systemd/timesyncd.conf.d/fems.conf
  tools/debian/usr/share/keyrings/fenecon.gpg
  tools/debian/usr/share/openems-fems/templates/interfaces.d/fems-static
  tools/fems-release.sh
  tools/increase-patch-version.sh
  tools/prepare-next-snapshot.sh
  tools/prepare-release.sh
  ui/src/app/changelog/view/component/changelog.constants.ts
  ui/src/app/edge/settings/profile/profile.component.html
  ui/src/app/shared/edge/edge.ts
  ui/src/app/shared/pipe/pipe.ts
  ui/src/app/shared/pipe/version/version.pipe.spec.ts
  ui/src/app/shared/pipe/version/version.pipe.ts
  ui/src/app/user/user.component.html
  ui/src/app/user/user.component.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

refactor fixDigitalOutput
  ui/src/app/edge/live/Controller/Io/FixDigitalOutput/Io_FixDigitalOutput.ts
  ui/src/app/edge/live/Controller/Io/FixDigitalOutput/modal/modal.component.ts
  ui/src/app/edge/live/livedataservice.ts
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.html
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.ts
  ui/src/app/shared/genericComponents/modal/modal-button/modal-button.html
  ui/src/app/shared/genericComponents/modal/modal-button/modal-button.ts
  ui/src/app/shared/genericComponents/shared/oe-formly-component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Checkstyle changes
  io.openems.edge.common/src/io/openems/edge/common/meta/Meta.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoeImpl.java
Due: build-java, restore-cache, rebuild-cache

implement unittest for modals wirh formGroups, applied on example fixdigitaloutput
  ui/src/app/edge/live/Controller/Io/FixDigitalOutput/modal/constants.spec.ts
  ui/src/app/edge/live/Controller/Io/FixDigitalOutput/modal/modal.component.ts
  ui/src/app/edge/live/Controller/Io/FixDigitalOutput/modal/modal.spec.ts
  ui/src/app/edge/live/common/grid/modal/constants.spec.ts
  ui/src/app/shared/edge/edgeconfig.spec.ts
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.html
  ui/src/app/shared/genericComponents/shared/oe-formly-component.ts
  ui/src/app/shared/genericComponents/shared/tester.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

DEBIAN Package: fix ZST compression (#739)
  .woodpecker/debian-package.yml
  tools/build-debian-package.sh
  ui/src/app/shared/pipe/version/version.pipe.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

refactor Import
  ui/src/app/edge/live/Controller/Io/FixDigitalOutput/Io_FixDigitalOutput.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

RRD4j: Set datasource state to previous state for last value (#741)
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/version/Version3.java
Due: build-java, restore-cache, rebuild-cache

Added missing native libraries and updated EdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.bridge.can.linuxv4/lib/libsocket-can-java-4.19.jar
  io.openems.edge.bridge.can.linuxv5/lib/libsocket-can-java-5.1.jar
Due: build-java, restore-cache, rebuild-cache

RRD4j: take last value from robin (#742)
  io.openems.edge.timedata.rrd4j/src/io/openems/edge/timedata/rrd4j/Rrd4jReadHandler.java
Due: build-java, restore-cache, rebuild-cache

fix linting
  ui/src/app/edge/live/Controller/Io/FixDigitalOutput/modal/constants.spec.ts
  ui/src/app/edge/live/Controller/Io/FixDigitalOutput/modal/modal.component.ts
  ui/src/app/edge/live/Controller/Io/FixDigitalOutput/modal/modal.spec.ts
  ui/src/app/shared/edge/edgeconfig.spec.ts
  ui/src/app/shared/formly/formly-field-modal/formlyfieldmodal.ts
  ui/src/app/shared/genericComponents/modal/modal.ts
  ui/src/app/shared/genericComponents/shared/oe-formly-component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Review
  io.openems.edge.common/src/io/openems/edge/common/type/TypeUtils.java
  io.openems.edge.meter.virtual/src/io/openems/edge/meter/virtual/add/AddChannelManager.java
Due: build-java, restore-cache, rebuild-cache

Fix Checkstyle
  io.openems.edge.common/src/io/openems/edge/common/type/TypeUtils.java
Due: build-java, restore-cache, rebuild-cache
