Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  volumes:
  - cache:/cache
  group: restore

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  volumes:
  - cache:/cache
  group: refresh

> update PR
  ui/src/app/edge/history/common/production/chart/totalChart.ts
  ui/src/app/edge/history/common/production/chart/totalDcChart.ts
  ui/src/app/edge/history/shared.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev

> finalize PR
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev

EdgeApp.bndrun: copy optimized start levels from BackendApp
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Change from events to osgi dependency injection
  io.openems.backend.alerting/src/io/openems/backend/alerting/Alerting.java
  io.openems.backend.alerting/src/io/openems/backend/alerting/handler/OfflineEdgeHandler.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/AlertingTest.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/Dummy.java
  io.openems.backend.alerting/test/io/openems/backend/alerting/handler/TestOfflineEdgeHandler.java
  io.openems.backend.b2bwebsocket/src/io/openems/backend/b2bwebsocket/B2bWebsocket.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/AbstractMetadata.java
  io.openems.backend.common/src/io/openems/backend/common/metadata/Metadata.java
  io.openems.backend.common/src/io/openems/backend/common/test/DummyMetadata.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/EdgeWebsocketImpl.java
  io.openems.backend.edgewebsocket/src/io/openems/backend/edgewebsocket/OnOpen.java
  io.openems.backend.metadata.dummy/src/io/openems/backend/metadata/dummy/DummyMetadata.java
  io.openems.backend.metadata.file/src/io/openems/backend/metadata/file/FileMetadata.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/OdooMetadata.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/postgres/InitializeEdgesWorker.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/postgres/PostgresHandler.java
  io.openems.backend.uiwebsocket/src/io/openems/backend/uiwebsocket/impl/UiWebsocketImpl.java
Due: build-java, restore-cache, rebuild-cache

Fix version of GSON
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/gson.bnd
Due: build-java, restore-cache, rebuild-cache

Try again...
  cnf/build.bnd
  io.openems.wrapper/gson.bnd
Due: build-java, restore-cache, rebuild-cache

Rename 'master' branch to 'main'
  README.md
  doc/modules/ROOT/pages/gettingstarted.adoc
  doc/modules/ROOT/pages/introduction.adoc
Due: none

Push version to 2023.1.0
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Start development of version 2023.2.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Rename 'master' branch to 'main'
  .woodpecker/.java-build-master-develop.yml
  .woodpecker/.java-build.yml
  .woodpecker/.ui-build-master-develop.yml
  .woodpecker/.ui-build.yml
  tools/fems-release.sh
Due: build-java, restore-cache, rebuild-cache

Suppress non-security relevant dependabot PRs
  .github/dependabot.yml
Due: none

App-Center: rework validation for parallel usage (#496)
  io.openems.edge.core/src/io/openems/edge/core/appmanager/jsonrpc/GetApps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckAppsNotInstalled.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckCardinality.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckHome.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckHost.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckNoComponentInstalledOfFactoryId.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/CheckRelayCount.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/ValidatorImpl.java
Due: build-java, restore-cache, rebuild-cache

AppManager: Auto resolve dependencies (#494)
  io.openems.common/src/io/openems/common/utils/ServiceUtils.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerUtil.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerUtilImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/ResolveDependencies.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/AppManagerAppHelperImpl.java
  io.openems.edge.core/test/io/openems/edge/app/api/TestModbusTcpApiReadWrite.java
  io.openems.edge.core/test/io/openems/edge/app/heat/TestHeatPump.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome.java
  io.openems.edge.core/test/io/openems/edge/app/timeofusetariff/TestTibber.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerAppHelperImplTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerImplTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/ResolveDependenciesTest.java
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

CalculateAverage now supports all numbers instead of integer
  io.openems.edge.common/src/io/openems/edge/common/channel/calculate/CalculateAverage.java
  io.openems.edge.common/test/io/openems/edge/common/channel/calculate/CalculateAverageTest.java
Due: build-java, restore-cache, rebuild-cache

App-Center/IBN: adaptive setting of Parity for RS485 bus (#500)
  io.openems.edge.core/src/io/openems/edge/app/enums/Parity.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome.java
  ui/src/app/edge/installation/installation-systems/home/abstract-home.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

UI: update nodejs to latest LTS (#495)
  .github/workflows/build.yml
  tools/drone-docker.sh
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev

Update drone-docker script
  tools/drone-docker.sh
Due: none

GoodWe: improve SMART-Mode (#502)
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/ApplyPowerHandler.java
Due: build-java, restore-cache, rebuild-cache

AppCenter: UI improvements (#503)
  ui/src/app/edge/settings/app/install.component.html
  ui/src/app/edge/settings/app/install.component.ts
  ui/src/app/edge/settings/app/single.component.html
  ui/src/app/edge/settings/app/update.component.html
  ui/src/app/edge/settings/app/update.component.ts
Due: build-ui, refresh-dev

App-Center: add scheduler config for read write apis (#499)
  io.openems.edge.core/src/io/openems/edge/app/api/ModbusTcpApiReadWrite.java
  io.openems.edge.core/src/io/openems/edge/app/api/RestJsonApiReadWrite.java
Due: build-java, restore-cache, rebuild-cache

AppCenter: Edge improvements (#504)
  io.openems.edge.core/src/io/openems/edge/app/heat/CombinedHeatAndPower.java
  io.openems.edge.core/src/io/openems/edge/app/heat/HeatPump.java
  io.openems.edge.core/src/io/openems/edge/app/heat/HeatingElement.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
Due: build-java, restore-cache, rebuild-cache

AppCenter: Change validation message (#505)
  io.openems.edge.core/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/translation_en.properties
  ui/src/app/edge/settings/app/index.component.html
  ui/src/assets/i18n/cz.json
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/es.json
  ui/src/assets/i18n/fr.json
  ui/src/assets/i18n/nl.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

UI Time-of-Use Chart: Scale prices y-axis between min-/max-values, not from zero (#501)
  ui/src/app/edge/history/timeofusetariffdischarge/chart.component.ts
Due: build-ui, refresh-dev

Push version to 2023.1.1
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Update Changelog for 2023.1.1
  ui/src/app/changelog/changelog.component.ts
Due: build-ui, refresh-dev

Start development of version 2023.1.2-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

update ci-build
  ui/src/app/shared/genericComponents/shared/livedataservice.ts
Due: build-ui, refresh-dev

test ci-build 4
  ui/src/app/app.module.ts
  ui/src/app/shared/shared.module.ts
Due: build-ui, refresh-dev

clean PR
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev

„ui/src/app/shared/genericComponents/shared/historydataservice.ts“ ändern
  ui/src/app/shared/genericComponents/shared/historydataservice.ts
Due: build-ui, refresh-dev

remove unnecessary title in header
  ui/src/app/edge/history/common/production/chart/chargerChart.ts
  ui/src/app/edge/history/common/production/overview/overview.html
Due: build-ui, refresh-dev

changes due to review
  ui/src/app/edge/history/common/autarchy/flat/flat.ts
  ui/src/app/edge/history/common/production/chart/totalChart.ts
  ui/src/app/edge/history/common/production/overview/overview.html
  ui/src/app/edge/history/shared.ts
  ui/src/app/shared/genericComponents/chart/abstracthistorychart.ts
Due: build-ui, refresh-dev

New Controller PrepareBatteryExtension/FixStateOfCharge (#506)
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.common/src/io/openems/edge/common/cycle/Cycle.java
  io.openems.edge.common/src/io/openems/edge/common/modbusslave/ModbusRecordUint32.java
  io.openems.edge.common/src/io/openems/edge/common/test/AbstractComponentTest.java
  io.openems.edge.controller.ess.fixstateofcharge/.classpath
  io.openems.edge.controller.ess.fixstateofcharge/.gitignore
  io.openems.edge.controller.ess.fixstateofcharge/.project
  io.openems.edge.controller.ess.fixstateofcharge/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.controller.ess.fixstateofcharge/bnd.bnd
  io.openems.edge.controller.ess.fixstateofcharge/doc/statemachine.md
  io.openems.edge.controller.ess.fixstateofcharge/generated/buildfiles
  io.openems.edge.controller.ess.fixstateofcharge/readme.adoc
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/ConfigFixStateOfCharge.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/ConfigPrepareBatteryExtension.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/FixStateOfChargeImpl.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/PrepareBatteryExtensionImpl.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/api/AbstractFixStateOfCharge.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/api/ConfigProperties.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/api/EndCondition.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/api/FixStateOfCharge.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/statemachine/AboveTargetSocHandler.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/statemachine/AtTargetSocHandler.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/statemachine/BelowTargetSocHandler.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/statemachine/Context.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/statemachine/IdleHander.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/statemachine/NotStartedHandler.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/statemachine/StateMachine.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/statemachine/WithinLowerTargetSocBoundariesHandler.java
  io.openems.edge.controller.ess.fixstateofcharge/src/io/openems/edge/controller/ess/fixstateofcharge/statemachine/WithinUpperTargetSocBoundariesHandler.java
  io.openems.edge.controller.ess.fixstateofcharge/test/.gitignore
  io.openems.edge.controller.ess.fixstateofcharge/test/io/openems/edge/controller/ess/fixstateofcharge/FixStateOfChargeConfig.java
  io.openems.edge.controller.ess.fixstateofcharge/test/io/openems/edge/controller/ess/fixstateofcharge/FixStateOfChargeTest.java
  io.openems.edge.timedata.api/src/io/openems/edge/timedata/test/DummyTimedata.java
Due: build-java, restore-cache, rebuild-cache

ControllerFixSoc: Remove buildfiles (#507)
  io.openems.edge.controller.ess.fixstateofcharge/generated/buildfiles
Due: build-java, restore-cache, rebuild-cache

UI: Fix TypeScript imports
  ui/package-lock.json
  ui/src/app/edge/settings/app/index.component.ts
  ui/src/app/edge/settings/app/single.component.ts
Due: build-ui, refresh-dev

Push version to 2023.1.2
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package.json
  ui/src/app/user/user.component.html
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml, .woodpecker/**)
  build-ui: any of: ui/**, **/.woodpecker.yml
  refresh-dev: any of: ui/**, **/.woodpecker.yml
  restore-cache: any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml, .woodpecker/**
  rebuild-cache: any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml, .woodpecker/**
