Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

comment removed, fixed meter type
  io.openems.edge.meter.opendtu/src/io/openems/edge/meter/opendtu/MeterOpenDtuImpl.java
Due: build-java, restore-cache, rebuild-cache

Unit test
  io.openems.edge.meter.opendtu/test/io/openems/edge/meter/opendtu/MeterOpenDtuImplTest.java
  io.openems.edge.meter.opendtu/test/io/openems/edge/meter/opendtu/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

fix docker builds
  tools/docker/backend/Dockerfile
  tools/docker/edge/Dockerfile
  tools/docker/ui/Dockerfile.backend
  tools/docker/ui/Dockerfile.edge
Due: none

[Common] fix docker builds (#3563)
  tools/docker/backend/Dockerfile
  tools/docker/edge/Dockerfile
  tools/docker/ui/Dockerfile.backend
  tools/docker/ui/Dockerfile.edge
Due: none

update intelliJ guide.
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-10.png
  doc/modules/ROOT/pages/development/ide/intellij-gradle.adoc
Due: build-java, restore-cache, rebuild-cache

add an image
  doc/modules/ROOT/assets/images/intellij-import-as-gradle-11-1.png
Due: build-java, restore-cache, rebuild-cache

doc: add conditional images directory for GitHub environment
  doc/modules/ROOT/pages/development/ide/intellij-gradle.adoc
Due: build-java, restore-cache, rebuild-cache

Update bnd
  io.openems.wrapper/auth0-auth0.bnd
  io.openems.wrapper/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  cnf/pom.xml
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.edge.application/BackendEdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

[Edge] App.Prediction.Default: add new app "Default Prediction"
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
  io.openems.edge.core/bnd.bnd
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome10.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome10Gen2.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome15.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome20.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome30.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome6.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHomeComponents.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial100.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial50Gen3.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial92.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial92ClusterMaster.java
  io.openems.edge.core/src/io/openems/edge/app/prediction/AppPredictionDefault.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome20.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome30.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome30DefaultRelays.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerImplTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Hardy Barth: EVSE Implementation and Switch Architecture
  io.openems.common/src/io/openems/common/oem/OpenemsEdgeOem.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/RunUtils.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/single/Types.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/cluster/RunUtilsTest.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/HardyBarthEvcs.java
  io.openems.edge.core/src/io/openems/edge/app/evcs/SwitchArchitecture.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/SwitchEvcsEvseTest.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evcs/hardybarth/EvcsHandler.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evcs/hardybarth/EvcsHardyBarth.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evcs/hardybarth/EvcsHardyBarthImpl.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evcs/hardybarth/HardyBarthReadUtils.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/Config.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/EvseChargePointHardyBarth.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/EvseChargePointHardyBarthImpl.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/EvseHandler.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/ReadUtils.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/common/AbstractHardyBarthHandler.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/common/HardyBarth.java
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/common/translation_de.properties
  io.openems.edge.evse.chargepoint.hardybarth/src/io/openems/edge/evse/chargepoint/hardybarth/common/translation_en.properties
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evcs/hardybarth/EvcsHardyBarthImplTest.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/EvseChargePointHardyImplTest.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/MyConfig.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evse/chargepoint/hardybarth/common/Constants.java
Due: build-java, restore-cache, rebuild-cache

[Edge] IO.Fenecon.MasterBox2V0.Relay: Implemented
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/relay/Config.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/relay/IoMasterBox2v0Relay.java
  io.openems.edge.system.fenecon/src/io/openems/edge/system/fenecon/masterbox2v0/relay/IoMasterBox2v0RelayImpl.java
  io.openems.edge.system.fenecon/test/io/openems/edge/system/fenecon/masterbox2v0/relay/IoMasterBox2v0RelayImplTest.java
  io.openems.edge.system.fenecon/test/io/openems/edge/system/fenecon/masterbox2v0/relay/MyConfig.java
Due: build-java, restore-cache, rebuild-cache

[UI] EVSE: fix car update
  ui/src/app/edge/settings/app/install.component.ts
  ui/src/app/edge/settings/app/jsonrpc/getAppAssistant.spec.ts
  ui/src/app/edge/settings/app/jsonrpc/getAppAssistant.ts
  ui/src/app/edge/settings/app/jsonrpc/queryAppInstancesByFilter.ts
  ui/src/app/edge/settings/app/update.component.html
  ui/src/app/edge/settings/app/update.component.ts
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/components/navigation/view/view.ts
  ui/src/app/shared/service/route.service.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] App.Ess.SohCycle: SoH Cycle App
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
  io.openems.edge.core/src/io/openems/edge/app/ess/AppSohCycle.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/aggregatetask/SchedulerByCentralOrderAggregateTaskImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
Due: build-java, restore-cache, rebuild-cache

[UI] Adjustments for Manual
  ui/src/app/edge/live/common/weather/modal/modal.html
  ui/src/app/edge/live/common/weather/weather.module.ts
  ui/src/app/edge/settings/alerting/component/alerting.component.html
  ui/src/app/edge/settings/network/network.component.html
  ui/src/environments/index.ts
  ui/src/themes/openems/environments/oem-meta.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Common] Gradle: lazy configuration for all tasks
  build.gradle
Due: build-java, restore-cache, rebuild-cache

[UI] implement wcag 1.4.4
  ui/src/app/app.component.html
  ui/src/app/app.component.ts
  ui/src/app/app.module.ts
  ui/src/app/edge/history/common/energy/chart/chart.ts
  ui/src/app/edge/history/common/energy/flat/flat.html
  ui/src/app/edge/history/common/energy/flat/flat.ts
  ui/src/app/edge/history/common/production/chart/totalChart.ts
  ui/src/app/edge/history/common/storage/chart/totalchart.ts
  ui/src/app/edge/history/common/storage/details/chart/esschart.ts
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/history/history.component.ts
  ui/src/app/edge/history/history.module.ts
  ui/src/app/edge/live/Multiple/evcs-api-cluster/modal/chart/chart.ts
  ui/src/app/edge/live/common/autarchy/history/chart/chart.ts
  ui/src/app/edge/live/live.component.ts
  ui/src/app/index/shared/loading-screen.html
  ui/src/app/index/shared/loading-screen.ts
  ui/src/app/shared/components/chart/abstracthistorychart.html
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/components/chart/chart.html
  ui/src/app/shared/components/chart/chart.ts
  ui/src/app/shared/components/flat/flat-widget-button/flat-widget-button.ts
  ui/src/app/shared/components/footer/subnavigation/footerNavigation.html
  ui/src/app/shared/components/footer/subnavigation/footerNavigation.ts
  ui/src/app/shared/components/navigation/action-sheet-modal.html
  ui/src/app/shared/components/navigation/action-sheet-modal.ts
  ui/src/app/shared/components/navigation/bread-crumbs/breadcrumbs.ts
  ui/src/app/shared/components/navigation/chips/chips.ts
  ui/src/app/shared/components/navigation/navigation.component.html
  ui/src/app/shared/components/navigation/view/shared/shared.ts
  ui/src/app/shared/components/navigation/view/view.ts
  ui/src/app/shared/directive/oe-dom-change.ts
  ui/src/app/shared/service/layoutRefreshService.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Timeslot PeakShaving: fix string to number conversion
  ui/src/app/edge/live/Controller/PeakShaving/Symmetric_TimeSlot/Symmetric_TimeSlot.html
  ui/src/app/edge/live/Controller/PeakShaving/Symmetric_TimeSlot/modal/modal.component.html
  ui/src/app/edge/live/Controller/PeakShaving/Symmetric_TimeSlot/modal/modal.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Controller.Ess.SoH.Cycle: mproving balancing logic and add more channels
  io.openems.edge.controller.ess.sohcycle/readme.adoc
  io.openems.edge.controller.ess.sohcycle/src/io/openems/edge/controller/ess/sohcycle/BatteryBalanceError.java
  io.openems.edge.controller.ess.sohcycle/src/io/openems/edge/controller/ess/sohcycle/BatteryBalanceStatus.java
  io.openems.edge.controller.ess.sohcycle/src/io/openems/edge/controller/ess/sohcycle/ControllerEssSohCycle.java
  io.openems.edge.controller.ess.sohcycle/src/io/openems/edge/controller/ess/sohcycle/ControllerEssSohCycleImpl.java
  io.openems.edge.controller.ess.sohcycle/src/io/openems/edge/controller/ess/sohcycle/Utils.java
  io.openems.edge.controller.ess.sohcycle/src/io/openems/edge/controller/ess/sohcycle/statemachine/CheckBalancingHandler.java
  io.openems.edge.controller.ess.sohcycle/src/io/openems/edge/controller/ess/sohcycle/statemachine/Context.java
  io.openems.edge.controller.ess.sohcycle/src/io/openems/edge/controller/ess/sohcycle/statemachine/EvaluateResultHandler.java
  io.openems.edge.controller.ess.sohcycle/src/io/openems/edge/controller/ess/sohcycle/statemachine/MeasurementCycleChargingHandler.java
  io.openems.edge.controller.ess.sohcycle/src/io/openems/edge/controller/ess/sohcycle/statemachine/MeasurementCycleDischargingWaitHandler.java
  io.openems.edge.controller.ess.sohcycle/src/io/openems/edge/controller/ess/sohcycle/statemachine/SohResult.java
  io.openems.edge.controller.ess.sohcycle/test/io/openems/edge/controller/ess/sohcycle/CheckBalancingHandlerTest.java
  io.openems.edge.controller.ess.sohcycle/test/io/openems/edge/controller/ess/sohcycle/UtilsTest.java
  io.openems.edge.controller.ess.sohcycle/test/io/openems/edge/controller/ess/sohcycle/statemachine/ContextCalculateCellVoltageDeltaParamTest.java
  io.openems.edge.controller.ess.sohcycle/test/io/openems/edge/controller/ess/sohcycle/statemachine/ContextCalculateSohParamTest.java
  io.openems.edge.controller.ess.sohcycle/test/io/openems/edge/controller/ess/sohcycle/statemachine/ContextCellVoltageDeltaParamTest.java
  io.openems.edge.controller.ess.sohcycle/test/io/openems/edge/controller/ess/sohcycle/statemachine/ContextRefreshMaxVoltageParamTest.java
  io.openems.edge.controller.ess.sohcycle/test/io/openems/edge/controller/ess/sohcycle/statemachine/ContextTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] Websocket.ts: add missing promise reject callback
  ui/src/app/shared/service/websocket.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] "Location validator" section in Profile
  ui/src/app/edge/live/Controller/Evcs/flat/flat.ts
  ui/src/app/edge/live/Controller/Evcs/modal/modal.ts
  ui/src/app/edge/live/common/consumption/flat/flat.ts
  ui/src/app/edge/live/common/consumption/history/chart/chart.ts
  ui/src/app/edge/live/common/consumption/history/flat/flat.ts
  ui/src/app/edge/live/common/consumption/history/phase-accurate/chart/evcs.ts
  ui/src/app/edge/live/common/consumption/new-navigation/new-navigation.ts
  ui/src/app/edge/live/common/consumption/shared/shared.ts
  ui/src/app/edge/settings/i18n/de.json
  ui/src/app/edge/settings/i18n/en.json
  ui/src/app/edge/settings/profile/location/i18n/de.json
  ui/src/app/edge/settings/profile/location/i18n/en.json
  ui/src/app/edge/settings/profile/location/location-validator/location-validator.ts
  ui/src/app/edge/settings/profile/location/location.html
  ui/src/app/edge/settings/profile/location/location.ts
  ui/src/app/edge/settings/profile/profile.component.html
  ui/src/app/edge/settings/profile/profile.component.ts
  ui/src/app/edge/settings/settings-routing.module.ts
  ui/src/app/shared/components/edge/config-components/evcs/evcsComponent.spec.ts
  ui/src/app/shared/components/edge/config-components/evcs/evcsComponent.ts
  ui/src/app/shared/components/edge/config-components/meta/meta.ts
  ui/src/app/shared/components/edge/edge.ts
  ui/src/app/shared/components/edge/edgeconfig.ts
  ui/src/app/shared/components/system-location-validator/i18n/de.json
  ui/src/app/shared/components/system-location-validator/i18n/en.json
  ui/src/app/shared/components/system-location-validator/json-rpc/geo-code-json-rpc.ts
  ui/src/app/shared/components/system-location-validator/system-location-validator.component.html
  ui/src/app/shared/components/system-location-validator/system-location-validator.component.ts
  ui/src/app/shared/utils/utils.spec.ts
  ui/src/app/shared/utils/utils.ts
  ui/src/global-ion-custom.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] EVCS-to-EVSE: fix CanSwitchArchitecture for Systems that do not yet have READ_ONLY
  io.openems.edge.core/src/io/openems/edge/app/evcs/SwitchArchitecture.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/SwitchEvcsEvseTest.java
  ui/src/app/index/shared/loading-screen.html
  ui/src/app/shared/components/system-location-validator/system-location-validator.component.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] fix for app center vehicles
  ui/src/app/edge/settings/app/update.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] TimeOfUseTariff.ENTSO-E: add bidding zone Lithuania
  io.openems.edge.core/src/io/openems/edge/app/timeofusetariff/EntsoE.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_de.properties
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/BiddingZone.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Utils.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Edge2Edge: fix handling of hashes
  io.openems.edge.edge2edge/src/io/openems/edge/edge2edge/common/AbstractEdge2Edge.java
Due: build-java, restore-cache, rebuild-cache

[UI] fix local monitoring
  ui/src/app/shared/service/auth/auth.service.ts
  ui/src/app/shared/service/auth/oauth.service.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Common] Java-WebSocket Wrapper: include JavaDoc
  io.openems.wrapper/Java-WebSocket.bnd
  io.openems.wrapper/lib/.gitignore
  io.openems.wrapper/lib/Java-WebSocket-sources.jar
Due: build-java, restore-cache, rebuild-cache

[UI] fix ci build
  ui/src/app/index/overview/overview.component.spec.ts
  ui/src/app/index/overview/overview.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] RunOptimizerApp: Plot SimulationResult with JFreeChart
  cnf/pom.xml
  io.openems.edge.energy/bnd.bnd
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/AppUtils.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/PlotUtils.java
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/jfreechart.bnd
Due: build-java, restore-cache, rebuild-cache

[UI] Reduce `GetEdgesRequest`s
  ui/src/app/index/filter/filter.component.html
  ui/src/app/index/filter/filter.component.ts
  ui/src/app/index/overview/overview.component.html
  ui/src/app/index/overview/overview.component.spec.ts
  ui/src/app/index/overview/overview.component.ts
  ui/src/app/shared/type/role.ts
  ui/src/app/shared/utils/array/array.utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] fix local UI
  ui/src/app/index/overview/overview.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] App.Ess.SohCycle: set dependency for FENECON Home & Commercial
  io.openems.edge.core/src/io/openems/edge/app/ess/AppSohCycle.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome10.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome10Gen2.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome15.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome20.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome30.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHome6.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHomeComponents.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial100.java
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/fenecon/commercial/FeneconCommercial50Gen3.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome20.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome30.java
  io.openems.edge.core/test/io/openems/edge/app/integratedsystem/TestFeneconHome30DefaultRelays.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerImplTest.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
Due: build-java, restore-cache, rebuild-cache

[Backend] Gradle and Docker builds for Backend-Edge-Manager
  build.gradle
  io.openems.backend.edge.application/BackendEdgeApp.bndrun
  io.openems.backend.edge.application/src/io/openems/backend/edge/application/BackendEdgeServerApp.java
  io.openems.backend.edge.application/src/io/openems/backend/edge/application/Utils.java
  tools/docker/backend-edge/Dockerfile
  tools/docker/backend-edge/README.md
  tools/docker/backend-edge/docker-compose.yml
  tools/docker/backend-edge/root/etc/s6-overlay/s6-rc.d/init-adduser/branding
  tools/docker/backend-edge/root/etc/s6-overlay/s6-rc.d/init-adduser/dependencies.d/init-migrations
  tools/docker/backend-edge/root/etc/s6-overlay/s6-rc.d/init-adduser/run
  tools/docker/backend-edge/root/etc/s6-overlay/s6-rc.d/init-adduser/type
  tools/docker/backend-edge/root/etc/s6-overlay/s6-rc.d/init-adduser/up
  tools/docker/backend-edge/root/etc/s6-overlay/s6-rc.d/init-openems-config/dependencies.d/init-os-end
  tools/docker/backend-edge/root/etc/s6-overlay/s6-rc.d/init-openems-config/run
  tools/docker/backend-edge/root/etc/s6-overlay/s6-rc.d/init-openems-config/type
  tools/docker/backend-edge/root/etc/s6-overlay/s6-rc.d/init-openems-config/up
  tools/docker/backend-edge/root/etc/s6-overlay/s6-rc.d/init-permissions/dependencies.d/init-os-end
  tools/docker/backend-edge/root/etc/s6-overlay/s6-rc.d/init-permissions/run
  tools/docker/backend-edge/root/etc/s6-overlay/s6-rc.d/init-permissions/type
  tools/docker/backend-edge/root/etc/s6-overlay/s6-rc.d/init-permissions/up
  tools/docker/backend-edge/root/etc/s6-overlay/s6-rc.d/svc-openems-backend-edge/dependencies.d/init-openems-config
  tools/docker/backend-edge/root/etc/s6-overlay/s6-rc.d/svc-openems-backend-edge/dependencies.d/init-services
  tools/docker/backend-edge/root/etc/s6-overlay/s6-rc.d/svc-openems-backend-edge/notification-fd
  tools/docker/backend-edge/root/etc/s6-overlay/s6-rc.d/svc-openems-backend-edge/run
  tools/docker/backend-edge/root/etc/s6-overlay/s6-rc.d/svc-openems-backend-edge/type
  tools/docker/backend-edge/root/etc/s6-overlay/s6-rc.d/user/contents.d/init-permissions
  tools/docker/backend-edge/root/etc/s6-overlay/s6-rc.d/user/contents.d/svc-openems-backend-edge
  tools/docker/backend-edge/root/var/lib/openems-default-config/Backend/Edge/App.config
  tools/docker/backend/root/etc/s6-overlay/s6-rc.d/svc-openems-backend/run
  tools/prepare-commit.sh
Due: build-java, restore-cache, rebuild-cache

[Edge] Plot GlobalOptimizationContext with JFreeChart
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/AppUtils.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/PlotUtils.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/RunOptimizerApp.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/RunOptimizerFromLogApp.java
Due: build-java, restore-cache, rebuild-cache

[Backend] BackendEdge: Update readme + create new gradle tasks
  io.openems.backend.edge.application/readme.md
Due: build-java, restore-cache, rebuild-cache

[Edge] ChannelDoc: Add a way to set text dynamically
  io.openems.edge.common/src/io/openems/edge/common/channel/DynamicChannelDoc.java
  io.openems.edge.common/src/io/openems/edge/common/channel/DynamicDocText.java
  io.openems.edge.common/src/io/openems/edge/common/channel/DynamicStateChannelDoc.java
  io.openems.edge.common/src/io/openems/edge/common/channel/StateChannelDoc.java
  io.openems.edge.common/src/io/openems/edge/common/channel/dynamicdoctext/ChannelParameterProvider.java
  io.openems.edge.common/src/io/openems/edge/common/channel/dynamicdoctext/DefaultChannelParameterProviderImpl.java
  io.openems.edge.common/src/io/openems/edge/common/channel/dynamicdoctext/DynamicDocText.java
  io.openems.edge.common/src/io/openems/edge/common/channel/dynamicdoctext/EnumChannelParameterProvider.java
  io.openems.edge.common/src/io/openems/edge/common/channel/dynamicdoctext/EnumChannelParameterProviderImpl.java
  io.openems.edge.common/src/io/openems/edge/common/channel/dynamicdoctext/NumberChannelParameterProvider.java
  io.openems.edge.common/src/io/openems/edge/common/channel/dynamicdoctext/NumberChannelParameterProviderImpl.java
  io.openems.edge.common/src/io/openems/edge/common/channel/dynamicdoctext/ParameterProvider.java
  io.openems.edge.common/src/io/openems/edge/common/channel/dynamicdoctext/StaticParameterProvider.java
  io.openems.edge.common/src/io/openems/edge/common/channel/dynamicdoctext/StringChannelParameterProvider.java
  io.openems.edge.common/src/io/openems/edge/common/channel/dynamicdoctext/StringChannelParameterProviderImpl.java
  io.openems.edge.common/src/io/openems/edge/common/channel/dynamicdoctext/package-info.java
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractDoc.java
  io.openems.edge.common/src/io/openems/edge/common/type/TextProvider.java
  io.openems.edge.common/test/io/openems/edge/common/doc/DocTest.java
  io.openems.edge.common/test/io/openems/edge/common/doc/TestComponent.java
  io.openems.edge.common/test/io/openems/edge/common/type/TextProviderTest.java
  io.openems.edge.common/test/io/openems/edge/common/type/translation_de.properties
  io.openems.edge.common/test/io/openems/edge/common/type/translation_en.properties
  io.openems.edge.goodwe/src/io/openems/edge/goodwe/common/GoodWe.java
  io.openems.edge.goodwe/test/io/openems/edge/goodwe/batteryinverter/GoodWeBatteryInverterImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] EnergyScheduler v2: improvements
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/EnergyScheduler.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/Utils.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/UtilsTest.java
  io.openems.edge.controller.ess.timeofusetariff/test/io/openems/edge/controller/ess/timeofusetariff/jsonrpc/GetScheduleResponseTest.java
  io.openems.edge.controller.evse/src/io/openems/edge/controller/evse/cluster/EshUtils.java
  io.openems.edge.controller.evse/test/io/openems/edge/controller/evse/cluster/EshUtilsTest.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/EnergyUtils.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/Environment.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/RiskLevel.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/handler/DifferentModes.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/handler/Fitness.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulation/GlobalOptimizationContext.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/simulation/GocUtils.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/test/DummyGlobalOptimizationContext.java
  io.openems.edge.energy.api/src/io/openems/edge/energy/api/test/EnergyScheduleTester.java
  io.openems.edge.energy.api/test/io/openems/edge/energy/api/EnergyUtilsTest.java
  io.openems.edge.energy.api/test/io/openems/edge/energy/api/simulation/GlobalOptimizationContextTest.java
  io.openems.edge.energy.api/test/io/openems/edge/energy/api/simulation/GocUtilsTest.java
  io.openems.edge.energy/src/io/openems/edge/energy/Config.java
  io.openems.edge.energy/src/io/openems/edge/energy/EnergySchedulerImpl.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/SimulationResult.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/Simulator.java
  io.openems.edge.energy/test/io/openems/edge/energy/EnergySchedulerImplTest.java
  io.openems.edge.energy/test/io/openems/edge/energy/MyConfig.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/AppUtils.java
  io.openems.edge.energy/test/io/openems/edge/energy/optimizer/app/RunOptimizerApp.java
  io.openems.edge.energy/test/io/openems/edge/energy/v1/EnergySchedulerImplTest.java
  io.openems.edge.predictor.profileclusteringmodel/src/io/openems/edge/predictor/profileclusteringmodel/prediction/PredictionOrchestrator.java
Due: build-java, restore-cache, rebuild-cache

[UI] Prevent vehicle-id Error from showing outside the vehicle settings
  ui/src/app/edge/settings/app/update.component.ts
  ui/src/app/shared/components/edge/edge.ts
  ui/src/app/shared/components/navigation/service/navigation.service.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge/UI] App Center: Fix Keba Toggle Switch Errors
  io.openems.edge.core/src/io/openems/edge/app/evcs/SwitchArchitecture.java
  io.openems.edge.core/src/io/openems/edge/app/evse/AppKebaEvse.java
  io.openems.edge.core/src/io/openems/edge/app/evse/EvseProps.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppManagerImpl.java
  io.openems.edge.core/test/io/openems/edge/app/api/TestModbusTcpApiReadWrite.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/SwitchEvcsEvseTest.java
  ui/src/app/edge/settings/app/install.component.ts
  ui/src/app/edge/settings/app/update.component.ts
  ui/src/app/shared/utils/error/error.utils.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
