Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

[Edge] FENECON Home: fix wrong configuration of the RS485 interface port
  io.openems.edge.core/src/io/openems/edge/app/integratedsystem/FeneconHomeComponents.java
  io.openems.edge.core/src/io/openems/edge/app/openemshardware/TechbaseCm4sGen2.java
  io.openems.edge.core/src/io/openems/edge/app/openemshardware/TechbaseCm4sGen3.java
Due: build-java, restore-cache, rebuild-cache

[Backend] temporarily increase odoo timeout
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/OdooUtils.java
Due: build-java, restore-cache, rebuild-cache

[UI] Heating element: new icon
  ui/src/app/edge/live/Controller/Heat/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Heat/settings/settings.ts
  ui/src/app/edge/live/Controller/Heat/shared/shared.ts
  ui/src/app/edge/live/Controller/Io/HeatingElement/flat/flat.html
  ui/src/app/edge/live/Controller/Io/HeatingElement/history/flat/flat.html
  ui/src/app/edge/live/Controller/Io/HeatingElement/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Io/HeatingElement/shared/shared.ts
  ui/src/app/shared/components/oe-img/oe-img.html
  ui/src/app/shared/components/oe-img/oe-img.ts
  ui/src/app/shared/shared.ts
  ui/src/environments/index.scss
  ui/src/environments/index.ts
  ui/src/themes/fenecon/icons/component/heating-element.svg
  ui/src/themes/openems/environments/oem-meta.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] AppCenter: fix rerouting with queryParams
  ui/src/app/app.module.ts
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/history/new-navigation/new-navigation.ts
  ui/src/app/edge/settings/app/formly/formly-link.html
  ui/src/app/edge/settings/app/formly/formly-link.ts
  ui/src/app/edge/settings/app/index.component.ts
  ui/src/app/edge/settings/app/install.component.html
  ui/src/app/edge/settings/app/install.component.ts
  ui/src/app/edge/settings/app/keypopup/modal.component.html
  ui/src/app/edge/settings/app/keypopup/modal.component.ts
  ui/src/app/edge/settings/app/single.component.html
  ui/src/app/edge/settings/app/single.component.ts
  ui/src/app/edge/settings/app/update.component.html
  ui/src/app/edge/settings/app/update.component.ts
  ui/src/app/edge/settings/settings-routing.module.ts
  ui/src/app/index/registration/modal/modal.component.ts
  ui/src/app/shared/components/components.module.ts
  ui/src/app/shared/components/navigation/action-sheet-modal.ts
  ui/src/app/shared/components/navigation/back-button/back-button.html
  ui/src/app/shared/components/navigation/back-button/back-button.spec.ts
  ui/src/app/shared/components/navigation/back-button/back-button.ts
  ui/src/app/shared/components/navigation/view/view.html
  ui/src/app/shared/service/auth/oauth.service.ts
  ui/src/app/shared/service/route.service.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
  ui/tsconfig.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Fix Reactive Power: add Widget
  ui/src/app/edge/live/Controller/Ess/FixActivePower/fix-active-power.ts
  ui/src/app/edge/live/Controller/Ess/FixActivePower/shared/shared-new-navigation.ts
  ui/src/app/edge/live/Controller/Ess/FixActivePower/shared/shared.ts
  ui/src/app/edge/live/Controller/symmetric/FixReactivePower/fix-reactive-power.ts
  ui/src/app/edge/live/Controller/symmetric/FixReactivePower/new-navigation/new-navigation.ts
  ui/src/app/edge/live/common/storage/shared/shared.ts
  ui/src/app/edge/live/live.module.ts
  ui/src/app/shared/components/navigation/navigation-routing.module.ts
  ui/src/app/shared/components/shared/converter.ts
  ui/src/app/shared/components/shared/formatter.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Backend] Migrate Odoo HTTP Auth
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/HttpBridgeOdooAuthenticationService.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/HttpBridgeOdooAuthenticationServiceDefinition.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/HttpBridgeOdooService.java
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/odoo/http/OdooGetEdgesRequest.java
  io.openems.backend.metadata.odoo/test/io/openems/backend/metadata/odoo/odoo/HttpBridgeOdooAuthenticationServiceTest.java
  io.openems.backend.metadata.odoo/test/io/openems/backend/metadata/odoo/odoo/HttpBridgeOdooServiceTest.java
  io.openems.backend.metadata.odoo/test/io/openems/backend/metadata/odoo/odoo/MyConfig.java
  io.openems.backend.metadata.odoo/test/io/openems/backend/metadata/odoo/postgres/CredentialsTest.java
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/NetworkEndpointFetcher.java
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/api/HttpHeader.java
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/authentication/HttpBridgeAuthenticationService.java
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/authentication/HttpBridgeAuthenticationServiceConfig.java
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/authentication/HttpBridgeAuthenticationServiceDefinition.java
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/dummy/DummyBridgeHttpBundle.java
  io.openems.common.bridge.http/test/io/openems/common/bridge/http/authentication/HttpBridgeAuthenticationServiceTest.java
  io.openems.edge.braiinsos/src/io/openems/edge/braiinsos/api/BraiinsApi.java
  io.openems.edge.controller.cleverpv/test/io/openems/edge/controller/cleverpv/ControllerCleverPvImplTest.java
  io.openems.edge.evse.chargepoint.hardybarth/test/io/openems/edge/evcs/hardybarth/EvcsHardyBarthImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shelly1/IoShelly1ImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shelly25/IoShelly25ImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shelly3em/IoShelly3EmImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplug/IoShellyPlugImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplus1pm/IoShellyPlus1PmImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellyplusplugs/IoShellyPlusPlugSImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypluspmmini/IoShellyPlusPmMiniImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypro2pm/IoShellyPro2PmTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypro3/IoShellyPro3ImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypro3em/IoShellyPro3EmImplTest.java
  io.openems.edge.io.shelly/test/io/openems/edge/io/shelly/shellypro4pm/IoShellyPro4PmTest.java
  io.openems.edge.pvinverter.kostal/test/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPikoImplTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/TouEntsoeTest.java
  io.openems.edge.timeofusetariff.rabotcharge/src/io/openems/edge/timeofusetariff/rabotcharge/TimeOfUseTariffRabotChargeImpl.java
  ui/src/app/edge/settings/app/keypopup/modal.component.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Simulator.Evse.ChargePoint: added simulator for EVSE ChargePoint
  io.openems.edge.evse.chargepoint.heidelberg/src/io/openems/edge/evse/chargepoint/heidelberg/connect/EvseChargePointHeidelbergConnectImpl.java
  io.openems.edge.simulator/bnd.bnd
  io.openems.edge.simulator/readme.adoc
  io.openems.edge.simulator/src/io/openems/edge/simulator/evse/chargepoint/Config.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/evse/chargepoint/SimulatorEvseChargepoint.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/evse/chargepoint/SimulatorEvseChargepointImpl.java
  io.openems.edge.simulator/src/io/openems/edge/simulator/evse/chargepoint/enums/PhaseSwitchState.java
  io.openems.edge.simulator/test/io/openems/edge/simulator/evse/chargepoint/MyConfig.java
  io.openems.edge.simulator/test/io/openems/edge/simulator/evse/chargepoint/SimulatorEvseChargepointImplTest.java
  ui/angular.json
  ui/src/app/edge/live/Controller/Evse/shared/evse-chargepoint.ts
  ui/src/environments/index.ts
  ui/src/themes/openems/assets/img/product_pictures/Evse.ChargePoint.Simulator.webp
  ui/src/themes/openems/environments/oem-meta.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Tariff.Manual.EEG2025.GridSell: fix unit of fixedGridSellPrice
  io.openems.edge.timeofusetariff.manual/src/io/openems/edge/timeofusetariff/manual/eeg2025/gridsell/Config.java
  io.openems.edge.timeofusetariff.manual/src/io/openems/edge/timeofusetariff/manual/eeg2025/gridsell/TariffManualEeg2025GridSellImpl.java
Due: build-java, restore-cache, rebuild-cache

[UI] NUI: adjust button size of action sheet modal chips
  ui/package-lock.json
  ui/src/app/edge/live/common/autarchy/shared/shared.ts
  ui/src/app/edge/live/common/consumption/shared/shared.ts
  ui/src/app/edge/live/common/grid/shared/shared.ts
  ui/src/app/edge/live/common/production/shared/shared.ts
  ui/src/app/edge/live/common/storage/shared/shared.ts
  ui/src/app/edge/live/common/weather/shared/shared.ts
  ui/src/app/shared/components/navigation/action-sheet-modal.html
  ui/src/app/shared/components/navigation/action-sheet-modal.ts
  ui/src/app/shared/components/navigation/breadcrumbs/breadcrumbs.html
  ui/src/app/shared/components/navigation/breadcrumbs/breadcrumbs.ts
  ui/src/app/shared/components/navigation/chips/chips.html
  ui/src/app/shared/components/navigation/chips/chips.ts
  ui/src/app/shared/components/navigation/shared.ts
  ui/src/global-ion-custom.scss
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] add group for channel single threshold
  ui/src/app/shared/shared.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] add group for channel single threshold
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/pages/group/group.html
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/pages/group/group.ts
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/shared/shared.ts
  ui/src/app/shared/components/navigation/navigation-routing.module.ts
  ui/src/app/shared/type/widgets.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Backend] Add "_sum/GridSellPrice" to allowed channels
  io.openems.backend.timedata.aggregatedinflux/src/io/openems/backend/timedata/aggregatedinflux/AllowedChannels.java
Due: build-java, restore-cache, rebuild-cache

[Edge] App Core Meta: fix translation
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/translation_en.properties
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/TestTranslations.java
Due: build-java, restore-cache, rebuild-cache

[Edge] AppValidateWorker: fix NPE
  io.openems.common/src/io/openems/common/utils/CancellationToken.java
  io.openems.common/test/io/openems/common/utils/CancellationTokenTest.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AppValidateWorker.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/AppConfigValidator.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerTestBundle.java
Due: build-java, restore-cache, rebuild-cache

[UI] Controller.Io.ChannelSingleThreshold: fix history widget was not shown
  ui/src/app/edge/history/history.component.html
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/history/flat/flat.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Energy Scheduler v2: improve Optimizer threads
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/Optimizer.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/OptimizerThreadFactory.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/Simulator.java
Due: build-java, restore-cache, rebuild-cache

[Edge] DependencyUtil: fix potential memory leak
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/DependencyUtil.java
Due: build-java, restore-cache, rebuild-cache

[Edge] AbstractWorker: performance fixes
  io.openems.common/src/io/openems/common/worker/AbstractWorker.java
Due: build-java, restore-cache, rebuild-cache

Fix build
  io.openems.common/src/io/openems/common/utils/CancellationToken.java
  io.openems.edge.bosch.bpts5hybrid/test/io/openems/edge/bosch/bpts5hybrid/core/BoschBpts5HybridCoreImplTest.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/DependencyUtil.java
  io.openems.edge.energy/src/io/openems/edge/energy/optimizer/Simulator.java
  io.openems.edge.ess.samsung/test/io/openems/edge/ess/samsung/charger/SamsungEssChargerImplTest.java
  io.openems.edge.ess.samsung/test/io/openems/edge/ess/samsung/ess/SamsungEssImplTest.java
  io.openems.edge.ess.samsung/test/io/openems/edge/ess/samsung/gridmeter/SamsungEssGridMeterImplTest.java
  io.openems.edge.meter.opendtu/test/io/openems/edge/meter/opendtu/MeterOpenDtuImplTest.java
Due: build-java, restore-cache, rebuild-cache

Fix UI build
  ui/package-lock.json
  ui/src/app/app.component.ts
  ui/src/app/edge/settings/settings-routing.module.ts
  ui/src/environments/index.ts
  ui/src/themes/fenecon/icons/battery-extension.svg
  ui/src/themes/fenecon/icons/common/offline/cloud_offline_outline.svg
  ui/src/themes/fenecon/icons/common/offline/cloud_offline_thin_outline.svg
  ui/src/themes/fenecon/icons/common/time_of_use/time_of_use.svg
  ui/src/themes/fenecon/icons/common/time_of_use/time_of_use_thin.svg
  ui/src/themes/fenecon/icons/common/weather/clear_day.svg
  ui/src/themes/fenecon/icons/component/heating-element.svg
  ui/src/themes/fenecon/icons/energy-journey.svg
  ui/src/themes/fenecon/icons/wrap-up.svg
  ui/src/themes/openems/environments/oem-meta.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Fix null body for http error responses
  io.openems.common.bridge.http/src/io/openems/common/bridge/http/NetworkEndpointFetcher.java
Due: build-java, restore-cache, rebuild-cache

Clarify unit [Currency/MWh]
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Config.java
Due: build-java, restore-cache, rebuild-cache

[Edge] ENTSO-E: add mathematical expression (#3699)
  cnf/pom.xml
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.timeofusetariff.entsoe/bnd.bnd
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Config.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/PriceCalculator.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/TouEntsoeImpl.java
  io.openems.edge.timeofusetariff.entsoe/src/io/openems/edge/timeofusetariff/entsoe/Utils.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/MyConfig.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/PriceCalculatorTest.java
  io.openems.edge.timeofusetariff.entsoe/test/io/openems/edge/timeofusetariff/entsoe/TouEntsoeTest.java
  io.openems.wrapper/bnd.bnd
  io.openems.wrapper/javaluator.bnd
Due: build-java, restore-cache, rebuild-cache

Update bndrun; fix versions
  io.openems.edge.application/EdgeApp.bndrun
  ui/package-lock.json
  ui/package.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bnd
  io.openems.backend.application/BackendApp.bndrun
  io.openems.wrapper/auth0-auth0.bnd
  io.openems.wrapper/auth0-java-jwt.bnd
  io.openems.wrapper/bnd.bnd
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.backend.application/BackendApp.bndrun
  io.openems.backend.edge.application/BackendEdgeApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update bnd
  cnf/build.bnd
Due: none

[UI] fix routing in for app install via keypopup
  ui/src/app/edge/settings/app/keypopup/modal.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] NUI: Askoma & my-PV
  io.openems.edge.heat.askoma/src/io/openems/edge/heat/askoma/EnergyScheduler.java
  ui/src/app/edge/live/Controller/Heat/Heat.ts
  ui/src/app/edge/live/Controller/Heat/flat/flat.html
  ui/src/app/edge/live/Controller/Heat/flat/flat.spec.ts
  ui/src/app/edge/live/Controller/Heat/flat/flat.ts
  ui/src/app/edge/live/Controller/Heat/history/flat/flat.html
  ui/src/app/edge/live/Controller/Heat/new-navigation/chart/heat-mode-chart.ts
  ui/src/app/edge/live/Controller/Heat/new-navigation/chart/heat-power-chart.ts
  ui/src/app/edge/live/Controller/Heat/new-navigation/chart/heat-status-chart.spec.ts
  ui/src/app/edge/live/Controller/Heat/new-navigation/chart/heat-status-chart.ts
  ui/src/app/edge/live/Controller/Heat/new-navigation/converter.spec.ts
  ui/src/app/edge/live/Controller/Heat/new-navigation/converter.ts
  ui/src/app/edge/live/Controller/Heat/new-navigation/heat-home.spec.ts
  ui/src/app/edge/live/Controller/Heat/new-navigation/heat-home.ts
  ui/src/app/edge/live/Controller/Heat/new-navigation/new-navigation.spec.ts
  ui/src/app/edge/live/Controller/Heat/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Heat/shared/shared.ts
  ui/src/app/edge/live/Controller/Io/Braiins/new-navigation/new-navigation.ts
  ui/src/app/edge/live/common/consumption/new-navigation/new-navigation.ts
  ui/src/app/edge/live/common/grid/new-navigation/new-navigation.ts
  ui/src/app/edge/live/common/production/new-navigation/new-navigation.ts
  ui/src/app/edge/live/common/storage/new-navigation/new-navigation.ts
  ui/src/app/shared/components/chart/chart.constants.ts
  ui/src/app/shared/components/chart/schedule-chart/schedule-chart.ts
  ui/src/app/shared/components/chart/single-xaxis/single-xaxis.html
  ui/src/app/shared/components/chart/timeline-chart/timeline-chart.html
  ui/src/app/shared/components/chart/timeline-chart/timeline-chart.ts
  ui/src/app/shared/components/edge/edgeconfig.spec.ts
  ui/src/app/shared/components/navigation/navigation-routing.module.ts
  ui/src/app/shared/components/shared/converter.ts
  ui/src/app/shared/components/shared/testing/tester.ts
  ui/src/assets/i18n/de.json
  ui/src/assets/i18n/en.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] EVSE: fix app center vehicles
  ui/src/app/edge/live/Controller/Evse/shared/shared.ts
  ui/src/app/shared/components/navigation/navigation-routing.module.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Common] Update Test SKILL.md to prefer JUNIT 6
  .github/copilot-instructions.md
  .github/skills/oe-junit/SKILL.md
  AGENTS.md
Due: none

[Edge] SocomecMeter App TCP/RTU support
  README.md
  io.openems.edge.core/src/io/openems/edge/app/meter/SocomecMeter.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/AppManagerAppHelperImpl.java
  io.openems.edge.core/test/io/openems/edge/app/meter/TestSocomecMeter.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppAssertions.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/AppManagerTestBundle.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/Apps.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/PropertyAssertions.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/validator/ExpressionEvaluator.java
  io.openems.edge.core/test/io/openems/edge/core/appmanager/validator/ExpressionEvaluatorTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] fix submit button positioning
  ui/src/app/shared/components/navigation/view/view.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Fix conversion of boolean value
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/new-navigation/grid-sell-chart.ts
  ui/src/app/edge/live/Controller/Io/FixDigitalOutput/history/details/chart/chart.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/history/chart/chart.ts
  ui/src/app/edge/live/common/storage/admin-modal/admin-modal.component.ts
  ui/src/app/edge/live/common/storage/history/chart/totalchart.ts
  ui/src/app/edge/live/common/storage/installer-owner-guest-modal/installer-owner-guest-modal.component.ts
  ui/src/app/shared/components/chart/abstracthistorychart.ts
  ui/src/app/shared/utils/array/array.utils.ts
  ui/src/app/shared/utils/number/number-utils.spec.ts
  ui/src/app/shared/utils/number/number-utils.ts
  ui/src/app/shared/utils/utils.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] adjust button icon size
  ui/src/app/shared/components/navigation/chips/chips.html
  ui/src/app/shared/components/navigation/chips/chips.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] fix help links
  ui/src/app/edge/live/Controller/ChpSoc/modal/modal.component.html
  ui/src/app/edge/live/Controller/Heat/new-navigation/heat-home.ts
  ui/src/app/edge/live/Controller/Heat/shared/shared.ts
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/modal/modal.component.html
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/shared/shared.ts
  ui/src/app/edge/live/Controller/Io/HeatingElement/modal/modal.html
  ui/src/app/edge/live/Controller/Io/HeatingElement/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Io/Heatpump/shared/shared.ts
  ui/src/app/edge/live/Controller/ModbusTcpApi/modal/modal.html
  ui/src/app/edge/settings/profile/profile.component.html
  ui/src/app/shared/components/formly/formly-field-modal/formly-field-modal.html
  ui/src/app/shared/components/modal/help-button/help-button.ts
  ui/src/app/shared/components/modal/help-link/help-link.ts
  ui/src/app/shared/components/modal/modal.html
  ui/src/environments/index.ts
  ui/src/themes/openems/environments/oem-meta.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] Add language to edge user
  io.openems.backend.metadata.odoo/src/io/openems/backend/metadata/odoo/MetadataOdoo.java
  io.openems.common/src/io/openems/common/oem/DummyOpenemsEdgeOem.java
  io.openems.common/src/io/openems/common/session/Language.java
  io.openems.edge.common/src/io/openems/edge/common/test/DummyUserService.java
  io.openems.edge.common/src/io/openems/edge/common/user/UserService.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/handler/AuthenticationRequestHandler.java
  io.openems.edge.controller.api.websocket/src/io/openems/edge/controller/api/websocket/handler/UserRequestHandler.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/AbstractOpenemsApp.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/dependency/AppManagerAppHelperImpl.java
  io.openems.edge.core/src/io/openems/edge/core/appmanager/validator/AbstractCheckable.java
  io.openems.edge.core/src/io/openems/edge/core/user/Config.java
  io.openems.edge.core/src/io/openems/edge/core/user/UserServiceImpl.java
  ui/src/app/user/user.component.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] fixes for channel single threshold
  ui/src/app/edge/live/Controller/Channelthreshold/history/chart/singlechart.component.ts
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/new-navigation/new-navigation.ts
  ui/src/app/edge/live/Controller/Io/ChannelSingleThreshold/shared/shared.ts
  ui/src/assets/i18n/de.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location
