Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml

ChargeDisChargeLimiter bug: Error-Case handling
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerEssChargeDischargeLimiterImpl.java
Due: build-java, restore-cache, rebuild-cache

Update
  io.openems.edge.application/EdgeApp - Kopie.bndrun
  io.openems.edge.controller.levl/.project
  io.openems.edge.energy/bnd - Kopie.bnd
  io.openems.edge.predictor.pv.weather.forecast/generated/buildfiles
  io.openems.edge.thermometer.esera.onewire/generated/buildfiles
Due: build-java, restore-cache, rebuild-cache

Update
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.controller.chp.costoptimization/test/io/openems/edge/controller/chp/costoptimization/MyControllerTest.java
  io.openems.edge.controller.ess.timeofusetariff/src/io/openems/edge/controller/ess/timeofusetariff/TimeOfUseTariffControllerImpl.java
  io.openems.edge.solaredge/src/io/openems/edge/solaredge/hybrid/ess/SolarEdgeHybridEssImpl.java
  ui/package-lock.json
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

update
  ui/package-lock.json
  ui/package.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix: chargeDischargeLimiter ModbusSlave
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerEssChargeDischargeLimiter.java
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerEssChargeDischargeLimiterImpl.java
Due: build-java, restore-cache, rebuild-cache

ChargeDischarge Bugfix: UI. Changed values are not saved in config
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/Config.java
  io.openems.edge.controller.levl/.project
  io.openems.edge.predictor.pv.weather.forecast/generated/buildfiles
  io.openems.edge.thermometer.esera.onewire/generated/buildfiles
  ui/src/app/edge/live/common/storage/admin-modal/admin-modal.component.html
  ui/src/app/edge/live/common/storage/admin-modal/admin-modal.component.ts
  ui/src/app/edge/live/common/storage/installer-owner-guest-modal/installer-owner-guest-modal.component.html
  ui/src/app/edge/live/common/storage/installer-owner-guest-modal/installer-owner-guest-modal.component.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

improved ALT-texts of images to improve accessability
  README.md
Due: none

Extend Energy Monitor explanation
  doc/modules/ROOT/pages/gettingstarted-newbies.adoc
Due: none

[Edge] Add support for SDM72D-M-2 meter
  io.openems.edge.meter.eastron/readme.adoc
  io.openems.edge.meter.eastron/src/io/openems/edge/meter/eastron/sdm630/Config.java
Due: build-java, restore-cache, rebuild-cache

Victron: first steps statemachine impl.; ChargeDischarge: UI fix
  io.openems.edge.controller.ess.chargedischargelimiter/src/io/openems/edge/controller/ess/chargedischargelimiter/ControllerEssChargeDischargeLimiterImpl.java
  io.openems.edge.victron/src/io/openems/edge/batteryinverter/victron/ess/symmetric/VictronEssImpl.java
  ui/src/app/edge/live/common/storage/admin-modal/admin-modal.component.html
  ui/src/app/edge/live/common/storage/storage.component.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Victron StateMachine for Battery
  io.openems.edge.victron/src/io/openems/edge/battery/victron/VictronCanBusBatteryImpl.java
  io.openems.edge.victron/src/io/openems/edge/victron/enums/WorkState.java
Due: build-java, restore-cache, rebuild-cache

Make compatibility more visible
  io.openems.edge.meter.eastron/readme.adoc
  io.openems.edge.meter.eastron/src/io/openems/edge/meter/eastron/sdm630/Config.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Add support for Eastron SDM72D-M-2 meter (#3491)
  io.openems.edge.meter.eastron/readme.adoc
  io.openems.edge.meter.eastron/src/io/openems/edge/meter/eastron/sdm630/Config.java
Due: build-java, restore-cache, rebuild-cache

Apply prepare-commit
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Cleanup Battery
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/ElementToChannelConverter.java
  io.openems.edge.victron/src/io/openems/edge/battery/victron/VictronBattery.java
  io.openems.edge.victron/src/io/openems/edge/batteryinverter/victron/ess/symmetric/VictronEss.java
  io.openems.edge.victron/src/io/openems/edge/batteryinverter/victron/ess/symmetric/VictronEssImpl.java
  io.openems.edge.victron/src/io/openems/edge/batteryinverter/victron/ro/VictronBatteryInverter.java
  io.openems.edge.victron/src/io/openems/edge/batteryinverter/victron/ro/VictronBatteryInverterImpl.java
  io.openems.edge.victron/src/io/openems/edge/victron/battery/Config.java
  io.openems.edge.victron/src/io/openems/edge/victron/battery/Utils.java
  io.openems.edge.victron/src/io/openems/edge/victron/battery/VictronBattery.java
  io.openems.edge.victron/src/io/openems/edge/victron/battery/VictronBatteryImpl.java
  io.openems.edge.victron/test/io/openems/edge/battery/victron/MyConfig.java
  io.openems.edge.victron/test/io/openems/edge/battery/victron/VictronCanBusBatteryImplTest.java
Due: build-java, restore-cache, rebuild-cache

Cleanup ESS
  io.openems.edge.bridge.modbus/src/io/openems/edge/bridge/modbus/api/ElementToChannelConverter.java
  io.openems.edge.victron/src/io/openems/edge/batteryinverter/victron/ro/VictronBatteryInverterImpl.java
  io.openems.edge.victron/src/io/openems/edge/batteryinverter/victron/statemachine/RunningHandler.java
  io.openems.edge.victron/src/io/openems/edge/meter/victron/acout/VictronAcOutPowerMeterImpl.java
  io.openems.edge.victron/src/io/openems/edge/victron/battery/VictronBatteryImpl.java
  io.openems.edge.victron/src/io/openems/edge/victron/enums/ChargeState.java
  io.openems.edge.victron/src/io/openems/edge/victron/enums/EnableDisable.java
  io.openems.edge.victron/src/io/openems/edge/victron/enums/EqualizationPending.java
  io.openems.edge.victron/src/io/openems/edge/victron/enums/Position.java
  io.openems.edge.victron/src/io/openems/edge/victron/ess/Config.java
  io.openems.edge.victron/src/io/openems/edge/victron/ess/PvMode.java
  io.openems.edge.victron/src/io/openems/edge/victron/ess/State.java
  io.openems.edge.victron/src/io/openems/edge/victron/ess/VictronEss.java
  io.openems.edge.victron/src/io/openems/edge/victron/ess/VictronEssImpl.java
  io.openems.edge.victron/test/io/openems/edge/battery/victron/VictronCanBusBatteryImplTest.java
  io.openems.edge.victron/test/io/openems/edge/batteryinverter/victron/ess/symmetric/MyConfig.java
  io.openems.edge.victron/test/io/openems/edge/batteryinverter/victron/ess/symmetric/VictronEssImplTest.java
Due: build-java, restore-cache, rebuild-cache

Cleanup Battery-Inverter
  io.openems.edge.victron/src/io/openems/edge/victron/battery/VictronBatteryImpl.java
  io.openems.edge.victron/src/io/openems/edge/victron/batteryinverter/Config.java
  io.openems.edge.victron/src/io/openems/edge/victron/batteryinverter/VictronBatteryInverter.java
  io.openems.edge.victron/src/io/openems/edge/victron/batteryinverter/VictronBatteryInverterImpl.java
  io.openems.edge.victron/src/io/openems/edge/victron/batteryinverter/statemachine/Context.java
  io.openems.edge.victron/src/io/openems/edge/victron/batteryinverter/statemachine/ErrorHandler.java
  io.openems.edge.victron/src/io/openems/edge/victron/batteryinverter/statemachine/GoRunningHandler.java
  io.openems.edge.victron/src/io/openems/edge/victron/batteryinverter/statemachine/GoStoppedHandler.java
  io.openems.edge.victron/src/io/openems/edge/victron/batteryinverter/statemachine/RunningHandler.java
  io.openems.edge.victron/src/io/openems/edge/victron/batteryinverter/statemachine/StateMachine.java
  io.openems.edge.victron/src/io/openems/edge/victron/batteryinverter/statemachine/StoppedHandler.java
  io.openems.edge.victron/src/io/openems/edge/victron/batteryinverter/statemachine/UndefinedHandler.java
  io.openems.edge.victron/src/io/openems/edge/victron/ess/VictronEss.java
  io.openems.edge.victron/src/io/openems/edge/victron/ess/VictronEssImpl.java
  io.openems.edge.victron/test/io/openems/edge/batteryinverter/victron/statemachine/StateMachineTest.java
Due: build-java, restore-cache, rebuild-cache

Cleanup DC-Charger
  io.openems.edge.victron/src/io/openems/edge/dccharger/victron/VictronDcCharger.java
  io.openems.edge.victron/src/io/openems/edge/victron/dccharger/Config.java
  io.openems.edge.victron/src/io/openems/edge/victron/dccharger/VictronDcCharger.java
  io.openems.edge.victron/src/io/openems/edge/victron/dccharger/VictronDcChargerImpl.java
  io.openems.edge.victron/test/io/openems/edge/dccharger/victron/MyConfig.java
  io.openems.edge.victron/test/io/openems/edge/dccharger/victron/VictronDcChargerImplTest.java
Due: build-java, restore-cache, rebuild-cache

Cleanup Meters
  io.openems.edge.victron/src/io/openems/edge/victron/ess/VictronEssImpl.java
  io.openems.edge.victron/src/io/openems/edge/victron/meter/acin/Config.java
  io.openems.edge.victron/src/io/openems/edge/victron/meter/acin/VictronAcInPowerMeterImpl.java
  io.openems.edge.victron/src/io/openems/edge/victron/meter/acout/Config.java
  io.openems.edge.victron/src/io/openems/edge/victron/meter/acout/VictronAcOutPowerMeter.java
  io.openems.edge.victron/src/io/openems/edge/victron/meter/acout/VictronAcOutPowerMeterImpl.java
  io.openems.edge.victron/src/io/openems/edge/victron/meter/grid/Config.java
  io.openems.edge.victron/src/io/openems/edge/victron/meter/grid/VictronMeter.java
  io.openems.edge.victron/src/io/openems/edge/victron/meter/grid/VictronMeterImpl.java
  io.openems.edge.victron/test/io/openems/edge/meter/victron/grid/MyConfig.java
  io.openems.edge.victron/test/io/openems/edge/meter/victron/grid/VictronMeterImplTest.java
Due: build-java, restore-cache, rebuild-cache

Cleanup PV-Inverters
  io.openems.edge.victron/src/io/openems/edge/pvinverterviadccharger/victron/VictronPvInverterViaDcCharger.java
  io.openems.edge.victron/src/io/openems/edge/victron/pvinverter/Config.java
  io.openems.edge.victron/src/io/openems/edge/victron/pvinverter/VictronPvInverter.java
  io.openems.edge.victron/src/io/openems/edge/victron/pvinverter/VictronPvInverterImpl.java
  io.openems.edge.victron/src/io/openems/edge/victron/pvinverterviadccharger/Config.java
  io.openems.edge.victron/src/io/openems/edge/victron/pvinverterviadccharger/VictronPvInverterViaDcCharger.java
  io.openems.edge.victron/src/io/openems/edge/victron/pvinverterviadccharger/VictronPvInverterViaDcChargerImpl.java
  io.openems.edge.victron/test/io/openems/edge/pvinverter/victron/MyConfig.java
  io.openems.edge.victron/test/io/openems/edge/pvinverter/victron/VictronPvInverterImplTest.java
Due: build-java, restore-cache, rebuild-cache

Cleanup tests
  io.openems.edge.victron/src/io/openems/edge/victron/pvinverterviadccharger/VictronPvInverterViaDcChargerImpl.java
  io.openems.edge.victron/test/io/openems/edge/battery/victron/VictronCanBusBatteryImplTest.java
  io.openems.edge.victron/test/io/openems/edge/dccharger/victron/VictronDcChargerImplTest.java
  io.openems.edge.victron/test/io/openems/edge/pvinverter/victron/VictronPvInverterImplTest.java
Due: build-java, restore-cache, rebuild-cache

Cleanup Tests
  io.openems.edge.victron/test/io/openems/edge/victron/battery/MyConfig.java
  io.openems.edge.victron/test/io/openems/edge/victron/battery/VictronCanBusBatteryImplTest.java
  io.openems.edge.victron/test/io/openems/edge/victron/batteryinverter/statemachine/StateMachineTest.java
  io.openems.edge.victron/test/io/openems/edge/victron/ess/MyConfig.java
  io.openems.edge.victron/test/io/openems/edge/victron/ess/VictronEssImplTest.java
  io.openems.edge.victron/test/io/openems/edge/victron/meter/grid/MyConfig.java
  io.openems.edge.victron/test/io/openems/edge/victron/meter/grid/VictronMeterImplTest.java
  io.openems.edge.victron/test/io/openems/edge/victron/pvinverter/MyConfig.java
  io.openems.edge.victron/test/io/openems/edge/victron/pvinverter/VictronPvInverterImplTest.java
Due: build-java, restore-cache, rebuild-cache

Apply prepare-commit.sh
  cnf/pom.xml
  gradle.properties
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Update build.bnd
  cnf/build.bnd
Due: none

[Edge/Backend] Update bnd to 7.2.0 (#3494)
  cnf/build.bnd
  cnf/pom.xml
  gradle.properties
  io.openems.backend.application/BackendApp.bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

Push version to 2026.1.0
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Start development of version 2026.2.0-SNAPSHOT
  io.openems.common/src/io/openems/common/OpenemsConstants.java
  ui/package-lock.json
  ui/package.json
  ui/src/app/changelog/view/component/changelog.constants.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Improve readability of Modbus registers and Modbus task creation.
  io.openems.edge.meter.hager/src/io/openems/edge/meter/hager/ecr380d/HagerEcr380dMeter.java
  io.openems.edge.meter.hager/src/io/openems/edge/meter/hager/ecr380d/HagerEcr380dMeterImpl.java
Due: build-java, restore-cache, rebuild-cache

prepare
  ui/package-lock.json
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

fix history
  io.openems.edge.evcc/src/io/openems/edge/evcc/loadpoint/AbstractLoadpointMeterEvcc.java
  io.openems.edge.evcc/src/io/openems/edge/evcc/loadpoint/LoadpointConsumptionMeterEvccImpl.java
  io.openems.edge.evcc/src/io/openems/edge/evcc/loadpoint/single/LoadpointConsumptionSinglePhaseMeterEvccImpl.java
Due: build-java, restore-cache, rebuild-cache

low priority
  io.openems.edge.evcc/src/io/openems/edge/evcc/loadpoint/LoadpointConsumptionMeterEvcc.java
  io.openems.edge.evcc/src/io/openems/edge/evcc/loadpoint/single/LoadpointConsumptionSinglePhaseMeterEvcc.java
Due: build-java, restore-cache, rebuild-cache

Update bndrun
  io.openems.edge.application/EdgeApp.bndrun
Due: build-java, restore-cache, rebuild-cache

[Common] Docs: Update architecture.adoc: fixed ul within section process image (#3490)
  doc/modules/ROOT/pages/edge/architecture.adoc
Due: none

Update readme.adoc: corrected formatting for ul
  io.openems.edge.fronius/readme.adoc
Due: build-java, restore-cache, rebuild-cache

[Common] Docs: Update device_service.adoc: corrected title & added services (#3489)
  doc/modules/ROOT/pages/edge/device_service.adoc
Due: none

[Common] Docs: Dynamic Documentation Generation, Natures (incl. ESS & IO) (#3488)
  README.md
  doc/modules/ROOT/pages/development/documentation.adoc
  doc/modules/ROOT/pages/edge/nature.adoc
  io.openems.edge.ess.api/readme.adoc
  io.openems.edge.io.api/readme.adoc
Due: build-java, restore-cache, rebuild-cache

Corrected dayYiel from kWh to kWh and corrected Units of totalYield and dayYield
  io.openems.edge.pvinverter.kostal/src/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPiko.java
  io.openems.edge.pvinverter.kostal/src/io/openems/edge/pvinverter/kostal/piko/PvInverterKostalPikoImpl.java
Due: build-java, restore-cache, rebuild-cache
