Repository OpenEMS/openems: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

build-java:
  image: openems-build:latest
  environment:
  - GRADLE_USER_HOME=/woodpecker/.gradle
  commands:
  - sed --in-place 's#\(VERSION_STRING = .*\)";#\1-'"${CI_COMMIT_BRANCH}"'";#g' io.openems.common/src/io/openems/common/OpenemsConstants.java
  - ./gradlew build buildEdge
  - ./gradlew resolve.BackendApp
  ...

build-ui:
  image: openems-build:latest
  commands:
  - cd ui
  - npm ci --prefer-offline --cache /woodpecker/.npm
  - sed --in-place s#/m/#/${CI_COMMIT_BRANCH}/#g angular.json
  - node_modules/.bin/ng build -c "fenecon,fenecon-backend-prod,prod"
  - node_modules/.bin/ng lint
  ...

refresh-dev:
  image: appleboy/drone-scp
  host: 10.0.0.40
  user: fenecon-docs
  secrets:
  - source: ssh_key_intranet
    target: scp_key
  rm: true
  source: ./ui/target
  strip_components: 3
  target: /opt/gitea/data/openems-ui-dev/html/${CI_COMMIT_BRANCH}
  group: refresh

restore-cache:
  image: drillster/drone-volume-cache
  restore: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

rebuild-cache:
  image: drillster/drone-volume-cache
  rebuild: true
  mount:
  - /woodpecker/.gradle
  - /woodpecker/.m2
  volumes:
  - cache:/cache

build-ui-heckert:
  image: openems-build:latest
  commands:
  - export CACHE=$CI_WORKSPACE/cache
  - mkdir -p $CACHE
  - export npm_config_cache=$CACHE/npm
  - export NG_CLI_CACHE_PATH=$CACHE/angular-cli
  - export NODE_MODULES_CACHE=$CACHE/node_modules
  - cd ui
  - npm ci --prefer-offline --cache $CACHE/npm --force
  ...

refresh-location:
  image: appleboy/drone-ssh:latest
  settings:
    host: 10.0.0.40
    username: fenecon-docs
    timeout: 10s
    key:
      from_secret: ssh_key_intranet
    script:
    - /opt/gitea/data/openems-ui-dev/refresh-location.sh ${CI_COMMIT_BRANCH}
  group: refresh

[UI] Enable strict checking for Component Install IndexComponent
  ui/src/app/edge/settings/component/install/index.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for Evse PowerChartComponent
  ui/src/app/edge/live/Controller/Evse/pages/history/chart/power.chart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for HeatingElement ChartComponent
  ui/src/app/edge/live/Controller/Io/HeatingElement/history/chart/chart.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Apply Eclipse Formatting
  io.openems.edge.evse.chargepoint.voltie/src/io/openems/edge/evse/chargepoint/voltie/EvseChargePointVoltie.java
  io.openems.edge.evse.chargepoint.voltie/src/io/openems/edge/evse/chargepoint/voltie/EvseChargePointVoltieImpl.java
  io.openems.edge.evse.chargepoint.voltie/test/io/openems/edge/evse/chargepoint/voltie/EvseChargePointVoltieImplTest.java
Due: build-java, restore-cache, rebuild-cache

Fix Checkstyle
  io.openems.edge.evse.chargepoint.voltie/test/io/openems/edge/evse/chargepoint/voltie/EvseChargePointVoltieImplTest.java
Due: build-java, restore-cache, rebuild-cache

[Edge] Add Voltie AC wallbox as EVSE Charge-Point (#3961)
  io.openems.edge.application/EdgeApp.bndrun
  io.openems.edge.evse.chargepoint.voltie/.classpath
  io.openems.edge.evse.chargepoint.voltie/.gitignore
  io.openems.edge.evse.chargepoint.voltie/.project
  io.openems.edge.evse.chargepoint.voltie/.settings/org.eclipse.core.resources.prefs
  io.openems.edge.evse.chargepoint.voltie/bnd.bnd
  io.openems.edge.evse.chargepoint.voltie/readme.adoc
  io.openems.edge.evse.chargepoint.voltie/src/io/openems/edge/evse/chargepoint/voltie/Config.java
  io.openems.edge.evse.chargepoint.voltie/src/io/openems/edge/evse/chargepoint/voltie/EvseChargePointVoltie.java
  io.openems.edge.evse.chargepoint.voltie/src/io/openems/edge/evse/chargepoint/voltie/EvseChargePointVoltieImpl.java
  io.openems.edge.evse.chargepoint.voltie/src/io/openems/edge/evse/chargepoint/voltie/enums/ChargeStopReason.java
  io.openems.edge.evse.chargepoint.voltie/src/io/openems/edge/evse/chargepoint/voltie/enums/EvseState.java
  io.openems.edge.evse.chargepoint.voltie/src/io/openems/edge/evse/chargepoint/voltie/enums/LogVerbosity.java
  io.openems.edge.evse.chargepoint.voltie/test/.gitignore
  io.openems.edge.evse.chargepoint.voltie/test/io/openems/edge/evse/chargepoint/voltie/EvseChargePointVoltieImplTest.java
  io.openems.edge.evse.chargepoint.voltie/test/io/openems/edge/evse/chargepoint/voltie/MyConfig.java
  ui/src/app/edge/live/Controller/Evse/shared/evse-chargepoint.ts
  ui/src/environments/index.ts
  ui/src/themes/openems/environments/oem-meta.ts
Due: build-java, build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for three shared modules
  ui/src/app/shared/components/formly/form-field-checkbox-hyperlink/form-field-checkbox-hyperlink.wrapper.ts
  ui/src/app/shared/components/shared/dataservice.ts
  ui/src/app/shared/jsonrpc/request/queryHistoricTimeseriesEnergyPerPeriodRequest.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for Formly defaults and tariff widget
  ui/src/app/edge/live/Controller/Ess/TimeOfUseTariff/flat/flat.ts
  ui/src/app/shared/components/formly/form-field-default-cases.wrapper.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[Edge] PLCnext: fix race condition in component tests
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/loadcircuit/PlcNextLoadCircuitImplTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/meter/PlcNextMeterImplTest.java
  io.openems.edge.phoenixcontact.plcnext/test/io/openems/edge/phoenixcontact/plcnext/pvinverter/PlcNextPvInverterImplTest.java
Due: build-java, restore-cache, rebuild-cache

[UI] Enable strict checking for five UI files
  ui/src/app/edge/live/Controller/Evse/pages/energy-limit/energy-limit.spec.ts
  ui/src/app/edge/live/Controller/Io/Braiins/pages/schedule/task/edit/edit.ts
  ui/src/app/edge/live/common/production/history/phase-accurate/chart/sum.ts
  ui/src/app/shared/components/abstracthistorywidget.ts
  ui/src/app/shared/legacy/chartoptions/chartoptions.component.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for chart tests
  ui/src/app/edge/live/common/consumption/history/phase-accurate/chart/consumptionMeter.spec.ts
  ui/src/app/edge/live/common/consumption/history/phase-accurate/chart/evcs.spec.ts
  ui/src/app/edge/live/common/consumption/history/phase-accurate/chart/heat.spec.ts
  ui/src/app/edge/live/common/consumption/history/phase-accurate/chart/sum.spec.ts
  ui/src/app/edge/live/common/production/history/phase-accurate/chart/charger.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for production and grid chart tests
  ui/src/app/edge/live/common/grid/history/details/phase-accurate/chart/chart.spec.ts
  ui/src/app/edge/live/common/production/history/phase-accurate/chart/productionMeter.spec.ts
  ui/src/app/edge/live/common/production/history/phase-accurate/chart/sum.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for heatpump chart test
  ui/src/app/edge/live/Controller/Io/Heatpump/history/chart/chart.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

[UI] Enable strict checking for history chart tests
  ui/src/app/edge/history/common/energy/chart/chart.spec.ts
  ui/src/app/edge/live/common/consumption/history/chart/chart.spec.ts
  ui/src/app/edge/live/common/grid/history/chart/chart.spec.ts
  ui/src/app/edge/live/common/grid/history/details/external-limitation/chart/chart.spec.ts
Due: build-ui, refresh-dev, restore-cache, rebuild-cache, build-ui-heckert, refresh-location

Supply allowed string values of @AttributeDefinition channels
  io.openems.common/src/io/openems/common/jsonrpc/request/GetChannelsOfComponent.java
  io.openems.common/test/io/openems/common/jsonrpc/request/GetChannelsOfComponentTest.java
  io.openems.edge.common/src/io/openems/edge/common/channel/Doc.java
  io.openems.edge.common/src/io/openems/edge/common/channel/internal/AbstractDoc.java
  io.openems.edge.common/src/io/openems/edge/common/component/AbstractOpenemsComponent.java
  io.openems.edge.common/test/io/openems/edge/common/component/AbstractOpenemsComponentTest.java
  io.openems.edge.core/src/io/openems/edge/core/componentmanager/ComponentManagerImpl.java
Due: build-java, restore-cache, rebuild-cache

Path conditions:
  build-java: (any of: io.openems*/**, **/*gradle*, **/.woodpecker.yml) or (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml)
  build-ui: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  refresh-dev: (any of: ui/**, **/.woodpecker.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  restore-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  rebuild-cache: (any of: io.openems*/**, **/*gradle*, .woodpecker/.java-build.yml) or (any of: ui/**, .woodpecker/.ui-build.yml)
  build-ui-heckert: any of: ui/**, .woodpecker/.ui-build.yml
  refresh-location: any of: ui/**, .woodpecker/.ui-build.yml
